SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250424
-- Descripcion:	Realiza la extraccion de datos generales de cierre comercial de SAF de fin de mes 
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_CMR_GEN_MES]
	@FECHA DATE
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION

        declare @FechaIni date, @FechaFin date, @FechaFinMes date, @FechaFinMesAnt date, @FechaIniMora date

        set @FechaIni = datefromparts(year(@FECHA), month(@Fecha), 1)
        set @FechaFin = Dateadd(day,1,@FECHA)
        set @FechaFinMes = @FECHA
        set @FechaFinMesAnt = Dateadd(day,-1,@FechaIni)
        set @FechaIniMora = Dateadd(day,19,@FechaIni)

        DELETE FROM [CIERRE].[CMR_REP] WHERE FECHA_SISTEMA = @FECHA


        create table #CuentasDeOtrasPolizas(cuenta varchar(24))

        insert into #CuentasDeOtrasPolizas(cuenta)
              select '140103009001'     --operacion vivienda bonificacion y reestructura
        union select '140103009002'     --operacion comercial bonificacion y reestructura
        union select '140103009003'     --operacion reestructura
        union select '1401030090010000' --operacion vivienda ajuste
        union select '1401030090020000' --operacion comercial ajuste
        union select '5050260901000300' --condonacion
	    union select '2073'             --DACION
	    union select '2074'             --ADJUDICACION
	    union select '2076'             --EX_EMPLEADO
	    union select '2068'             --SINIESTRO
        union select '2061'             --STDR FISO DAMNIF_6641
        union select '2056'             --INBURSA ADMON COBRANZA


        SELECT NUM_DESC_TIPO_CREDITO
        INTO #TIPO_CREDITOS
        FROM Quiero_Confianza.PR.PR_DESC_TIPOS_CREDITO
        WHERE COD_EMPRESA = '001' AND NUM_DESC_TIPO_CREDITO IN (
                 12,13,14,15,28 -- minoristas
                ,2,18,27        -- puente
                --,7              -- sindicada
                ,25             -- castigo
                ,5              -- mezzanine
                ,6,19,21,22,24) -- administrada

        SELECT C.NUM_CREDITO
        INTO #CREDITOS_ACTIVOS
	    FROM Quiero_Confianza.PR.PR_CREDITOS C
	    WHERE (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND NOT (C.ID_EXTERNO IS NULL OR C.ID_EXTERNO = '')

        -- = PAGO NORMAL TOTAL =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #PAGO_TOTAL
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND @FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin
        GROUP BY C.NUM_CREDITO

        -- = PAGO NORMAL X RUBRO =============================================================================================
        SELECT C.NUM_CREDITO,dbo.FN_RUBRO_POL(B.COD_CONCEPTO) AS RUBRO, 
		SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #PAGO_RUBROS
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
		        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                )
		    AND @FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin
        GROUP BY C.NUM_CREDITO,dbo.FN_RUBRO_POL(B.COD_CONCEPTO)

        -- = PAGO COVID X RUBRO =============================================================================================
        SELECT C.NUM_CREDITO, dbo.FN_RUBRO_POL(B.COD_CONCEPTO) AS RUBRO, SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #PAGO_COVID_RUBROS
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
		        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND @FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin
            AND dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito) = 'S'
        GROUP BY C.NUM_CREDITO,dbo.FN_RUBRO_POL(B.COD_CONCEPTO)

        -- = DEVENGO INTERESES =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_DIARIO) AS MONTO, SUM(CASE WHEN X.IND_IVA = 'N' THEN 0 ELSE 0.16 * A.MON_DIARIO END) AS IVA
        INTO #DEV_INT
	    FROM Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_X_CREDITO X  ON A.NUM_CREDITO = X.Num_Credito AND COD_RUBRO = 'INTERESES'
	    WHERE @FechaIni <= A.FECHA_CALCULO and A.FECHA_CALCULO < @FechaFin
            AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        -- = DEVENGO MORATORIOS =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_DIARIO) AS MONTO, SUM(CASE WHEN P.IND_IVA_INTERES = 'N' THEN 0 ELSE 0.16 * A.MON_DIARIO END) AS IVA
        INTO #DEV_MORA_I
        FROM Quiero_Confianza.PR.PR_CALCULO_MORA_DIA A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE @FechaIni <= A.FECHA_CALCULO and A.FECHA_CALCULO < @FechaFin
            AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        INSERT INTO #DEV_MORA_I
        SELECT C.NUM_CREDITO, SUM(A.MON_RUBRO) AS MONTO, SUM(A.MON_IVA) AS IVA
	    FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE   A.IND_ESTADO <> 'N'
		    AND A.COD_RUBRO IN ('INTERES_MORATORIO', 'MORA_EMPRESARIAL')
		    AND @FechaIni <= A.Fec_Inclusion and A.Fec_Inclusion < @FechaFin
            AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        INSERT INTO #DEV_MORA_I
        SELECT C.NUM_CREDITO, -1*SUM(A.MON_RUBRO) AS MONTO, -1*SUM(A.MON_IVA) AS IVA
	    FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE   A.IND_ESTADO = 'N'
		    AND A.COD_RUBRO IN ('MORATORIOS')
		    AND @FechaIniMora <= A.FEC_COBRO and A.FEC_COBRO < @FechaFin
            AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        SELECT NUM_CREDITO, SUM(MONTO) AS MONTO, SUM(IVA) AS IVA
        INTO #DEV_MORA
        FROM #DEV_MORA_I
        GROUP BY NUM_CREDITO

        -- = DEVENGO COMISION ADMINISTRACION =====================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_RUBRO) AS MONTO, SUM(A.MON_IVA) AS IVA
        INTO #DEV_COM_ADM
	    FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE   A.IND_ESTADO <> 'N'
		    AND A.COD_RUBRO IN ('COMISION_ADMINISTRACION')
		    AND @FechaIni <= A.FEC_COBRO and A.FEC_COBRO < @FechaFin
            AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        -- = DEVENGO COMISIONES =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_RUBRO) AS MONTO, SUM(A.MON_IVA) AS IVA
        INTO #DEV_COM
	    FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE   A.IND_ESTADO <> 'N'
		    AND A.COD_RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO',
		        'ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA')
		    AND @FechaIni <= A.FEC_COBRO and A.FEC_COBRO < @FechaFin
            AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        -- = DEVENGO SEGURO VIDA =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_RUBRO) AS MONTO, SUM(A.MON_IVA) AS IVA
        INTO #DEV_SEG_VID
	    FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE   A.IND_ESTADO <> 'N'
		    AND A.COD_RUBRO IN ( 'SEGURO_VIDA', 'CARGO_PORCENTAJE')
		    AND @FechaIni <= A.FEC_COBRO and A.FEC_COBRO < @FechaFin
            AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        -- = DEVENGO SEGURO DAÑOS =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_RUBRO) AS MONTO, SUM(A.MON_IVA) AS IVA
        INTO #DEV_SEG_DAN
	    FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE   A.IND_ESTADO <> 'N'
		    AND A.COD_RUBRO IN ('SEGURO_DANOS')
		    AND @FechaIni <= A.FEC_COBRO and A.FEC_COBRO < @FechaFin
            AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        -- = DESEMBOLSOS =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO, MIN(A.FEC_MOVIMIENTO) AS PRIMER_DESEM
        INTO #DESEMBOLSOS
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_LINEA = 'N'
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
 		    AND A.TIP_TRANSACCION = 3 --desembolsos
            AND A.Id_cuenta NOT IN ('2061','2056','2068','2076') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO, EX_EMPLEADO
        GROUP BY C.NUM_CREDITO

        -- = DESEMBOLSOS AL MES =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #DESEMBOLSOS_MES
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_LINEA = 'N'
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
 		    AND A.TIP_TRANSACCION = 3 --desembolsos
		    AND (@FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin)
            AND A.Id_cuenta NOT IN ('2061','2056','2068','2076') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO, EX_EMPLEADO
        GROUP BY C.NUM_CREDITO

        -- = DACION x RUBRO =============================================================================================
		SELECT  C.NUM_CREDITO, B.COD_CONCEPTO AS RUBRO, SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #DACION_R
		FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		WHERE C.IND_LINEA = 'N'
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
			AND A.TIP_TRANSACCION !=3  --Evita que se traigan desembolsos que se jalan en SP FIRMA
            AND A.Id_cuenta IN ('2073')
			AND (@FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin)
        GROUP BY C.NUM_CREDITO, B.COD_CONCEPTO

        -- = DACION =============================================================================================
		SELECT  NUM_CREDITO, SUM(MONTO + IVA) AS MONTO
        INTO #DACION
		FROM #DACION_R
        GROUP BY NUM_CREDITO

        -- = ADJUDICACION x RUBRO =============================================================================================
		SELECT  C.NUM_CREDITO, B.COD_CONCEPTO AS RUBRO, SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #ADJUDICACION_R
		FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		WHERE C.IND_LINEA = 'N'
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
			AND A.TIP_TRANSACCION !=3  --Evita que se traigan desembolsos que se jalan en SP FIRMA
            AND A.Id_cuenta IN ('2074')
			AND (@FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin)
        GROUP BY C.NUM_CREDITO, B.COD_CONCEPTO

        -- = ADJUDICACION =============================================================================================
		SELECT  NUM_CREDITO, SUM(MONTO + IVA) AS MONTO
        INTO #ADJUDICACION
		FROM #ADJUDICACION_R
        GROUP BY NUM_CREDITO

        -- = Movimientos de primeras restructuras =============================================================================================
        SELECT cast(C.NUM_CONTRATO as varchar) + '-' + cast(max(B.ID_SECUENCIA) as varchar) AS NUM_CONTRATO_ID_SECUENCIA
        INTO #MOV_1_RESTRUCTURAS
		FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CONTRATO
		WHERE C.IND_ESTADO_CRED = 'E' AND (@FechaIni <= C.FEC_APERTURA AND C.FEC_APERTURA < @FechaFin)
		GROUP BY C.NUM_CONTRATO
		
		-- = BONIFICACION =============================================================================================
        SELECT C.NUM_CREDITO, SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #BONIFICACION
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND (@FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin)
		    AND (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('140103009001','140103009002', '140103009003'))
            --AND B.COD_CONCEPTO != 'PRINCIPAL'
		    AND cast(C.NUM_CREDITO as varchar) + '-' + cast(B.ID_SECUENCIA as varchar) NOT IN (
			    SELECT NUM_CONTRATO_ID_SECUENCIA FROM #MOV_1_RESTRUCTURAS
            )
        GROUP BY C.NUM_CREDITO
        
		-- = CONDONACION x RUBRO =============================================================================================
        SELECT C.NUM_CREDITO, dbo.FN_RUBRO_POL(B.COD_CONCEPTO) AS RUBRO, SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #CONDONACION_R
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND (@FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin)
		    AND ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)                     -- condonacion desde sistema
		        OR (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('5050260901000300'))) -- condonacion por cuenta contable
            --AND B.COD_CONCEPTO != 'PRINCIPAL'
		    AND cast(C.NUM_CREDITO as varchar) + '-' + cast(B.ID_SECUENCIA as varchar) NOT IN (
			    SELECT NUM_CONTRATO_ID_SECUENCIA FROM #MOV_1_RESTRUCTURAS
            )
        GROUP BY C.NUM_CREDITO,dbo.FN_RUBRO_POL(B.COD_CONCEPTO)

        -- = CONDONACION =============================================================================================
        SELECT NUM_CREDITO, SUM(MONTO + IVA) AS MONTO
        INTO #CONDONACION
        FROM #CONDONACION_R
	    WHERE RUBRO != 'PRINCIPAL'
        GROUP BY NUM_CREDITO

        -- = QUITA =============================================================================================
        SELECT NUM_CREDITO, SUM(MONTO + IVA) AS MONTO
        INTO #QUITA
        FROM #CONDONACION_R
	    WHERE RUBRO = 'PRINCIPAL'
        GROUP BY NUM_CREDITO

        -- = DESCUENTO x RUBRO =============================================================================================
        SELECT C.NUM_CREDITO, dbo.FN_RUBRO_POL(B.COD_CONCEPTO) AS RUBRO, SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #DESCUENTO_R
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND (@FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin)
		    AND A.ID_CUENTA IN ('1401030090010000','1401030090020000','2056','2068','2061')
        GROUP BY C.NUM_CREDITO, dbo.FN_RUBRO_POL(B.COD_CONCEPTO)

        -- = DESCUENTO =============================================================================================
        SELECT NUM_CREDITO, SUM(MONTO + IVA) AS MONTO
        INTO #DESCUENTO
        FROM #DESCUENTO_R
        GROUP BY NUM_CREDITO

        -- = Calculo de cuotas pendientes ===================================================================
        SELECT A.NUM_CREDITO, A.NUM_SECUENCIA, MIN(A.FEC_EXIGIBLE_PAGO) AS FEC_EXIGIBLE_PAGO
        INTO #CUOTAS
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.IND_ESTADO = 'P'
            AND A.FEC_EXIGIBLE_PAGO <= @FechaFinMes
            AND NOT dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.Num_Credito) = 'S'
        GROUP BY A.NUM_CREDITO, A.NUM_SECUENCIA

        SELECT NUM_CREDITO,  COUNT(*) as CUOTAS,MIN(FEC_EXIGIBLE_PAGO) AS FEC_IMPAGO_INI
        INTO #CUOTAS_VENCIDAS
        FROM #CUOTAS
        GROUP BY NUM_CREDITO

        -- = DATOS COVID  =============================================================================================
        SELECT C.NUM_CREDITO, 'S' AS IND_POSTERGAR, SUM(A.MON_MOVIMIENTO) as TOTAL_POSTERGAR, MAX(Q.FEC_EXIGIBLE_PAGO) as FIN_POSTERGAR
        INTO #DATOS_COVID
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
		        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND @FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin
            AND dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito) = 'S'
        GROUP BY C.NUM_CREDITO

         -- = DATOS COVID CONTEO  =============================================================================================
        SELECT C.NUM_CREDITO, count(distinct num_secuencia) as COVID_CONTEO
        INTO #DATOS_COVID_CONTEO
        FROM  Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK)
		    LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Credito = C.Num_credito
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND Q.Ind_Estado = 'P'
            AND dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito) = 'S'
        GROUP BY C.NUM_CREDITO

       -- = INDICADOR IVA DE INTERES  =============================================================================================
        SELECT R.NUM_CREDITO, MAX(CASE WHEN R.IND_IVA = 'N' THEN 'NO' ELSE 'SI' END) AS IND_IVA_INT
        INTO #IND_IVA
        FROM Quiero_Confianza.PR.PR_RUBRO_X_CREDITO R 
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON R.COD_EMPRESA = C.COD_EMPRESA AND R.NUM_CREDITO = C.NUM_CREDITO
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND R.COD_RUBRO IN ('INTERESES')
            AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
        GROUP BY R.NUM_CREDITO

        
        -- = SALDO A FAVOR  =============================================================================================
        SELECT COD_CLIENTE,MAX(NUM_CREDITO) AS NUM_CREDITO
        INTO #CREDITO_CLIENTE
        FROM [Quiero_Confianza].PR.PR_CREDITOS 
        WHERE IND_LINEA = 'N' AND IND_ESTADO = 'D'
        GROUP BY COD_CLIENTE, IND_ESTADO


        SELECT  NUM_CREDITO,MONTO
        INTO #SALDO_FAVOR
        FROM [Quiero_Confianza].[CL].[CL_V_Informacion_SaldoFavorCliente] S
            inner join #CREDITO_CLIENTE C ON S.COD_CLIENTE = C.COD_CLIENTE
        
        -- = DIRECCIONES DE PROYECTOS  =============================================================================================

        SELECT  NUM_CREDITO,isnull(E.NOM_PAIS,'') AS DIRECCION
        INTO #DIRECCIONES
        FROM [Quiero_Confianza].PR.PR_CREDITOS C
            INNER join [Quiero_Confianza].CL.CL_DIR_CLIENTES I ON I.COD_CLIENTE = C.COD_CLIENTE
            INNER JOIN Quiero_Confianza.PA.PA_PAISES E ON E.COD_PAIS = I.COD_PAIS
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
        WHERE NUM_CREDITO IN (SELECT NUM_CREDITO FROM #CREDITOS_ACTIVOS)
            AND I.COD_DIRECCION = 1
            AND CP.NOMBRE_CORTO != 'PUENTE'

        INSERT INTO #DIRECCIONES(NUM_CREDITO,DIRECCION)
        SELECT NUM_CREDITO,isnull(E.NOM_PAIS,'') AS DIRECCION
        FROM Quiero_Confianza.PR.PR_INF_PROYECTO I
            LEFT JOIN Quiero_Confianza.PA.PA_PAISES E ON E.COD_PAIS = I.COD_PAIS
            --LEFT JOIN Quiero_Confianza.PA.PA_PROVINCIAS P ON P.COD_PAIS = I.COD_PAIS AND P.COD_PROVINCIA = I.COD_PROVINCIA
            --LEFT JOIN Quiero_Confianza.PA.PA_CANTONES C ON C.COD_PAIS = I.COD_PAIS AND C.COD_PROVINCIA = I.COD_PROVINCIA AND C.COD_CANTON = I.COD_CANTON
            --LEFT JOIN Quiero_Confianza.PA.PA_DISTRITOS D ON D.COD_PAIS = I.COD_PAIS AND D.COD_PROVINCIA = I.COD_PROVINCIA AND D.COD_CANTON = I.COD_CANTON AND D.COD_DISTRITO = I.COD_DISTRITO
        WHERE NUM_CREDITO IN (SELECT NUM_CREDITO FROM #CREDITOS_ACTIVOS)
            AND NUM_CREDITO NOT IN (SELECT NUM_CREDITO FROM #DIRECCIONES)

		-- = INTERESES EXIGIBLES DEL PERIODO ===================================================================
		SELECT NUM_CREDITO, SUM(MON_RUBRO) AS MONTO 
		INTO #INT_E_PERIODO
		FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO 
		WHERE COD_RUBRO = 'INTERESES'
			AND Fec_Exigible_Pago >= @FechaIni AND Fec_Exigible_Pago < @FechaFin
			AND IND_ESTADO != 'N'
			AND IND_POSPOSICION != 'S'
		GROUP BY NUM_CREDITO

		-- = SUMA DE SALDO DE OTRAS COMISIONES (COMISIONES SIN COMISION ADMINITSTRATIVA) ===================================================================
        SELECT NUM_CREDITO,SUM(SALDO) AS SALDO,SUM(SALDO_IVA) AS SALDO_IVA
        into #OTRAS_COM
        FROM [CIERRE].[SAF_SALDOS]
        WHERE FECHA_SISTEMA=@FechaIni AND TIPO='N'
            AND RUBRO IN ('COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI_VALOR')
        GROUP BY NUM_CREDITO

		-- = INTERESES PAGADOS Y DEVENGADOS DENTRO DEL PERIODO DEL REPORTE ===================================================================
		SELECT C.NUM_CREDITO, SUM(B.MON_PAGO) MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #DEV_PAG_INT
		FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
				INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
				INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
				LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
				    AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
	    WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND (@FechaIni <= A.FEC_MOVIMIENTO AND A.FEC_MOVIMIENTO < @FechaFin)
            AND (@FechaIni <= Q.FEC_EXIGIBLE_PAGO AND Q.FEC_EXIGIBLE_PAGO < @FechaFin)
		    AND B.COD_CONCEPTO IN ('INTERESES')
        GROUP BY C.NUM_CREDITO

		-- = TIPO DE BAJA ===================================================================
        SELECT CatDet.COD_CLAVE, CatDet.DESCRIPCION_CLAVE, CatDet.COD_CLAVE_ENLACE
        INTO #BAJA_CAT
        FROM Quiero_Confianza.[CF].[CF_CATALOGO_ENC] CatEnc
            inner join Quiero_Confianza.[CF].[CF_CATALOGO_DET] CatDet ON CatEnc.Id_secuencia = CatDet.Id_secuencia
        WHERE  CatEnc.Cod_catalogo = 'PR_TIP_BAJA_COMERCIAL'
	        And CatEnc.Cod_empresa = '001'

        SELECT RR.NUM_CREDITO, BAJA.COD_CLAVE, BAJA.DESCRIPCION_CLAVE AS DESCRIPCION
        INTO #BAJA_TIPO
        FROM Quiero_Confianza.PR.PR_INF_RR_X_CREDITO RR
            LEFT JOIN #BAJA_CAT BAJA ON RR.TIP_BAJA = BAJA.COD_CLAVE
        WHERE NOT BAJA.COD_CLAVE IS NULL

        -- = REPORTE DE CIERRE ===================================================================

        INSERT INTO [CIERRE].[CMR_REP]
            (ID ,FECHA_SISTEMA ,TIPO ,PARTE ,NUM_CREDITO ,ID_EXTERNO ,ACREDITADO ,PROYECTO ,CAPITAL_FINAL ,ADMINISTRADA ,APERTURA ,VENCIMIENTO ,CUOTAS_VENCIDAS ,DEBE_DESDE ,ESTADO_CARTERA
            ,TASA_INTERES ,OPERACION ,ETAPA_RIESGO ,CANAL ,CAPITAL_INICIAL ,ANTICIPOS_MINISTRACIONES ,CARTERA_SHF_70 ,SALDO_INI_AJUSTE ,INTERESES_EXIGIBLES_ANT
            ,INTERESES_NO_EXIGIBLES_ANT ,INTERESES_EXIGIBLES ,INTERESES_NO_EXIGIBLES ,SEGUROS ,INTERESES_VENCIDOS_IVA ,SEGUROS_VENCIDOS, SEGUROS_VENCIDOS_IVA ,AMORTIZACION_VENCIDA ,MORATORIOS
            ,MORATORIOS_IVA ,INTERESES_ACCESORIOS ,INTERESES_ACCESORIOS_EXIGIBLE ,PAGADO_CAPITAL ,PAGADO_INTERESES ,PAGADO_INTERESES_EXIGIBLES ,PAGADO_INTERESES_IVA ,PAGADO_SEGURO_VIDA,PAGADO_SEGURO_DANOS ,PAGADO_MORATORIOS
            ,PAGADO_MORATORIOS_IVA, PAGADO_COMISIONES, PAGADO_COMISIONES_IVA ,PAGADO_TOTAL ,RECALCULO_INTERESES ,RECLASIFICACION_COBRANZA ,DISPONIBLE ,MONTO_CONDONACION ,MONTO_QUITAS ,MONTO_CASTIGOS ,MONTO_BONIFICACION
            ,MONTO_DESCUENTO ,MONTO_EXIGIBLE ,MONTO_DAC ,MONTO_ADJ ,ETAPA_RIESGO_ANT ,CAPITAL_VENCIDO ,ESTADO_CARTERA_ANT,CARTERA,CARTERA_ANT,CEDIDO,CEDIDO_ANT ,CORTE
            ,ORDEN_SEGUROS ,ORDEN_INTERESES ,DIAS_VENCIDOS
            ,POSTERGAR_FIN ,ORDEN_IVA ,LINEA ,LIQUIDADO ,PLAZO ,PROGRAMA_COVID ,CARTERA_TIPO ,CREDITO_TIPO ,CREDITO_TIPO_L ,TASA_TIPO ,POSTERGAR_TOTAL ,GENERA_IVA ,SALDO_CAPITAL_INTERESES
            ,SALDO_PRINCIPAL_INI ,SALDO_PRINCIPAL_FIN ,SALDO_PRINCIPAL_COVID_INI ,SALDO_PRINCIPAL_COVID_FIN ,SALDO_INTERESES_ORDINARIOS_INI ,SALDO_INTERESES_ORDINARIOS_FIN
            ,SALDO_INTERESES_COVID_INI ,SALDO_INTERESES_COVID_FIN ,SALDO_MORATORIOS ,SALDO_MORATORIOS_COMISIONES_INI ,SALDO_IVA_BALANCE ,SALDO_IVA_ORDEN ,SALDO_SEGURO_BALANCE
            ,SALDO_SEGURO_ORDEN ,SALDO_INTERESES_BALANCE ,SALDO_INTERESES_ORDEN ,SALDO_IVA ,SALDO_MORATORIOS_COMISIONES_ORDEN ,DEV_MORATORIOS_COMISIONES
            ,PAGADO_INTERESES_BALANCE,DEV_INTERESES_E1_E2,DESEMBOLSOS,SALDO_BALANCE_MORATORIOS,SALDO_BALANCE_COMISIONES,SALDO_BALANCE_MORATORIOS_INI,SALDO_BALANCE_COMISIONES_INI
            ,SALDO_A_FAVOR,SALDO_A_FAVOR_INI,SALDO_SEGURO_VIDA,SALDO_SEGURO_DANOS
            ,ACUMULADO_PRINCIPAL,ACUMULADO_INTERESES,ACUMULADO_MORATORIO,ACUMULADO_SEG_VID,ACUMULADO_SEG_DAN,ACUMULADO_INTERESES_IVA
            ,DESCUENTO_PRINCIPAL,DESCUENTO_INTERESES,DESCUENTO_MORATORIO,DESCUENTO_SEG_VID,DESCUENTO_SEG_DAN,DESCUENTO_INTERESES_IVA
            ,DEV_INTERESES ,DEV_INTERESES_IVA, DEV_MORATORIOS, DEV_COMISIONES, DEV_SEG_VID, DEV_SEG_DAN
            ,SAL_CAPITAL, SAL_INTERESES, SAL_MORATORIO, SAL_SEG_VID, SAL_SEG_DAN, SAL_INTERESES_IVA
            ,SAL_CAPITAL_INI, SAL_INTERESES_INI, SAL_MORATORIO_INI, SAL_SEG_VID_INI, SAL_SEG_DAN_INI, SAL_INTERESES_IVA_INI
            ,SAL_ORDEN_INTERESES, SAL_ORDEN_INTERESES_IVA, SAL_ORDEN_MORATORIOS, SAL_ORDEN_SEG_VID, SAL_ORDEN_SEG_DAN
            ,SAL_COVID_MORATORIO, SAL_COVID_SEG_VID, SAL_COVID_SEG_DAN, DIRECCION_PROYECTO, RESTRINGIDO, SECCION_DESC, SECCION
			,TASA_INTERES_MORATORIA, MONTO_PAGO_EXIGIBLE, OTROS_MONTOS_PAGADOS, SALDO_CAPITAL_VIGENTE, SALDO_INTERES_VIGENTE,PRIMER_DESEM, SALDO_CAPITAL_VENCIDO, SALDO_INTERES_VENCIDO
            ,MONTO_DISPUESTO_LINEA, COMISIONES_PAGADAS, MONTO_INTERES_MORATORIO, OTROS_MONTOS_PRINCIPAL, MONTO_FONDEADO_BD,DEV_PAG_INT,DEV_PAG_INT_IVA,BAJA_TIPO
        )
        SELECT newid(),@FechaFinMes, 'MES' AS TIPO, 'TODO' AS PARTE, C.NUM_CREDITO, C.ID_EXTERNO
            ,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL) AS ACREDITADO
            ,C.DESARROLLO AS PROYECTO
            ,C.MON_SALDO AS CAPITAL_FINAL
            ,C.COD_ORIGEN + '-' + F.DES_ORIGEN AS ADMINISTRADA
            ,isnull(CE.FEC_APERTURA,C.FEC_APERTURA) AS APERTURA
            ,C.FEC_VENCIMIENTO AS VENCIMIENTO
            ,CUOTAS_VENCIDAS.CUOTAS AS CUOTAS_VENCIDAS
            ,CUOTAS_VENCIDAS.FEC_IMPAGO_INI AS DEBE_DESDE
            ,CASE WHEN C.IND_ETAPA IN (1,2) THEN 'VIGENTE' ELSE 'VENCIDA' END AS ESTADO_CARTERA
            ,C.TASA_INTERES AS TASA_INTERES
            ,CASE WHEN @FechaIni <= CE.FEC_APERTURA AND CE.FEC_APERTURA <= @FechaFinMes AND C.IND_ESTADO IN ('A','T','D') THEN 'NUEVO'
                WHEN C.IND_ESTADO = 'C' THEN 'LIQUIDADO'
		        WHEN C.IND_ESTADO = 'D' AND C.NUM_DESC_TIPO_CREDITO = 26 THEN 'CASTIGADO'
                WHEN C.IND_ESTADO = 'D' THEN 'PERMANECE'
                ELSE 'PERMANECE' END AS OPERACION
            ,case when C.IND_ETAPA = 0 then 1 else C.IND_ETAPA end AS ETAPA_RIESGO
            ,CASE WHEN C.NUM_DESC_TIPO_CREDITO = 5 THEN 'COMERCIAL' ELSE dbo.FN_TIPO_CANAL(C.TIP_TASA) END AS CANAL
            ,REP_ANT.CAPITAL_FINAL AS CAPITAL_INICIAL
            ,isnull(DESEMBOLSO_MES.MONTO,0) AS ANTICIPOS_MINISTRACIONES
            ,NULL AS CARTERA_SHF_70
            ,NULL AS SALDO_INI_AJUSTE
            ,REP_ANT.INTERESES_EXIGIBLES AS INTERESES_EXIGIBLES_ANT
            ,REP_ANT.INTERESES_NO_EXIGIBLES AS INTERESES_NO_EXIGIBLES_ANT
            ,isnull(S_INTERESES.SALDO,0) AS INTERESES_EXIGIBLES
            ,isnull(S_INT_NO_EXIGIBLE.SALDO,0) AS INTERESES_NO_EXIGIBLES
            ,isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0) AS SEGUROS
            ,isnull(S_INTERESES.SALDO_IVA,0) AS INTERESES_VENCIDOS_IVA
            ,isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0) AS SEGUROS_VENCIDOS
            ,isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0) + isnull(S_SEG_VID.SALDO_IVA,0)+isnull(S_SEG_DAN.SALDO_IVA,0) AS SEGUROS_VENCIDOS_IVA
            ,isnull(S_PRIN_VEN.SALDO,0) AS AMORTIZACION_VENCIDA
            ,isnull(S_MORATORIO.SALDO,0) AS MORATORIOS
            ,isnull(S_MORATORIO.SALDO_IVA,0) AS MORATORIOS_IVA
            ,isnull(S_INTERESES.SALDO,0)+isnull(S_INTERESES.SALDO_IVA,0)+isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_VID.SALDO_IVA,0)+isnull(S_SEG_DAN.SALDO,0)+isnull(S_SEG_DAN.SALDO_IVA,0)+isnull(S_OTRAS_COM.SALDO,0)+isnull(S_OTRAS_COM.SALDO_IVA,0)+isnull(S_INT_NO_EXIGIBLE.SALDO,0)+isnull(S_INT_NO_EXIGIBLE.SALDO_IVA,0) AS INTERESES_ACCESORIOS
            ,isnull(S_INTERESES.SALDO,0)+isnull(S_INTERESES.SALDO_IVA,0)+isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_VID.SALDO_IVA,0)+isnull(S_SEG_DAN.SALDO,0)+isnull(S_SEG_DAN.SALDO_IVA,0)+isnull(S_OTRAS_COM.SALDO,0)+isnull(S_OTRAS_COM.SALDO_IVA,0) AS INTERESES_ACCESORIOS_EXIGIBLE
            ,isnull(P_PRINCIPAL.MONTO,0) AS PAGADO_CAPITAL
            ,isnull(P_INTERESES.MONTO,0) AS PAGADO_INTERESES
            ,0 AS PAGADO_INTERESES_EXIGIBLES
            ,isnull(P_INTERESES.IVA,0) AS PAGADO_INTERESES_IVA
            ,isnull(P_SEG_VID.MONTO,0) AS PAGADO_SEGURO_VIDA
            ,isnull(P_SEG_DAN.MONTO,0) AS PAGADO_SEGURO_DANOS
            ,isnull(P_MORATORIO.MONTO,0) AS PAGADO_MORATORIOS
            ,isnull(P_MORATORIO.IVA,0) AS PAGADO_MORATORIOS_IVA
            ,isnull(P_COMISION.MONTO,0) AS PAGADO_COMISIONES
            ,isnull(P_COMISION.IVA,0) AS PAGADO_COMISIONES_IVA
            ,isnull(P_TOTAL.MONTO,0) AS PAGADO_TOTAL
            ,null AS RECALCULO_INTERESES
            ,null AS RECLASIFICACION_COBRANZA
            ,C.MON_CREDITO - isnull(DESEMBOLSO.MONTO,0) AS DISPONIBLE
            ,isnull(CONDONACION.MONTO,0) AS MONTO_CONDONACION
            ,isnull(QUITA.MONTO,0) AS MONTO_QUITAS
            ,case when C.NUM_DESC_TIPO_CREDITO IN (25) then isnull(S_PRINCIPAL.SALDO,0)+isnull(S_INTERESES.SALDO,0)+isnull(S_INTERESES.SALDO_IVA,0)+isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0)+isnull(S_MORATORIO.SALDO,0)+isnull(S_MORATORIO.SALDO_IVA,0)+isnull(S_COMISION.SALDO,0)+isnull(S_COMISION.SALDO_IVA,0) else 0 end AS MONTO_CASTIGOS
            ,isnull(BONIFICACION.MONTO,0) AS MONTO_BONIFICACION
            ,isnull(DESCUENTO.MONTO,0) AS MONTO_DESCUENTO
            ,isnull(S_INTERESES.SALDO,0)+isnull(S_COMISION.SALDO,0)+isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0) AS MONTO_EXIGIBLE
            ,isnull(DACION.MONTO,0) AS MONTO_DAC
            ,isnull(ADJUDICACION.MONTO,0) AS MONTO_ADJ
            ,case when REP_ANT.ETAPA_RIESGO = 0 then 1 else REP_ANT.ETAPA_RIESGO end AS ETAPA_RIESGO_ANT
            ,isnull(S_PRINCIPAL.SALDO,0) AS CAPITAL_VENCIDO
            ,REP_ANT.ESTADO_CARTERA AS ESTADO_CARTERA_ANT
            ,CASE WHEN C.NUM_DESC_TIPO_CREDITO  IN (6,19,21,22,24) THEN 'CEDIDA' ELSE 'PROPIA' END AS CARTERA
            ,REP_ANT.CARTERA AS CARTERA_ANT
            ,F.DES_ORIGEN AS CEDIDO
            ,REP_ANT.CEDIDO AS CEDIDO_ANT
            ,C.DIA_PAGO AS CORTE
            ,isnull(SO_SEG_VID.SALDO,0)+isnull(SO_SEG_DAN.SALDO,0) AS ORDEN_SEGUROS
            ,isnull(SO_INTERESES.SALDO,0) AS ORDEN_INTERESES
            ,DATEDIFF(day, FEC_IMPAGO_INI, @FechaFinMes) AS DIAS_VENCIDOS
            ,DATOS_COVID.FIN_POSTERGAR AS POSTERGAR_FIN
            ,isnull(SO_INTERESES.SALDO_IVA,0)+isnull(SO_MORATORIO.SALDO_IVA,0)+isnull(SO_COMISION.SALDO_IVA,0) AS ORDEN_IVA
            ,C.MON_CREDITO AS LINEA
            ,C.FEC_CANCELACION AS LIQUIDADO
            ,C.PLAZO_CREDITO AS PLAZO
            ,isnull(DATOS_COVID_CONTEO.COVID_CONTEO,0) AS PROGRAMA_COVID
            ,F.DES_ORIGEN AS CARTERA_TIPO
            ,CP.NOMBRE_CORTO AS CREDITO_TIPO
            ,CP.NOMBRE AS CREDITO_TIPO_L
            ,C.TIP_TASA AS TASA_TIPO
            ,DATOS_COVID.TOTAL_POSTERGAR AS POSTERGAR_TOTAL
            ,IND_IVA.IND_IVA_INT AS GENERA_IVA
            ,isnull(S_PRINCIPAL.SALDO,0)+isnull(S_INTERESES.SALDO,0) AS SALDO_CAPITAL_INTERESES
            ,REP_ANT.SALDO_PRINCIPAL_FIN AS SALDO_PRINCIPAL_INI
            ,isnull(S_PRIN_VEN.SALDO,0) AS SALDO_PRINCIPAL_FIN
            ,REP_ANT.SALDO_PRINCIPAL_COVID_FIN AS SALDO_PRINCIPAL_COVID_INI
            ,isnull(SC_PRINCIPAL.SALDO,0) AS SALDO_PRINCIPAL_COVID_FIN
            ,REP_ANT.SALDO_INTERESES_ORDINARIOS_FIN AS SALDO_INTERESES_ORDINARIOS_INI
            ,isnull(S_INTERESES.SALDO,0) AS SALDO_INTERESES_ORDINARIOS_FIN
            ,REP_ANT.SALDO_INTERESES_COVID_FIN AS SALDO_INTERESES_COVID_INI
            ,isnull(SC_INTERESES.SALDO,0)+isnull(SC_INTERESES.SALDO_IVA,0) AS SALDO_INTERESES_COVID_FIN
            ,isnull(S_MORATORIO.SALDO,0) + isnull(S_COMISION.SALDO,0) AS SALDO_MORATORIOS
            ,REP_ANT.SALDO_MORATORIOS AS SALDO_MORATORIOS_COMISIONES_INI
            ,isnull(S_INTERESES.SALDO_IVA,0) + isnull(S_MORATORIO.SALDO_IVA,0)+isnull(S_COMISION.SALDO_IVA,0) - isnull(SO_INTERESES.SALDO_IVA,0) - isnull(SO_MORATORIO.SALDO_IVA,0) - isnull(SO_COMISION.SALDO_IVA,0) AS SALDO_IVA_BALANCE
            ,isnull(SO_INTERESES.SALDO_IVA,0) + isnull(SO_MORATORIO.SALDO_IVA,0)+isnull(SO_COMISION.SALDO_IVA,0)  AS SALDO_IVA_ORDEN
            ,isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0)-isnull(SO_SEG_VID.SALDO,0)-isnull(SO_SEG_DAN.SALDO,0) AS SALDO_SEGURO_BALANCE
            ,isnull(SO_SEG_VID.SALDO,0)+isnull(SO_SEG_DAN.SALDO,0) AS SALDO_SEGURO_ORDEN
            ,isnull(S_INTERESES.SALDO,0)-isnull(SO_INTERESES.SALDO,0) AS SALDO_INTERESES_BALANCE
            ,isnull(SO_INTERESES.SALDO,0) AS SALDO_INTERESES_ORDEN
            ,isnull(SO_MORATORIO.SALDO,0)+isnull(SO_COMISION.SALDO,0) AS SALDO_MORATORIOS_COMISIONES_ORDEN
            ,isnull(S_INTERESES.SALDO_IVA,0) + isnull(S_MORATORIO.SALDO_IVA,0)+isnull(S_COMISION.SALDO_IVA,0) AS SALDO_IVA
            ,isnull(DEV_MORA.MONTO,0)+isnull(DEV_COM.MONTO,0) AS DEV_MORATORIOS_COMISIONES
            ,NULL AS PAGADO_INTERESES_BALANCE
            ,NULL AS DEV_INTERESES_E1_E2
            ,isnull(DESEMBOLSO.MONTO,0) AS DESEMBOLSOS
            ,isnull(S_MORATORIO.SALDO,0)-isnull(SO_MORATORIO.SALDO,0) AS SALDO_BALANCE_MORATORIOS
            ,isnull(S_COMISION.SALDO,0)-isnull(SO_COMISION.SALDO,0) AS SALDO_BALANCE_COMISIONES
            ,REP_ANT.SALDO_BALANCE_MORATORIOS AS SALDO_BALANCE_MORATORIOS_INI
            ,REP_ANT.SALDO_BALANCE_COMISIONES AS SALDO_BALANCE_COMISIONES_INI
            ,SALDO_FAVOR.MONTO AS SALDO_A_FAVOR
            ,REP_ANT.SALDO_A_FAVOR AS SALDO_A_FAVOR_INI
            ,isnull(S_SEG_VID.SALDO,0) AS SALDO_SEGURO_VIDA
            ,isnull(S_SEG_DAN.SALDO,0) AS SALDO_SEGURO_DANOS
            ,isnull(P_PRINCIPAL.MONTO,0)+isnull(DAC_PRINCIPAL.MONTO,0)+isnull(ADJ_PRINCIPAL.MONTO,0) AS ACUMULADO_PRINCIPAL
            ,isnull(P_INTERESES.MONTO,0)+isnull(DAC_INTERESES.MONTO,0)+isnull(ADJ_INTERESES.MONTO,0) AS ACUMULADO_INTERESES
            ,isnull(P_MORATORIO.MONTO,0)+isnull(DAC_MORATORIO.MONTO,0)+isnull(ADJ_MORATORIO.MONTO,0)+isnull(P_COMISION.MONTO,0)+isnull(DAC_COMISION.MONTO,0)+isnull(ADJ_COMISION.MONTO,0) AS ACUMULADO_MORATORIO
            ,isnull(P_SEG_VID.MONTO,0)  +isnull(DAC_SEG_VID.MONTO,0)  +isnull(ADJ_SEG_VID.MONTO,0)   AS ACUMULADO_SEG_VID
            ,isnull(P_SEG_DAN.MONTO,0)  +isnull(DAC_SEG_DAN.MONTO,0)  +isnull(ADJ_SEG_DAN.MONTO,0)   AS ACUMULADO_SEG_DAN
            ,isnull(P_INTERESES.IVA,0)  +isnull(DAC_INTERESES.IVA,0)  +isnull(ADJ_INTERESES.IVA,0)   AS ACUMULADO_INTERESES_IVA
            ,isnull(CON_PRINCIPAL.MONTO,0)+isnull(DES_PRINCIPAL.MONTO,0) AS DESCUENTO_PRINCIPAL
            ,isnull(CON_INTERESES.MONTO,0)+isnull(DES_INTERESES.MONTO,0) AS DESCUENTO_INTERESES
            ,isnull(CON_MORATORIO.MONTO,0)+isnull(DES_MORATORIO.MONTO,0)+isnull(CON_COMISION.MONTO,0)+isnull(DES_COMISION.MONTO,0) AS DESCUENTO_MORATORIO
            ,isnull(CON_SEG_VID.MONTO,0)  +isnull(DES_SEG_VID.MONTO,0)   AS DESCUENTO_SEG_VID
            ,isnull(CON_SEG_DAN.MONTO,0)  +isnull(DES_SEG_DAN.MONTO,0)   AS DESCUENTO_SEG_DAN
            ,isnull(CON_INTERESES.IVA,0)  +isnull(DES_INTERESES.IVA,0)   AS DESCUENTO_INTERESES_IVA
            ,isnull(DEV_INT.MONTO,0) AS DEV_INTERESES
            ,isnull(DEV_INT.IVA,0) AS DEV_INTERESES_IVA
            ,isnull(DEV_MORA.MONTO,0)+isnull(DEV_COM_ADM.MONTO,0) AS DEV_MORATORIOS
            ,isnull(DEV_COM.MONTO,0) AS DEV_COMISIONES
            ,isnull(DEV_SEG_VID.MONTO,0) AS DEV_SEG_VID
            ,isnull(DEV_SEG_DAN.MONTO,0) AS DEV_SEG_DAN
            ,isnull(S_PRINCIPAL.SALDO,0) AS SAL_CAPITAL
            ,isnull(S_INTERESES.SALDO,0)+isnull(S_INT_NO_EXIGIBLE.SALDO,0) AS SAL_INTERESES
            ,isnull(S_MORATORIO.SALDO,0)+isnull(S_COMISION.SALDO,0) AS SAL_MORATORIO
            ,isnull(S_SEG_VID.SALDO,0) AS SAL_SEG_VID
            ,isnull(S_SEG_DAN.SALDO,0) AS SAL_SEG_DAN
            ,isnull(S_INTERESES.SALDO_IVA,0)+isnull(S_INT_NO_EXIGIBLE.SALDO_IVA,0) AS SAL_INTERESES_IVA
            ,isnull(REP_ANT.SAL_CAPITAL,0) AS SAL_CAPITAL_INI
            ,isnull(REP_ANT.SAL_INTERESES,0) AS SAL_INTERESES_INI
            ,isnull(REP_ANT.SAL_MORATORIO,0) AS SAL_MORATORIO_INI
            ,isnull(REP_ANT.SAL_SEG_VID,0) AS SAL_SEG_VID_INI
            ,isnull(REP_ANT.SAL_SEG_DAN,0) AS SAL_SEG_DAN_INI
            ,isnull(REP_ANT.SAL_INTERESES_IVA,0) AS SAL_INTERESES_IVA_INI

            ,isnull(SO_INTERESES.SALDO,0) AS SAL_ORDEN_INTERESES
            ,isnull(SO_INTERESES.SALDO_IVA,0) AS SAL_ORDEN_INTERESES_IVA
            ,isnull(SO_MORATORIO.SALDO,0) AS SAL_ORDEN_MORATORIOS
            ,isnull(SO_SEG_VID.SALDO,0) AS SAL_ORDEN_SEG_VID
            ,isnull(SO_SEG_DAN.SALDO,0) AS SAL_ORDEN_SEG_DAN
            
            ,isnull(SC_MORATORIO.SALDO,0) AS SAL_COVID_MORATORIO
            ,isnull(SC_SEG_VID.SALDO,0) AS SAL_COVID_SEG_VID
            ,isnull(SC_SEG_DAN.SALDO,0) AS SAL_COVID_SEG_DAN
            ,DIR.DIRECCION AS DIRECCION_PROYECTO
            ,CASE WHEN C.COD_ORIGEN IN ('008','031') THEN 'NO RESTRINGIDO' ELSE 'RESTRINGIDO' END AS RESTRINGIDO
            ,CASE
                WHEN C.NUM_DESC_TIPO_CREDITO = 21 THEN 'QUIERO BILLETE'
                WHEN C.NUM_DESC_TIPO_CREDITO = 24 THEN 'SHCH'
                WHEN C.NUM_DESC_TIPO_CREDITO = 6  THEN 'INBURSA'
                WHEN C.NUM_DESC_TIPO_CREDITO = 19 THEN 'BANCOPPEL'
                WHEN C.NUM_DESC_TIPO_CREDITO = 22 THEN 'BALI'
                WHEN C.NUM_DESC_TIPO_CREDITO = 5  THEN 'MEZZANINE'
                WHEN C.NUM_DESC_TIPO_CREDITO = 25 THEN 'ION CASTIGO'
                ELSE 'ION' END AS SECCION_DESC
            ,CASE
                WHEN C.NUM_DESC_TIPO_CREDITO = 21 THEN 101
                WHEN C.NUM_DESC_TIPO_CREDITO = 24 THEN 102
                WHEN C.NUM_DESC_TIPO_CREDITO = 6  THEN 103
                WHEN C.NUM_DESC_TIPO_CREDITO = 19 THEN 104
                WHEN C.NUM_DESC_TIPO_CREDITO = 22 THEN 105
                WHEN C.NUM_DESC_TIPO_CREDITO = 5  THEN 3
                WHEN C.NUM_DESC_TIPO_CREDITO = 25 THEN 2
                ELSE 1 END AS SECCION
			,C.TASA_MORA AS TASA_INTERES_MORATORIA
			,INT_E_PERIODO.MONTO AS MONTO_PAGO_EXIGIBLE
			,isnull(P_INTERESES.IVA,0) + isnull(P_SEG_VID.IVA,0) + isnull(P_SEG_DAN.IVA,0) + isnull(P_COMISION.IVA,0) AS OTROS_MONTOS_PAGADOS
			,isnull(SV_PRINCIPAL.SALDO,0) AS SALDO_CAPITAL_VIGENTE
			,isnull(SV_INTERESES.SALDO,0) AS SALDO_INTERES_VIGENTE
            ,DESEMBOLSO.PRIMER_DESEM AS PRIMER_DESEM
            ,isnull(S_PRIN_VEN.SALDO,0) AS SALDO_CAPITAL_VENCIDO
            ,isnull(S_INTERESES.SALDO,0) AS SALDO_INTERES_VENCIDO
            ,isnull(DESEMBOLSO_MES.MONTO,0) AS MONTO_DISPUESTO_LINEA
            ,isnull(P_COMISION.MONTO,0) + isnull(P_COMISION.IVA,0) AS COMISIONES_PAGADAS
            ,isnull(P_MORATORIO.MONTO,0) + isnull(P_MORATORIO.IVA,0) AS MONTO_INTERES_MORATORIO
			,CASE WHEN C.NUM_DESC_TIPO_CREDITO IN (25) 
			 THEN isnull(S_PRINCIPAL.SALDO,0)+isnull(S_INTERESES.SALDO,0)
			 +isnull(S_INTERESES.SALDO_IVA,0)+isnull(S_SEG_VID.SALDO,0)
			 +isnull(S_SEG_DAN.SALDO,0)+isnull(S_MORATORIO.SALDO,0)
			 +isnull(S_MORATORIO.SALDO_IVA,0)+isnull(S_COMISION.SALDO,0)+isnull(S_COMISION.SALDO_IVA,0) ELSE 0
			END AS OTROS_MONTOS_PRINCIPAL
			,CASE
				WHEN F.DES_ORIGEN = 'CAPITAL (RECURSOS PROPIOS)' THEN
				isnull(S_PRIN_VEN.SALDO,0) + (isnull(S_INTERESES.SALDO,0)-isnull(SO_INTERESES.SALDO,0))
				ELSE 0
			END AS MONTO_FONDEADO_BD
            ,isnull(DEV_PAG_INT.MONTO,0) AS DEV_PAG_INT
            ,isnull(DEV_PAG_INT.IVA,0) AS DEV_PAG_INT_IVA
            ,isnull(BAJA_TIPO.DESCRIPCION,'') AS BAJA_TIPO

            /*,isnull(P_TOTAL.MONTO,0) AS TOTAL_MONTO
            ,isnull(CONDONACION.MONTO,0) AS CONDONACION_MONTO
            ,isnull(QUITA.MONTO,0) AS QUITA_MONTO
            ,isnull(DESCUENTO.MONTO,0) AS DESCUENTO_MONTO

            ,isnull(P_PRINCIPAL.MONTO,0) AS PRINCIPAL_MONTO
            ,isnull(P_INTERESES.MONTO,0) AS INTERESES_MONTO
            ,isnull(P_INTERESES.IVA,0) AS INTERESES_IVA
            ,isnull(P_SEG_VID.MONTO,0) AS SEG_VID_MONTO
            ,isnull(P_SEG_DAN.MONTO,0) AS SEG_DAN_MONTO
            ,isnull(P_MORATORIO.MONTO,0) AS MORATORIO_MONTO
            ,isnull(P_MORATORIO.IVA,0) AS MORATORIO_IVA
            ,isnull(P_COMISION.MONTO,0) AS COMISION_MONTO
            ,isnull(P_COMISION.IVA,0) AS COMISION_IVA

            ,isnull(PC_PRINCIPAL.MONTO,0) AS COVID_PRINCIPAL_MONTO
            ,isnull(PC_INTERESES.MONTO,0) AS COVID_INTERESES_MONTO
            ,isnull(PC_INTERESES.IVA,0) AS COVID_INTERESES_IVA
            ,isnull(PC_SEG_VID.MONTO,0) AS COVID_SEG_VID_MONTO
            ,isnull(PC_SEG_DAN.MONTO,0) AS COVID_SEG_DAN_MONTO
            ,isnull(PC_MORATORIO.MONTO,0) AS COVID_MORATORIO_MONTO
            ,isnull(PC_MORATORIO.IVA,0) AS COVID_MORATORIO_IVA
            ,isnull(PC_COMISION.MONTO,0) AS COVID_COMISION_MONTO
            ,isnull(PC_COMISION.IVA,0) AS COVID_COMISION_IVA

            ,isnull(S_PRINCIPAL.SALDO,0) AS SALDO_CAPITAL_MONTO
            ,isnull(S_PRINCIPAL.SALDO,0) AS SALDO_PRINCIPAL_MONTO
            ,isnull(S_INTERESES.SALDO,0) AS SALDO_INTERESES_MONTO
            ,isnull(S_INTERESES.SALDO_IVA,0) AS SALDO_INTERESES_IVA
            ,isnull(S_SEG_VID.SALDO,0) AS SALDO_SEG_VID_MONTO
            ,isnull(S_SEG_DAN.SALDO,0) AS SALDO_SEG_DAN_MONTO
            ,isnull(S_MORATORIO.SALDO,0) AS SALDO_MORATORIO_MONTO
            ,isnull(S_MORATORIO.SALDO_IVA,0) AS SALDO_MORATORIO_IVA
            ,isnull(S_COMISION.SALDO,0) AS SALDO_COMISION_MONTO
            ,isnull(S_COMISION.SALDO_IVA,0) AS SALDO_COMISION_IVA
        
            ,isnull(S_INT_NO_EXIGIBLE.SALDO,0) AS SALDO_INTERESES_NO_EXIGIBLE_MONTO
            ,isnull(S_INT_NO_EXIGIBLE.SALDO_IVA,0) AS SALDO_INTERESES_NO_EXIGIBLE_IVA
           */

        FROM Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO T WITH (NOLOCK) ON C.TIP_CREDITO = T.TIP_CREDITO AND C.COD_EMPRESA = T.COD_EMPRESA
		    LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
		    LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
            LEFT JOIN Quiero_Confianza.PR.PR_ORIGEN_FONDOS F WITH (NOLOCK) ON C.COD_EMPRESA = F.COD_EMPRESA AND C.COD_ORIGEN = F.COD_ORIGEN
            --LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA
		    LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
		    LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO

            LEFT JOIN [CIERRE].[CMR_REP] REP_ANT ON REP_ANT.NUM_CREDITO = C.NUM_CREDITO AND REP_ANT.FECHA_SISTEMA=@FechaFinMesAnt
            LEFT JOIN #CUOTAS_VENCIDAS CUOTAS_VENCIDAS ON CUOTAS_VENCIDAS.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #PAGO_TOTAL P_TOTAL ON P_TOTAL.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DACION DACION ON DACION.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #ADJUDICACION ADJUDICACION ON ADJUDICACION.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #CONDONACION CONDONACION ON CONDONACION.NUM_CREDITO = C.NUM_CREDITO
			LEFT JOIN #BONIFICACION BONIFICACION ON BONIFICACION.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #QUITA QUITA ON QUITA.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DESCUENTO DESCUENTO ON DESCUENTO.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DATOS_COVID DATOS_COVID ON DATOS_COVID.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DATOS_COVID_CONTEO DATOS_COVID_CONTEO ON DATOS_COVID_CONTEO.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #IND_IVA IND_IVA ON IND_IVA.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DESEMBOLSOS DESEMBOLSO ON DESEMBOLSO.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DESEMBOLSOS_MES DESEMBOLSO_MES ON DESEMBOLSO_MES.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #SALDO_FAVOR SALDO_FAVOR ON SALDO_FAVOR.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DIRECCIONES DIR ON DIR.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #BAJA_TIPO BAJA_TIPO ON BAJA_TIPO.NUM_CREDITO = C.NUM_CREDITO
           -- Devengos
            LEFT JOIN #DEV_INT DEV_INT ON DEV_INT.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DEV_MORA DEV_MORA ON DEV_MORA.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DEV_COM DEV_COM ON DEV_COM.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DEV_COM_ADM DEV_COM_ADM ON DEV_COM_ADM.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DEV_SEG_VID DEV_SEG_VID ON DEV_SEG_VID.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DEV_SEG_DAN DEV_SEG_DAN ON DEV_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO
           -- Devengos PAGOS
            LEFT JOIN #DEV_PAG_INT DEV_PAG_INT ON DEV_PAG_INT.NUM_CREDITO = C.NUM_CREDITO
           -- Dacion
            LEFT JOIN #DACION_R DAC_PRINCIPAL ON DAC_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND DAC_PRINCIPAL.RUBRO = 'PRINCIPAL'
            LEFT JOIN #DACION_R DAC_INTERESES ON DAC_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND DAC_INTERESES.RUBRO = 'INTERESES'
            LEFT JOIN #DACION_R DAC_SEG_VID   ON DAC_SEG_VID.NUM_CREDITO = C.NUM_CREDITO   AND DAC_SEG_VID.RUBRO = 'SEGURO_VIDA'
            LEFT JOIN #DACION_R DAC_SEG_DAN   ON DAC_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO   AND DAC_SEG_DAN.RUBRO = 'SEGURO_DANOS'
            LEFT JOIN #DACION_R DAC_MORATORIO ON DAC_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND DAC_MORATORIO.RUBRO = 'MORATORIOS'
            LEFT JOIN #DACION_R DAC_COMISION  ON DAC_COMISION.NUM_CREDITO = C.NUM_CREDITO  AND DAC_COMISION.RUBRO = 'COMISION_ADMINISTRACION'
           -- Adjudicacion
            LEFT JOIN #ADJUDICACION_R ADJ_PRINCIPAL ON ADJ_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND ADJ_PRINCIPAL.RUBRO = 'PRINCIPAL'
            LEFT JOIN #ADJUDICACION_R ADJ_INTERESES ON ADJ_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND ADJ_INTERESES.RUBRO = 'INTERESES'
            LEFT JOIN #ADJUDICACION_R ADJ_SEG_VID   ON ADJ_SEG_VID.NUM_CREDITO = C.NUM_CREDITO   AND ADJ_SEG_VID.RUBRO = 'SEGURO_VIDA'
            LEFT JOIN #ADJUDICACION_R ADJ_SEG_DAN   ON ADJ_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO   AND ADJ_SEG_DAN.RUBRO = 'SEGURO_DANOS'
            LEFT JOIN #ADJUDICACION_R ADJ_MORATORIO ON ADJ_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND ADJ_MORATORIO.RUBRO = 'MORATORIOS'
            LEFT JOIN #ADJUDICACION_R ADJ_COMISION  ON ADJ_COMISION.NUM_CREDITO = C.NUM_CREDITO  AND ADJ_COMISION.RUBRO = 'COMISION_ADMINISTRACION'
           -- Condonacion
            LEFT JOIN #CONDONACION_R CON_PRINCIPAL ON CON_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND CON_PRINCIPAL.RUBRO = 'PRINCIPAL'
            LEFT JOIN #CONDONACION_R CON_INTERESES ON CON_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND CON_INTERESES.RUBRO = 'INTERESES'
            LEFT JOIN #CONDONACION_R CON_SEG_VID   ON CON_SEG_VID.NUM_CREDITO = C.NUM_CREDITO   AND CON_SEG_VID.RUBRO = 'SEGURO_VIDA'
            LEFT JOIN #CONDONACION_R CON_SEG_DAN   ON CON_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO   AND CON_SEG_DAN.RUBRO = 'SEGURO_DANOS'
            LEFT JOIN #CONDONACION_R CON_MORATORIO ON CON_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND CON_MORATORIO.RUBRO = 'MORATORIOS'
            LEFT JOIN #CONDONACION_R CON_COMISION  ON CON_COMISION.NUM_CREDITO = C.NUM_CREDITO  AND CON_COMISION.RUBRO = 'COMISION_ADMINISTRACION'
           -- Descuento
            LEFT JOIN #DESCUENTO_R DES_PRINCIPAL ON DES_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND DES_PRINCIPAL.RUBRO = 'PRINCIPAL'
            LEFT JOIN #DESCUENTO_R DES_INTERESES ON DES_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND DES_INTERESES.RUBRO = 'INTERESES'
            LEFT JOIN #DESCUENTO_R DES_SEG_VID   ON DES_SEG_VID.NUM_CREDITO = C.NUM_CREDITO   AND DES_SEG_VID.RUBRO = 'SEGURO_VIDA'
            LEFT JOIN #DESCUENTO_R DES_SEG_DAN   ON DES_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO   AND DES_SEG_DAN.RUBRO = 'SEGURO_DANOS'
            LEFT JOIN #DESCUENTO_R DES_MORATORIO ON DES_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND DES_MORATORIO.RUBRO = 'MORATORIOS'
            LEFT JOIN #DESCUENTO_R DES_COMISION  ON DES_COMISION.NUM_CREDITO = C.NUM_CREDITO  AND DES_COMISION.RUBRO = 'COMISION_ADMINISTRACION'
           -- Pagos
            LEFT JOIN #PAGO_RUBROS P_PRINCIPAL ON P_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND P_PRINCIPAL.RUBRO = 'PRINCIPAL'
            LEFT JOIN #PAGO_RUBROS P_INTERESES ON P_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND P_INTERESES.RUBRO = 'INTERESES'
            LEFT JOIN #PAGO_RUBROS P_SEG_VID   ON P_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND P_SEG_VID.RUBRO = 'SEGURO_VIDA'
            LEFT JOIN #PAGO_RUBROS P_SEG_DAN   ON P_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND P_SEG_DAN.RUBRO = 'SEGURO_DANOS'
            LEFT JOIN #PAGO_RUBROS P_MORATORIO ON P_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND P_MORATORIO.RUBRO = 'MORATORIOS'
            LEFT JOIN #PAGO_RUBROS P_COMISION  ON P_COMISION.NUM_CREDITO = C.NUM_CREDITO AND P_COMISION.RUBRO = 'COMISION_ADMINISTRACION'
            -- pagos COVID
            LEFT JOIN #PAGO_COVID_RUBROS PC_PRINCIPAL ON PC_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND PC_PRINCIPAL.RUBRO = 'PRINCIPAL'
            LEFT JOIN #PAGO_COVID_RUBROS PC_INTERESES ON PC_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND PC_INTERESES.RUBRO = 'INTERESES'
            LEFT JOIN #PAGO_COVID_RUBROS PC_SEG_VID   ON PC_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND PC_SEG_VID.RUBRO = 'SEGURO_VIDA'
            LEFT JOIN #PAGO_COVID_RUBROS PC_SEG_DAN   ON PC_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND PC_SEG_DAN.RUBRO = 'SEGURO_DANOS'
            LEFT JOIN #PAGO_COVID_RUBROS PC_MORATORIO ON PC_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND PC_MORATORIO.RUBRO = 'MORATORIOS'
            LEFT JOIN #PAGO_COVID_RUBROS PC_COMISION  ON PC_COMISION.NUM_CREDITO = C.NUM_CREDITO AND PC_COMISION.RUBRO = 'COMISION_ADMINISTRACION'
            --Saldos
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_PRINCIPAL ON S_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND S_PRINCIPAL.RUBRO = 'PRINCIPAL' AND S_PRINCIPAL.FECHA_SISTEMA=@FechaFinMes AND S_PRINCIPAL.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_PRIN_VEN  ON S_PRIN_VEN.NUM_CREDITO = C.NUM_CREDITO AND S_PRIN_VEN.RUBRO = 'PRINCIPAL_VENCIDO' AND S_PRIN_VEN.FECHA_SISTEMA=@FechaFinMes AND S_PRIN_VEN.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_INTERESES ON S_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND S_INTERESES.RUBRO = 'INTERESES' AND S_INTERESES.FECHA_SISTEMA=@FechaFinMes AND S_INTERESES.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_VID   ON S_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND S_SEG_VID.RUBRO = 'SEGURO_VIDA' AND S_SEG_VID.FECHA_SISTEMA=@FechaFinMes AND S_SEG_VID.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_DAN   ON S_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND S_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND S_SEG_DAN.FECHA_SISTEMA=@FechaFinMes AND S_SEG_DAN.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_MORATORIO ON S_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND S_MORATORIO.RUBRO = 'MORATORIOS' AND S_MORATORIO.FECHA_SISTEMA=@FechaFinMes AND S_MORATORIO.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_COMISION  ON S_COMISION.NUM_CREDITO = C.NUM_CREDITO AND S_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND S_COMISION.FECHA_SISTEMA=@FechaFinMes AND S_COMISION.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_INT_NO_EXIGIBLE ON S_INT_NO_EXIGIBLE.NUM_CREDITO = C.NUM_CREDITO AND S_INT_NO_EXIGIBLE.RUBRO = 'INTERES_NO_EXIGIBLES' AND S_INT_NO_EXIGIBLE.FECHA_SISTEMA=@FechaFinMes AND S_INT_NO_EXIGIBLE.TIPO='N'
            LEFT JOIN #OTRAS_COM S_OTRAS_COM            ON S_OTRAS_COM.NUM_CREDITO = C.NUM_CREDITO
            --saldos orden
            LEFT JOIN [CIERRE].[SAF_SALDOS] SO_INTERESES ON SO_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SO_INTERESES.RUBRO = 'INTERESES' AND SO_INTERESES.FECHA_SISTEMA=@FechaFinMes AND SO_INTERESES.TIPO='O'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SO_SEG_VID   ON SO_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND SO_SEG_VID.RUBRO = 'SEGURO_VIDA' AND SO_SEG_VID.FECHA_SISTEMA=@FechaFinMes AND SO_SEG_VID.TIPO='O'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SO_SEG_DAN   ON SO_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND SO_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND SO_SEG_DAN.FECHA_SISTEMA=@FechaFinMes AND SO_SEG_DAN.TIPO='O'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SO_MORATORIO ON SO_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND SO_MORATORIO.RUBRO = 'MORATORIOS' AND SO_MORATORIO.FECHA_SISTEMA=@FechaFinMes AND SO_MORATORIO.TIPO='O'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SO_COMISION  ON SO_COMISION.NUM_CREDITO = C.NUM_CREDITO AND SO_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND SO_COMISION.FECHA_SISTEMA=@FechaFinMes AND SO_COMISION.TIPO='O'
            --saldos COVID
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_PRINCIPAL ON SC_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND SC_PRINCIPAL.RUBRO = 'PRINCIPAL' AND SC_PRINCIPAL.FECHA_SISTEMA=@FechaFinMes AND SC_PRINCIPAL.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_INTERESES ON SC_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SC_INTERESES.RUBRO = 'INTERESES' AND SC_INTERESES.FECHA_SISTEMA=@FechaFinMes AND SC_INTERESES.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_SEG_VID   ON SC_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND SC_SEG_VID.RUBRO = 'SEGURO_VIDA' AND SC_SEG_VID.FECHA_SISTEMA=@FechaFinMes AND SC_SEG_VID.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_SEG_DAN   ON SC_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND SC_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND SC_SEG_DAN.FECHA_SISTEMA=@FechaFinMes AND SC_SEG_DAN.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_MORATORIO ON SC_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND SC_MORATORIO.RUBRO = 'MORATORIOS' AND SC_MORATORIO.FECHA_SISTEMA=@FechaFinMes AND SC_MORATORIO.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_COMISION  ON SC_COMISION.NUM_CREDITO = C.NUM_CREDITO AND SC_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND SC_COMISION.FECHA_SISTEMA=@FechaFinMes AND SC_COMISION.TIPO='C'
			-- complementos RR
			LEFT JOIN #INT_E_PERIODO INT_E_PERIODO ON INT_E_PERIODO.NUM_CREDITO = C.NUM_CREDITO
			LEFT JOIN [CIERRE].[SAF_SALDOS] SV_PRINCIPAL ON SV_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND SV_PRINCIPAL.RUBRO = 'PRINCIPAL' AND SV_PRINCIPAL.FECHA_SISTEMA=@FechaFinMes AND SV_PRINCIPAL.TIPO='V'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SV_INTERESES ON SV_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SV_INTERESES.RUBRO = 'INTERESES' AND SV_INTERESES.FECHA_SISTEMA=@FechaFinMes AND SV_INTERESES.TIPO='V'
	    WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND @FechaIni <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FechaFin))
            AND NOT (C.ID_EXTERNO IS NULL OR C.ID_EXTERNO = '')
            AND ABS(ISNULL(S_PRINCIPAL.SALDO,0)) > .01
 

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA        , 0        , 'SP_SAF_CIERRE_CMR_MES Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
