SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CIERRE].[SAF_SALDOS](
	[ID] [uniqueidentifier] NOT NULL,
	[FECHA_SISTEMA] [date] NOT NULL,
	[NUM_CREDITO] [numeric](8, 0) NOT NULL,
	[TIPO] [varchar](1) NOT NULL,
	[RUBRO] [varchar](35) NOT NULL,
	[SALDO] [decimal](24, 6) NULL,
	[SALDO_IVA] [decimal](24, 6) NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
 CONSTRAINT [PK_SAF_SALDOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_SAF_SALDOS] UNIQUE NONCLUSTERED 
(
	[FECHA_SISTEMA] ASC,
	[NUM_CREDITO] ASC,
	[TIPO] ASC,
	[RUBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CIERRE].[SAF_SALDOS] ADD  CONSTRAINT [DF_SAF_SALDOS_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [CIERRE].[SAF_SALDOS] ADD  CONSTRAINT [DF_SAF_SALDOS_FECHA_GENERACION]  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
