SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:    20241129
-- Descripcion:	Obtiene la fecha de impago de un credito en especifico
-- =============================================
CREATE FUNCTION [dbo].[FECHA_IMPAGO]
(
	@NUM_CREDITO NUMERIC(8, 0)
)
RETURNS DATE
AS
BEGIN
	DECLARE @ETAPA_3_INI DATE
        , @IND_ETAPA_RIESGO_MANUAL varchar(1)

    SELECT @ETAPA_3_INI = fec_reclasificacion, @IND_ETAPA_RIESGO_MANUAL= IND_ETAPA_RIESGO_MANUAL
    FROM Quiero_Confianza.PR.PR_RECLASIFICACION_ETAPA_RIESGO
    where num_credito = @NUM_CREDITO
        and ind_etapa_act = 3
        and fec_reclasificacion In (
            SELECT max(fec_reclasificacion)
            FROM Quiero_Confianza.PR.PR_RECLASIFICACION_ETAPA_RIESGO
            where num_credito = @NUM_CREDITO and not (ind_etapa_ant = 3 )
        )

    if(@IND_ETAPA_RIESGO_MANUAL = 'N') begin
        set @ETAPA_3_INI = dateadd(d,-2,@ETAPA_3_INI)
    end

	RETURN @ETAPA_3_INI

END
GO
