SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20240906
-- Description:	Reporte de aplicacion de pagos no identificados acorde a fecha de inicio o de identificacion
-- =============================================
CREATE PROCEDURE [dbo].[REPORTE_NO_IDENTIFICADOS]
	@fecha date
AS
BEGIN
	SET NOCOUNT ON;

    select D.fecha as FECHA_NO_IDEN,D.MON_MOVIMIENTO, D.IND_ESTADO, E.FEC_MOVIMIENTO as FECHA_IDEN, C.ID_EXTERNO, C.NUM_CREDITO
        ,case when  C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17) then 'INDIVIDUAL'
              when  C.NUM_DESC_TIPO_CREDITO IN (2, 7, 12, 13, 14, 15, 18, 19) then 'COMERCIAL'
              when  C.NUM_DESC_TIPO_CREDITO IN (26) then 'CASTIGO'
              when  C.NUM_DESC_TIPO_CREDITO IN (20,23) then 'ADMINISTRADA'
              else ''
          end as TIPO_CARTERA
    from Quiero_Confianza.PR.PR_DEPOSITOS_X_IDENTIFICAR D
        LEFT JOIN Quiero_Confianza.PR.PR_ENCABEZADO_PAGO E ON D.id_carga = E.id_carga and D.id_deposito = E.id_deposito
        LEFT JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON E.COD_EMPRESA = C.COD_EMPRESA AND E.NUM_CREDITO = C.NUM_CREDITO
    where D.FECHA = @fecha or E.FEC_MOVIMIENTO = @fecha
    order by TIPO_CARTERA, FECHA_IDEN

END
GO
