SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20251104
-- Descripcion:	Determina cual es el credito previo de una reestructura realizada por cancelacion y alta buscado por ID_EXTERNO NUC
-- select [dbo].[FN_CREDITO_PREVIO_ID]('RLIQ032022022',6082,'001100068648')
-- =============================================
CREATE FUNCTION [dbo].[FN_CREDITO_PREVIO_ID]
(
	 @ID_EXTERNO VARCHAR(16)
    ,@NUM_CREDITO_ORIGEN INT
    ,@COD_CLIENTE VARCHAR(15)
    ,@FEC_CANCELACION date
)
RETURNS INT
AS
BEGIN
	
	DECLARE @CREDITO_PREVIO INT
        ,@BUSQUEDA1 VARCHAR(16)
        ,@BUSQUEDA2 VARCHAR(16)
        ,@INDICE INT = 2
        ,@CONTEO_RS INT = 0

    WHILE @INDICE < 16 BEGIN
        IF SUBSTRING(@ID_EXTERNO,@INDICE,1) = 'R' BEGIN
            SET @CONTEO_RS = @CONTEO_RS + 1
        END ELSE BEGIN
            BREAK
        END
        SET @INDICE = @INDICE + 1
    END

    --regla cuando sustituyen letra por R
    SET @BUSQUEDA1 = REPLICATE('R',@CONTEO_RS) + '_' + SUBSTRING(@ID_EXTERNO,@CONTEO_RS+2,LEN(@ID_EXTERNO)-@CONTEO_RS)
    --regla cuando solo agregan R
    SET @BUSQUEDA2 = SUBSTRING(@ID_EXTERNO,2,LEN(@ID_EXTERNO)-1)

    SELECT @CREDITO_PREVIO = MAX(NUM_CREDITO)
    FROM Quiero_Confianza.PR.PR_CREDITOS
    WHERE (ID_EXTERNO LIKE @BUSQUEDA1 OR ID_EXTERNO LIKE @BUSQUEDA2)
        AND NUM_CREDITO < @NUM_CREDITO_ORIGEN and IND_ESTADO = 'C'
        AND COD_CLIENTE = @COD_CLIENTE
        AND NOT ID_EXTERNO = @ID_EXTERNO
        AND FEC_CANCELACION = @FEC_CANCELACION

	RETURN @CREDITO_PREVIO
END
GO
