SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20251111
-- Descripcion:	Evalua si la linea de credito ya esta cancelada
-- =============================================
CREATE FUNCTION [dbo].[FN_ES_LINEA_CANCELADA]
(
	@NUM_CONTRATO INT
)
RETURNS INT
AS
BEGIN
	
	DECLARE @ES_LINEA_CANCELADA INT

	SELECT @ES_LINEA_CANCELADA = CASE WHEN IND_LINEA = 'S' AND IND_ESTADO = 'C' THEN 1 ELSE 0 END
	FROM Quiero_Confianza.PR.PR_CREDITOS
	WHERE NUM_CREDITO = @NUM_CONTRATO

	RETURN @ES_LINEA_CANCELADA

END
GO
