SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Daniel Aros Ramírez
-- Creacion:	20240531
-- Descripcion:	Formateo del nombre del cliente ya sea fisico o moral
-- =============================================
CREATE FUNCTION [dbo].[FN_FORMA_NOMBRE]
(
	@PRIMER_APELLIDO VARCHAR(50),
	@SEGUNDO_APELLIDO VARCHAR(50),
	@PRIMER_NOMBRE VARCHAR(50),
	@SEGUNDO_NOMBRE VARCHAR(50),
	@NOMBRE_PERSONA_JURIDICA VARCHAR(250),
	@NOMBRE_COM_PERSONA_JURIDICA VARCHAR(250)
)
RETURNS VARCHAR(200)
AS
BEGIN
	DECLARE @NOMBRE VARCHAR(200)

	SET @NOMBRE = 
	CASE
		WHEN @NOMBRE_PERSONA_JURIDICA IS NULL AND @NOMBRE_COM_PERSONA_JURIDICA IS NOT NULL THEN @NOMBRE_COM_PERSONA_JURIDICA 
		WHEN @NOMBRE_PERSONA_JURIDICA IS NULL AND @NOMBRE_COM_PERSONA_JURIDICA IS NULL
		THEN CONCAT(
			IIF(@PRIMER_APELLIDO IS NULL OR @PRIMER_APELLIDO = '', '', @PRIMER_APELLIDO + ' ') ,
			IIF(@SEGUNDO_APELLIDO IS NULL OR @SEGUNDO_APELLIDO = '', '', @SEGUNDO_APELLIDO+ ' ') ,
			IIF(@PRIMER_NOMBRE IS NULL OR @PRIMER_NOMBRE = '', '', @PRIMER_NOMBRE+ ' ') ,
			IIF(@SEGUNDO_NOMBRE IS NULL OR @SEGUNDO_NOMBRE = '', '', @SEGUNDO_NOMBRE)
		)
		ELSE @NOMBRE_PERSONA_JURIDICA
	END
	RETURN @NOMBRE
END
GO
