SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20240809
-- Description:	regresa la cuenta que le corresponde a un concepto
-- =============================================
CREATE FUNCTION [dbo].[FN_CUENTA_OBTENER]
(
     @tipo varchar(5) -- CARGO o ABONO
	,@concepto varchar(30)
)
RETURNS varchar(30)
AS
BEGIN
	
    declare @cuenta varchar(30)

    if @tipo = 'CARGO' begin

        SELECT @cuenta = B.CUENTA_CARGO
        FROM PO.SAF_CATALOGO_CONCEPTOS A
	        LEFT JOIN PO.SAF_CAT_CONTABLE B ON A.ID = B.ID_CONCEPTO
        WHERE  A.CONCEPTO = @concepto

    end else begin

        SELECT @cuenta = B.CUENTA_ABONO
        FROM PO.SAF_CATALOGO_CONCEPTOS A
	        LEFT JOIN PO.SAF_CAT_CONTABLE B ON A.ID = B.ID_CONCEPTO
        WHERE  A.CONCEPTO = @concepto

    end

	return @cuenta

END
GO
