SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[CAT_TIPO_POLIZA](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](50) NOT NULL,
	[TIPO_POLIZA] [varchar](5) NOT NULL,
	[FECHA] [smalldatetime] NOT NULL,
	[LOTE] [varchar](11) NOT NULL,
 CONSTRAINT [PK__CAT_TIPO__3214EC2745CC7819] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
