SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[CAT_FONDEOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ETIQUETA] [varchar](200) NOT NULL,
	[REGISTRO] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[CAT_FONDEOS] ADD  DEFAULT (getdate()) FOR [REGISTRO]
GO
