SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [PO].[DE_SP_INSERT_MOVIMIENTO]
(
	@ID_DESEMBOLSO	 UNIQUEIDENTIFIER,
	@CONCEPTO	VARCHAR(100),
    @MONTO	NUMERIC(18, 3),
    @CUENTA_DEPOSITAR	VARCHAR(100),
    @CLABE_INTERBANCARIA	VARCHAR(100),
    @BANCO_BENEFICIARIO	VARCHAR(100),
    @NOMBRE_BENEFICIARIO	VARCHAR(100),
	@NUMERO_DESEMBOLSO	NUMERIC(3, 0),
    @FECHA_FONDEO	DATETIME,
	@BANCO_ORIGEN	VARCHAR(100),
	@CUENTA_ORIGEN	VARCHAR(100),
	@FECHA_FONDEO_SOLICITADO	DATETIME,
	@ERROR	VARCHAR(8000),
    @REGISTRADO_POR	VARCHAR(100)
)
AS BEGIN	
	DECLARE @ID UNIQUEIDENTIFIER
	DECLARE @MONTO_ACUMULADO	NUMERIC(18, 3)
	DECLARE @MONTO_CREDITO	NUMERIC(18, 3)

	
	IF @ID is null BEGIN
		INSERT INTO [KARDIA].[PO].[DE_MOVIMIENTO]
			([ID]
			,[ID_DESEMBOLSO]
			,[ORDEN]
			,[CONCEPTO]
			,[MONTO]
			,[CUENTA_DEPOSITAR]
			,[CLABE_INTERBANCARIA]
			,[BANCO_BENEFICIARIO]
			,[NOMBRE_BENEFICIARIO]
			,[NUMERO_DESEMBOLSO]
			,[FECHA_FONDEO]
			,[BANCO_ORIGEN]
			,[CUENTA_ORIGEN]		   
			,[FECHA_FONDEO_SOLICITADO]
			,[ERROR]
			,[REGISTRADO_POR]
			,[CREADO]
			,[ACTUALIZADO])
		VALUES
			(NEWID()
			,@ID_DESEMBOLSO
			,(select coalesce(max(m1.orden), 0) + 1 from [KARDIA].[PO].[DE_MOVIMIENTO] m1 where m1.ID_DESEMBOLSO = @ID_DESEMBOLSO)
			,coalesce(@CONCEPTO, '')
			,coalesce(@MONTO, 0)
			,coalesce(@CUENTA_DEPOSITAR, '')
			,coalesce(@CLABE_INTERBANCARIA, '')
			,coalesce(@BANCO_BENEFICIARIO, '')
			,coalesce(@NOMBRE_BENEFICIARIO, '')
			,coalesce(@NUMERO_DESEMBOLSO, 0)
			,coalesce(@FECHA_FONDEO, '')
			,coalesce(@BANCO_ORIGEN, '')
			,coalesce(@CUENTA_ORIGEN, '')
			,coalesce(@FECHA_FONDEO_SOLICITADO, '')
			,coalesce(@ERROR, '')
			,coalesce(@REGISTRADO_POR, '')
			,GETDATE()
			,null
		)
	END

	SET @MONTO_ACUMULADO = (
		select sum([MONTO]) from [KARDIA].[PO].[DE_MOVIMIENTO] m
		where m.ID_DESEMBOLSO = @ID_DESEMBOLSO
	)

	SET @MONTO_CREDITO = (
		select c.MON_CREDITO
		FROM 
			[Quiero_Confianza].[PR].[PR_CREDITOS] c
			inner join [KARDIA].[po].[DE_DESEMBOLSO] d on d.COD_EMPRESA = c.COD_EMPRESA and d.COD_AGENCIA = c.COD_AGENCIA and d.NUM_CREDITO = c.NUM_CREDITO
		WHERE d.id = @ID_DESEMBOLSO
	)

	update [KARDIA].[po].[DE_DESEMBOLSO] set 
		ACTUALIZADO = GETDATE(),
		DESC_ESTATUS = 
		case 
			WHEN @MONTO_ACUMULADO = @MONTO_CREDITO THEN 'Autorizado'
		else 'En Espera'
		end
	where ID = @ID_DESEMBOLSO

END
GO
