SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_CREDITO_EXTRA_HIST](
	[ID] [uniqueidentifier] NOT NULL,
	[ID_EXTERNO] [varchar](15) NOT NULL,
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[ID_PRODUCTO_ANT] [uniqueidentifier] NOT NULL,
	[REGISTRADO_POR] [varchar](100) NOT NULL,
	[CREADO] [datetime] NOT NULL,
	[ACTUALIZADO] [datetime] NULL,
 CONSTRAINT [PK_PR_CREDITO_EXTRA_HIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
