SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_CAT_PRODUCTO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NUM_PRODUCTO] [int] NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](355) NOT NULL,
	[ID_SAF] [int] NOT NULL,
	[PRODUCTO_SAF] [varchar](355) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
