SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_EJECUCION_LOG](
	[ID_LOG] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_INI] [datetime] NOT NULL,
	[EVENTO] [varchar](100) NOT NULL,
	[DURACION] [int] NOT NULL,
 CONSTRAINT [PK_PR_EJECUCION_LOG] PRIMARY KEY CLUSTERED 
(
	[ID_LOG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
