SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas Osorio
-- Creacion:	20250725
-- Descripcion:	Vista de encabezados de archivos de COBRANZA
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_COBRANZA_ENC_LST]
AS
BEGIN
	SET NOCOUNT ON;


    SELECT TOP 24 ID, FORMAT(FECHA_SISTEMA, 'dd/MM/yyyy') as FECHA_SISTEMA, FORMAT(PARTE_ION, 'C', 'en-US') AS PARTE_ION, FORMAT(PARTE_ADM, 'C', 'en-US') AS PARTE_ADM
    FROM PO.PR_COBRANZA_ENC
    WHERE ESTATUS IN ('COMPLETO','PROCESADO')
    ORDER BY PO.PR_COBRANZA_ENC.FECHA_SISTEMA DESC

END
GO
