SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20250731
-- Descripcion:	Realiza la importacion de un txt separado por | para la cobranza de poliza sindiada
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_COBRANZA_IMPORTA]
     @ID_COBRANZA_ENC uniqueidentifier
	,@archivo varchar(max)
AS
BEGIN
	SET NOCOUNT ON;

    declare @ini int,@fin int,@tamano int,@linea int,@renglon varchar(max)
    ,@CARTERA varchar(16)
    ,@SECUENCIA varchar(16)
    ,@ID_EXTERNO varchar(64)
    ,@CONCEPTO varchar(24)
    ,@BANCO varchar(48)
    ,@DESC_TIPO_CREDITO varchar(64)
    ,@TIPO_CREDITO varchar(128)
    ,@TIPO_CARTERA varchar(24)
    ,@CEDIDO varchar(32)
    ,@ESTATUS varchar(16)
    ,@FEC_APLICACION date
    ,@PRINCIPAL decimal(12, 2)
    ,@INTERESES decimal(12, 2)
    ,@INTERESES_IVA decimal(12, 2)
    ,@SEGURO_DANOS decimal(12, 2)
    ,@SEGURO_DANOS_IVA decimal(12, 2)
    ,@SEGURO_VIDA decimal(12, 2)
    ,@MORATORIOS decimal(12, 2)
    ,@COMISION_ADMINISTRACION decimal(12, 2)
    ,@COMISION_ADMINISTRACION_IVA decimal(12, 2)
    ,@CARGO_EXTRA decimal(12, 2)
    ,@CARGO_EXTRA_IVA decimal(12, 2)
    ,@SALDO_FAVOR decimal(12, 2)
    ,@TOTAL_PAGO decimal(12, 2)
    ,@TOTAL_PAGO_BANCO decimal(12, 2)
    ,@TOTAL_APLICADO decimal(12, 2)
    ,@SALDO_FAVOR_REAL decimal(12, 2)
    ,@CONTABILIDAD varchar(4)
    ,@COVID varchar(4)
    ,@OBSERVACION varchar(256)
    ,@CAPITAL_COMPLETO decimal(12, 2)
    ,@PORCENTAJE_30 decimal(12, 2)
    ,@PORCENTAJE_70 decimal(12, 2)
    ,@COMPARATIVO decimal(12, 2)
    ,@ETAPA varchar(1)
    ,@VALIDACION varchar(128)
    ,@ID_EXTERNO_REF varchar(32)
    ,@TIPO_CREDITO_REF varchar(16)
    ,@TIPO_CARTERA_REF varchar(16)
    ,@CEDIDO_REF varchar(16)
    ,@ESTATUS_REF varchar(16)
    ,@ETAPA_REF varchar(1)
    ,@CEDIDO_CAMBIO varchar(32)
    ,@CEDIDO_FECHA date
    ,@CANAL varchar(16)
    ,@SALDO_FAVOR_REAL_REF decimal(12, 2)
    ,@A_DEVOLVER decimal(12, 2)
    ,@SHF decimal(12, 2)

    ,@ind1 int
    ,@ind2 int
    ,@ind3 int
    ,@ind4 int
    ,@ind5 int
    ,@ind6 int
    ,@ind7 int
    ,@ind8 int
    ,@ind9 int
    ,@ind10 int
    ,@ind11 int
    ,@ind12 int
    ,@ind13 int
    ,@ind14 int
    ,@ind15 int
    ,@ind16 int
    ,@ind17 int
    ,@ind18 int
    ,@ind19 int
    ,@ind20 int
    ,@ind21 int
    ,@ind22 int
    ,@ind23 int
    ,@ind24 int
    ,@ind25 int
    ,@ind26 int
    ,@ind27 int
    ,@ind28 int
    ,@ind29 int
    ,@ind30 int
    ,@ind31 int
    ,@ind32 int
    ,@ind33 int
    ,@ind34 int
    ,@ind35 int
    ,@ind36 int
    ,@ind37 int
    ,@ind38 int
    ,@ind39 int
    ,@ind40 int
    ,@ind41 int
    ,@ind42 int
    ,@ind43 int
    ,@ind44 int
    ,@ind45 int
    ,@ind46 int
    ,@ind47 int

    set @linea = 0
    set @tamano = LEN(@archivo)+1
    set @ini = 1 
    set @fin = CHARINDEX(CHAR(10),@archivo)
    
    while @ini < @fin begin

        set @renglon = replace(replace(SUBSTRING(@archivo,@ini,@fin-@ini),CHAR(10),''),CHAR(13),'')
        set @linea = @linea + 1
        if @linea > 1 begin

            set @ind1 = CHARINDEX('|',@renglon,1)
            set @ind2 = CHARINDEX('|',@renglon,@ind1+1)
            set @ind3 = CHARINDEX('|',@renglon,@ind2+1)
            set @ind4 = CHARINDEX('|',@renglon,@ind3+1)
            set @ind5 = CHARINDEX('|',@renglon,@ind4+1)
            set @ind6 = CHARINDEX('|',@renglon,@ind5+1)
            set @ind7 = CHARINDEX('|',@renglon,@ind6+1)
            set @ind8 = CHARINDEX('|',@renglon,@ind7+1)
            set @ind9 = CHARINDEX('|',@renglon,@ind8+1)
            set @ind10 = CHARINDEX('|',@renglon,@ind9+1)
            set @ind11 = CHARINDEX('|',@renglon,@ind10+1)
            set @ind12 = CHARINDEX('|',@renglon,@ind11+1)
            set @ind13 = CHARINDEX('|',@renglon,@ind12+1)
            set @ind14 = CHARINDEX('|',@renglon,@ind13+1)
            set @ind15 = CHARINDEX('|',@renglon,@ind14+1)
            set @ind16 = CHARINDEX('|',@renglon,@ind15+1)
            set @ind17 = CHARINDEX('|',@renglon,@ind16+1)
            set @ind18 = CHARINDEX('|',@renglon,@ind17+1)
            set @ind19 = CHARINDEX('|',@renglon,@ind18+1)
            set @ind20 = CHARINDEX('|',@renglon,@ind19+1)
            set @ind21 = CHARINDEX('|',@renglon,@ind20+1)
            set @ind22 = CHARINDEX('|',@renglon,@ind21+1)
            set @ind23 = CHARINDEX('|',@renglon,@ind22+1)
            set @ind24 = CHARINDEX('|',@renglon,@ind23+1)
            set @ind25 = CHARINDEX('|',@renglon,@ind24+1)
            set @ind26 = CHARINDEX('|',@renglon,@ind25+1)
            set @ind27 = CHARINDEX('|',@renglon,@ind26+1)
            set @ind28 = CHARINDEX('|',@renglon,@ind27+1)
            set @ind29 = CHARINDEX('|',@renglon,@ind28+1)
            set @ind30 = CHARINDEX('|',@renglon,@ind29+1)
            set @ind31 = CHARINDEX('|',@renglon,@ind30+1)
            set @ind32 = CHARINDEX('|',@renglon,@ind31+1)
            set @ind33 = CHARINDEX('|',@renglon,@ind32+1)
            set @ind34 = CHARINDEX('|',@renglon,@ind33+1)
            set @ind35 = CHARINDEX('|',@renglon,@ind34+1)
            set @ind36 = CHARINDEX('|',@renglon,@ind35+1)
            set @ind37 = CHARINDEX('|',@renglon,@ind36+1)
            set @ind38 = CHARINDEX('|',@renglon,@ind37+1)
            set @ind39 = CHARINDEX('|',@renglon,@ind38+1)
            set @ind40 = CHARINDEX('|',@renglon,@ind39+1)
            set @ind41 = CHARINDEX('|',@renglon,@ind40+1)
            set @ind42 = CHARINDEX('|',@renglon,@ind41+1)
            set @ind43 = CHARINDEX('|',@renglon,@ind42+1)
            set @ind44 = CHARINDEX('|',@renglon,@ind43+1)
            set @ind45 = CHARINDEX('|',@renglon,@ind44+1)
            set @ind46 = CHARINDEX('|',@renglon,@ind45+1)
            set @ind47 = CHARINDEX('|',@renglon,@ind46+1)

            if @ind47 > 0 begin
                set @CARTERA                     = SUBSTRING(@renglon,1      ,@ind1-1)
                set @SECUENCIA                   = SUBSTRING(@renglon,@ind1+1,@ind2-@ind1-1)
                set @ID_EXTERNO                  = SUBSTRING(@renglon,@ind2+1,@ind3-@ind2-1)
                set @CONCEPTO                    = SUBSTRING(@renglon,@ind3+1,@ind4-@ind3-1)
                set @BANCO                       = SUBSTRING(@renglon,@ind4+1,@ind5-@ind4-1)
                set @DESC_TIPO_CREDITO           = SUBSTRING(@renglon,@ind5+1,@ind6-@ind5-1)
                set @TIPO_CREDITO                = SUBSTRING(@renglon,@ind6+1,@ind7-@ind6-1)
                set @TIPO_CARTERA                = SUBSTRING(@renglon,@ind7+1,@ind8-@ind7-1)
                set @CEDIDO                      = SUBSTRING(@renglon,@ind8+1,@ind9-@ind8-1)
                set @ESTATUS                     = SUBSTRING(@renglon,@ind9+1,@ind10-@ind9-1)
                set @FEC_APLICACION              = CONVERT(date, SUBSTRING(@renglon,@ind10+1,@ind11-@ind10-1), 103)
                set @PRINCIPAL                   = SUBSTRING(@renglon,@ind11+1,@ind12-@ind11-1)
                set @INTERESES                   = SUBSTRING(@renglon,@ind12+1,@ind13-@ind12-1)
                set @INTERESES_IVA               = SUBSTRING(@renglon,@ind13+1,@ind14-@ind13-1)
                set @SEGURO_DANOS                = SUBSTRING(@renglon,@ind14+1,@ind15-@ind14-1)
                set @SEGURO_DANOS_IVA            = SUBSTRING(@renglon,@ind15+1,@ind16-@ind15-1)
                set @SEGURO_VIDA                 = SUBSTRING(@renglon,@ind16+1,@ind17-@ind16-1)
                set @MORATORIOS                  = SUBSTRING(@renglon,@ind17+1,@ind18-@ind17-1)
                set @COMISION_ADMINISTRACION     = SUBSTRING(@renglon,@ind18+1,@ind19-@ind18-1)
                set @COMISION_ADMINISTRACION_IVA = SUBSTRING(@renglon,@ind19+1,@ind20-@ind19-1)
                set @CARGO_EXTRA                 = SUBSTRING(@renglon,@ind20+1,@ind21-@ind20-1)
                set @CARGO_EXTRA_IVA             = SUBSTRING(@renglon,@ind21+1,@ind22-@ind21-1)
                set @SALDO_FAVOR                 = SUBSTRING(@renglon,@ind22+1,@ind23-@ind22-1)
                set @TOTAL_PAGO                  = SUBSTRING(@renglon,@ind23+1,@ind24-@ind23-1)
                set @TOTAL_PAGO_BANCO            = SUBSTRING(@renglon,@ind24+1,@ind25-@ind24-1)
                set @TOTAL_APLICADO              = SUBSTRING(@renglon,@ind25+1,@ind26-@ind25-1)
                set @SALDO_FAVOR_REAL            = SUBSTRING(@renglon,@ind26+1,@ind27-@ind26-1)
                set @CONTABILIDAD                = SUBSTRING(@renglon,@ind27+1,@ind28-@ind27-1)
                set @COVID                       = SUBSTRING(@renglon,@ind28+1,@ind29-@ind28-1)
                set @OBSERVACION                 = SUBSTRING(@renglon,@ind29+1,@ind30-@ind29-1)
                set @CAPITAL_COMPLETO            = SUBSTRING(@renglon,@ind30+1,@ind31-@ind30-1)
                set @PORCENTAJE_30               = SUBSTRING(@renglon,@ind31+1,@ind32-@ind31-1)
                set @PORCENTAJE_70               = SUBSTRING(@renglon,@ind32+1,@ind33-@ind32-1)
                set @COMPARATIVO                 = SUBSTRING(@renglon,@ind33+1,@ind34-@ind33-1)
                set @ETAPA                       = SUBSTRING(@renglon,@ind34+1,@ind35-@ind34-1)
                set @VALIDACION                  = SUBSTRING(@renglon,@ind35+1,@ind36-@ind35-1)
                set @ID_EXTERNO_REF              = SUBSTRING(@renglon,@ind36+1,@ind37-@ind36-1)
                set @TIPO_CREDITO_REF            = SUBSTRING(@renglon,@ind37+1,@ind38-@ind37-1)
                set @TIPO_CARTERA_REF            = SUBSTRING(@renglon,@ind38+1,@ind39-@ind38-1)
                set @CEDIDO_REF                  = SUBSTRING(@renglon,@ind39+1,@ind40-@ind39-1)
                set @ESTATUS_REF                 = SUBSTRING(@renglon,@ind40+1,@ind41-@ind40-1)
                set @ETAPA_REF                   = SUBSTRING(@renglon,@ind41+1,@ind42-@ind41-1)
                set @CEDIDO_CAMBIO               = SUBSTRING(@renglon,@ind42+1,@ind43-@ind42-1)
                set @CEDIDO_FECHA                = CONVERT(date, SUBSTRING(@renglon,@ind43+1,@ind44-@ind43-1), 103)
                set @CANAL                       = SUBSTRING(@renglon,@ind44+1,@ind45-@ind44-1)
                set @SALDO_FAVOR_REAL_REF        = SUBSTRING(@renglon,@ind45+1,@ind46-@ind45-1)
                set @A_DEVOLVER                  = SUBSTRING(@renglon,@ind46+1,@ind47-@ind46-1)
                set @SHF                         = SUBSTRING(@renglon,@ind47+1,len(@renglon)-@ind47)


                INSERT INTO PO.PR_COBRANZA_DET
                       ( ID, ID_COBRANZA_ENC, CARTERA, SECUENCIA, ID_EXTERNO, CONCEPTO, BANCO, DESC_TIPO_CREDITO, TIPO_CREDITO, TIPO_CARTERA, CEDIDO, ESTATUS, FEC_APLICACION, PRINCIPAL, INTERESES, INTERESES_IVA, 
                        SEGURO_DANOS, SEGURO_DANOS_IVA, SEGURO_VIDA, MORATORIOS, COMISION_ADMINISTRACION, COMISION_ADMINISTRACION_IVA, CARGO_EXTRA, CARGO_EXTRA_IVA, SALDO_FAVOR, TOTAL_PAGO, 
                        TOTAL_PAGO_BANCO, TOTAL_APLICADO, SALDO_FAVOR_REAL, CONTABILIDAD, COVID, OBSERVACION, CAPITAL_COMPLETO, PORCENTAJE_30, PORCENTAJE_70, COMPARATIVO, ETAPA, VALIDACION, ID_EXTERNO_REF, 
                        TIPO_CREDITO_REF, TIPO_CARTERA_REF, CEDIDO_REF, ESTATUS_REF, ETAPA_REF, CEDIDO_CAMBIO, CEDIDO_FECHA, CANAL, SALDO_FAVOR_REAL_REF, A_DEVOLVER, SHF, ID_SECUENCIA
                        )
                VALUES (NEWID(), @ID_COBRANZA_ENC, @CARTERA, @SECUENCIA, @ID_EXTERNO, @CONCEPTO, @BANCO, @DESC_TIPO_CREDITO, @TIPO_CREDITO, @TIPO_CARTERA, @CEDIDO, @ESTATUS, @FEC_APLICACION, @PRINCIPAL, @INTERESES, @INTERESES_IVA,
                    @SEGURO_DANOS, @SEGURO_DANOS_IVA, @SEGURO_VIDA, @MORATORIOS, @COMISION_ADMINISTRACION, @COMISION_ADMINISTRACION_IVA, @CARGO_EXTRA, @CARGO_EXTRA_IVA, @SALDO_FAVOR, @TOTAL_PAGO,
                    @TOTAL_PAGO_BANCO, @TOTAL_APLICADO, @SALDO_FAVOR_REAL, @CONTABILIDAD, @COVID, @OBSERVACION, @CAPITAL_COMPLETO, @PORCENTAJE_30, @PORCENTAJE_70, @COMPARATIVO, @ETAPA, @VALIDACION, @ID_EXTERNO_REF,
                    @TIPO_CREDITO_REF, @TIPO_CARTERA_REF, @CEDIDO_REF, @ESTATUS_REF, @ETAPA_REF, @CEDIDO_CAMBIO, @CEDIDO_FECHA, @CANAL, @SALDO_FAVOR_REAL_REF, @A_DEVOLVER, @SHF,dbo.FN_SOLO_NUMEROS(@SECUENCIA))

            end
        end 

        if  @fin = @tamano begin
            break
        end 

        set @ini = @fin
        set @fin = CHARINDEX(CHAR(10),@archivo,@fin+1)

        if @fin = 0 begin
            set @fin = @tamano
        end 

    end

    --  Resumen de carga -----------------------------------------------------------------------------------
    DECLARE @CONTEO_ION INT
        ,@CONTEO_ADM INT
        ,@PARTE_ION decimal(12,2)
        ,@PARTE_ADM decimal(12,2)
    

    SELECT @CONTEO_ION = count(*),@PARTE_ION = SUM(TOTAL_PAGO)
    FROM PO.PR_COBRANZA_DET
    WHERE ID_COBRANZA_ENC = @ID_COBRANZA_ENC
        AND CARTERA = 'ION'

    SELECT @CONTEO_ADM = count(*),@PARTE_ADM = SUM(TOTAL_PAGO)
    FROM PO.PR_COBRANZA_DET
    WHERE ID_COBRANZA_ENC = @ID_COBRANZA_ENC
        AND CARTERA != 'ION'


    UPDATE PO.PR_COBRANZA_ENC
    SET PARTE_ION = @PARTE_ION
        ,PARTE_ADM = @PARTE_ADM
        ,ESTATUS = 'COMPLETO'
    WHERE ID = @ID_COBRANZA_ENC


    SELECT @CONTEO_ION + @CONTEO_ADM as CONTEO
        ,@PARTE_ION AS PARTE_ION
        ,@PARTE_ADM AS PARTE_ADM


END
GO
