SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_RUBRO_HIST](
	[ID] [uniqueidentifier] NOT NULL,
	[COD_EMPRESA] [varchar](5) NOT NULL,
	[COD_AGENCIA] [varchar](5) NOT NULL,
	[NUM_CREDITO] [numeric](8, 0) NOT NULL,
	[COD_RUBRO] [varchar](35) NOT NULL,
	[NUM_SECUENCIA] [numeric](5, 0) NOT NULL,
	[NUM_DET_SECUENCIA] [numeric](5, 0) NOT NULL,
	[MON_RUBRO] [decimal](24, 6) NOT NULL,
	[MON_IVA] [decimal](24, 6) NOT NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
 CONSTRAINT [PK_SAF_RUBRO_HIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_RUBRO_HIST] ADD  CONSTRAINT [DF_SAF_RUBRO_HIST_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[SAF_RUBRO_HIST] ADD  CONSTRAINT [DF_SAF_RUBRO_HIST_FECHA_GENERACION]  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
