SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_MOV_INTERES](
	[ID] [uniqueidentifier] NOT NULL,
	[ID_EXTERNO] [varchar](15) NOT NULL,
	[NUM_CREDITO] [int] NOT NULL,
	[COD_CLIENTE] [varchar](15) NOT NULL,
	[NOM_CLIENTE] [varchar](250) NULL,
	[ID_CONCEPTO] [int] NULL,
	[CONCEPTO] [varchar](255) NULL,
	[CUENTA_CARGO] [varchar](100) NULL,
	[CUENTA_ABONO] [varchar](100) NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](255) NULL,
	[ID_FONDEO] [int] NOT NULL,
	[RUBRO] [varchar](35) NOT NULL,
	[MONTO] [numeric](20, 6) NOT NULL,
	[MON_PAGO_IVA] [numeric](20, 6) NULL,
	[IND_FORMA_PAGO] [int] NULL,
	[ID_TIPO_CREDITO] [int] NULL,
	[TIPO_CREDITO] [varchar](50) NULL,
	[TIPO_VIVIENDA] [varchar](50) NULL,
	[IND_ESTADO] [varchar](2) NOT NULL,
	[CARTERA_VENCIDA] [varchar](2) NULL,
	[IND_IVA_INTERES] [varchar](1) NULL,
	[POR_IVA_INTERES] [numeric](10, 4) NULL,
	[FECHA_MOVIMIENTO] [date] NULL,
	[IND_ETAPA] [int] NULL,
	[FEC_APERTURA] [date] NULL,
	[CEDIDO] [varchar](255) NULL,
	[IND_POSPOSICION] [varchar](1) NULL,
	[FECHA] [datetime] NOT NULL,
	[IND_COVID] [varchar](1) NULL,
	[CONCEPTO_FINAL] [varchar](30) NULL,
	[TABLA_ORIGEN] [varchar](20) NULL,
	[ID_POLIZA] [int] NULL,
	[CANAL] [varchar](30) NULL,
 CONSTRAINT [PK__SAF_MOV___3214EC275936DA4D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_MOV_INTERES] ADD  CONSTRAINT [DF_SAF_MOV_INTERES_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[SAF_MOV_INTERES] ADD  CONSTRAINT [DF_SAF_MOV_INTERES_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
