SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_SND_CONDONACION]
(
     @ID_DEVENGO_ENC UNIQUEIDENTIFIER
    ,@ID_CAPITAL_ENC UNIQUEIDENTIFIER
    ,@ID_COBRANZA_ENC UNIQUEIDENTIFIER
    ,@ID_MINISTRACIONES_ENC UNIQUEIDENTIFIER
	,@FECHA_INICIO DATE
    ,@FECHA_FIN_DIA date
    ,@FECHAS_POL FECHAS_POLIZA_TIPO READONLY
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 81 -- condonacion comercial sindicada

	BEGIN TRY
		BEGIN TRANSACTION

		DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA

		SELECT C.ID_EXTERNO
			,0 AS NUM_CREDITO
			,'' AS NOM_CLIENTE
			,0 AS ID_PRODUCTO
            ,CP.NOMBRE_CORTO AS NOMBRE_PRODUCTO
			,IIF(TIPO_CARTERA = 'RESTRINGIDO', 1, 2) AS ID_FONDEO
			,CASE BANCO WHEN 'Descarga favor' THEN 5 ELSE 0 END AS IND_FORMA_PAGO
			,7 AS ID_TIPO_CREDITO
			,CP.NOMBRE_CORTO AS TIPO_CREDITO
			,C.FEC_APLICACION AS FECHA_MOVIMIENTO
			,4 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,C.ETAPA AS IND_ETAPA
			,C.CEDIDO
			,C.ID_SECUENCIA
			,0 AS ID_REFERENCIA
			,CASE BANCO WHEN 'STP/6461824110000000' THEN 2070 WHEN 'Descarga favor' THEN 0 WHEN 'Reclasificación' THEN 2080 ELSE CT.ID_CUENTA END AS ID_CUENTA
			,CASE WHEN covid = '' THEN 'N' ELSE 'S' END AS IND_COVID
			,'CON COM SND ION' AS TABLA_ORIGEN
			,@ID_POLIZA AS ID_POLIZA
            ,CASE WHEN C.OBSERVACION LIKE '%CUENTAS DE ORDEN%' THEN 'C.O.' ELSE '' END AS TIPO_VIVIENDA
			,'' AS REVERSO
			,IIF(CANAL = 'MINORISTA', 'MINORISTA', 'COMERCIAL') AS CANAL
			,BANCO AS BANCO_RECEPTOR
 			,C.PRINCIPAL
			,C.INTERESES
			,C.INTERESES_IVA
			,C.SEGURO_DANOS
			,C.SEGURO_DANOS_IVA
			,C.SEGURO_VIDA
			,C.MORATORIOS
			,C.COMISION_ADMINISTRACION
			,C.COMISION_ADMINISTRACION_IVA
			,C.CARGO_EXTRA
			,C.CARGO_EXTRA_IVA
			,C.SALDO_FAVOR
			,C.TOTAL_PAGO
			,C.TOTAL_PAGO_BANCO
			,C.TOTAL_APLICADO
			,C.SALDO_FAVOR_REAL
			,C.OBSERVACION
		INTO #COB_ION
        FROM PO.PR_COBRANZA_DET C
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE CT ON BANCO like '%'+substring(CT.num_cuenta,1,10) or BANCO like '%'+substring(CT.num_cuenta,1,11)
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.CARTERA = 'ION'
			AND C.CEDIDO IN ('SHF Sind-3226','SHF Sind-5028','SHF Sind-2662','SHF Sind-2875')
			AND (C.OBSERVACION like '%condonación%' or observacion like '%condonacion%')
			AND C.TOTAL_PAGO > 0
			AND C.ID_COBRANZA_ENC = @ID_COBRANZA_ENC


		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'PRINCIPAL' AS RUBRO, PRINCIPAL AS MONTO,0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE PRINCIPAL > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'INTERESES' AS RUBRO, INTERESES AS MONTO, INTERESES_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE INTERESES > 0 OR INTERESES_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'SEGURO_VIDA' AS RUBRO, SEGURO_VIDA AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE SEGURO_VIDA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'SEGURO_DANOS' AS RUBRO, SEGURO_DANOS AS MONTO, SEGURO_DANOS_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE SEGURO_DANOS > 0 OR SEGURO_DANOS_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'MORATORIOS' AS RUBRO, MORATORIOS AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE MORATORIOS > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'COMISION_ADMINISTRACION' AS RUBRO, COMISION_ADMINISTRACION AS MONTO, COMISION_ADMINISTRACION_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE COMISION_ADMINISTRACION > 0 OR COMISION_ADMINISTRACION_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'COM_PRORROGA' AS RUBRO, CARGO_EXTRA AS MONTO, CARGO_EXTRA_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE (CARGO_EXTRA > 0 OR CARGO_EXTRA_IVA > 0) AND OBSERVACION LIKE '%COM_PRORROGA%'

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'VISITA_EXTRA' AS RUBRO, CARGO_EXTRA AS MONTO, CARGO_EXTRA_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE (CARGO_EXTRA > 0 OR CARGO_EXTRA_IVA > 0) AND OBSERVACION LIKE '%VISITA_EXTRA%'

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'SALDO_FAVOR' AS RUBRO, SALDO_FAVOR AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE SALDO_FAVOR > 0


		---# Crea un nuevo registro si existe IVA en el universo extraido
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
				TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA,ID_REFERENCIA,ID_CUENTA, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA,
				ID_CUENTA, IND_COVID, APELLIDO, TABLA_ORIGEN, @ID_POLIZA, CANAL
		FROM PO.SAF_MOV_ABONO
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
		    AND MON_PAGO_IVA != 0

		--- CALIFICACION BASE DEL CONCEPTO DEACUERDO A REGLAS GLOBALES
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = CONCAT(
				'CMR ',
				IIF(TIPO_VIVIENDA = 'C.O.', 'PAGO CCO ',IIF(ID_CUENTA IN ('140103009001','140103009002'), 'BONIFICACION ', 'CONDONACION ')),
				IIF(IND_COVID = 'S', 'COVID ', ''), --# Si el registro tiene COVID le agrega la palabra
				IIF(CONCEPTO='PREPAGO',RUBRO+' CANC ',RUBRO),--# le agrega el rubro
				-- tipo_credito
				CASE WHEN RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') THEN ''
					ELSE ' '+TIPO_CREDITO+' '
				END,
				-- canal
				CASE WHEN RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') THEN ''
					ELSE CANAL
				END,
				-- espacio para continuar con cedido
				IIF(RUBRO LIKE '%IVA%' OR RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') ,'',' '),
				-- 'NO' OPCIONAL PARA CEDIDO
				CASE WHEN RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') THEN ''
					WHEN RUBRO LIKE '%IVA%' THEN ''
					ELSE IIF(ID_FONDEO = 2, 'NO ', '')
				END,
				-- RESTRINGIDO
				CASE WHEN RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') THEN ''
					WHEN RUBRO LIKE '%IVA%' THEN ''
					ELSE 'RESTRINGIDO '
				END,
				-- ETAPA
                CASE WHEN RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') THEN ''
					WHEN RUBRO LIKE '%IVA%' THEN ''
					ELSE CAST(IND_ETAPA AS VARCHAR(1))
				END) 
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND ID_POLIZA = @ID_POLIZA


		--- ASIGNACION DE CUENTAS
		UPDATE H 
		SET CONCEPTO_FINAL = LEFT(
		CONCAT(CASE
		WHEN ID_CUENTA = '140103009001' THEN 'CMR BNF '
		WHEN ID_CUENTA = '140103009002' THEN 'CMR BNF '
		ELSE 'CMR CND '
		END,
		ID_EXTERNO, ' ', NOM_CLIENTE), 100)
		FROM PO.SAF_MOV_ABONO H 
		WHERE H.FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
		AND H.ID_POLIZA = @ID_POLIZA


		UPDATE H SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
			SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE 
			H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
			SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE 
			H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND H.ID_POLIZA = @ID_POLIZA
	    

		--no deben quedar nulos en las cuentas
        UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA and CUENTA_CARGO is null


	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		exec CursorCloseDeallocate 'db_cursor_COM_SND_condonacion'
        DECLARE db_cursor_COM_SND_condonacion CURSOR FOR

            SELECT fecha
			from @FECHAS_POL

        OPEN db_cursor_COM_SND_condonacion  
            FETCH NEXT FROM db_cursor_COM_SND_condonacion
            INTO @FECHA_INICIO
        WHILE @@FETCH_STATUS = 0 BEGIN  
		
		    INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		    SELECT A.CONCEPTO_FINAL, A.CUENTA_CARGO, 
			    CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			    CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
            FROM [PO].[SAF_MOV_ABONO] A 
            WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			    AND A.ID_POLIZA = @ID_POLIZA
                --AND TABLA_ORIGEN = 'CON COM SND TOT'
		    GROUP BY A.CONCEPTO_FINAL, A.CUENTA_CARGO
		
		    INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		    SELECT CONCEPTO_FINAL, A.CUENTA_ABONO, 
			    CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			    CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		    FROM [PO].[SAF_MOV_ABONO] A 
		    WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			    AND A.ID_POLIZA = @ID_POLIZA
                --AND TABLA_ORIGEN != 'CON COM SND TOT'
		    GROUP BY A.CUENTA_ABONO, CONCEPTO_FINAL

            exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA
		
			TRUNCATE TABLE #POLIZAF

            FETCH NEXT FROM db_cursor_COM_SND_condonacion
            INTO @FECHA_INICIO
        END 

        CLOSE db_cursor_COM_SND_condonacion  
        DEALLOCATE db_cursor_COM_SND_condonacion

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       , '00010101'   ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
