SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [PO].[SYS_SP_REGISTRO_AVALUO]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
	INSERT INTO PO.SAF_ERRORES_POLIZA(CONCEPTO, FECHA_POLIZA)
	SELECT CONCAT('NO EXISTE EL CONCEPTO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NULL UNION
	SELECT CONCAT('NO EXISTE EL CONCEPTO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NULL UNION
	SELECT CONCAT('NO EXISTE EL CONCEPTO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_INTERES WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NULL UNION
	SELECT CONCAT('NO EXISTE EL CONCEPTO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_MORATORIO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NULL UNION
	SELECT CONCAT('NO EXISTE EL CONCEPTO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_X_IDENTIFICAR WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NULL UNION
	SELECT CONCAT('NO EXISTE EL CONCEPTO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_TRASPASO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NULL UNION
	SELECT CONCAT('NO EXISTE EL CONCEPTO (', CONCEPTO,'), NOM_CLIENTE (', NOM_CLIENTE,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_DEVOLUCIONES WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NULL	
	--UNION
	--SELECT CONCAT('NO EXISTE EL CONCEPTO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')', ''), FECHA_MOVIMIENTO FROM PO.SAF_MOV_X_IDENTIFICAR WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NULL


	INSERT INTO PO.SAF_ERRORES_POLIZA(CONCEPTO, FECHA_POLIZA)
	SELECT CONCAT('FALTA CUENTA ABONO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_ABONO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA ABONO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_ABONO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA ABONO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_INTERES WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_ABONO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA ABONO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_MORATORIO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_ABONO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA ABONO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_X_IDENIFICAR WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_ABONO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA ABONO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_TRASPASO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_ABONO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA ABONO (', CONCEPTO,'), NOM_CLIENTE (', NOM_CLIENTE,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_DEVOLUCIONES WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_ABONO IS NULL
	--UNION
	--SELECT CONCAT('NO EXISTE EL CONCEPTO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')', ''), FECHA_MOVIMIENTO FROM PO.SAF_MOV_X_IDENTIFICAR WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_ABONO IS NULL 


	INSERT INTO PO.SAF_ERRORES_POLIZA(CONCEPTO, FECHA_POLIZA)
	SELECT CONCAT('FALTA CUENTA CARGO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_CARGO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA CARGO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_CARGO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA CARGO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_INTERES WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_CARGO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA CARGO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_MORATORIO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_CARGO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA CARGO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_X_IDENTIFICAR WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_CARGO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA CARGO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_TRASPASO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_CARGO IS NULL UNION
	SELECT CONCAT('FALTA CUENTA CARGO (', CONCEPTO,'), NOM_CLIENTE (', NOM_CLIENTE,')-', ID_POLIZA), FECHA_MOVIMIENTO FROM PO.SAF_MOV_DEVOLUCIONES WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_CARGO IS NULL 
	--UNION
	--SELECT CONCAT('NO EXISTE EL CONCEPTO (', CONCEPTO,'), CREDITO (', NUM_CREDITO,')', ''), FECHA_MOVIMIENTO FROM PO.SAF_MOV_X_IDENTIFICAR WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_INICIO AND ID_CONCEPTO IS NOT NULL AND CUENTA_CARGO IS NULL

END

GO
