SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas Osorio
-- Creacion:	20250725
-- Descripcion:	Cambia el estatus en la tabla de capital
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_CAPITAL_EST_ACT]
	 @ID_CAPITAL_ENC uniqueidentifier
     ,@ESTATUS varchar(10)
AS
BEGIN
	SET NOCOUNT ON;

    UPDATE PO.PR_CAPITAL_ENC
    SET ESTATUS = @ESTATUS
    WHERE ID = @ID_CAPITAL_ENC


END
GO
