SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_IND_VENTA_CARTERA]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @ID_POLIZA INT = 46

	BEGIN TRY
		BEGIN TRANSACTION
			
		-- SE BORRA INFORMACION DEL DIA EN CASO DE QUE EXISTE
		DELETE FROM PO.SAF_MOV_TRASPASO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA 
        --------------------------------- EXTRACCION --------------------------------------------
		-- EXTRACCION ADMIN
		Select NUM_DESC_TIPO_CREDITO INTO #ADM 
		from Quiero_Confianza.PR.PR_DESC_TIPOS_CREDITO
		WHERE DESC_TIPO_CREDITO LIKE 'ADMINISTRACION INDIVIDUAL%'
		AND COD_EMPRESA='001'

		--DIA ACTUAL: CREDITOS CON NUM DE CARTERA ADMINISTRADA
		SELECT * INTO #CRED FROM PO.CONTROL_HISTORICO_TRASPASOS WHERE FECHA_SISTEMA = @FECHA_INICIO 
		AND NUM_DESC_TIPO_CREDITO IN (SELECT * FROM #ADM)
		
		--DIA ANTERIOR: CREDITOS CON NUM DE CARTERA NO ADMINISTRADA INDIVIDUAL
		SELECT * INTO #CRED_ANT FROM PO.CONTROL_HISTORICO_TRASPASOS WHERE FECHA_SISTEMA = DATEADD(D,-1,@FECHA_INICIO) 
		AND NUM_DESC_TIPO_CREDITO IN (1, 3, /*4,*/ 9, 10, 11, 16, 17)
		
		--------------------------------- FIN EXTRACCION --------------------------------------------
		--------------------------------- LOGICA DE TRASPASOS --------------------------------------------		
		-- DECLARACION DE VARIABLES
		DECLARE  @ID_EXTERNO			VARCHAR(15),	@NUM_CREDITO		INT
				 ,@NOM_CLIENTE		    VARCHAR(250)
				 ,@ID_PRODUCTO		    INT
				 ,@ID_TIPO_CREDITO		INT
				 ,@IND_ETAPA_ACTUAL	    INT,            @IND_ETAPA_ANTERIOR	INT = 0
				 ,@ID_FONDEO_ACTUAL		INT,			@ID_FONDEO_ANTERIOR	INT
                 ,@TIPO_VIVIENDA		VARCHAR(50),    @TIPO_V_ANT			VARCHAR(150)
				 ,@ES_TRASPASO		    VARCHAR(1) = 'S'
				 ,@LEYENDA				VARCHAR(70),	@EL_ID_FONDEO		VARCHAR(16)
				 ,@EL_ID_PRODUCTO		VARCHAR(11)
				 ,@TIPO_TRASPASO		INT = 0
				 ,@CRED_ANT		    	INT
                 ,@IND_ETAPA_RIESGO_MANUAL VARCHAR(1),	@MAX_INDICE		INT
				 ,@INDICE				INT = 0,		@RUBRO			    VARCHAR(30)
				 ,@FECHA_MOVIMIENTO	DATE,				@IND_ESTADO		VARCHAR(2)
				 ,@FECHA_ACTUAL	DATE,					@ID_UNICO			VARCHAR(150)
				 ,@CONCEPTO_FINAL	VARCHAR(30),		@NUM_CREDITO_ANT	NUMERIC(8, 0) = 0
				 ,@TOTAL				DECIMAL(16,2) = 0,	@EL_RUBRO			VARCHAR(30) = ''
				 ,@ORDEN				DECIMAL(16,2),	@BANDERA			INT

		DECLARE @MONTO NUMERIC(16,2) = 0,
			@MON_TRASPASO_COVID NUMERIC(16,2) = 0,
            @FECHA_INICIO_REF date,
            @FECHA_SISTEMA date

		declare @MONTO_OFFSET numeric(16,6),@ORDEN_TOT numeric(16,6),@DIAS_PERIODO_INTERNO int,@fecha_ref date, @Dias_offset int
		--# variables para uso de la separacion balance/orden
		DECLARE @SUMA89 NUMERIC(16, 2), @SUMA90 NUMERIC(16, 2), @FAVOR NUMERIC(16, 2), @IMPAGO DATE, @ETAPA_3_INI  DATE, @DIA_CORTE int,@DIA_CORTE_REAL INT
		

        DECLARE db_cursor_poliza_traspaso CURSOR FOR

		    SELECT C.ID_EXTERNO, A.NUM_CREDITO, CL.NOM_CLIENTE, C.NUM_DESC_TIPO_CREDITO,
			    ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
                , I.IND_ETAPA, A.IND_ETAPA
                , I.TIPO_VIVIENDA, A.TIPO_VIVIENDA
                , I.ID_FONDEO, A.ID_FONDEO
                , 'N'
		    FROM #CRED I
		    INNER JOIN #CRED_ANT A ON I.NUM_CREDITO = A.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza.PR.PR_CREDITOS C ON I.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza.CL.CL_CLIENTES CL ON C.COD_CLIENTE = CL.COD_CLIENTE
		    LEFT JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
		    
        OPEN db_cursor_poliza_traspaso
            FETCH NEXT FROM db_cursor_poliza_traspaso
            INTO  @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_TIPO_CREDITO, @ID_PRODUCTO
                , @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR, @TIPO_VIVIENDA, @TIPO_V_ANT, @ID_FONDEO_ACTUAL ,@ID_FONDEO_ANTERIOR
                , @IND_ETAPA_RIESGO_MANUAL

         WHILE @@FETCH_STATUS = 0
        BEGIN

    set @FECHA_INICIO_REF = NULL -- @FECHA_INICIO 
    set @FECHA_SISTEMA = DATEADD(DD,1,@FECHA_INICIO)

	-- # TRASPASO DE INTERESES
	SELECT
		@MONTO =
		ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
			WHERE FEC_COBRO <= @FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES'
			AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0) +
		ISNULL((SELECT mon_int_acumulado FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
			WHERE @FECHA_INICIO > FEC_BASE_CALC AND @FECHA_SISTEMA <= FEC_COBRO AND A.IND_ESTADO = 'P' AND 
			A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES' AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0) -
		ISNULL((SELECT SUM(MON_DIARIO) FROM Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA
		WHERE NUM_CREDITO = @NUM_CREDITO
		AND FECHA_CALCULO IN(@FECHA_INICIO_REF, @FECHA_SISTEMA)),0), -- SE EJECUTA CUANDO EL SISTEMA ESTA EN T+1
					
	-- # TRASPASO DE INTERESES COVID
		@MON_TRASPASO_COVID = 
		ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
			WHERE FEC_COBRO <=@FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES'
			AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0) +
		ISNULL((SELECT mon_int_acumulado FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
			WHERE @FECHA_INICIO > FEC_BASE_CALC AND @FECHA_SISTEMA <= FEC_COBRO AND A.IND_ESTADO = 'P' AND 
			A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES' AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0)
				
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO_ACTUAL, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'INTERESES', @MONTO, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA', @ID_POLIZA, '','','P'
	
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, IND_COVID)
	SELECT 
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO_ACTUAL, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'INTERESES', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA', @ID_POLIZA, '','','P','S'

	-- # TRASPASO DE IVA INTERESES
	SELECT
		@MONTO =
		CASE WHEN (SELECT IND_IVA FROM Quiero_Confianza.PR.PR_RUBRO_X_CREDITO WHERE NUM_CREDITO = @NUM_CREDITO AND COD_RUBRO = 'INTERESES') = 'N' THEN 0
		ELSE 
			ISNULL((SELECT SUM(SAL_IVA) FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
				WHERE FEC_COBRO <= @FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES'
				AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0) 
				+ 0.16*
			(ISNULL((SELECT mon_int_acumulado FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
				WHERE @FECHA_INICIO > FEC_BASE_CALC AND @FECHA_SISTEMA <= FEC_COBRO AND A.IND_ESTADO = 'P' AND 
				A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES' AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0))
				-
				0.16*
			(ISNULL((SELECT SUM(MON_DIARIO) FROM Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA
			WHERE NUM_CREDITO = @NUM_CREDITO
			AND FECHA_CALCULO IN(@FECHA_INICIO_REF, @FECHA_SISTEMA)),0)) 
		END, -- SE EJECUTA CUANDO EL SISTEMA ESTA EN T+1// END CASE
					
	-- # TRASPASO DE IVA INTERESES COVID
		@MON_TRASPASO_COVID = 
		CASE WHEN (SELECT IND_IVA FROM Quiero_Confianza.PR.PR_RUBRO_X_CREDITO WHERE NUM_CREDITO = @NUM_CREDITO AND COD_RUBRO = 'INTERESES') = 'N' THEN 0
		ELSE
			ISNULL((SELECT SUM(SAL_IVA) FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
				WHERE FEC_COBRO <=@FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES'
				AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0) 
				+
			0.16*
			(ISNULL((SELECT mon_int_acumulado FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
				WHERE @FECHA_INICIO > FEC_BASE_CALC AND @FECHA_SISTEMA <= FEC_COBRO AND A.IND_ESTADO = 'P' AND 
				A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES' AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0))
		END -- END CASE

	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO_ACTUAL, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'IVA INTERESES', @MONTO, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA', @ID_POLIZA, '','','P'
	
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, IND_COVID)
	SELECT 
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO_ACTUAL, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'IVA INTERESES', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA', @ID_POLIZA, '','','P','S'

	-- # TRASPASO PRINCIPAL
	SELECT @MONTO = 0, @MON_TRASPASO_COVID = 0
	SELECT 
		@MONTO =
		ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WHERE 
		A.NUM_CREDITO = @NUM_CREDITO AND A.COD_RUBRO = 'PRINCIPAL' AND A.IND_ESTADO = 'P' AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0),
	-- # TRASPASO PRINCIPAL COVID
		@MON_TRASPASO_COVID = 
		ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WHERE 
		A.NUM_CREDITO = @NUM_CREDITO AND A.COD_RUBRO = 'PRINCIPAL' AND A.IND_ESTADO = 'P' AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0)
				
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO_ACTUAL, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'PRINCIPAL', @MONTO, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA', @ID_POLIZA, '','','P'

	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, IND_COVID)
	SELECT 
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO_ACTUAL, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'PRINCIPAL', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA', @ID_POLIZA, '','','P','S'

	-- # TRASPASO DE MORATORIOS
	SET	@MONTO =
	ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
	WHERE FEC_COBRO <= @FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO
	AND A.Cod_Rubro IN ('MORATORIOS') AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0)

    SET @MONTO_OFFSET =
	ISNULL((SELECT SUM(MON_DIARIO) FROM Quiero_Confianza.PR.PR_CALCULO_MORA_DIA
	WHERE NUM_CREDITO = @NUM_CREDITO
	AND FECHA_CALCULO IN(@FECHA_INICIO_REF, @FECHA_SISTEMA)),0) -- SE EJECUTA CUANDO EL SISTEMA ESTA EN T+1

    SET @MONTO = CASE WHEN @MONTO - @MONTO_OFFSET > 0 THEN @MONTO - @MONTO_OFFSET ELSE @MONTO END

	-- # TRASPASO MORATORIO COVID
	SET @MON_TRASPASO_COVID = 
	ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
	WHERE 
	--FEC_EXIGIBLE_PAGO <= @FECHA_INICIO AND 
	A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO
	AND A.Cod_Rubro IN ('MORATORIOS') AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0)

	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO_ACTUAL, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'MORATORIOS', @MONTO, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA COM', @ID_POLIZA, '','','P'

	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, IND_COVID)
	SELECT 
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO_ACTUAL, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'MORATORIOS', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA COM', @ID_POLIZA, '','','P','S'

	-- # TRASPASO DE IVA MORATORIOS
	SET	@MONTO =
	ISNULL((SELECT SUM(SAL_IVA) FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
	WHERE FEC_COBRO <= @FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO
	AND A.Cod_Rubro IN ('MORATORIOS') AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0)

    SET @MONTO_OFFSET = 0.16*
	ISNULL((SELECT SUM(MON_DIARIO) FROM Quiero_Confianza.PR.PR_CALCULO_MORA_DIA
	WHERE NUM_CREDITO = @NUM_CREDITO
	AND FECHA_CALCULO IN(@FECHA_INICIO_REF, @FECHA_SISTEMA)),0) -- SE EJECUTA CUANDO EL SISTEMA ESTA EN T+1

    SET @MONTO = CASE WHEN @MONTO - @MONTO_OFFSET > 0 THEN @MONTO - @MONTO_OFFSET ELSE @MONTO END

	-- # TRASPASO IVA MORATORIO COVID
	SET @MON_TRASPASO_COVID = 
	ISNULL((SELECT SUM(SAL_IVA) FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A 
	WHERE 
	--FEC_EXIGIBLE_PAGO <= @FECHA_INICIO AND 
	A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO
	AND A.Cod_Rubro IN ('MORATORIOS') AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0)
	
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO_ACTUAL, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'IVA MORATORIOS', @MONTO, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA COM', @ID_POLIZA, '','','P'

	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, IND_COVID)
	SELECT 
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO_ACTUAL, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'IVA MORATORIOS', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA COM', @ID_POLIZA, '','','P','S'


	---------------- AJUSTE QUERY SEGUROS Y COMISIONES
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, IND_COVID)
	
	SELECT @ID_EXTERNO, NUM_CREDITO, @NOM_CLIENTE,  @ID_FONDEO_ACTUAL, @ID_PRODUCTO,
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		COD_RUBRO, SUM(SAL_RUBRO), @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA', @ID_POLIZA, '','','P',dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO)
		
		FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WHERE 
		A.NUM_CREDITO = @NUM_CREDITO 
		AND A.COD_RUBRO NOT IN ('PRINCIPAL','SALDO_FAVOR','COMISION_PREPAGO','INTERESES','MORATORIOS')
		AND A.IND_ESTADO = 'P' 
		AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'
		AND Fec_Cobro <= @FECHA_INICIO
		GROUP BY NUM_CREDITO, COD_RUBRO, dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO)

	---------------- AJUSTE QUERY IVA SEGUROS Y COMISIONES
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, IND_COVID)
	
	SELECT @ID_EXTERNO, NUM_CREDITO, @NOM_CLIENTE,  @ID_FONDEO_ACTUAL, @ID_PRODUCTO,
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		CONCAT('IVA ',COD_RUBRO), SUM(SAL_IVA), @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA_ACTUAL,
		'VENTA CARTERA', @ID_POLIZA, '','','P',dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO)
	FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WHERE 
		A.NUM_CREDITO = @NUM_CREDITO 
		AND A.COD_RUBRO NOT IN ('PRINCIPAL','SALDO_FAVOR','COMISION_PREPAGO','INTERESES','MORATORIOS')
		AND A.IND_ESTADO = 'P' 
		AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'
		AND Fec_Cobro <= @FECHA_INICIO
	GROUP BY NUM_CREDITO, COD_RUBRO, dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO)

            FETCH NEXT FROM db_cursor_poliza_traspaso
            INTO  @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_TIPO_CREDITO, @ID_PRODUCTO
                , @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR, @TIPO_VIVIENDA, @TIPO_V_ANT, @ID_FONDEO_ACTUAL ,@ID_FONDEO_ANTERIOR
                , @IND_ETAPA_RIESGO_MANUAL
        END 

        CLOSE db_cursor_poliza_traspaso
        DEALLOCATE db_cursor_poliza_traspaso
--------------------------------- FIN LOGICA DE TRASPASOS --------------------------------------------
		
	-- ELIMINACION DE REGISTROS NO NECESARIOS
	DELETE FROM PO.SAF_MOV_TRASPASO WHERE MONTO = 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
	--DELETE FROM PO.SAF_MOV_TRASPASO WHERE CONCEPTO IS NULL AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
 
    update PO.SAF_MOV_TRASPASO
    set IND_COVID = ''
    where FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA
        and IND_COVID is null

	--- UPDATE CONCEPTO ACT
 	UPDATE PO.SAF_MOV_TRASPASO
			SET CONCEPTO = CONCAT('PAGO ',
			CASE
				WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
				WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
			END,
			IIF(IND_COVID = 'S', 'COVID ', ''),
			RUBRO, ' ',
			IIF(ID_PRODUCTO= 50, '', CONCAT(TIPO_VIVIENDA, ' ')),
			IIF(ID_FONDEO = 2, 'NO ', ''), 'RESTRINGIDO ',
            IND_ETAPA)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA

	--- UPDATE CONCEPTO ANT
 	UPDATE H 
			SET CONCEPTO_ANT = CONCAT( 
				'VENTA ',
				CASE
					WHEN ID_TIPO_CREDITO = 4 THEN 'AFIRME'
					WHEN ID_TIPO_CREDITO = 20 THEN 'QB'
					WHEN ID_TIPO_CREDITO = 23 THEN 'SHCH'	
				END
			)
		FROM PO.SAF_MOV_TRASPASO H
		JOIN Quiero_Confianza.PR.PR_DESC_TIPOS_CREDITO DTC ON H.ID_TIPO_CREDITO = DTC.NUM_DESC_TIPO_CREDITO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA
		
 ----------------------------------------------- LOGICA ETAPA 3 ------------------------------------------
 --# Tabla temporal para almacenar la fila a trabajar
		DECLARE @MOVS TABLE (ID INT, ID_EXTERNO VARCHAR(15), NUM_CREDITO NUMERIC(8, 0), NOM_CLIENTE VARCHAR(250), ID_PRODUCTO NUMERIC(3,0), 
							NOMBRE_PRODUCTO VARCHAR(355), ID_FONDEO INT, TIP_TRANSACCION VARCHAR(5), SUBTIP_TRANSAC VARCHAR(5),
							RUBRO VARCHAR(30), MONTO NUMERIC(16, 2), MON_PAGO_IVA NUMERIC(16,2), ID_TIPO_CREDITO INT, 
							TIPO_CREDITO VARCHAR(255), TIPO_VIVIENDA VARCHAR(150), FECHA_MOVIMIENTO DATETIME, IND_ESTADO VARCHAR(2), 
							CARTERA_VENCIDA VARCHAR(2), IND_ETAPA INT, IND_FORMA_PAGO INT, FEC_APERTURA DATE, CEDIDO VARCHAR(255),
							MON_CREDITO NUMERIC(16, 2), ID_SECUENCIA	INT, ID_REFERENCIA INT, ID_CUENTA	VARCHAR(25), ID_UNICO VARCHAR(150), CONCEPTO VARCHAR(150),
							CONCEPTO_FINAL VARCHAR(50), APELLIDO VARCHAR(30))

INSERT INTO @MOVS (ID, ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO,
							NOMBRE_PRODUCTO, ID_FONDEO,
							RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
							TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, 
							IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, ID_UNICO, CONCEPTO,
							CONCEPTO_FINAL)
		SELECT 
			ROW_NUMBER() OVER (ORDER BY NUM_CREDITO, RUBRO) ID
			,ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, 
			NOMBRE_PRODUCTO, ID_FONDEO,
			RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
			TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, 
			IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, ID, CONCEPTO,
			CONCEPTO_FINAL
			FROM PO.SAF_MOV_TRASPASO
            WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			    AND ID_POLIZA = @ID_POLIZA 
				AND IND_ETAPA = 3 --AND IND_COVID = ''
				AND RUBRO NOT IN ('PRINCIPAL','SALDO_FAVOR','COMISION_PREPAGO','IVA COMISION_PREPAGO') 
				AND CONCEPTO NOT LIKE '%COVID%'

SELECT @MAX_INDICE = COUNT(ID) FROM @MOVS
		WHILE @INDICE < @MAX_INDICE	BEGIN
			--# BLOC: lee todos los campos del registro actual
			SELECT 
				@ID_EXTERNO = ID_EXTERNO, @NUM_CREDITO = NUM_CREDITO, @NOM_CLIENTE = NOM_CLIENTE, @ID_PRODUCTO = ID_PRODUCTO, 
				@ID_FONDEO_ACTUAL = ID_FONDEO,
				@RUBRO = RUBRO, @MONTO = MONTO, @ID_TIPO_CREDITO = ID_TIPO_CREDITO, 
				@TIPO_VIVIENDA = TIPO_VIVIENDA, @FECHA_MOVIMIENTO = FECHA_MOVIMIENTO, 
				@IND_ESTADO = IND_ESTADO, @IND_ETAPA_ACTUAL = IND_ETAPA,
				@IND_ETAPA_ACTUAL = IND_ETAPA, @FECHA_ACTUAL = FECHA_MOVIMIENTO, @ID_FONDEO_ACTUAL = ID_FONDEO,
				@ID_UNICO = ID_UNICO, --@CONCEPTO = CONCEPTO,
				@CONCEPTO_FINAL = CONCEPTO_FINAL--, @APELLIDO = APELLIDO
			FROM @MOVS WHERE ID = @INDICE + 1
			--# BLOC_END

			-- # TRATAMIENTO PARA SEPARACION DE CUENTAS BALANCE/ORDEN ETAPA 3    @IND_ETAPA_ANTERIOR
			--IF --(@IND_ETAPA_ACTUAL = 3 OR (@IND_ETAPA_ACTUAL = 1 AND @IND_ETAPA_ANTERIOR = 3)) AND 
			--@RUBRO
			--	IN('IVA MORATORIOS', 'MORATORIOS', 'INTERESES', 'IVA INTERESES', 'COMISION_ADMINISTRACION', 'SEGURO_DANOS', 'IVA SEGURO_DANOS', 'SEGURO_VIDA', 'IVA SEGURO_VIDA', 'IVA COMISION_ADMINISTRACION',
			--	'CARGO_PORCENTAJE', 'IVA CARGO_PORCENTAJE') 
			--	--AND @CONCEPTO NOT LIKE '%COVID%' 
				--AND EXISTS( SELECT TOP 1 MONTO_BALANCE FROM PO.CALC_BALANCE_ORDEN WHERE NUM_CREDITO = @NUM_CREDITO )
			--BEGIN

			--print '|NUM_CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')+'|NUM_CREDITO_ANT:|'+isnull(cast(@NUM_CREDITO_ANT as varchar),'')+'|RUBRO:|'+isnull(cast(@RUBRO as varchar),'')+'|EL_RUBRO:|'+isnull(cast(@EL_RUBRO as varchar),'')
			        IF @NUM_CREDITO != @NUM_CREDITO_ANT BEGIN
				        --UPDATE PO.CALC_BALANCE_ORDEN SET MONTO_BALANCE = @SUMA89 - @TOTAL WHERE NUM_Credito = @NUM_CREDITO_ANT AND RUBRO = @EL_RUBRO
				        SELECT @NUM_CREDITO_ANT = @NUM_CREDITO, @TOTAL = 0
                        --print '==============================================================='
                        --print '|CAMBIO Cred:|'+isnull(cast(@NUM_CREDITO as varchar),'')
			        END

					IF @EL_RUBRO != @RUBRO  BEGIN --- OR @NUM_CREDITO != @NUM_CREDITO_ANT
						/*IF @TOTAL != 0 BEGIN
							UPDATE PO.CALC_BALANCE_ORDEN SET MONTO_BALANCE = @SUMA89 - @TOTAL WHERE NUM_Credito = @NUM_CREDITO AND RUBRO = @EL_RUBRO
						END*/


						--# BLOC: inicializa variables, lee impago y balance
						SELECT @BANDERA = 0, @EL_RUBRO = @RUBRO, @TOTAL = 0, @SUMA89 = 0, @ORDEN = 0
                        --print '|CAMBIO rub:|'+isnull(cast(@RUBRO as varchar),'')
						--SELECT @IMPAGO = FECHA_INICIO, @SUMA89 = MONTO_BALANCE FROM PO.CALC_BALANCE_ORDEN WHERE NUM_CREDITO = @NUM_CREDITO AND RUBRO = @RUBRO

                        --------------------------------------------------------------------------------------------------------------------------
                        SET @ETAPA_3_INI = dbo.FECHA_IMPAGO(@NUM_CREDITO)

                        --print '|ETAPA_3_INI:|'+isnull(cast(@ETAPA_3_INI as varchar),'')+'|NUM_CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')

                        if not @ETAPA_3_INI is null begin --se encuentra en etapa 3
                            if @RUBRO IN ('INTERESES') begin
								
								SELECT @SUMA89 = isnull(SUM(C.Sal_Rubro),0),@fecha_ref = max(FEC_COBRO)
								FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C 
								WHERE  
									C.NUM_CREDITO = @NUM_CREDITO
									and C.cod_rubro = @RUBRO
									and C.fec_cobro <= @ETAPA_3_INI
									AND C.IND_ESTADO = 'P'

                                select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)
                                from Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA
                                where num_credito = @NUM_CREDITO
                                    and @fecha_ref <= fecha_calculo and fecha_calculo < @ETAPA_3_INI

                                if @SUMA89 > 0 begin
                                    set @SUMA89 = @SUMA89 + @MONTO_OFFSET
                                end

                                set @SUMA89 = isnull(@SUMA89,0)

                            end else if @RUBRO IN ('IVA INTERESES') begin

                                SELECT @SUMA89 = isnull(sum(C.Sal_Iva),0),@fecha_ref = max(FEC_COBRO)
                                FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C 
								WHERE  C.NUM_CREDITO = @NUM_CREDITO
                                    and C.cod_rubro = replace(@RUBRO,'IVA ','')
                                    and C.fec_cobro <= @ETAPA_3_INI
									AND C.IND_ESTADO = 'P'

                                select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)*0.16
                                from Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA
                                where num_credito = @NUM_CREDITO
                                    and @fecha_ref <= fecha_calculo and fecha_calculo < @ETAPA_3_INI

                                if @SUMA89 > 0 begin
                                    set @SUMA89 = @SUMA89 + @MONTO_OFFSET
                                end

                                set @SUMA89 = isnull(@SUMA89,0)

                            end else if @RUBRO Like 'IVA%' begin

                                SELECT @SUMA89 = isnull(sum(C.Sal_Iva),0),@fecha_ref = max(FEC_COBRO)
                                FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C 
								WHERE  C.NUM_CREDITO = @NUM_CREDITO
                                    and C.cod_rubro = replace(@RUBRO,'IVA ','')
                                    and C.fec_cobro <= @ETAPA_3_INI
									AND C.IND_ESTADO = 'P'

                            end else begin

                                SELECT @SUMA89 = isnull(SUM(C.Sal_Rubro),0)
								FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C 
								WHERE  
									C.NUM_CREDITO = @NUM_CREDITO
									and C.cod_rubro = @RUBRO
									and C.fec_cobro <= @ETAPA_3_INI
									AND C.IND_ESTADO = 'P'

                            end
                        end --ETAPA3

                        --print '|NUM_CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')+'|RUBRO:|'+isnull(cast(@RUBRO as varchar),'')+'|ETAPA_3_INI_1M:|'+isnull(cast(@ETAPA_3_INI_1M as varchar),'')+'|SUMA89:|'+isnull(cast(@SUMA89 as varchar),'')
					END -- EL_RUBRO

					--# BLOC: incrementa total
					--SET  @TOTAL =  @TOTAL + @MONTO
					--# BLOC_END
					SET @ORDEN = @MONTO - @SUMA89

					IF @ORDEN > 0 BEGIN

						INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
								CONCEPTO, CONCEPTO_ANT, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
								TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO, TABLA_ORIGEN, ID_POLIZA,
								COD_CLIENTE)--,ID_SECUENCIA,ID_CUENTA)
						SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
								REPLACE(CONCEPTO, 'PAGO ', 'PAGO CO '),
								CONCEPTO_ANT,
								NOMBRE_PRODUCTO, RUBRO, @ORDEN, 0, ID_TIPO_CREDITO, 
								TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
								FEC_APERTURA, CEDIDO, 'VENTA CARTERA', @ID_POLIZA,''--,ID_SECUENCIA,ID_CUENTA
						FROM PO.SAF_MOV_TRASPASO 
						WHERE ID_POLIZA = @ID_POLIZA
                            AND ID = @ID_UNICO
                            --AND CONCEPTO NOT LIKE '%COVID%' AND NUM_CREDITO = @NUM_CREDITO AND RUBRO = @RUBRO AND FECHA_MOVIMIENTO BETWEEN @FECHA_FIN AND @FECHA_FIN
						
						UPDATE PO.SAF_MOV_TRASPASO SET MONTO = MONTO - @ORDEN --, CONCEPTO = REPLACE(CONCEPTO, 'PAGO ', 'PAGO CO ') --COAA
						WHERE ID = @ID_UNICO

						IF (@MONTO - @ORDEN) = 0 BEGIN
							DELETE FROM PO.SAF_MOV_TRASPASO  WHERE ID = @ID_UNICO	
						END
						
					END --# @ORDEN != 0

			--END -- # ETAPA 3

			SET @INDICE = @INDICE + 1
		END --# WHILE
		--------------------------------- GENERACION REGISTROS CCO--------------------
        declare @NUM_CREDITO_C int,@RUBRO_C varchar(30),@MONTO_C numeric(18,2)

		exec CursorCloseDeallocate 'db_cursor_poliza_cobranza'

        DECLARE db_cursor_poliza_cobranza CURSOR FOR

            select NUM_CREDITO,RUBRO,isnull(sum(MONTO),0)
            FROM PO.SAF_MOV_TRASPASO 
            WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO AND CONCEPTO LIKE 'PAGO CO %'
            group by NUM_CREDITO,RUBRO

        OPEN db_cursor_poliza_cobranza  
            FETCH NEXT FROM db_cursor_poliza_cobranza
            INTO @NUM_CREDITO_C, @RUBRO_C, @MONTO_C

        WHILE @@FETCH_STATUS = 0  
        BEGIN  

			INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
								CONCEPTO, CONCEPTO_ANT, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
								TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO, TABLA_ORIGEN, ID_POLIZA,
								COD_CLIENTE
								)
			SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
				    replace(CONCEPTO,'PAGO CO ','PAGO CCO '), replace(CONCEPTO,'PAGO CO ','PAGO CCO '),
				    NOMBRE_PRODUCTO, RUBRO, @MONTO_C, 0, ID_TIPO_CREDITO, 
				    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
				    FEC_APERTURA, CEDIDO, 'VENTA CARTERA', ID_POLIZA, COD_CLIENTE
			FROM PO.SAF_MOV_TRASPASO 
			WHERE ID_POLIZA = @ID_POLIZA AND NUM_CREDITO = @NUM_CREDITO_C AND RUBRO = @RUBRO_C AND FECHA_MOVIMIENTO = @FECHA_INICIO
                AND CONCEPTO LIKE 'PAGO CO %'

			
            FETCH NEXT FROM db_cursor_poliza_cobranza
            INTO @NUM_CREDITO_C, @RUBRO_C, @MONTO_C
        END 

        CLOSE db_cursor_poliza_cobranza  
        DEALLOCATE db_cursor_poliza_cobranza
 -----------------------------------------------FIN LOGICA ETAPA 3----------------------------------------
		UPDATE H 
		SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H 
		SET H.ID_CONCEPTO_ANT = C.ID
		--SELECT C.ID, C.CONCEPTO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO_ANT 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA
		
		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		/*UPDATE H SET 
			H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA and H.CUENTA_CARGO is null
		*/
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		--ACTUALIZACION DE CAMPOS: CEDIDO, FEC_APERTURA, TIPO_CREDITO, NOMBRE_PRODUCTO, CONCEPTO_FINAL
		UPDATE H SET CEDIDO = [dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA),
				FEC_APERTURA = C.FEC_APERTURA,
				TIPO_CREDITO = DTC.DESC_TIPO_CREDITO,--(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO),
				NOMBRE_PRODUCTO = (SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO),
				CONCEPTO_FINAL = LEFT(CONCAT('VTA CART ',H.ID_EXTERNO,' ',H.NOM_CLIENTE), 100)
			FROM PO.SAF_MOV_TRASPASO H
				LEFT JOIN Quiero_Confianza.PR.PR_CREDITOS C ON H.NUM_CREDITO = C.NUM_CREDITO
				LEFT JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
				LEFT JOIN Quiero_Confianza.PR.PR_DESC_TIPOS_CREDITO DTC ON C.NUM_DESC_TIPO_CREDITO = DTC.NUM_DESC_TIPO_CREDITO
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
			AND DTC.COD_EMPRESA = '001'
            --AND C.IND_ESTADO IN ('C', 'D') AND C.IND_LINEA = 'N'		

   		--no deben quedar nulos en las cuentas
        UPDATE PO.SAF_MOV_TRASPASO
        SET   CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_TRASPASO
        SET   CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            and CUENTA_CARGO is null
 
		--manejo de porcentaje Afirme
        UPDATE PO.SAF_MOV_ABONO
        SET   MONTO = MONTO * 0.90
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND ID_TIPO_CREDITO = 4 

   -->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
		
		CREATE TABLE #POLIZAF(ID INT  IDENTITY(1,1),CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		DECLARE @COMPARACION MONEY -- VARIABLES PARA COMPARACION
		DECLARE @DESCRIPCION_POLIZA VARCHAR (50), @TIPO_POLIZA VARCHAR (5),@CUENTA_VARIACION varchar(30)
		
		-- INSERTS A #POLIZA
		INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
			SELECT 
					CONCEPTO_FINAL, A.CUENTA_CARGO CUENTA,
					CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
					CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
				FROM PO.SAF_MOV_TRASPASO A 
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
				AND A.ID_POLIZA IN (@ID_POLIZA) 
			GROUP BY A.CUENTA_CARGO, A.CONCEPTO_FINAL

		INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_ABONO, MONTO_CARGO)
			SELECT 
					CONCEPTO_FINAL, A.CUENTA_ABONO CUENTA,
					CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO, 
					CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO
				FROM PO.SAF_MOV_TRASPASO A 
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
				AND A.ID_POLIZA IN (@ID_POLIZA)
			GROUP BY A.CUENTA_ABONO, A.CONCEPTO_FINAL

		--print('entra a sp nuevo')
		EXEC [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA
		
		COMMIT
		--print('termina')
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH

END
GO
