SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_CAT_DESC_TIPO](
	[ID] [uniqueidentifier] NOT NULL,
	[NUM_DESC_TIPO_CREDITO] [int] NULL,
	[DESC_TIPO_CREDITO] [varchar](255) NULL,
	[CARTERA] [varchar](255) NULL,
	[ADMINISTRADOR] [varchar](255) NULL,
	[IND_ACTIVO] [bit] NULL,
	[FECHA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_CAT_DESC_TIPO] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[SAF_CAT_DESC_TIPO] ADD  DEFAULT ((1)) FOR [IND_ACTIVO]
GO
ALTER TABLE [PO].[SAF_CAT_DESC_TIPO] ADD  DEFAULT (getdate()) FOR [FECHA]
GO
