SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas Osorio
-- Creacion:	20250725
-- Descripcion:	Cambia el estatus en la tabla de ministraciones
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_MINISTRACION_EST_ACT]
	 @ID_MINISTRACIONES_ENC uniqueidentifier
     ,@ESTATUS varchar(10)
AS
BEGIN
	SET NOCOUNT ON;

    UPDATE PO.PR_MINISTRACIONES_ENC
    SET ESTATUS = @ESTATUS
    WHERE ID = @ID_MINISTRACIONES_ENC


END
GO
