SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------0905
CREATE PROC [PO].[SYS_SP_MOV_INTERES]
(
	@FECHA_INICIO DATE,
	@FECHA_FIN DATE,
	@DE_TIPO VARCHAR(8)
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
		IF @DE_TIPO = 'new' BEGIN
			IF EXISTS(SELECT TOP 1 1 FROM PO.SAF_MOV_INTERES WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN)
			BEGIN
				DELETE FROM PO.SAF_MOV_INTERES WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
			END

			INSERT INTO PO.SAF_MOV_INTERES(
			  ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, ID_FONDEO, RUBRO, MONTO, ID_TIPO_CREDITO, 
			  TIPO_CREDITO, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA)
			SELECT  
				C.ID_EXTERNO
				,A.NUM_CREDITO
				,D.COD_CLIENTE
				,D.NOM_CLIENTE
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,CASE WHEN C.COD_ORIGEN IN ('008','031') THEN 2 ELSE 1 END AS ID_FONDEO
				,'INTERESES' RUBRO
				,A.MON_DIARIO MONTO
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,X.IND_IVA IND_IVA_INTERES
				,P.POR_IVA_INTERES
				,A.FECHA_CALCULO FECHA_MOVIMIENTO
				,A.IND_ESTADO
				,C.IND_ETAPA
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
				,C.FEC_APERTURA
			FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
					INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
					INNER JOIN Quiero_Confianza_CreditoPuente_QA.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
					LEFT JOIN (SELECT NUM_CREDITO, IND_IVA FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_RUBRO_X_CREDITO WITH (NOLOCK) WHERE COD_RUBRO = 'INTERESES') X  ON A.NUM_CREDITO = X.Num_Credito
			WHERE A.FECHA_CALCULO BETWEEN @FECHA_INICIO AND @FECHA_FIN
					AND A.MON_DIARIO <> 0.00
					--AND A.NUM_CREDITO IN (2548)
		END --@DE_TIPO = 'new'

		EXECUTE PO.SYS_SP_AVALUO_AND_UPDATE @FECHA_INICIO, @FECHA_FIN, 'INTERES', 'I'
		IF @DE_TIPO = 'new' BEGIN
			EXECUTE PO.SYS_SP_AVALUO_AND_UPDATE @FECHA_INICIO, @FECHA_FIN, 'INTERES', 'A'
		END

		UPDATE PO.SAF_MOV_INTERES
		SET CONCEPTO = CONCAT(CASE
				WHEN ID_TIPO_CREDITO = 20 THEN 'QBILLETE '
				WHEN ID_TIPO_CREDITO = 23 THEN 'SHCH '
				WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
				WHEN ID_TIPO_CREDITO = 26 THEN 'CASTIGO '
				WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
			END, 
			IIF(IND_COVID = 'S', 'COVID ', ''),
			RUBRO, 
			IIF(ID_PRODUCTO= 50, '', CONCAT(' ',TIPO_VIVIENDA)), 
			IIF(ID_FONDEO = 2, ' NO', ''),' RESTRINGIDO ', IND_ETAPA) 
		WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
		
		--CUANDO EL IVA SEA MAYOR A CERO EN LUGAR DE TOMAR SAL_RUBRO SERIA MONTO *.16
		DECLARE  @ID_EXTERNO			VARCHAR(15),	@NUM_CREDITO		INT
				 ,@COD_CLIENTE			VARCHAR(15),	@NOM_CLIENTE		VARCHAR(250)
				 ,@ID_FONDEO			INT,			@ID_PRODUCTO		INT
				 ,@RUBRO				VARCHAR(30),	@MONTO				NUMERIC(16,2)
				 ,@POR_IVA_INTERES		NUMERIC(10,4),	@TIPO_CREDITO		VARCHAR(255)
				 ,@TIPO_VIVIENDA		VARCHAR(50),	@FECHA_MOVIMIENTO	DATE
				 ,@IND_IVA_INTERES		VARCHAR(1),		@IND_ESTADO			VARCHAR(2)
				 ,@ID_TIPO_CREDITO		INT,			@IND_ETAPA			INT
				 ,@INDICE				INT = 0,		@MAX_INDICE			INT = 0
				 ,@IND_ETAPA_ANTERIOR	INT = 0,		@IND_ETAPA_ACTUAL	INT
				 ,@FECHA_ACTUAL			DATE,			@FECHA_ANTERIOR		DATE
				 ,@ID_FONDEO_ACTUAL		INT,			@ID_FONDEO_ANTERIOR	INT
				 ,@FEC_APERTURA			DATE,			@MON_INTERES_TRASPASO NUMERIC (16, 2)
				 ,@CEDIDO				VARCHAR(255),   @ES_TRASPASO		VARCHAR(1) = 'S'
				 ,@LEYENDA				VARCHAR(70),	@EL_ID_FONDEO		VARCHAR(16)
				 ,@EL_ID_PRODUCTO		VARCHAR(11),    @ID_UNICO			VARCHAR(150)
				 ,@TIPO_V_ANT			VARCHAR(150),	@TIPO_TRASPASO		INT = 0
				 ,@MON_TRASPASO_COVID   NUMERIC(16,2),
				  @NOMBRE_PRODUCTO		VARCHAR(355),	@CRED_ANT			INT
				  
		DECLARE @UPDATE_ABONO TABLE (ID_UNICO VARCHAR(150), CONCEPTO VARCHAR(100))
		DECLARE @MOVS TABLE (ID INT, ID_EXTERNO VARCHAR(15), NUM_CREDITO INT, COD_CLIENTE VARCHAR(15), NOM_CLIENTE VARCHAR(250), 
							ID_FONDEO INT, ID_PRODUCTO INT, RUBRO VARCHAR(30), MONTO NUMERIC(16, 2), MON_PAGO_IVA NUMERIC(18,2), 
							POR_IVA_INTERES NUMERIC(10, 4), IND_IVA_INTERES VARCHAR(1), ID_TIPO_CREDITO INT, TIPO_CREDITO VARCHAR(255), 
							TIPO_VIVIENDA VARCHAR(150), FECHA_MOVIMIENTO DATE, IND_ESTADO VARCHAR(2), IND_ETAPA INT, CEDIDO VARCHAR(255), FEC_APERTURA DATE, ID_UNICO VARCHAR(150))

		INSERT INTO @MOVS (ID, ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, 
							ID_FONDEO, ID_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA,
							POR_IVA_INTERES, IND_IVA_INTERES, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA,
							FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, ID_UNICO)
		SELECT 
			ROW_NUMBER() OVER (ORDER BY NUM_CREDITO) ID
			,ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_FONDEO
			,ID_PRODUCTO, RUBRO, MONTO, 
			MON_PAGO_IVA, POR_IVA_INTERES, IND_IVA_INTERES
			,ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA
			,FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, ID
		FROM 
			PO.SAF_MOV_INTERES WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
		ORDER BY NUM_CREDITO, FECHA_MOVIMIENTO

		SELECT @MAX_INDICE = COUNT(ID) FROM @MOVS
		WHILE @INDICE < @MAX_INDICE
		BEGIN

			SELECT
				@ID_EXTERNO = ID_EXTERNO, @NUM_CREDITO = NUM_CREDITO, @COD_CLIENTE = COD_CLIENTE, @NOM_CLIENTE = NOM_CLIENTE, @ID_FONDEO = ID_FONDEO,
				@ID_PRODUCTO = ID_PRODUCTO, @RUBRO = RUBRO, @MONTO = MONTO, @POR_IVA_INTERES = POR_IVA_INTERES, @IND_IVA_INTERES = IND_IVA_INTERES,
				@ID_TIPO_CREDITO = ID_TIPO_CREDITO, @TIPO_CREDITO = TIPO_CREDITO, @TIPO_VIVIENDA = TIPO_VIVIENDA,
				@FECHA_MOVIMIENTO = FECHA_MOVIMIENTO, @IND_ESTADO = IND_ESTADO, @IND_ETAPA = IND_ETAPA, @CEDIDO = CEDIDO, @FEC_APERTURA = FEC_APERTURA,
				@IND_ETAPA_ACTUAL = IND_ETAPA, @FECHA_ACTUAL = FECHA_MOVIMIENTO, @ID_FONDEO_ACTUAL = ID_FONDEO, @ID_UNICO = ID_UNICO
			FROM @MOVS WHERE ID = @INDICE + 1
	
			--- condicion
			SELECT @IND_ETAPA_ANTERIOR = NULL, @FECHA_ANTERIOR = NULL, @ID_FONDEO_ANTERIOR = NULL, @TIPO_V_ANT = NULL
			SELECT TOP(1) @TIPO_V_ANT = TIPO_VIVIENDA, @IND_ETAPA_ANTERIOR = IND_ETAPA, @FECHA_ANTERIOR = FECHA_MOVIMIENTO, @ID_FONDEO_ANTERIOR = ID_FONDEO FROM PO.SAF_MOV_INTERES WITH (NOLOCK)
			WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO = DATEADD(day, -1, @FECHA_MOVIMIENTO)

			--print('viviendaAnterior')
			--print(@TIPO_V_ANT)
			
			--print('tipoVivienda')
			--print(@TIPO_VIVIENDA)
			--print('FECHA_ANT')
			--print(@FECHA_ANTERIOR)
			--print('idProducto')
			--print(@ID_PRODUCTO)
			--print('FechaActual')
			--print(@FECHA_ACTUAL)

 
			--- SE INICIALIZAN VARIABLES
			SELECT @LEYENDA = '', @EL_ID_FONDEO = IIF(@ID_FONDEO = 2, 'NO RESTRINGIDO ', 'RESTRINGIDO '), @TIPO_TRASPASO = 0
			SET @EL_ID_PRODUCTO = CASE
				WHEN @ID_PRODUCTO = 50 THEN 'CONSUMO '
				WHEN @ID_PRODUCTO = 51 THEN 'EMPLEADO '	ELSE ''
			END

			IF @CRED_ANT != @NUM_CREDITO BEGIN SET @ES_TRASPASO = 'S' END
			IF @ES_TRASPASO = 'S' BEGIN
				---- CONCEPTO SI HAY CAMBIO SR a R | R a SR (CEDIDOS)
				IF	@ID_FONDEO_ANTERIOR <> @ID_FONDEO_ACTUAL
				BEGIN
					SET @LEYENDA = IIF(@ID_FONDEO_ANTERIOR = 2 AND @ID_FONDEO_ACTUAL = 1, 'SR A R ', 'R A SR ')
					SET @TIPO_TRASPASO = @TIPO_TRASPASO | IIF(@ID_FONDEO_ANTERIOR = 2 AND @ID_FONDEO_ACTUAL = 1, 1, 2)
					EXEC PO.SYS_SP_INSERT_TRASPASO @FECHA_INICIO, @ID_UNICO, @NUM_CREDITO, @LEYENDA, @EL_ID_PRODUCTO, @EL_ID_FONDEO
				END

				---- CONCEPTO SI HAY CAMBIO DE VIVIENDA
				SET @LEYENDA = CASE
					WHEN @TIPO_V_ANT = 'INTERES SOCIAL' AND @TIPO_VIVIENDA = 'MEDIA RESIDENCIAL' THEN 'INT SOC A MED RESID '
					WHEN @TIPO_V_ANT = 'MEDIA RESIDENCIAL' AND @TIPO_VIVIENDA = 'INTERES SOCIAL' THEN 'MED RESID A INT SOC ' ELSE ''
				END

				IF @LEYENDA != '' BEGIN 
					SET @TIPO_TRASPASO = @TIPO_TRASPASO | 4
					EXEC PO.SYS_SP_INSERT_TRASPASO @FECHA_INICIO, @ID_UNICO, @NUM_CREDITO, @LEYENDA, @EL_ID_PRODUCTO, @EL_ID_FONDEO 
				END
				
				---- CONCEPTO SI HAY CAMBIO DE ETAPA
				IF @IND_ETAPA_ANTERIOR <> @IND_ETAPA_ACTUAL
				PRINT('CREDITO')
				PRINT(@NUM_CREDITO)
				PRINT('E ANT')
				PRINT(@IND_ETAPA_ANTERIOR)
				PRINT('E ACT')
				PRINT(@IND_ETAPA_ACTUAL)
				BEGIN
					SET @LEYENDA = CASE
						WHEN @IND_ETAPA_ANTERIOR = 1 AND @IND_ETAPA_ACTUAL = 2 THEN 'ET1 A ET2 '
						WHEN @IND_ETAPA_ANTERIOR = 1 AND @IND_ETAPA_ACTUAL = 3 THEN 'ET1 A ET3 '
						WHEN @IND_ETAPA_ANTERIOR = 2 AND @IND_ETAPA_ACTUAL = 3 THEN 'ET2 A ET3 '
						WHEN @IND_ETAPA_ANTERIOR = 3 AND @IND_ETAPA_ACTUAL = 1 THEN 'ET3 A ET1 '
						WHEN @IND_ETAPA_ANTERIOR = 2 AND @IND_ETAPA_ACTUAL = 1 THEN 'ET2 A ET1 '
						WHEN @IND_ETAPA_ANTERIOR = 3 AND @IND_ETAPA_ACTUAL = 2 THEN 'ET3 A ET2 ' ELSE ''
					END
					IF @LEYENDA != '' AND @DE_TIPO = 'new' BEGIN
						--- # PROCESO PARA CUENTAS DE ORDEN
						IF @IND_ETAPA_ACTUAL = 3 BEGIN
							-- # se lee fecha de impago del credito
							DECLARE @FECHA_IMPAGO DATE
							SELECT TOP 1 @FECHA_IMPAGO = DATEADD(day, 1, Fec_Cobro) FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_RUBRO_COBRO_X_CREDITO
							WHERE NUM_CREDITO = @NUM_CREDITO
							AND Ind_Estado = 'P' ORDER BY Fec_Cobro ASC

							-- # se guarda la fecha de impago para calcular si es balance o cuenta de orden
							--INSERT INTO PO.CALC_BALANCE_ORDEN (FECHA_INICIO, NUM_CREDITO) VALUES (@FECHA_IMPAGO, @NUM_CREDITO)

							-- MONTOS DE BALANCE X RUBRO
							INSERT INTO PO.CALC_BALANCE_ORDEN(NUM_Credito, FECHA_INICIO, MONTO_BALANCE, RUBRO, MONTO_FIJO, FECHA_PROCESO)

								SELECT NUM_CREDITO, @FECHA_IMPAGO, SUM(SAL_RUBRO), COD_RUBRO, SUM(SAL_RUBRO), @FECHA_IMPAGO FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_RUBRO_COBRO_X_CREDITO

								WHERE NUM_CREDITO = @NUM_CREDITO

									AND IND_ESTADO = 'P'

									AND COD_RUBRO IN ('INTERESES', 'COMISION_ADMINISTRACION', 'SEGURO_DANOS', 'SEGURO_VIDA', 'CARGO_PORCENTAJE')

									AND FEC_COBRO BETWEEN @FECHA_IMPAGO AND DATEADD(day, 89, @FECHA_IMPAGO)

								GROUP BY NUM_CREDITO, COD_RUBRO

								UNION

								-- MONTOS DE BALANCE IVA

								SELECT NUM_CREDITO, @FECHA_IMPAGO, SUM(SAL_IVA), CONCAT('IVA ', COD_RUBRO), SUM(SAL_IVA), @FECHA_IMPAGO FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_RUBRO_COBRO_X_CREDITO

								WHERE NUM_CREDITO = @NUM_CREDITO

									AND IND_ESTADO = 'P'

									AND COD_RUBRO IN ('INTERESES', 'COMISION_ADMINISTRACION', 'SEGURO_DANOS', 'SEGURO_VIDA', 'CARGO_PORCENTAJE')

									AND FEC_COBRO BETWEEN @FECHA_IMPAGO AND DATEADD(day, 89, @FECHA_IMPAGO)

									AND SAL_IVA != 0

								GROUP BY NUM_CREDITO, COD_RUBRO
							-- aAgrupe por rubro, suatoria
							--INSERT INTO PO.CALC_BALANCE_ORDEN (FECHA_INICIO, NUM_CREDITO) VALUES (@FECHA_IMPAGO, @NUM_CREDITO)
						END

						IF @IND_ETAPA_ACTUAL = 1 AND @IND_ETAPA_ANTERIOR = 3 BEGIN
							--DELETE FROM PO.CALC_BALANCE_ORDEN WHERE NUM_CREDITO = @NUM_CREDITO
							print('borrado de credito en tabla')
						END

						-- # PROCESO PARA CALCLAR LOS TRASPASOS
						SET @TIPO_TRASPASO = @TIPO_TRASPASO | 8
						EXEC PO.SYS_SP_INSERT_TRASPASO @FECHA_INICIO, @ID_UNICO, @NUM_CREDITO, @LEYENDA, @EL_ID_PRODUCTO, @EL_ID_FONDEO END
				END

				--- # ACTUALIZACION DE MOVIMIENTOS EN ABONO
				-- si fue traspaso de R a SR 
				IF (@TIPO_TRASPASO & 1) > 0 BEGIN
					UPDATE PO.SAF_MOV_ABONO	SET CONCEPTO= REPLACE(CONCEPTO, 'RESTRINGIDO', 'NO RESTRINGIDO') WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
					UPDATE PO.SAF_MOV_INTERES SET CONCEPTO= REPLACE(CONCEPTO, 'RESTRINGIDO', 'NO RESTRINGIDO') WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
				END

				-- si fue traspaso de SR a R
				IF (@TIPO_TRASPASO & 2) > 0 BEGIN
					UPDATE PO.SAF_MOV_ABONO	SET CONCEPTO= REPLACE(CONCEPTO, 'NO RESTRINGIDO', 'RESTRINGIDO') WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
					UPDATE PO.SAF_MOV_INTERES	SET CONCEPTO= REPLACE(CONCEPTO, 'NO RESTRINGIDO', 'RESTRINGIDO') WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
					UPDATE PO.SAF_MOV_CARGO	SET CONCEPTO= REPLACE(CONCEPTO, 'NO RESTRINGIDO', 'RESTRINGIDO') WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
					UPDATE PO.SAF_MOV_MORATORIO	SET CONCEPTO= REPLACE(CONCEPTO, 'NO RESTRINGIDO', 'RESTRINGIDO') WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
				END

				-- si fue traspaso de VIVIENDA
				IF (@TIPO_TRASPASO & 4) > 0 BEGIN
					UPDATE PO.SAF_MOV_ABONO	SET CONCEPTO= REPLACE(CONCEPTO, @TIPO_VIVIENDA, @TIPO_V_ANT) WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
					UPDATE PO.SAF_MOV_INTERES SET CONCEPTO= REPLACE(CONCEPTO, @TIPO_VIVIENDA, @TIPO_V_ANT) WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
					UPDATE PO.SAF_MOV_CARGO	SET CONCEPTO= REPLACE(CONCEPTO, @TIPO_VIVIENDA, @TIPO_V_ANT) WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
					UPDATE PO.SAF_MOV_MORATORIO SET CONCEPTO= REPLACE(CONCEPTO, @TIPO_VIVIENDA, @TIPO_V_ANT) WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
				END

				-- si fue traspaso de ETAPA
				IF (@TIPO_TRASPASO & 8) > 0 BEGIN
					UPDATE PO.SAF_MOV_ABONO	SET CONCEPTO= REPLACE(CONCEPTO, @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR) WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN 
					UPDATE PO.SAF_MOV_INTERES SET CONCEPTO= REPLACE(CONCEPTO, @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR) WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN AND CONCEPTO NOT LIKE '%TRASPASO%'
					UPDATE PO.SAF_MOV_CARGO	SET CONCEPTO= REPLACE(CONCEPTO, @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR) WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN 
					UPDATE PO.SAF_MOV_MORATORIO	SET CONCEPTO= REPLACE(CONCEPTO, @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR) WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN 
				END

				-- # SE EVITA QUE EL MISMO CREDITO INSERTE MAS TRASPASOS
				SELECT @ES_TRASPASO = 'N',	@CRED_ANT = @NUM_CREDITO
			END -- # @ES_TRASPASO = 'S'


			-- # TRATAMIENTO PARA SEPARACION DE CUENTAS BALANCE/ORDEN ETAPA 3
			IF @IND_ETAPA_ACTUAL = 3 AND @DE_TIPO = 'new' BEGIN 
				--EXEC PO.SYS_SP_ACCOUNT_BALANCE_ORDEN @FECHA_FIN, @NUM_CREDITO, @MONTO, 'INTERES'
				print('fff')
			END -- # ETAPA 3


			-- # BORRA REGISTRO ORIGINAL DEL TRASPASO
			--IF @LEYENDA != '' AND @RUBRO = 'INTERESES' BEGIN DELETE FROM PO.SAF_MOV_INTERES WHERE ID = @ID_UNICO END

			SET @INDICE = @INDICE + 1
		END
	
		EXECUTE PO.SYS_SP_AVALUO_AND_UPDATE @FECHA_INICIO, @FECHA_FIN, 'INTERES', 'F'
		DELETE FROM PO.SAF_MOV_INTERES WHERE MONTO = 0 AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
		COMMIT

	END TRY
	BEGIN CATCH
		ROLLBACK
		DECLARE @ERROR_MESSAGE VARCHAR(4000), @ERROR_SEVERITY INT, @ERROR_STATE INT
		SELECT @ERROR_MESSAGE = ERROR_MESSAGE(), @ERROR_SEVERITY = ERROR_SEVERITY(), @ERROR_STATE = ERROR_STATE()

		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE)
	END CATCH
END

GO
