SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [PO].[SP_IND_REVERSO_DESEMBOLSO]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 26

	BEGIN TRY
		BEGIN TRANSACTION

			DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

            select A.cod_empresa,A.num_credito,MIN(A.id_secuencia) as id_secuencia_min
            into #primeros_movimientos_reestructuras
            FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A
                 INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            where A.TIP_TRANSACCION = 3  --desembolsos
                and A.Mon_movimiento > 0
                and C.IND_ESTADO_CRED = 'E' -- reestructuras
                AND A.COD_ESTADO != 'N'
                AND A.FEC_MOVIMIENTO = @FECHA_INICIO
            group by A.cod_empresa,A.num_credito

			--# BLOCK: EXTRACTOR DE MOVIMIENTOS PAGO
			INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA)
			SELECT  
				C.ID_EXTERNO
				,C.NUM_CREDITO
				,dbo.FN_FORMA_NOMBRE(D.PRIMER_APELLIDO, D.SEGUNDO_APELLIDO, D.PRIMER_NOMBRE, D.SEGUNDO_NOMBRE, NULL, NULL)
				,'' AS CUENTA_CARGO
				,'' AS CUENTA_ABONO
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CH.ID_FONDEO
				,B.COD_CONCEPTO AS RUBRO
				,B.MON_PAGO MONTO
				,B.MON_PAGO_IVA
				,CASE WHEN A.IND_FORMA_PAGO = '' THEN 0 ELSE  A.IND_FORMA_PAGO END IND_FORMA_PAGO
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,C.IND_ESTADO
				,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
				,A.FEC_MOVIMIENTO
				,A.TIP_TRANSACCION
				,A.SUBTIP_TRANSAC
				,CH.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
				,C.FEC_APERTURA
				,A.Id_secuencia
				,CAST(A.Id_cuenta AS bigint)
				,dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito)
				,''
				,IIF(D.PRIMER_APELLIDO IS NULL OR D.PRIMER_APELLIDO = '', 'NOMBRE', D.PRIMER_APELLIDO)
				,'REVERSO DESEMBOLSO'
				,@ID_POLIZA
				,CH.TIPO_VIVIENDA
			FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
					INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
					INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
					INNER JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
					LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
					AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
					LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			WHERE C.IND_ESTADO IN ('C', 'D') 
					AND C.IND_LINEA = 'N'
                    AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
                    and A.Id_cuenta NOT IN ('2061','2056','2068','2076') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO, EX_EMPLEADO
					AND A.FEC_MOVIMIENTO = @FECHA_INICIO
					AND B.MON_PAGO < 0.00
					AND TIP_TRANSACCION = 3  --desembolsos
                    AND A.ID_SECUENCIA NOT IN ( ----se quitan los primeros movimientos de reestructuras
                            select A.id_secuencia
                            FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A
                                 INNER JOIN #primeros_movimientos_reestructuras C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO AND A.Id_secuencia <= C.id_secuencia_min
                            where A.TIP_TRANSACCION = 3  --desembolsos
                        )

		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------
		-- SE DETERMINA EL TIPO DE PRODUCTO DEACUERDO AL ID EMPLEADO O CONSUMO
		UPDATE H SET 
				H.ID_PRODUCTO = 50,	
				H.NOMBRE_PRODUCTO = 'CONSUMO'
			FROM  PO.SAF_MOV_ABONO H
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
			WHERE 
				GG.NUM_DESC_TIPO_CREDITO = 1 AND FECHA_MOVIMIENTO = @FECHA_INICIO
				AND H.ID_POLIZA = @ID_POLIZA
		
		UPDATE H SET 
				H.ID_PRODUCTO = 51,	
				H.NOMBRE_PRODUCTO = 'EMPLEADO'
		FROM  PO.SAF_MOV_ABONO H  INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) 
			AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------
		---# Crea un nuevo registro si existe IVA en el universo extraido
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
				TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, APELLIDO, 'REVERSO DESEMBOLSO', ID_POLIZA
		FROM PO.SAF_MOV_ABONO
		WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------
		--- CALIFICACION BASE DEL CONCEPTO DEACUERDO A REGLAS GLOBALES
		UPDATE PO.SAF_MOV_ABONO
			SET CONCEPTO = CONCAT(CASE
				WHEN ID_PRODUCTO= 50 THEN 'CONSUMO DESEMBOLSO '
				WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO DESEMBOLSO '
				ELSE 'DESEMBOLSO '
			END,
			IIF( (ID_CUENTA = '2076' OR ID_CUENTA = '1020010502130300') AND ID_PRODUCTO= 50, 'EXEM ', ''),RUBRO,' ',
			IIF(ID_PRODUCTO= 50,'', CONCAT(TIPO_VIVIENDA, ' ')),
			IIF(ID_FONDEO = 2, 'NO ', ''),'RESTRINGIDO ', IND_ETAPA) 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		--- CALIFICACION FINAL DE CONCEPTO POLIZA
		---- ## VALIDAR SI HACE FALTA AGREGAR UN FILTRO PARA EJECUATAR SOLO EN FIRMAS
		UPDATE PO.SAF_MOV_ABONO
			SET CONCEPTO_FINAL = LEFT( CONCAT('REV DESEM ', IIF(CONCEPTO LIKE '%IVA%', 'IVA ', ''), ID_EXTERNO, ' ', APELLIDO), 30 )
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		--# CREE NUEVO REGISTRO PARA DEVENGO DE COMISION ANTICIPADA
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
				TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, CONCEPTO, 
				CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID,
				CONCAT(CASE
					WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
					WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO 'ELSE ''
				END,
				'DEVENGO ',
			RUBRO,
			IIF(ID_PRODUCTO= 50, '', CONCAT(' ', TIPO_VIVIENDA)),
			IIF(ID_FONDEO = 2, ' NO', ''),' RESTRINGIDO ', IND_ETAPA), --INICIA CONCEPTO FINAL
			LEFT(
				CONCAT('REV DEV ',
				IIF(RUBRO = 'COMISION_ANTICIPADA', 'COM ', 'IVA COM '),
				ID_EXTERNO, ' ', APELLIDO
			), 30 )
			, APELLIDO, 'REVERSO DESEMBOLSO', ID_POLIZA
		FROM PO.SAF_MOV_ABONO
		WHERE TIP_TRANSACCION = 3 AND RUBRO IN ('COMISION_ANTICIPADA', 'IVA COMISION_ANTICIPADA')
			AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------

		------------- # MASIVO DE GESTION DE FIRMA PARA EL CANC FIRMA
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO,
			ID_CONCEPTO, CONCEPTO, ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, 
			MON_PAGO_IVA, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO,
			IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA,
			CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO,	NULL,
			CASE 
				WHEN ID_PRODUCTO = 50 THEN CONCAT('CONSUMO DESEMBOLSO ',
					IIF(ID_CUENTA = '2076' OR ID_CUENTA = '1020010502130300', 'EXEM ', '')
					,'CANC FIRMA PRINCIPAL',CASE WHEN ID_FONDEO = 2 THEN ' NO RESTRINGIDO ' ELSE ' RESTRINGIDO ' END, IND_ETAPA)
				WHEN ID_PRODUCTO = 51 THEN CONCAT('EMPLEADO DESEMBOLSO CANC FIRMA PRINCIPAL ', TIPO_VIVIENDA,CASE WHEN ID_FONDEO = 2 THEN ' NO RESTRINGIDO ' ELSE ' RESTRINGIDO ' END, IND_ETAPA)						
			ELSE
				CONCAT(
					'DESEMBOLSO CANC FIRMA PRINCIPAL ', TIPO_VIVIENDA, ' ',
					IIF(ID_FONDEO = 2,'NO ', ''), 'RESTRINGIDO ', IND_ETAPA
				) 
			END,
			ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC, 'PRINCIPAL', MON_CREDITO,
			0, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO,
			IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA,
			LEFT( CONCAT('REV DESEM FIRMA ', ID_EXTERNO,' ', APELLIDO), 30 ), APELLIDO, 'REVERSO DESEMBOLSO', ID_POLIZA
		FROM PO.SAF_MOV_ABONO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
            AND RUBRO = 'PRINCIPAL' AND SUBSTRING(ID_EXTERNO, 1, 1) != 'R'
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------
		--## ASIGNACION DE CUENTAS RESPECTO A LOS CATALOGOS

		UPDATE H SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
			SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
	
		UPDATE H
			SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE
			H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

        --manejo de porcentaje Afirme
        UPDATE PO.SAF_MOV_ABONO
        SET   MONTO = MONTO * 0.10
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND ID_TIPO_CREDITO = 4 AND CONCEPTO NOT LIKE 'TRS %'

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY, ID_SECUENCIA INT)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)

        INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO, ID_SECUENCIA)  
		SELECT CONCEPTO_FINAL, A.CUENTA_CARGO, 
				CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
                , ID_SECUENCIA
		FROM PO.SAF_MOV_ABONO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		    AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_CARGO, A.CONCEPTO_FINAL, A.ID_EXTERNO, A.ID_SECUENCIA
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO, ID_SECUENCIA) 
		SELECT CONCEPTO_FINAL, A.CUENTA_ABONO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
            , ID_SECUENCIA
		FROM PO.SAF_MOV_ABONO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, A.CONCEPTO_FINAL, A.ID_EXTERNO, A.ID_SECUENCIA

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		WHERE NOT (MONTO_CARGO = 0 AND MONTO_ABONO = 0)
		GROUP BY CONCEPTO, CUENTA, ID_SECUENCIA

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
