SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------------------------0905
CREATE PROC [PO].[SYS_SP_MOV_CARGO]
(
	@FECHA_INICIO DATE,
	@FECHA_FIN DATE,
	@DE_TIPO VARCHAR(8) --- # SI "NEW" APLICA INSERTS, DE LO CONTRARIO UPDATES 
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION
		IF @DE_TIPO = 'new' BEGIN
			IF EXISTS(SELECT TOP (1) 1 FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN)
			BEGIN
				DELETE FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
			END

			INSERT INTO PO.SAF_MOV_CARGO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
			ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, IND_COVID)
			SELECT 
				C.ID_EXTERNO
				,A.NUM_CREDITO
				,D.NOM_CLIENTE
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CASE WHEN C.COD_ORIGEN IN ('008','031') THEN 2 ELSE 1 END AS ID_FONDEO
				,A.COD_RUBRO RUBRO
				,A.MON_RUBRO MONTO
				,A.MON_IVA MON_PAGO_IVA
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,A.IND_ESTADO
				,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
				,A.FEC_COBRO
				,C.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
				,C.FEC_APERTURA,
				A.Ind_Posposicion
			FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
				INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
				INNER JOIN Quiero_Confianza_CreditoPuente_QA.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
				INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			WHERE   A.IND_ESTADO <> 'N'
					AND A.COD_RUBRO NOT IN ('INTERESES', 'MORATORIOS')
					AND A.FEC_COBRO BETWEEN @FECHA_INICIO AND @FECHA_FIN
					AND A.MON_RUBRO <> 0.00
			
			--# BLOC: EXTRACCION para traer reestructuras y firmas
			INSERT INTO PO.SAF_MOV_CARGO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
			ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, 
			ID_CUENTA, CONCEPTO_FINAL, APELLIDO)
			SELECT 
				C.ID_EXTERNO
				,A.NUM_CREDITO
				--,D.NOM_CLIENTE
				,CONCAT(
					IIF(D.PRIMER_APELLIDO IS NULL OR D.PRIMER_APELLIDO = '', '', D.PRIMER_APELLIDO + ' ') ,
					IIF(D.SEGUNDO_APELLIDO IS NULL OR D.SEGUNDO_APELLIDO = '', '', D.SEGUNDO_APELLIDO+ ' ') ,
					IIF(D.PRIMER_NOMBRE IS NULL OR D.PRIMER_NOMBRE = '', '', D.PRIMER_NOMBRE+ ' ') ,
					IIF(D.SEGUNDO_NOMBRE IS NULL OR D.SEGUNDO_NOMBRE = '', '', D.SEGUNDO_NOMBRE)
				)
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CASE WHEN C.COD_ORIGEN IN ('008','031') THEN 2 ELSE 1 END AS ID_FONDEO
				,'PRINCIPAL'
				,A.Mon_movimiento
				,0
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,A.Cod_estado
				,'NI' CARTERA_VENCIDA
				,A.Fec_movimiento
				,C.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
				,C.FEC_APERTURA
				,A.Id_cuenta
				,''
				,IIF(D.PRIMER_APELLIDO IS NULL OR D.PRIMER_APELLIDO = '', 'NOMBRE', D.PRIMER_APELLIDO)
			FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_ENCABEZADO_PAGO A WITH(NOLOCK)
				INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
				--INNER JOIN Quiero_Confianza_CreditoPuente_QA.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
				INNER JOIN Quiero_Confianza_CreditoPuente_QA.CL.CL_PERSONAS_FISICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
				INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			WHERE
				A.Fec_movimiento BETWEEN @FECHA_INICIO AND @FECHA_FIN
				AND A.Mon_movimiento <> 0.00
				AND A.ID_SECUENCIA IN(
					SELECT MIN(ID_SECUENCIA) FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_ENCABEZADO_PAGO
					WHERE Tip_transaccion=3 AND Subtip_transac =1 AND Ind_forma_pago = 1 AND Cod_estado = 'A'
					GROUP BY NUM_CREDITO
				)

		END -- @DE_TIPO = 'new'
		

		--- SE EJECUTAN LOS QUERYS MASIVOS DE INICIO e INSERTS SI HAY IVA EN TABLA
		EXECUTE PO.SYS_SP_AVALUO_AND_UPDATE @FECHA_INICIO, @FECHA_FIN, 'CARGO', 'I'

		IF @DE_TIPO = 'new' BEGIN
			EXECUTE PO.SYS_SP_AVALUO_AND_UPDATE @FECHA_INICIO, @FECHA_FIN, 'CARGO', 'A'
		END

		UPDATE PO.SAF_MOV_CARGO
				SET CONCEPTO = CONCAT(CASE
					WHEN ID_TIPO_CREDITO = 20 THEN 'QBILLETE '
					WHEN ID_TIPO_CREDITO = 23 THEN 'SHCH '
					WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
					WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
				END,'DEVENGO ',
				IIF(IND_COVID = 'S', 'COVID ', ''),
				RUBRO, ' ',
				IIF(ID_PRODUCTO= 50, '', CONCAT(TIPO_VIVIENDA, ' ')),
				IIF(ID_FONDEO = 2, 'NO ', ''), 'RESTRINGIDO ', IND_ETAPA)
			WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN

		--- CALIFICACION FINAL DE CONCEPTO POLIZA
		---- ## VALIDAR SI HACE FALTA AGREGAR UN FILTRO PARA EJECUATAR SOLO EN FIRMAS
		UPDATE PO.SAF_MOV_CARGO
			SET CONCEPTO_FINAL = LEFT( CONCAT('DESEM ',ID_EXTERNO, ' ', APELLIDO), 30 )
		WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN


		--# CREACION DE VARIBES PARA USAR LINEA A LINEA
		DECLARE  @ID_EXTERNO			VARCHAR(15),	@NUM_CREDITO		NUMERIC(8,0)
				 ,@ID_FONDEO			INT,			@ID_PRODUCTO		NUMERIC(3,0)
				 ,@TIP_TRANSACCION		VARCHAR(5),		@SUBTIP_TRANSAC		VARCHAR(5)
				 ,@RUBRO				VARCHAR(30),	@MONTO				NUMERIC(16,2)
				 ,@MON_PAGO_IVA			NUMERIC(16,2),	@TIPO_CREDITO		VARCHAR(255)
				 ,@TIPO_VIVIENDA		VARCHAR(150),	@FECHA_MOVIMIENTO	DATE
				 ,@IND_ESTADO			VARCHAR(2),		@NOM_CLIENTE		VARCHAR(250)
				 ,@ID_TIPO_CREDITO		INT,			@IND_ETAPA			INT
				 ,@INDICE				INT = 0,		@MAX_INDICE			INT = 0
				 ,@NOMBRE_PRODUCTO		VARCHAR(355),   @IND_ETAPA_ANTERIOR INT
				 ,@IND_ETAPA_ACTUAL		INT,			@cov				INT
				 ,@FECHA_ACTUAL			DATE,			@FECHA_ANTERIOR		DATE,
				 @ID_FONDEO_ACTUAL	    INT,			
				 @ID_FONDEO_ANTERIOR	INT,			@FEC_APERTURA		DATE,
				 @MON_CREDITO			NUMERIC(16, 2), @REGISTRO_FIRMA		BIT = 0,
				 @CEDIDO				VARCHAR(255),	@TIPO_V_ANT			VARCHAR(150),
				 @MON_TRASPASO			NUMERIC(16,2),  @MON_TRASPASO_COVID  NUMERIC(16,2),
				 @EL_ID_FONDEO			VARCHAR(16),	@EL_ID_PRODUCTO		VARCHAR(11),
				 @ID_UNICO				VARCHAR(150),   @RES				VARCHAR(15),    @ES_R VARCHAR(1)
				 ,@MONTO_CANCELADO		DECIMAL(16, 2), @NUM_CONTRATO		INT
				 ,@CARTERA_VENCIDA      VARCHAR(2),		@CUENTA_TEM			VARCHAR(20)
				 ,@ID_CUENTA			VARCHAR(20),	@CONCEPTO_FINAL		VARCHAR(30)
				 ,@APELLIDO				VARCHAR(30)

		DECLARE @MOVS TABLE (ID INT, ID_EXTERNO VARCHAR(15), NUM_CREDITO NUMERIC(8, 0), NOM_CLIENTE VARCHAR (250), ID_FONDEO INT, 
					ID_PRODUCTO NUMERIC(3, 0), NOMBRE_PRODUCTO VARCHAR(355), RUBRO VARCHAR(30), MONTO NUMERIC(16, 2), MON_PAGO_IVA NUMERIC(16, 2),
					ID_TIPO_CREDITO INT, TIPO_CREDITO VARCHAR(255), TIPO_VIVIENDA VARCHAR(150), FECHA_MOVIMIENTO DATETIME, IND_ESTADO VARCHAR(2),
					IND_ETAPA INT, MON_CREDITO NUMERIC(16, 2), FEC_APERTURA DATE, CEDIDO VARCHAR(255), ID_UNICO VARCHAR(150), CARTERA_VENCIDA VARCHAR(2),
					ID_CUENTA VARCHAR(20), CONCEPTO_FINAL VARCHAR(30), APELLIDO VARCHAR(30)
				)

		INSERT INTO @MOVS (ID, ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, 
			NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
			TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO,
			IND_ETAPA, MON_CREDITO, FEC_APERTURA, CEDIDO, ID_UNICO, CARTERA_VENCIDA, ID_CUENTA, 
			CONCEPTO_FINAL, APELLIDO)
		SELECT 
			ROW_NUMBER() OVER (ORDER BY NUM_CREDITO) ID
			,ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, NOMBRE_PRODUCTO, RUBRO, MONTO, 
			MON_PAGO_IVA, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, 
			FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, MON_CREDITO, FEC_APERTURA, CEDIDO, ID, CARTERA_VENCIDA, ID_CUENTA,
			CONCEPTO_FINAL, APELLIDO
		FROM 
			PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
			ORDER BY NUM_CREDITO, FECHA_MOVIMIENTO

		SELECT @MAX_INDICE = COUNT(ID) FROM @MOVS
		WHILE @INDICE < @MAX_INDICE
		BEGIN
			SELECT
				@ID_EXTERNO = ID_EXTERNO, @NUM_CREDITO = NUM_CREDITO, @NOM_CLIENTE = NOM_CLIENTE, @ID_FONDEO = ID_FONDEO
				,@ID_PRODUCTO = ID_PRODUCTO, @NOMBRE_PRODUCTO = NOMBRE_PRODUCTO, @RUBRO = RUBRO, @MONTO = MONTO, 
				@MON_PAGO_IVA = MON_PAGO_IVA, @ID_TIPO_CREDITO = ID_TIPO_CREDITO, @TIPO_CREDITO = TIPO_CREDITO, @TIPO_VIVIENDA = TIPO_VIVIENDA
				,@FECHA_MOVIMIENTO = FECHA_MOVIMIENTO, @IND_ESTADO = IND_ESTADO, @IND_ETAPA = IND_ETAPA, 
				@MON_CREDITO = MON_CREDITO, @FEC_APERTURA = FEC_APERTURA, @CEDIDO = CEDIDO,
				@IND_ETAPA_ACTUAL = IND_ETAPA, @FECHA_ACTUAL = FECHA_MOVIMIENTO, @ID_FONDEO_ACTUAL = ID_FONDEO, @ID_UNICO = ID_UNICO, @CARTERA_VENCIDA = CARTERA_VENCIDA,
				@ID_CUENTA = ID_CUENTA, @CONCEPTO_FINAL = CONCEPTO_FINAL, @APELLIDO = APELLIDO
			FROM @MOVS WHERE ID = @INDICE + 1

			--- SE INICIALIZAN VARIABLES
			SELECT @EL_ID_FONDEO = IIF(@ID_FONDEO = 2, 'NO RESTRINGIDO ', 'RESTRINGIDO ')
			SET @EL_ID_PRODUCTO = CASE
				WHEN @ID_PRODUCTO = 50 THEN 'CONSUMO '
				WHEN @ID_PRODUCTO = 51 THEN 'EMPLEADO '	ELSE ''
			END

			-- # TRATAMIENTO PARA SEPARACION DE CUENTAS BALANCE/ORDEN ETAPA 3
			IF @IND_ETAPA_ACTUAL = 3 AND @DE_TIPO = 'new' BEGIN 
				--EXEC PO.SYS_SP_ACCOUNT_BALANCE_ORDEN @FECHA_FIN, @NUM_CREDITO, @MONTO, 'CARGO' 
				print('dddd')
			END -- # ETAPA 3
			
			IF @CARTERA_VENCIDA = 'NI' BEGIN
				SELECT @RES = '', @ES_R = '', @NUM_CONTRATO = 0
				SELECT @ES_R = IND_ESTADO_CRED, @NUM_CONTRATO = num_contrato FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_CREDITOS WHERE NUM_CREDITO = @NUM_CREDITO
				
				IF @ES_R = 'E' BEGIN 
					SELECT @RES = 'REESTRUCTURA ', @MONTO = Mon_credito FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_CREDITOS WHERE NUM_CREDITO = @NUM_CONTRATO

					IF @DE_TIPO ='new' BEGIN
						INSERT INTO PO.SAF_MOV_CARGO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
												CONCEPTO,
												NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
												TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
												MON_CREDITO, FEC_APERTURA, CEDIDO)
						
						--- # Validar las condiciones del credito, van las de el credito encontrado o las de numero de contrato
						SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO,
								CONCAT(	@EL_ID_PRODUCTO, @RES, 'CANCEL ', @RUBRO,
								IIF(@EL_ID_PRODUCTO != '','', CONCAT(' ',@TIPO_VIVIENDA, ' ')),
								@EL_ID_FONDEO, @IND_ETAPA  ),
								@NOMBRE_PRODUCTO, @RUBRO, @MONTO, 0, @ID_TIPO_CREDITO, 
								@TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_MOVIMIENTO, @IND_ESTADO, @IND_ETAPA,
								@MON_CREDITO, @FEC_APERTURA, @CEDIDO

						UPDATE PO.SAF_MOV_ABONO 
							SET	CONCEPTO = REPLACE(CONCEPTO, 'PAGO', 'PAGO REES'),
							@CUENTA_TEM = CUENTA_ABONO,
							CUENTA_ABONO = CUENTA_CARGO,
							CUENTA_CARGO = @CUENTA_TEM
						WHERE NUM_CREDITO = @NUM_CONTRATO AND ID_CUENTA = 140103009001 AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN

					END --# @DE_TIPO ='new'

					UPDATE PO.SAF_MOV_CARGO SET
						CONCEPTO = CONCAT(	@EL_ID_PRODUCTO, @RES, 'FIRMA PRINCIPAL ',
							IIF(@EL_ID_PRODUCTO != '','', CONCAT(@TIPO_VIVIENDA, ' ')),
							@EL_ID_FONDEO, @IND_ETAPA  ) WHERE ID = @ID_UNICO
				END
				
				---# CUANDO NO ES UNA RESTRUCTURA PERO SE DETECTO UN DESEMBOLSO
				IF @ES_R != 'E' BEGIN
					UPDATE PO.SAF_MOV_CARGO SET
						CONCEPTO = CONCAT(	@EL_ID_PRODUCTO,
						IIF((@ID_CUENTA = '2076' OR @ID_CUENTA = '1020010502130300') AND @ID_PRODUCTO = 50, 'EXEM ', ''),
						'FIRMA PRINCIPAL ',
							IIF(@ID_PRODUCTO = 50, '', CONCAT(@TIPO_VIVIENDA, ' ')),   
							@EL_ID_FONDEO, @IND_ETAPA  ), 

						--# SE actualiza el concepto final
						CONCEPTO_FINAL = LEFT( CONCAT('FIRMA ', ID_EXTERNO,' ', APELLIDO), 30 )
					WHERE ID = @ID_UNICO
				END
			END -- #! COMISION_ANTICIPADA

			SET @INDICE = @INDICE + 1
		END -- # WHILE @INDICE < @MAX_INDICE

		--- SE BORRAN REGISTROS DE DEVENGADOS DE PRINCIPAL, que no deberian existir
		DELETE FROM PO.SAF_MOV_CARGO WHERE RUBRO = 'PRINCIPAL'
		AND CONCEPTO NOT LIKE '%firma%' AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
		
		UPDATE PO.SAF_MOV_CARGO SET	CONCEPTO = REPLACE(	CONCEPTO, 'FIRMA PRINCIPAL ', 'PRINCIPAL ')
		WHERE CONCEPTO LIKE '%REESTRUCTURA%' AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN

		EXECUTE PO.SYS_SP_AVALUO_AND_UPDATE @FECHA_INICIO, @FECHA_FIN, 'CARGO', 'F'
		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK
		DECLARE @ERROR_MESSAGE VARCHAR(4000), @ERROR_SEVERITY INT,	@ERROR_STATE INT		
		SELECT @ERROR_MESSAGE = ERROR_MESSAGE(), @ERROR_SEVERITY = ERROR_SEVERITY(), @ERROR_STATE = ERROR_STATE()

		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE)
	END CATCH
END


GO
