SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_CATALOGO_CONCEPTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CONCEPTO] [varchar](100) NOT NULL,
	[COD_RUBRO] [varchar](50) NOT NULL,
	[DES_RUBRO] [varchar](200) NOT NULL,
	[IND_ACTIVO] [bit] NOT NULL,
	[FECHA] [datetime] NOT NULL,
 CONSTRAINT [PK_PO_CATALOGO_CONCEPTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_CONCEPTO] UNIQUE NONCLUSTERED 
(
	[CONCEPTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_CATALOGO_CONCEPTOS] ADD  CONSTRAINT [DF_SAF_CATALOGO_CONCEPTOS_IND_ACTIVO]  DEFAULT ((1)) FOR [IND_ACTIVO]
GO
ALTER TABLE [PO].[SAF_CATALOGO_CONCEPTOS] ADD  CONSTRAINT [DF_CATALOGO_CONCEPTOS_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
