SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_COM_REVERSO_INTERES]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 52
        ,@FECHA_FIN_DIA date

    set @FECHA_FIN_DIA = DATEADD(day, 1, @FECHA_INICIO)

	BEGIN TRY
		BEGIN TRANSACTION

		DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

        -- movimientos de reversa por cuenta
		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, CANAL)
		SELECT  
			C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,'' AS CUENTA_CARGO
			,'' AS CUENTA_ABONO
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO NOMBRE_PRODUCTO
			,CH.ID_FONDEO
			,'INTERESES' AS RUBRO
			,B.MON_PAGO MONTO
			,B.MON_PAGO_IVA
			,CASE WHEN A.IND_FORMA_PAGO = '' THEN 0 ELSE A.IND_FORMA_PAGO END IND_FORMA_PAGO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,C.IND_ESTADO
			,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,A.FEC_MOVIMIENTO
			,A.TIP_TRANSACCION
			,A.SUBTIP_TRANSAC
			,CH.IND_ETAPA
			,C.MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
			,A.Id_secuencia
            ,B.ID_REFERENCIA
			,CAST(A.Id_cuenta AS bigint)
			,dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito)
			,''
			,'REV INTERESES COM'
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
				INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
				INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
				INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
				LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
				LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
				LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
				    AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
                LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
				LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
				LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.IND_ESTADO IN ('C','D')
				AND C.IND_LINEA = 'N'
                AND (C.FEC_CANCELACION is null or @FECHA_INICIO <= C.FEC_CANCELACION)
                AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
                AND A.mon_movimiento > 0 -- no se consideran cancelaciones
				AND A.FEC_MOVIMIENTO = @FECHA_INICIO
				AND B.MON_PAGO <> 0.00
				AND A.ID_CUENTA IN ('1401030090010000','1401030090020000')
				AND B.COD_CONCEPTO  IN ('INTERESES', 'INTERES_ORDINARIO_A')

        -- movimientos de recalculo de sistema por fecha valor
		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, CANAL)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,'' AS CUENTA_CARGO
			,'' AS CUENTA_ABONO
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
            ,CP.NOMBRE_CORTO NOMBRE_PRODUCTO
			,CH.ID_FONDEO
			,'INTERESES' RUBRO
			,-A.MON_DIARIO MONTO
            ,IIF(X.IND_IVA='S',-0.16*A.MON_DIARIO,0) AS MONTO_IVA
            ,0 AS IND_FORMA_PAGO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,C.IND_ESTADO
			,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,A.FECHA_CALCULO FEC_MOVIMIENTO
			,0 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,CH.IND_ETAPA
            ,C.MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
            ,0 AS Id_secuencia
            ,0 AS ID_REFERENCIA
            ,0 AS Id_cuenta
            ,'N' AS IND_COVID
            ,''
			,'REV INTERES COM'
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN (SELECT NUM_CREDITO, IND_IVA FROM Quiero_Confianza.PR.PR_RUBRO_X_CREDITO WITH (NOLOCK) WHERE COD_RUBRO = 'INTERESES') X  ON A.NUM_CREDITO = X.Num_Credito
            LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE @FECHA_INICIO <= A.FECHA_CALCULO and A.FECHA_CALCULO < @FECHA_FIN_DIA
            AND (C.FEC_CANCELACION is null or @FECHA_INICIO <= C.FEC_CANCELACION)
			AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
			AND A.MON_DIARIO < 0.00

        -- movimientos por ticket
		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
			TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, CANAL)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
            ,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,'INTERESES' AS RUBRO
			,-A.MON_RUBRO AS MONTO
            ,-A.MON_IVA AS MON_PAGO_IVA
            ,0 AS IND_FORMA_PAGO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,'P' AS IND_ESTADO
            ,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,@FECHA_INICIO AS FEC_COBRO
			,CH.IND_ETAPA
            ,C.MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
            ,0 AS ID_SECUENCIA
            ,A.NUM_SECUENCIA AS ID_REFERENCIA
            ,0 AS ID_CUENTA
            ,'N' AS IND_COVID
			,'DEV INTERES COM EXT'
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM PO.SAF_RUBRO_HIST A WITH (NOLOCK)
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
            LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE A.COD_RUBRO IN ('INTERESES', 'INTERES_ORDINARIO_A')
			AND A.MON_RUBRO < 0.00
            AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
            AND @FECHA_INICIO <= A.FECHA_GENERACION AND A.FECHA_GENERACION < @FECHA_FIN_DIA

		
		-- SE AGREGA REGISTRO SI HAY IVA 
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
										FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA,ID_REFERENCIA, ID_CUENTA, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA, CANAL
		FROM PO.SAF_MOV_ABONO
		WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO
		    AND ID_POLIZA = @ID_POLIZA


		-- ACTUALIZACION DE CONCEPTO
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = CONCAT(
			'CMR DEVENGO ',
			IIF(IND_COVID = 'S', 'COVID ', ''),
			dbo.FN_RUBRO_POL(RUBRO),' ', 
			TIPO_CREDITO,
			' ', CANAL,
			IIF(ID_FONDEO = 2, ' NO', ''),' RESTRINGIDO ', 
			IND_ETAPA) 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		-- UPDATE DE ID_CONCPETO
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		
		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_CARGO,
			H.CUENTA_CARGO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
		
		UPDATE PO.SAF_MOV_ABONO
			SET CONCEPTO_FINAL = LEFT( CONCAT('REV INT COM ',ID_EXTERNO, ' ', APELLIDO), 30 )
		WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT A.CONCEPTO_FINAL, A.CUENTA_CARGO, 
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
        FROM PO.SAF_MOV_ABONO A 
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CONCEPTO_FINAL, A.CUENTA_CARGO
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO, A.CUENTA_ABONO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_ABONO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, CONCEPTO

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		WHERE NOT (MONTO_CARGO = 0 AND MONTO_ABONO = 0)
		GROUP BY CONCEPTO, CUENTA

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		COMMIT

	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
