SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_IND_CONDONACION]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 13
           ,@FECHA_ANT date
    
    set @FECHA_ANT = DATEADD(day, -1, @FECHA_INICIO)

	BEGIN TRY
		BEGIN TRANSACTION

			DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

			INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA)
			SELECT  
				C.ID_EXTERNO
				,C.NUM_CREDITO
				,dbo.FN_FORMA_NOMBRE(D.PRIMER_APELLIDO, D.SEGUNDO_APELLIDO, D.PRIMER_NOMBRE, D.SEGUNDO_NOMBRE, NULL,NULL)
				,'' AS CUENTA_CARGO
				,'' AS CUENTA_ABONO
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CH.ID_FONDEO
				,B.COD_CONCEPTO AS RUBRO
				,B.MON_PAGO MONTO
				,B.MON_PAGO_IVA
				,CASE WHEN A.IND_FORMA_PAGO = '' THEN 0 ELSE  A.IND_FORMA_PAGO END IND_FORMA_PAGO
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,C.IND_ESTADO
				,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
				,A.FEC_MOVIMIENTO
				,A.TIP_TRANSACCION
				,A.SUBTIP_TRANSAC
				,CH.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
				,C.FEC_APERTURA
				,A.Id_secuencia
				,B.ID_REFERENCIA
				,CAST(A.Id_cuenta AS bigint)
				,dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito)
				,''
				,IIF(D.PRIMER_APELLIDO IS NULL OR D.PRIMER_APELLIDO = '', 'NOMBRE', D.PRIMER_APELLIDO)
				, 'CONDONACION'
				, @ID_POLIZA
				, CH.TIPO_VIVIENDA
			FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
					INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
					INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
					INNER JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
					LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
					AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
					LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO

			WHERE C.IND_ESTADO IN ('C', 'D') 
					AND C.IND_LINEA = 'N'
                    AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
                    AND A.FEC_MOVIMIENTO = @FECHA_INICIO
					AND A.Mon_movimiento > 0
                    AND B.MON_PAGO <> 0.00
					AND ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
					OR (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('140103009001','140103009002', '5050260901000300')))
					AND CH.FECHA_SISTEMA = @FECHA_ANT
					AND cast(C.NUM_CREDITO as varchar) + '-' + cast(B.ID_SECUENCIA as varchar) NOT IN (
						SELECT cast(C.NUM_CONTRATO as varchar) + '-' + cast(max(B.ID_SECUENCIA) as varchar)
						FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
							INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
							INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CONTRATO
						WHERE C.IND_ESTADO_CRED = 'E' AND C.FEC_APERTURA = @FECHA_INICIO
                            AND A.ID_CUENTA IN ('140103009001','140103009002')
						GROUP BY C.NUM_CONTRATO
					)-- nose consideren los ultimos movimientos de cada reestructura

			-- EXTRACCIÓN DE MOVIMIENTOS BALLON PARA SEPARACION EN RUBROS
			SELECT A.NUM_CREDITO, A.COD_CONCEPTO, B.ID_SECUENCIA, SUM(B.MONTO) PAGO, E.NUM_PRIORIDAD_PAGO ORDEN
			INTO #MOVS_BALLON
			FROM [PO].[PR_BALLON_DET] A
					JOIN PO.SAF_MOV_ABONO B ON A.NUM_CREDITO = B.NUM_CREDITO
					JOIN [Quiero_Confianza].PR.PR_CREDITOS D ON A.NUM_CREDITO = D.NUM_CREDITO
					JOIN [Quiero_Confianza].PR.PR_PRIORIDAD_RUBRO_TIPOCRED E ON D.TIP_CREDITO= E.TIP_CREDITO AND A.COD_CONCEPTO= E.COD_RUBRO
			WHERE B.FECHA_MOVIMIENTO = @FECHA_INICIO AND B.ID_POLIZA = @ID_POLIZA AND B.RUBRO = 'CARGO_BALLON'
					AND A.ID_SECUENCIA IS NULL AND A.FECHA_MODIFICACION IS NULL
					AND B.ID_SECUENCIA NOT IN (SELECT DISTINCT ID_SECUENCIA FROM [PO].[PR_BALLON_DET] WHERE ID_SECUENCIA IS NOT NULL)
			GROUP BY A.NUM_CREDITO, A.COD_CONCEPTO, B.ID_SECUENCIA, E.NUM_PRIORIDAD_PAGO
		
			EXEC [PO].[SP_IND_BALLON_APLI]@FECHA_INICIO, @ID_POLIZA

			INSERT INTO PO.SAF_MOV_ABONO(
				ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
				,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
				,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
				CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA)
			SELECT  
				C.ID_EXTERNO
				,C.NUM_CREDITO
				,dbo.FN_FORMA_NOMBRE(D.PRIMER_APELLIDO, D.SEGUNDO_APELLIDO, D.PRIMER_NOMBRE, D.SEGUNDO_NOMBRE, NULL,NULL)
				,'' AS CUENTA_CARGO
				,'' AS CUENTA_ABONO
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CH.ID_FONDEO
				,A.COD_CONCEPTO
				,A.MON_PAGO
				,A.MON_PAGO_IVA
				,CASE WHEN B.IND_FORMA_PAGO = '' THEN 0 ELSE  B.IND_FORMA_PAGO END IND_FORMA_PAGO
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,C.IND_ESTADO
				,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
				,A.FECHA_PROCESO
				,B.TIP_TRANSACCION
				,B.SUBTIP_TRANSAC
				,CH.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
				,C.FEC_APERTURA
				,A.Id_secuencia
				,(SELECT TOP 1 ID_REFERENCIA FROM Quiero_Confianza.PR.PR_DETALLE_PAGO WHERE ID_SECUENCIA = B.ID_SECUENCIA AND COD_CONCEPTO= 'CARGO_BALLON')
				,CAST(B.Id_cuenta AS bigint)
				,'N'
				,''
				,IIF(D.PRIMER_APELLIDO IS NULL OR D.PRIMER_APELLIDO = '', 'NOMBRE', D.PRIMER_APELLIDO)
				, 'CONDONACION'
				, @ID_POLIZA
				, CH.TIPO_VIVIENDA
			FROM [PO].[PR_BALLON_APLI] A 
					LEFT JOIN Quiero_Confianza.PR.PR_ENCABEZADO_PAGO B WITH (NOLOCK) ON A.NUM_CREDITO = B.NUM_CREDITO AND A.ID_SECUENCIA = B.ID_SECUENCIA AND A.NUM_ASIENTO = B.NUM_ASIENTO
					LEFT JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.NUM_CREDITO = C.NUM_CREDITO
					LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					LEFT JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
					LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_ANT
			WHERE A.FECHA_PROCESO = @FECHA_INICIO AND A.ID_POLIZA = @ID_POLIZA
			
			DELETE FROM PO.SAF_MOV_ABONO 
			WHERE ID_POLIZA= @ID_POLIZA AND FECHA_MOVIMIENTO= @FECHA_INICIO AND RUBRO = 'CARGO_BALLON'
					AND ID_SECUENCIA IN (SELECT ID_SECUENCIA FROM [PO].[PR_BALLON_APLI] 
											WHERE ID_POLIZA= @ID_POLIZA AND FECHA_PROCESO = @FECHA_INICIO)

		--- SI ALGUN TIPO VIVIENDA ES NULL se clasifica como consumo
		UPDATE PO.SAF_MOV_ABONO 
				SET TIPO_VIVIENDA = 'CONSUMO',
				ID_PRODUCTO = 50,	
				NOMBRE_PRODUCTO = 'CONSUMO'
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND TIPO_VIVIENDA IS NULL
				AND ID_POLIZA = @ID_POLIZA

		-- SE DETERMINA EL TIPO DE PRODUCTO DEACUERDO AL ID EMPLEADO O CONSUMO
		UPDATE H SET 
				H.ID_PRODUCTO = 50,	
				H.NOMBRE_PRODUCTO = 'CONSUMO'
			FROM  PO.SAF_MOV_ABONO H  
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
			WHERE GG.NUM_DESC_TIPO_CREDITO = 1 AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET 
			H.ID_PRODUCTO = 51,	
			H.NOMBRE_PRODUCTO = 'EMPLEADO'
		FROM  PO.SAF_MOV_ABONO H  INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
			WHERE GG.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		------------- ###################################### ------------------------------------------------
		------------- ###################################### ------------------------------------------------

		---# Crea un nuevo registro si existe IVA en el universo extraido
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
				TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA,ID_REFERENCIA,ID_CUENTA, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA,
				ID_CUENTA, IND_COVID, APELLIDO, 'CONDONACION', @ID_POLIZA
		FROM PO.SAF_MOV_ABONO
		WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO
		AND ID_POLIZA = @ID_POLIZA


		------------- ###################################### ------------------------------------------------
		------------- ###################################### ------------------------------------------------
		--- CALIFICACION BASE DEL CONCEPTO DEACUERDO A REGLAS GLOBALES
		UPDATE PO.SAF_MOV_ABONO
				SET CONCEPTO = CONCAT(CASE
					WHEN ID_TIPO_CREDITO = 20 THEN 'PAGO QBILLETE '
					WHEN ID_TIPO_CREDITO = 23 THEN 'PAGO SHCH '
					WHEN CONCEPTO = 'CANC PREPAGO' THEN 'CONDONACION CANC CXC '
					WHEN (TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5) OR (TIP_TRANSACCION = 4 AND ID_CUENTA IN (140103009001,140103009002, 5050260901000300))THEN 'CONDONACION '
					WHEN TIP_TRANSACCION = 4 AND IND_FORMA_PAGO = 5 THEN 'PAGO SALDO_FAVOR ' --Pago que se aplica utilizando saldo a favor "este es descarga saldo a favor"
					WHEN (TIP_TRANSACCION = 113) OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN 'SALDO_FAVOR '  --Al recibirse un pago y una parte se va a saldo a favor

					WHEN ID_PRODUCTO= 50 THEN 'PAGO CONSUMO '
					WHEN ID_PRODUCTO= 51 THEN 'PAGO EMPLEADO '

					WHEN TIP_TRANSACCION = 4 THEN 'PAGO '
					WHEN ID_TIPO_CREDITO = 26 THEN 'CASTIGO '
					ELSE ''
				END,
				IIF( (ID_CUENTA = '2076' OR ID_CUENTA = '1020010502130300') AND ID_PRODUCTO= 50, 'EXEM ', ''),
				IIF(IND_COVID = 'S', 'COVID ', ''), --# Si el registro tiene COVID le agrega la palabra
				CASE
					WHEN ID_CUENTA = 2073 THEN 'DACION '
					WHEN ID_CUENTA = 2074 THEN 'ADJUDICACION '
					WHEN ID_CUENTA = 2068 THEN 'SINIESTRO ' ELSE ''
				END,
				IIF(ID_PRODUCTO = 51,'EMPLEADO ',''),
				IIF(TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR'), '', IIF(CONCEPTO='PREPAGO',RUBRO+' CANC ',RUBRO) + ' '),  --# Si no es saldo a favor le agrega el rubro
				IIF(ID_PRODUCTO= 50,'CONSUMO ', CONCAT(TIPO_VIVIENDA, ' ')),
				IIF(ID_FONDEO = 2, 'NO ', ''),'RESTRINGIDO ', IND_ETAPA) 
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		
		------------- ###################################### ------------------------------------------------
		------------------ CONDONACION REC -------------------------------------------------------------------
		------------- ###################################### ------------------------------------------------

		---- Duplicacion de Elementos de condonacion para movimiento requerido en poliza

		--INSERT INTO PO.SAF_MOV_ABONO (CONCEPTO, ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
		--		TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
		--		TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
		--		FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA)
		--SELECT REPLACE(CONCEPTO, 'CONDONACION ', 'CONDONACION REC '),ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
		--		TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
		--		TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
		--		FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, APELLIDO, 'CONDONACION', 13
		--FROM PO.SAF_MOV_ABONO
		--WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
		----AND NOT (CUENTA_ABONO LIKE '7017%' OR CUENTA_ABONO LIKE '7016%')

		------ SE eliminan los conceptos reclacificados que en abono van a la 7016 o 7017

		--DELETE FROM PO.SAF_MOV_ABONO WHERE 
		--	FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA AND CONCEPTO LIKE '%CONDONACION REC %'
		--	AND (CUENTA_ABONO LIKE '7017%' OR CUENTA_ABONO LIKE '7016%')

		-------ELIMINAR ELEMENTOS CON MONTO 0 GENERADOS POR EL PROCESO

		--DELETE FROM PO.SAF_MOV_ABONO WHERE MONTO = 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		------------- ###################################### ------------------------------------------------
		------------------ FIN CONDONACION REC -------------------------------------------------------------------
		------------- ###################################### ------------------------------------------------

		--# Variables a usar para lectura linea a linea
		DECLARE  @ID_EXTERNO		VARCHAR(15),	@NUM_CREDITO		NUMERIC(8, 0), 
				 @ID_FONDEO		    INT, 			@ID_PRODUCTO		NUMERIC(3, 0), 
				 @TIP_TRANSACCION   VARCHAR(5),		@SUBTIP_TRANSAC		VARCHAR(5), 
				 @RUBRO			    VARCHAR(30),	@MONTO				NUMERIC(16, 2), 
				 @MON_PAGO_IVA		NUMERIC(16, 2), @TIPO_CREDITO		VARCHAR(255), 
				 @TIPO_VIVIENDA		VARCHAR(150),	@FECHA_MOVIMIENTO	DATE, 
				 @IND_ESTADO		VARCHAR(2),		@NOM_CLIENTE		VARCHAR(250),
				 @ID_TIPO_CREDITO   INT,			@IND_ETAPA			INT, 
				 @MAX_INDICE		INT,			@INDICE				INT = 0,
				 @IND_FORMA_PAGO	INT,			@NOMBRE_PRODUCTO	VARCHAR(355),
				 @IND_ETAPA_ANTERIOR INT =0 ,		@IND_ETAPA_ACTUAL	INT,
				 @FECHA_ACTUAL		DATE,			@FECHA_ANTERIOR		DATE,
				 @ID_FONDEO_ACTUAL	INT,			@ID_FONDEO_ANTERIOR	INT,
				 @FEC_APERTURA		DATE,			@MON_CREDITO		NUMERIC(16, 2),
				 @CEDIDO			VARCHAR(255),   @ID_SECUENCIA	    INT,
				 @ID_CUENTA	        VARCHAR(25),	@ID_UNICO			VARCHAR(150),
				 @CONCEPTO	        VARCHAR(150),	@LEYENDA			VARCHAR(70),
				 @QUERY				VARCHAR(MAX),   @BANDERA			INT,
				 @TOTAL				DECIMAL(16,2) = 0,	@EL_RUBRO			VARCHAR(30) = '',
				 @ORDEN				DECIMAL(16,2),	@MONTO_BALANCE		DECIMAL(16,2),
				 @NUM_CREDITO_ANT	NUMERIC(8, 0) = 0,
				 @CONCEPTO_FINAL	VARCHAR(100),	@APELLIDO			VARCHAR(30),
				 @TIPO_V_ANT		VARCHAR(150),	@TIPO_TRASPASO		INT = 0
			 
		declare @MONTO_OFFSET numeric(16,6),@ORDEN_TOT numeric(16,6),@DIAS_PERIODO_INTERNO int,@fecha_ref date, @Dias_offset int

		--# variables para uso de la separacion balance/orden
		DECLARE @SUMA89 NUMERIC(16, 2), @SUMA90 NUMERIC(16, 2), @FAVOR NUMERIC(16, 2), @IMPAGO DATE, @ETAPA_3_INI  DATE, @DIA_CORTE int
		
		--# Tabla temporal para almacenar la fila a trabajar
		DECLARE @MOVS TABLE (ID INT, ID_EXTERNO VARCHAR(15), NUM_CREDITO NUMERIC(8, 0), NOM_CLIENTE VARCHAR(250), ID_PRODUCTO NUMERIC(3,0), 
							NOMBRE_PRODUCTO VARCHAR(355), ID_FONDEO INT, TIP_TRANSACCION VARCHAR(5), SUBTIP_TRANSAC VARCHAR(5),
							RUBRO VARCHAR(30), MONTO NUMERIC(16, 2), MON_PAGO_IVA NUMERIC(16,2), ID_TIPO_CREDITO INT, 
							TIPO_CREDITO VARCHAR(255), TIPO_VIVIENDA VARCHAR(150), FECHA_MOVIMIENTO DATETIME, IND_ESTADO VARCHAR(2), 
							CARTERA_VENCIDA VARCHAR(2), IND_ETAPA INT, IND_FORMA_PAGO INT, FEC_APERTURA DATE, CEDIDO VARCHAR(255),
							MON_CREDITO NUMERIC(16, 2), ID_SECUENCIA	INT, ID_REFERENCIA INT, ID_CUENTA	VARCHAR(25), ID_UNICO VARCHAR(150), CONCEPTO VARCHAR(150),
							CONCEPTO_FINAL VARCHAR(100), APELLIDO VARCHAR(30))

		--# Se insertan todos los registros que se trabajaran con un indice a la tabla temporal
		INSERT INTO @MOVS (ID, ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO,
							NOMBRE_PRODUCTO, ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC,
							RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
							TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, 
							IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, ID_UNICO, CONCEPTO,
							CONCEPTO_FINAL, APELLIDO)
		SELECT 
			ROW_NUMBER() OVER (ORDER BY NUM_CREDITO, RUBRO, ID_SECUENCIA, ID_REFERENCIA) ID
			,ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, 
			NOMBRE_PRODUCTO, ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC
			,RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
			TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, 
			IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, ID, CONCEPTO,
			CONCEPTO_FINAL, APELLIDO
			FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		
		--# Se obtiene el tamaño total de registros
		SELECT @MAX_INDICE = COUNT(ID) FROM @MOVS

		--- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> LOGICA ETAPA 3 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
		WHILE @INDICE < @MAX_INDICE	BEGIN
			--# BLOC: lee todos los campos del registro actual
			SELECT 
				@ID_EXTERNO = ID_EXTERNO, @NUM_CREDITO = NUM_CREDITO, @NOM_CLIENTE = NOM_CLIENTE, @ID_PRODUCTO = ID_PRODUCTO, 
				@NOMBRE_PRODUCTO = NOMBRE_PRODUCTO, @ID_FONDEO = ID_FONDEO, @TIP_TRANSACCION = TIP_TRANSACCION, @SUBTIP_TRANSAC = SUBTIP_TRANSAC,
				@RUBRO = RUBRO, @MONTO = MONTO, @MON_PAGO_IVA = MON_PAGO_IVA, @ID_TIPO_CREDITO = ID_TIPO_CREDITO, 
				@TIPO_CREDITO = TIPO_CREDITO, @TIPO_VIVIENDA = TIPO_VIVIENDA, @FECHA_MOVIMIENTO = FECHA_MOVIMIENTO, 
				@IND_ESTADO = IND_ESTADO, @IND_ETAPA = IND_ETAPA, @IND_FORMA_PAGO = IND_FORMA_PAGO, @FEC_APERTURA = FEC_APERTURA, @CEDIDO = CEDIDO, @MON_CREDITO = MON_CREDITO,
				@IND_ETAPA_ACTUAL = IND_ETAPA, @FECHA_ACTUAL = FECHA_MOVIMIENTO, @ID_FONDEO_ACTUAL = ID_FONDEO,
				@ID_SECUENCIA = ID_SECUENCIA, @ID_CUENTA = ID_CUENTA, @ID_UNICO = ID_UNICO, @CONCEPTO = CONCEPTO,
				@CONCEPTO_FINAL = CONCEPTO_FINAL, @APELLIDO = APELLIDO
			FROM @MOVS WHERE ID = @INDICE + 1
			--# BLOC_END

			--# BLOC: inicializan variables
			SELECT @IND_ETAPA_ANTERIOR = 0, @FECHA_ANTERIOR = NULL, @ID_FONDEO_ANTERIOR = NULL, @LEYENDA = '', @TIPO_V_ANT= NULL
			--# BLOC_END

			--# BLOC: toma valores dia anterior
			SELECT @IND_ETAPA_ANTERIOR = IND_ETAPA, @FECHA_ANTERIOR = FECHA_SISTEMA, @ID_FONDEO_ANTERIOR = ID_FONDEO,
			@TIPO_V_ANT = TIPO_VIVIENDA
			FROM PO.CONTROL_HISTORICO_TRASPASOS WITH (NOLOCK)
			WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA = @FECHA_ANT
			--# BLOC_END

			--SELECT @IND_ETAPA_ANTERIOR ETAPA_A, @ID_FONDEO_ANTERIOR FON_A,@TIPO_V_ANT 

			-- # TRATAMIENTO PARA SEPARACION DE CUENTAS BALANCE/ORDEN ETAPA 3    @IND_ETAPA_ANTERIOR
			IF (@IND_ETAPA_ACTUAL = 3) AND @RUBRO
				IN('IVA MORATORIOS', 'MORATORIOS', 'INTERESES', 'IVA INTERESES', 'COMISION_ADMINISTRACION', 'SEGURO_DANOS', 'IVA SEGURO_DANOS', 'SEGURO_VIDA', 'IVA SEGURO_VIDA', 'IVA COMISION_ADMINISTRACION', 'CARGO_PORCENTAJE', 'IVA CARGO_PORCENTAJE') 
				AND @CONCEPTO NOT LIKE '%COVID%' 
			BEGIN
			        IF @NUM_CREDITO != @NUM_CREDITO_ANT BEGIN
				        SELECT @NUM_CREDITO_ANT = @NUM_CREDITO, @TOTAL = 0
                    END

					IF @EL_RUBRO != @RUBRO  BEGIN --- OR @NUM_CREDITO != @NUM_CREDITO_ANT

						--# BLOC: inicializa variables, lee impago y balance
						SELECT @BANDERA = 0, @EL_RUBRO = @RUBRO, @TOTAL = 0, @SUMA89 = 0, @ORDEN = 0
                        
                        SET @ETAPA_3_INI = dbo.FECHA_IMPAGO(@NUM_CREDITO)


                        if not @ETAPA_3_INI is null begin --se encuentra en etapa 3
                            if @RUBRO IN ('INTERESES') begin

                                SELECT @SUMA89 = isnull(sum(B.MON_PAGO),0),@fecha_ref = max(FEC_COBRO)
                                FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                    Quiero_Confianza.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                    Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                                WHERE --(TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5 AND A.COD_ESTADO = 'A')
									--OR (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('140103009001','140103009002', '5050260901000300') AND A.COD_ESTADO = 'A')
                                    A.TIP_TRANSACCION = 4 AND A.COD_ESTADO = 'A'
									AND C.NUM_CREDITO = @NUM_CREDITO
                                    and C.cod_rubro = @RUBRO
                                    and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                    and C.fec_cobro <= @ETAPA_3_INI


                                select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)
                                from Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA
                                where num_credito = @NUM_CREDITO
                                    and @fecha_ref <= fecha_calculo and fecha_calculo < @ETAPA_3_INI

                                if @SUMA89 > 0 begin
                                    set @SUMA89 = @SUMA89 + @MONTO_OFFSET
                                end

                                set @SUMA89 = isnull(@SUMA89,0)

                            end else if @RUBRO IN ('IVA INTERESES') begin

                                SELECT @SUMA89 = isnull(sum(B.MON_PAGO_IVA),0),@fecha_ref = max(FEC_COBRO)
                                FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                    Quiero_Confianza.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                    Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                                WHERE --(TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5 AND A.COD_ESTADO = 'A')
									--OR (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('140103009001','140103009002', '5050260901000300') AND A.COD_ESTADO = 'A')
                                    A.TIP_TRANSACCION = 4 AND A.COD_ESTADO = 'A'
									AND C.NUM_CREDITO = @NUM_CREDITO
                                    and C.cod_rubro = replace(@RUBRO,'IVA ','')
                                    and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                    and C.fec_cobro <= @ETAPA_3_INI

                                select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)*0.16
                                from Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA
                                where num_credito = @NUM_CREDITO
                                    and @fecha_ref <= fecha_calculo and fecha_calculo < @ETAPA_3_INI

                                if @SUMA89 > 0 begin
                                    set @SUMA89 = @SUMA89 + @MONTO_OFFSET
                                end

                                set @SUMA89 = isnull(@SUMA89,0)

                            end else if @RUBRO Like 'IVA%' begin

                                SELECT @SUMA89 = isnull(sum(B.MON_PAGO_IVA),0)
                                FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                    Quiero_Confianza.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                    Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                                WHERE --(TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5 AND A.COD_ESTADO = 'A')
									--OR (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('140103009001','140103009002', '5050260901000300') AND A.COD_ESTADO = 'A')
                                    A.TIP_TRANSACCION = 4 AND A.COD_ESTADO = 'A'
									AND C.NUM_CREDITO = @NUM_CREDITO
                                    and C.cod_rubro = replace(@RUBRO,'IVA ','')
                                    and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                    and C.fec_cobro <= @ETAPA_3_INI

                            end else begin

                                SELECT @SUMA89 = isnull(sum(B.MON_PAGO),0)
                                FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                    Quiero_Confianza.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                    Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                                WHERE --(TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5 AND A.COD_ESTADO = 'A')
									--OR (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('140103009001','140103009002', '5050260901000300') AND A.COD_ESTADO = 'A')
                                    A.TIP_TRANSACCION = 4 AND A.COD_ESTADO = 'A'
									AND C.NUM_CREDITO = @NUM_CREDITO
                                    and C.cod_rubro = @RUBRO
                                    and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                    and C.fec_cobro <= @ETAPA_3_INI

                            end 
                        end

                        --print '|NUM_CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')+'|RUBRO:|'+isnull(cast(@RUBRO as varchar),'')+'|ETAPA_3_INI_1M:|'+isnull(cast(@ETAPA_3_INI_1M as varchar),'')+'|SUMA89:|'+isnull(cast(@SUMA89 as varchar),'')
					END

					--# BLOC: incrementa total
					SET  @TOTAL =  @TOTAL + @MONTO
					--# BLOC_END
					
					--#	SOLO SE VALIDA UNA UNICA OCACION SI EL PAGO DEBE DIVIDIRSE
                    --print '|@TOTAL:|'+isnull(cast(@TOTAL as varchar),'')+'|@MONTO:|'+isnull(cast(@MONTO as varchar),'')+'|@SUMA89:|'+isnull(cast(@SUMA89 as varchar),'')+'|@ORDEN:|'+isnull(cast(@ORDEN as varchar),'')+'|@BANDERA:|'+isnull(cast(@BANDERA as varchar),'')++'|@rubro:|'+isnull(cast(@RUBRO as varchar),'')+'|@CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')+'|@INI:|'+isnull(cast(@ETAPA_3_INI_1M as varchar),'')
					
					--print '|ETAPA_3_INI:|'+isnull(cast(@ETAPA_3_INI as varchar),'')+'|NUM_CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')

					IF @BANDERA = 0 BEGIN
					PRINT('BANDERA ES 0')
						IF @SUMA89<@TOTAL --AND @SUMA89 > 0 -- SEGUNDA CONDICION ESTABA COMENTADA 
						BEGIN
						PRINT('ENTRA EN SEPARACION--PRUEBA 1')
						
							SELECT @ORDEN = @TOTAL - @SUMA89, @BANDERA = 1
							IF @ORDEN != 0 BEGIN

									INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
											CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
											TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO, TABLA_ORIGEN, ID_POLIZA,ID_SECUENCIA)
									SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
											REPLACE(CONCEPTO, 'CONDONACION ', 'PAGO CCO '),
											NOMBRE_PRODUCTO, RUBRO, @ORDEN, 0, ID_TIPO_CREDITO, 
											TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
											FEC_APERTURA, CEDIDO, 'CONDONACION', ID_POLIZA,ID_SECUENCIA
									FROM PO.SAF_MOV_ABONO 
									WHERE ID_POLIZA= @ID_POLIZA
                                        AND ID = @ID_UNICO
                                        --AND CONCEPTO NOT LIKE '%COVID%' AND NUM_CREDITO = @NUM_CREDITO AND RUBRO = @RUBRO AND FECHA_MOVIMIENTO BETWEEN @FECHA_FIN AND @FECHA_FIN
						
									UPDATE PO.SAF_MOV_ABONO SET MONTO = MONTO - @ORDEN --, CONCEPTO = REPLACE(CONCEPTO, 'PAGO ', 'PAGO CO ') --COAA
									WHERE ID = @ID_UNICO

									IF (@MONTO - @ORDEN) = 0 BEGIN
										PRINT('ENTRÓ (@MONTO - @ORDEN) -- PRUEBA 2')
										DELETE FROM PO.SAF_MOV_ABONO  WHERE ID = @ID_UNICO	
									END
						
							END --# @ORDEN != 0
						
						END --# @TOTAL > @SUMA89 AND @SUMA89 >
					END

					IF @TOTAL >  @SUMA89 BEGIN
						IF @ORDEN <= 0 BEGIN
							PRINT('ENTRÓ A @TOTAL >  @SUMA89--PRUEBA3')
							UPDATE PO.SAF_MOV_ABONO SET CONCEPTO = REPLACE(CONCEPTO, 'CONDONACION ', 'PAGO CCO ') --COBB
							WHERE ID = @ID_UNICO
						END
						SET  @ORDEN = 0

					END -- # @MONTO > @SUMA89

			END -- # ETAPA 3

			SET @INDICE = @INDICE + 1
		END --# WHILE

		--- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FIN LOGICA ETAPA3 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<		
		
		-- UPDATE CONCEPTO FINAL

		UPDATE H 
		SET CONCEPTO_FINAL = LEFT(
		CONCAT(CASE
		WHEN ID_CUENTA = '140103009001' THEN 'BNF '
		WHEN ID_CUENTA = '140103009002' THEN 'BNF '
		ELSE 'CND '
		END,
		ID_EXTERNO, ' ', NOM_CLIENTE), 100)
		FROM PO.SAF_MOV_ABONO H 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA


		------------- ###################################### ------------------------------------------------
		------------- ###################################### ------------------------------------------------
		UPDATE H SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
			SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE 
			H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
			SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE 
			H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
	    
		--------------- ######## Caso especial enmascaramiento de cuentas
		UPDATE H
				SET H.CUENTA_CARGO = CASE
				WHEN ID_PRODUCTO IN(1, 2) THEN '2020-0508-0203-0000'
				WHEN ID_PRODUCTO IN(50, 51) THEN '2020-0508-0201-0000'
			ELSE
				H.CUENTA_CARGO
			END
		FROM
			PO.SAF_MOV_ABONO H
		WHERE
			H.CUENTA_CARGO = '2401-9000-0003-0001'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		--no deben quedar nulos en las cuentas
        UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA= @ID_POLIZA and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA= @ID_POLIZA and CUENTA_CARGO is null

        --manejo de porcentaje Afirme
        UPDATE PO.SAF_MOV_ABONO
        SET   MONTO = MONTO * 0.10
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND ID_TIPO_CREDITO = 4 AND CONCEPTO NOT LIKE 'TRS %'


	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT A.CONCEPTO_FINAL, A.CUENTA_CARGO, 
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
        FROM [PO].[SAF_MOV_ABONO] A 
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CONCEPTO_FINAL, A.CUENTA_CARGO
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, A.CUENTA_ABONO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_ABONO] A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, CONCEPTO_FINAL
			
		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		WHERE NOT (MONTO_CARGO = 0 AND MONTO_ABONO = 0)
		GROUP BY CONCEPTO, CUENTA

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
