SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas Osorio
-- Creacion:	20250725
-- Descripcion:	Muestra el resumen de una carga de archivo de COBRANZA
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_COBRANZA_ENC_SEL]
	 @ID_COBRANZA_ENC uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT ID
        , FORMAT(FECHA_SISTEMA, 'dd/MM/yyyy') AS FECHA_SISTEMA
        , FORMAT(PARTE_ION, 'C', 'en-US') AS PARTE_ION
        , FORMAT(PARTE_ADM, 'C', 'en-US') AS PARTE_ADM
        , FORMAT(FECHA_GENERACION, 'dd/MM/yyyy hh:mm:ss') AS FECHA_GENERACION
    FROM PO.PR_COBRANZA_ENC
    WHERE ID = @ID_COBRANZA_ENC

END
GO
