SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_REEST_CAST_APLI]
@FECHA_INICIO DATE,
@ID_POLIZA INT
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @TIPO_POLIZA VARCHAR(1), @NUM_CREDITO INT, @PAGO NUMERIC(16,2), @SAL_RUBRO NUMERIC(16,2)= 0, @ID_SECUENCIA INT, 
	@SAL_IVA NUMERIC(16,2)= 0, @COD_CONCEPTO VARCHAR(50), @PAGO_N NUMERIC(16,2), @NUM_CREDITO_ANT INT=0, @CONT_PAGOS INT = 0, 
	@ID_REGISTRO UNIQUEIDENTIFIER, @ID_SECUENCIA_ANT INT = 0, @AFECTO_RUBRO INT = 0, @SAL_RUBRO_INI NUMERIC(16,2), 
	@SAL_IVA_INI NUMERIC(16,2), @APLICA_RUBRO NUMERIC(16,2), @APLICA_IVA NUMERIC(16,2), @NUM_ASIENTO NUMERIC(8,0),
	@SAL_RUBRO_B NUMERIC(16,2)= 0, @SAL_RUBRO_O NUMERIC(16,2)= 0, @SAL_RUBRO_P NUMERIC(16,2)= 0,
	@TIPO VARCHAR(15), @TIPO_ANT VARCHAR(15)='', @COD_CONCEPTO_ANT VARCHAR(50)='', @INDICE INT, @ULTIMO INT, @ES_ULTIMO INT

	IF @ID_POLIZA IN (58, 38) BEGIN
		
		exec CursorCloseDeallocate 'db_cursor_cob_cast_r'

			DECLARE db_cursor_cob_cast_r CURSOR FOR

				SELECT NUM_CREDITO, ID_SECUENCIA
				FROM #MOVS_RC
				GROUP BY NUM_CREDITO, ID_SECUENCIA
				ORDER BY NUM_CREDITO, ID_SECUENCIA ASC

			OPEN db_cursor_cob_cast_r
				FETCH NEXT FROM db_cursor_cob_cast_r
				INTO @NUM_CREDITO, @ID_SECUENCIA

			WHILE @@FETCH_STATUS = 0  
			BEGIN
				--SELECT @NUM_CREDITO, @ID_SECUENCIA
				SELECT TOP 1  @NUM_ASIENTO = NUM_ASIENTO FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A
				WHERE A.NUM_CREDITO = @NUM_CREDITO AND A.ID_SECUENCIA = @ID_SECUENCIA
				
				SELECT C.NUM_CREDITO, C.COD_CONCEPTO, ISNULL(A.MON_PAGO,0) + C.MON_PAGO AS MON_PAGO, C.TIPO
				INTO #REVERSO
				FROM (SELECT NUM_CREDITO, SUM(MON_PAGO) MON_PAGO, COD_CONCEPTO, NUM_ASIENTO, TIPO FROM [PO].[PR_REEST_CAST_APLI]
				WHERE NUM_CREDITO = @NUM_CREDITO AND NUM_ASIENTO = @NUM_ASIENTO
				GROUP BY NUM_CREDITO, COD_CONCEPTO, NUM_ASIENTO, TIPO) C
				LEFT JOIN [PO].[PR_REEST_CAST_DET] A ON C.NUM_CREDITO = A.NUM_CREDITO AND C.COD_CONCEPTO= A.COD_CONCEPTO AND C.TIPO = A.TIPO	
				WHERE A.ID_SECUENCIA IS NULL AND A.FECHA_MODIFICACION IS NULL AND C.NUM_ASIENTO = @NUM_ASIENTO
				GROUP BY C.NUM_CREDITO, C.COD_CONCEPTO, A.MON_PAGO, C.MON_PAGO, C.TIPO

				UPDATE [PO].[PR_REEST_CAST_DET] SET ID_SECUENCIA = @ID_SECUENCIA, FECHA_MODIFICACION = GETDATE() 
				WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA IS NULL AND FECHA_MODIFICACION IS NULL

				INSERT INTO [PO].[PR_REEST_CAST_DET](NUM_CREDITO, COD_CONCEPTO, MON_PAGO, FECHA_MODIFICACION, ID_SECUENCIA, TIPO, FECHA_SISTEMA)
				SELECT NUM_CREDITO, COD_CONCEPTO, MON_PAGO, NULL, NULL, TIPO, @FECHA_INICIO 
				FROM #REVERSO

				INSERT INTO [PO].[PR_REEST_CAST_APLI] (NUM_CREDITO,ID_SECUENCIA, COD_CONCEPTO, MON_PAGO, TIPO, ID_POLIZA, FECHA_PROCESO, NUM_ASIENTO)
				SELECT NUM_CREDITO, @ID_SECUENCIA, COD_CONCEPTO, -MON_PAGO, TIPO, @ID_POLIZA, @FECHA_INICIO, NUM_ASIENTO
				FROM [PO].[PR_REEST_CAST_APLI]
				WHERE NUM_CREDITO = @NUM_CREDITO AND NUM_ASIENTO = @NUM_ASIENTO
				
				FETCH NEXT FROM db_cursor_cob_cast_r
				INTO @NUM_CREDITO, @ID_SECUENCIA
			END 

			CLOSE db_cursor_cob_cast_r
			DEALLOCATE db_cursor_cob_cast_r
		
	END
	ELSE BEGIN
		-- SE GENERA UN CAMPO DE INDICE PARA IDENTIFICAR EL ÚLTIMO REGISTRO
		SELECT NUM_CREDITO, RUBRO, ID_SECUENCIA, SUM(PAGO) AS MONTO, TIPO , 
		ROW_NUMBER() OVER (PARTITION BY NUM_CREDITO, ID_SECUENCIA ORDER BY NUM_CREDITO, ID_SECUENCIA, TIPO, ORDEN, IND_IVA) INDICE
		INTO #MOVS_RC_IND
		FROM #MOVS_RC
		GROUP BY NUM_CREDITO, RUBRO, ID_SECUENCIA, TIPO, ORDEN, IND_IVA
		
		exec CursorCloseDeallocate 'db_cursor_cob_cast_r'
	
		DECLARE db_cursor_cob_cast_r CURSOR FOR

			SELECT NUM_CREDITO, RUBRO, ID_SECUENCIA, MONTO, TIPO, INDICE 
			FROM #MOVS_RC_IND
			ORDER BY NUM_CREDITO, ID_SECUENCIA, INDICE ASC

		OPEN db_cursor_cob_cast_r  
			FETCH NEXT FROM db_cursor_cob_cast_r
			INTO @NUM_CREDITO, @COD_CONCEPTO, @ID_SECUENCIA, @PAGO_N, @TIPO, @INDICE

		WHILE @@FETCH_STATUS = 0  
		BEGIN
			IF @ID_SECUENCIA_ANT != @ID_SECUENCIA BEGIN
				SET @PAGO = @PAGO_N
				SET @ID_SECUENCIA_ANT = @ID_SECUENCIA
				SELECT @ULTIMO = MAX(INDICE) FROM #MOVS_RC_IND WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA= @ID_SECUENCIA
			END
			
			/*IF @COD_CONCEPTO_ANT != @COD_CONCEPTO BEGIN -- YA NO VA PORQUE YA NO SE ACTUALIZA EL MONTO AL CAMBIAR DE RUBRO
				SET @PAGO = @PAGO_N
				SET @COD_CONCEPTO_ANT = @COD_CONCEPTO
			END*/

			SELECT @SAL_RUBRO = MON_PAGO FROM PO.PR_REEST_CAST_DET WHERE NUM_CREDITO = @NUM_CREDITO AND COD_CONCEPTO = @COD_CONCEPTO
				AND TIPO= @TIPO AND ID_SECUENCIA IS NULL AND FECHA_MODIFICACION IS NULL ORDER BY FECHA_GENERACION DESC

			SET @SAL_RUBRO= ISNULL(@SAL_RUBRO,0)

			/*IF @TIPO IS NULL BEGIN
				IF @COD_CONCEPTO NOT IN ('PRINCIPAL') BEGIN
					SET @TIPO = 'POSTERIOR'
				END
				ELSE BEGIN
					SET @TIPO = 'BALANCE'
				END
			END*/

			SET @SAL_RUBRO_INI = @SAL_RUBRO
	
			--SELECT @NUM_CREDITO CREDITO, @COD_CONCEPTO RUBRO, @SAL_RUBRO SALDO, @TIPO TIPO, @PAGO PAGO  
	
			IF @PAGO > 0 AND @SAL_RUBRO > 0 BEGIN
				IF @PAGO >= @SAL_RUBRO BEGIN
					SET @PAGO = @PAGO - @SAL_RUBRO
					SET @SAL_RUBRO = 0
				END
				ELSE BEGIN
					SET  @SAL_RUBRO = @SAL_RUBRO - @PAGO
					SET @PAGO = 0
				END
				UPDATE PO.PR_REEST_CAST_DET SET ID_SECUENCIA = @ID_SECUENCIA, FECHA_MODIFICACION = GETDATE() 
				WHERE NUM_CREDITO = @NUM_CREDITO AND COD_CONCEPTO = @COD_CONCEPTO AND TIPO= @TIPO
				AND ID_SECUENCIA IS NULL AND FECHA_MODIFICACION IS NULL
		
				INSERT INTO PO.PR_REEST_CAST_DET (NUM_CREDITO, COD_CONCEPTO, MON_PAGO, FECHA_MODIFICACION, ID_SECUENCIA, TIPO, FECHA_SISTEMA)
				SELECT @NUM_CREDITO, @COD_CONCEPTO, @SAL_RUBRO, NULL, NULL, @TIPO, @FECHA_INICIO
			END

			SET @APLICA_RUBRO = ISNULL(@SAL_RUBRO_INI,0) - ISNULL(@SAL_RUBRO,0)
			
			IF (@APLICA_RUBRO > 0) BEGIN
				IF EXISTS (
					SELECT 1 FROM [PO].[PR_REEST_CAST_APLI]
					WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA = @ID_SECUENCIA AND COD_CONCEPTO = @COD_CONCEPTO 
					AND FECHA_PROCESO= @FECHA_INICIO AND TIPO = @TIPO
				)
				BEGIN
					--SELECT 'ENTRA A UPDATE'
					UPDATE [PO].[PR_REEST_CAST_APLI]
					SET MON_PAGO = MON_PAGO + @APLICA_RUBRO,
						FECHA_GENERACION = GETDATE()
					WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA = @ID_SECUENCIA AND COD_CONCEPTO = @COD_CONCEPTO
					AND FECHA_PROCESO= @FECHA_INICIO AND TIPO = @TIPO
				END
				ELSE BEGIN
					
					INSERT INTO [PO].[PR_REEST_CAST_APLI] (NUM_CREDITO,ID_SECUENCIA, COD_CONCEPTO, MON_PAGO, TIPO, ID_POLIZA, FECHA_PROCESO, NUM_ASIENTO)
					SELECT TOP 1 @NUM_CREDITO, @ID_SECUENCIA, @COD_CONCEPTO, @APLICA_RUBRO, @TIPO, @ID_POLIZA, @FECHA_INICIO, NUM_ASIENTO 
					FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA= @ID_SECUENCIA
				END
			END

			--SI HAY REMANENTE SE INSERTA COMO PRINCIPAL
			IF @PAGO > 0 AND @INDICE = @ULTIMO BEGIN
				IF EXISTS (
					SELECT 1 FROM [PO].[PR_REEST_CAST_APLI]
					WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA = @ID_SECUENCIA AND COD_CONCEPTO = 'PRINCIPAL' 
					AND FECHA_PROCESO= @FECHA_INICIO AND TIPO = 'BALANCE'
				) 
				BEGIN
					UPDATE [PO].[PR_REEST_CAST_APLI]
					SET MON_PAGO = MON_PAGO + @PAGO,
						FECHA_GENERACION = GETDATE()
					WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA = @ID_SECUENCIA AND COD_CONCEPTO = 'PRINCIPAL'
					AND FECHA_PROCESO= @FECHA_INICIO AND TIPO = 'BALANCE'
				END
				ELSE BEGIN
					INSERT INTO PO.PR_REEST_CAST_APLI (NUM_CREDITO, ID_SECUENCIA, COD_CONCEPTO, MON_PAGO, TIPO, ID_POLIZA, FECHA_PROCESO, NUM_ASIENTO)
					SELECT TOP 1 @NUM_CREDITO, @ID_SECUENCIA, 'PRINCIPAL', @PAGO, 'BALANCE', @ID_POLIZA, @FECHA_INICIO, NUM_ASIENTO
					FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO
					WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA = @ID_SECUENCIA
				END
				SET @PAGO = 0
			END

	
				FETCH NEXT FROM db_cursor_cob_cast_r
			INTO @NUM_CREDITO, @COD_CONCEPTO, @ID_SECUENCIA, @PAGO_N, @TIPO, @INDICE
		END 

		CLOSE db_cursor_cob_cast_r  
		DEALLOCATE db_cursor_cob_cast_r
	END
END
GO
