SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_IND_FIRMA]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 1
	DECLARE @TABLA_ORIGEN VARCHAR(5) = 'FIRMA'

	BEGIN TRY
		BEGIN TRANSACTION
			DELETE FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
			------- BLOK
			INSERT INTO PO.SAF_MOV_CARGO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
			ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, 
			ID_CUENTA, CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA)
			SELECT 
				C.ID_EXTERNO
				,A.NUM_CREDITO
				--,D.NOM_CLIENTE
				,dbo.FN_FORMA_NOMBRE(D.PRIMER_APELLIDO, D.SEGUNDO_APELLIDO, D.PRIMER_NOMBRE, D.SEGUNDO_NOMBRE, NULL, NULL)
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CH.ID_FONDEO--CASE WHEN C.COD_ORIGEN IN ('008','031') THEN 2 ELSE 1 END AS ID_FONDEO
				,'PRINCIPAL'
				,A.Mon_movimiento
				,0
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,A.Cod_estado
				,'NI' CARTERA_VENCIDA
				,A.Fec_movimiento
				,CH.IND_ETAPA--C.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
				,C.FEC_APERTURA
				,A.Id_cuenta
				, ''
				,IIF(D.PRIMER_APELLIDO IS NULL OR D.PRIMER_APELLIDO = '', 'NOMBRE', D.PRIMER_APELLIDO)
				,@TABLA_ORIGEN
				, @ID_POLIZA
				,CH.TIPO_VIVIENDA
			FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH(NOLOCK)
				INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
				INNER JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
				INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
				LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			WHERE
				A.Fec_movimiento = @FECHA_INICIO
				AND A.Mon_movimiento <> 0.00
				AND C.IND_ESTADO_CRED != 'E' --INDICA Que SOLO TRAIGA FIRMAS y no reestructuras
				AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
				AND A.Id_cuenta NOT IN ('2061','2056','2068','2076','1020010502130300') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO, EX_EMPLEADO, EX_EMPLEADO
				AND A.ID_SECUENCIA IN(
					SELECT MIN(ID_SECUENCIA) FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO
					WHERE Tip_transaccion=3 AND Subtip_transac =1 AND Ind_forma_pago = 1 AND Cod_estado = 'A'
					GROUP BY NUM_CREDITO
				)
				
			------- BLOK
			--###################################################################################################
			--EXTRACCION PARA MOVIMIENTOS DE DEVENGO
			INSERT INTO PO.SAF_MOV_CARGO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,/*TIP_TRANSACCION, SUBTIP_TRANSAC,*/ IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, /*ID_SECUENCIA,*/ ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA)
			SELECT  
				C.ID_EXTERNO
				,C.NUM_CREDITO
				--,D.NOM_CLIENTE
				,dbo.FN_FORMA_NOMBRE(D.PRIMER_APELLIDO, D.SEGUNDO_APELLIDO, D.PRIMER_NOMBRE, D.SEGUNDO_NOMBRE, NULL, NULL)
				,'' AS CUENTA_CARGO
				,'' AS CUENTA_ABONO
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CH.ID_FONDEO --CASE WHEN C.COD_ORIGEN IN ('008','031') THEN 2 /*NO RESTRINGIDO*/ELSE 1 END AS ID_FONDEO
				,B.COD_CONCEPTO AS RUBRO
				,B.MON_PAGO MONTO
				,B.MON_PAGO_IVA
				,CASE WHEN A.IND_FORMA_PAGO = '' THEN 0 ELSE  A.IND_FORMA_PAGO END IND_FORMA_PAGO
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,C.IND_ESTADO
				,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
				,A.FEC_MOVIMIENTO
				--,A.TIP_TRANSACCION
				--,A.SUBTIP_TRANSAC
				,CH.IND_ETAPA -- C.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
				,C.FEC_APERTURA
				--,A.Id_secuencia
				,CAST(A.Id_cuenta AS bigint)
				,dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito)
				,''
				,IIF(D.PRIMER_APELLIDO IS NULL OR D.PRIMER_APELLIDO = '', 'NOMBRE', D.PRIMER_APELLIDO)
				,@TABLA_ORIGEN
				,@ID_POLIZA
				,CH.TIPO_VIVIENDA
			FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
					INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
					INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
					--INNER JOIN Quiero_Confianza.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA

					LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
					AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
					LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			WHERE C.IND_ESTADO IN ('C', 'D') 
					AND C.IND_LINEA = 'N'
                    AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
					AND A.Id_cuenta NOT IN ('2061','2056','2068','2076','1020010502130300') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO, EX_EMPLEADO, EX_EMPLEADO
					AND A.FEC_MOVIMIENTO = @FECHA_INICIO
					AND B.MON_PAGO > 0.00
					AND TIP_TRANSACCION = 3
					AND A.COD_ESTADO != 'N'
					
			--###################################################################################################
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------
		
		--- SI ALGUN TIPO VIVIENDA ES NULL se clasifica como consumo
		UPDATE PO.SAF_MOV_CARGO	SET 
				TIPO_VIVIENDA = 'CONSUMO',
				ID_PRODUCTO = 50,	
				NOMBRE_PRODUCTO = 'CONSUMO'
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND TIPO_VIVIENDA IS NULL
			AND ID_POLIZA = @ID_POLIZA
		
		-- SE DETERMINA EL TIPO DE PRODUCTO DEACUERDO AL ID EMPLEADO O CONSUMO
		UPDATE H SET 
				H.ID_PRODUCTO = 50,	
				H.NOMBRE_PRODUCTO = 'CONSUMO'
			FROM  PO.SAF_MOV_CARGO H
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
			WHERE GG.NUM_DESC_TIPO_CREDITO = 1 AND FECHA_MOVIMIENTO = @FECHA_INICIO
				AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET 
				H.ID_PRODUCTO = 51,	
				H.NOMBRE_PRODUCTO = 'EMPLEADO'
		FROM  PO.SAF_MOV_CARGO H  INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE 
			GG.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) 
			AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------

		INSERT INTO PO.SAF_MOV_CARGO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
				RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
				FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
				FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO, @TABLA_ORIGEN, @ID_POLIZA
		FROM PO.SAF_MOV_CARGO
		WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------

		UPDATE PO.SAF_MOV_CARGO
			SET CONCEPTO = CONCAT(CASE
				WHEN ID_TIPO_CREDITO = 20 THEN 'QBILLETE '
				WHEN ID_TIPO_CREDITO = 23 THEN 'SHCH '
				WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
				WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
			END,'DEVENGO ',
			RUBRO, ' ',
			IIF(ID_PRODUCTO= 50,'', CONCAT(TIPO_VIVIENDA, ' ')),
			IIF(ID_FONDEO = 2, 'NO ', ''),'RESTRINGIDO ', IND_ETAPA)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		--- CALIFICACION FINAL DE CONCEPTO POLIZA
		---- ## VALIDAR SI HACE FALTA AGREGAR UN FILTRO PARA EJECUATAR SOLO EN FIRMAS
		UPDATE PO.SAF_MOV_CARGO
			SET CONCEPTO_FINAL = LEFT( CONCAT('DEV ',
										IIF(RUBRO LIKE '%IVA%','IVA ',''),
										IIF(RUBRO LIKE '%COMISION_ANTICIPADA%', 'COM ',''),
										ID_EXTERNO, ' ', APELLIDO), 30 )
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------		

		UPDATE H SET
			CONCEPTO = CONCAT(	
				CASE
					WHEN H.ID_PRODUCTO = 50 THEN 'CONSUMO '
					WHEN H.ID_PRODUCTO = 51 THEN 'EMPLEADO '	ELSE ''
				END,
				IIF((H.ID_CUENTA = '2076' OR H.ID_CUENTA = '1020010502130300') AND H.ID_PRODUCTO = 50, 'EXEM ', ''),
				'FIRMA PRINCIPAL ',
				IIF(H.ID_PRODUCTO = 50, '', CONCAT(H.TIPO_VIVIENDA, ' ')),   
				IIF(H.ID_FONDEO = 2, 'NO RESTRINGIDO ', 'RESTRINGIDO '), 
				H.IND_ETAPA  
			), 

			--# SE actualiza el concepto final
			CONCEPTO_FINAL = LEFT( CONCAT('FIRMA ', H.ID_EXTERNO,' ', APELLIDO), 30 )
		FROM PO.SAF_MOV_CARGO H
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
			AND CARTERA_VENCIDA = 'NI'
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------

		--- SE BORRAN REGISTROS DE DEVENGADOS DE PRINCIPAL, que no deberian existir
		DELETE FROM PO.SAF_MOV_CARGO WHERE RUBRO = 'PRINCIPAL' 
			AND CONCEPTO NOT LIKE '%firma%' AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------

		--## ASIGNACION DE CUENTAS RESPECTO A LOS CATALOGOS
		UPDATE H SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
		AND ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
			SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_CARGO H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = CAST(B.ID_CUENTA AS VARCHAR(100))
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE 
			H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
	
		UPDATE H
			SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_CARGO H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE
			H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

        --manejo de porcentaje Afirme
        UPDATE PO.SAF_MOV_CARGO
        SET   MONTO = MONTO * 0.10
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND ID_TIPO_CREDITO = 4 AND CONCEPTO NOT LIKE 'TRS %'

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)


		INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO_FINAL, CUENTA_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_CARGO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		GROUP BY CUENTA_CARGO, CONCEPTO_FINAL, ID_EXTERNO


		INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO_FINAL, CUENTA_ABONO,
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO 
		FROM PO.SAF_MOV_CARGO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		GROUP BY CUENTA_ABONO, CONCEPTO_FINAL, ID_EXTERNO
			

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
