SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_POLIZA_HISTORICO_ENC](
	[FECHA_SISTEMA] [date] NOT NULL,
	[ID_POLIZA] [int] NOT NULL,
	[ESTATUS] [varchar](10) NOT NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
	[FECHA_ENVIO_INI] [datetime] NULL,
 CONSTRAINT [PK_SAF_POLIZA_HISTORICO_ENC] PRIMARY KEY CLUSTERED 
(
	[FECHA_SISTEMA] ASC,
	[ID_POLIZA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_POLIZA_HISTORICO_ENC] ADD  CONSTRAINT [DF_SAF_POLIZA_HISTORICO_ENC_FECHA]  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
