SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_COM_DEV_COMISIONES]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 33
        ,@FECHA_FIN_DIA date

    set @FECHA_FIN_DIA = DATEADD(day, 1, @FECHA_INICIO)

	BEGIN TRY
		BEGIN TRANSACTION

		DELETE FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		INSERT INTO PO.SAF_MOV_CARGO(
		    ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
		    ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, IND_COVID,TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA,
		    CANAL)
		SELECT C.ID_EXTERNO
			,A.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,A.COD_RUBRO RUBRO
			,A.MON_RUBRO MONTO
			,A.MON_IVA MON_PAGO_IVA
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,A.IND_ESTADO
			,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,A.FEC_COBRO
			,CH.IND_ETAPA
			,C.MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA,
			dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO)
			,'DEV COMISIONES COM'
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
		WHERE   A.IND_ESTADO <> 'N'
				AND A.COD_RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO',
				    'ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA','GASTOS_NOTARIALES')
				AND (A.MON_RUBRO <> 0 OR A.MON_IVA <> 0)
				AND A.FEC_COBRO = @FECHA_INICIO
                AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
                          

		INSERT INTO PO.SAF_MOV_CARGO(
		    ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
		    ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, IND_COVID,TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA,
		    CANAL)
		SELECT C.ID_EXTERNO
			,A.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,A.COD_RUBRO RUBRO
			,A.MON_RUBRO MONTO
			,A.MON_IVA MON_PAGO_IVA
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,'P' AS IND_ESTADO
			,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,@FECHA_INICIO AS FEC_COBRO
			,CH.IND_ETAPA
			,C.MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
			,'N' AS IND_COVID
			,'DEV COM CMR EXT'
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM PO.SAF_RUBRO_HIST A WITH(NOLOCK)
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
		WHERE A.COD_RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO',
			    'ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA','GASTOS_NOTARIALES')
			AND (A.MON_RUBRO > 0 OR A.MON_IVA <> 0)
            AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
            AND @FECHA_INICIO <= A.FECHA_GENERACION AND A.FECHA_GENERACION < @FECHA_FIN_DIA
	

		INSERT INTO PO.SAF_MOV_CARGO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
										FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
				FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO, TABLA_ORIGEN, @ID_POLIZA, CANAL
		FROM PO.SAF_MOV_CARGO
		WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA


		UPDATE PO.SAF_MOV_CARGO
		SET CONCEPTO = IIF(RUBRO IN ('GASTOS_NOTARIALES','IVA GASTOS_NOTARIALES')
			,CONCAT('CMR DEVENGO'
				,' ',dbo.FN_RUBRO_POL(RUBRO))
			,CONCAT('CMR DEVENGO'
				,IIF(IND_COVID = 'S', ' COVID', '')
				,' ', dbo.FN_RUBRO_POL(RUBRO)
				,' ', TIPO_CREDITO
				,' ', CANAL
				,IIF(ID_FONDEO = 2, ' NO', ''), ' RESTRINGIDO' 
				,' ',IND_ETAPA)
			)
		WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		--- CALIFICACION FINAL DE CONCEPTO POLIZA
		UPDATE PO.SAF_MOV_CARGO
			SET CONCEPTO_FINAL = LEFT( CONCAT(IIF(RUBRO='COMISION_PREPAGO','COM_PRE ','COM '),ID_EXTERNO, ' ', APELLIDO), 30 )
		WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE ID CONCEPTO 
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
		
	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
        --Proceso de poliza se encuentra en moratorios

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END

GO
