SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20260106
-- Descripcion:	Obtiene los saldos para realizar los traspasos
--              S: Parte ION sindicado normal  R: Parte ION sindicado orden  V: Parte ION sindicado covid
-- =============================================
CREATE PROCEDURE [PO].[SP_SND_TRASPASO_INSERT](
	@FECHA_INICIO    DATE,
	@NUM_CREDITO	 INT,
	@ID_EXTERNO		 VARCHAR(20),
	@LEYENDA		 VARCHAR(25),
	@ID_PRODUCTO	 INT,
	@ID_FONDEO		 INT,
	@IND_ETAPA		 INT, 
	@ID_TIPO_CREDITO INT,
	@NOM_CLIENTE	 VARCHAR(250),
    @ES_CAMBIO_MANUAL VARCHAR(1),
	@IND_ETAPA_ANT INT,
	@TIPO_CREDITO	VARCHAR(50),
	@CANAL			VARCHAR(30)

)
AS BEGIN

	DECLARE @MONTO NUMERIC(16,2) = 0,
			@MON_TRASPASO_COVID NUMERIC(16,2) = 0,
            @FECHA_SISTEMA date,
			@ORDEN NUMERIC(16,2)= 0,
			@ID_POLIZA	INT = 91,
			@TABLA_ORIGEN VARCHAR(15)= 'TRASP CMR SND'

    set @FECHA_SISTEMA = DATEADD(DD,-1,@FECHA_INICIO)

	--################################################################################################
	-- # TRASPASO DE INTERESES este es de la parte ION
	SET	@MON_TRASPASO_COVID = 
		ISNULL((SELECT SALDO
		FROM [CIERRE].[SAF_SALDOS]
		WHERE RUBRO = 'INTERESES' AND TIPO='V' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA),0)

	SET @ORDEN = 
		ISNULL((SELECT SALDO
		FROM [CIERRE].[SAF_SALDOS]
		WHERE RUBRO = 'INTERESES' AND TIPO='R' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA),0)

	SET	@MONTO =
		ISNULL((SELECT SALDO
		FROM [CIERRE].[SAF_SALDOS]
		WHERE RUBRO = 'INTERESES' AND TIPO='S' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA),0)
		+ ISNULL((SELECT SALDO
		FROM [CIERRE].[SAF_SALDOS]
		WHERE RUBRO = 'INTERES_NO_EXIGIBLES' AND TIPO='S' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA),0)
		- @MON_TRASPASO_COVID
		- @ORDEN
	
	--- BALANCE
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO, MONTO
		, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO, TIPO_CREDITO, CANAL)
	SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'INTERESES', @MONTO, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA, @TABLA_ORIGEN, @ID_POLIZA, 'BALANCE','','P', @TIPO_CREDITO, @CANAL

	--- ORDEN 
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO, MONTO,ID_TIPO_CREDITO,
		 FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO, ES_DETECTADO, TIPO_CREDITO, CANAL)
	SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'INTERESES', @ORDEN, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA, @TABLA_ORIGEN, @ID_POLIZA, 'ORDEN','','P', 1, @TIPO_CREDITO, @CANAL

	-- COVID
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO, MONTO, ID_TIPO_CREDITO,
		 FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO, IND_COVID, TIPO_CREDITO, CANAL)
	SELECT  @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'INTERESES', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA, @TABLA_ORIGEN, @ID_POLIZA, '','','P','S',@TIPO_CREDITO, @CANAL
	

	--################################################################################################
	-- # TRASPASO DE MORATORIOS este es de la parte ION
	SET @ORDEN = 0
    SET @MON_TRASPASO_COVID = 0
	SET @MONTO = 0

	SET	@MON_TRASPASO_COVID = 
		ISNULL((SELECT SALDO
		FROM [CIERRE].[SAF_SALDOS]
		WHERE RUBRO = 'MORATORIOS' AND TIPO='V' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA),0)

	SET @ORDEN = 
		ISNULL((SELECT SALDO
		FROM [CIERRE].[SAF_SALDOS]
		WHERE RUBRO = 'MORATORIOS' AND TIPO='R' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA),0)

	SET	@MONTO =
		ISNULL((SELECT SALDO
		FROM [CIERRE].[SAF_SALDOS]
		WHERE RUBRO = 'MORATORIOS' AND TIPO='S' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA),0)
		- @MON_TRASPASO_COVID
		- @ORDEN
			
	--- BALANCE
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO, MONTO,
		ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO, TIPO_CREDITO, CANAL)
	SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'MORATORIOS', @MONTO, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA, @TABLA_ORIGEN, @ID_POLIZA, 'BALANCE','','P', @TIPO_CREDITO, @CANAL

	--- ORDEN 
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO, MONTO, ID_TIPO_CREDITO,
		FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO, ES_DETECTADO, TIPO_CREDITO, CANAL)
	SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'MORATORIOS', @ORDEN, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA, @TABLA_ORIGEN, @ID_POLIZA, 'ORDEN','','P',1, @TIPO_CREDITO, @CANAL

	-- COVID
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,MONTO, ID_TIPO_CREDITO,
		FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO, IND_COVID, TIPO_CREDITO, CANAL)	
	SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'MORATORIOS', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA, @TABLA_ORIGEN, @ID_POLIZA, '','','P','S', @TIPO_CREDITO, @CANAL

	--################################################################################################
	-- # TRASPASO PRINCIPAL este es de la parte ION
	SET @MONTO = 0
    SET @MON_TRASPASO_COVID = 0
	
    SET @MON_TRASPASO_COVID = 
		ISNULL((SELECT SALDO
		FROM [CIERRE].[SAF_SALDOS]
		WHERE RUBRO = 'PRINCIPAL' AND TIPO='V' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA),0)

	SET @MONTO =
		ISNULL((SELECT SALDO
		FROM [CIERRE].[SAF_SALDOS]
		WHERE RUBRO = 'PRINCIPAL' AND TIPO='S' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA),0)
		- @MON_TRASPASO_COVID

	--- BALANCE
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO, MONTO,
		ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO, TIPO_CREDITO, CANAL)
	SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'PRINCIPAL', @MONTO, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA, @TABLA_ORIGEN, @ID_POLIZA, '','','P', @TIPO_CREDITO, @CANAL

	-- COVID
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,MONTO, ID_TIPO_CREDITO,
		FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO, IND_COVID, TIPO_CREDITO, CANAL)
	SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'PRINCIPAL', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA, @TABLA_ORIGEN, @ID_POLIZA, '','','P','S', @TIPO_CREDITO, @CANAL


	--################################################################################################
	-- # TRASPASO COMISIONES ADMINISTRATIVAS estan son al 100% usa los tipos

	SELECT RUBRO,SALDO
	INTO #COVID
	FROM [CIERRE].[SAF_SALDOS]
	WHERE TIPO='C' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA
		AND RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA') 

	SELECT RUBRO,SALDO
	INTO #ORDEN
	FROM [CIERRE].[SAF_SALDOS]
	WHERE TIPO='O' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA
		AND RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA') 

	SELECT RUBRO,SALDO
	INTO #TOTALES
	FROM [CIERRE].[SAF_SALDOS]
	WHERE TIPO='N' AND NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA=@FECHA_SISTEMA
		AND RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA') 

	--- BALANCE
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO, MONTO,
		ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO, TIPO_CREDITO, CANAL)
	SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		T.RUBRO, ISNULL(T.SALDO,0) - ISNULL(O.SALDO,0) - ISNULL(C.SALDO,0) AS MONTO, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
		@TABLA_ORIGEN, @ID_POLIZA, 'BALANCE','','P', @TIPO_CREDITO, @CANAL
	FROM #TOTALES T
		LEFT JOIN #ORDEN O ON T.RUBRO = O.RUBRO
		LEFT JOIN #COVID C ON T.RUBRO = C.RUBRO

	--- ORDEN
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO, MONTO, ID_TIPO_CREDITO,
		FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO, ES_DETECTADO, TIPO_CREDITO, CANAL)
	SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		RUBRO, SALDO AS ORDEN, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA, @TABLA_ORIGEN, @ID_POLIZA, 'ORDEN','','P',1, @TIPO_CREDITO, @CANAL
	FROM #ORDEN

	-- COVID
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,MONTO, ID_TIPO_CREDITO,
		FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO,IND_COVID, TIPO_CREDITO, CANAL)
	SELECT @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		RUBRO, SALDO AS  MONTO, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA, @TABLA_ORIGEN, @ID_POLIZA, '','','P','S', @TIPO_CREDITO, @CANAL
	FROM #COVID

END
GO
