SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- CREACION: 	2024-06-07
-- DESCRIPCIÓN:	GUARDAR HISTORICO DE CASTIGO, ETAPAS, VIVIENDA Y CEDIDO POR CREDITO
-- =============================================
CREATE PROCEDURE [PO].[SYS_SP_CONTROL_HISTORICO_TRASPASOS]
	 
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @FECHA_ACTUAL DATE--, @ULTIMA_FECHA DATE
	DECLARE @MONTO_AVALUO decimal(12,2)
    

	SELECT @FECHA_ACTUAL = DATEADD(day, -1, fec_hoy) FROM Quiero_Confianza.cf.cf_calendarios where cod_empresa = '001' AND cod_agencia = '001' AND cod_sistema = 'PR'
    
    SELECT @MONTO_AVALUO = UMA 
    FROM PO.SAF_UMA_CAT
    WHERE FECHA_INI <= @FECHA_ACTUAL AND @FECHA_ACTUAL < FECHA_FIN

	
	DELETE FROM PO.CONTROL_HISTORICO_TRASPASOS WHERE FECHA_SISTEMA = @FECHA_ACTUAL

	-- SE INSERTA LA INFORMACION
	INSERT INTO PO.CONTROL_HISTORICO_TRASPASOS(FECHA_SISTEMA, NUM_CREDITO, IND_ETAPA, ID_FONDEO,CASTIGO, NUM_DESC_TIPO_CREDITO,ID_EXTERNO)
	SELECT @FECHA_ACTUAL, NUM_CREDITO, IND_ETAPA
		,CASE WHEN C.COD_ORIGEN IN ('008','031') THEN 2 ELSE 1 END AS ID_FONDEO
        ,CASE WHEN C.NUM_DESC_TIPO_CREDITO = 26 THEN 'S' ELSE 'N' END AS CASTIGO
		,NUM_DESC_TIPO_CREDITO,ID_EXTERNO
	FROM Quiero_Confianza.PR.PR_CREDITOS C
	WHERE C.IND_LINEA = 'N'
		AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND FEC_CANCELACION >= @FECHA_ACTUAL))


	-- UPDATE PARA CREDITOS CON ETAPA 0 
	UPDATE H
	SET H.IND_ETAPA = 1
	FROM PO.CONTROL_HISTORICO_TRASPASOS H
	WHERE H.IND_ETAPA = 0 
	    AND FECHA_SISTEMA = @FECHA_ACTUAL
		
	--TIPO DE VIVIENDA DE ACUERDO AL MONTO DEL AVALUO
	UPDATE H
	SET H.TIPO_VIVIENDA = IIF(CC.MON_AVALUO > @MONTO_AVALUO,'MEDIA RESIDENCIAL', 'INTERES SOCIAL')
	FROM PO.CONTROL_HISTORICO_TRASPASOS H 
		INNER JOIN Quiero_Confianza.PR.PR_GARANTIAS_CREDITO GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		INNER JOIN Quiero_Confianza.PR.PR_GARANTIAS CC ON GG.NUM_SECUENCIA = CC.NUM_GARANTIA
	WHERE H.FECHA_SISTEMA = @FECHA_ACTUAL

	--- SI ALGUN TIPO VIVIENDA ES NULL se clasifica como consumo
	UPDATE H
	SET TIPO_VIVIENDA = 'CONSUMO'
	FROM PO.CONTROL_HISTORICO_TRASPASOS H
	    JOIN Quiero_Confianza.PR.PR_CREDITOS C ON H.NUM_CREDITO = C.NUM_CREDITO
	WHERE FECHA_SISTEMA = @FECHA_ACTUAL AND TIPO_VIVIENDA IS NULL
	    AND C.NUM_DESC_TIPO_CREDITO IN(1, 3, 4, 9, 10, 11, 16, 17, 20, 23,26)

	select Num_Credito,max(num_secuencia) as num_secuencia_ult
	into #cuota_ult
	from Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q
	group by Num_Credito


	UPDATE H
	SET H.NUM_SECUENCIA_ULT = U.num_secuencia_ult
		,H.MON_RUBRO_ULT = Q.mon_rubro
	FROM PO.CONTROL_HISTORICO_TRASPASOS H 
		INNER JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q ON Q.Num_Credito = H.Num_Credito
		INNER JOIN #cuota_ult U	ON Q.Num_Credito = U.Num_Credito and Q.num_secuencia = U.num_secuencia_ult
	WHERE H.FECHA_SISTEMA = @FECHA_ACTUAL
		and Q.cod_rubro = 'PRINCIPAL' and Q.IND_ESTADO = 'P'


    -- registro extra en historico para referencia en polizas que tienen movimientos el mismo dia que inicia el credito
    INSERT INTO PO.CONTROL_HISTORICO_TRASPASOS
          (ID     , FECHA_SISTEMA                  , NUM_CREDITO, IND_ETAPA, TIPO_VIVIENDA, ID_FONDEO, CASTIGO, NUM_DESC_TIPO_CREDITO, NUM_SECUENCIA_ULT, MON_RUBRO_ULT)
    SELECT NEWID(), DATEADD(day, -1, FECHA_SISTEMA), NUM_CREDITO, IND_ETAPA, TIPO_VIVIENDA, ID_FONDEO, CASTIGO, NUM_DESC_TIPO_CREDITO, NUM_SECUENCIA_ULT, MON_RUBRO_ULT
    FROM PO.CONTROL_HISTORICO_TRASPASOS
    where num_credito IN (
            select num_credito
            from PO.CONTROL_HISTORICO_TRASPASOS
            group by num_credito
            having COUNT(*) = 1
        )

END
GO
