SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_IND_DEV_SEGUROS]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 5

	BEGIN TRY
		BEGIN TRANSACTION
			DELETE FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

			INSERT INTO PO.SAF_MOV_CARGO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
			ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, IND_COVID,TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA)
			SELECT 
				C.ID_EXTERNO
				,A.NUM_CREDITO
				,D.NOM_CLIENTE
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CH.ID_FONDEO
				,A.COD_RUBRO RUBRO
				,A.MON_RUBRO MONTO
				,A.MON_IVA MON_PAGO_IVA
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,A.IND_ESTADO
				,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
				,A.FEC_COBRO
				,CH.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
				,C.FEC_APERTURA
				,dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO)
				,'DEV_SEGUROS'
				,@ID_POLIZA
                ,CH.TIPO_VIVIENDA
			FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
				INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
				INNER JOIN Quiero_Confianza.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
				INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
				LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO
			WHERE A.IND_ESTADO <> 'N'
				AND A.COD_RUBRO IN ('SEGURO_DANOS', 'SEGURO_VIDA', 'CARGO_PORCENTAJE') --'SEGURO','SEG_DAN','CARGO_SEGURO'
				AND A.MON_RUBRO <> 0.00
                AND (C.FEC_CANCELACION is null or @FECHA_INICIO <= C.FEC_CANCELACION)
                AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
				AND A.FEC_COBRO = @FECHA_INICIO
                AND CH.FECHA_SISTEMA = @FECHA_INICIO
			
		

		--- SE EJECUTAN LOS QUERYS MASIVOS DE INICIO e INSERTS SI HAY IVA EN TABLA
		--EXECUTE PO.SYS_SP_AVALUO_AND_UPDATE @FECHA_INICIO, @FECHA_FIN, 'CARGO', 'I'
	
		--MONTO DEL AVALUO
		--DECLARE @MONTO_AVALUO NUMERIC(11,2) = IIF(@FECHA_INICIO >= '2024-01-01', 2648615.20, 2207161.60) --2648615.20 --2207161.60
		
		------------------ UPDATES PARA CALIFICACION
		/*UPDATE H SET
			H.IND_ETAPA = 1
		FROM PO.SAF_MOV_CARGO H WHERE H.IND_ETAPA = 0 AND H.FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN 
			AND H.ID_POLIZA = @ID_POLIZA*/
		
		--TIPO DE VIVIENDA DE ACUERDO AL MONTO DEL AVALUO
		/*UPDATE H SET
			H.TIPO_VIVIENDA = IIF(CC.MON_AVALUO > @MONTO_AVALUO,  'MEDIA RESIDENCIAL', 'INTERES SOCIAL'),
			H.ID_PRODUCTO = IIF(CC.MON_AVALUO > @MONTO_AVALUO, 2, 1),
			H.NOMBRE_PRODUCTO = IIF(CC.MON_AVALUO > @MONTO_AVALUO, 'MEDIA RESIDENCIAL', 'INTERES SOCIAL')
		FROM PO.SAF_MOV_CARGO H 
			INNER JOIN Quiero_Confianza.PR.PR_GARANTIAS_CREDITO GG ON GG.NUM_CREDITO = H.NUM_CREDITO
			INNER JOIN Quiero_Confianza.PR.PR_GARANTIAS CC ON GG.NUM_SECUENCIA = CC.NUM_GARANTIA
		WHERE H.FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN AND H.ID_POLIZA = @ID_POLIZA*/


		--- SI ALGUN TIPO VIVIENDA ES NULL se clasifica como consumo
		
		UPDATE PO.SAF_MOV_CARGO 
				SET TIPO_VIVIENDA = 'CONSUMO',
				ID_PRODUCTO = 50,	
				NOMBRE_PRODUCTO = 'CONSUMO'
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND TIPO_VIVIENDA IS NULL
				AND ID_POLIZA = @ID_POLIZA
		

		-- SE DETERMINA EL TIPO DE PRODUCTO DEACUERDO AL ID EMPLEADO O CONSUMO
		UPDATE H SET 
			H.ID_PRODUCTO = 50,	
			H.NOMBRE_PRODUCTO = 'CONSUMO'
		FROM  PO.SAF_MOV_CARGO H  
		INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO = 1 AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET 
			H.ID_PRODUCTO = 51,	
			H.NOMBRE_PRODUCTO = 'EMPLEADO'
		FROM  PO.SAF_MOV_CARGO H  INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
	

		INSERT INTO PO.SAF_MOV_CARGO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
										FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
				FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO, 'DEV_SEGUROS', @ID_POLIZA
		FROM PO.SAF_MOV_CARGO
		WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		UPDATE PO.SAF_MOV_CARGO
				SET CONCEPTO = CONCAT(CASE
					WHEN ID_TIPO_CREDITO = 20 THEN 'QBILLETE '
					WHEN ID_TIPO_CREDITO = 23 THEN 'SHCH '
					WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
					WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
				END,'DEVENGO ',
				IIF(IND_COVID = 'S', 'COVID ', ''),
				RUBRO, ' ',
				IIF(ID_PRODUCTO= 50, '', CONCAT(TIPO_VIVIENDA, ' ')),
				IIF(ID_FONDEO = 2, 'NO ', ''), 'RESTRINGIDO ', IND_ETAPA)
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		--- CALIFICACION FINAL DE CONCEPTO POLIZA
		UPDATE PO.SAF_MOV_CARGO
			SET CONCEPTO_FINAL = LEFT( CONCAT('DESEM ',ID_EXTERNO, ' ', APELLIDO), 30 )
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE ID CONCEPTO 
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

        --manejo de porcentaje Afirme
        UPDATE PO.SAF_MOV_CARGO
        SET   MONTO = MONTO * 0.10
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND ID_TIPO_CREDITO = 4 AND CONCEPTO NOT LIKE 'TRS %'

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO, A.CUENTA_CARGO,
				CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_CARGO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_CARGO, A.CONCEPTO

		INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_ABONO, MONTO_CARGO)
		SELECT CONCEPTO, A.CUENTA_ABONO,
				CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO
		FROM PO.SAF_MOV_CARGO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, A.CONCEPTO
			

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA
		
		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END

GO
