SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_IND_REVERSO_COMISION]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 27

	BEGIN TRY
		BEGIN TRANSACTION
			DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

			--# BLOCK: EXTRACTOR DE MOVIMIENTOS PAGO
			INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA)
			SELECT  
				C.ID_EXTERNO
				,C.NUM_CREDITO
				--,D.NOM_CLIENTE
				,dbo.FN_FORMA_NOMBRE(D.PRIMER_APELLIDO, D.SEGUNDO_APELLIDO, D.PRIMER_NOMBRE, D.SEGUNDO_NOMBRE, NULL, NULL)
				,'' AS CUENTA_CARGO
				,'' AS CUENTA_ABONO
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CH.ID_FONDEO
				,B.COD_CONCEPTO AS RUBRO
				,B.MON_PAGO MONTO
				,B.MON_PAGO_IVA
				,CASE WHEN A.IND_FORMA_PAGO = '' THEN 0 ELSE A.IND_FORMA_PAGO END IND_FORMA_PAGO
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,C.IND_ESTADO
				,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
				,A.FEC_MOVIMIENTO
				,A.TIP_TRANSACCION
				,A.SUBTIP_TRANSAC
				,CH.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
				,C.FEC_APERTURA
				,A.Id_secuencia
                ,B.ID_REFERENCIA
				,CAST(A.Id_cuenta AS bigint)
				,dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito)
				,''
				,IIF(D.PRIMER_APELLIDO IS NULL OR D.PRIMER_APELLIDO = '', 'NOMBRE', D.PRIMER_APELLIDO)
				,'REVERSO COMISION'
				,@ID_POLIZA
                ,CH.TIPO_VIVIENDA
			FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
					INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
					INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
					--INNER JOIN Quiero_Confianza.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA

					LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
					    AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
                    LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO
			WHERE C.IND_ESTADO IN ('C','D')
					AND C.IND_LINEA = 'N'
                    AND (C.FEC_CANCELACION is null or @FECHA_INICIO <= C.FEC_CANCELACION)
                    AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
					--AND A.TIP_TRANSACCION !=3  --Evita que se traigan desembolsos que se jalan en SP FIRMA
					--AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5) OR (A.ID_CUENTA IN (select cuenta from #CuentasDeOtrasPolizas))) 
                    and A.mon_movimiento > 0 -- no se consideran cancelaciones
					AND A.FEC_MOVIMIENTO = @FECHA_INICIO
                    AND CH.FECHA_SISTEMA = @FECHA_INICIO
					AND B.MON_PAGO <> 0.00
					AND A.ID_CUENTA IN ('1401030090010000','1401030090020000')
					--AND B.COD_CONCEPTO = 'COMISION_ADMINISTRACION'
					AND B.COD_CONCEPTO IN ('COMISION_ADMINISTRACION','COMISION_PREPAGO','CARGO_PORCENTAJE','SEGURO_DANOS','SEGURO_VIDA','GASTOS_NOTARIALES')
		
		--MONTO DEL AVALUO
		--DECLARE @MONTO_AVALUO NUMERIC(11,2) = IIF(@FECHA_INICIO >= '2024-01-01', 2648615.20, 2207161.60) --2648615.20 --2207161.60
		
		------------------ UPDATES PARA CALIFICACION
		/*UPDATE H SET
			H.IND_ETAPA = 1
		FROM PO.SAF_MOV_CARGO H WHERE H.IND_ETAPA = 0 AND H.FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN 
			AND H.ID_POLIZA = 20*/
		
		--TIPO DE VIVIENDA DE ACUERDO AL MONTO DEL AVALUO
		/*UPDATE H SET
			H.TIPO_VIVIENDA = IIF(CC.MON_AVALUO > @MONTO_AVALUO,  'MEDIA RESIDENCIAL', 'INTERES SOCIAL'),
			H.ID_PRODUCTO = IIF(CC.MON_AVALUO > @MONTO_AVALUO, 2, 1),
			H.NOMBRE_PRODUCTO = IIF(CC.MON_AVALUO > @MONTO_AVALUO, 'MEDIA RESIDENCIAL', 'INTERES SOCIAL')
		FROM PO.SAF_MOV_CARGO H 
			INNER JOIN Quiero_Confianza.PR.PR_GARANTIAS_CREDITO GG ON GG.NUM_CREDITO = H.NUM_CREDITO
			INNER JOIN Quiero_Confianza.PR.PR_GARANTIAS CC ON GG.NUM_SECUENCIA = CC.NUM_GARANTIA
		WHERE H.FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN AND H.ID_POLIZA = 20*/


		--- SI ALGUN TIPO VIVIENDA ES NULL se clasifica como consumo
		
		UPDATE PO.SAF_MOV_ABONO 
				SET TIPO_VIVIENDA = 'CONSUMO',
				ID_PRODUCTO = 50,	
				NOMBRE_PRODUCTO = 'CONSUMO'
			WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND TIPO_VIVIENDA IS NULL
				AND ID_POLIZA = @ID_POLIZA
		

		-- SE DETERMINA EL TIPO DE PRODUCTO DEACUERDO AL ID EMPLEADO O CONSUMO
		UPDATE H SET 
			H.ID_PRODUCTO = 50,	
			H.NOMBRE_PRODUCTO = 'CONSUMO'
		FROM  PO.SAF_MOV_ABONO H  
		INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO = 1 AND FECHA_MOVIMIENTO  = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET 
			H.ID_PRODUCTO = 51,	
			H.NOMBRE_PRODUCTO = 'EMPLEADO'
		FROM  PO.SAF_MOV_ABONO H  INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) AND FECHA_MOVIMIENTO  = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
	
		-- SE AGREGA REGISTRO SI HAY IVA 
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
										FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA,ID_REFERENCIA, ID_CUENTA, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, APELLIDO, 'REVERSO COMISION', ID_POLIZA
		FROM PO.SAF_MOV_ABONO
		WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO
		AND ID_POLIZA = @ID_POLIZA

		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = IIF(RUBRO IN ('GASTOS_NOTARIALES','IVA GASTOS_NOTARIALES')
			,CONCAT('DEVENGO'
				,' ',RUBRO
				,CASE WHEN ID_PRODUCTO= 50 THEN ' CONSUMO'
					  WHEN ID_PRODUCTO= 51 THEN ' EMPLEADO'
					  ELSE '' END
				,IIF(ID_PRODUCTO= 50, '', CONCAT(' ', TIPO_VIVIENDA)))
			,CONCAT(CASE
					WHEN ID_TIPO_CREDITO = 20 THEN 'QBILLETE '
					WHEN ID_TIPO_CREDITO = 23 THEN 'SHCH '
					WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
					WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
				END,'DEVENGO ',
				IIF(IND_COVID = 'S', 'COVID ', ''),
				RUBRO, ' ',
				IIF(ID_PRODUCTO= 50, '', CONCAT(TIPO_VIVIENDA, ' ')),
				IIF(ID_FONDEO = 2, 'NO ', ''), 'RESTRINGIDO ', IND_ETAPA)
			)
		WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

        --manejo de porcentaje Afirme
        UPDATE PO.SAF_MOV_ABONO
        SET   MONTO = MONTO * 0.10
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND ID_TIPO_CREDITO = 4 AND CONCEPTO NOT LIKE 'TRS %'

		--------------------- LOGICA DE COMISIONES QUE SE ELIMINAN DE SAF ----------------------------------
        DECLARE @conteo INT, @num_credito INT, @fec_cobro DATE
 
        DECLARE db_cursor_poliza_reverso_comision CURSOR FOR

            select distinct A.num_credito,Q.fec_cobro
            FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		            INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		            INNER JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
		                AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto
            where A.fec_movimiento=@FECHA_INICIO
                and not A.num_credito in (
                        select  A.num_credito
                        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		                        INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
                        where A.fec_movimiento=@FECHA_INICIO and B.Cod_concepto = 'COMISION_ADMINISTRACION'
                    )
 
        OPEN db_cursor_poliza_reverso_comision  
            FETCH NEXT FROM db_cursor_poliza_reverso_comision
            INTO @num_credito, @fec_cobro
 
        WHILE @@FETCH_STATUS = 0  
        BEGIN  
 
            set @conteo = 0
            select @conteo = COUNT(*)
            FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO
            where num_credito = @num_credito
				and fec_cobro IN (DATEADD(DD,1,@fec_cobro), DATEADD(DD,2,@fec_cobro), DATEADD(DD,3,@fec_cobro), DATEADD(DD,4,@fec_cobro))
				and fec_cobro <= @FECHA_INICIO
				and cod_rubro = 'COMISION_ADMINISTRACION'
 

            if @conteo = 0 begin
			
                INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
												RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, 
												FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
												FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA,
												CONCEPTO) 
                select ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
												RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, 
												@FECHA_INICIO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
												FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO,'REVERSO COMISION', @ID_POLIZA,
												CONCEPTO
                from PO.SAF_MOV_CARGO
                where id_poliza = 20
					and fecha_movimiento IN (DATEADD(DD,1,@fec_cobro), DATEADD(DD,2,@fec_cobro), DATEADD(DD,3,@fec_cobro), DATEADD(DD,4,@fec_cobro))
					and fecha_movimiento <= @FECHA_INICIO
					and num_credito = @num_credito
					and rubro in ('IVA COMISION_ADMINISTRACION','COMISION_ADMINISTRACION')
				
            end
 
            FETCH NEXT FROM db_cursor_poliza_reverso_comision
            INTO @num_credito, @fec_cobro
        END
 
        CLOSE db_cursor_poliza_reverso_comision  
        DEALLOCATE db_cursor_poliza_reverso_comision
		--------------------- FIN LOGICA DE COMISIONES QUE SE ELIMINAN DE SAF ----------------------------------

		--- CALIFICACION FINAL DE CONCEPTO POLIZA
		UPDATE PO.SAF_MOV_ABONO
			--SET CONCEPTO_FINAL = LEFT( CONCAT('REV COM_AD ',ID_EXTERNO, ' ', APELLIDO), 30 )
			SET CONCEPTO_FINAL = LEFT( CONCAT('REV ',IIF(RUBRO LIKE '%COMISION_ADMINISTRACION%','COM_AD ','COM_PRE '),ID_EXTERNO, ' ', APELLIDO), 30 )
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE ID CONCEPTO 
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_CARGO, H.CUENTA_CARGO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA


	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT A.CONCEPTO_FINAL, A.CUENTA_CARGO, 
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
        FROM PO.SAF_MOV_ABONO A 
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CONCEPTO_FINAL, A.CUENTA_CARGO
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO, A.CUENTA_ABONO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_ABONO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, CONCEPTO

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		WHERE NOT (MONTO_CARGO = 0 AND MONTO_ABONO = 0)
		GROUP BY CONCEPTO, CUENTA

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END

GO
