SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Miguel Gomez
-- Create date: 09/01/2026
-- Description:	Reporte Intereses Devengados Individual
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_IND_RPT_INTERESES_DEVENGADOS_VIS]
(
    @FechaIni DATE,
    @FechaFin DATE
)
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @FechaFinExclusiva DATE = DATEADD(DAY, 1, @FechaFin)

	CREATE TABLE #CEDIDO_MOV_INTERES (
    ID_EXTERNO VARCHAR(50),
    FECHA_MOVIMIENTO DATE,
    CEDIDO VARCHAR(100),
    INDEX CIX_CEDIDO CLUSTERED (ID_EXTERNO, FECHA_MOVIMIENTO)
	);

	INSERT INTO #CEDIDO_MOV_INTERES
	SELECT 
		ID_EXTERNO,
		FECHA_MOVIMIENTO,
		MIN(CEDIDO) AS CEDIDO
	FROM PO.SAF_MOV_INTERES WITH (NOLOCK)
	WHERE FECHA_MOVIMIENTO >= @FechaIni
	  AND FECHA_MOVIMIENTO < @FechaFinExclusiva
	GROUP BY ID_EXTERNO, FECHA_MOVIMIENTO;

    CREATE TABLE #TIPO_CREDITOS_IND (
        NUM_DESC_TIPO_CREDITO NUMERIC(16,0)
    )

    CREATE TABLE #IVA_INTERESES_IND (
        NUM_CREDITO NUMERIC(8,0),
        IND_IVA CHAR(1)
    )

    CREATE TABLE #DEVENGO_MORATORIOS_IND (
        FECHA_CALCULO DATE,
        NUM_CREDITO NUMERIC(8,0),
        INTERESES_MORATORIOS DECIMAL(18,2),
        IVA_INTERES_MORATORIO DECIMAL(18,2),
        INDEX CIX_DEV_MORATORIOS_IND CLUSTERED (FECHA_CALCULO, NUM_CREDITO)
    )

    CREATE TABLE #DEVENGO_COMISIONES_IND (
        FECHA_CALCULO DATE,
        NUM_CREDITO NUMERIC(8,0),
        GASTOS_COBRANZA DECIMAL(18,2),
        IVA_GASTOS_COBRANZA DECIMAL(18,2),
        INDEX CIX_COMISIONES_IND CLUSTERED (FECHA_CALCULO, NUM_CREDITO)
    )

    CREATE TABLE #REVERSO_MORATORIOS_IND (
        FECHA_CALCULO DATE,
        NUM_CREDITO NUMERIC(8,0),
        INTERESES_MORATORIOS DECIMAL(18,2),
        IVA_INTERES_MORATORIO DECIMAL(18,2),
        INDEX CIX_REVERSO_MORATORIOS_IND CLUSTERED (FECHA_CALCULO, NUM_CREDITO)
    )

    CREATE TABLE #REVERSO_COMISIONES_IND (
        FECHA_CALCULO DATE,
        NUM_CREDITO NUMERIC(8,0),
        GASTOS_COBRANZA DECIMAL(18,2),
        IVA_GASTOS_COBRANZA DECIMAL(18,2),
        INDEX CIX_REVERSO_COMISIONES_IND CLUSTERED (FECHA_CALCULO, NUM_CREDITO)
    )

    CREATE TABLE #RESULTADO_REPORTE_IND (
        ID_EXTERNO VARCHAR(50),
        NUM_CREDITO NUMERIC(8,0),
        COD_CLIENTE VARCHAR(15),
        TIPO_CREDITO NUMERIC(10),
        COD_ORIGEN VARCHAR(5),
        COD_EMPRESA VARCHAR(5),
        FEC_CALCULO DATE,
        IMPORTE DECIMAL(18,2),
        IVA_INTERES DECIMAL(18,2),
        INTERESES_MORATORIOS DECIMAL(18,2),
        IVA_INTERES_MORATORIO DECIMAL(18,2),
        GASTOS_COBRANZA DECIMAL(18,2),
        IVA_GASTOS_COBRANZA DECIMAL(18,2),
        ESTATUS VARCHAR(20),
        IND_COVID CHAR(1),
        INDEX CIX_RESULTADO_IND CLUSTERED (FEC_CALCULO, NUM_CREDITO),
        INDEX IX_CLIENTE_IND NONCLUSTERED (COD_EMPRESA, COD_CLIENTE),
        INDEX IX_EXTERNO_IND NONCLUSTERED (ID_EXTERNO)
    )

    INSERT INTO #TIPO_CREDITOS_IND
    SELECT DISTINCT NUM_DESC_TIPO_CREDITO
    FROM Quiero_Confianza_shadow.PR.PR_DESC_TIPOS_CREDITO WITH (NOLOCK) 
    WHERE NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17, 20, 23)

    INSERT INTO #IVA_INTERESES_IND
    SELECT NUM_CREDITO, IND_IVA
    FROM Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO WITH (NOLOCK) 
    WHERE COD_RUBRO = 'INTERESES'

    CREATE UNIQUE CLUSTERED INDEX CIX_IVA_IND ON #IVA_INTERESES_IND (NUM_CREDITO)

    --[PO].[SP_IND_DEV_MORATORIO]
    INSERT INTO #DEVENGO_MORATORIOS_IND
    SELECT cast(A.FECHA_CALCULO as date) AS FECHA_CALCULO,
        A.NUM_CREDITO,
        SUM(A.MON_DIARIO) AS INTERESES_MORATORIOS,
        SUM(CASE
            WHEN P.IND_IVA_INTERES = 'S' THEN A.MON_DIARIO * (P.POR_IVA_INTERES/100)
            ELSE 0.00
        END) AS IVA_INTERES_MORATORIO
    FROM Quiero_Confianza_shadow.PR.PR_CALCULO_MORA_DIA A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
        INNER JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = cast(A.FECHA_CALCULO as date)
        INNER JOIN #TIPO_CREDITOS_IND TC ON CH.NUM_DESC_TIPO_CREDITO = TC.NUM_DESC_TIPO_CREDITO
    WHERE A.MON_DIARIO <> 0.00
        AND A.FECHA_CALCULO >= @FechaIni
        AND A.FECHA_CALCULO < @FechaFinExclusiva
        AND (C.FEC_CANCELACION IS NULL OR C.FEC_CANCELACION >= @FechaIni)
    GROUP BY cast(A.FECHA_CALCULO as date),A.NUM_CREDITO

    --[PO].[SP_IND_DEV_COMISIONES]
    INSERT INTO #DEVENGO_COMISIONES_IND
    SELECT A.FEC_COBRO AS FECHA_CALCULO,
        A.NUM_CREDITO,
        SUM(A.MON_RUBRO) MONTO,
        SUM(A.MON_IVA) MON_PAGO_IVA
    FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = A.FEC_COBRO
        INNER JOIN #TIPO_CREDITOS_IND TC ON CH.NUM_DESC_TIPO_CREDITO = TC.NUM_DESC_TIPO_CREDITO
    WHERE A.IND_ESTADO <> 'N'
		AND A.COD_RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO','GASTOS_NOTARIALES')
		AND A.MON_RUBRO <> 0.00
        AND (C.FEC_CANCELACION IS NULL OR C.FEC_CANCELACION >= @FechaIni)
		AND A.FEC_COBRO >= @FechaIni
        AND A.FEC_COBRO < @FechaFinExclusiva
    GROUP BY A.FEC_COBRO,A.NUM_CREDITO

    -- EXTRACCION DE MOVIMIENTOS - [PO].[SP_IND_DEV_INTERES]
    INSERT INTO #RESULTADO_REPORTE_IND
    SELECT C.ID_EXTERNO,
        A.NUM_CREDITO,
        C.COD_CLIENTE,
        C.NUM_DESC_TIPO_CREDITO,
        C.COD_ORIGEN,
        C.COD_EMPRESA,
        cast(A.FECHA_CALCULO as date) AS FEC_CALCULO,
        A.MON_DIARIO AS INTERES,
        CASE 
            WHEN X.IND_IVA = 'S' THEN A.MON_DIARIO * (P.POR_IVA_INTERES/100)
            ELSE 0.00 
        END AS IVA_INTERES,
        ISNULL(DM.INTERESES_MORATORIOS,0) AS INTERESES_MORATORIOS,
        ISNULL(DM.IVA_INTERES_MORATORIO,0) AS IVA_INTERES_MORATORIO,
        ISNULL(DC.GASTOS_COBRANZA,0) AS GASTOS_COBRANZA,
        ISNULL(DC.IVA_GASTOS_COBRANZA,0) AS IVA_GASTOS_COBRANZA,
        'NORMALES' AS ESTATUS,
        'N' AS IND_COVID
    FROM Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
            INNER JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = cast(A.FECHA_CALCULO as date)
            INNER JOIN #TIPO_CREDITOS_IND TC ON CH.NUM_DESC_TIPO_CREDITO = TC.NUM_DESC_TIPO_CREDITO
            LEFT JOIN #IVA_INTERESES_IND X ON A.NUM_CREDITO = X.NUM_CREDITO
            LEFT JOIN #DEVENGO_MORATORIOS_IND DM ON A.FECHA_CALCULO = DM.FECHA_CALCULO AND A.NUM_CREDITO = DM.NUM_CREDITO
            LEFT JOIN #DEVENGO_COMISIONES_IND DC ON A.FECHA_CALCULO = DC.FECHA_CALCULO AND A.NUM_CREDITO = DC.NUM_CREDITO
    WHERE A.MON_DIARIO > 0.00
        AND A.FECHA_CALCULO >= @FechaIni
        AND A.FECHA_CALCULO < @FechaFinExclusiva
        AND (C.FEC_CANCELACION IS NULL OR C.FEC_CANCELACION >= @FechaIni)


    -- Devengos de moratorios / comisiones en dias en que el credito NO devengo interes ordinario.
    -- Sin este INSERT esas filas se perdian, porque moratorios y comisiones solo se anexaban
    -- via LEFT JOIN a las filas de PR_CALCULO_INTERESES_DIA con MON_DIARIO > 0.
    INSERT INTO #RESULTADO_REPORTE_IND
    SELECT C.ID_EXTERNO,
        D.NUM_CREDITO,
        C.COD_CLIENTE,
        C.NUM_DESC_TIPO_CREDITO,
        C.COD_ORIGEN,
        C.COD_EMPRESA,
        D.FECHA_CALCULO AS FEC_CALCULO,
        0.00 AS INTERES,
        0.00 AS IVA_INTERES,
        ISNULL(DM.INTERESES_MORATORIOS,0) AS INTERESES_MORATORIOS,
        ISNULL(DM.IVA_INTERES_MORATORIO,0) AS IVA_INTERES_MORATORIO,
        ISNULL(DC.GASTOS_COBRANZA,0) AS GASTOS_COBRANZA,
        ISNULL(DC.IVA_GASTOS_COBRANZA,0) AS IVA_GASTOS_COBRANZA,
        'NORMALES' AS ESTATUS,
        'N' AS IND_COVID
    FROM (
            SELECT FECHA_CALCULO, NUM_CREDITO FROM #DEVENGO_MORATORIOS_IND
            UNION
            SELECT FECHA_CALCULO, NUM_CREDITO FROM #DEVENGO_COMISIONES_IND
        ) D
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON D.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DEVENGO_MORATORIOS_IND DM ON D.FECHA_CALCULO = DM.FECHA_CALCULO AND D.NUM_CREDITO = DM.NUM_CREDITO
            LEFT JOIN #DEVENGO_COMISIONES_IND DC ON D.FECHA_CALCULO = DC.FECHA_CALCULO AND D.NUM_CREDITO = DC.NUM_CREDITO
    WHERE NOT EXISTS (
            SELECT 1
            FROM #RESULTADO_REPORTE_IND R
            WHERE R.NUM_CREDITO = D.NUM_CREDITO
                AND R.FEC_CALCULO = D.FECHA_CALCULO
                AND R.ESTATUS = 'NORMALES'
        )
    INSERT INTO #REVERSO_MORATORIOS_IND
    SELECT A.FEC_MOVIMIENTO,
        A.NUM_CREDITO,
        SUM(-1*B.MON_PAGO) AS INTERESES_MORATORIOS,
        SUM(CASE
            WHEN P.IND_IVA_INTERES = 'S' THEN -1*B.MON_PAGO * (P.POR_IVA_INTERES/100)
            ELSE 0.00
        END) AS IVA_INTERES_MORATORIO
    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
        INNER JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = A.FEC_MOVIMIENTO
        INNER JOIN #TIPO_CREDITOS_IND TC ON CH.NUM_DESC_TIPO_CREDITO = TC.NUM_DESC_TIPO_CREDITO
    WHERE C.IND_ESTADO IN ('C','D')
		AND C.IND_LINEA = 'N'
        AND (C.FEC_CANCELACION IS NULL OR C.FEC_CANCELACION >= @FechaIni)
        and A.MON_MOVIMIENTO > 0 -- no se consideran cancelaciones
		AND A.FEC_MOVIMIENTO >= @FechaIni
        AND A.FEC_MOVIMIENTO < @FechaFinExclusiva
		AND B.MON_PAGO <> 0.00
		AND A.ID_CUENTA IN ('1401030090010000','1401030090020000')
		AND B.COD_CONCEPTO = 'MORATORIOS'
    GROUP BY A.FEC_MOVIMIENTO,A.NUM_CREDITO

    --[PO].[SP_IND_REVERSO_COMISION]
    INSERT INTO #REVERSO_COMISIONES_IND
    SELECT A.FEC_MOVIMIENTO,
        A.NUM_CREDITO,
        SUM(-1*B.MON_PAGO) AS GASTOS_COBRANZA,
        SUM(CASE
            WHEN P.IND_IVA_INTERES = 'S' THEN -1*B.MON_PAGO * (P.POR_IVA_INTERES/100)
            ELSE 0.00
        END) AS IVA_GASTOS_COBRANZA
    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = A.FEC_MOVIMIENTO
        INNER JOIN #TIPO_CREDITOS_IND TC ON CH.NUM_DESC_TIPO_CREDITO = TC.NUM_DESC_TIPO_CREDITO
        INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
    WHERE C.IND_ESTADO IN ('C','D')
        AND C.IND_LINEA = 'N'
        AND (C.FEC_CANCELACION IS NULL OR C.FEC_CANCELACION >= @FechaIni)
        AND A.MON_MOVIMIENTO > 0 -- no se consideran cancelaciones
        AND A.FEC_MOVIMIENTO >= @FechaIni
        AND A.FEC_MOVIMIENTO < @FechaFinExclusiva
        AND B.MON_PAGO <> 0.00
        AND A.ID_CUENTA IN ('1401030090010000','1401030090020000')
        AND B.COD_CONCEPTO IN ('COMISION_ADMINISTRACION','COMISION_PREPAGO','GASTOS_NOTARIALES')
    GROUP BY A.FEC_MOVIMIENTO,A.NUM_CREDITO

    --[PO].[SP_IND_REVERSO_INTERES]
    INSERT INTO #RESULTADO_REPORTE_IND
    SELECT C.ID_EXTERNO,
        A.NUM_CREDITO,
        C.COD_CLIENTE,
        CH.NUM_DESC_TIPO_CREDITO,
        C.COD_ORIGEN,
        C.COD_EMPRESA,
        A.FEC_MOVIMIENTO AS FEC_CALCULO,
        -1*B.MON_PAGO AS INTERES,
        -1*B.MON_PAGO_IVA AS IVA_INTERES,
        ISNULL(DM.INTERESES_MORATORIOS,0) AS INTERESES_MORATORIOS,
        ISNULL(DM.IVA_INTERES_MORATORIO,0) AS IVA_INTERES_MORATORIO,
        ISNULL(DC.GASTOS_COBRANZA,0) AS GASTOS_COBRANZA,
        ISNULL(DC.IVA_GASTOS_COBRANZA,0) AS IVA_GASTOS_COBRANZA,
        'REVERSA' AS ESTATUS,
        ISNULL(dbo.FN_ES_COVID(Q.Ind_Posposicion, Q.Fecha_Posposicion, Q.Num_Credito), 'N') AS IND_COVID
    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = A.FEC_MOVIMIENTO
        INNER JOIN #TIPO_CREDITOS_IND TC ON CH.NUM_DESC_TIPO_CREDITO = TC.NUM_DESC_TIPO_CREDITO
        LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
            AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
        LEFT JOIN #REVERSO_MORATORIOS_IND DM ON A.FEC_MOVIMIENTO = DM.FECHA_CALCULO AND A.NUM_CREDITO = DM.NUM_CREDITO
        LEFT JOIN #REVERSO_COMISIONES_IND DC ON A.FEC_MOVIMIENTO = DC.FECHA_CALCULO AND A.NUM_CREDITO = DC.NUM_CREDITO
    WHERE C.IND_ESTADO IN ('C','D')
        AND C.IND_LINEA = 'N'
        AND (C.FEC_CANCELACION IS NULL OR C.FEC_CANCELACION >= @FechaIni)
        AND A.MON_MOVIMIENTO > 0 -- no se consideran cancelaciones
        AND A.FEC_MOVIMIENTO >= @FechaIni
        AND A.FEC_MOVIMIENTO < @FechaFinExclusiva
        AND B.MON_PAGO <> 0.00
        AND A.ID_CUENTA IN ('1401030090010000','1401030090020000')
        AND B.COD_CONCEPTO = 'INTERESES'

    INSERT INTO #RESULTADO_REPORTE_IND
    SELECT C.ID_EXTERNO,
        A.NUM_CREDITO,
        C.COD_CLIENTE,
        C.NUM_DESC_TIPO_CREDITO,
        C.COD_ORIGEN,
        C.COD_EMPRESA,
        cast(A.FECHA_CALCULO as date) AS FEC_CALCULO,
        A.MON_DIARIO AS INTERES,
        CASE 
            WHEN X.IND_IVA = 'S' THEN A.MON_DIARIO * (P.POR_IVA_INTERES/100)
            ELSE 0.00 
        END AS IVA_INTERES,
        ISNULL(DM.INTERESES_MORATORIOS,0) AS INTERESES_MORATORIOS,
        ISNULL(DM.IVA_INTERES_MORATORIO,0) AS IVA_INTERES_MORATORIO,
        ISNULL(DC.GASTOS_COBRANZA,0) AS GASTOS_COBRANZA,
        ISNULL(DC.IVA_GASTOS_COBRANZA,0) AS IVA_GASTOS_COBRANZA,
        'REVERSA' AS ESTATUS,
        'N' AS IND_COVID
    FROM Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN Quiero_Confianza_shadow.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
        INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
        INNER JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = cast(A.FECHA_CALCULO as date)
        INNER JOIN #TIPO_CREDITOS_IND TC ON CH.NUM_DESC_TIPO_CREDITO = TC.NUM_DESC_TIPO_CREDITO
        LEFT JOIN #IVA_INTERESES_IND X ON A.NUM_CREDITO = X.NUM_CREDITO
        LEFT JOIN #REVERSO_MORATORIOS_IND DM ON A.FECHA_CALCULO = DM.FECHA_CALCULO AND A.NUM_CREDITO = DM.NUM_CREDITO
        LEFT JOIN #REVERSO_COMISIONES_IND DC ON A.FECHA_CALCULO = DC.FECHA_CALCULO AND A.NUM_CREDITO = DC.NUM_CREDITO
    WHERE A.MON_DIARIO < 0.00
        AND A.FECHA_CALCULO >= @FechaIni
        AND A.FECHA_CALCULO < @FechaFinExclusiva
        AND (C.FEC_CANCELACION IS NULL OR C.FEC_CANCELACION >= @FechaIni)


    -- Mismo criterio que en los devengos: reversos de moratorios / comisiones en dias
    -- sin reverso de interes ordinario.
    INSERT INTO #RESULTADO_REPORTE_IND
    SELECT C.ID_EXTERNO,
        D.NUM_CREDITO,
        C.COD_CLIENTE,
        C.NUM_DESC_TIPO_CREDITO,
        C.COD_ORIGEN,
        C.COD_EMPRESA,
        D.FECHA_CALCULO AS FEC_CALCULO,
        0.00 AS INTERES,
        0.00 AS IVA_INTERES,
        ISNULL(DM.INTERESES_MORATORIOS,0) AS INTERESES_MORATORIOS,
        ISNULL(DM.IVA_INTERES_MORATORIO,0) AS IVA_INTERES_MORATORIO,
        ISNULL(DC.GASTOS_COBRANZA,0) AS GASTOS_COBRANZA,
        ISNULL(DC.IVA_GASTOS_COBRANZA,0) AS IVA_GASTOS_COBRANZA,
        'REVERSA' AS ESTATUS,
        'N' AS IND_COVID
    FROM (
            SELECT FECHA_CALCULO, NUM_CREDITO FROM #REVERSO_MORATORIOS_IND
            UNION
            SELECT FECHA_CALCULO, NUM_CREDITO FROM #REVERSO_COMISIONES_IND
        ) D
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON D.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #REVERSO_MORATORIOS_IND DM ON D.FECHA_CALCULO = DM.FECHA_CALCULO AND D.NUM_CREDITO = DM.NUM_CREDITO
            LEFT JOIN #REVERSO_COMISIONES_IND DC ON D.FECHA_CALCULO = DC.FECHA_CALCULO AND D.NUM_CREDITO = DC.NUM_CREDITO
    WHERE NOT EXISTS (
            SELECT 1
            FROM #RESULTADO_REPORTE_IND R
            WHERE R.NUM_CREDITO = D.NUM_CREDITO
                AND R.FEC_CALCULO = D.FECHA_CALCULO
                AND R.ESTATUS = 'REVERSA'
        )
    DROP TABLE #REVERSO_MORATORIOS_IND
    DROP TABLE #REVERSO_COMISIONES_IND
    DROP TABLE #DEVENGO_MORATORIOS_IND
    DROP TABLE #DEVENGO_COMISIONES_IND
    DROP TABLE #TIPO_CREDITOS_IND
    DROP TABLE #IVA_INTERESES_IND

    SELECT R.ID_EXTERNO,
        MIN(DBO.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO,PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE,PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)) AS ACREDITADO,
        MAX(CASE
                WHEN NUM_DESC_TIPO_CREDITO = 20 THEN 'QB'
                WHEN NUM_DESC_TIPO_CREDITO = 23 THEN 'SHCH'
                ELSE 'ION'
            END) AS FONDEADOR,
        MAX(CASE
                WHEN NUM_DESC_TIPO_CREDITO = 1 THEN 'CONSUMO'
                WHEN NUM_DESC_TIPO_CREDITO IN (9, 10, 11) THEN 'EMPLEADO'
                ELSE 'VIVIENDA'
            END) AS TIPO_CREDITO,
        MAX(CH.TIPO_VIVIENDA) AS CLASIFICACION,
        MAX(ISNULL(CMI.CEDIDO, DBO.FN_ORIGEN_FONDOS(R.COD_ORIGEN, R.COD_EMPRESA))) AS CEDIDO,
        MAX(CASE 
                WHEN CH.ID_FONDEO = 2 THEN 'SIN RESTRICCION'
                ELSE 'RESTRINGIDO'
            END) AS TIPO_CARTERA,
        CONVERT(VARCHAR(10), R.FEC_CALCULO, 103) AS FEC_CALCULO,
        SUM(CASE WHEN NUM_DESC_TIPO_CREDITO = 4 THEN R.IMPORTE * .1 ELSE R.IMPORTE END) AS IMPORTE,
        SUM(CASE WHEN NUM_DESC_TIPO_CREDITO = 4 THEN R.IVA_INTERES * .1 ELSE R.IVA_INTERES END) AS IVA_INTERES,
        0 AS INTERESES_MORATORIOS,
        0 AS IVA_INTERES_MORATORIO,
        SUM(CASE WHEN NUM_DESC_TIPO_CREDITO = 4 THEN R.GASTOS_COBRANZA * .1 + R.INTERESES_MORATORIOS * .1 ELSE R.GASTOS_COBRANZA + R.INTERESES_MORATORIOS END) AS GASTOS_DE_COBRANZA,
        SUM(CASE WHEN NUM_DESC_TIPO_CREDITO = 4 THEN R.IVA_GASTOS_COBRANZA * .1 + R.IVA_INTERES_MORATORIO * .1 ELSE R.IVA_GASTOS_COBRANZA + R.IVA_INTERES_MORATORIO END) AS IVA_GASTOS_DE_COBRANZA,
        R.ESTATUS,
        MAX(CASE
                WHEN R.IND_COVID = 'S' THEN 'Sí'
                ELSE 'No'
            END) AS PROGRAMA_COVID_19,
        MAX(ISNULL(NULLIF(CH.IND_ETAPA, 0), 1)) AS ETAPA
    FROM #RESULTADO_REPORTE_IND R
        LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON R.COD_EMPRESA = PJ.COD_EMPRESA AND R.COD_CLIENTE = PJ.COD_CLIENTE
        LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON R.COD_EMPRESA = PF.COD_EMPRESA AND R.COD_CLIENTE = PF.COD_CLIENTE
        LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON R.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = R.FEC_CALCULO
		LEFT JOIN #CEDIDO_MOV_INTERES CMI ON CMI.ID_EXTERNO = R.ID_EXTERNO AND CMI.FECHA_MOVIMIENTO = R.FEC_CALCULO
    GROUP BY R.ID_EXTERNO, R.FEC_CALCULO, R.ESTATUS
    UNION ALL
    SELECT R.ID_EXTERNO,
        MIN(DBO.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO,PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE,PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)) AS ACREDITADO,
        'AFIRME' AS FONDEADOR,
        'VIVIENDA' AS TIPO_CREDITO,
        MAX(CH.TIPO_VIVIENDA) AS CLASIFICACION,
        MAX(ISNULL(CMI.CEDIDO, DBO.FN_ORIGEN_FONDOS(R.COD_ORIGEN, R.COD_EMPRESA))) AS CEDIDO,
        MAX(CASE
                WHEN CH.ID_FONDEO = 2 THEN 'SIN RESTRICCION'
                ELSE 'RESTRINGIDO'
            END) AS TIPO_CARTERA,
        CONVERT(VARCHAR(10), R.FEC_CALCULO, 103) AS FEC_CALCULO,
        SUM(R.IMPORTE * .9) AS IMPORTE,
        SUM(R.IVA_INTERES * .9) AS IVA_INTERES,
        0 AS INTERESES_MORATORIOS,
        0 AS IVA_INTERES_MORATORIO,
        SUM(R.GASTOS_COBRANZA * .9)+SUM(R.INTERESES_MORATORIOS * .9) AS GASTOS_DE_COBRANZA,
        SUM(R.IVA_GASTOS_COBRANZA * .9)+SUM(R.IVA_INTERES_MORATORIO * .9) AS IVA_GASTOS_DE_COBRANZA,
        R.ESTATUS,
        MAX(CASE
                WHEN R.IND_COVID = 'S' THEN 'Sí'
                ELSE 'No'
            END) AS PROGRAMA_COVID_19,
        MAX(ISNULL(NULLIF(CH.IND_ETAPA, 0), 1)) AS ETAPA
    FROM #RESULTADO_REPORTE_IND R
        LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON R.COD_EMPRESA = PJ.COD_EMPRESA AND R.COD_CLIENTE = PJ.COD_CLIENTE
        LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON R.COD_EMPRESA = PF.COD_EMPRESA AND R.COD_CLIENTE = PF.COD_CLIENTE
        LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON R.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = R.FEC_CALCULO
		LEFT JOIN #CEDIDO_MOV_INTERES CMI ON CMI.ID_EXTERNO = R.ID_EXTERNO AND CMI.FECHA_MOVIMIENTO = R.FEC_CALCULO
    WHERE NUM_DESC_TIPO_CREDITO = 4
    GROUP BY R.ID_EXTERNO, R.FEC_CALCULO, R.ESTATUS
    ORDER BY FEC_CALCULO, ID_EXTERNO

	DROP TABLE #CEDIDO_MOV_INTERES
    DROP TABLE #RESULTADO_REPORTE_IND

END
GO
