SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250526
-- Descripcion:	Vista para los datos de cierre comercial de SAF, datos generales seleccion de contabilidad
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_CMR_GEN_DIA_CONTABILIDAD_VIS]
	@FECHA DATE
AS
BEGIN
	SET NOCOUNT ON;

    SELECT NUM_CREDITO
        ,PAGADO_CAPITAL
        ,isnull(SALDO_INI_AJUSTE,0) AS SALDO_INI_AJUSTE
        ,PAGADO_CAPITAL AS PAGADO_CAPITAL_2
        ,isnull(SALDO_INI_AJUSTE,0) AS SALDO_INI_AJUST_2
        /*,PAGADO_INTERESES_BALANCE
        ,PAGADO_INTERESES_BALANCE AS PAGADO_INTERESES_BALANCE_2
        ,PAGADO_INTERESES_BALANCE AS PAGADO_INTERESES_BALANCE_3*/
        ,isnull(DEV_INTERESES,0) AS DEV_INTERESES
        ,0 AS DEV_INTERESES_COVID
        ,isnull(DEV_MORATORIOS_COMISIONES,0) AS DEV_MORATORIOS_COMISIONES
        ,ANTICIPOS_MINISTRACIONES
        ,CARTERA_TIPO
        ,ID_EXTERNO AS FOLIO
        ,ACREDITADO
        ,isnull(PROYECTO,'') AS PROYECTO
        ,isnull(CREDITO_TIPO,'') AS CREDITO_TIPO
        ,RESTRINGIDO AS TIPO_CARTERA
        ,LINEA
        ,DESEMBOLSOS
        ,DISPONIBLE
        ,isnull(FORMAT(APERTURA, 'dd/MM/yyyy'),'-') AS APERTURA
        ,isnull(FORMAT(VENCIMIENTO, 'dd/MM/yyyy'),'-') AS VENCIMIENTO
        ,PLAZO
        ,CEDIDO
        ,isnull(DIAS_VENCIDOS,0) AS DIAS_VENCIDOS
        ,TASA_INTERES
        ,TASA_INTERES AS TASA_TOTAL 
        ,isnull(FORMAT(LIQUIDADO, 'dd/MM/yyyy'),'') AS LIQUIDADO
        ,isnull(GENERA_IVA,'') AS GENERA_IVA
        ,isnull(ETAPA_RIESGO_ANT,'') AS ETAPA_RIESGO_ANT
        ,ETAPA_RIESGO
        ,SALDO_PRINCIPAL_INI
        ,isnull(CARTERA_SHF_70,0) AS CARTERA_SHF_70
        ,MONTO_QUITAS + MONTO_CASTIGOS AS OTROS
        ,SALDO_PRINCIPAL_COVID_INI
        ,isnull(CARTERA_SHF_70,0) AS CARTERA_SHF_70_2
        ,MONTO_QUITAS + MONTO_CASTIGOS AS OTROS_2
        ,SALDO_INTERESES_ORDINARIOS_INI
        ,0 AS RECALCULO
        ,MONTO_QUITAS + MONTO_CASTIGOS AS OTROS_3
        ,SALDO_INTERESES_COVID_INI
        ,0 AS RECALCULO_2
        ,MONTO_QUITAS + MONTO_CASTIGOS AS OTROS_4
        ,SALDO_BALANCE_MORATORIOS_INI + SALDO_BALANCE_COMISIONES_INI AS SALDO_BALANCE_COMISIONES_MORATORIOS_INI
        ,0 AS RECALCULO_3
        ,MONTO_QUITAS + MONTO_CASTIGOS AS OTROS_5
        ,SALDO_SEGURO_BALANCE
        ,SALDO_SEGURO_ORDEN
        ,isnull(SALDO_A_FAVOR,0) AS SALDO_A_FAVOR
        ,SALDO_IVA_BALANCE
        ,SALDO_INTERESES_ORDEN
        ,SALDO_MORATORIOS_COMISIONES_ORDEN
        ,SALDO_IVA_ORDEN
        ,SALDO_PRINCIPAL_FIN
        ,SALDO_PRINCIPAL_COVID_FIN
        ,SALDO_INTERESES_ORDINARIOS_FIN
        ,SALDO_INTERESES_COVID_FIN
        ,SALDO_INTERESES_ORDINARIOS_FIN AS SALDO_INTERESES_ORDINARIOS_FIN_2


        /*,isnull(DEV_INTERESES_E1_E2,0) AS DEV_INTERESES_E1_E2
        ,CAPITAL_FINAL
        ,ADMINISTRADA
        ,isnull(CUOTAS_VENCIDAS,'-') AS CUOTAS_VENCIDAS
        ,isnull(FORMAT(DEBE_DESDE, 'dd/MM/yyyy'),'-') AS DEBE_DESDE
        ,ESTADO_CARTERA
        ,OPERACION
        ,CANAL
        ,CAPITAL_INICIAL
        ,INTERESES_EXIGIBLES_ANT
        ,INTERESES_NO_EXIGIBLES_ANT
        ,INTERESES_EXIGIBLES
        ,INTERESES_NO_EXIGIBLES
        ,SEGUROS
        ,INTERESES_VENCIDOS_IVA
        ,SEGUROS_VENCIDOS
        ,AMORTIZACION_VENCIDA
        ,MORATORIOS
        ,MORATORIOS_IVA
        ,INTERESES_ACCESORIOS
        ,PAGADO_INTERESES
        ,PAGADO_INTERESES_EXIGIBLES
        ,PAGADO_INTERESES_IVA
        ,PAGADO_SEGURO_VIDA
        ,PAGADO_SEGURO_DANOS
        ,PAGADO_MORATORIOS
        ,PAGADO_MORATORIOS_IVA
        ,PAGADO_TOTAL
        ,RECALCULO_INTERESES
        ,RECLASIFICACION_COBRANZA
        ,MONTO_CONDONACION
        ,MONTO_QUITAS
        ,MONTO_CASTIGOS
        ,MONTO_BONIFICACION
        ,MONTO_DESCUENTO
        ,MONTO_EXIGIBLE
        ,CAPITAL_VENCIDO
        ,isnull(ESTADO_CARTERA_ANT,'') AS ESTADO_CARTERA_ANT
        ,CARTERA
        ,isnull(CARTERA_ANT,'') AS CARTERA_ANT
        ,isnull(CEDIDO_ANT,'') AS CEDIDO_ANT
        ,CORTE
        ,ORDEN_SEGUROS
        ,ORDEN_INTERESES
        ,isnull(FORMAT(POSTERGAR_FIN, 'dd/MM/yyyy'),'') AS POSTERGAR_FIN
        ,isnull(ORDEN_IVA,0) AS ORDEN_IVA
        ,PROGRAMA_COVID
        ,TASA_TIPO
        ,isnull(POSTERGAR_TOTAL,0) AS POSTERGAR_TOTAL
        ,SALDO_CAPITAL_INTERESES
        ,SALDO_MORATORIOS
        ,SALDO_MORATORIOS_COMISIONES_INI*/
        
    FROM [CIERRE].[CMR_REP]
    where FECHA_SISTEMA = @FECHA

END
GO
