SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[RETRABAJO_DOC](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[documento_id] [uniqueidentifier] NULL,
	[documento_recarga_id] [uniqueidentifier] NULL,
	[Area] [nvarchar](100) NULL,
	[Item] [nvarchar](300) NULL,
	[documento_nombre] [nvarchar](400) NULL,
	[motivo_id] [uniqueidentifier] NULL,
	[Motivo] [nvarchar](400) NULL,
	[Comentario] [nvarchar](max) NULL,
	[Responsable] [nvarchar](200) NULL,
	[fecha_rechazo] [datetime] NOT NULL,
	[fecha_compromiso] [datetime] NULL,
	[fecha_recarga] [datetime] NULL,
	[fecha_cierre] [datetime] NULL,
	[usuario_rechazo] [nvarchar](200) NULL,
	[usuario_cierre] [nvarchar](200) NULL,
	[comentario_cierre] [nvarchar](max) NULL,
	[Estatus] [nvarchar](40) NOT NULL,
	[Origen] [nvarchar](40) NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
 CONSTRAINT [PK_RETRABAJO_DOC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[RETRABAJO_DOC] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[RETRABAJO_DOC] ADD  CONSTRAINT [DF_RETRABAJO_ESTATUS]  DEFAULT (N'Abierto') FOR [Estatus]
GO
ALTER TABLE [cierre_puente].[RETRABAJO_DOC] ADD  CONSTRAINT [DF_RETRABAJO_ORIGEN]  DEFAULT (N'Portal') FOR [Origen]
GO
ALTER TABLE [cierre_puente].[RETRABAJO_DOC] ADD  CONSTRAINT [DF_RETRABAJO_FCREA]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
