SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CALIDAD_CORRIDA](
	[Id] [uniqueidentifier] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Usuario] [nvarchar](200) NULL,
	[Producto] [nvarchar](30) NULL,
	[incluyo_sp] [bit] NOT NULL,
	[duracion_ms] [int] NOT NULL,
	[total_incidencias] [int] NOT NULL,
 CONSTRAINT [PK_CALIDAD_CORRIDA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CALIDAD_CORRIDA] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[CALIDAD_CORRIDA] ADD  CONSTRAINT [DF_CALCOR_FECHA]  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [cierre_puente].[CALIDAD_CORRIDA] ADD  CONSTRAINT [DF_CALCOR_SP]  DEFAULT ((0)) FOR [incluyo_sp]
GO
ALTER TABLE [cierre_puente].[CALIDAD_CORRIDA] ADD  CONSTRAINT [DF_CALCOR_DUR]  DEFAULT ((0)) FOR [duracion_ms]
GO
ALTER TABLE [cierre_puente].[CALIDAD_CORRIDA] ADD  CONSTRAINT [DF_CALCOR_TOT]  DEFAULT ((0)) FOR [total_incidencias]
GO
