SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_DOC_PLANOS_VARIANTE_20260817](
	[Id] [uniqueidentifier] NOT NULL,
	[area_clasificada] [nvarchar](50) NULL,
	[item_clasificado] [nvarchar](300) NULL
) ON [PRIMARY]
GO
