SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_MONTO_20260824](
	[Id] [uniqueidentifier] NOT NULL,
	[Nuc] [nvarchar](50) NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Monto] [numeric](18, 2) NOT NULL
) ON [PRIMARY]
GO
