SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[NOTIF_LOG](
	[Id] [uniqueidentifier] NOT NULL,
	[regla_id] [uniqueidentifier] NULL,
	[credito_puente_id] [uniqueidentifier] NULL,
	[disparador] [nvarchar](50) NOT NULL,
	[destinatarios] [nvarchar](max) NULL,
	[asunto] [nvarchar](500) NULL,
	[fecha_envio] [datetime2](7) NOT NULL,
	[exitoso] [bit] NOT NULL,
	[error_mensaje] [nvarchar](max) NULL,
 CONSTRAINT [PK_NOTIF_LOG] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
