SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	202500521
-- Descripcion:	Vista para los datos de cierre comercial de SAF de diario
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_CMR_DIA_VIS]
	@FECHA DATE
AS
BEGIN
	SET NOCOUNT ON;

    SELECT NUM_CREDITO
        ,ID_EXTERNO
        ,ACREDITADO
        ,isnull(PROYECTO,'') AS PROYECTO
        ,LINEA
        ,DISPUESTO
        ,CAPITAL_FINAL
        ,PLAZO
        ,TASA_INTERES
        ,isnull(FORMAT(APERTURA, 'dd/MM/yyyy'),'') AS APERTURA
        ,isnull(FORMAT(VENCIMIENTO, 'dd/MM/yyyy'),'') AS VENCIMIENTO
        ,isnull(FORMAT(LIQUIDADO, 'dd/MM/yyyy'),'') AS LIQUIDADO
        ,isnull(CUOTAS_VENCIDAS,0) AS CUOTAS_VENCIDAS
        ,isnull(DIAS_VENCIDOS,0) AS DIAS_VENCIDOS
        ,isnull(FORMAT(DEBE_DESDE, 'dd/MM/yyyy'),'') AS DEBE_DESDE
        ,ETAPA_RIESGO
        ,CEDIDO
        ,CORTE
        ,PROGRAMA_COVID
        ,isnull(FORMAT(POSTERGAR_FIN, 'dd/MM/yyyy'),'') AS POSTERGAR_FIN
        ,isnull(POSTERGAR_TOTAL,0) AS POSTERGAR_TOTAL
        ,CREDITO_TIPO
        ,TASA_TIPO
        ,GENERA_IVA
        ,CANAL
        ,isnull(SALDO_CAPITAL_MONTO,0) AS SALDO_CAPITAL_MONTO
        ,isnull(SALDO_PRINCIPAL_MONTO,0) AS SALDO_PRINCIPAL_MONTO
        ,isnull(SALDO_INTERESES_MONTO,0) AS SALDO_INTERESES_MONTO
        ,isnull(SALDO_INTERESES_IVA,0) AS SALDO_INTERESES_IVA
        ,isnull(SALDO_SEG_VID_MONTO,0) AS SALDO_SEG_VID_MONTO
        ,isnull(SALDO_SEG_DAN_MONTO,0) AS SALDO_SEG_DAN_MONTO
        ,isnull(SALDO_MORATORIO_MONTO,0) AS SALDO_MORATORIO_MONTO
        ,isnull(SALDO_MORATORIO_IVA,0) AS SALDO_MORATORIO_IVA
        ,isnull(SALDO_COMISION_MONTO,0) AS SALDO_COMISION_MONTO
        ,isnull(SALDO_COMISION_IVA,0) AS SALDO_COMISION_IVA
        ,isnull(SALDO_INTERESES_NO_EXIGIBLE_MONTO,0) AS SALDO_INTERESES_NO_EXIGIBLE_MONTO
        ,isnull(SALDO_INTERESES_NO_EXIGIBLE_IVA,0) AS SALDO_INTERESES_NO_EXIGIBLE_IVA
        ,isnull(SALDO_BALANCE_INTERESES_MONTO,0) AS SALDO_BALANCE_INTERESES_MONTO
        ,isnull(SALDO_BALANCE_INTERESES_IVA,0) AS SALDO_BALANCE_INTERESES_IVA
        ,isnull(SALDO_BALANCE_SEG_VID_MONTO,0) AS SALDO_BALANCE_SEG_VID_MONTO
        ,isnull(SALDO_BALANCE_SEG_DAN_MONTO,0) AS SALDO_BALANCE_SEG_DAN_MONTO
        ,isnull(SALDO_BALANCE_MORATORIO_MONTO,0) AS SALDO_BALANCE_MORATORIO_MONTO
        ,isnull(SALDO_BALANCE_MORATORIO_IVA,0) AS SALDO_BALANCE_MORATORIO_IVA
        ,isnull(SALDO_BALANCE_COMISION_MONTO,0) AS SALDO_BALANCE_COMISION_MONTO
        ,isnull(SALDO_BALANCE_COMISION_IVA,0) AS SALDO_BALANCE_COMISION_IVA
        ,isnull(SALDO_COVID_PRINCIPAL_MONTO,0) AS SALDO_COVID_PRINCIPAL_MONTO
        ,isnull(SALDO_COVID_INTERESES_MONTO,0) AS SALDO_COVID_INTERESES_MONTO
        ,isnull(SALDO_COVID_INTERESES_IVA,0) AS SALDO_COVID_INTERESES_IVA
        ,isnull(SALDO_COVID_SEG_VID_MONTO,0) AS SALDO_COVID_SEG_VID_MONTO
        ,isnull(SALDO_COVID_SEG_DAN_MONTO,0) AS SALDO_COVID_SEG_DAN_MONTO
        ,isnull(SALDO_COVID_MORATORIO_MONTO,0) AS SALDO_COVID_MORATORIO_MONTO
        ,isnull(SALDO_COVID_MORATORIO_IVA,0) AS SALDO_COVID_MORATORIO_IVA
        ,isnull(SALDO_COVID_COMISION_MONTO,0) AS SALDO_COVID_COMISION_MONTO
        ,isnull(SALDO_COVID_COMISION_IVA,0) AS SALDO_COVID_COMISION_IVA
    FROM CIERRE.CMR_DIA_REP   
    where FECHA_SISTEMA = @FECHA

END
GO
