SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CHECKLIST_FOLDER_ALIAS](
	[Id] [uniqueidentifier] NOT NULL,
	[producto] [nvarchar](30) NOT NULL,
	[carpeta_area] [nvarchar](200) NOT NULL,
	[carpeta_item] [nvarchar](200) NULL,
	[area_codigo] [nvarchar](50) NOT NULL,
	[item_codigo] [nvarchar](300) NULL,
 CONSTRAINT [PK_CHECKLIST_FOLDER_ALIAS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
