SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_ACTA_APLICADO_20260818](
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[fecha_comite] [date] NULL,
	[monto_autorizado] [decimal](18, 2) NULL,
	[dias_tardanza] [int] NULL
) ON [PRIMARY]
GO
