SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CIERRE].[CMR_REP](
	[ID] [uniqueidentifier] NOT NULL,
	[FECHA_SISTEMA] [date] NOT NULL,
	[TIPO] [varchar](4) NOT NULL,
	[PARTE] [varchar](4) NOT NULL,
	[NUM_CREDITO] [int] NOT NULL,
	[ID_EXTERNO] [varchar](15) NULL,
	[ACREDITADO] [varchar](270) NULL,
	[PROYECTO] [varchar](150) NULL,
	[CAPITAL_FINAL] [numeric](16, 2) NULL,
	[ADMINISTRADA] [varchar](70) NULL,
	[APERTURA] [datetime] NULL,
	[VENCIMIENTO] [datetime] NULL,
	[CUOTAS_VENCIDAS] [int] NULL,
	[DEBE_DESDE] [datetime] NULL,
	[ESTADO_CARTERA] [varchar](10) NULL,
	[TASA_INTERES] [numeric](10, 2) NULL,
	[OPERACION] [varchar](20) NULL,
	[ETAPA_RIESGO] [varchar](5) NULL,
	[CANAL] [varchar](10) NULL,
	[CAPITAL_INICIAL] [numeric](16, 2) NULL,
	[ANTICIPOS_MINISTRACIONES] [numeric](16, 2) NULL,
	[CARTERA_SHF_70] [numeric](16, 2) NULL,
	[SALDO_INI_AJUSTE] [numeric](16, 2) NULL,
	[INTERESES_EXIGIBLES_ANT] [numeric](16, 2) NULL,
	[INTERESES_NO_EXIGIBLES_ANT] [numeric](16, 2) NULL,
	[INTERESES_EXIGIBLES] [numeric](16, 2) NULL,
	[INTERESES_NO_EXIGIBLES] [numeric](16, 2) NULL,
	[SEGUROS] [numeric](16, 2) NULL,
	[INTERESES_VENCIDOS_IVA] [numeric](16, 2) NULL,
	[SEGUROS_VENCIDOS] [numeric](16, 2) NULL,
	[AMORTIZACION_VENCIDA] [numeric](16, 2) NULL,
	[MORATORIOS] [numeric](16, 2) NULL,
	[MORATORIOS_IVA] [numeric](16, 2) NULL,
	[INTERESES_ACCESORIOS] [numeric](16, 2) NULL,
	[PAGADO_CAPITAL] [numeric](16, 2) NULL,
	[PAGADO_INTERESES] [numeric](16, 2) NULL,
	[PAGADO_INTERESES_EXIGIBLES] [numeric](16, 2) NULL,
	[PAGADO_INTERESES_IVA] [numeric](16, 2) NULL,
	[PAGADO_SEGURO_VIDA] [numeric](16, 2) NULL,
	[PAGADO_SEGURO_DANOS] [numeric](16, 2) NULL,
	[PAGADO_MORATORIOS] [numeric](16, 2) NULL,
	[PAGADO_MORATORIOS_IVA] [numeric](16, 2) NULL,
	[PAGADO_COMISIONES] [numeric](16, 2) NULL,
	[PAGADO_COMISIONES_IVA] [numeric](16, 2) NULL,
	[PAGADO_TOTAL] [numeric](16, 2) NULL,
	[PAGADO_INTERESES_BALANCE] [numeric](16, 2) NULL,
	[RECALCULO_INTERESES] [numeric](16, 2) NULL,
	[RECLASIFICACION_COBRANZA] [numeric](16, 2) NULL,
	[DISPONIBLE] [numeric](16, 2) NULL,
	[MONTO_CONDONACION] [numeric](16, 2) NULL,
	[MONTO_QUITAS] [numeric](16, 2) NULL,
	[MONTO_CASTIGOS] [numeric](16, 2) NULL,
	[MONTO_BONIFICACION] [numeric](16, 2) NULL,
	[MONTO_DESCUENTO] [numeric](16, 2) NULL,
	[MONTO_EXIGIBLE] [numeric](16, 2) NULL,
	[MONTO_DAC] [numeric](16, 2) NULL,
	[MONTO_ADJ] [numeric](16, 2) NULL,
	[ETAPA_RIESGO_ANT] [varchar](5) NULL,
	[CAPITAL_VENCIDO] [numeric](16, 2) NULL,
	[ESTADO_CARTERA_ANT] [varchar](10) NULL,
	[CARTERA] [varchar](20) NULL,
	[CARTERA_ANT] [varchar](20) NULL,
	[CEDIDO] [varchar](100) NULL,
	[CEDIDO_ANT] [varchar](100) NULL,
	[RESTRINGIDO] [varchar](16) NULL,
	[CORTE] [int] NULL,
	[ORDEN_SEGUROS] [numeric](16, 2) NULL,
	[ORDEN_INTERESES] [numeric](16, 2) NULL,
	[DIAS_VENCIDOS] [int] NULL,
	[APLICACION] [date] NULL,
	[MOVIMIENTO] [date] NULL,
	[POSTERGAR_FIN] [date] NULL,
	[ORDEN_IVA] [numeric](16, 2) NULL,
	[LINEA] [numeric](16, 2) NULL,
	[LIQUIDADO] [date] NULL,
	[PLAZO] [int] NULL,
	[PROGRAMA_COVID] [int] NULL,
	[CARTERA_TIPO] [varchar](60) NULL,
	[CREDITO_TIPO] [varchar](60) NULL,
	[TASA_TIPO] [varchar](10) NULL,
	[POSTERGAR_TOTAL] [numeric](16, 2) NULL,
	[GENERA_IVA] [varchar](10) NULL,
	[SALDO_CAPITAL_INTERESES] [numeric](16, 2) NULL,
	[SALDO_PRINCIPAL_INI] [numeric](16, 2) NULL,
	[SALDO_PRINCIPAL_FIN] [numeric](16, 2) NULL,
	[SALDO_PRINCIPAL_COVID_INI] [numeric](16, 2) NULL,
	[SALDO_PRINCIPAL_COVID_FIN] [numeric](16, 2) NULL,
	[SALDO_INTERESES_ORDINARIOS_INI] [numeric](16, 2) NULL,
	[SALDO_INTERESES_ORDINARIOS_FIN] [numeric](16, 2) NULL,
	[SALDO_INTERESES_COVID_INI] [numeric](16, 2) NULL,
	[SALDO_INTERESES_COVID_FIN] [numeric](16, 2) NULL,
	[SALDO_MORATORIOS] [numeric](16, 2) NULL,
	[SALDO_MORATORIOS_COMISIONES_INI] [numeric](16, 2) NULL,
	[SALDO_IVA_BALANCE] [numeric](16, 2) NULL,
	[SALDO_IVA_ORDEN] [numeric](16, 2) NULL,
	[SALDO_SEGURO_BALANCE] [numeric](16, 2) NULL,
	[SALDO_SEGURO_ORDEN] [numeric](16, 2) NULL,
	[SALDO_INTERESES_BALANCE] [numeric](16, 2) NULL,
	[SALDO_INTERESES_ORDEN] [numeric](16, 2) NULL,
	[SALDO_MORATORIOS_COMISIONES_ORDEN] [numeric](16, 2) NULL,
	[SALDO_IVA] [numeric](16, 2) NULL,
	[SALDO_SEGURO_VIDA] [numeric](16, 2) NULL,
	[SALDO_SEGURO_DANOS] [numeric](16, 2) NULL,
	[DEV_INTERESES] [numeric](16, 2) NULL,
	[DEV_INTERESES_E1_E2] [numeric](16, 2) NULL,
	[DEV_MORATORIOS_COMISIONES] [numeric](16, 2) NULL,
	[DESEMBOLSOS] [numeric](16, 2) NULL,
	[SALDO_BALANCE_MORATORIOS_INI] [numeric](16, 2) NULL,
	[SALDO_BALANCE_COMISIONES_INI] [numeric](16, 2) NULL,
	[SALDO_BALANCE_MORATORIOS] [numeric](16, 2) NULL,
	[SALDO_BALANCE_COMISIONES] [numeric](16, 2) NULL,
	[SALDO_A_FAVOR] [numeric](16, 2) NULL,
	[SALDO_A_FAVOR_INI] [numeric](16, 2) NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
	[ACUMULADO_PRINCIPAL] [numeric](16, 2) NULL,
	[ACUMULADO_INTERESES] [numeric](16, 2) NULL,
	[ACUMULADO_MORATORIO] [numeric](16, 2) NULL,
	[ACUMULADO_SEG_VID] [numeric](16, 2) NULL,
	[ACUMULADO_SEG_DAN] [numeric](16, 2) NULL,
	[ACUMULADO_INTERESES_IVA] [numeric](16, 2) NULL,
	[DESCUENTO_PRINCIPAL] [numeric](16, 2) NULL,
	[DESCUENTO_INTERESES] [numeric](16, 2) NULL,
	[DESCUENTO_MORATORIO] [numeric](16, 2) NULL,
	[DESCUENTO_SEG_VID] [numeric](16, 2) NULL,
	[DESCUENTO_SEG_DAN] [numeric](16, 2) NULL,
	[DESCUENTO_INTERESES_IVA] [numeric](16, 2) NULL,
	[DEV_INTERESES_IVA] [numeric](16, 2) NULL,
	[DEV_MORATORIOS] [numeric](16, 2) NULL,
	[DEV_COMISIONES] [numeric](16, 2) NULL,
	[DEV_SEG_VID] [numeric](16, 2) NULL,
	[DEV_SEG_DAN] [numeric](16, 2) NULL,
	[SAL_CAPITAL] [numeric](16, 2) NULL,
	[SAL_INTERESES] [numeric](16, 2) NULL,
	[SAL_MORATORIO] [numeric](16, 2) NULL,
	[SAL_SEG_VID] [numeric](16, 2) NULL,
	[SAL_SEG_DAN] [numeric](16, 2) NULL,
	[SAL_INTERESES_IVA] [numeric](16, 2) NULL,
	[SAL_CAPITAL_INI] [numeric](16, 2) NULL,
	[SAL_INTERESES_INI] [numeric](16, 2) NULL,
	[SAL_MORATORIO_INI] [numeric](16, 2) NULL,
	[SAL_SEG_VID_INI] [numeric](16, 2) NULL,
	[SAL_SEG_DAN_INI] [numeric](16, 2) NULL,
	[SAL_INTERESES_IVA_INI] [numeric](16, 2) NULL,
	[SAL_ORDEN_INTERESES] [numeric](16, 2) NULL,
	[SAL_ORDEN_INTERESES_IVA] [numeric](16, 2) NULL,
	[SAL_ORDEN_MORATORIOS] [numeric](16, 2) NULL,
	[SAL_ORDEN_SEG_VID] [numeric](16, 2) NULL,
	[SAL_ORDEN_SEG_DAN] [numeric](16, 2) NULL,
	[SAL_COVID_MORATORIO] [numeric](16, 2) NULL,
	[SAL_COVID_SEG_VID] [numeric](16, 2) NULL,
	[SAL_COVID_SEG_DAN] [numeric](16, 2) NULL,
	[DIRECCION_PROYECTO] [varchar](600) NULL,
	[SECCION] [int] NULL,
	[SECCION_DESC] [varchar](30) NULL,
	[SALDO_CAPITAL_VIGENTE] [numeric](21, 2) NULL,
	[SALDO_CAPITAL_VENCIDO] [numeric](21, 2) NULL,
	[SALDO_INTERES_VIGENTE] [numeric](21, 2) NULL,
	[SALDO_INTERES_VENCIDO] [numeric](21, 2) NULL,
	[TASA_INTERES_MORATORIA] [numeric](10, 6) NULL,
	[MONTO_DISPUESTO_LINEA] [numeric](21, 2) NULL,
	[MONTO_PAGO_EXIGIBLE] [numeric](21, 2) NULL,
	[OTROS_MONTOS_PAGADOS] [numeric](21, 2) NULL,
	[OTROS_MONTOS_PRINCIPAL] [numeric](21, 2) NULL,
	[MONTO_FONDEADO_BD] [numeric](21, 2) NULL,
	[TASA_INTERES_EFECTIVA] [numeric](10, 6) NULL,
	[COMISIONES_PAGADAS] [numeric](21, 2) NULL,
	[MONTO_INTERES_MORATORIO] [numeric](21, 2) NULL,
	[PRIMER_DESEM] [date] NULL,
	[CREDITO_TIPO_L] [varchar](100) NULL,
	[SEGUROS_VENCIDOS_IVA] [numeric](16, 2) NULL,
	[INTERESES_ACCESORIOS_EXIGIBLE] [numeric](16, 2) NULL,
	[DEV_PAG_INT] [numeric](16, 2) NULL,
	[DEV_PAG_INT_IVA] [numeric](16, 2) NULL,
	[BAJA_TIPO] [varchar](1000) NULL,
 CONSTRAINT [PK_PO.CMR_REP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CMR_REP] UNIQUE NONCLUSTERED 
(
	[FECHA_SISTEMA] ASC,
	[NUM_CREDITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CIERRE].[CMR_REP] ADD  CONSTRAINT [DF_CMR_REP_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [CIERRE].[CMR_REP] ADD  CONSTRAINT [DF_CMR_REP_FECHA_GENERACION]  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
