SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CREDITO_PUENTE_CHECK_ITEM](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[Area] [nvarchar](50) NOT NULL,
	[Item] [nvarchar](300) NOT NULL,
	[is_manual_override] [bit] NOT NULL,
	[fecha_ultimo_cambio] [datetime2](7) NOT NULL,
	[origen_ultimo_cambio] [nvarchar](20) NULL,
	[Activo] [bit] NOT NULL,
	[Orden] [int] NOT NULL,
	[estatus] [nvarchar](20) NOT NULL,
	[excepcion_cerrada_por] [nvarchar](200) NULL,
	[excepcion_comentario] [nvarchar](max) NULL,
	[excepcion_fecha_cierre] [datetime2](7) NULL,
	[excepcion_fecha_compromiso] [datetime2](7) NULL,
	[excepcion_fecha_creacion] [datetime2](7) NULL,
	[excepcion_solicitada_por] [nvarchar](200) NULL,
	[na_comentario] [nvarchar](max) NULL,
	[na_fecha_justificacion] [datetime2](7) NULL,
	[na_justificado_por] [nvarchar](200) NULL,
	[excepcion_es_bloqueante] [bit] NOT NULL,
	[excepcion_motivo_id] [uniqueidentifier] NULL,
	[excepcion_aprobador] [nvarchar](150) NULL,
	[excepcion_fecha_aprobacion] [datetime2](7) NULL,
	[excepcion_evidencia] [nvarchar](400) NULL,
	[na_motivo_id] [uniqueidentifier] NULL,
	[na_aprobador] [nvarchar](150) NULL,
	[na_fecha_aprobacion] [datetime2](7) NULL,
	[exigibilidad_override] [nvarchar](20) NULL,
	[posterior_fecha_compromiso] [datetime2](7) NULL,
 CONSTRAINT [PK_CREDITO_PUENTE_CHECK_ITEM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CREDITO_PUENTE_CHECK_ITEM] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [cierre_puente].[CREDITO_PUENTE_CHECK_ITEM] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [cierre_puente].[CREDITO_PUENTE_CHECK_ITEM] ADD  DEFAULT (N'Pendiente') FOR [estatus]
GO
ALTER TABLE [cierre_puente].[CREDITO_PUENTE_CHECK_ITEM] ADD  CONSTRAINT [DF_CHECK_ITEM_excepcion_es_bloqueante]  DEFAULT ((0)) FOR [excepcion_es_bloqueante]
GO
ALTER TABLE [cierre_puente].[CREDITO_PUENTE_CHECK_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CREDITO_PUENTE_CHECK_ITEM_CREDITOS_PUENTE_credito_puente_id] FOREIGN KEY([credito_puente_id])
REFERENCES [cierre_puente].[CREDITOS_PUENTE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[CREDITO_PUENTE_CHECK_ITEM] CHECK CONSTRAINT [FK_CREDITO_PUENTE_CHECK_ITEM_CREDITOS_PUENTE_credito_puente_id]
GO
