SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[ACTA_COMITE](
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[nuc] [nvarchar](40) NULL,
	[fecha_comite] [date] NULL,
	[fecha_carga] [date] NULL,
	[dias_tardanza] [int] NULL,
	[es_historico] [bit] NOT NULL,
	[nota] [nvarchar](60) NULL,
	[fecha_calculo] [datetime] NOT NULL,
	[monto_autorizado] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[credito_puente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[ACTA_COMITE] ADD  DEFAULT ((0)) FOR [es_historico]
GO
ALTER TABLE [cierre_puente].[ACTA_COMITE] ADD  DEFAULT (getdate()) FOR [fecha_calculo]
GO
