SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Autor:		Eneas Armas
-- Creacion:	20250425
-- Descripcion:	Realiza el calculo de saldos cierre de dia de SAF en la fecha indicada
--              Referencia para tipo de saldo  N:Normal  O:En Orden  C:Covid  V:Vigentes  K:Castigo
--              De otros origenes   S: Parte ION sindicado normal  R: Parte ION sindicado orden  V: Parte ION sindicado covid
-- ==========================================================================================
CREATE PROCEDURE [CIERRE].[SP_SAF_SALDOS]
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION

	    DECLARE @FEC_HOY DATE
	    SELECT @FEC_HOY = fec_hoy FROM Quiero_Confianza_shadow.cf.cf_calendarios where cod_empresa = '001' AND cod_agencia = '001' AND cod_sistema = 'PR'
    
        DELETE FROM [CIERRE].[SAF_SALDOS] WHERE FECHA_SISTEMA = @FEC_HOY

        select num_credito
        INTO #CREDITOS_ACTIVOS
        FROM Quiero_Confianza_shadow.PR.PR_CREDITOS
        WHERE IND_ESTADO IN ('D','C')
            AND (FEC_CANCELACION IS NULL OR  FEC_CANCELACION >= @FEC_HOY)

        --== Calculo de saldos normales ===================================================================

        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',NUM_CREDITO, @FEC_HOY, COD_RUBRO as RUBRO, SUM(SAL_RUBRO) as SALDO,0 
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('PRINCIPAL')
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY NUM_CREDITO, COD_RUBRO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',NUM_CREDITO, @FEC_HOY, 'MORATORIOS', SUM(SAL_RUBRO) as SALDO,0
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('MORATORIOS', 'INTERES_MORATORIO', 'MORA_EMPRESARIAL')
            --AND FEC_COBRO <= @FEC_HOY -------********
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY NUM_CREDITO

        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',NUM_CREDITO, @FEC_HOY, 'PRINCIPAL_VENCIDO' AS RUBRO, SUM(SAL_RUBRO) as SALDO,SUM(SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('PRINCIPAL')
            AND FEC_COBRO <= @FEC_HOY
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY NUM_CREDITO, COD_RUBRO

        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',NUM_CREDITO, @FEC_HOY, COD_RUBRO, SUM(SAL_RUBRO) as SALDO,SUM(SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO NOT IN ('PRINCIPAL', 'MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL','SEGURO_VIDA','CARGO_PORCENTAJE')--IN ('INTERESES','COMISION_ADMINISTRACION','SEGURO_DANOS')
            AND FEC_COBRO <= @FEC_HOY
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY NUM_CREDITO, COD_RUBRO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',NUM_CREDITO, @FEC_HOY, 'SEGURO_VIDA' as RUBRO, SUM(SAL_RUBRO) as SALDO,SUM(SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('SEGURO_VIDA','CARGO_PORCENTAJE')
            AND FEC_COBRO <= @FEC_HOY
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',C.NUM_CREDITO, @FEC_HOY, 'INTERES_NO_EXIGIBLES' as RUBRO, SUM(C.MON_INT_ACUMULADO) as SALDO,CASE WHEN R.IND_IVA = 'N' THEN 0 ELSE SUM(C.MON_INT_ACUMULADO) * .16 end as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO R ON C.NUM_CREDITO = R.NUM_CREDITO and C.COD_RUBRO = R.COD_RUBRO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('INTERESES')
            AND C.FEC_COBRO > @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
            AND C.num_credito IN (select num_credito FROM Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA)
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO, R.IND_IVA

        UPDATE S
        SET S.SALDO     = ISNULL(S.SALDO,0)     + B.MON_PAGO,
            S.SALDO_IVA = ISNULL(S.SALDO_IVA,0) + B.MON_PAGO_IVA
        FROM [CIERRE].[SAF_SALDOS] S
            INNER JOIN (
                SELECT NUM_CREDITO,
                       COD_CONCEPTO,
                       SUM(MON_PAGO)     AS MON_PAGO,
                       SUM(MON_PAGO_IVA) AS MON_PAGO_IVA
                FROM [PO].[PR_BALLON_DET]
                WHERE ID_SECUENCIA IS NULL
                GROUP BY NUM_CREDITO, COD_CONCEPTO
             ) B ON  B.NUM_CREDITO  = S.NUM_CREDITO AND B.COD_CONCEPTO = S.RUBRO
         WHERE S.TIPO          = 'N'
             AND S.FECHA_SISTEMA = @FEC_HOY

        --========================================================================================================================================
        --== Calculo de saldos en orden para intereses ===================================================================

        select num_credito,KARDIA.dbo.FECHA_IMPAGO(NUM_CREDITO) as FECHA_IMPAGO
        into #impago
        FROM Quiero_Confianza_shadow.PR.PR_CREDITOS A
        WHERE (FEC_CANCELACION IS NULL OR  FEC_CANCELACION <= @FEC_HOY)
            AND A.IND_ETAPA = 3
            AND NOT (A.NUM_DESC_TIPO_CREDITO IN (26)    -- castigo individual
                OR (A.NUM_DESC_TIPO_CREDITO IN (25,29) AND A.COD_ORIGEN NOT IN (22,23,28, 35))-- castigo comercial
            )

        delete from #impago where FECHA_IMPAGO is null

        DECLARE @num_credito int, @FEC_IMPAGO date, @FEC_REF date, @FEC_REF2 date,@IND_IVA varchar(1), @FEC_IMPAGO_1M date
            ,@SALDO decimal(24,6), @SALDO_IVA decimal(24,6),@SALDO_INI decimal(24,6), @SALDO_INI_IVA decimal(24,6)
            , @OFFSET decimal(24,6), @OFFSET_IVA decimal(24,6), @OFFSET_INI decimal(24,6), @OFFSET_INI_IVA decimal(24,6)
        DECLARE @FEC_CASTIGO date,@FEC_CASTIGO_1M date,@FEC_CAS_REF date,@FEC_CAS_REF2 date
            ,@SALDO_CAS_INI decimal(24,6),@SALDO_CAS_INI_IVA decimal(24,6),@SALDO_CAS decimal(24,6),@SALDO_CAS_IVA decimal(24,6)
            ,@OFFSET_CAS_INI decimal(24,6),@OFFSET_CAS_INI_IVA decimal(24,6),@OFFSET_CAS decimal(24,6),@OFFSET_CAS_IVA decimal(24,6)
            ,@TOT_SAL_ORD decimal(24,6),@TOT_SAL_ORD_IVA decimal(24,6),@TOT_SAL_CAS decimal(24,6),@TOT_SAL_CAS_IVA decimal(24,6)

		exec CursorCloseDeallocate 'db_cursor_saldos_orden'
        DECLARE db_cursor_saldos_orden CURSOR FOR

            SELECT num_credito,FECHA_IMPAGO
			from #impago

        OPEN db_cursor_saldos_orden
            FETCH NEXT FROM db_cursor_saldos_orden
            INTO @num_credito,@FEC_IMPAGO
        WHILE @@FETCH_STATUS = 0 BEGIN

            set @FEC_REF = null
            set @FEC_REF2 = null
            set @IND_IVA = null
            set @FEC_IMPAGO_1M = null
            set @SALDO = null
            set @SALDO_IVA = null
            set @SALDO_INI = null
            set @SALDO_INI_IVA = null
            set @OFFSET = null
            set @OFFSET_IVA = null
            set @OFFSET_INI = null
            set @OFFSET_INI_IVA = null

            select @IND_IVA = IND_IVA
            FROM Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO B
            WHERE B.NUM_CREDITO = @num_credito and B.COD_RUBRO = 'INTERESES'

            set @FEC_IMPAGO_1M = DATEADD(MONTH, 1, @FEC_IMPAGO)

            SELECT @SALDO_INI = SUM(C.SAL_RUBRO), @SALDO_INI_IVA = SUM(C.SAL_IVA), @FEC_REF = MIN(FEC_EXIGIBLE_PAGO)
            FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C
            WHERE C.IND_ESTADO = 'P'
                AND C.COD_RUBRO IN ('INTERESES')
                AND C.NUM_CREDITO = @num_credito
                AND @FEC_IMPAGO <= C.FEC_COBRO AND C.FEC_COBRO < @FEC_IMPAGO_1M

            if not @FEC_REF is null and @FEC_IMPAGO < @FEC_REF begin

                select @OFFSET_INI = sum(MON_DIARIO), @OFFSET_INI_IVA = CASE WHEN @IND_IVA = 'N' THEN 0 ELSE SUM(MON_DIARIO) * .16 end
                from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA D
                where D.NUM_CREDITO = @num_credito
                    AND @FEC_IMPAGO <= fecha_calculo and fecha_calculo <= @FEC_REF

            end if @FEC_HOY < @FEC_REF begin

                select @OFFSET_INI = sum(MON_DIARIO), @OFFSET_INI_IVA = CASE WHEN @IND_IVA = 'N' THEN 0 ELSE SUM(MON_DIARIO) * .16 end
                from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA D
                where D.NUM_CREDITO = @num_credito
                    AND @FEC_IMPAGO <= fecha_calculo and fecha_calculo <= @FEC_HOY

            end

            SELECT @SALDO = SUM(C.SAL_RUBRO), @SALDO_IVA = SUM(C.SAL_IVA), @FEC_REF2 = MAX(FEC_EXIGIBLE_PAGO)
            FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C
            WHERE C.IND_ESTADO = 'P'
                AND C.COD_RUBRO IN ('INTERESES')
                AND C.NUM_CREDITO = @num_credito
                AND @FEC_IMPAGO_1M <= C.FEC_COBRO AND C.FEC_COBRO < @FEC_HOY
            
            SELECT @OFFSET = sum(MON_INT_ACUMULADO), @OFFSET_IVA = CASE WHEN @IND_IVA = 'N' THEN 0 ELSE SUM(MON_INT_ACUMULADO) * .16 end
            FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
            WHERE IND_ESTADO = 'P'
                AND COD_RUBRO IN ('INTERESES')
                AND NUM_CREDITO = @num_credito
                AND @FEC_HOY <= FEC_COBRO AND FEC_COBRO <= DATEADD(MONTH, 1, @FEC_HOY)

            INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
            VALUES('O',@num_credito, @FEC_HOY, 'INTERESES'
                , case when isnull(@OFFSET_INI,0) < isnull(@SALDO_INI,0) then isnull(@OFFSET_INI,0) else isnull(@SALDO_INI,0) end + isnull(@SALDO,0) + isnull(@OFFSET,0)
                , case when isnull(@OFFSET_INI_IVA,0) < isnull(@SALDO_INI_IVA,0) then isnull(@OFFSET_INI_IVA,0) else isnull(@SALDO_INI_IVA,0) end + isnull(@SALDO_IVA,0) + isnull(@OFFSET_IVA,0))


            FETCH NEXT FROM db_cursor_saldos_orden
            INTO @num_credito,@FEC_IMPAGO
        END 

        CLOSE db_cursor_saldos_orden
        DEALLOCATE db_cursor_saldos_orden

        --== Calculo de saldos en orden para otros rubros ===================================================================


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, 'MORATORIOS', SUM(C.SAL_RUBRO) as SALDO,0
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago I ON C.NUM_CREDITO = I.NUM_CREDITO AND C.FEC_EXIGIBLE_PAGO > I.FECHA_IMPAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL')
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, C.COD_RUBRO, SUM(C.SAL_RUBRO) as SALDO,SUM(C.SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago I ON C.NUM_CREDITO = I.NUM_CREDITO AND C.FEC_EXIGIBLE_PAGO > I.FECHA_IMPAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO NOT IN ('INTERESES','PRINCIPAL','MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL','SEGURO_VIDA','CARGO_PORCENTAJE')
            AND C.FEC_COBRO <= @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, 'SEGURO_VIDA' as RUBRO, SUM(C.SAL_RUBRO) as SALDO,SUM(C.SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago I ON C.NUM_CREDITO = I.NUM_CREDITO AND C.FEC_EXIGIBLE_PAGO > I.FECHA_IMPAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('SEGURO_VIDA','CARGO_PORCENTAJE')
            AND C.FEC_COBRO <= @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, 'INTERES_NO_EXIGIBLES' as RUBRO, SUM(C.MON_INT_ACUMULADO) as SALDO,CASE WHEN R.IND_IVA = 'N' THEN 0 ELSE SUM(C.MON_INT_ACUMULADO) * .16 end as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO R ON C.NUM_CREDITO = R.NUM_CREDITO and C.COD_RUBRO = R.COD_RUBRO inner join
            #impago I ON C.NUM_CREDITO = I.NUM_CREDITO AND C.FEC_EXIGIBLE_PAGO > I.FECHA_IMPAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('INTERESES')
            AND C.FEC_COBRO > @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO, R.IND_IVA


        --== Calculo de saldos COVID ===================================================================

        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'C',NUM_CREDITO, @FEC_HOY, 'MORATORIOS', SUM(SAL_RUBRO) as SALDO,0
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL')
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
            AND dbo.FN_ES_COVID(Ind_Posposicion, Fecha_Posposicion, NUM_CREDITO) = 'S'
        GROUP BY NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'C',NUM_CREDITO, @FEC_HOY, COD_RUBRO, SUM(SAL_RUBRO) as SALDO,SUM(SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO NOT IN ('MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL','SEGURO_VIDA','CARGO_PORCENTAJE')
            AND FEC_COBRO <= @FEC_HOY
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
            AND dbo.FN_ES_COVID(Ind_Posposicion, Fecha_Posposicion, NUM_CREDITO) = 'S'
        GROUP BY NUM_CREDITO, COD_RUBRO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'C',NUM_CREDITO, @FEC_HOY, 'SEGURO_VIDA' as RUBRO, SUM(SAL_RUBRO) as SALDO,SUM(SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('SEGURO_VIDA','CARGO_PORCENTAJE')
            AND FEC_COBRO <= @FEC_HOY
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
            AND dbo.FN_ES_COVID(Ind_Posposicion, Fecha_Posposicion, NUM_CREDITO) = 'S'
        GROUP BY NUM_CREDITO

		--== Calculo de saldos vigentes ===================================================================
		INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
		SELECT 'V',NUM_CREDITO, @FEC_HOY, COD_RUBRO AS RUBRO, SUM(MON_RUBRO) AS MONTO, SUM(MON_IVA) as SALDO_IVA
		FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
		WHERE COD_RUBRO IN ('PRINCIPAL', 'INTERESES')
			AND IND_ESTADO = 'P'
			AND FEC_COBRO >= Dateadd(day,1,@FEC_HOY)
			AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
		GROUP BY NUM_CREDITO, COD_RUBRO

        --========================================================================================================================================
        --== Calculo de saldos en orden, posteriores a castigo, para intereses ===================================================================

        select num_credito,KARDIA.dbo.FECHA_IMPAGO(NUM_CREDITO) as FEC_IMPAGO
            ,(SELECT FECHA FROM PO.FECHA_CASTIGO WHERE NUM_CREDITO = A.NUM_CREDITO) AS FEC_CASTIGO
        into #impago_castigo
        FROM Quiero_Confianza_shadow.PR.PR_CREDITOS A
        WHERE (A.FEC_CANCELACION IS NULL OR  A.FEC_CANCELACION <= @FEC_HOY)
            AND (A.NUM_DESC_TIPO_CREDITO IN (26)    -- castigo individual
                OR (A.NUM_DESC_TIPO_CREDITO IN (25,29) AND A.COD_ORIGEN NOT IN (22,23,28, 35))-- castigo comercial
            )

        delete from #impago_castigo where FEC_IMPAGO is null OR FEC_CASTIGO is null
        delete from #impago_castigo where FEC_IMPAGO > FEC_CASTIGO

		exec CursorCloseDeallocate 'db_cursor_saldos_orden_castigo'
        DECLARE db_cursor_saldos_orden_castigo CURSOR FOR

            SELECT num_credito,FEC_IMPAGO,FEC_CASTIGO
			from #impago_castigo

        OPEN db_cursor_saldos_orden_castigo
            FETCH NEXT FROM db_cursor_saldos_orden_castigo
            INTO @num_credito,@FEC_IMPAGO,@FEC_CASTIGO
        WHILE @@FETCH_STATUS = 0 BEGIN

            set @IND_IVA = null

            set @FEC_REF = null
            set @FEC_REF2 = null
            set @FEC_IMPAGO_1M = null
            set @SALDO = null
            set @SALDO_IVA = null
            set @SALDO_INI = null
            set @SALDO_INI_IVA = null
            set @OFFSET = null
            set @OFFSET_IVA = null
            set @OFFSET_INI = null
            set @OFFSET_INI_IVA = null

            set @FEC_CAS_REF = null
            set @FEC_CAS_REF2 = null
            set @FEC_CASTIGO_1M = null
            set @SALDO_CAS = null
            set @SALDO_CAS_IVA = null
            set @SALDO_CAS_INI = null
            set @SALDO_CAS_INI_IVA = null
            set @OFFSET_CAS = null
            set @OFFSET_CAS_IVA = null
            set @OFFSET_CAS_INI = null
            set @OFFSET_CAS_INI_IVA = null

            set @TOT_SAL_ORD = null
            set @TOT_SAL_ORD_IVA = null
            set @TOT_SAL_CAS = null
            set @TOT_SAL_CAS_IVA = null

            select @IND_IVA = IND_IVA
            FROM Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO B
            WHERE B.NUM_CREDITO = @num_credito and B.COD_RUBRO = 'INTERESES'

            set @FEC_IMPAGO_1M = DATEADD(MONTH, 1, @FEC_IMPAGO)
            set @FEC_CASTIGO_1M = DATEADD(month, 1, @FEC_CASTIGO)

            -- periodo orden
            SELECT @SALDO_INI = SUM(C.SAL_RUBRO), @SALDO_INI_IVA = SUM(C.SAL_IVA), @FEC_REF = MIN(FEC_EXIGIBLE_PAGO)
            FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C
            WHERE C.IND_ESTADO = 'P'
                AND C.COD_RUBRO IN ('INTERESES')
                AND C.NUM_CREDITO = @num_credito
                AND @FEC_IMPAGO <= C.FEC_COBRO AND C.FEC_COBRO < @FEC_IMPAGO_1M

            if not @FEC_REF is null and @FEC_IMPAGO < @FEC_REF begin

                select @OFFSET_INI = sum(MON_DIARIO), @OFFSET_INI_IVA = CASE WHEN @IND_IVA = 'N' THEN 0 ELSE SUM(MON_DIARIO) * .16 end
                from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA D
                where D.NUM_CREDITO = @num_credito
                    AND @FEC_IMPAGO <= fecha_calculo and fecha_calculo <= @FEC_REF

            end if @FEC_HOY < @FEC_REF begin

                select @OFFSET_INI = sum(MON_DIARIO), @OFFSET_INI_IVA = CASE WHEN @IND_IVA = 'N' THEN 0 ELSE SUM(MON_DIARIO) * .16 end
                from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA D
                where D.NUM_CREDITO = @num_credito
                    AND @FEC_IMPAGO <= fecha_calculo and fecha_calculo <= @FEC_HOY

            end

            SET @SALDO_INI = case when isnull(@OFFSET_INI,0) < isnull(@SALDO_INI,0) then isnull(@OFFSET_INI,0) else isnull(@SALDO_INI,0) end
            SET @SALDO_INI_IVA = case when isnull(@OFFSET_INI_IVA,0) < isnull(@SALDO_INI_IVA,0) then isnull(@OFFSET_INI_IVA,0) else isnull(@SALDO_INI_IVA,0) end

            SELECT @SALDO = SUM(C.SAL_RUBRO), @SALDO_IVA = SUM(C.SAL_IVA), @FEC_REF2 = MAX(FEC_EXIGIBLE_PAGO)
            FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C
            WHERE C.IND_ESTADO = 'P'
                AND C.COD_RUBRO IN ('INTERESES')
                AND C.NUM_CREDITO = @num_credito
                AND @FEC_IMPAGO_1M <= C.FEC_COBRO AND C.FEC_COBRO < @FEC_CASTIGO

            /*if @FEC_REF is null and @FEC_REF2 is null begin
                set @FEC_REF2 = isnull(@FEC_REF,@FEC_IMPAGO)
            end else begin
                set @FEC_REF2 = case when @FEC_REF > @FEC_REF2 then @FEC_REF else @FEC_REF2 end
            end

            select @OFFSET = sum(MON_DIARIO), @OFFSET_IVA = CASE WHEN @IND_IVA = 'N' THEN 0 ELSE SUM(MON_DIARIO) * .16 end
            from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA D
            where D.NUM_CREDITO = @num_credito
                AND @FEC_REF2 <= fecha_calculo and fecha_calculo <= @FEC_CASTIGO*/


            -- periodo castigo
            SELECT @SALDO_CAS_INI = SUM(C.SAL_RUBRO), @SALDO_CAS_INI_IVA = SUM(C.SAL_IVA), @FEC_CAS_REF = MIN(FEC_EXIGIBLE_PAGO)
            FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C
            WHERE C.IND_ESTADO = 'P'
                AND C.COD_RUBRO IN ('INTERESES')
                AND C.NUM_CREDITO = @num_credito
                AND @FEC_CASTIGO <= C.FEC_COBRO AND C.FEC_COBRO < @FEC_CASTIGO_1M

            if not @FEC_REF is null and @FEC_CASTIGO < @FEC_CAS_REF begin

                select @OFFSET_CAS_INI = sum(MON_DIARIO), @OFFSET_CAS_INI_IVA = CASE WHEN @IND_IVA = 'N' THEN 0 ELSE SUM(MON_DIARIO) * .16 end
                from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA D
                where D.NUM_CREDITO = @num_credito
                    AND @FEC_CASTIGO <= fecha_calculo and fecha_calculo <= @FEC_CAS_REF

            end if @FEC_HOY < @FEC_CASTIGO begin

                select @OFFSET_CAS_INI = sum(MON_DIARIO), @OFFSET_CAS_INI_IVA = CASE WHEN @IND_IVA = 'N' THEN 0 ELSE SUM(MON_DIARIO) * .16 end
                from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA D
                where D.NUM_CREDITO = @num_credito
                    AND @FEC_CASTIGO <= fecha_calculo and fecha_calculo <= @FEC_HOY

            end

            SET @OFFSET = case when isnull(@SALDO_CAS_INI,0) <= isnull(@OFFSET_CAS_INI,0) then 0 else isnull(@SALDO_CAS_INI,0) - isnull(@OFFSET_CAS_INI,0) end
            SET @OFFSET_IVA = case when isnull(@SALDO_CAS_INI_IVA,0) <= isnull(@OFFSET_CAS_INI_IVA,0) then 0 else isnull(@SALDO_CAS_INI_IVA,0) - isnull(@OFFSET_CAS_INI_IVA,0) end
            SET @SALDO_CAS_INI = case when isnull(@OFFSET_CAS_INI,0) < isnull(@SALDO_CAS_INI,0) then isnull(@OFFSET_CAS_INI,0) else isnull(@SALDO_CAS_INI,0) end
            SET @SALDO_CAS_INI_IVA = case when isnull(@OFFSET_CAS_INI_IVA,0) < isnull(@SALDO_CAS_INI_IVA,0) then isnull(@OFFSET_CAS_INI_IVA,0) else isnull(@SALDO_CAS_INI_IVA,0) end
            
            SELECT @SALDO_CAS = SUM(C.SAL_RUBRO), @SALDO_CAS_IVA = SUM(C.SAL_IVA), @FEC_CAS_REF2 = MAX(FEC_EXIGIBLE_PAGO)
            FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C
            WHERE C.IND_ESTADO = 'P'
                AND C.COD_RUBRO IN ('INTERESES')
                AND C.NUM_CREDITO = @num_credito
                AND @FEC_CASTIGO_1M <= C.FEC_COBRO AND C.FEC_COBRO < @FEC_HOY

            SELECT @OFFSET_CAS = sum(MON_INT_ACUMULADO), @OFFSET_CAS_IVA = CASE WHEN 'S' = 'N' THEN 0 ELSE SUM(MON_INT_ACUMULADO) * .16 end
            FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
            WHERE IND_ESTADO = 'P'
                AND COD_RUBRO IN ('INTERESES')
                AND NUM_CREDITO = @num_credito
                AND @FEC_HOY <= FEC_COBRO AND FEC_COBRO <= DATEADD(MONTH, 1, @FEC_HOY)

            SET @TOT_SAL_ORD = isnull(@SALDO_INI,0) + isnull(@SALDO,0) + isnull(@OFFSET,0)
            SET @TOT_SAL_ORD_IVA = isnull(@SALDO_INI_IVA,0) + isnull(@SALDO_IVA,0) + isnull(@OFFSET_IVA,0)
            SET @TOT_SAL_CAS = isnull(@SALDO_CAS_INI,0) + isnull(@SALDO_CAS,0) + isnull(@OFFSET_CAS,0)
            SET @TOT_SAL_CAS_IVA = isnull(@SALDO_CAS_INI_IVA,0) + isnull(@SALDO_CAS_IVA,0) + isnull(@OFFSET_CAS_IVA,0)
            
            -- registro de saldos
            INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
            VALUES('O',@num_credito, @FEC_HOY, 'INTERESES', @TOT_SAL_ORD , @TOT_SAL_ORD_IVA)

            INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
            VALUES('K',@num_credito, @FEC_HOY, 'INTERESES', @TOT_SAL_CAS , @TOT_SAL_CAS_IVA)

            FETCH NEXT FROM db_cursor_saldos_orden_castigo
            INTO @num_credito,@FEC_IMPAGO,@FEC_CASTIGO
        END 

        CLOSE db_cursor_saldos_orden_castigo
        DEALLOCATE db_cursor_saldos_orden_castigo

        --== Calculo de saldos en orden, para posteriores a castigo de otros rubros ===================================================================


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, 'MORATORIOS', SUM(C.SAL_RUBRO) as SALDO,0
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago_castigo I ON C.NUM_CREDITO = I.NUM_CREDITO AND I.FEC_IMPAGO < C.FEC_EXIGIBLE_PAGO AND C.FEC_EXIGIBLE_PAGO < I.FEC_CASTIGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL')
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, C.COD_RUBRO, SUM(C.SAL_RUBRO) as SALDO,SUM(C.SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago_castigo I ON C.NUM_CREDITO = I.NUM_CREDITO AND I.FEC_IMPAGO < C.FEC_EXIGIBLE_PAGO AND C.FEC_EXIGIBLE_PAGO < I.FEC_CASTIGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO NOT IN ('INTERESES','PRINCIPAL','MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL','SEGURO_VIDA','CARGO_PORCENTAJE')
            AND C.FEC_COBRO <= @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, 'SEGURO_VIDA' as RUBRO, SUM(C.SAL_RUBRO) as SALDO,SUM(C.SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago_castigo I ON C.NUM_CREDITO = I.NUM_CREDITO AND I.FEC_IMPAGO < C.FEC_EXIGIBLE_PAGO AND C.FEC_EXIGIBLE_PAGO < I.FEC_CASTIGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('SEGURO_VIDA','CARGO_PORCENTAJE')
            AND C.FEC_COBRO <= @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, 'INTERES_NO_EXIGIBLES' as RUBRO, SUM(C.MON_INT_ACUMULADO) as SALDO,CASE WHEN R.IND_IVA = 'N' THEN 0 ELSE SUM(C.MON_INT_ACUMULADO) * .16 end as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO R ON C.NUM_CREDITO = R.NUM_CREDITO and C.COD_RUBRO = R.COD_RUBRO inner join
            #impago_castigo I ON C.NUM_CREDITO = I.NUM_CREDITO AND I.FEC_IMPAGO < C.FEC_EXIGIBLE_PAGO AND C.FEC_EXIGIBLE_PAGO < I.FEC_CASTIGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('INTERESES')
            AND C.FEC_COBRO > @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO, R.IND_IVA

        --== Calculo de saldos posteriores a castigo para otros rubros ===================================================================


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'K',C.NUM_CREDITO, @FEC_HOY, 'MORATORIOS', SUM(C.SAL_RUBRO) as SALDO,0
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago_castigo I ON C.NUM_CREDITO = I.NUM_CREDITO AND I.FEC_CASTIGO < C.FEC_EXIGIBLE_PAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL')
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'K',C.NUM_CREDITO, @FEC_HOY, C.COD_RUBRO, SUM(C.SAL_RUBRO) as SALDO,SUM(C.SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago_castigo I ON C.NUM_CREDITO = I.NUM_CREDITO AND I.FEC_CASTIGO < C.FEC_EXIGIBLE_PAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO NOT IN ('INTERESES','PRINCIPAL','MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL','SEGURO_VIDA','CARGO_PORCENTAJE')
            AND C.FEC_COBRO <= @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'K',C.NUM_CREDITO, @FEC_HOY, 'SEGURO_VIDA' as RUBRO, SUM(C.SAL_RUBRO) as SALDO,SUM(C.SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago_castigo I ON C.NUM_CREDITO = I.NUM_CREDITO AND I.FEC_CASTIGO < C.FEC_EXIGIBLE_PAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('SEGURO_VIDA','CARGO_PORCENTAJE')
            AND C.FEC_COBRO <= @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO


        /*INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'K',C.NUM_CREDITO, @FEC_HOY, 'INTERES_NO_EXIGIBLES' as RUBRO, SUM(C.MON_INT_ACUMULADO) as SALDO,CASE WHEN R.IND_IVA = 'N' THEN 0 ELSE SUM(C.MON_INT_ACUMULADO) * .16 end as SALDO_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO R ON C.NUM_CREDITO = R.NUM_CREDITO and C.COD_RUBRO = R.COD_RUBRO inner join
            #impago_castigo I ON C.NUM_CREDITO = I.NUM_CREDITO AND I.FEC_CASTIGO < C.FEC_EXIGIBLE_PAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('INTERESES')
            AND C.FEC_COBRO > @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO, R.IND_IVA*/

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FEC_HOY      , 0        , 'SP_SAF_CIERRE_SALDOS Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
