SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[NOTIF_REGLA](
	[Id] [uniqueidentifier] NOT NULL,
	[producto] [nvarchar](50) NOT NULL,
	[disparador] [nvarchar](100) NOT NULL,
	[condicion_dias] [int] NULL,
	[frecuencia] [nvarchar](30) NOT NULL,
	[destinatarios_mask] [nvarchar](200) NULL,
	[emails_adicionales] [nvarchar](max) NULL,
	[activa] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[creada_por] [nvarchar](256) NULL,
	[nombre_regla] [nvarchar](200) NULL,
	[plantilla_asunto] [nvarchar](500) NULL,
	[plantilla_body] [nvarchar](max) NULL,
 CONSTRAINT [PK_NOTIF_REGLA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[NOTIF_REGLA] ADD  DEFAULT (CONVERT([bit],(1))) FOR [activa]
GO
