SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20260106
-- Descripcion:	Genera los saldos diario de la parte ION Sindicada
--              S: Parte ION sindicado normal  R: Parte ION sindicado orden  V: Parte ION sindicado covid
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_SAF_SALDOS_SND]
     @ID_DEVENGO_ENC UNIQUEIDENTIFIER
    ,@ID_CAPITAL_ENC UNIQUEIDENTIFIER
    ,@ID_COBRANZA_ENC UNIQUEIDENTIFIER
    ,@ID_MINISTRACIONES_ENC UNIQUEIDENTIFIER
	,@FECHA_INICIO DATE
    ,@FECHA_FIN_DIA DATE
AS
BEGIN
	SET NOCOUNT ON;
    DECLARE @FECHA_DIA DATE
        ,@FECHA_DIA_ANT DATE

    
    SET @FECHA_DIA = @FECHA_INICIO
    SET @FECHA_DIA_ANT = DATEADD(day, -1, @FECHA_INICIO)


    WHILE @FECHA_DIA <= @FECHA_FIN_DIA BEGIN

        SELECT C.ID_EXTERNO,MIN(C.NUM_CREDITO) AS NUM_CREDITO
        INTO #ACTIVOS
        FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C
            INNER JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_DIA
        WHERE CH.NUM_DESC_TIPO_CREDITO IN (7)
        GROUP BY C.ID_EXTERNO

        DELETE FROM CIERRE.SAF_SALDOS WHERE FECHA_SISTEMA = @FECHA_DIA AND TIPO IN ('S','V','R')

        -- PRINCIPAL =======================================================================================================================

        SELECT A.NUM_CREDITO,A.ID_EXTERNO
			,SUM(M.IMPORTE) AS IMPORTE
        INTO #MINISTRACIONES
		FROM #ACTIVOS A
			INNER JOIN [PO].[PR_MINISTRACIONES_DET] M WITH (NOLOCK) ON M.ID_EXTERNO = A.ID_EXTERNO
        WHERE M.FECHA_ACTINVER = @FECHA_DIA
            AND M.ID_MINISTRACIONES_ENC = @ID_MINISTRACIONES_ENC
        GROUP BY A.NUM_CREDITO,A.ID_EXTERNO


        SELECT MIN(C.NUM_CREDITO) AS NUM_CREDITO,SUM(SALDO) AS SALDO
        INTO #PRIN_SAL_NORMAL
        FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C
            LEFT JOIN CIERRE.SAF_SALDOS S ON C.NUM_CREDITO = S.NUM_CREDITO
        WHERE S.RUBRO = 'PRINCIPAL' AND S.FECHA_SISTEMA = @FECHA_DIA_ANT AND S.TIPO = 'N'
            AND C.ID_EXTERNO IN (SELECT ID_EXTERNO FROM #MINISTRACIONES)
            AND C.NUM_CREDITO NOT IN (SELECT NUM_CREDITO FROM CIERRE.SAF_SALDOS WHERE S.RUBRO = 'PRINCIPAL' AND S.TIPO = 'S')
        GROUP BY C.ID_EXTERNO


        SELECT A.NUM_CREDITO,0 AS IMPORTE
        INTO #PRIN_DEV
        FROM PO.PR_DEVENGO_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.FONDEADOR = 'ION'
            AND D.FECHA_CALCULO = @FECHA_DIA
            AND D.ID_DEVENGO_ENC = @ID_DEVENGO_ENC
        GROUP BY A.NUM_CREDITO


        SELECT A.NUM_CREDITO, SUM(D.PRINCIPAL) AS IMPORTE
        INTO #PRIN_COB
        FROM PO.PR_COBRANZA_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.CARTERA = 'ION'
            AND D.ID_COBRANZA_ENC = @ID_COBRANZA_ENC
            AND D.FEC_APLICACION = @FECHA_DIA
        GROUP BY A.NUM_CREDITO


        INSERT INTO CIERRE.SAF_SALDOS([ID],[FECHA_SISTEMA],[NUM_CREDITO],[TIPO],[RUBRO],[FECHA_GENERACION],[SALDO],[SALDO_IVA])
        SELECT newid(),@FECHA_DIA, A.NUM_CREDITO ,'S', 'PRINCIPAL', getdate()
            ,(ISNULL(N.SALDO,0) - ISNULL(M.IMPORTE,0)) + ISNULL(S.SALDO,0) + ISNULL(D.IMPORTE,0) - ISNULL(C.IMPORTE,0)
            ,0 AS SALDO_IVA
        FROM #ACTIVOS A
            LEFT JOIN CIERRE.SAF_SALDOS S ON A.NUM_CREDITO = S.NUM_CREDITO AND S.RUBRO = 'PRINCIPAL' AND S.FECHA_SISTEMA = @FECHA_DIA_ANT AND S.TIPO = 'S'
            LEFT JOIN #PRIN_DEV D ON A.NUM_CREDITO = D.NUM_CREDITO
            LEFT JOIN #PRIN_COB C ON A.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #MINISTRACIONES M ON A.NUM_CREDITO = M.NUM_CREDITO
            LEFT JOIN #PRIN_SAL_NORMAL N ON A.NUM_CREDITO = N.NUM_CREDITO


        DROP TABLE #PRIN_DEV
        DROP TABLE #PRIN_COB
        DROP TABLE #MINISTRACIONES
        DROP TABLE #PRIN_SAL_NORMAL

        -- PRINCIPAL COVID =======================================================================================================================

        SELECT A.NUM_CREDITO,0 AS IMPORTE
        INTO #PRIN_DEV_COV
        FROM PO.PR_DEVENGO_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.FONDEADOR = 'ION'
            AND D.FECHA_CALCULO = @FECHA_DIA
            AND D.ID_DEVENGO_ENC = @ID_DEVENGO_ENC
            AND D.PROGRAMA_COVID_19 = 'SI'
        GROUP BY A.NUM_CREDITO


        SELECT A.NUM_CREDITO, SUM(D.PRINCIPAL) AS IMPORTE
        INTO #PRIN_COB_COV
        FROM PO.PR_COBRANZA_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.CARTERA = 'ION'
            AND D.ID_COBRANZA_ENC = @ID_COBRANZA_ENC
            AND D.FEC_APLICACION = @FECHA_DIA
            AND D.COVID = 'SI'
        GROUP BY A.NUM_CREDITO


        INSERT INTO CIERRE.SAF_SALDOS([ID],[FECHA_SISTEMA],[NUM_CREDITO],[TIPO],[RUBRO],[FECHA_GENERACION],[SALDO],[SALDO_IVA])
        SELECT newid(),@FECHA_DIA, A.NUM_CREDITO ,'V', 'PRINCIPAL', getdate()
            ,ISNULL(S.SALDO,0) + ISNULL(D.IMPORTE,0) - ISNULL(C.IMPORTE,0)
            ,0 AS SALDO_IVA
        FROM #ACTIVOS A
            LEFT JOIN CIERRE.SAF_SALDOS S ON A.NUM_CREDITO = S.NUM_CREDITO AND S.RUBRO = 'PRINCIPAL' AND S.FECHA_SISTEMA = @FECHA_DIA_ANT AND S.TIPO = 'V'
            LEFT JOIN #PRIN_DEV_COV D ON A.NUM_CREDITO = D.NUM_CREDITO
            LEFT JOIN #PRIN_COB_COV C ON A.NUM_CREDITO = C.NUM_CREDITO


        DROP TABLE #PRIN_DEV_COV
        DROP TABLE #PRIN_COB_COV


        -- INTERESES =======================================================================================================================

        SELECT A.NUM_CREDITO,SUM(IMPORTE) AS IMPORTE,SUM(INTERES_IVA) AS IMPORTE_IVA
        INTO #INT_DEV
        FROM PO.PR_DEVENGO_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.FONDEADOR = 'ION'
            AND D.FECHA_CALCULO = @FECHA_DIA
            AND D.ID_DEVENGO_ENC = @ID_DEVENGO_ENC
        GROUP BY A.NUM_CREDITO


        SELECT A.NUM_CREDITO, SUM(D.INTERESES) AS IMPORTE, SUM(D.INTERESES_IVA) AS IMPORTE_IVA
        INTO #INT_COB
        FROM PO.PR_COBRANZA_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.CARTERA = 'ION'
            AND D.ID_COBRANZA_ENC = @ID_COBRANZA_ENC
            AND D.FEC_APLICACION = @FECHA_DIA
        GROUP BY A.NUM_CREDITO


        INSERT INTO CIERRE.SAF_SALDOS([ID],[FECHA_SISTEMA],[NUM_CREDITO],[TIPO],[RUBRO],[FECHA_GENERACION],[SALDO],[SALDO_IVA])
        SELECT newid(),@FECHA_DIA, A.NUM_CREDITO ,'S', 'INTERESES', getdate()
            ,ISNULL(S.SALDO,0)+ISNULL(D.IMPORTE,0)-ISNULL(C.IMPORTE,0)
            ,ISNULL(S.SALDO_IVA,0)+ISNULL(D.IMPORTE_IVA,0)-ISNULL(C.IMPORTE_IVA,0)
        FROM #ACTIVOS A
            LEFT JOIN CIERRE.SAF_SALDOS S ON A.NUM_CREDITO = S.NUM_CREDITO AND S.RUBRO = 'INTERESES' AND S.FECHA_SISTEMA = @FECHA_DIA_ANT AND S.TIPO = 'S'
            LEFT JOIN #INT_DEV D ON A.NUM_CREDITO = D.NUM_CREDITO
            LEFT JOIN #INT_COB C ON A.NUM_CREDITO = C.NUM_CREDITO


        DROP TABLE #INT_DEV
        DROP TABLE #INT_COB

        -- INTERESES ORDEN =======================================================================================================================

        SELECT A.NUM_CREDITO,SUM(IMPORTE) AS IMPORTE,SUM(INTERES_IVA) AS IMPORTE_IVA
        INTO #INT_DEV_ORD
        FROM PO.PR_DEVENGO_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.FONDEADOR = 'ION'
            AND D.FECHA_CALCULO = @FECHA_DIA
            AND D.ID_DEVENGO_ENC = @ID_DEVENGO_ENC
            AND D.ETAPA = '3'
        GROUP BY A.NUM_CREDITO


        SELECT A.NUM_CREDITO, SUM(D.INTERESES) AS IMPORTE, SUM(D.INTERESES_IVA) AS IMPORTE_IVA
        INTO #INT_COB_ORD
        FROM PO.PR_COBRANZA_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.CARTERA = 'ION'
            AND D.ID_COBRANZA_ENC = @ID_COBRANZA_ENC
            AND D.FEC_APLICACION = @FECHA_DIA
            AND D.ETAPA = '3'
        GROUP BY A.NUM_CREDITO


        INSERT INTO CIERRE.SAF_SALDOS([ID],[FECHA_SISTEMA],[NUM_CREDITO],[TIPO],[RUBRO],[FECHA_GENERACION],[SALDO],[SALDO_IVA])
        SELECT newid(),@FECHA_DIA, A.NUM_CREDITO ,'R', 'INTERESES', getdate()
            ,ISNULL(S.SALDO,0)+ISNULL(D.IMPORTE,0)-ISNULL(C.IMPORTE,0)
            ,ISNULL(S.SALDO_IVA,0)+ISNULL(D.IMPORTE_IVA,0)-ISNULL(C.IMPORTE_IVA,0)
        FROM #ACTIVOS A
            LEFT JOIN CIERRE.SAF_SALDOS S ON A.NUM_CREDITO = S.NUM_CREDITO AND S.RUBRO = 'INTERESES' AND S.FECHA_SISTEMA = @FECHA_DIA_ANT AND S.TIPO = 'R'
            LEFT JOIN #INT_DEV_ORD D ON A.NUM_CREDITO = D.NUM_CREDITO
            LEFT JOIN #INT_COB_ORD C ON A.NUM_CREDITO = C.NUM_CREDITO


        DROP TABLE #INT_DEV_ORD
        DROP TABLE #INT_COB_ORD


        -- INTERESES COVID =======================================================================================================================

        SELECT A.NUM_CREDITO,SUM(IMPORTE) AS IMPORTE,SUM(INTERES_IVA) AS IMPORTE_IVA
        INTO #INT_DEV_COV
        FROM PO.PR_DEVENGO_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.FONDEADOR = 'ION'
            AND D.FECHA_CALCULO = @FECHA_DIA
            AND D.ID_DEVENGO_ENC = @ID_DEVENGO_ENC
            AND D.PROGRAMA_COVID_19 = 'SI'
        GROUP BY A.NUM_CREDITO


        SELECT A.NUM_CREDITO, SUM(D.INTERESES) AS IMPORTE, SUM(D.INTERESES_IVA) AS IMPORTE_IVA
        INTO #INT_COB_COV
        FROM PO.PR_COBRANZA_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.CARTERA = 'ION'
            AND D.ID_COBRANZA_ENC = @ID_COBRANZA_ENC
            AND D.FEC_APLICACION = @FECHA_DIA
            AND D.COVID = 'SI'
        GROUP BY A.NUM_CREDITO


        INSERT INTO CIERRE.SAF_SALDOS([ID],[FECHA_SISTEMA],[NUM_CREDITO],[TIPO],[RUBRO],[FECHA_GENERACION],[SALDO],[SALDO_IVA])
        SELECT newid(),@FECHA_DIA, A.NUM_CREDITO ,'V', 'INTERESES', getdate()
            ,ISNULL(S.SALDO,0)+ISNULL(D.IMPORTE,0)-ISNULL(C.IMPORTE,0)
            ,ISNULL(S.SALDO_IVA,0)+ISNULL(D.IMPORTE_IVA,0)-ISNULL(C.IMPORTE_IVA,0)
        FROM #ACTIVOS A
            LEFT JOIN CIERRE.SAF_SALDOS S ON A.NUM_CREDITO = S.NUM_CREDITO AND S.RUBRO = 'INTERESES' AND S.FECHA_SISTEMA = @FECHA_DIA_ANT AND S.TIPO = 'V'
            LEFT JOIN #INT_DEV_COV D ON A.NUM_CREDITO = D.NUM_CREDITO
            LEFT JOIN #INT_COB_COV C ON A.NUM_CREDITO = C.NUM_CREDITO


        DROP TABLE #INT_DEV_COV
        DROP TABLE #INT_COB_COV

        -- MORATORIOS =======================================================================================================================

        SELECT A.NUM_CREDITO,SUM(INTERESES_MORATORIOS) AS IMPORTE
        INTO #MORA_DEV
        FROM PO.PR_DEVENGO_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.FONDEADOR = 'ION'
            AND D.FECHA_CALCULO = @FECHA_DIA
            AND D.ID_DEVENGO_ENC = @ID_DEVENGO_ENC
        GROUP BY A.NUM_CREDITO


        SELECT A.NUM_CREDITO, SUM(D.MORATORIOS) AS IMPORTE
        INTO #MORA_COB
        FROM PO.PR_COBRANZA_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.CARTERA = 'ION'
            AND D.ID_COBRANZA_ENC = @ID_COBRANZA_ENC
            AND D.FEC_APLICACION = @FECHA_DIA
        GROUP BY A.NUM_CREDITO


        INSERT INTO CIERRE.SAF_SALDOS([ID],[FECHA_SISTEMA],[NUM_CREDITO],[TIPO],[RUBRO],[FECHA_GENERACION],[SALDO],[SALDO_IVA])
        SELECT newid(),@FECHA_DIA, A.NUM_CREDITO ,'S', 'MORATORIOS', getdate()
            ,ISNULL(S.SALDO,0)+ISNULL(D.IMPORTE,0)-ISNULL(C.IMPORTE,0)
            ,0 AS SALDO_IVA
        FROM #ACTIVOS A
            LEFT JOIN CIERRE.SAF_SALDOS S ON A.NUM_CREDITO = S.NUM_CREDITO AND S.RUBRO = 'MORATORIOS' AND S.FECHA_SISTEMA = @FECHA_DIA_ANT AND S.TIPO = 'S'
            LEFT JOIN #MORA_DEV D ON A.NUM_CREDITO = D.NUM_CREDITO
            LEFT JOIN #MORA_COB C ON A.NUM_CREDITO = C.NUM_CREDITO


        DROP TABLE #MORA_DEV
        DROP TABLE #MORA_COB

        -- MORATORIOS ORDEN =======================================================================================================================

        SELECT A.NUM_CREDITO,SUM(INTERESES_MORATORIOS) AS IMPORTE
        INTO #MORA_DEV_ORD
        FROM PO.PR_DEVENGO_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.FONDEADOR = 'ION'
            AND D.FECHA_CALCULO = @FECHA_DIA
            AND D.ID_DEVENGO_ENC = @ID_DEVENGO_ENC
            AND D.ETAPA = '3'
        GROUP BY A.NUM_CREDITO


        SELECT A.NUM_CREDITO, SUM(D.MORATORIOS) AS IMPORTE
        INTO #MORA_COB_ORD
        FROM PO.PR_COBRANZA_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.CARTERA = 'ION'
            AND D.ID_COBRANZA_ENC = @ID_COBRANZA_ENC
            AND D.FEC_APLICACION = @FECHA_DIA
            AND D.ETAPA = '3'
        GROUP BY A.NUM_CREDITO


        INSERT INTO CIERRE.SAF_SALDOS([ID],[FECHA_SISTEMA],[NUM_CREDITO],[TIPO],[RUBRO],[FECHA_GENERACION],[SALDO],[SALDO_IVA])
        SELECT newid(),@FECHA_DIA, A.NUM_CREDITO ,'R', 'MORATORIOS', getdate()
            ,ISNULL(S.SALDO,0)+ISNULL(D.IMPORTE,0)-ISNULL(C.IMPORTE,0)
            ,0 AS SALDO_IVA
        FROM #ACTIVOS A
            LEFT JOIN CIERRE.SAF_SALDOS S ON A.NUM_CREDITO = S.NUM_CREDITO AND S.RUBRO = 'MORATORIOS' AND S.FECHA_SISTEMA = @FECHA_DIA_ANT AND S.TIPO = 'R'
            LEFT JOIN #MORA_DEV_ORD D ON A.NUM_CREDITO = D.NUM_CREDITO
            LEFT JOIN #MORA_COB_ORD C ON A.NUM_CREDITO = C.NUM_CREDITO


        DROP TABLE #MORA_DEV_ORD
        DROP TABLE #MORA_COB_ORD

        -- MORATORIOS COVID =======================================================================================================================

        SELECT A.NUM_CREDITO,SUM(INTERESES_MORATORIOS) AS IMPORTE
        INTO #MORA_DEV_COV
        FROM PO.PR_DEVENGO_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.FONDEADOR = 'ION'
            AND D.FECHA_CALCULO = @FECHA_DIA
            AND D.ID_DEVENGO_ENC = @ID_DEVENGO_ENC
            AND D.PROGRAMA_COVID_19 = 'SI'
        GROUP BY A.NUM_CREDITO


        SELECT A.NUM_CREDITO, SUM(D.MORATORIOS) AS IMPORTE
        INTO #MORA_COB_COV
        FROM PO.PR_COBRANZA_DET D
            INNER JOIN #ACTIVOS A ON D.ID_EXTERNO = A.ID_EXTERNO
		WHERE D.CARTERA = 'ION'
            AND D.ID_COBRANZA_ENC = @ID_COBRANZA_ENC
            AND D.FEC_APLICACION = @FECHA_DIA
            AND D.COVID = 'SI'
        GROUP BY A.NUM_CREDITO


        INSERT INTO CIERRE.SAF_SALDOS([ID],[FECHA_SISTEMA],[NUM_CREDITO],[TIPO],[RUBRO],[FECHA_GENERACION],[SALDO],[SALDO_IVA])
        SELECT newid(),@FECHA_DIA, A.NUM_CREDITO ,'V', 'MORATORIOS', getdate()
            ,ISNULL(S.SALDO,0)+ISNULL(D.IMPORTE,0)-ISNULL(C.IMPORTE,0)
            ,0 AS SALDO_IVA
        FROM #ACTIVOS A
            LEFT JOIN CIERRE.SAF_SALDOS S ON A.NUM_CREDITO = S.NUM_CREDITO AND S.RUBRO = 'MORATORIOS' AND S.FECHA_SISTEMA = @FECHA_DIA_ANT AND S.TIPO = 'V'
            LEFT JOIN #MORA_DEV_COV D ON A.NUM_CREDITO = D.NUM_CREDITO
            LEFT JOIN #MORA_COB_COV C ON A.NUM_CREDITO = C.NUM_CREDITO


        DROP TABLE #MORA_DEV_COV
        DROP TABLE #MORA_COB_COV

        -- =======================================================================================================================

        DROP TABLE #ACTIVOS

        DELETE FROM CIERRE.SAF_SALDOS WHERE FECHA_SISTEMA = @FECHA_DIA AND TIPO = 'S' AND SALDO = 0 AND SALDO_IVA = 0

        SET @FECHA_DIA_ANT = @FECHA_DIA
        SET @FECHA_DIA = DATEADD(day, 1, @FECHA_DIA)

    END
END
GO
