SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_DOC_DUPLICADOS_20260902](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[nombre_archivo] [nvarchar](400) NOT NULL,
	[ruta_relativa] [nvarchar](1000) NULL,
	[fecha_modificado] [datetime2](7) NULL,
	[tamano_bytes] [bigint] NULL,
	[area_clasificada] [nvarchar](50) NULL,
	[item_clasificado] [nvarchar](300) NULL,
	[fecha_deteccion] [datetime2](7) NOT NULL,
	[url_documento] [nvarchar](max) NULL,
	[area_auto] [nvarchar](50) NULL,
	[fecha_carga] [datetime2](7) NULL,
	[fecha_ultimo_cambio_clasificacion] [datetime2](7) NULL,
	[is_clasificacion_manual] [bit] NOT NULL,
	[item_auto] [nvarchar](300) NULL,
	[origen_ultimo_cambio_clasificacion] [nvarchar](20) NULL,
	[sharepoint_item_id] [nvarchar](300) NULL,
	[usuario_carga] [nvarchar](256) NULL,
	[usuario_ultimo_cambio_clasificacion] [nvarchar](256) NULL,
	[is_vigente] [bit] NOT NULL,
	[comentario_revision] [nvarchar](max) NULL,
	[estado_revision] [nvarchar](20) NOT NULL,
	[fecha_revision] [datetime2](7) NULL,
	[revisado_por] [nvarchar](256) NULL,
	[comentario_interno] [nvarchar](500) NULL,
	[etiqueta_sp_area] [nvarchar](100) NULL,
	[etiqueta_sp_item] [nvarchar](500) NULL,
	[fecha_vigencia] [date] NULL,
	[clasificaciones_adicionales] [nvarchar](1000) NULL,
	[sp_autor] [nvarchar](200) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
