SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[ETIQUETA_SP_ALIAS](
	[Id] [uniqueidentifier] NOT NULL,
	[producto] [nvarchar](30) NOT NULL,
	[area] [nvarchar](50) NOT NULL,
	[etiqueta_sp] [nvarchar](200) NOT NULL,
	[item] [nvarchar](300) NOT NULL,
	[activo] [bit] NOT NULL,
	[creado_por] [nvarchar](200) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[area_destino] [nvarchar](50) NULL,
 CONSTRAINT [PK_ETIQUETA_SP_ALIAS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[ETIQUETA_SP_ALIAS] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[ETIQUETA_SP_ALIAS] ADD  CONSTRAINT [DF_ETQALIAS_PROD]  DEFAULT (N'EMPRESARIAL') FOR [producto]
GO
ALTER TABLE [cierre_puente].[ETIQUETA_SP_ALIAS] ADD  CONSTRAINT [DF_ETQALIAS_ACT]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [cierre_puente].[ETIQUETA_SP_ALIAS] ADD  CONSTRAINT [DF_ETQALIAS_FC]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
