SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_DOC_PLANOS_20260816](
	[Id] [uniqueidentifier] NOT NULL,
	[area_auto] [nvarchar](50) NULL,
	[item_auto] [nvarchar](300) NULL
) ON [PRIMARY]
GO
