SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[EXPEDIENTE_CLIENTES](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[aspnet_user_id] [nvarchar](450) NOT NULL,
	[email] [nvarchar](256) NOT NULL,
	[nombre] [nvarchar](200) NULL,
	[fecha_alta] [datetime2](7) NOT NULL,
	[creado_por] [nvarchar](256) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_revocacion] [datetime2](7) NULL,
	[revocado_por] [nvarchar](256) NULL,
	[fecha_activacion] [datetime2](7) NULL,
 CONSTRAINT [PK_EXPEDIENTE_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[EXPEDIENTE_CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_EXPEDIENTE_CLIENTES_CREDITOS_PUENTE_credito_puente_id] FOREIGN KEY([credito_puente_id])
REFERENCES [cierre_puente].[CREDITOS_PUENTE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[EXPEDIENTE_CLIENTES] CHECK CONSTRAINT [FK_EXPEDIENTE_CLIENTES_CREDITOS_PUENTE_credito_puente_id]
GO
