SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CHECKLIST_RENGLON_ALIAS](
	[Id] [uniqueidentifier] NOT NULL,
	[producto] [nvarchar](30) NOT NULL,
	[checklist_grupo_id] [uniqueidentifier] NOT NULL,
	[numero_renglon] [int] NULL,
	[texto_contiene] [nvarchar](200) NULL,
	[area] [nvarchar](120) NOT NULL,
	[item] [nvarchar](300) NOT NULL,
	[activo] [bit] NOT NULL,
	[notas] [nvarchar](300) NULL,
 CONSTRAINT [PK_CHECKLIST_RENGLON_ALIAS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_RENGLON_ALIAS] ADD  CONSTRAINT [DF_CHK_RENGLON_ALIAS_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_RENGLON_ALIAS] ADD  CONSTRAINT [DF_CHK_RENGLON_ALIAS_Activo]  DEFAULT ((1)) FOR [activo]
GO
