SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierres].[MORA_MENSUAL](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ArchivoId] [uniqueidentifier] NOT NULL,
	[NucCredito] [nvarchar](50) NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Exigible] [decimal](18, 6) NOT NULL,
	[Devengados] [decimal](18, 6) NOT NULL,
	[Destino] [nvarchar](20) NULL,
 CONSTRAINT [PK_cierres_MORA_MENSUAL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierres].[MORA_MENSUAL] ADD  CONSTRAINT [DF_MORA_MENSUAL_Exigible]  DEFAULT ((0)) FOR [Exigible]
GO
ALTER TABLE [cierres].[MORA_MENSUAL] ADD  CONSTRAINT [DF_MORA_MENSUAL_Devengados]  DEFAULT ((0)) FOR [Devengados]
GO
ALTER TABLE [cierres].[MORA_MENSUAL]  WITH CHECK ADD  CONSTRAINT [FK_MORA_MENSUAL_ARCHIVO] FOREIGN KEY([ArchivoId])
REFERENCES [cierres].[ARCHIVO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierres].[MORA_MENSUAL] CHECK CONSTRAINT [FK_MORA_MENSUAL_ARCHIVO]
GO
