SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[LOG_CONDUSEF](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[numero_folio] [nvarchar](50) NULL,
	[fecha_queja] [date] NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[estatus] [nvarchar](30) NOT NULL,
	[fecha_resolucion] [date] NULL,
	[observaciones] [nvarchar](max) NULL,
	[usuario_registro] [nvarchar](256) NULL,
	[fecha_creacion] [datetime] NOT NULL,
 CONSTRAINT [PK_LogCondusef] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[LOG_CONDUSEF] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[LOG_CONDUSEF] ADD  CONSTRAINT [DF_LogCondusef_Estatus]  DEFAULT ('Abierta') FOR [estatus]
GO
ALTER TABLE [cierre_puente].[LOG_CONDUSEF] ADD  CONSTRAINT [DF_LogCondusef_FechaCreacion]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [cierre_puente].[LOG_CONDUSEF]  WITH CHECK ADD  CONSTRAINT [FK_LogCondusef_CreditosPuente] FOREIGN KEY([credito_puente_id])
REFERENCES [cierre_puente].[CREDITOS_PUENTE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[LOG_CONDUSEF] CHECK CONSTRAINT [FK_LogCondusef_CreditosPuente]
GO
