SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [CIERRE].[SP_IND_RPT_CIERRE_VIS]
(
    @Fecha DATE
)
AS
BEGIN

    SET NOCOUNT ON

    declare @FechaIni date, @FechaFinMesAnt date, @FechaIniMora date

    set @FechaIni = datefromparts(year(@FECHA), month(@Fecha), 1)
    set @FechaFinMesAnt = Dateadd(day,-1,@FechaIni)

    SELECT
        REP.CREDITO,
        REP.PERIODO,
        MAX(REP.CARTERA) AS CARTERA,
        MAX(REP.CLAVE) AS CLAVE,
        MAX(REP.NOMBRE) AS NOMBRE,
        MAX(REP.CLASIFICACION_DE_VIVIENDA) AS CLASIFICACION_DE_VIVIENDA,
        MAX(REP.SIN_RESTRICCION_RESTRINGIDOS) AS SIN_RESTRICCION_RESTRINGIDOS,
        MAX(REP.CEDIDOS_A) AS CEDIDOS_A,
        MAX(REP.DESCRIPCION) AS DESCRIPCION,
        MAX(REP.MONTO_CREDITO) AS MONTO_CREDITO,
        MAX(REP.TASA) AS TASA,
        MAX(REP.FECHA_DE_APERTURA) AS FECHA_DE_APERTURA,
        MAX(REP.FECHA_VENCIMIENTO) AS FECHA_VENCIMIENTO,
        MAX(REP.PLAZO) AS PLAZO,
        MAX(REP.CAMBIO_ETAPA) AS CAMBIO_ETAPA,
        MAX(REP.ETAPA_RIESGO) AS ETAPA_RIESGO,
        MAX(REP.CORTE) AS CORTE,
        MAX(REP.DIA_MORA) AS DIA_MORA,
        MAX(REP.COVID19) AS COVID19,
        MAX(REP.IVA_TASA) AS IVA_TASA,
        MAX(C.NUM_DESC_TIPO_CREDITO) AS NUM_DESC_TIPO_CREDITO,
        MAX(REP_ANT.ETAPA_RIESGO) AS ETAPA_RIESGO_ANT,
        MAX(isnull(DET_DIRECCION,'')+case when NUM_EXTERIOR IS NULL OR NUM_EXTERIOR = '' THEN '' ELSE ' NUM. EXT. '+NUM_EXTERIOR END
            +', COL. '+isnull(D.DES_DISTRITO,'')+', '+isnull(CA.DES_CANTON,'')
            +', MUN. '+isnull(P.DES_PROVINCIA,'')+', '+isnull(E.NOM_PAIS,'')+', C.P. '+isnull(I.COD_POSTAL,'')) AS DIRECCION
    INTO #CTE_IND_REP
    FROM [CIERRE].[IND_REP] REP
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON  REP.CREDITO = C.NUM_CREDITO
        LEFT JOIN [CIERRE].[IND_REP] REP_ANT ON REP_ANT.CREDITO = C.NUM_CREDITO AND REP_ANT.PERIODO=@FechaFinMesAnt
        LEFT JOIN [Quiero_Confianza_shadow].CL.CL_DIR_CLIENTES I ON I.COD_CLIENTE = C.COD_CLIENTE
        LEFT JOIN Quiero_Confianza_shadow.PA.PA_PAISES E ON E.COD_PAIS = I.COD_PAIS
        LEFT JOIN Quiero_Confianza_shadow.PA.PA_PROVINCIAS P ON P.COD_PAIS = I.COD_PAIS AND P.COD_PROVINCIA = I.COD_PROVINCIA
        LEFT JOIN Quiero_Confianza_shadow.PA.PA_CANTONES CA ON CA.COD_PAIS = I.COD_PAIS AND CA.COD_PROVINCIA = I.COD_PROVINCIA AND CA.COD_CANTON = I.COD_CANTON
        LEFT JOIN Quiero_Confianza_shadow.PA.PA_DISTRITOS D ON D.COD_PAIS = I.COD_PAIS AND D.COD_PROVINCIA = I.COD_PROVINCIA AND D.COD_CANTON = I.COD_CANTON AND D.COD_DISTRITO = I.COD_DISTRITO
    WHERE REP.PERIODO=@Fecha
    GROUP BY REP.CREDITO, REP.PERIODO

    SELECT
        C.CREDITO AS NUM_CREDITO,
        C.PERIODO,
        C.CARTERA,
        C.CLAVE AS ID_EXTERNO,
        C.NOMBRE AS ACREDITADO,
        C.CLASIFICACION_DE_VIVIENDA AS CLASIFICACION,
        C.SIN_RESTRICCION_RESTRINGIDOS,
        C.CEDIDOS_A AS CEDIDO,
        C.DESCRIPCION AS TIPO,
        C.MONTO_CREDITO AS MONTO_AUTORIZADO,
        C.TASA AS TASA_INTERES,
        CONVERT(VARCHAR(20),C.FECHA_DE_APERTURA,103) AS FECHA_DE_APERTURA,
        CONVERT(VARCHAR(20),C.FECHA_VENCIMIENTO,103) AS FECHA_VENCIMIENTO,
        C.PLAZO,
        C.ETAPA_RIESGO_ANT,
        C.ETAPA_RIESGO,
        C.CORTE,
        C.DIA_MORA AS DIAS_MORA,
        DIRECCION AS UBICACION,
        NUM_DESC_TIPO_CREDITO,

        ISNULL(S_PRINCIPAL.SALDO,0) - ISNULL(SC_PRINCIPAL.SALDO,0) AS PRINCIPAL,
        ISNULL(SC_PRINCIPAL.SALDO,0) AS PRINCIPAL_COVID,
        ISNULL(S_PRINCIPAL.SALDO,0) AS TOTAL_PRINCIPAL,

        ISNULL(S_INTERESES.SALDO,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO,0) - ISNULL(SO_INTERESES.SALDO,0) - ISNULL(SC_INTERESES.SALDO,0) AS INT_ORD_BALANCE,
        ISNULL(SC_INTERESES.SALDO,0) AS INT_COVID_BALANCE,
        ISNULL(S_INTERESES.SALDO,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO,0) - ISNULL(SO_INTERESES.SALDO,0) AS TOTAL_INT_BALANCE,

        ISNULL(S_MORATORIO.SALDO,0) - ISNULL(SO_MORATORIO.SALDO,0) + ISNULL(S_COMISION.SALDO,0) - ISNULL(SO_COMISION.SALDO,0) AS MORATORIO_BALANCE,

        ISNULL(S_PRINCIPAL.SALDO,0) + ISNULL(S_INTERESES.SALDO,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO,0) - ISNULL(SO_INTERESES.SALDO,0) + ISNULL(S_MORATORIO.SALDO,0) - ISNULL(SO_MORATORIO.SALDO,0) + ISNULL(S_COMISION.SALDO,0) - ISNULL(SO_COMISION.SALDO,0) AS SALDO_CARTERA_BALANCE,

        ISNULL(SO_INTERESES.SALDO,0) AS INT_ORIDNARIO_CO,
        ISNULL(SO_MORATORIO.SALDO,0) + ISNULL(SO_COMISION.SALDO,0) AS MORATORIOS_CO,
        ISNULL(SO_INTERESES.SALDO,0) + ISNULL(SO_MORATORIO.SALDO,0) + ISNULL(SO_COMISION.SALDO,0) AS SALDO_CARTERA_CO,

        ISNULL(S_INTERESES.SALDO_IVA,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO_IVA,0) - ISNULL(SO_INTERESES.SALDO_IVA,0) - ISNULL(SC_INTERESES.SALDO_IVA,0) AS IVA_INT_BALANCE,
        ISNULL(SC_INTERESES.SALDO_IVA,0) AS IVA_INT_COVID,
        ISNULL(S_MORATORIO.SALDO_IVA,0) AS IVA_INT_MORATORIOS,--revisar(no esta en el otro reporte
        ISNULL(S_SEG_VID.SALDO,0) + ISNULL(S_SEG_DAN.SALDO,0) - ISNULL(SO_SEG_VID.SALDO,0) - ISNULL(SO_SEG_DAN.SALDO,0) - ISNULL(SC_SEG_VID.SALDO,0) - ISNULL(SC_SEG_DAN.SALDO,0) AS SEGURO_BALANCE,
        ISNULL(SC_SEG_VID.SALDO,0) + ISNULL(SC_SEG_DAN.SALDO,0) AS SEGURO_COVID_BALANCE,

        ISNULL(S_INTERESES.SALDO_IVA,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO_IVA,0) - ISNULL(SO_INTERESES.SALDO_IVA,0)+ ISNULL(S_SEG_VID.SALDO,0) + ISNULL(S_SEG_DAN.SALDO,0) - ISNULL(SO_SEG_VID.SALDO,0) - ISNULL(SO_SEG_DAN.SALDO,0) AS SALDO_ACCESORIOS_BALANCE,
        
        ISNULL(SO_INTERESES.SALDO_IVA,0) + ISNULL(SO_MORATORIO.SALDO_IVA,0) + ISNULL(SO_COMISION.SALDO_IVA,0) + ISNULL(SO_SEG_VID.SALDO_IVA,0) + ISNULL(SO_SEG_DAN.SALDO_IVA,0) AS IVA_INT_CO,
        ISNULL(SO_SEG_VID.SALDO,0) + ISNULL(SO_SEG_DAN.SALDO,0) AS SEGURO_CO,
        ISNULL(SO_INTERESES.SALDO_IVA,0) + ISNULL(SO_MORATORIO.SALDO_IVA,0) + ISNULL(SO_COMISION.SALDO_IVA,0) + ISNULL(SO_SEG_VID.SALDO_IVA,0) + ISNULL(SO_SEG_DAN.SALDO_IVA,0) + ISNULL(SO_SEG_VID.SALDO,0) + ISNULL(SO_SEG_DAN.SALDO,0) AS SALDO_ACCESORIOS_CO,
        
        CASE WHEN C.COVID19='SI' THEN 'SI' ELSE 'NO' END AS PROGRAMA_COVID,
        CASE WHEN C.IVA_TASA>0 THEN 'SI' ELSE 'NO' END AS GENERA_IVA
    INTO #REP_COMPLETO
    FROM #CTE_IND_REP C
    -- SALDOS NORMALES
    LEFT JOIN [CIERRE].[SAF_SALDOS] S_PRINCIPAL ON S_PRINCIPAL.NUM_CREDITO=C.CREDITO AND S_PRINCIPAL.RUBRO='PRINCIPAL' AND S_PRINCIPAL.FECHA_SISTEMA=C.PERIODO AND S_PRINCIPAL.TIPO='N'
    LEFT JOIN [CIERRE].[SAF_SALDOS] S_INTERESES ON S_INTERESES.NUM_CREDITO=C.CREDITO AND S_INTERESES.RUBRO='INTERESES' AND S_INTERESES.FECHA_SISTEMA=C.PERIODO AND S_INTERESES.TIPO='N'
    LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_VID ON S_SEG_VID.NUM_CREDITO=C.CREDITO AND S_SEG_VID.RUBRO='SEGURO_VIDA' AND S_SEG_VID.FECHA_SISTEMA=C.PERIODO AND S_SEG_VID.TIPO='N'
    LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_DAN ON S_SEG_DAN.NUM_CREDITO=C.CREDITO AND S_SEG_DAN.RUBRO='SEGURO_DANOS' AND S_SEG_DAN.FECHA_SISTEMA=C.PERIODO AND S_SEG_DAN.TIPO='N'
    LEFT JOIN [CIERRE].[SAF_SALDOS] S_MORATORIO ON S_MORATORIO.NUM_CREDITO=C.CREDITO AND S_MORATORIO.RUBRO='MORATORIOS' AND S_MORATORIO.FECHA_SISTEMA=C.PERIODO AND S_MORATORIO.TIPO='N'
    LEFT JOIN [CIERRE].[SAF_SALDOS] S_COMISION ON S_COMISION.NUM_CREDITO=C.CREDITO AND S_COMISION.RUBRO='COMISION_ADMINISTRACION' AND S_COMISION.FECHA_SISTEMA=C.PERIODO AND S_COMISION.TIPO='N'
    LEFT JOIN [CIERRE].[SAF_SALDOS] S_INT_NO_EXIGIBLE ON S_INT_NO_EXIGIBLE.NUM_CREDITO = C.CREDITO AND S_INT_NO_EXIGIBLE.RUBRO = 'INTERES_NO_EXIGIBLES' AND S_INT_NO_EXIGIBLE.FECHA_SISTEMA=C.PERIODO AND S_INT_NO_EXIGIBLE.TIPO='N'
    -- SALDOS ETAPA 3
    LEFT JOIN [CIERRE].[SAF_SALDOS] SO_INTERESES ON SO_INTERESES.NUM_CREDITO=C.CREDITO AND SO_INTERESES.RUBRO='INTERESES' AND SO_INTERESES.FECHA_SISTEMA=C.PERIODO AND SO_INTERESES.TIPO='O'
    LEFT JOIN [CIERRE].[SAF_SALDOS] SO_SEG_VID ON SO_SEG_VID.NUM_CREDITO=C.CREDITO AND SO_SEG_VID.RUBRO='SEGURO_VIDA' AND SO_SEG_VID.FECHA_SISTEMA=C.PERIODO AND SO_SEG_VID.TIPO='O'
    LEFT JOIN [CIERRE].[SAF_SALDOS] SO_SEG_DAN ON SO_SEG_DAN.NUM_CREDITO=C.CREDITO AND SO_SEG_DAN.RUBRO='SEGURO_DANOS' AND SO_SEG_DAN.FECHA_SISTEMA=C.PERIODO AND SO_SEG_DAN.TIPO='O'
    LEFT JOIN [CIERRE].[SAF_SALDOS] SO_MORATORIO ON SO_MORATORIO.NUM_CREDITO=C.CREDITO AND SO_MORATORIO.RUBRO='MORATORIOS' AND SO_MORATORIO.FECHA_SISTEMA=C.PERIODO AND SO_MORATORIO.TIPO='O'
    LEFT JOIN [CIERRE].[SAF_SALDOS] SO_COMISION ON SO_COMISION.NUM_CREDITO=C.CREDITO AND SO_COMISION.RUBRO='COMISION_ADMINISTRACION' AND SO_COMISION.FECHA_SISTEMA=C.PERIODO AND SO_COMISION.TIPO='O'
    -- SALDOS COVID
    LEFT JOIN [CIERRE].[SAF_SALDOS] SC_PRINCIPAL ON SC_PRINCIPAL.NUM_CREDITO=C.CREDITO AND SC_PRINCIPAL.RUBRO='PRINCIPAL' AND SC_PRINCIPAL.FECHA_SISTEMA=C.PERIODO AND SC_PRINCIPAL.TIPO='C'
    LEFT JOIN [CIERRE].[SAF_SALDOS] SC_INTERESES ON SC_INTERESES.NUM_CREDITO=C.CREDITO AND SC_INTERESES.RUBRO='INTERESES' AND SC_INTERESES.FECHA_SISTEMA=C.PERIODO AND SC_INTERESES.TIPO='C'
    LEFT JOIN [CIERRE].[SAF_SALDOS] SC_SEG_VID ON SC_SEG_VID.NUM_CREDITO=C.CREDITO AND SC_SEG_VID.RUBRO='SEGURO_VIDA' AND SC_SEG_VID.FECHA_SISTEMA=C.PERIODO AND SC_SEG_VID.TIPO='C'
    LEFT JOIN [CIERRE].[SAF_SALDOS] SC_SEG_DAN ON SC_SEG_DAN.NUM_CREDITO=C.CREDITO AND SC_SEG_DAN.RUBRO='SEGURO_DANOS' AND SC_SEG_DAN.FECHA_SISTEMA=C.PERIODO AND SC_SEG_DAN.TIPO='C'
    LEFT JOIN [CIERRE].[SAF_SALDOS] SC_MORATORIO ON SC_MORATORIO.NUM_CREDITO=C.CREDITO AND SC_MORATORIO.RUBRO='MORATORIOS' AND SC_MORATORIO.FECHA_SISTEMA=C.PERIODO AND SC_MORATORIO.TIPO='C'
    LEFT JOIN [CIERRE].[SAF_SALDOS] SC_COMISION ON SC_COMISION.NUM_CREDITO=C.CREDITO AND SC_COMISION.RUBRO='COMISION_ADMINISTRACION' AND SC_COMISION.FECHA_SISTEMA=C.PERIODO AND SC_COMISION.TIPO='C'


    SELECT
        NUM_CREDITO,
        PERIODO,
        CARTERA,
        ID_EXTERNO,
        ACREDITADO,
        CLASIFICACION,
        SIN_RESTRICCION_RESTRINGIDOS,
        CEDIDO,
        TIPO,
        MONTO_AUTORIZADO,
        TASA_INTERES,
        FECHA_DE_APERTURA,
        FECHA_VENCIMIENTO,
        PLAZO,
        ETAPA_RIESGO_ANT,
        ETAPA_RIESGO,
        CORTE,
        DIAS_MORA,
        UBICACION,
        PRINCIPAL,
        PRINCIPAL_COVID,
        TOTAL_PRINCIPAL,
        INT_ORD_BALANCE,
        INT_COVID_BALANCE,
        TOTAL_INT_BALANCE,
        MORATORIO_BALANCE,
        SALDO_CARTERA_BALANCE,
        INT_ORIDNARIO_CO,
        MORATORIOS_CO,
        SALDO_CARTERA_CO,
        IVA_INT_BALANCE,
        IVA_INT_COVID,
        IVA_INT_MORATORIOS,
        SEGURO_BALANCE,
        SEGURO_COVID_BALANCE,
        SALDO_ACCESORIOS_BALANCE,
        IVA_INT_CO,
        SEGURO_CO,
        SALDO_ACCESORIOS_CO,
        PROGRAMA_COVID,
        GENERA_IVA
    FROM #REP_COMPLETO
    WHERE NUM_DESC_TIPO_CREDITO != 4
    UNION ALL
    SELECT
        NUM_CREDITO,
        PERIODO,
        CARTERA,
        ID_EXTERNO,
        ACREDITADO,
        CLASIFICACION,
        SIN_RESTRICCION_RESTRINGIDOS,
        CEDIDO,
        TIPO,
        MONTO_AUTORIZADO,
        TASA_INTERES,
        FECHA_DE_APERTURA,
        FECHA_VENCIMIENTO,
        PLAZO,
        ETAPA_RIESGO_ANT,
        ETAPA_RIESGO,
        CORTE,
        DIAS_MORA,
        UBICACION,
        0.1*PRINCIPAL,
        0.1*PRINCIPAL_COVID,
        0.1*TOTAL_PRINCIPAL,
        0.1*INT_ORD_BALANCE,
        0.1*INT_COVID_BALANCE,
        0.1*TOTAL_INT_BALANCE,
        0.1*MORATORIO_BALANCE,
        0.1*SALDO_CARTERA_BALANCE,
        0.1*INT_ORIDNARIO_CO,
        0.1*MORATORIOS_CO,
        0.1*SALDO_CARTERA_CO,
        0.1*IVA_INT_BALANCE,
        0.1*IVA_INT_COVID,
        0.1*IVA_INT_MORATORIOS,
        0.1*SEGURO_BALANCE,
        0.1*SEGURO_COVID_BALANCE,
        0.1*SALDO_ACCESORIOS_BALANCE,
        0.1*IVA_INT_CO,
        0.1*SEGURO_CO,
        0.1*SALDO_ACCESORIOS_CO,
        PROGRAMA_COVID,
        GENERA_IVA
    FROM #REP_COMPLETO
    WHERE NUM_DESC_TIPO_CREDITO = 4
    UNION ALL
    SELECT
        NUM_CREDITO,
        PERIODO,
        'AFIRME' AS CARTERA,
        ID_EXTERNO,
        ACREDITADO,
        CLASIFICACION,
        SIN_RESTRICCION_RESTRINGIDOS,
        CEDIDO,
        TIPO,
        MONTO_AUTORIZADO,
        TASA_INTERES,
        FECHA_DE_APERTURA,
        FECHA_VENCIMIENTO,
        PLAZO,
        ETAPA_RIESGO_ANT,
        ETAPA_RIESGO,
        CORTE,
        DIAS_MORA,
        UBICACION,
        0.9*PRINCIPAL,
        0.9*PRINCIPAL_COVID,
        0.9*TOTAL_PRINCIPAL,
        0.9*INT_ORD_BALANCE,
        0.9*INT_COVID_BALANCE,
        0.9*TOTAL_INT_BALANCE,
        0.9*MORATORIO_BALANCE,
        0.9*SALDO_CARTERA_BALANCE,
        0.9*INT_ORIDNARIO_CO,
        0.9*MORATORIOS_CO,
        0.9*SALDO_CARTERA_CO,
        0.9*IVA_INT_BALANCE,
        0.9*IVA_INT_COVID,
        0.9*IVA_INT_MORATORIOS,
        0.9*SEGURO_BALANCE,
        0.9*SEGURO_COVID_BALANCE,
        0.9*SALDO_ACCESORIOS_BALANCE,
        0.9*IVA_INT_CO,
        0.9*SEGURO_CO,
        0.9*SALDO_ACCESORIOS_CO,
        PROGRAMA_COVID,
        GENERA_IVA
    FROM #REP_COMPLETO
    WHERE NUM_DESC_TIPO_CREDITO = 4


END
GO
