SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CIERRE_PUENTE_SYNC_LOG](
	[Id] [uniqueidentifier] NOT NULL,
	[fecha_inicio] [datetime2](7) NOT NULL,
	[fecha_fin] [datetime2](7) NULL,
	[creditos_procesados] [int] NOT NULL,
	[documentos_procesados] [int] NOT NULL,
	[Errores] [nvarchar](max) NULL,
	[delta_url_individual] [nvarchar](2048) NULL,
 CONSTRAINT [PK_CIERRE_PUENTE_SYNC_LOG] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
