SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Miguel Gomez
-- Create date: 07/01/2026
-- Description: Reporte Intereses Devengados Comercial
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_CMR_RPT_INTERESES_DEVENGADOS_VIS]
(
    @FechaIni DATE,
    @FechaFin DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FechaFinExclusiva DATE = DATEADD(DAY, 1, @FechaFin);

	--------------------------------------------------------------------------

    CREATE TABLE #DEVENGO_MORATORIOS (
        FECHA_CALCULO DATE,
        NUM_CREDITO NUMERIC(8,0),
        INTERESES_MORATORIOS DECIMAL(18,2),
        IVA_INTERES_MORATORIO DECIMAL(18,2),
        INDEX CIX_DEV_MORATORIOS CLUSTERED (FECHA_CALCULO, NUM_CREDITO)
    );

    CREATE TABLE #REVERSO_MORATORIOS (
        FECHA_CALCULO DATE,
        NUM_CREDITO NUMERIC(8,0),
        INTERESES_MORATORIOS DECIMAL(18,2),
        IVA_INTERES_MORATORIO DECIMAL(18,2),
        INDEX CIX_REVERSO_MORATORIOS CLUSTERED (FECHA_CALCULO, NUM_CREDITO)
    );

    CREATE TABLE #DEVENGO_COMISIONES (
        FECHA_CALCULO DATE,
        NUM_CREDITO NUMERIC(8,0),
        GASTOS_COBRANZA DECIMAL(18,2),
        IVA_GASTOS_COBRANZA DECIMAL(18,2),
        INDEX CIX_COMISIONES CLUSTERED (FECHA_CALCULO, NUM_CREDITO)
    );

    CREATE TABLE #REVERSO_COMISIONES (
        FECHA_CALCULO DATE,
        NUM_CREDITO NUMERIC(8,0),
        GASTOS_COBRANZA DECIMAL(18,2),
        IVA_GASTOS_COBRANZA DECIMAL(18,2),
        INDEX CIX_REVERSO_COMISIONES CLUSTERED (FECHA_CALCULO, NUM_CREDITO)
    );

    CREATE TABLE #RESULTADO_REPORTE (
        ID_EXTERNO VARCHAR(50),
        COD_CLIENTE VARCHAR(15),
        COD_EMPRESA VARCHAR(5),
        NUM_CREDITO NUMERIC(8,0),
        TIPO_CREDITO VARCHAR(100),
        ID_TIPO_CREDITO NUMERIC(2,0),
        DESARROLLO VARCHAR(200),
        COD_ORIGEN VARCHAR(5),
        FEC_CALCULO DATE,
        IMPORTE DECIMAL(18,6),
        IVA_INTERES DECIMAL(18,6),
        INTERESES_MORATORIOS DECIMAL(18,6),
        IVA_INTERES_MORATORIO DECIMAL(18,6),
        GASTOS_COBRANZA DECIMAL(18,6),
        IVA_GASTOS_COBRANZA DECIMAL(18,6),
        ESTATUS VARCHAR(20),
        IND_COVID CHAR(1),
        INDEX CIX_RESULTADO CLUSTERED (FEC_CALCULO, NUM_CREDITO),
        INDEX IX_CLIENTE NONCLUSTERED (COD_EMPRESA, COD_CLIENTE),
        INDEX IX_EXTERNO NONCLUSTERED (ID_EXTERNO)
    );

    CREATE TABLE #IVA_INTERESES (
        NUM_CREDITO NUMERIC(8,0),
        IND_IVA CHAR(1)
    );

    CREATE TABLE #TIPO_CREDITOS (
        NUM_DESC_TIPO_CREDITO NUMERIC(8,0)
    );

    CREATE TABLE #TIPO_CRED (
         NUM_CREDITO NUMERIC(8,0)
        ,FECHA_SISTEMA DATE
        ,NUM_DESC_TIPO_CREDITO NUMERIC(8,0)
        ,INDEX CIX_TIPO_CRED CLUSTERED (FECHA_SISTEMA, NUM_CREDITO),
    );

    CREATE TABLE #TIPO_CREDITO_PRODUCTO (
        NUM_CREDITO NUMERIC(8,0),
        NOMBRE VARCHAR(100)
    );

    INSERT INTO #TIPO_CREDITOS
    SELECT NUM_DESC_TIPO_CREDITO
    FROM Quiero_Confianza_shadow.PR.PR_DESC_TIPOS_CREDITO
    WHERE COD_EMPRESA = '001' AND NUM_DESC_TIPO_CREDITO IN (
            12,13,14,15,28 -- minoristas
            ,2,18,27      -- puente
            ,5,6,19,21,22,24); -- administrada


    INSERT INTO #TIPO_CRED
    SELECT NUM_CREDITO,FECHA_SISTEMA,H.NUM_DESC_TIPO_CREDITO
    FROM PO.CONTROL_HISTORICO_TRASPASOS H
        INNER JOIN #TIPO_CREDITOS TC ON H.NUM_DESC_TIPO_CREDITO = TC.NUM_DESC_TIPO_CREDITO
    WHERE @FechaIni <= FECHA_SISTEMA AND FECHA_SISTEMA < @FechaFinExclusiva


    CREATE UNIQUE CLUSTERED INDEX CIX_TIPO_CREDITOS ON #TIPO_CREDITOS (NUM_DESC_TIPO_CREDITO);

    INSERT INTO #IVA_INTERESES
    SELECT NUM_CREDITO, IND_IVA
    FROM Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO WITH (NOLOCK) 
    WHERE COD_RUBRO = 'INTERESES';

    CREATE UNIQUE CLUSTERED INDEX CIX_IVA ON #IVA_INTERESES (NUM_CREDITO);

    INSERT INTO #TIPO_CREDITO_PRODUCTO
    SELECT distinct C.NUM_CREDITO,CP.NOMBRE AS NOMBRE
    FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C
        INNER JOIN #TIPO_CRED TC ON C.NUM_CREDITO = TC.NUM_CREDITO
        LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
        LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO;

    CREATE UNIQUE CLUSTERED INDEX CIX_TIPO_CREDITO_PRODUCTO ON #TIPO_CREDITO_PRODUCTO (NUM_CREDITO);

    --DEVENGACION MORATORIOS
    INSERT INTO #DEVENGO_MORATORIOS
    SELECT FECHA_CALCULO,
        NUM_CREDITO, 
        SUM(INTERESES_MORATORIOS) AS INTERESES_MORATORIOS,
        SUM(IVA_INTERES_MORATORIO) AS IVA_INTERES_MORATORIO
    FROM (
        SELECT A.FECHA_CALCULO,
            A.NUM_CREDITO,
            A.MON_DIARIO AS INTERESES_MORATORIOS,
            CASE WHEN P.IND_IVA_INTERES = 'N' THEN 0 ELSE 0.16 * A.MON_DIARIO END AS IVA_INTERES_MORATORIO
        FROM Quiero_Confianza_shadow.PR.PR_CALCULO_MORA_DIA A WITH (NOLOCK)
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FECHA_CALCULO = TC.FECHA_SISTEMA
            INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
        WHERE A.MON_DIARIO <> 0.00
            AND A.FECHA_CALCULO >= @FechaIni 
            AND A.FECHA_CALCULO < @FechaFinExclusiva
            AND (C.FEC_CANCELACION IS NULL OR A.FECHA_CALCULO <= C.FEC_CANCELACION)
        UNION ALL
        SELECT A.FEC_COBRO AS FECHA_CALCULO,
            A.NUM_CREDITO,
            A.MON_RUBRO AS INTERESES_MORATORIOS,
            A.MON_IVA AS IVA_INTERES_MORATORIO
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND CAST(A.FEC_COBRO AS DATE) = TC.FECHA_SISTEMA
        WHERE A.IND_ESTADO <> 'N'
            AND A.COD_RUBRO IN ('INTERES_MORATORIO', 'INTERES_CONDICIONADO')
            AND A.MON_RUBRO <> 0.00
            AND A.FEC_COBRO >= @FechaIni 
            AND A.FEC_COBRO < @FechaFinExclusiva
            AND (C.FEC_CANCELACION IS NULL OR A.FEC_COBRO <= C.FEC_CANCELACION)
        UNION ALL
        SELECT A.FECHA_GENERACION AS FECHA_CALCULO,
            A.NUM_CREDITO,
            A.MON_RUBRO AS INTERESES_MORATORIOS,
            A.MON_IVA AS IVA_INTERES_MORATORIO
        FROM PO.SAF_RUBRO_HIST A WITH (NOLOCK)
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FECHA_GENERACION = TC.FECHA_SISTEMA
        WHERE A.COD_RUBRO IN ('MORATORIOS', 'INTERES_MORATORIO', 'INTERES_CONDICIONADO')
            AND A.MON_RUBRO > 0.00
            AND A.FECHA_GENERACION >= @FechaIni 
            AND A.FECHA_GENERACION < @FechaFinExclusiva
            AND (C.FEC_CANCELACION IS NULL OR A.FECHA_GENERACION <= C.FEC_CANCELACION)
    ) AS MORATORIOS_CONSOLIDADO
    GROUP BY FECHA_CALCULO, NUM_CREDITO;

    --DEVENGACION COMISIONES
    INSERT INTO #DEVENGO_COMISIONES
    SELECT FECHA_CALCULO,
        NUM_CREDITO,
        SUM(GASTOS_COBRANZA) AS GASTOS_COBRANZA,
        SUM(IVA_GASTOS_COBRANZA) AS IVA_GASTOS_COBRANZA
    FROM (
        SELECT A.FEC_COBRO AS FECHA_CALCULO,
            A.NUM_CREDITO,
            A.MON_RUBRO AS GASTOS_COBRANZA,
            A.MON_IVA AS IVA_GASTOS_COBRANZA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND CAST(A.FEC_COBRO AS DATE) = TC.FECHA_SISTEMA
        WHERE A.IND_ESTADO <> 'N'
            AND A.COD_RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO',
                'ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA','GASTOS_NOTARIALES')
            AND A.MON_RUBRO <> 0.00
            AND A.FEC_COBRO >= @FechaIni
            AND A.FEC_COBRO < @FechaFinExclusiva
            AND (C.FEC_CANCELACION IS NULL OR A.FEC_COBRO <= C.FEC_CANCELACION)
        UNION ALL
        SELECT A.FECHA_GENERACION AS FECHA_CALCULO,
            A.NUM_CREDITO,
            A.MON_RUBRO AS GASTOS_COBRANZA,
            A.MON_IVA AS IVA_GASTOS_COBRANZA
        FROM PO.SAF_RUBRO_HIST A WITH(NOLOCK)
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FECHA_GENERACION = TC.FECHA_SISTEMA
        WHERE A.COD_RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO',
                'ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA','GASTOS_NOTARIALES')
            AND A.MON_RUBRO > 0.00
            AND A.FECHA_GENERACION >= @FechaIni
            AND A.FECHA_GENERACION < @FechaFinExclusiva
            AND (C.FEC_CANCELACION IS NULL OR A.FECHA_GENERACION <= C.FEC_CANCELACION)
    ) AS COMISIONES_CONSOLIDADO
    GROUP BY FECHA_CALCULO, NUM_CREDITO;

    UPDATE STATISTICS #DEVENGO_MORATORIOS;
    UPDATE STATISTICS #DEVENGO_COMISIONES;

    -- 1.1 DEVENGO INTERESES
    INSERT INTO #RESULTADO_REPORTE
    SELECT C.ID_EXTERNO,
        C.COD_CLIENTE,
        C.COD_EMPRESA,
        C.NUM_CREDITO,
        CP.NOMBRE AS TIPO_CREDITO,
        C.NUM_DESC_TIPO_CREDITO AS ID_TIPO_CREDITO,
        C.DESARROLLO,
        C.COD_ORIGEN,
        A.FECHA_CALCULO AS FEC_CALCULO,
        A.MON_DIARIO AS IMPORTE,
        CASE 
            WHEN X.IND_IVA = 'S' THEN A.MON_DIARIO * 0.16
            ELSE 0.00 
        END AS IVA_INTERES,
        ISNULL(DM.INTERESES_MORATORIOS,0) AS INTERESES_MORATORIOS,
        ISNULL(DM.IVA_INTERES_MORATORIO,0) AS IVA_INTERES_MORATORIO,
        ISNULL(DC.GASTOS_COBRANZA,0) AS GASTOS_COBRANZA,
        ISNULL(DC.IVA_GASTOS_COBRANZA,0) AS IVA_GASTOS_COBRANZA,
        'NORMALES' AS ESTATUS,
        'N' AS IND_COVID
    FROM Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FECHA_CALCULO = TC.FECHA_SISTEMA
        LEFT JOIN #IVA_INTERESES X ON A.NUM_CREDITO = X.NUM_CREDITO
        LEFT JOIN #TIPO_CREDITO_PRODUCTO CP ON A.NUM_CREDITO = CP.NUM_CREDITO
        LEFT JOIN #DEVENGO_MORATORIOS DM ON A.FECHA_CALCULO = DM.FECHA_CALCULO AND A.NUM_CREDITO = DM.NUM_CREDITO
        LEFT JOIN #DEVENGO_COMISIONES DC ON A.FECHA_CALCULO = DC.FECHA_CALCULO AND A.NUM_CREDITO = DC.NUM_CREDITO
    WHERE A.MON_DIARIO > 0.00
        AND A.FECHA_CALCULO >= @FechaIni 
        AND A.FECHA_CALCULO < @FechaFinExclusiva
        AND (C.FEC_CANCELACION IS NULL OR A.FECHA_CALCULO <= C.FEC_CANCELACION)

    -- 1.2 DEVENGO INTERESES HISTORICO
    INSERT INTO #RESULTADO_REPORTE
    SELECT C.ID_EXTERNO,
        C.COD_CLIENTE,
        C.COD_EMPRESA,
        C.NUM_CREDITO,
        CP.NOMBRE AS TIPO_CREDITO,
        C.NUM_DESC_TIPO_CREDITO AS ID_TIPO_CREDITO,
        C.DESARROLLO,
        C.COD_ORIGEN,
        A.FECHA_GENERACION AS FEC_CALCULO,
        A.MON_RUBRO AS IMPORTE,
        A.MON_IVA AS IVA_INTERES,
        ISNULL(DM.INTERESES_MORATORIOS,0) AS INTERESES_MORATORIOS,
        ISNULL(DM.IVA_INTERES_MORATORIO,0) AS IVA_INTERES_MORATORIO,
        ISNULL(DC.GASTOS_COBRANZA,0) AS GASTOS_COBRANZA,
        ISNULL(DC.IVA_GASTOS_COBRANZA,0) AS IVA_GASTOS_COBRANZA,
        'NORMALES' AS ESTATUS,
        'N' AS IND_COVID
    FROM PO.SAF_RUBRO_HIST A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FECHA_GENERACION = TC.FECHA_SISTEMA
        LEFT JOIN #TIPO_CREDITO_PRODUCTO CP ON A.NUM_CREDITO = CP.NUM_CREDITO
        LEFT JOIN #DEVENGO_MORATORIOS DM ON A.FECHA_GENERACION = DM.FECHA_CALCULO AND A.NUM_CREDITO = DM.NUM_CREDITO
        LEFT JOIN #DEVENGO_COMISIONES DC ON A.FECHA_GENERACION = DC.FECHA_CALCULO AND A.NUM_CREDITO = DC.NUM_CREDITO
    WHERE A.COD_RUBRO IN ('INTERESES', 'INTERES_ORDINARIO_A')
        AND A.MON_RUBRO > 0.00
        AND A.FECHA_GENERACION >= @FechaIni 
        AND A.FECHA_GENERACION < @FechaFinExclusiva
        AND (C.FEC_CANCELACION IS NULL OR A.FECHA_GENERACION <= C.FEC_CANCELACION)

    --REVERSO INTERESES MORATORIOS
    INSERT INTO #REVERSO_MORATORIOS
    SELECT FECHA_CALCULO,
        NUM_CREDITO,
        SUM(INTERESES_MORATORIOS) AS INTERESES_MORATORIOS,
        SUM(IVA_INTERES_MORATORIO) AS IVA_INTERES_MORATORIO
    FROM (
        SELECT A.FEC_MOVIMIENTO AS FECHA_CALCULO,
            A.NUM_CREDITO,
            -1*B.MON_PAGO AS INTERESES_MORATORIOS,
            -1*B.MON_PAGO_IVA AS IVA_INTERES_MORATORIO
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
            INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FEC_MOVIMIENTO = TC.FECHA_SISTEMA
        WHERE C.IND_ESTADO IN ('C','D')
            AND C.IND_LINEA = 'N'
            AND (C.FEC_CANCELACION IS NULL OR A.FEC_MOVIMIENTO <= C.FEC_CANCELACION)
            AND A.mon_movimiento > 0
            AND A.FEC_MOVIMIENTO >= @FechaIni 
            AND A.FEC_MOVIMIENTO < @FechaFinExclusiva
            AND B.MON_PAGO <> 0.00
            AND A.ID_CUENTA IN ('1401030090010000','1401030090020000')
            AND B.COD_CONCEPTO IN ('MORATORIOS', 'INTERES_MORATORIO', 'INTERES_CONDICIONADO')
        UNION ALL
        SELECT A.FECHA_GENERACION AS FECHA_CALCULO,
            A.NUM_CREDITO,
            -A.MON_RUBRO AS INTERESES_MORATORIOS,
            -A.MON_IVA AS IVA_INTERES_MORATORIO
        FROM PO.SAF_RUBRO_HIST A WITH (NOLOCK)
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FECHA_GENERACION = TC.FECHA_SISTEMA
        WHERE A.COD_RUBRO IN ('MORATORIOS', 'INTERES_MORATORIO', 'INTERES_CONDICIONADO')
            AND A.MON_RUBRO < 0.00
            AND A.FECHA_GENERACION >= @FechaIni 
            AND A.FECHA_GENERACION < @FechaFinExclusiva
            AND (C.FEC_CANCELACION IS NULL OR A.FECHA_GENERACION <= C.FEC_CANCELACION)
    ) AS REVERSO_MORATORIOS_CONSOLIDADO
    GROUP BY FECHA_CALCULO, NUM_CREDITO;

    --REVERSO COMISIONES
    INSERT INTO #REVERSO_COMISIONES
    SELECT FECHA_CALCULO,
        NUM_CREDITO,
        SUM(GASTOS_COBRANZA) AS GASTOS_COBRANZA,
        SUM(IVA_GASTOS_COBRANZA) AS IVA_GASTOS_COBRANZA
    FROM (
        SELECT A.FEC_MOVIMIENTO AS FECHA_CALCULO,
            A.NUM_CREDITO,
            -1*B.MON_PAGO AS GASTOS_COBRANZA,
            -1*B.MON_PAGO_IVA AS IVA_GASTOS_COBRANZA
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
            INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FEC_MOVIMIENTO = TC.FECHA_SISTEMA
        WHERE C.IND_ESTADO IN ('C','D')
            AND C.IND_LINEA = 'N'
            AND (C.FEC_CANCELACION IS NULL OR A.FEC_MOVIMIENTO <= C.FEC_CANCELACION)
            AND A.mon_movimiento > 0
            AND A.FEC_MOVIMIENTO >= @FechaIni 
            AND A.FEC_MOVIMIENTO < @FechaFinExclusiva
            AND B.MON_PAGO <> 0.00
            AND A.ID_CUENTA IN ('1401030090010000','1401030090020000')
            AND B.COD_CONCEPTO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO',
                'ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA','GASTOS_NOTARIALES')
        UNION ALL
        SELECT A.FECHA_GENERACION AS FECHA_CALCULO,
            A.NUM_CREDITO,
            -A.MON_RUBRO AS GASTOS_COBRANZA,
            -A.MON_IVA AS IVA_GASTOS_COBRANZA
        FROM PO.SAF_RUBRO_HIST A WITH(NOLOCK)
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FECHA_GENERACION = TC.FECHA_SISTEMA
        WHERE A.COD_RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO',
                'ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA','GASTOS_NOTARIALES')
            AND A.MON_RUBRO < 0.00
            AND A.FECHA_GENERACION >= @FechaIni
            AND A.FECHA_GENERACION < @FechaFinExclusiva
            AND (C.FEC_CANCELACION IS NULL OR A.FECHA_GENERACION <= C.FEC_CANCELACION)
    ) AS REVERSO_COMISIONES_CONSOLIDADO
    GROUP BY FECHA_CALCULO, NUM_CREDITO;

    UPDATE STATISTICS #REVERSO_MORATORIOS;
    UPDATE STATISTICS #REVERSO_COMISIONES;

    -- 1.3 REVERSO INTERESES
    INSERT INTO #RESULTADO_REPORTE
    SELECT C.ID_EXTERNO,
        C.COD_CLIENTE,
        C.COD_EMPRESA,
        C.NUM_CREDITO,
        CP.NOMBRE AS TIPO_CREDITO,
        C.NUM_DESC_TIPO_CREDITO AS ID_TIPO_CREDITO,
        C.DESARROLLO,
        C.COD_ORIGEN,
        A.FEC_MOVIMIENTO AS FEC_CALCULO,
        -1*B.MON_PAGO AS IMPORTE,
        -1*B.MON_PAGO_IVA AS IVA_INTERES,
        ISNULL(DM.INTERESES_MORATORIOS,0) AS INTERESES_MORATORIOS,
        ISNULL(DM.IVA_INTERES_MORATORIO,0) AS IVA_INTERES_MORATORIO,
        ISNULL(DC.GASTOS_COBRANZA,0) AS GASTOS_COBRANZA,
        ISNULL(DC.IVA_GASTOS_COBRANZA,0) AS IVA_GASTOS_COBRANZA,
        'REVERSA' AS ESTATUS,
        ISNULL(dbo.FN_ES_COVID(Q.Ind_Posposicion, Q.Fecha_Posposicion, Q.Num_Credito), 'N') AS IND_COVID
    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FEC_MOVIMIENTO = TC.FECHA_SISTEMA
        LEFT JOIN #TIPO_CREDITO_PRODUCTO CP ON A.NUM_CREDITO = CP.NUM_CREDITO
        LEFT JOIN #REVERSO_MORATORIOS DM ON A.FEC_MOVIMIENTO = DM.FECHA_CALCULO AND A.NUM_CREDITO = DM.NUM_CREDITO
        LEFT JOIN #REVERSO_COMISIONES DC ON A.FEC_MOVIMIENTO = DC.FECHA_CALCULO AND A.NUM_CREDITO = DC.NUM_CREDITO
        LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
            AND Q.Num_Credito = A.Num_credito 
            AND Q.Num_Det_Secuencia = B.Num_det_secuencia 
            AND Q.Cod_Rubro = B.Cod_concepto 
            AND Q.Ind_Estado != 'N'
    WHERE B.COD_CONCEPTO IN ('INTERESES', 'INTERES_ORDINARIO_A')
        AND B.MON_PAGO <> 0.00
        AND A.ID_CUENTA IN ('1401030090010000','1401030090020000')
        AND A.MON_MOVIMIENTO > 0
        AND A.FEC_MOVIMIENTO >= @FechaIni
        AND A.FEC_MOVIMIENTO < @FechaFinExclusiva
        AND C.IND_ESTADO IN ('C','D')
        AND C.IND_LINEA = 'N'
        AND (C.FEC_CANCELACION IS NULL OR A.FEC_MOVIMIENTO <= C.FEC_CANCELACION)

    -- 1.4 RECALCULO INTERESES
    INSERT INTO #RESULTADO_REPORTE
    SELECT C.ID_EXTERNO,
        C.COD_CLIENTE,
        C.COD_EMPRESA,
        C.NUM_CREDITO,
        CP.NOMBRE AS TIPO_CREDITO,
        C.NUM_DESC_TIPO_CREDITO AS ID_TIPO_CREDITO,
        C.DESARROLLO,
        C.COD_ORIGEN,
        A.FECHA_CALCULO AS FEC_CALCULO,
        -A.MON_DIARIO AS IMPORTE,
        CASE 
            WHEN X.IND_IVA = 'S' THEN -0.16 * A.MON_DIARIO
            ELSE 0.00 
        END AS IVA_INTERES,
        ISNULL(DM.INTERESES_MORATORIOS,0) AS INTERESES_MORATORIOS,
        ISNULL(DM.IVA_INTERES_MORATORIO,0) AS IVA_INTERES_MORATORIO,
        ISNULL(DC.GASTOS_COBRANZA,0) AS GASTOS_COBRANZA,
        ISNULL(DC.IVA_GASTOS_COBRANZA,0) AS IVA_GASTOS_COBRANZA,
        'REVERSA' AS ESTATUS,
        'N' AS IND_COVID
    FROM Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FECHA_CALCULO = TC.FECHA_SISTEMA
        LEFT JOIN #IVA_INTERESES X ON A.NUM_CREDITO = X.NUM_CREDITO
        LEFT JOIN #TIPO_CREDITO_PRODUCTO CP ON A.NUM_CREDITO = CP.NUM_CREDITO
        LEFT JOIN #REVERSO_MORATORIOS DM ON A.FECHA_CALCULO = DM.FECHA_CALCULO AND A.NUM_CREDITO = DM.NUM_CREDITO
        LEFT JOIN #REVERSO_COMISIONES DC ON A.FECHA_CALCULO = DC.FECHA_CALCULO AND A.NUM_CREDITO = DC.NUM_CREDITO
    WHERE A.FECHA_CALCULO >= @FechaIni 
        AND A.FECHA_CALCULO < @FechaFinExclusiva
        AND (C.FEC_CANCELACION IS NULL OR A.FECHA_CALCULO <= C.FEC_CANCELACION)
        AND A.MON_DIARIO < 0.00;

    -- 1.5 AJUSTE INTERESES
    INSERT INTO #RESULTADO_REPORTE
    SELECT C.ID_EXTERNO,
        C.COD_CLIENTE,
        C.COD_EMPRESA,
        C.NUM_CREDITO,
        CP.NOMBRE AS TIPO_CREDITO,
        C.NUM_DESC_TIPO_CREDITO AS ID_TIPO_CREDITO,
        C.DESARROLLO,
        C.COD_ORIGEN,
        A.FECHA_GENERACION AS FEC_CALCULO,
        -A.MON_RUBRO AS IMPORTE,
        -A.MON_IVA AS IVA_INTERES,
        ISNULL(DM.INTERESES_MORATORIOS,0) AS INTERESES_MORATORIOS,
        ISNULL(DM.IVA_INTERES_MORATORIO,0) AS IVA_INTERES_MORATORIO,
        ISNULL(DC.GASTOS_COBRANZA,0) AS GASTOS_COBRANZA,
        ISNULL(DC.IVA_GASTOS_COBRANZA,0) AS IVA_GASTOS_COBRANZA,
        'AJUSTE' AS ESTATUS,
        'N' AS IND_COVID
    FROM PO.SAF_RUBRO_HIST A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN #TIPO_CRED TC ON A.NUM_CREDITO = TC.NUM_CREDITO AND A.FECHA_GENERACION = TC.FECHA_SISTEMA
        LEFT JOIN #TIPO_CREDITO_PRODUCTO CP ON A.NUM_CREDITO = CP.NUM_CREDITO
        LEFT JOIN #REVERSO_MORATORIOS DM ON A.FECHA_GENERACION = DM.FECHA_CALCULO AND A.NUM_CREDITO = DM.NUM_CREDITO
        LEFT JOIN #REVERSO_COMISIONES DC ON A.FECHA_GENERACION = DC.FECHA_CALCULO AND A.NUM_CREDITO = DC.NUM_CREDITO
    WHERE A.COD_RUBRO IN ('INTERESES', 'INTERES_ORDINARIO_A')
        AND A.MON_RUBRO < 0.00
        AND A.FECHA_GENERACION >= @FechaIni 
        AND A.FECHA_GENERACION < @FechaFinExclusiva
        AND (C.FEC_CANCELACION IS NULL OR A.FECHA_GENERACION <= C.FEC_CANCELACION)

    -- 1.6 MORATORIOS SIN INTERES ORDINARIO EL MISMO DIA (huerfanos)
    -- #DEVENGO_MORATORIOS puede traer mora de creditos que ese dia no generaron
    -- interes ordinario (1.1/1.2), y por lo tanto nunca se insertan arriba porque
    -- esos bloques dependen de una fila de interes para hacer LEFT JOIN a la mora.
    INSERT INTO #RESULTADO_REPORTE
    SELECT  C.ID_EXTERNO,
            C.COD_CLIENTE,
            C.COD_EMPRESA,
            C.NUM_CREDITO,
            CP.NOMBRE AS TIPO_CREDITO,
            C.NUM_DESC_TIPO_CREDITO AS ID_TIPO_CREDITO,
            C.DESARROLLO,
            C.COD_ORIGEN,
            DM.FECHA_CALCULO AS FEC_CALCULO,
            0.00 AS IMPORTE,
            0.00 AS IVA_INTERES,
            DM.INTERESES_MORATORIOS,
            DM.IVA_INTERES_MORATORIO,
            ISNULL(DC.GASTOS_COBRANZA, 0) AS GASTOS_COBRANZA,
            ISNULL(DC.IVA_GASTOS_COBRANZA, 0) AS IVA_GASTOS_COBRANZA,
            'NORMALES' AS ESTATUS,
            'N' AS IND_COVID
    FROM #DEVENGO_MORATORIOS DM
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON DM.NUM_CREDITO = C.NUM_CREDITO
        LEFT JOIN #TIPO_CREDITO_PRODUCTO CP ON DM.NUM_CREDITO = CP.NUM_CREDITO
        LEFT JOIN #DEVENGO_COMISIONES DC ON DM.FECHA_CALCULO = DC.FECHA_CALCULO AND DM.NUM_CREDITO = DC.NUM_CREDITO
    WHERE NOT EXISTS (
        SELECT 1 FROM #RESULTADO_REPORTE R
        WHERE R.NUM_CREDITO = DM.NUM_CREDITO AND R.FEC_CALCULO = DM.FECHA_CALCULO
    );

    UPDATE STATISTICS #RESULTADO_REPORTE;

    DROP TABLE #IVA_INTERESES;
    DROP TABLE #TIPO_CREDITOS;
    DROP TABLE #TIPO_CREDITO_PRODUCTO;
    DROP TABLE #DEVENGO_MORATORIOS;
    DROP TABLE #REVERSO_MORATORIOS;
    DROP TABLE #DEVENGO_COMISIONES;
    DROP TABLE #REVERSO_COMISIONES;

    SELECT R.ID_EXTERNO,
        MIN(DBO.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO,PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE,PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)) AS ACREDITADO,
        MIN(CP.NOMBRE) AS TIPO_CREDITO,
        MIN(ISNULL(R.DESARROLLO, 'NA')) AS PROYECTO,
        MAX(CASE
                WHEN R.ID_TIPO_CREDITO = 6 THEN 'INBURSA'
                WHEN R.ID_TIPO_CREDITO = 19 THEN 'BANCOPPEL'
                WHEN R.ID_TIPO_CREDITO = 21 THEN 'QB'
                WHEN R.ID_TIPO_CREDITO = 22 THEN 'BALI'
                WHEN R.ID_TIPO_CREDITO = 24 THEN 'SHCH'
                ELSE 'ION'
            END) AS FONDEADOR,
        MAX(DBO.FN_ORIGEN_FONDOS(CH.COD_ORIGEN, R.COD_EMPRESA)) AS CEDIDO,
        MAX(CASE 
                WHEN CH.ID_FONDEO = 2 THEN 'SIN RESTRICCION'
                ELSE 'RESTRINGIDO'
            END) AS TIPO_CARTERA,
        CONVERT(VARCHAR(10), R.FEC_CALCULO, 103) AS FEC_CALCULO,
        SUM(R.IMPORTE) AS IMPORTE,
        SUM(R.IVA_INTERES) AS IVA_INTERES,
        SUM(R.INTERESES_MORATORIOS) AS INTERESES_MORATORIOS,
        SUM(R.IVA_INTERES_MORATORIO) AS IVA_INTERES_MORATORIO,
        SUM(R.GASTOS_COBRANZA) AS GASTOS_DE_COBRANZA,
        SUM(R.IVA_GASTOS_COBRANZA) AS IVA_GASTOS_DE_COBRANZA,
        MAX(R.ESTATUS) AS ESTATUS,
        MAX(CASE 
                WHEN R.IND_COVID = 'S' THEN 'Sí'
                ELSE 'No'
            END) AS PROGRAMA_COVID_19,
        MAX(ISNULL(NULLIF(CH.IND_ETAPA, 0), 1)) AS ETAPA
    FROM #RESULTADO_REPORTE R
        LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON R.COD_EMPRESA = PJ.COD_EMPRESA AND R.COD_CLIENTE = PJ.COD_CLIENTE
        LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON R.COD_EMPRESA = PF.COD_EMPRESA AND R.COD_CLIENTE = PF.COD_CLIENTE
        LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON R.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = R.FEC_CALCULO
        LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CH.ID_PRODUCTO
    GROUP BY R.ID_EXTERNO, R.FEC_CALCULO
    UNION ALL
    SELECT D.ID_EXTERNO,
	    MIN(D.ACREDITADO) AS ACREDITADO,
	    MIN(D.TIPO_CREDITO) AS TIPO_CREDITO,
	    MIN(D.PROYECTO) AS PROYECTO,
	    MAX(D.FONDEADOR) AS FONDEADOR,
	    MAX(D.CEDIDO) AS CEDIDO,
	    MAX(TIPO_CARTERA) AS TIPO_CARTERA,
        CONVERT(VARCHAR(10), MIN(D.FECHA_CALCULO), 103) AS FEC_CALCULO,
	    SUM(D.IMPORTE) AS IMPORTE,
	    SUM(D.INTERES_IVA) AS IVA_INTERESES,
	    SUM(D.INTERESES_MORATORIOS) AS INTERESES_MORATORIOS,
	    '0' AS IVA_INTERES_MORATORIO,
	    SUM(D.GASTOS_COBRANZA) AS GASTOS_DE_COBRANZA,
	    SUM(D.GASTOS_COBRANZA_IVA) AS IVA_GASTOS_DE_COBRANZA,
	    MAX(D.ESTATUS) AS ESTATUS,
	    MAX(D.PROGRAMA_COVID_19) AS PROGRAMA_COVID_19,
	    MAX(D.ETAPA) AS ETAPA
    FROM PO.PR_DEVENGO_ENC E 
        INNER JOIN PO.PR_DEVENGO_DET D ON E.ID = D.ID_DEVENGO_ENC
        LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = D.ID_EXTERNO
        LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
    WHERE E.ACTIVO = 1
        AND D.CEDIDO IN ('SHF Sind-3226','SHF Sind-5028','SHF Sind-2662','SHF Sind-2875')
        AND D.FONDEADOR IN ( 'SHF','ION')
        AND @FechaIni <= D.FECHA_CALCULO AND D.FECHA_CALCULO < @FechaFinExclusiva
    GROUP BY D.ID_EXTERNO, D.FECHA_CALCULO
    ORDER BY FEC_CALCULO;

	DROP TABLE #RESULTADO_REPORTE;

END
GO
