SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250428
-- Descripcion:	Vista para los datos de cierre comercial de SAF de fin de mes 
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_CMR_MES_VIS]
	@FECHA DATE
AS
BEGIN
	SET NOCOUNT ON;

    -- Esta consulta se debe de sustituir en el FastReport Cierre Comercial KARDIA.rdl y dependientes
    SELECT MIN(NUM_CREDITO) AS NUM_CREDITO
        ,ID_EXTERNO
        ,MIN(ACREDITADO) AS ACREDITADO
        ,MIN(isnull(PROYECTO,'')) AS PROYECTO
        ,MIN(CANAL) AS CANAL
        ,MIN(isnull(CREDITO_TIPO,'')) AS CREDITO_TIPO
        ,MIN(CORTE) AS CORTE
        ,MIN(ESTADO_CARTERA) AS ESTADO_CARTERA
        ,MIN(CARTERA) AS CARTERA
        ,MIN(isnull(CEDIDO_ANT,'')) AS CEDIDO_ANT
        ,MIN(CEDIDO) AS CEDIDO
        ,MIN(RESTRINGIDO) AS TIPO_CARTERA
        ,isnull(FORMAT(MIN(APERTURA), 'dd/MM/yyyy'),'-') AS APERTURA
        ,isnull(FORMAT(MAX(VENCIMIENTO), 'dd/MM/yyyy'),'-') AS VENCIMIENTO

        ,SUM(isnull(SAL_CAPITAL_INI,0))     AS CAPITAL_INICIAL
        ,SUM(isnull(ANTICIPOS_MINISTRACIONES,0)) AS ANTICIPOS_MINISTRACIONES
        ,SUM(isnull(ACUMULADO_PRINCIPAL,0)) AS CAPITAL_PAGOS
        ,SUM(isnull(DESCUENTO_PRINCIPAL,0)) AS CAPITAL_DESCUENTO
        ,SUM(isnull(SAL_CAPITAL,0))         AS CAPITAL_FINAL
        --,SUM(isnull(SAL_CAPITAL,0) - (isnull(SAL_CAPITAL_INI,0)+isnull(ANTICIPOS_MINISTRACIONES,0)-isnull(ACUMULADO_PRINCIPAL,0)-isnull(DESCUENTO_PRINCIPAL,0))) AS CAPITAL_VALIDACION

        ,SUM(isnull(SAL_INTERESES_INI,0))   AS ORDINARIOS_INICIAL
        ,SUM(isnull(DEV_INTERESES,0))       AS ORDINARIOS_DEVENGO
        ,SUM(isnull(ACUMULADO_INTERESES,0)) AS ORDINARIOS_PAGOS
        ,SUM(isnull(DESCUENTO_INTERESES,0)) AS ORDINARIOS_DESCUENTO
        ,SUM(isnull(SAL_INTERESES,0))       AS ORDINARIOS_FINAL
        --,SUM(isnull(SAL_INTERESES,0) - (isnull(SAL_INTERESES_INI,0)+isnull(DEV_INTERESES,0)-isnull(ACUMULADO_INTERESES,0)-isnull(DESCUENTO_INTERESES,0))) AS ORDINARIOS_VALIDACION

        ,SUM(isnull(SAL_MORATORIO_INI,0))   AS MORATORIO_INICIAL
        ,SUM(isnull(DEV_MORATORIOS,0))      AS MORATORIO_DEVENGO
        ,SUM(isnull(ACUMULADO_MORATORIO,0)) AS MORATORIO_PAGOS
        ,SUM(isnull(DESCUENTO_MORATORIO,0)) AS MORATORIO_DESCUENTO
        ,SUM(isnull(SAL_MORATORIO,0))       AS MORATORIO_FINAL
        --,SUM(isnull(SAL_MORATORIO,0) - (isnull(SAL_MORATORIO_INI,0)+isnull(DEV_MORATORIOS,0)-isnull(ACUMULADO_MORATORIO,0)-isnull(DESCUENTO_MORATORIO,0))) AS MORATORIO_VALIDACION

        ,SUM(isnull(SAL_SEG_VID_INI,0))     AS SEGURO_VIDA_INICIAL
        ,SUM(isnull(DEV_SEG_VID,0))         AS SEGURO_VIDA_DEVENGO
        ,SUM(isnull(ACUMULADO_SEG_VID,0))   AS SEGURO_VIDA_PAGOS
        ,SUM(isnull(DESCUENTO_SEG_VID,0))   AS SEGURO_VIDA_DESCUENTO
        ,SUM(isnull(SAL_SEG_VID,0))         AS SEGURO_VIDA_FINAL
        --,SUM(isnull(SAL_SEG_VID,0) - (isnull(SAL_SEG_VID_INI,0)+isnull(DEV_SEG_VID,0)-isnull(ACUMULADO_SEG_VID,0)-isnull(DESCUENTO_SEG_VID,0))) AS SEGURO_VIDA_VALIDACION

        ,SUM(isnull(SAL_SEG_DAN_INI,0))     AS SEGURO_DANOS_INICIAL
        ,SUM(isnull(DEV_SEG_DAN,0))         AS SEGURO_DANOS_DEVENGO
        ,SUM(isnull(ACUMULADO_SEG_DAN,0))   AS SEGURO_DANOS_PAGOS
        ,SUM(isnull(DESCUENTO_SEG_DAN,0))   AS SEGURO_DANOS_DESCUENTO
        ,SUM(isnull(SAL_SEG_DAN,0))         AS SEGURO_DANOS_FINAL
        --,SUM(isnull(SAL_SEG_DAN,0) - (isnull(SAL_SEG_DAN_INI,0)+isnull(DEV_SEG_DAN,0)-isnull(ACUMULADO_SEG_DAN,0)-isnull(DESCUENTO_SEG_DAN,0))) AS SEGURO_DANOS_VALIDACION

        ,SUM(isnull(SAL_INTERESES_IVA_INI,0))   AS ORDINARIOS_IVA_INICIAL
        ,SUM(isnull(DEV_INTERESES_IVA,0))       AS ORDINARIOS_IVA_DEVENGO
        ,SUM(isnull(ACUMULADO_INTERESES_IVA,0)) AS ORDINARIOS_IVA_PAGOS
        ,SUM(isnull(DESCUENTO_INTERESES_IVA,0)) AS ORDINARIOS_IVA_DESCUENTO
        ,SUM(isnull(SAL_INTERESES_IVA,0))       AS ORDINARIOS_IVA_FINAL
        --,SUM(isnull(SAL_INTERESES_IVA,0) - (isnull(SAL_INTERESES_IVA_INI,0)+isnull(DEV_INTERESES_IVA,0)-isnull(ACUMULADO_INTERESES_IVA,0)-isnull(DESCUENTO_INTERESES_IVA,0))) AS ORDINARIOS_IVA_VALIDACION

        ,SUM(isnull(SAL_ORDEN_INTERESES,0))     AS SALDO_ORDEN_ORDINARIOS
        ,SUM(isnull(SAL_ORDEN_MORATORIOS,0))    AS SALDO_ORDEN_MORATORIOS
        ,SUM(isnull(SAL_ORDEN_SEG_VID,0))       AS SALDO_ORDEN_SEGURO_VIDA
        ,SUM(isnull(SAL_ORDEN_SEG_DAN,0))       AS SALDO_ORDEN_SEGURO_DANOS
        ,SUM(isnull(SAL_ORDEN_INTERESES_IVA,0)) AS SALDO_ORDEN_ORDINARIOS_IVA

        ,isnull(FORMAT(MIN(DEBE_DESDE), 'dd/MM/yyyy'),'-') AS DEBE_DESDE
        ,MAX(isnull(DIAS_VENCIDOS,0)) AS DIAS_VENCIDOS
        ,MAX(isnull(CUOTAS_VENCIDAS,'-')) AS CUOTAS_VENCIDAS
        ,MAX(ETAPA_RIESGO) AS ETAPA_RIESGO
        ,MAX(TASA_INTERES) AS TASA_INTERES
        ,MAX(isnull(PROGRAMA_COVID,0)) AS CUOTAS_COVID_POSPUESTAS
        ,MAX(case when isnull(PROGRAMA_COVID,0)>0 then 'S' else 'N' end) AS PROGRAMA_COVID
        ,case when MIN(SECCION) in (101,102,103,104,105,3) then 0 else isnull(SUM(SALDO_PRINCIPAL_COVID_INI),0) end AS SALDO_COVID_PRINCIPAL_INICIAL
        ,case when MIN(SECCION) in (101,102,103,104,105,3) then 0 else isnull(SUM(SALDO_PRINCIPAL_COVID_FIN),0) end AS SALDO_COVID_PRINCIPAL_FINAL
        ,case when MIN(SECCION) in (101,102,103,104,105,3) then 0 else isnull(SUM(SALDO_INTERESES_COVID_INI),0) end AS SALDO_COVID_INTERESES_INICIAL
        ,case when MIN(SECCION) in (101,102,103,104,105,3) then 0 else isnull(SUM(SALDO_INTERESES_COVID_FIN),0) end AS SALDO_COVID_INTERESES_FINAL
        ,case when MIN(SECCION) in (101,102,103,104,105,3) then 0 else SUM(isnull(SAL_COVID_MORATORIO,0)) end AS SALDO_COVID_MORATORIO_FINAL
        ,case when MIN(SECCION) in (101,102,103,104,105,3) then 0 else SUM(isnull(SAL_COVID_SEG_VID,0)) end AS SALDO_COVID_SEGURO_VIDA_FINAL
        ,case when MIN(SECCION) in (101,102,103,104,105,3) then 0 else SUM(isnull(SAL_COVID_SEG_DAN,0)) end AS SALDO_COVID_SEGURO_DANOS_FINAL

        ,MIN(SECCION) AS SECCION
        ,MIN(SECCION_DESC) AS SECCION_DESC


        /*
        --,isnull(DEV_COMISIONES,0) AS DEV_COMISIONES

        ,PAGADO_CAPITAL
        ,MONTO_QUITAS
        ,CAPITAL_FINAL
        ,SALDO_INTERESES_ORDINARIOS_INI
        ,isnull(DEV_INTERESES,0) AS DEV_INTERESES
        --,PAGADO_INTERESES
        ,SALDO_INTERESES_ORDINARIOS_FIN


        ,ADMINISTRADA
        ,OPERACION
        ,CARTERA_SHF_70
        ,SALDO_INI_AJUSTE
        ,INTERESES_EXIGIBLES_ANT
        ,INTERESES_NO_EXIGIBLES_ANT
        ,INTERESES_EXIGIBLES
        ,INTERESES_NO_EXIGIBLES
        ,SEGUROS
        ,INTERESES_VENCIDOS_IVA
        ,SEGUROS_VENCIDOS
        ,AMORTIZACION_VENCIDA
        ,MORATORIOS
        ,MORATORIOS_IVA
        ,INTERESES_ACCESORIOS
        ,PAGADO_INTERESES_EXIGIBLES
        ,PAGADO_INTERESES_IVA
        ,PAGADO_SEGURO_VIDA
        ,PAGADO_SEGURO_DANOS
        ,PAGADO_MORATORIOS
        ,PAGADO_MORATORIOS_IVA
        ,PAGADO_TOTAL
        ,RECALCULO_INTERESES
        ,RECLASIFICACION_COBRANZA
        ,DISPONIBLE
        ,MONTO_CONDONACION
        ,MONTO_CASTIGOS
        ,MONTO_BONIFICACION
        ,MONTO_DESCUENTO
        ,MONTO_EXIGIBLE
        ,isnull(ETAPA_RIESGO_ANT,'') AS ETAPA_RIESGO_ANT
        ,CAPITAL_VENCIDO
        ,isnull(ESTADO_CARTERA_ANT,'') AS ESTADO_CARTERA_ANT
        ,isnull(CARTERA_ANT,'') AS CARTERA_ANT
        ,ORDEN_SEGUROS
        ,ORDEN_INTERESES
        ,isnull(FORMAT(POSTERGAR_FIN, 'dd/MM/yyyy'),'') AS POSTERGAR_FIN
        ,isnull(ORDEN_IVA,0) AS ORDEN_IVA
        ,LINEA
        ,isnull(FORMAT(LIQUIDADO, 'dd/MM/yyyy'),'') AS LIQUIDADO
        ,PLAZO
        ,CARTERA_TIPO
        ,TASA_TIPO
        ,isnull(POSTERGAR_TOTAL,0) AS POSTERGAR_TOTAL
        ,isnull(GENERA_IVA,'') AS GENERA_IVA
        ,SALDO_CAPITAL_INTERESES
        ,SALDO_PRINCIPAL_INI
        ,SALDO_PRINCIPAL_FIN
        ,SALDO_MORATORIOS
        ,SALDO_MORATORIOS_COMISIONES_INI
        ,SALDO_IVA_BALANCE
        ,SALDO_IVA_ORDEN
        ,SALDO_SEGURO_BALANCE
        ,SALDO_SEGURO_ORDEN
        ,SALDO_INTERESES_ORDEN
        ,SALDO_MORATORIOS_COMISIONES_ORDEN
        ,isnull(DEV_MORATORIOS_COMISIONES,0) AS DEV_MORATORIOS_COMISIONES
        */
    FROM [CIERRE].[CMR_REP]
    where FECHA_SISTEMA = @FECHA and SECCION != 2
    GROUP BY ID_EXTERNO
    --and (
    --isnull(SAL_CAPITAL,0) - (isnull(SAL_CAPITAL_INI,0)+isnull(ANTICIPOS_MINISTRACIONES,0)-isnull(ACUMULADO_PRINCIPAL,0)-isnull(DESCUENTO_PRINCIPAL,0)) > .02
    --abs(isnull(SAL_INTERESES,0) - (isnull(SAL_INTERESES_INI,0)+isnull(DEV_INTERESES,0)-isnull(ACUMULADO_INTERESES,0)-isnull(DESCUENTO_INTERESES,0))) > .02
    --abs(isnull(SAL_MORATORIO,0) - (isnull(SAL_MORATORIO_INI,0)+isnull(DEV_MORATORIOS,0)-isnull(ACUMULADO_MORATORIO,0)-isnull(DESCUENTO_MORATORIO,0))) > .02
    --abs(isnull(SAL_SEG_VID,0) - (isnull(SAL_SEG_VID_INI,0)+isnull(DEV_SEG_VID,0)-isnull(ACUMULADO_SEG_VID,0)-isnull(DESCUENTO_SEG_VID,0))) > .02
    --abs(isnull(SAL_SEG_DAN,0) - (isnull(SAL_SEG_DAN_INI,0)+isnull(DEV_SEG_DAN,0)-isnull(ACUMULADO_SEG_DAN,0)-isnull(DESCUENTO_SEG_DAN,0))) > .02
    --abs(isnull(SAL_INTERESES_IVA,0) - (isnull(SAL_INTERESES_IVA_INI,0)+isnull(DEV_INTERESES_IVA,0)-isnull(ACUMULADO_INTERESES_IVA,0)-isnull(DESCUENTO_INTERESES_IVA,0))) > .02
    --or num_credito = 4736
    --)
END
GO
