SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[STG_NA_CHECKLIST](
	[cid] [uniqueidentifier] NULL,
	[area] [nvarchar](100) NULL,
	[item] [nvarchar](300) NULL,
	[seccion] [varchar](4) NULL
) ON [PRIMARY]
GO
