SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CIERRE_PUENTE_BITACORA](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[nivel] [nvarchar](20) NOT NULL,
	[referencia_id] [nvarchar](300) NULL,
	[tipo] [nvarchar](40) NOT NULL,
	[estado_revision] [nvarchar](20) NULL,
	[comentario] [nvarchar](max) NULL,
	[fecha_compromiso] [datetime2](7) NULL,
	[excepcion_origen_id] [uniqueidentifier] NULL,
	[usuario] [nvarchar](256) NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[respuesta_a] [uniqueidentifier] NULL,
	[borrado_por] [nvarchar](256) NULL,
	[fecha_borrado] [datetime2](7) NULL,
 CONSTRAINT [PK_CIERRE_PUENTE_BITACORA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CIERRE_PUENTE_BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_CIERRE_PUENTE_BITACORA_CREDITOS_PUENTE_credito_puente_id] FOREIGN KEY([credito_puente_id])
REFERENCES [cierre_puente].[CREDITOS_PUENTE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[CIERRE_PUENTE_BITACORA] CHECK CONSTRAINT [FK_CIERRE_PUENTE_BITACORA_CREDITOS_PUENTE_credito_puente_id]
GO
