SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CHECKLIST_GRUPO_VOBO](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[checklist_grupo_id] [uniqueidentifier] NOT NULL,
	[estatus] [nvarchar](20) NOT NULL,
	[aprobado_por] [nvarchar](256) NULL,
	[fecha_aprobacion] [datetime2](7) NULL,
	[revocado_por] [nvarchar](256) NULL,
	[fecha_revocacion] [datetime2](7) NULL,
	[motivo_revocacion] [nvarchar](max) NULL,
	[categorizacion_por] [nvarchar](256) NULL,
	[categorizacion_fecha] [datetime2](7) NULL,
 CONSTRAINT [PK_CHECKLIST_GRUPO_VOBO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO_VOBO]  WITH CHECK ADD  CONSTRAINT [FK_CHECKLIST_GRUPO_VOBO_CHECKLIST_GRUPO_checklist_grupo_id] FOREIGN KEY([checklist_grupo_id])
REFERENCES [cierre_puente].[CHECKLIST_GRUPO] ([Id])
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO_VOBO] CHECK CONSTRAINT [FK_CHECKLIST_GRUPO_VOBO_CHECKLIST_GRUPO_checklist_grupo_id]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO_VOBO]  WITH CHECK ADD  CONSTRAINT [FK_CHECKLIST_GRUPO_VOBO_CREDITOS_PUENTE_credito_puente_id] FOREIGN KEY([credito_puente_id])
REFERENCES [cierre_puente].[CREDITOS_PUENTE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO_VOBO] CHECK CONSTRAINT [FK_CHECKLIST_GRUPO_VOBO_CREDITOS_PUENTE_credito_puente_id]
GO
