SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CHECK_ITEM_PUNTO_RESULTADO](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[checklist_item_punto_id] [uniqueidentifier] NOT NULL,
	[Resultado] [nvarchar](20) NOT NULL,
	[Origen] [nvarchar](10) NOT NULL,
	[valor_evaluado] [nvarchar](500) NULL,
	[valor_esperado] [nvarchar](500) NULL,
	[Detalle] [nvarchar](max) NULL,
	[area_revisora] [nvarchar](30) NULL,
	[revisado_por] [nvarchar](256) NULL,
	[fecha_revision] [datetime] NULL,
 CONSTRAINT [PK_CHECK_ITEM_PUNTO_RESULTADO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CHECK_ITEM_PUNTO_RESULTADO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[CHECK_ITEM_PUNTO_RESULTADO] ADD  CONSTRAINT [DF_CIPR_RESULTADO]  DEFAULT ('Pendiente') FOR [Resultado]
GO
ALTER TABLE [cierre_puente].[CHECK_ITEM_PUNTO_RESULTADO] ADD  CONSTRAINT [DF_CIPR_ORIGEN]  DEFAULT ('Manual') FOR [Origen]
GO
ALTER TABLE [cierre_puente].[CHECK_ITEM_PUNTO_RESULTADO]  WITH CHECK ADD  CONSTRAINT [FK_CIPR_CREDITO] FOREIGN KEY([credito_puente_id])
REFERENCES [cierre_puente].[CREDITOS_PUENTE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[CHECK_ITEM_PUNTO_RESULTADO] CHECK CONSTRAINT [FK_CIPR_CREDITO]
GO
ALTER TABLE [cierre_puente].[CHECK_ITEM_PUNTO_RESULTADO]  WITH CHECK ADD  CONSTRAINT [FK_CIPR_PUNTO] FOREIGN KEY([checklist_item_punto_id])
REFERENCES [cierre_puente].[CHECKLIST_ITEM_PUNTO] ([Id])
GO
ALTER TABLE [cierre_puente].[CHECK_ITEM_PUNTO_RESULTADO] CHECK CONSTRAINT [FK_CIPR_PUNTO]
GO
