SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CONDICION_COMITE](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[categoria] [nvarchar](30) NOT NULL,
	[descripcion] [nvarchar](1000) NOT NULL,
	[estatus] [nvarchar](30) NOT NULL,
	[orden] [int] NOT NULL,
	[origen] [nvarchar](30) NOT NULL,
	[fuente_documento] [nvarchar](400) NULL,
	[fecha_compromiso] [datetime2](7) NULL,
	[fecha_cumplimiento] [datetime2](7) NULL,
	[cumplido_por] [nvarchar](200) NULL,
	[comentario] [nvarchar](1000) NULL,
	[creado_por] [nvarchar](200) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[activo] [bit] NOT NULL,
	[asignado_a] [nvarchar](200) NULL,
	[es_propuesta] [bit] NOT NULL,
 CONSTRAINT [PK_CONDICION_COMITE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CONDICION_COMITE] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[CONDICION_COMITE] ADD  CONSTRAINT [DF_CONDICION_COMITE_estatus]  DEFAULT (N'Pendiente') FOR [estatus]
GO
ALTER TABLE [cierre_puente].[CONDICION_COMITE] ADD  CONSTRAINT [DF_CONDICION_COMITE_orden]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [cierre_puente].[CONDICION_COMITE] ADD  CONSTRAINT [DF_CONDICION_COMITE_origen]  DEFAULT (N'Manual') FOR [origen]
GO
ALTER TABLE [cierre_puente].[CONDICION_COMITE] ADD  CONSTRAINT [DF_CONDICION_COMITE_fecha]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [cierre_puente].[CONDICION_COMITE] ADD  CONSTRAINT [DF_CONDICION_COMITE_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [cierre_puente].[CONDICION_COMITE] ADD  CONSTRAINT [DF_CONDICION_COMITE_es_propuesta]  DEFAULT ((0)) FOR [es_propuesta]
GO
ALTER TABLE [cierre_puente].[CONDICION_COMITE]  WITH CHECK ADD  CONSTRAINT [FK_CONDICION_COMITE_Credito] FOREIGN KEY([credito_puente_id])
REFERENCES [cierre_puente].[CREDITOS_PUENTE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[CONDICION_COMITE] CHECK CONSTRAINT [FK_CONDICION_COMITE_Credito]
GO
