SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [CIERRE].[SP_CAS_CIERRE_RPT]
(
    @Fecha DATE
)
AS
BEGIN

    SET NOCOUNT ON

	select TIPO,NUM_CREDITO,SUM(SALDO) AS SALDO,SUM(SALDO_IVA) AS SALDO_IVA
	into #OTROS
    from [CIERRE].[SAF_SALDOS]
    where rubro in ('ASE_FINANCIERA','COM_CIERRE_OBRA','COM_PRORROGA','COM_REESTRUCTURA','OPI_VALOR','VISITA_EXTRA')
        and FECHA_SISTEMA = @Fecha
    group by TIPO,NUM_CREDITO


    SELECT       
		MIN(FC.FECHA) AS FECHA_CASTIGO,
		C.ID_EXTERNO,
		MIN(DBO.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO,PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE,PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)) AS ACREDITADO,
		MIN(ISNULL(CR.DESARROLLO, 'NA')) AS PROYECTO,
		MIN(CASE WHEN CP.NOMBRE IS NULL
			THEN C.TIPO_VIVIENDA
            ELSE CP.NOMBRE END) AS TIPO_CREDITO,
		MIN(CASE 
                WHEN C.ID_FONDEO = 2 THEN 'SIN RESTRICCION'
                ELSE 'RESTRINGIDO'
            END) AS TIPO_CARTERA,
		MIN(CASE WHEN CP.NOMBRE IS NULL
			THEN CASE WHEN C.TIPO_VIVIENDA = 'CONSUMO'
			THEN 'CONSUMO'
            ELSE 'VIVIENDA' END
            ELSE 'COMERCIAL' END) AS CARTERA,
		MIN(C.IND_ETAPA) AS ETAPA,


		SUM(ISNULL(S_PRINCIPAL.SALDO,0)) AS PRINCIPAL,
		SUM(ISNULL(S_INTERESES.SALDO,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO,0) - ISNULL(SO_INTERESES.SALDO,0) - ISNULL(SK_INTERESES.SALDO,0)) AS INTERESES, -- BALANCE
		SUM(ISNULL(S_MORATORIO.SALDO,0) - ISNULL(SO_MORATORIO.SALDO,0) - ISNULL(SK_MORATORIO.SALDO,0) + ISNULL(S_COMISION.SALDO,0) - ISNULL(SO_COMISION.SALDO,0) - ISNULL(SK_COMISION.SALDO,0)) AS COM_ADM_MORATORIOS, -- BALANCE
		SUM(ISNULL(S_PRINCIPAL.SALDO,0) + ISNULL(S_INTERESES.SALDO,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO,0) - ISNULL(SO_INTERESES.SALDO,0) - ISNULL(SK_INTERESES.SALDO,0) + ISNULL(S_MORATORIO.SALDO,0) - ISNULL(SO_MORATORIO.SALDO,0) - ISNULL(SK_MORATORIO.SALDO,0) + ISNULL(S_COMISION.SALDO,0) - ISNULL(SO_COMISION.SALDO,0) - ISNULL(SK_COMISION.SALDO,0)) AS SALDO_CARTERA_CASTIGADA,--SALDO_CARTERA_BALANCE,
		SUM(ISNULL(S_INTERESES.SALDO_IVA,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO_IVA,0) - ISNULL(SO_INTERESES.SALDO_IVA,0) - ISNULL(SK_INTERESES.SALDO_IVA,0)) AS IVA_INTERESES,-- BALANCE,
		SUM(ISNULL(S_MORATORIO.SALDO_IVA,0) - ISNULL(SO_MORATORIO.SALDO_IVA,0) - ISNULL(SK_MORATORIO.SALDO_IVA,0) + ISNULL(S_COMISION.SALDO_IVA,0) - ISNULL(SO_COMISION.SALDO_IVA,0) - ISNULL(SK_COMISION.SALDO_IVA,0)) AS IVA_COM_ADM_MORATORIOS, -- BALANCE
		SUM(ISNULL(S_SEG_VID.SALDO,0) + ISNULL(S_SEG_DAN.SALDO,0) - ISNULL(SO_SEG_VID.SALDO,0) - ISNULL(SO_SEG_DAN.SALDO,0) - ISNULL(SK_SEG_VID.SALDO,0) - ISNULL(SK_SEG_DAN.SALDO,0)) AS SEGUROS, -- BALANCE,
		SUM(ISNULL(S_SEG_VID.SALDO_IVA,0) + ISNULL(S_SEG_DAN.SALDO_IVA,0) - ISNULL(SO_SEG_VID.SALDO_IVA,0) - ISNULL(SO_SEG_DAN.SALDO_IVA,0) - ISNULL(SK_SEG_VID.SALDO_IVA,0) - ISNULL(SK_SEG_DAN.SALDO_IVA,0)) AS IVA_SEGUROS, -- BALANCE,

		SUM(ISNULL(S_INTERESES.SALDO_IVA,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO_IVA,0) - ISNULL(SO_INTERESES.SALDO_IVA,0) - ISNULL(SK_INTERESES.SALDO_IVA,0)) -- IVA_INTERESES
		+ SUM(ISNULL(S_MORATORIO.SALDO_IVA,0) - ISNULL(SO_MORATORIO.SALDO_IVA,0) - ISNULL(SK_MORATORIO.SALDO_IVA,0) + ISNULL(S_COMISION.SALDO_IVA,0) - ISNULL(SO_COMISION.SALDO_IVA,0) - ISNULL(SK_COMISION.SALDO_IVA,0)) -- IVA_COM_ADM_MORATORIOS
		+ SUM(ISNULL(S_SEG_VID.SALDO,0) + ISNULL(S_SEG_DAN.SALDO,0) - ISNULL(SO_SEG_VID.SALDO,0) - ISNULL(SO_SEG_DAN.SALDO,0) - ISNULL(SK_SEG_VID.SALDO,0) - ISNULL(SK_SEG_DAN.SALDO,0)) -- SEGUROS  BALANCE,
		+ SUM(ISNULL(S_SEG_VID.SALDO_IVA,0) + ISNULL(S_SEG_DAN.SALDO_IVA,0) - ISNULL(SO_SEG_VID.SALDO_IVA,0) - ISNULL(SO_SEG_DAN.SALDO_IVA,0) - ISNULL(SK_SEG_VID.SALDO_IVA,0) - ISNULL(SK_SEG_DAN.SALDO_IVA,0)) -- IVA_SEGUROS BALANCE
		  AS SALDO_ACCESORIOS,
		SUM(ISNULL(S_OTRO.SALDO,0)-ISNULL(SO_OTRO.SALDO,0)-ISNULL(SK_OTRO.SALDO,0)) AS OTROS,-- BALANCE
        SUM(ISNULL(S_OTRO.SALDO_IVA,0)-ISNULL(SO_OTRO.SALDO_IVA,0)-ISNULL(SK_OTRO.SALDO_IVA,0)) AS IVA_OTROS,-- BALANCE

		SUM(ISNULL(S_PRINCIPAL.SALDO,0)) -- PRINCIPAL
		+ SUM(ISNULL(S_INTERESES.SALDO,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO,0) - ISNULL(SO_INTERESES.SALDO,0) - ISNULL(SK_INTERESES.SALDO,0)) -- INTERESES  BALANCE
		+ SUM(ISNULL(S_MORATORIO.SALDO,0) - ISNULL(SO_MORATORIO.SALDO,0) - ISNULL(SK_MORATORIO.SALDO,0) + ISNULL(S_COMISION.SALDO,0) - ISNULL(SO_COMISION.SALDO,0) - ISNULL(SK_COMISION.SALDO,0)) -- COM_ADM_MORATORIOS BALANCE
		+ SUM(ISNULL(S_INTERESES.SALDO_IVA,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO_IVA,0) - ISNULL(SO_INTERESES.SALDO_IVA,0) - ISNULL(SK_INTERESES.SALDO_IVA,0)) -- IVA_INTERESES
		+ SUM(ISNULL(S_MORATORIO.SALDO_IVA,0) - ISNULL(SO_MORATORIO.SALDO_IVA,0) - ISNULL(SK_MORATORIO.SALDO_IVA,0) + ISNULL(S_COMISION.SALDO_IVA,0) - ISNULL(SO_COMISION.SALDO_IVA,0) - ISNULL(SK_COMISION.SALDO_IVA,0)) -- IVA_COM_ADM_MORATORIOS
		+ SUM(ISNULL(S_SEG_VID.SALDO,0) + ISNULL(S_SEG_DAN.SALDO,0) - ISNULL(SO_SEG_VID.SALDO,0) - ISNULL(SO_SEG_DAN.SALDO,0) - ISNULL(SK_SEG_VID.SALDO,0) - ISNULL(SK_SEG_DAN.SALDO,0)) -- SEGUROS  BALANCE,
		+ SUM(ISNULL(S_SEG_VID.SALDO_IVA,0) + ISNULL(S_SEG_DAN.SALDO_IVA,0) - ISNULL(SO_SEG_VID.SALDO_IVA,0) - ISNULL(SO_SEG_DAN.SALDO_IVA,0) - ISNULL(SK_SEG_VID.SALDO_IVA,0) - ISNULL(SK_SEG_DAN.SALDO_IVA,0)) -- IVA_SEGUROS BALANCE
		+ SUM(ISNULL(S_OTRO.SALDO,0)-ISNULL(SO_OTRO.SALDO,0)-ISNULL(SK_OTRO.SALDO,0)) -- OTROS BALANCE
        + SUM(ISNULL(S_OTRO.SALDO_IVA,0)-ISNULL(SO_OTRO.SALDO_IVA,0)-ISNULL(SK_OTRO.SALDO_IVA,0)) -- IVA_OTROS BALANCE
		  AS TOTAL_BALANCE,

		SUM(ISNULL(SO_INTERESES.SALDO,0)) AS INTERESES_CO,
		SUM(ISNULL(SO_INTERESES.SALDO_IVA,0)) AS IVA_INTERESES_CO,
		SUM(ISNULL(SO_MORATORIO.SALDO,0) + ISNULL(SO_COMISION.SALDO,0)) AS COM_ADM_MORATORIOS_CO,
		SUM(ISNULL(SO_MORATORIO.SALDO_IVA,0) + ISNULL(SO_COMISION.SALDO_IVA,0)) AS IVA_COM_ADM_MORATORIOS_CO,
		SUM(ISNULL(SO_SEG_VID.SALDO,0) + ISNULL(SO_SEG_DAN.SALDO,0)) AS SEGUROS_CO,
		SUM(ISNULL(SO_SEG_VID.SALDO_IVA,0) + ISNULL(SO_SEG_DAN.SALDO_IVA,0)) AS IVA_SEGUROS_CO,
		SUM(ISNULL(SO_OTRO.SALDO,0)) AS OTROS_CO,
        SUM(ISNULL(SO_OTRO.SALDO_IVA,0)) AS IVA_OTROS_CO,

		SUM(ISNULL(SO_INTERESES.SALDO,0)) -- INTERESES_CO
		+ SUM(ISNULL(SO_INTERESES.SALDO_IVA,0)) -- IVA_INTERESES_CO
		+ SUM(ISNULL(SO_MORATORIO.SALDO,0) + ISNULL(SO_COMISION.SALDO,0)) -- COM_ADM_MORATORIOS_CO
		+ SUM(ISNULL(SO_MORATORIO.SALDO_IVA,0) + ISNULL(SO_COMISION.SALDO_IVA,0)) -- IVA_COM_ADM_MORATORIOS_CO
		+ SUM(ISNULL(SO_SEG_VID.SALDO,0) + ISNULL(SO_SEG_DAN.SALDO,0)) -- SEGUROS_CO
		+ SUM(ISNULL(SO_SEG_VID.SALDO_IVA,0) + ISNULL(SO_SEG_DAN.SALDO_IVA,0)) -- IVA_SEGUROS_CO
		+ SUM(ISNULL(SO_OTRO.SALDO,0)) -- OTROS_CO
        + SUM(ISNULL(SO_OTRO.SALDO_IVA,0)) -- IVA_OTROS_CO
		  AS TOTAL_CO,
		SUM(ISNULL(S_PRINCIPAL.SALDO,0)) -- PRINCIPAL
		+ SUM(ISNULL(S_INTERESES.SALDO,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO,0) - ISNULL(SK_INTERESES.SALDO,0)) -- INTERESES  BALANCE
		+ SUM(ISNULL(S_MORATORIO.SALDO,0) - ISNULL(SK_MORATORIO.SALDO,0) + ISNULL(S_COMISION.SALDO,0) - ISNULL(SK_COMISION.SALDO,0)) -- COM_ADM_MORATORIOS BALANCE
		+ SUM(ISNULL(S_INTERESES.SALDO_IVA,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO_IVA,0) - ISNULL(SK_INTERESES.SALDO_IVA,0)) -- IVA_INTERESES
		+ SUM(ISNULL(S_MORATORIO.SALDO_IVA,0) - ISNULL(SK_MORATORIO.SALDO_IVA,0) + ISNULL(S_COMISION.SALDO_IVA,0) - ISNULL(SK_COMISION.SALDO_IVA,0)) -- IVA_COM_ADM_MORATORIOS
		+ SUM(ISNULL(S_SEG_VID.SALDO,0) + ISNULL(S_SEG_DAN.SALDO,0) - ISNULL(SK_SEG_VID.SALDO,0) - ISNULL(SK_SEG_DAN.SALDO,0)) -- SEGUROS  BALANCE
		+ SUM(ISNULL(S_SEG_VID.SALDO_IVA,0) + ISNULL(S_SEG_DAN.SALDO_IVA,0) - ISNULL(SK_SEG_VID.SALDO_IVA,0) - ISNULL(SK_SEG_DAN.SALDO_IVA,0)) -- IVA_SEGUROS BALANCE
		+ SUM(ISNULL(S_OTRO.SALDO,0)-ISNULL(SK_OTRO.SALDO,0)) -- OTROS BALANCE
        + SUM(ISNULL(S_OTRO.SALDO_IVA,0)-ISNULL(SK_OTRO.SALDO_IVA,0)) -- IVA_OTROS BALANCE
		  AS TOTAL_CASTIGO,

        SUM(ISNULL(SK_INTERESES.SALDO,0)) AS INTERESES_POST,
        SUM(ISNULL(SK_MORATORIO.SALDO,0) + ISNULL(SK_COMISION.SALDO,0)) AS IVA_INTERESES_POST,
        SUM(ISNULL(SK_INTERESES.SALDO_IVA,0)) AS COM_ADM_MORATORIOS_POST,
        SUM(ISNULL(SK_MORATORIO.SALDO_IVA,0) + ISNULL(SK_COMISION.SALDO_IVA,0)) AS IVA_COM_ADM_MORATORIOS_POST,
        SUM(ISNULL(SK_SEG_VID.SALDO,0) + ISNULL(SK_SEG_DAN.SALDO,0)) AS SEGUROS_POST,
        SUM(ISNULL(SK_SEG_VID.SALDO_IVA,0) + ISNULL(SK_SEG_DAN.SALDO_IVA,0)) AS IVA_SEGUROS_POST,
        SUM(ISNULL(SK_OTRO.SALDO,0)) AS OTROS_POST,
        SUM(ISNULL(SK_OTRO.SALDO_IVA,0)) AS IVA_OTROS_POST,

        SUM(ISNULL(SK_INTERESES.SALDO,0)) -- INTERESES_POST
        + SUM(ISNULL(SK_MORATORIO.SALDO,0) + ISNULL(SK_COMISION.SALDO,0)) -- IVA_INTERESES_POST
        + SUM(ISNULL(SK_INTERESES.SALDO_IVA,0)) -- COM_ADM_MORATORIOS_POST
        + SUM(ISNULL(SK_MORATORIO.SALDO_IVA,0) + ISNULL(SK_COMISION.SALDO_IVA,0)) -- IVA_COM_ADM_MORATORIOS_POST
        + SUM(ISNULL(SK_SEG_VID.SALDO,0) + ISNULL(SK_SEG_DAN.SALDO,0)) -- SEGUROS_POST
        + SUM(ISNULL(SK_SEG_VID.SALDO_IVA,0) + ISNULL(SK_SEG_DAN.SALDO_IVA,0)) -- IVA_SEGUROS_POST
        + SUM(ISNULL(SK_OTRO.SALDO,0)) -- OTROS_POST,
        + SUM(ISNULL(SK_OTRO.SALDO_IVA,0)) -- IVA_OTROS_POST,

         AS TOTAL_POSTERIOR
		

    FROM PO.CONTROL_HISTORICO_TRASPASOS C
		INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS CR WITH (NOLOCK) ON CR.NUM_CREDITO = C.NUM_CREDITO
        LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = C.ID_PRODUCTO
		LEFT JOIN PO.FECHA_CASTIGO FC WITH (NOLOCK) ON FC.NUM_CREDITO = C.NUM_CREDITO
        LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON CR.COD_EMPRESA = PJ.COD_EMPRESA AND CR.COD_CLIENTE = PJ.COD_CLIENTE
        LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON CR.COD_EMPRESA = PF.COD_EMPRESA AND CR.COD_CLIENTE = PF.COD_CLIENTE
		--Saldos totales
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_PRINCIPAL ON S_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND S_PRINCIPAL.RUBRO = 'PRINCIPAL' AND S_PRINCIPAL.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_PRINCIPAL.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_INTERESES ON S_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND S_INTERESES.RUBRO = 'INTERESES' AND S_INTERESES.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_INTERESES.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_VID   ON S_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND S_SEG_VID.RUBRO = 'SEGURO_VIDA' AND S_SEG_VID.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_SEG_VID.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_DAN   ON S_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND S_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND S_SEG_DAN.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_SEG_DAN.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_MORATORIO ON S_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND S_MORATORIO.RUBRO = 'MORATORIOS' AND S_MORATORIO.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_MORATORIO.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_COMISION  ON S_COMISION.NUM_CREDITO = C.NUM_CREDITO AND S_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND S_COMISION.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_COMISION.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_INT_NO_EXIGIBLE ON S_INT_NO_EXIGIBLE.NUM_CREDITO = C.NUM_CREDITO AND S_INT_NO_EXIGIBLE.RUBRO = 'INTERES_NO_EXIGIBLES' AND S_INT_NO_EXIGIBLE.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_INT_NO_EXIGIBLE.TIPO='N'
		LEFT JOIN #OTROS S_OTRO ON S_OTRO.NUM_CREDITO = C.NUM_CREDITO AND S_OTRO.TIPO='N'
		--saldos orden 
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_INTERESES ON SO_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SO_INTERESES.RUBRO = 'INTERESES' AND SO_INTERESES.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_INTERESES.TIPO='O'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_SEG_VID   ON SO_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND SO_SEG_VID.RUBRO = 'SEGURO_VIDA' AND SO_SEG_VID.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_SEG_VID.TIPO='O'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_SEG_DAN   ON SO_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND SO_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND SO_SEG_DAN.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_SEG_DAN.TIPO='O'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_MORATORIO ON SO_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND SO_MORATORIO.RUBRO = 'MORATORIOS' AND SO_MORATORIO.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_MORATORIO.TIPO='O'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_COMISION  ON SO_COMISION.NUM_CREDITO = C.NUM_CREDITO AND SO_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND SO_COMISION.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_COMISION.TIPO='O'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_INT_NO_EXIGIBLE ON SO_INT_NO_EXIGIBLE.NUM_CREDITO = C.NUM_CREDITO AND SO_INT_NO_EXIGIBLE.RUBRO = 'INTERES_NO_EXIGIBLES' AND SO_INT_NO_EXIGIBLE.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_INT_NO_EXIGIBLE.TIPO='O'
		LEFT JOIN #OTROS SO_OTRO ON SO_OTRO.NUM_CREDITO = C.NUM_CREDITO AND SO_OTRO.TIPO='O'
		--saldos castigo 
		LEFT JOIN [CIERRE].[SAF_SALDOS] SK_INTERESES ON SK_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SK_INTERESES.RUBRO = 'INTERESES' AND SK_INTERESES.FECHA_SISTEMA=C.FECHA_SISTEMA AND SK_INTERESES.TIPO='K'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SK_SEG_VID   ON SK_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND SK_SEG_VID.RUBRO = 'SEGURO_VIDA' AND SK_SEG_VID.FECHA_SISTEMA=C.FECHA_SISTEMA AND SK_SEG_VID.TIPO='K'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SK_SEG_DAN   ON SK_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND SK_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND SK_SEG_DAN.FECHA_SISTEMA=C.FECHA_SISTEMA AND SK_SEG_DAN.TIPO='K'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SK_MORATORIO ON SK_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND SK_MORATORIO.RUBRO = 'MORATORIOS' AND SK_MORATORIO.FECHA_SISTEMA=C.FECHA_SISTEMA AND SK_MORATORIO.TIPO='K'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SK_COMISION  ON SK_COMISION.NUM_CREDITO = C.NUM_CREDITO AND SK_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND SK_COMISION.FECHA_SISTEMA=C.FECHA_SISTEMA AND SK_COMISION.TIPO='K'
		LEFT JOIN #OTROS SK_OTRO ON SK_OTRO.NUM_CREDITO = C.NUM_CREDITO AND SK_OTRO.TIPO='K'
	WHERE C.FECHA_SISTEMA = @Fecha
		and C.NUM_DESC_TIPO_CREDITO in (26--individual
										,25,29)--comercial
	GROUP BY C.ID_EXTERNO

END
GO
