SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CIERRE].[CMR_DIA_REP](
	[ID] [uniqueidentifier] NOT NULL,
	[FECHA_SISTEMA] [date] NOT NULL,
	[NUM_CREDITO] [int] NOT NULL,
	[ID_EXTERNO] [varchar](15) NULL,
	[ACREDITADO] [varchar](270) NULL,
	[PROYECTO] [varchar](150) NULL,
	[LINEA] [numeric](16, 2) NULL,
	[DISPUESTO] [numeric](16, 2) NULL,
	[CAPITAL_FINAL] [numeric](16, 2) NULL,
	[PLAZO] [int] NULL,
	[TASA_INTERES] [numeric](10, 2) NULL,
	[APERTURA] [datetime] NULL,
	[VENCIMIENTO] [datetime] NULL,
	[LIQUIDADO] [date] NULL,
	[CUOTAS_VENCIDAS] [int] NULL,
	[DIAS_VENCIDOS] [int] NULL,
	[DEBE_DESDE] [datetime] NULL,
	[ETAPA_RIESGO] [varchar](5) NULL,
	[CEDIDO] [varchar](100) NULL,
	[CORTE] [int] NULL,
	[PROGRAMA_COVID] [varchar](10) NULL,
	[POSTERGAR_FIN] [date] NULL,
	[POSTERGAR_TOTAL] [numeric](16, 2) NULL,
	[CREDITO_TIPO] [varchar](60) NULL,
	[TASA_TIPO] [varchar](10) NULL,
	[GENERA_IVA] [varchar](10) NULL,
	[CANAL] [varchar](10) NULL,
	[SALDO_CAPITAL_MONTO] [numeric](16, 2) NULL,
	[SALDO_PRINCIPAL_MONTO] [numeric](16, 2) NULL,
	[SALDO_INTERESES_MONTO] [numeric](16, 2) NULL,
	[SALDO_INTERESES_IVA] [numeric](16, 2) NULL,
	[SALDO_SEG_VID_MONTO] [numeric](16, 2) NULL,
	[SALDO_SEG_DAN_MONTO] [numeric](16, 2) NULL,
	[SALDO_MORATORIO_MONTO] [numeric](16, 2) NULL,
	[SALDO_MORATORIO_IVA] [numeric](16, 2) NULL,
	[SALDO_COMISION_MONTO] [numeric](16, 2) NULL,
	[SALDO_COMISION_IVA] [numeric](16, 2) NULL,
	[SALDO_INTERESES_NO_EXIGIBLE_MONTO] [numeric](16, 2) NULL,
	[SALDO_INTERESES_NO_EXIGIBLE_IVA] [numeric](16, 2) NULL,
	[SALDO_BALANCE_INTERESES_MONTO] [numeric](16, 2) NULL,
	[SALDO_BALANCE_INTERESES_IVA] [numeric](16, 2) NULL,
	[SALDO_BALANCE_SEG_VID_MONTO] [numeric](16, 2) NULL,
	[SALDO_BALANCE_SEG_DAN_MONTO] [numeric](16, 2) NULL,
	[SALDO_BALANCE_MORATORIO_MONTO] [numeric](16, 2) NULL,
	[SALDO_BALANCE_MORATORIO_IVA] [numeric](16, 2) NULL,
	[SALDO_BALANCE_COMISION_MONTO] [numeric](16, 2) NULL,
	[SALDO_BALANCE_COMISION_IVA] [numeric](16, 2) NULL,
	[SALDO_COVID_PRINCIPAL_MONTO] [numeric](16, 2) NULL,
	[SALDO_COVID_INTERESES_MONTO] [numeric](16, 2) NULL,
	[SALDO_COVID_INTERESES_IVA] [numeric](16, 2) NULL,
	[SALDO_COVID_SEG_VID_MONTO] [numeric](16, 2) NULL,
	[SALDO_COVID_SEG_DAN_MONTO] [numeric](16, 2) NULL,
	[SALDO_COVID_MORATORIO_MONTO] [numeric](16, 2) NULL,
	[SALDO_COVID_MORATORIO_IVA] [numeric](16, 2) NULL,
	[SALDO_COVID_COMISION_MONTO] [numeric](16, 2) NULL,
	[SALDO_COVID_COMISION_IVA] [numeric](16, 2) NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
 CONSTRAINT [PK_PO.CMR_DIA_REP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CMR_DIA_REP] UNIQUE NONCLUSTERED 
(
	[FECHA_SISTEMA] ASC,
	[NUM_CREDITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CIERRE].[CMR_DIA_REP] ADD  CONSTRAINT [DF_CMR_DIA_REP_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [CIERRE].[CMR_DIA_REP] ADD  CONSTRAINT [DF_CMR_DIA_REP_FECHA_GENERACION]  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
