SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CATALOGO_MOTIVO](
	[Id] [uniqueidentifier] NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[clave] [nvarchar](40) NOT NULL,
	[descripcion] [nvarchar](200) NOT NULL,
	[requiere_comentario] [bit] NOT NULL,
	[orden] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_CATALOGO_MOTIVO_TIPO_CLAVE] UNIQUE NONCLUSTERED 
(
	[tipo] ASC,
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CATALOGO_MOTIVO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[CATALOGO_MOTIVO] ADD  DEFAULT ((0)) FOR [requiere_comentario]
GO
ALTER TABLE [cierre_puente].[CATALOGO_MOTIVO] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [cierre_puente].[CATALOGO_MOTIVO] ADD  DEFAULT ((1)) FOR [activo]
GO
