SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Miguel Gomez
-- Create date: 26/12/2025
-- Description:	Reporte de Desembolsos de Cartera Individual
-- =============================================
CREATE    PROCEDURE [CIERRE].[SP_IND_RPT_DESEMBOLSOS_CARTERA_VIS]
(
    @FechaIni DATE,
	  @FechaFin DATE
)
AS
BEGIN
    SET NOCOUNT ON



    -- Extracción de desembolsos de cartera individual
    SELECT MIN(A.ID_SECUENCIA) AS ID_SECUENCIA,
        C.ID_EXTERNO,
        MIN(dbo.FN_FORMA_NOMBRE(D.PRIMER_APELLIDO, D.SEGUNDO_APELLIDO, D.PRIMER_NOMBRE, D.SEGUNDO_NOMBRE, NULL, NULL)) AS NOM_CLIENTE,
        MIN(CASE WHEN C.NUM_DESC_TIPO_CREDITO = 1 THEN 'CONSUMO'
	            WHEN C.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) THEN 'EMPLEADO'
	            ELSE CH.TIPO_VIVIENDA
            END) AS TIPO_CREDITO,
        MIN(ISNULL(C.DESARROLLO,'NA')) AS PROYECTO,
        MIN(CASE WHEN C.COD_ORIGEN IN ('008','031') THEN 'SIN RESTRICCION' ELSE 'RESTRINGIDO' END) AS TIPO_CARTERA,
        MIN(dbo.FN_ORIGEN_FONDOS(C.COD_ORIGEN, C.COD_EMPRESA)) AS CEDIDO,
        CONVERT(VARCHAR(10), A.FEC_MOVIMIENTO, 103) AS FEC_APLICACION,
        SUM(A.MON_MOVIMIENTO) AS MONTO,
        MAX(ISNULL(CH.IND_ETAPA, '')) AS ETAPA
    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
        LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = A.FEC_MOVIMIENTO
    WHERE C.IND_ESTADO IN ('C', 'D') 
        AND C.IND_LINEA = 'N'
        AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 9, 10, 11, 16, 17, 20, 23)
        AND A.Id_cuenta NOT IN ('2061', '2056', '2068') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO
        AND A.FEC_MOVIMIENTO >= @FechaIni AND A.FEC_MOVIMIENTO <= @FechaFin
        AND A.MON_MOVIMIENTO <> 0.00
        AND A.TIP_TRANSACCION = 3 --desembolsos
    GROUP BY C.ID_EXTERNO, A.FEC_MOVIMIENTO
    ORDER BY A.FEC_MOVIMIENTO


END
GO
