SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250424
-- Descripcion:	Realiza la extraccion de datos generales completos de cierre comercial de SAF de un dia, se usa en 5 reportes especificos por area
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_CMR_GEN_DIA]
	@FECHA DATE
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION

        declare @FechaAnt date

        set @FechaAnt = Dateadd(day,-1,@FECHA)
        

        DELETE FROM [CIERRE].[CMR_REP] WHERE FECHA_SISTEMA = @FECHA


        create table #CuentasDeOtrasPolizas(cuenta varchar(24))

        insert into #CuentasDeOtrasPolizas(cuenta)
              select '140103009001'     --operacion vivienda bonificacion y reestructura
        union select '140103009002'     --operacion comercial bonificacion y reestructura
        union select '140103009003'     --operacion reestructura
        union select '1401030090010000' --operacion vivienda ajuste
        union select '1401030090020000' --operacion comercial ajuste
        union select '5050260901000300' --condonacion
	    union select '2073'             --DACION
	    union select '2074'             --ADJUDICACION
	    union select '2068'             --SINIESTRO
        union select '2061'             --STDR FISO DAMNIF_6641
        union select '2056'             --INBURSA ADMON COBRANZA


        SELECT NUM_DESC_TIPO_CREDITO
        INTO #TIPO_CREDITOS
        FROM Quiero_Confianza_shadow.PR.PR_DESC_TIPOS_CREDITO
        WHERE COD_EMPRESA = '001' AND NUM_DESC_TIPO_CREDITO IN (
                 12,13,14,15,28 -- minoristas
                ,2,18,27      -- puente
                ,7              -- sindicada
                ,25             -- castigo
                ,5,6,19,21,22,24) -- administrada


        -- = PAGO NORMAL TOTAL =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #PAGO_TOTAL
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND A.FEC_MOVIMIENTO = @FECHA
        GROUP BY C.NUM_CREDITO

        -- = PAGO NORMAL X RUBRO =============================================================================================
        SELECT C.NUM_CREDITO, case when B.COD_CONCEPTO = 'CARGO_PORCENTAJE' THEN 'SEGURO_VIDA' ELSE B.COD_CONCEPTO END AS RUBRO, SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #PAGO_RUBROS
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
		        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND A.FEC_MOVIMIENTO = @FECHA
        GROUP BY C.NUM_CREDITO, case when B.COD_CONCEPTO = 'CARGO_PORCENTAJE' THEN 'SEGURO_VIDA' ELSE B.COD_CONCEPTO END

        -- = PAGO COVID X RUBRO =============================================================================================
        SELECT C.NUM_CREDITO, case when B.COD_CONCEPTO = 'CARGO_PORCENTAJE' THEN 'SEGURO_VIDA' ELSE B.COD_CONCEPTO END AS RUBRO, SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #PAGO_COVID_RUBROS
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
		        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND A.FEC_MOVIMIENTO = @FECHA
            AND dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito) = 'S'
        GROUP BY C.NUM_CREDITO, case when B.COD_CONCEPTO = 'CARGO_PORCENTAJE' THEN 'SEGURO_VIDA' ELSE B.COD_CONCEPTO END

        -- = DEVENGO INTERESES =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_DIARIO) AS MONTO, SUM(CASE WHEN X.IND_IVA = 'N' THEN 0 ELSE 0.16 * A.MON_DIARIO END) AS IVA
        INTO #DEV_INT
	    FROM Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO X  ON A.NUM_CREDITO = X.Num_Credito AND COD_RUBRO = 'INTERESES'
	    WHERE A.FECHA_CALCULO = @FECHA
            AND (C.FEC_CANCELACION is null or C.FEC_CANCELACION = @FECHA)
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        -- = DEVENGO MORATORIOS =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_DIARIO) AS MONTO, SUM(CASE WHEN P.IND_IVA_INTERES = 'N' THEN 0 ELSE 0.16 * A.MON_DIARIO END) AS IVA
        INTO #DEV_MORA
        FROM Quiero_Confianza_shadow.PR.PR_CALCULO_MORA_DIA A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE A.FECHA_CALCULO = @FECHA
            AND (C.FEC_CANCELACION is null or C.FEC_CANCELACION = @FECHA)
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        -- = DEVENGO COMISIONES =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_RUBRO) AS MONTO, SUM(A.MON_IVA) AS IVA
        INTO #DEV_COM
	    FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE   A.IND_ESTADO <> 'N'
		    AND A.COD_RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO',
		        'ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA')
		    AND A.FEC_COBRO = @FECHA
            AND (C.FEC_CANCELACION is null or C.FEC_CANCELACION = @FECHA)
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        -- = DESEMBOLSOS =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #DESEMBOLSOS
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_LINEA = 'N'
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
 		    AND A.TIP_TRANSACCION = 3 --desembolsos
            AND A.Id_cuenta NOT IN ('2061','2056','2068') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO
        GROUP BY C.NUM_CREDITO

        -- = DACION =============================================================================================
		SELECT  C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #DACION
		FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
			INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		WHERE C.IND_LINEA = 'N'
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
			AND A.TIP_TRANSACCION !=3  --Evita que se traigan desembolsos que se jalan en SP FIRMA
            AND A.Id_cuenta IN ('2073')
			AND A.FEC_MOVIMIENTO = @FECHA
        GROUP BY C.NUM_CREDITO

        -- = ADJUDICACION =============================================================================================
		SELECT  C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #ADJUDICACION
		FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
			INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		WHERE C.IND_LINEA = 'N'
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
			AND A.TIP_TRANSACCION !=3  --Evita que se traigan desembolsos que se jalan en SP FIRMA
            AND A.Id_cuenta IN ('2074')
			AND A.FEC_MOVIMIENTO = @FECHA
        GROUP BY C.NUM_CREDITO

        -- = CONDONACION =============================================================================================
        SELECT C.NUM_CREDITO, SUM(B.MON_PAGO + B.MON_PAGO_IVA) AS MONTO
        INTO #CONDONACION
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND A.FEC_MOVIMIENTO = @FECHA
		    AND ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
		        OR (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('140103009001','140103009002', '5050260901000300')))
            AND B.COD_CONCEPTO != 'PRINCIPAL'
		    AND cast(C.NUM_CREDITO as varchar) + '-' + cast(B.ID_SECUENCIA as varchar) NOT IN (
			    SELECT cast(C.NUM_CONTRATO as varchar) + '-' + cast(max(B.ID_SECUENCIA) as varchar)
			    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
				    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
				    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CONTRATO
			    WHERE C.IND_ESTADO_CRED = 'E' AND C.FEC_APERTURA = @FECHA
			    GROUP BY C.NUM_CONTRATO
            )
        GROUP BY C.NUM_CREDITO

        -- = QUITA =============================================================================================
        SELECT C.NUM_CREDITO, SUM(B.MON_PAGO + B.MON_PAGO_IVA) AS MONTO
        INTO #QUITA
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND A.FEC_MOVIMIENTO = @FECHA
		    AND ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
		        OR (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('140103009001','140103009002', '5050260901000300')))
            AND B.COD_CONCEPTO = 'PRINCIPAL'
		    AND cast(C.NUM_CREDITO as varchar) + '-' + cast(B.ID_SECUENCIA as varchar) NOT IN (
			    SELECT cast(C.NUM_CONTRATO as varchar) + '-' + cast(max(B.ID_SECUENCIA) as varchar)
			    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
				    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
				    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CONTRATO
			    WHERE C.IND_ESTADO_CRED = 'E' AND C.FEC_APERTURA = @FECHA
			    GROUP BY C.NUM_CONTRATO
            )
        GROUP BY C.NUM_CREDITO

        -- = DESCUENTO =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #DESCUENTO
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.FEC_MOVIMIENTO = @FECHA
		    AND A.ID_CUENTA IN ('1401030090010000','1401030090020000')
        GROUP BY C.NUM_CREDITO

        -- = Calculo de cuotas pendientes ===================================================================

        SELECT A.NUM_CREDITO, A.NUM_SECUENCIA, MIN(A.FEC_EXIGIBLE_PAGO) AS FEC_EXIGIBLE_PAGO
        INTO #CUOTAS
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO A
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.IND_ESTADO = 'P'
            AND A.FEC_EXIGIBLE_PAGO <= @FECHA
        GROUP BY A.NUM_CREDITO, A.NUM_SECUENCIA

        SELECT NUM_CREDITO,  COUNT(*) as CUOTAS,MIN(FEC_EXIGIBLE_PAGO) AS FEC_IMPAGO_INI
        INTO #CUOTAS_VENCIDAS
        FROM #CUOTAS
        GROUP BY NUM_CREDITO

        -- = DATOS COVID  =============================================================================================
        SELECT C.NUM_CREDITO, 'S' AS IND_POSTERGAR, MAX(A.MON_MOVIMIENTO) as TOTAL_POSTERGAR, MAX(Q.FEC_EXIGIBLE_PAGO) as FIN_POSTERGAR
        INTO #DATOS_COVID
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
		        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND A.FEC_MOVIMIENTO = @FECHA
            AND dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito) = 'S'
        GROUP BY C.NUM_CREDITO

        -- = INDICADOR IVA DE INTERES  =============================================================================================
        SELECT R.NUM_CREDITO, MAX(CASE WHEN R.IND_IVA = 'N' THEN 'NO' ELSE 'SI' END) AS IND_IVA_INT
        INTO #IND_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO R 
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON R.COD_EMPRESA = C.COD_EMPRESA AND R.NUM_CREDITO = C.NUM_CREDITO
        WHERE C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND R.COD_RUBRO IN ('INTERESES')
            AND (C.FEC_CANCELACION IS NULL OR C.FEC_CANCELACION = @FECHA)
        GROUP BY R.NUM_CREDITO

        -- = REPORTE DE CIERRE ===================================================================

        INSERT INTO [CIERRE].[CMR_REP]
            (ID ,FECHA_SISTEMA ,TIPO ,PARTE ,NUM_CREDITO ,ID_EXTERNO ,ACREDITADO ,PROYECTO ,CAPITAL_FINAL ,ADMINISTRADA ,APERTURA ,VENCIMIENTO ,CUOTAS_VENCIDAS ,DEBE_DESDE ,ESTADO_CARTERA
            ,TASA_INTERES ,OPERACION ,ETAPA_RIESGO ,CANAL ,CAPITAL_INICIAL ,ANTICIPOS_MINISTRACIONES ,CARTERA_SHF_70 ,SALDO_INI_AJUSTE ,INTERESES_EXIGIBLES_ANT
            ,INTERESES_NO_EXIGIBLES_ANT ,INTERESES_EXIGIBLES ,INTERESES_NO_EXIGIBLES ,SEGUROS ,INTERESES_VENCIDOS_IVA ,SEGUROS_VENCIDOS ,AMORTIZACION_VENCIDA ,MORATORIOS
            ,MORATORIOS_IVA ,INTERESES_ACCESORIOS ,PAGADO_CAPITAL ,PAGADO_INTERESES ,PAGADO_INTERESES_EXIGIBLES ,PAGADO_INTERESES_IVA ,PAGADO_SEGURO_VIDA,PAGADO_SEGURO_DANOS ,PAGADO_MORATORIOS
            ,PAGADO_MORATORIOS_IVA ,PAGADO_COMISIONES, PAGADO_COMISIONES_IVA ,PAGADO_TOTAL ,RECALCULO_INTERESES ,RECLASIFICACION_COBRANZA ,DISPONIBLE ,MONTO_CONDONACION ,MONTO_QUITAS ,MONTO_CASTIGOS ,MONTO_BONIFICACION
            ,MONTO_DESCUENTO ,MONTO_EXIGIBLE ,MONTO_DAC ,MONTO_ADJ ,ETAPA_RIESGO_ANT ,CAPITAL_VENCIDO ,ESTADO_CARTERA_ANT,CARTERA,CARTERA_ANT,CEDIDO,CEDIDO_ANT ,CORTE
            ,ORDEN_SEGUROS ,ORDEN_INTERESES ,DIAS_VENCIDOS
            ,POSTERGAR_FIN ,ORDEN_IVA ,LINEA ,LIQUIDADO ,PLAZO ,PROGRAMA_COVID ,CARTERA_TIPO ,CREDITO_TIPO ,TASA_TIPO ,POSTERGAR_TOTAL ,GENERA_IVA ,SALDO_CAPITAL_INTERESES
            ,SALDO_PRINCIPAL_INI ,SALDO_PRINCIPAL_FIN ,SALDO_PRINCIPAL_COVID_INI ,SALDO_PRINCIPAL_COVID_FIN ,SALDO_INTERESES_ORDINARIOS_INI ,SALDO_INTERESES_ORDINARIOS_FIN
            ,SALDO_INTERESES_COVID_INI ,SALDO_INTERESES_COVID_FIN ,SALDO_MORATORIOS ,SALDO_MORATORIOS_COMISIONES_INI ,SALDO_IVA_BALANCE ,SALDO_IVA_ORDEN ,SALDO_SEGURO_BALANCE
            ,SALDO_SEGURO_ORDEN ,SALDO_INTERESES_BALANCE ,SALDO_INTERESES_ORDEN ,SALDO_IVA ,SALDO_MORATORIOS_COMISIONES_ORDEN ,DEV_INTERESES ,DEV_MORATORIOS_COMISIONES
            ,PAGADO_INTERESES_BALANCE,DEV_INTERESES_E1_E2,DESEMBOLSOS,SALDO_BALANCE_MORATORIOS,SALDO_BALANCE_COMISIONES,SALDO_BALANCE_MORATORIOS_INI,SALDO_BALANCE_COMISIONES_INI
            ,SALDO_A_FAVOR,SALDO_A_FAVOR_INI)
        SELECT newid(),@FECHA,'DIA','TODO', C.NUM_CREDITO, C.ID_EXTERNO
            ,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL) AS ACREDITADO
            ,C.DESARROLLO AS PROYECTO
            ,C.MON_SALDO AS CAPITAL_FINAL
            ,C.COD_ORIGEN + '-' + F.DES_ORIGEN AS ADMINISTRADA
            ,C.FEC_APERTURA AS APERTURA
            ,C.FEC_VENCIMIENTO AS VENCIMIENTO
            ,CUOTAS_VENCIDAS.CUOTAS AS CUOTAS_VENCIDAS
            ,CUOTAS_VENCIDAS.FEC_IMPAGO_INI AS DEBE_DESDE
            ,CASE WHEN C.IND_ETAPA IN (1,2) THEN 'VIGENTE' ELSE 'VENCIDA' END AS ESTADO_CARTERA
            ,C.TASA_INTERES AS TASA_INTERES
            ,CASE WHEN FEC_APERTURA >= DATEADD(DAY, 1, EOMONTH(@FECHA, -1)) AND C.IND_ESTADO = 'D' THEN 'NUEVO'
                WHEN FEC_APERTURA < DATEADD(DAY, 1, EOMONTH(@FECHA, -1)) AND C.IND_ESTADO = 'D' THEN 'PERMANECE'
		        WHEN FEC_APERTURA < DATEADD(DAY, 1, EOMONTH(@FECHA, -1)) AND C.IND_ESTADO = 'D' AND C.NUM_DESC_TIPO_CREDITO = 26 THEN 'CASTIGADO'
                WHEN IND_ESTADO = 'C' THEN 'LIQUIDADO' END AS OPERACION
            ,C.IND_ETAPA AS ETAPA_RIESGO
            ,dbo.FN_TIPO_CANAL(C.TIP_TASA) AS CANAL
            ,REP_ANT.CAPITAL_FINAL AS CAPITAL_INICIAL
            ,isnull(P_TOTAL.MONTO,0) AS ANTICIPOS_MINISTRACIONES
            ,NULL AS CARTERA_SHF_70
            ,NULL AS SALDO_INI_AJUSTE
            ,REP_ANT.INTERESES_EXIGIBLES AS INTERESES_EXIGIBLES_ANT
            ,REP_ANT.INTERESES_NO_EXIGIBLES AS INTERESES_NO_EXIGIBLES_ANT
            ,isnull(S_INTERESES.SALDO,0) AS INTERESES_EXIGIBLES
            ,isnull(S_INT_NO_EXIGIBLE.SALDO,0) AS INTERESES_NO_EXIGIBLES
            ,isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0) AS SEGUROS
            ,isnull(S_INTERESES.SALDO_IVA,0) AS INTERESES_VENCIDOS_IVA
            ,isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0) AS SEGUROS_VENCIDOS
            ,isnull(S_PRINCIPAL.SALDO,0) AS AMORTIZACION_VENCIDA
            ,isnull(S_MORATORIO.SALDO,0) AS MORATORIOS
            ,isnull(S_MORATORIO.SALDO_IVA,0) AS MORATORIOS_IVA
            ,isnull(S_INTERESES.SALDO,0)+isnull(S_COMISION.SALDO,0)+isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0) AS INTERESES_ACCESORIOS
            ,isnull(P_PRINCIPAL.MONTO,0) AS PAGADO_CAPITAL
            ,isnull(P_INTERESES.MONTO,0) AS PAGADO_INTERESES
            ,0 AS PAGADO_INTERESES_EXIGIBLES
            ,isnull(PC_INTERESES.IVA,0) AS PAGADO_INTERESES_IVA
            ,isnull(P_SEG_VID.MONTO,0) AS PAGADO_SEGURO_VIDA
            ,isnull(P_SEG_DAN.MONTO,0) AS PAGADO_SEGURO_DANOS
            ,isnull(P_MORATORIO.MONTO,0) AS PAGADO_MORATORIOS
            ,isnull(P_MORATORIO.IVA,0) AS PAGADO_MORATORIOS_IVA
            ,isnull(P_COMISION.MONTO,0) AS PAGADO_COMISIONES
            ,isnull(P_COMISION.IVA,0) AS PAGADO_COMISIONES_IVA
            ,isnull(P_TOTAL.MONTO,0) AS PAGADO_TOTAL
            ,null AS RECALCULO_INTERESES
            ,null AS RECLASIFICACION_COBRANZA
            ,C.MON_CREDITO - isnull(DESEMBOLSO.MONTO,0) AS DISPONIBLE
            ,isnull(CONDONACION.MONTO,0) AS MONTO_CONDONACION
            ,isnull(QUITA.MONTO,0) AS MONTO_QUITAS
            ,case when C.NUM_DESC_TIPO_CREDITO IN (25) then isnull(S_CAPITAL.SALDO,0)+isnull(S_INTERESES.SALDO,0)+isnull(S_INTERESES.SALDO_IVA,0)+isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0)+isnull(S_MORATORIO.SALDO,0)+isnull(S_MORATORIO.SALDO_IVA,0)+isnull(S_COMISION.SALDO,0)+isnull(S_COMISION.SALDO_IVA,0) else 0 end AS MONTO_CASTIGOS
            ,isnull(DESCUENTO.MONTO,0) AS MONTO_BONIFICACION
            ,isnull(DESCUENTO.MONTO,0) AS MONTO_DESCUENTO
            ,isnull(S_INTERESES.SALDO,0)+isnull(S_COMISION.SALDO,0)+isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0) AS MONTO_EXIGIBLE
            ,isnull(DACION.MONTO,0) AS MONTO_DAC
            ,isnull(ADJUDICACION.MONTO,0) AS MONTO_ADJ
            ,REP_ANT.ETAPA_RIESGO AS ETAPA_RIESGO_ANT
            ,isnull(S_CAPITAL.SALDO,0) AS CAPITAL_VENCIDO
            ,REP_ANT.ESTADO_CARTERA AS ESTADO_CARTERA_ANT
            ,CASE WHEN C.NUM_DESC_TIPO_CREDITO  IN (6,19,21,22,24) THEN 'CEDIDA' ELSE 'PROPIA' END AS CARTERA
            ,REP_ANT.CARTERA AS CARTERA_ANT
            ,F.DES_ORIGEN AS CEDIDO
            ,REP_ANT.CEDIDO AS CEDIDO_ANT
            ,C.DIA_EXIGIBLE_PAGO AS CORTE
            ,isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0)-(isnull(SB_SEG_VID.SALDO,0)+isnull(SB_SEG_DAN.SALDO,0)) AS ORDEN_SEGUROS
            ,isnull(S_INTERESES.SALDO,0)-isnull(SB_INTERESES.SALDO,0) AS ORDEN_INTERESES
            ,DATEDIFF(day, FEC_IMPAGO_INI, @FECHA) AS DIAS_VENCIDOS
            ,DATOS_COVID.FIN_POSTERGAR AS POSTERGAR_FIN
            ,isnull(S_INTERESES.SALDO_IVA,0)+isnull(S_MORATORIO.SALDO_IVA,0)+isnull(S_COMISION.SALDO_IVA,0)-(isnull(SB_INTERESES.SALDO_IVA,0)+isnull(SB_MORATORIO.SALDO_IVA,0)+isnull(SB_COMISION.SALDO_IVA,0)) AS ORDEN_IVA
            ,C.MON_CREDITO AS LINEA
            ,C.FEC_CANCELACION AS LIQUIDADO
            ,C.PLAZO_CREDITO AS PLAZO
            ,isnull(DATOS_COVID.IND_POSTERGAR,'N') AS PROGRAMA_COVID
            ,F.DES_ORIGEN AS CARTERA_TIPO
            ,CP.NOMBRE_CORTO AS CREDITO_TIPO
            ,C.TIP_TASA AS TASA_TIPO
            ,DATOS_COVID.TOTAL_POSTERGAR AS POSTERGAR_TOTAL
            ,IND_IVA.IND_IVA_INT AS GENERA_IVA
            ,isnull(S_CAPITAL.SALDO,0)+isnull(S_INTERESES.SALDO,0) AS SALDO_CAPITAL_INTERESES
            ,REP_ANT.SALDO_PRINCIPAL_FIN AS SALDO_PRINCIPAL_INI
            ,isnull(S_PRINCIPAL.SALDO,0) AS SALDO_PRINCIPAL_FIN
            ,REP_ANT.SALDO_PRINCIPAL_COVID_FIN AS SALDO_PRINCIPAL_COVID_INI
            ,isnull(S_PRINCIPAL.SALDO,0) AS SALDO_PRINCIPAL_COVID_FIN
            ,REP_ANT.SALDO_INTERESES_ORDINARIOS_FIN AS SALDO_INTERESES_ORDINARIOS_INI
            ,isnull(S_INTERESES.SALDO,0) AS SALDO_INTERESES_ORDINARIOS_FIN
            ,REP_ANT.SALDO_INTERESES_COVID_FIN AS SALDO_INTERESES_COVID_INI
            ,isnull(SC_INTERESES.SALDO,0) AS SALDO_INTERESES_COVID_FIN
            ,isnull(S_MORATORIO.SALDO,0) + isnull(S_COMISION.SALDO,0) AS SALDO_MORATORIOS
            ,REP_ANT.SALDO_MORATORIOS AS SALDO_MORATORIOS_COMISIONES_INI
            ,isnull(SB_INTERESES.SALDO_IVA,0) + isnull(SB_MORATORIO.SALDO_IVA,0)+isnull(SB_COMISION.SALDO_IVA,0) AS SALDO_IVA_BALANCE
            ,isnull(S_INTERESES.SALDO_IVA,0) + isnull(S_MORATORIO.SALDO_IVA,0)+isnull(S_COMISION.SALDO_IVA,0) -(isnull(SB_INTERESES.SALDO_IVA,0) + isnull(SB_MORATORIO.SALDO_IVA,0)+isnull(SB_COMISION.SALDO_IVA,0)) AS SALDO_IVA_ORDEN
            ,isnull(SB_SEG_VID.SALDO,0)+isnull(SB_SEG_DAN.SALDO,0) AS SALDO_SEGURO_BALANCE
            ,isnull(S_SEG_VID.SALDO,0)+isnull(S_SEG_DAN.SALDO,0)-(isnull(SB_SEG_VID.SALDO,0)+isnull(SB_SEG_DAN.SALDO,0)) AS SALDO_SEGURO_ORDEN
            ,isnull(SB_INTERESES.SALDO,0) AS SALDO_INTERESES_BALANCE
            ,isnull(S_INTERESES.SALDO,0)-(isnull(SB_INTERESES.SALDO,0)) AS SALDO_INTERESES_ORDEN
            ,isnull(S_MORATORIO.SALDO,0)+isnull(S_COMISION.SALDO,0)-(isnull(SB_MORATORIO.SALDO,0)+isnull(SB_COMISION.SALDO,0)) AS SALDO_MORATORIOS_COMISIONES_ORDEN
            ,isnull(S_INTERESES.SALDO_IVA,0) + isnull(S_MORATORIO.SALDO_IVA,0)+isnull(S_COMISION.SALDO_IVA,0) AS SALDO_IVA
            ,DEV_INT.MONTO AS DEV_INTERESES
            ,DEV_MORA.MONTO+DEV_COM.MONTO AS DEV_MORATORIOS_COMISIONES
            ,NULL AS PAGADO_INTERESES_BALANCE
            ,NULL AS DEV_INTERESES_E1_E2
            ,isnull(DESEMBOLSO.MONTO,0) AS DESEMBOLSOS
            ,isnull(SB_MORATORIO.SALDO,0) AS SALDO_BALANCE_MORATORIOS
            ,isnull(SB_COMISION.SALDO,0) AS SALDO_BALANCE_COMISIONES
            ,REP_ANT.SALDO_BALANCE_MORATORIOS AS SALDO_BALANCE_MORATORIOS_INI
            ,REP_ANT.SALDO_BALANCE_COMISIONES AS SALDO_BALANCE_COMISIONES_INI
            ,NULL AS SALDO_A_FAVOR
            ,REP_ANT.SALDO_A_FAVOR AS SALDO_A_FAVOR_INI
            
            /*,isnull(P_TOTAL.MONTO,0) AS TOTAL_MONTO
            ,isnull(CONDONACION.MONTO,0) AS CONDONACION_MONTO
            ,isnull(QUITA.MONTO,0) AS QUITA_MONTO
            ,isnull(DESCUENTO.MONTO,0) AS DESCUENTO_MONTO

            ,isnull(P_PRINCIPAL.MONTO,0) AS PRINCIPAL_MONTO
            ,isnull(P_INTERESES.MONTO,0) AS INTERESES_MONTO
            ,isnull(P_INTERESES.IVA,0) AS INTERESES_IVA
            ,isnull(P_SEG_VID.MONTO,0) AS SEG_VID_MONTO
            ,isnull(P_SEG_DAN.MONTO,0) AS SEG_DAN_MONTO
            ,isnull(P_MORATORIO.MONTO,0) AS MORATORIO_MONTO
            ,isnull(P_MORATORIO.IVA,0) AS MORATORIO_IVA
            ,isnull(P_COMISION.MONTO,0) AS COMISION_MONTO
            ,isnull(P_COMISION.IVA,0) AS COMISION_IVA

            ,isnull(PC_PRINCIPAL.MONTO,0) AS COVID_PRINCIPAL_MONTO
            ,isnull(PC_INTERESES.MONTO,0) AS COVID_INTERESES_MONTO
            ,isnull(PC_INTERESES.IVA,0) AS COVID_INTERESES_IVA
            ,isnull(PC_SEG_VID.MONTO,0) AS COVID_SEG_VID_MONTO
            ,isnull(PC_SEG_DAN.MONTO,0) AS COVID_SEG_DAN_MONTO
            ,isnull(PC_MORATORIO.MONTO,0) AS COVID_MORATORIO_MONTO
            ,isnull(PC_MORATORIO.IVA,0) AS COVID_MORATORIO_IVA
            ,isnull(PC_COMISION.MONTO,0) AS COVID_COMISION_MONTO
            ,isnull(PC_COMISION.IVA,0) AS COVID_COMISION_IVA

            ,isnull(S_CAPITAL.SALDO,0) AS SALDO_CAPITAL_MONTO
            ,isnull(S_PRINCIPAL.SALDO,0) AS SALDO_PRINCIPAL_MONTO
            ,isnull(S_INTERESES.SALDO,0) AS SALDO_INTERESES_MONTO
            ,isnull(S_INTERESES.SALDO_IVA,0) AS SALDO_INTERESES_IVA
            ,isnull(S_SEG_VID.SALDO,0) AS SALDO_SEG_VID_MONTO
            ,isnull(S_SEG_DAN.SALDO,0) AS SALDO_SEG_DAN_MONTO
            ,isnull(S_MORATORIO.SALDO,0) AS SALDO_MORATORIO_MONTO
            ,isnull(S_MORATORIO.SALDO_IVA,0) AS SALDO_MORATORIO_IVA
            ,isnull(S_COMISION.SALDO,0) AS SALDO_COMISION_MONTO
            ,isnull(S_COMISION.SALDO_IVA,0) AS SALDO_COMISION_IVA
        
            ,isnull(S_INT_NO_EXIGIBLE.SALDO,0) AS SALDO_INTERESES_NO_EXIGIBLE_MONTO
            ,isnull(S_INT_NO_EXIGIBLE.SALDO_IVA,0) AS SALDO_INTERESES_NO_EXIGIBLE_IVA
           */

        FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO T WITH (NOLOCK) ON C.TIP_CREDITO = T.TIP_CREDITO AND C.COD_EMPRESA = T.COD_EMPRESA
		    LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
		    LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
            LEFT JOIN Quiero_Confianza_shadow.PR.PR_ORIGEN_FONDOS F WITH (NOLOCK) ON C.COD_EMPRESA = F.COD_EMPRESA AND C.COD_ORIGEN = F.COD_ORIGEN
            LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA
		    LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
		    LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO

            LEFT JOIN [CIERRE].[CMR_REP] REP_ANT ON REP_ANT.NUM_CREDITO = C.NUM_CREDITO AND REP_ANT.FECHA_SISTEMA = @FechaAnt
            LEFT JOIN #CUOTAS_VENCIDAS CUOTAS_VENCIDAS ON CUOTAS_VENCIDAS.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #PAGO_TOTAL P_TOTAL ON P_TOTAL.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DACION DACION ON DACION.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #ADJUDICACION ADJUDICACION ON ADJUDICACION.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #CONDONACION CONDONACION ON CONDONACION.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #QUITA QUITA ON QUITA.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DESCUENTO DESCUENTO ON DESCUENTO.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DATOS_COVID DATOS_COVID ON DATOS_COVID.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #IND_IVA IND_IVA ON IND_IVA.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DEV_INT DEV_INT ON DEV_INT.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DEV_MORA DEV_MORA ON DEV_MORA.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DEV_COM DEV_COM ON DEV_COM.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DESEMBOLSOS DESEMBOLSO ON DESEMBOLSO.NUM_CREDITO = C.NUM_CREDITO
            -- Pagos
            LEFT JOIN #PAGO_RUBROS P_PRINCIPAL ON P_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND P_PRINCIPAL.RUBRO = 'PRINCIPAL'
            LEFT JOIN #PAGO_RUBROS P_INTERESES ON P_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND P_INTERESES.RUBRO = 'INTERESES'
            LEFT JOIN #PAGO_RUBROS P_SEG_VID ON P_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND P_SEG_VID.RUBRO = 'SEGURO_VIDA'
            LEFT JOIN #PAGO_RUBROS P_SEG_DAN ON P_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND P_SEG_DAN.RUBRO = 'SEGURO_DANOS'
            LEFT JOIN #PAGO_RUBROS P_MORATORIO ON P_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND P_MORATORIO.RUBRO = 'MORATORIOS'
            LEFT JOIN #PAGO_RUBROS P_COMISION ON P_COMISION.NUM_CREDITO = C.NUM_CREDITO AND P_COMISION.RUBRO = 'COMISION_ADMINISTRACION'
            -- pagos COVID
            LEFT JOIN #PAGO_COVID_RUBROS PC_PRINCIPAL ON PC_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND PC_PRINCIPAL.RUBRO = 'PRINCIPAL'
            LEFT JOIN #PAGO_COVID_RUBROS PC_INTERESES ON PC_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND PC_INTERESES.RUBRO = 'INTERESES'
            LEFT JOIN #PAGO_COVID_RUBROS PC_SEG_VID ON PC_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND PC_SEG_VID.RUBRO = 'SEGURO_VIDA'
            LEFT JOIN #PAGO_COVID_RUBROS PC_SEG_DAN ON PC_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND PC_SEG_DAN.RUBRO = 'SEGURO_DANOS'
            LEFT JOIN #PAGO_COVID_RUBROS PC_MORATORIO ON PC_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND PC_MORATORIO.RUBRO = 'MORATORIOS'
            LEFT JOIN #PAGO_COVID_RUBROS PC_COMISION ON PC_COMISION.NUM_CREDITO = C.NUM_CREDITO AND PC_COMISION.RUBRO = 'COMISION_ADMINISTRACION'
            --Saldos
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_CAPITAL ON S_CAPITAL.NUM_CREDITO = C.NUM_CREDITO AND S_CAPITAL.RUBRO = 'CAPITAL' AND S_CAPITAL.FECHA_SISTEMA = @FECHA AND S_CAPITAL.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_PRINCIPAL ON S_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND S_PRINCIPAL.RUBRO = 'PRINCIPAL' AND S_PRINCIPAL.FECHA_SISTEMA = @FECHA AND S_PRINCIPAL.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_INTERESES ON S_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND S_INTERESES.RUBRO = 'INTERESES' AND S_INTERESES.FECHA_SISTEMA = @FECHA AND S_INTERESES.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_VID ON S_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND S_SEG_VID.RUBRO = 'SEGURO_VIDA' AND S_SEG_VID.FECHA_SISTEMA = @FECHA AND S_SEG_VID.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_DAN ON S_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND S_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND S_SEG_DAN.FECHA_SISTEMA = @FECHA AND S_SEG_DAN.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_MORATORIO ON S_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND S_MORATORIO.RUBRO = 'MORATORIOS' AND S_MORATORIO.FECHA_SISTEMA = @FECHA AND S_MORATORIO.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_COMISION ON S_COMISION.NUM_CREDITO = C.NUM_CREDITO AND S_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND S_COMISION.FECHA_SISTEMA = @FECHA AND S_COMISION.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_INT_NO_EXIGIBLE ON S_INT_NO_EXIGIBLE.NUM_CREDITO = C.NUM_CREDITO AND S_INT_NO_EXIGIBLE.RUBRO = 'INTERES_NO_EXIGIBLES' AND S_INT_NO_EXIGIBLE.FECHA_SISTEMA = @FECHA AND S_INT_NO_EXIGIBLE.TIPO='N'
            --saldos Balance
            LEFT JOIN [CIERRE].[SAF_SALDOS] SB_INTERESES ON SB_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SB_INTERESES.RUBRO = 'INTERESES' AND SB_INTERESES.FECHA_SISTEMA = @FECHA AND SB_INTERESES.TIPO='B'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SB_SEG_VID ON SB_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND SB_SEG_VID.RUBRO = 'SEGURO_VIDA' AND SB_SEG_VID.FECHA_SISTEMA = @FECHA AND SB_SEG_VID.TIPO='B'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SB_SEG_DAN ON SB_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND SB_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND SB_SEG_DAN.FECHA_SISTEMA = @FECHA AND SB_SEG_DAN.TIPO='B'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SB_MORATORIO ON SB_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND SB_MORATORIO.RUBRO = 'MORATORIOS' AND SB_MORATORIO.FECHA_SISTEMA = @FECHA AND SB_MORATORIO.TIPO='B'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SB_COMISION ON SB_COMISION.NUM_CREDITO = C.NUM_CREDITO AND SB_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND SB_COMISION.FECHA_SISTEMA = @FECHA AND SB_COMISION.TIPO='B'
            --saldos COVID
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_PRINCIPAL ON SC_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND SC_PRINCIPAL.RUBRO = 'PRINCIPAL' AND SC_PRINCIPAL.FECHA_SISTEMA = @FECHA AND SC_PRINCIPAL.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_INTERESES ON SC_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SC_INTERESES.RUBRO = 'INTERESES' AND SC_INTERESES.FECHA_SISTEMA = @FECHA AND SC_INTERESES.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_SEG_VID ON SC_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND SC_SEG_VID.RUBRO = 'SEGURO_VIDA' AND SC_SEG_VID.FECHA_SISTEMA = @FECHA AND SC_SEG_VID.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_SEG_DAN ON SC_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND SC_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND SC_SEG_DAN.FECHA_SISTEMA = @FECHA AND SC_SEG_DAN.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_MORATORIO ON SC_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND SC_MORATORIO.RUBRO = 'MORATORIOS' AND SC_MORATORIO.FECHA_SISTEMA = @FECHA AND SC_MORATORIO.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_COMISION ON SC_COMISION.NUM_CREDITO = C.NUM_CREDITO AND SC_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND SC_COMISION.FECHA_SISTEMA = @FECHA AND SC_COMISION.TIPO='C'

	    WHERE C.IND_ESTADO IN ('C', 'D')
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND (C.FEC_CANCELACION IS NULL OR C.FEC_CANCELACION = @FECHA)


		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA        , 0        , 'SP_SAF_CIERRE_CMR_MES Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
