SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Daniel Aros Ramírez
-- Creado:		20240531
-- Descripcion:	Devuelve el nombre del tipo de credito
-- =============================================
CREATE FUNCTION [dbo].[FN_TIPO_CREDITO]
(
	@ID_TIPO_CREDITO INT
)
RETURNS VARCHAR(100)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @TIPO_CREDITO VARCHAR(100)

	SET @TIPO_CREDITO = CASE
		WHEN @ID_TIPO_CREDITO IN(12, 7) THEN 'CUENTA CORRIENTE '
		WHEN @ID_TIPO_CREDITO IN(5, 6) THEN 'PQ '
		WHEN @ID_TIPO_CREDITO IN(15, 8) THEN 'PUENTE '
		WHEN @ID_TIPO_CREDITO IN(22, 14) THEN 'OTROS PNT '
		WHEN @ID_TIPO_CREDITO IN(25, 24) THEN 'GARANTIA '
		WHEN @ID_TIPO_CREDITO IN(2, 21) THEN 'INVERSION '
		WHEN @ID_TIPO_CREDITO IN(19) THEN 'FINANCIERAS ' ELSE ''
	END

	-- Return the result of the function
	RETURN @TIPO_CREDITO
END
GO
