SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CursorCloseDeallocate]
    @cursorName NVARCHAR(80)
AS
BEGIN
    IF CURSOR_STATUS('global', @cursorName) >= -1 BEGIN
        DECLARE @SQL NVARCHAR(91)
        IF CURSOR_STATUS('global', @cursorName) > -1 BEGIN
            SET @SQL = N'CLOSE ' + @cursorName
            EXEC sp_executeSQL @SQL
        END
        SET @SQL = N'DEALLOCATE ' + @cursorName
        EXEC sp_executeSQL @SQL
    END
END
GO
