SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250903
-- Descripcion:	extrae el numero entero dentro de una cadena con caracteres extras
-- =============================================
CREATE FUNCTION [dbo].[FN_SOLO_NUMEROS]
(
	@NUMERO_INI VARCHAR(32)
)
RETURNS INT
AS
BEGIN
   
	DECLARE @INDICE INT,@LARGO_CADENA INT,@NUMERO_FIN varchar(32),@CARACTER char(1)

    SET @LARGO_CADENA = Len(@NUMERO_INI)
    SET @NUMERO_FIN = ''
    SET @INDICE = 1

    WHILE @INDICE <= @LARGO_CADENA BEGIN

        SET @CARACTER = Substring(@NUMERO_INI,@INDICE,1)
        
        IF '0' <= @CARACTER and @CARACTER <= '9' BEGIN
            SET @NUMERO_FIN = @NUMERO_FIN + @CARACTER
        END

        SET @INDICE = @INDICE + 1
    END


	RETURN cast(@NUMERO_FIN AS int)

END
GO
