SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[REPORTEAFIRME]
    @fechaMovimiento DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
	    CASE WHEN tipo_credito = 'ADMINISTRACION INDIVIDUAL' THEN 'AFIRME' ELSE tipo_credito END AS CARTERA,
		ID_SECUENCIA SECUENCIA,
        MAX(ID_EXTERNO) ID_EXTERNO,
        MAX(TIPO_VIVIENDA) CLASIFICACION_DE_VIVIENDA,
        MAX(case when CEDIDO= 'CAPITAL (RECURSOS PROPIOS)' then 'NO RESTRINGIDO' else 'RESTRINGIDO' end )as CEDIDO,
        MAX(case when ind_etapa in (1,2) then 'VIGENTE' else 'VENCIDA' end) as ESTATUS,
		MAX(CONCEPTO) CONCEPTO,
        'PENDIENTE' BANCO,
        MAX(case when rubro = 'CARGO_PORCENTAJE' then 'SEGURO_VIDA' else RUBRO end) as RUBRO,
        MAX(TIPO_CREDITO) TIPO_CREDITO ,
        MAX(FECHA_MOVIMIENTO) FECHA_MOVIMIENTO,
        SUM(CASE WHEN rubro = 'PRINCIPAL' THEN monto ELSE 0 END) AS PRINCIPAL,
        SUM(CASE WHEN rubro = 'INTERESES' THEN monto ELSE 0 END) AS INTERESES,
        SUM(CASE WHEN rubro = 'IVA INTERESES' THEN monto ELSE 0 END) AS IVA_INTERESES,
        SUM(CASE WHEN rubro = 'SEGURO_DANOS' THEN monto ELSE 0 END) AS SEGURO_DANOS,
        SUM(CASE WHEN rubro = 'SEGURO_VIDA' OR rubro = 'CARGO_PORCENTAJE' THEN monto ELSE 0 END) AS SEGURO_VIDA,
        SUM(CASE WHEN rubro = 'COMISION_ADMISISTRACION' THEN monto ELSE 0 END) AS COMISION_ADMINISTRACION,
        SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' THEN monto ELSE 0 END) AS IVA_COMISION_ADMINISTRACION,
        SUM(CASE WHEN rubro = 'MORATORIOS' THEN monto ELSE 0 END) AS MORATORIOS,
        SUM(CASE WHEN rubro = 'SALDO_FAVOR' THEN monto ELSE 0 END) AS SALDO_FAVOR,
        SUM(MONTO) AS TOTAL,
        IND_ETAPA ETAPA
    FROM [PO].[SAF_MOV_ABONO]
    WHERE 
        ID_POLIZA = 7 
        AND fecha_movimiento = @fechaMovimiento 
        AND NOT (concepto LIKE 'TRS %' OR concepto LIKE 'PAGOS CCO %')
		AND tipo_credito NOT IN ('COMERCIAL', 'PMP-LIQ-COMERCIAL')
		AND ID_SECUENCIA IS NOT NULL
		AND tipo_credito NOT IN('ADMO INDIVIDUAL QUIERO BILLETE', 'ADMO COMERCIAL QUIERO BILLETE')
		AND tipo_credito = 'ADMINISTRACION INDIVIDUAL'

    GROUP BY 
        ID_SECUENCIA,
		TIPO_CREDITO,
		IND_ETAPA
	
		
		
END;
GO
