SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[REPORTE]
    @fechaMovimiento DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
	    case when tipo_credito = 'ADMINISTRACION INDIVIDUAL' then 'AFIRME' 
           when tipo_credito IN ('PMP-ADQ- INDIVIDUAL','PMP-LIQ-COMERCIAL','VIVIENDA','PMP-LIQ- INDIVIDUAL') then 'ION' 
           else tipo_credito end as CARTERA,
		ID_SECUENCIA SECUENCIA,
        MAX(ID_EXTERNO) ID_EXTERNO,
        MAX(TIPO_VIVIENDA) CLASIFICACION_DE_VIVIENDA,
        MAX(case when CEDIDO= 'CAPITAL (RECURSOS PROPIOS)' then 'NO RESTRINGIDO' else 'RESTRINGIDO' end )as Restringido,
		MAX(CEDIDO) AS CEDIDO,
        MAX(case when ind_etapa in (1,2) then 'VIGENTE' else 'VENCIDA' end) as ESTATUS,
		MAX(CASE WHEN (CONCEPTO LIKE 'PAGO SALDO_FAVOR %' OR CONCEPTO LIKE 'PAGO CO SALDO_FAVOR %')  THEN 'DESCARGA A FAVOR' ELSE 'BANCO' END) AS CONCEPTO,
        MAX(CASE WHEN (CONCEPTO LIKE 'PAGO SALDO_FAVOR %' OR CONCEPTO LIKE 'PAGO CO SALDO_FAVOR %')  THEN 'DESCARGA A FAVOR' ELSE D.DES_CUENTA+'/'+D.NUM_CUENTA END) AS BANCO,
        H.TIPO_CREDITO AS TIPO_CREDITO,
        MAX(H.FECHA_MOVIMIENTO) AS FECHA_MOVIMIENTO,
         SUM(CASE WHEN rubro = 'PRINCIPAL' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.9   
		 WHEN rubro = 'PRINCIPAL' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS PRINCIPAL,
         SUM(CASE WHEN rubro = 'INTERESES' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.9 
		 WHEN rubro = 'INTERESES' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS INTERESES,
        SUM(CASE WHEN rubro = 'IVA INTERESES' 
		and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.9 
		 WHEN rubro = 'IVA INTERESES' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS IVA_INTERESES,
         SUM (CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.9 
		 WHEN rubro = 'SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS SEGURO_DANOS,
         SUM (CASE WHEN rubro = 'SEGURO_VIDA'  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' OR rubro = 'CARGO_PORCENTAJE' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.9 
		 WHEN rubro = 'SEGURO_VIDA' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 OR rubro = 'CARGO_PORCENTAJE'  AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		  ELSE 0 END) AS SEGURO_VIDA,
       SUM( CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.9 
		 WHEN rubro = 'COMISION_ADMINISTRACION' AND tipo_credito IN ('VIVIENDA','PMP-ADQ- INDIVIDUAL','PMP-LIQ-COMERCIAL','VIVIENDA','PMP-LIQ- INDIVIDUAL', 'EMPLEADO','CONSUMO')
		 THEN monto * 1  
		 ELSE 0 END) AS COMISION_ADMINISTRACION,
        SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.9 
		 WHEN rubro = 'IVA COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END )AS IVA_COMISION_ADMINISTRACION,
        SUM(CASE WHEN rubro = 'MORATORIOS'  and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.9 
		 WHEN rubro = 'MORATORIOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS MORATORIOS,
        SUM(CASE WHEN rubro = 'SALDO_FAVOR'  and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.9 
		 WHEN rubro = 'SALDO_FAVOR' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		ELSE 0 END) AS SALDO_FAVOR,
		SUM(CASE 
        WHEN tipo_credito = 'ADMINISTRACION INDIVIDUAL' THEN monto * 0.9 
        WHEN tipo_credito <> 'ADMINISTRACION INDIVIDUAL' THEN monto * 1 
        ELSE 0
        END) AS TOTAL,
        H.IND_ETAPA  AS ETAPA,
        isnull(IND_COVID,'N') as IND_COVID
    FROM PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE D ON H.ID_CUENTA = D.ID_CUENTA
    WHERE 
        ID_POLIZA = 7 
        AND fecha_movimiento = @fechaMovimiento 
        AND NOT (concepto LIKE 'TRS %' OR concepto LIKE 'PAGO CCO %')
		AND tipo_credito NOT IN ('COMERCIAL', 'PMP-LIQ-COMERCIAL', 'ADMO INDIVIDUAL QUIERO BILLETE', 'ADMO COMERCIAL QUIERO BILLETE','SHF')
		AND ID_SECUENCIA IS NOT NULL
		AND MONTO > 0
		--AND D.IND_ESTADO != 'P'


    GROUP BY 
        ID_SECUENCIA,
		TIPO_CREDITO,
		IND_ETAPA,
        IND_COVID

	
UNION ALL  

	 SELECT 
	    case when tipo_credito = 'ADMINISTRACION INDIVIDUAL' then 'ION' 
           when tipo_credito IN ('PMP-ADQ- INDIVIDUAL','PMP-LIQ-COMERCIAL','VIVIENDA','PMP-LIQ- INDIVIDUAL') then 'ERROR' 
           else tipo_credito end as CARTERA,
		ID_SECUENCIA SECUENCIA,
        MAX(ID_EXTERNO) ID_EXTERNO,
        MAX(TIPO_VIVIENDA) CLASIFICACION_DE_VIVIENDA,
        MAX(case when CEDIDO= 'CAPITAL (RECURSOS PROPIOS)' then 'NO RESTRINGIDO' else 'RESTRINGIDO' end )as RESTRINGIDO,
		MAX(CEDIDO) AS CEDIDO,
        MAX(case when ind_etapa in (1,2) then 'VIGENTE' else 'VENCIDA' end) as ESTATUS,
		MAX(CASE WHEN (CONCEPTO LIKE 'PAGO SALDO_FAVOR %' OR CONCEPTO LIKE 'PAGO CO SALDO_FAVOR %') THEN 'DESCARGA A FAVOR' ELSE 'BANCO' END) AS CONCEPTO,
        MAX(CASE WHEN (CONCEPTO LIKE 'PAGO SALDO_FAVOR %' OR CONCEPTO LIKE 'PAGO CO SALDO_FAVOR %') THEN 'DESCARGA A FAVOR' ELSE D.DES_CUENTA+'/'+D.NUM_CUENTA END) AS BANCO,
        MAX(TIPO_CREDITO) TIPO_CREDITO ,
        MAX(FECHA_MOVIMIENTO) FECHA_MOVIMIENTO,
        SUM(CASE WHEN rubro = 'PRINCIPAL' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.1 
		 ELSE 0 END) AS PRINCIPAL,
        SUM(CASE WHEN rubro = 'INTERESES' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.1
		 ELSE 0 END) AS INTERESES,
        SUM(CASE WHEN rubro = 'IVA INTERESES' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.1  ELSE 0 END) AS IVA_INTERESES,
        SUM(CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.1  ELSE 0 END) AS SEGURO_DANOS,
        SUM(CASE WHEN rubro = 'SEGURO_VIDA' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' OR rubro = 'CARGO_PORCENTAJE' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.1 ELSE 0 END) AS SEGURO_VIDA,
        SUM(CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.1 ELSE 0 END) AS COMISION_ADMINISTRACION,
        SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.1 ELSE 0 END) AS IVA_COMISION_ADMINISTRACION,
        SUM(CASE WHEN rubro = 'MORATORIOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.1 ELSE 0 END) AS MORATORIOS,
        SUM(CASE WHEN rubro = 'SALDO_FAVOR' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 0.1 ELSE 0 END) AS SALDO_FAVOR,
        SUM(CASE WHEN tipo_credito = 'ADMINISTRACION INDIVIDUAL' THEN monto * 0.1 ELSE 0 END) AS TOTAL,
        IND_ETAPA ETAPA,
        isnull(IND_COVID,'N') as IND_COVID
    FROM  PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE D ON H.ID_CUENTA = D.ID_CUENTA
    WHERE 
        ID_POLIZA = 7 
        AND fecha_movimiento = @fechaMovimiento 
        AND NOT (concepto LIKE 'TRS %' OR concepto LIKE 'PAGO CCO %')
		AND tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		AND ID_SECUENCIA IS NOT NULL
		AND MONTO > 0
		--AND D.IND_ESTADO != 'P'

    GROUP BY 
        ID_SECUENCIA,
		TIPO_CREDITO,
		IND_ETAPA,
        IND_COVID
		
END






GO
