SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [demandas].[DEMANDA_CASO](
	[Id] [uniqueidentifier] NOT NULL,
	[FolioDemanda] [nvarchar](30) NOT NULL,
	[Nuc] [nvarchar](30) NULL,
	[IdExterno] [nvarchar](30) NULL,
	[Cliente] [nvarchar](300) NULL,
	[TipoCartera] [nvarchar](30) NULL,
	[Producto] [nvarchar](50) NULL,
	[Capital] [decimal](18, 2) NOT NULL,
	[CreditoPuenteId] [uniqueidentifier] NULL,
	[EstadoPreDemanda] [nvarchar](60) NULL,
	[EtapaJudicial] [nvarchar](60) NULL,
	[EtapaOrden] [int] NOT NULL,
	[TipoJuicio] [nvarchar](60) NULL,
	[ResponsableInterno] [nvarchar](256) NULL,
	[DespachoId] [uniqueidentifier] NULL,
	[AbogadoResponsable] [nvarchar](256) NULL,
	[FechaAlta] [datetime2](7) NOT NULL,
	[FechaMora] [datetime2](7) NULL,
	[FechaObjetivoDemanda] [datetime2](7) NULL,
	[FechaPresentacionDemanda] [datetime2](7) NULL,
	[Juzgado] [nvarchar](300) NULL,
	[NumeroExpedienteJudicial] [nvarchar](100) NULL,
	[Semaforo] [nvarchar](20) NULL,
	[BloqueadorPrincipal] [nvarchar](100) NULL,
	[RequiereComite] [bit] NOT NULL,
	[IonEsDemandado] [bit] NOT NULL,
	[Prioridad] [int] NOT NULL,
	[MotivoJudicializacion] [nvarchar](max) NULL,
	[Estatus] [nvarchar](20) NOT NULL,
	[MotivoCierre] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[EstadoEspecial] [nvarchar](60) NULL,
 CONSTRAINT [PK_DEMANDA_CASO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [demandas].[DEMANDA_CASO]  WITH CHECK ADD  CONSTRAINT [FK_DEMANDA_CASO_CREDITOS_PUENTE] FOREIGN KEY([CreditoPuenteId])
REFERENCES [cierre_puente].[CREDITOS_PUENTE] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [demandas].[DEMANDA_CASO] CHECK CONSTRAINT [FK_DEMANDA_CASO_CREDITOS_PUENTE]
GO
ALTER TABLE [demandas].[DEMANDA_CASO]  WITH CHECK ADD  CONSTRAINT [FK_DEMANDA_CASO_DEMANDA_DESPACHO] FOREIGN KEY([DespachoId])
REFERENCES [demandas].[DEMANDA_DESPACHO] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [demandas].[DEMANDA_CASO] CHECK CONSTRAINT [FK_DEMANDA_CASO_DEMANDA_DESPACHO]
GO
