SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [demandas_archivo].[DEMANDA_BITACORA](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[Tipo] [nvarchar](30) NOT NULL,
	[CampoModificado] [nvarchar](100) NULL,
	[ValorAnterior] [nvarchar](max) NULL,
	[ValorNuevo] [nvarchar](max) NULL,
	[Comentario] [nvarchar](max) NULL,
	[Usuario] [nvarchar](256) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
