SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [demandas].[DEMANDA_BITACORA](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[Tipo] [nvarchar](30) NOT NULL,
	[CampoModificado] [nvarchar](100) NULL,
	[ValorAnterior] [nvarchar](max) NULL,
	[ValorNuevo] [nvarchar](max) NULL,
	[Comentario] [nvarchar](max) NULL,
	[Usuario] [nvarchar](256) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DEMANDA_BITACORA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [demandas].[DEMANDA_BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_DEMANDA_BITACORA_DEMANDA_CASO] FOREIGN KEY([CasoId])
REFERENCES [demandas].[DEMANDA_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [demandas].[DEMANDA_BITACORA] CHECK CONSTRAINT [FK_DEMANDA_BITACORA_DEMANDA_CASO]
GO
