SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [demandas_archivo].[DEMANDA_SEGUIMIENTO](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[FechaEvento] [datetime2](7) NOT NULL,
	[EtapaAnterior] [nvarchar](60) NULL,
	[EtapaNueva] [nvarchar](60) NULL,
	[Comentario] [nvarchar](max) NULL,
	[EtapaSiguiente] [nvarchar](200) NULL,
	[FechaCompromiso] [datetime2](7) NULL,
	[Responsable] [nvarchar](256) NULL,
	[Bloqueador] [nvarchar](100) NULL,
	[RequiereEscalamiento] [bit] NOT NULL,
	[DocumentoSoporteId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
