SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [demandas].[DEMANDA_BLOQUEADOR](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[TipoBloqueador] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[ResponsableResolucion] [nvarchar](256) NULL,
	[FechaDeteccion] [datetime2](7) NOT NULL,
	[FechaCompromiso] [datetime2](7) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[RequiereComite] [bit] NOT NULL,
	[ComentarioCierre] [nvarchar](max) NULL,
	[FechaCierre] [datetime2](7) NULL,
 CONSTRAINT [PK_DEMANDA_BLOQUEADOR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [demandas].[DEMANDA_BLOQUEADOR]  WITH CHECK ADD  CONSTRAINT [FK_DEMANDA_BLOQUEADOR_DEMANDA_CASO] FOREIGN KEY([CasoId])
REFERENCES [demandas].[DEMANDA_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [demandas].[DEMANDA_BLOQUEADOR] CHECK CONSTRAINT [FK_DEMANDA_BLOQUEADOR_DEMANDA_CASO]
GO
