SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [demandas].[DEMANDA_SEGUIMIENTO](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[FechaEvento] [datetime2](7) NOT NULL,
	[EtapaAnterior] [nvarchar](60) NULL,
	[EtapaNueva] [nvarchar](60) NULL,
	[Comentario] [nvarchar](max) NULL,
	[EtapaSiguiente] [nvarchar](200) NULL,
	[FechaCompromiso] [datetime2](7) NULL,
	[Responsable] [nvarchar](256) NULL,
	[Bloqueador] [nvarchar](100) NULL,
	[RequiereEscalamiento] [bit] NOT NULL,
	[DocumentoSoporteId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DEMANDA_SEGUIMIENTO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [demandas].[DEMANDA_SEGUIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_DEMANDA_SEGUIMIENTO_DEMANDA_CASO] FOREIGN KEY([CasoId])
REFERENCES [demandas].[DEMANDA_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [demandas].[DEMANDA_SEGUIMIENTO] CHECK CONSTRAINT [FK_DEMANDA_SEGUIMIENTO_DEMANDA_CASO]
GO
