SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[EDC_PAGOS_VENCIDOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EDC] [int] NOT NULL,
	[NUM_CREDITO] [varchar](50) NOT NULL,
	[LEYENDA_12] [varchar](99) NULL,
	[NUMERO_RECIBOS_VENCIDOS] [int] NULL,
	[FECHA_VENCIMIENTO] [datetime] NULL,
	[PRINCIPAL] [money] NULL,
	[INTERESES] [money] NULL,
	[IVA] [money] NULL,
	[SEGUROS] [money] NULL,
	[INTERESES_MORATORIOS] [money] NULL,
	[COMISION_ADMON] [money] NULL,
	[TOTAL] [money] NULL,
	[FEC_EXTRACCION] [datetime] NULL,
 CONSTRAINT [PK14] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[EDC_PAGOS_VENCIDOS]  WITH CHECK ADD  CONSTRAINT [RefEDC35] FOREIGN KEY([ID_EDC])
REFERENCES [edc].[EDC] ([ID_EDC])
GO
ALTER TABLE [edc].[EDC_PAGOS_VENCIDOS] CHECK CONSTRAINT [RefEDC35]
GO
