SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[ProcessingJob](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Step] [nvarchar](255) NOT NULL,
	[ProcessedFiles] [int] NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NULL,
	[ErrorMessage] [nvarchar](max) NOT NULL,
	[TotalFiles] [int] NOT NULL,
	[ProcessingTime] [time](7) NOT NULL,
	[ConciliationProgress] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edc].[ProcessingJob] ADD  DEFAULT ('Iniciado') FOR [Status]
GO
ALTER TABLE [edc].[ProcessingJob] ADD  DEFAULT ('') FOR [Step]
GO
ALTER TABLE [edc].[ProcessingJob] ADD  DEFAULT ((0)) FOR [ProcessedFiles]
GO
ALTER TABLE [edc].[ProcessingJob] ADD  DEFAULT (getutcdate()) FOR [StartTime]
GO
ALTER TABLE [edc].[ProcessingJob] ADD  DEFAULT ('') FOR [ErrorMessage]
GO
ALTER TABLE [edc].[ProcessingJob] ADD  DEFAULT ((0)) FOR [TotalFiles]
GO
ALTER TABLE [edc].[ProcessingJob] ADD  DEFAULT ('00:00:00') FOR [ProcessingTime]
GO
ALTER TABLE [edc].[ProcessingJob] ADD  DEFAULT ((0)) FOR [ConciliationProgress]
GO
