SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[CREDITO_CUENTAS](
	[ID_CREDITO_CUENTA] [int] IDENTITY(1,1) NOT NULL,
	[NUM_CREDITO] [varchar](50) NOT NULL,
	[CUENTA] [varchar](99) NULL,
	[BANCO] [varchar](99) NULL,
	[CLABE] [varchar](99) NULL,
	[PRINCIPAL] [bit] NOT NULL,
 CONSTRAINT [PK35] PRIMARY KEY NONCLUSTERED 
(
	[ID_CREDITO_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[CREDITO_CUENTAS] ADD  DEFAULT ((0)) FOR [PRINCIPAL]
GO
ALTER TABLE [edc].[CREDITO_CUENTAS]  WITH CHECK ADD  CONSTRAINT [RefC_CREDITO42] FOREIGN KEY([NUM_CREDITO])
REFERENCES [edc].[C_CREDITO] ([NUM_CREDITO])
GO
ALTER TABLE [edc].[CREDITO_CUENTAS] CHECK CONSTRAINT [RefC_CREDITO42]
GO
