SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[RUBRO_X_CONCEPTOFACT](
	[CONCEPTO_ID] [int] NULL,
	[Cod_Rubro] [varchar](25) NULL,
	[Ind_IVA] [varchar](1) NULL
) ON [PRIMARY]
GO
ALTER TABLE [edc].[RUBRO_X_CONCEPTOFACT]  WITH CHECK ADD  CONSTRAINT [RefC_CONCEPTOFACT19] FOREIGN KEY([CONCEPTO_ID])
REFERENCES [edc].[C_CONCEPTOFACT] ([CONCEPTO_ID])
GO
ALTER TABLE [edc].[RUBRO_X_CONCEPTOFACT] CHECK CONSTRAINT [RefC_CONCEPTOFACT19]
GO
