SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[EDC_CUOTAS_POSPUESTAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EDC] [int] NOT NULL,
	[NUM_CREDITO] [varchar](50) NOT NULL,
	[FECHA_PAGO] [datetime] NULL,
	[CAPITAL] [money] NULL,
	[INTERESES] [money] NULL,
	[IVA] [money] NULL,
	[SEGUROS] [money] NULL,
	[INTERESES_MORATORIOS] [money] NULL,
	[COMISION_POR_ADMINISTRACION] [money] NULL,
	[TOTAL] [money] NULL,
	[FEC_EXTRACCION] [datetime] NULL,
 CONSTRAINT [PK20_EDC_CUOTAS_POSPUESTAS] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[EDC_CUOTAS_POSPUESTAS]  WITH CHECK ADD  CONSTRAINT [RefEDC38] FOREIGN KEY([ID_EDC])
REFERENCES [edc].[EDC] ([ID_EDC])
GO
ALTER TABLE [edc].[EDC_CUOTAS_POSPUESTAS] CHECK CONSTRAINT [RefEDC38]
GO
