SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[TDOCUMENTO](
	[DOCUMENTO_ID] [int] NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[NOTA] [varchar](1024) NULL,
 CONSTRAINT [PK4] PRIMARY KEY NONCLUSTERED 
(
	[DOCUMENTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
