SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*────────────────────────────────────────────────────────────────────────────*/
CREATE PROCEDURE [edc].[sp_inserEdcVencidos]
    --EXEC edc.sp_inserEdcVencidos '20250101'
	@FECHA DATE            -- misma fecha de corte que edc.sp_inserEdcCredito
AS
BEGIN
    SET NOCOUNT ON;

    /*─────────────────────── Ventanas de fecha ───────────────────────*/
    DECLARE
        @FEC_ACTUAL   DATE   = @FECHA,
        @FEC_ANT      DATE   = DATEADD(DAY , 1 , DATEADD(MONTH,-1,@FECHA)),
        @FEC_SIG      DATE   = DATEADD(MONTH, 1 , @FECHA),
        @CORTE        INT    = DAY(@FECHA),
        @FLAG         BIT    = CASE WHEN DAY(@FECHA) IN (1,3,5) THEN 1 ELSE 0 END;

    /* Ajuste fin-de-semana */
    IF DATEPART(dw,@FEC_ACTUAL)=7 SET @FEC_ACTUAL = DATEADD(DAY,2,@FEC_ACTUAL);
    IF DATEPART(dw,@FEC_ACTUAL)=1 SET @FEC_ACTUAL = DATEADD(DAY,1,@FEC_ACTUAL);

    /*──────────────────────-  INSERT 0,-1,-2 meses  -──────────────────*/
    ;WITH base AS (   /* créditos vigentes de interés */
        SELECT A.ID_EXTERNO        AS NUM_CREDITO,
               A.DIA_PAGO,
               E.ID_EDC            -- estado de cuenta ya generado
        FROM   Quiero_Confianza.PR.PR_CREDITOS A      WITH (NOLOCK)
        JOIN   KARDIA.edc.EDC        E
               ON  E.NUM_CREDITO = A.ID_EXTERNO
               AND E.FECHA_CORTE = @FECHA            -- estado de cuenta del corte
        WHERE  A.IND_LINEA       = 'N'
          AND  A.IND_ESTADO      = 'D'
          AND  A.IND_ESTADO_CONT = 'VI'
          AND  A.NUM_DESC_TIPO_CREDITO IN (1,2,3,4,9,10,11,12,13,14,15,16,17,28)
          AND  A.FEC_APERTURA   <  @FECHA
          AND  ((@FLAG=0  AND A.DIA_PAGO IN (28,29,30,31))
                OR (@FLAG<>0 AND A.DIA_PAGO =  @CORTE))
    ),
    ventana AS (      /* 0 = mes actual, -1, -2 */
        SELECT b.ID_EDC, b.NUM_CREDITO,
               v.Intervalo,
               DATEADD(MONTH, v.Intervalo, @FEC_ANT) AS FEC_INI,
               DATEADD(MONTH, v.Intervalo, @FEC_ACTUAL) AS FEC_FIN
        FROM   base b
        CROSS  APPLY (VALUES (0),( -1),( -2)) v(Intervalo)
    ),
    vencidos AS (     /* cálculo de montos por intervalo */
        SELECT  w.ID_EDC,
                w.NUM_CREDITO,
                'ÚLTIMOS 3 RECIBOS VENCIDOS'           AS LEYENDA_12,
                ISNULL(MAX(CASE WHEN C.SAL_RUBRO<>0 THEN C.NUM_SECUENCIA END),0)
                                                      AS NUMERO_RECIBOS_VENCIDOS,
                MAX(C.FEC_COBRO)                      AS FECHA_VENCIMIENTO,
                SUM(CASE WHEN C.COD_RUBRO='PRINCIPAL'                THEN C.SAL_RUBRO END)                     AS PRINCIPAL,
                SUM(CASE WHEN C.COD_RUBRO='INTERESES'                THEN C.SAL_RUBRO END)                     AS INTERESES,
                SUM(C.SAL_IVA)                                                                                 AS IVA,
                SUM(CASE WHEN C.COD_RUBRO IN ('SEGURO_DANOS','SEGURO_VIDA')
                                                                     THEN C.SAL_RUBRO END)                     AS SEGUROS,
                SUM(CASE WHEN C.COD_RUBRO='MORATORIOS'                THEN C.SAL_RUBRO END)                     AS INTERESES_MORATORIOS,
                SUM(CASE WHEN C.COD_RUBRO='COMISION_ADMINISTRACION'   THEN C.SAL_RUBRO END)                     AS COMISION_ADMON,
                SUM(C.SAL_RUBRO) + SUM(C.SAL_IVA)                      AS TOTAL,
                @FECHA                                                 AS FEC_EXTRACCION
        FROM   ventana w
        JOIN   Quiero_Confianza.PR.PR_CREDITOS      A  WITH (NOLOCK)
               ON A.ID_EXTERNO = w.NUM_CREDITO
        JOIN   Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C WITH (NOLOCK)
               ON C.NUM_CREDITO   = A.NUM_CREDITO
              AND C.IND_POSPOSICION <> 'S'
              AND C.IND_ESTADO      = 'P'
              AND C.SAL_RUBRO       <> 0
              AND C.FEC_COBRO      >= w.FEC_INI
              AND C.FEC_COBRO      <  w.FEC_FIN         -- fin abierto
        GROUP BY w.ID_EDC, w.NUM_CREDITO, w.Intervalo
    )
    INSERT INTO KARDIA.edc.EDC_PAGOS_VENCIDOS
           (ID_EDC,NUM_CREDITO,LEYENDA_12,NUMERO_RECIBOS_VENCIDOS,FECHA_VENCIMIENTO,
            PRINCIPAL,INTERESES,IVA,SEGUROS,INTERESES_MORATORIOS,COMISION_ADMON,TOTAL,
            FEC_EXTRACCION)
    SELECT ID_EDC,NUM_CREDITO,LEYENDA_12,NUMERO_RECIBOS_VENCIDOS,FECHA_VENCIMIENTO,
           PRINCIPAL,INTERESES,IVA,SEGUROS,INTERESES_MORATORIOS,COMISION_ADMON,TOTAL,
           FEC_EXTRACCION
    FROM   vencidos;
 /*
    /*────────────── Bitácora ──────────────*/
    INSERT  KARDIA.log.EDC_BITACORA
            (FECHA_CORTE,PROCESO,MOVIMIENTOS,CREATED)
    VALUES  (@FECHA,
             'sp_inserEdcVencidos - EDC_PAGOS_VENCIDOS',
             (SELECT COUNT(*) FROM KARDIA.edc.EDC_PAGOS_VENCIDOS WHERE FEC_EXTRACCION=@FECHA),
             SYSDATETIME());
*/

END
GO
