SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	--exec [edc].[sp_inserEdcCredito] '20210703'
CREATE PROCEDURE [edc].[sp_inserEdcCredito] @FECHA DATE
----	NOMBRE:			[edc].[sp_inserEdcCredito]							----
----	DESACRIPCION:	INSERTA MOVIMIENTOS POR DIAS DE CORTE	----
----	CREADO POR:		MARCO HUERTA						----
----	FECHA:			25/04/2025								---
----	ORIGEN 1 PARA EDC BANCO
----	EXEC [edc].[sp_inserEdcCredito]'20230331'
----	select * from [dbo].[EDC] where [FECHA_CORTE] = '20210331'
----	el ultimo dia del mes

AS
BEGIN
	SET NOCOUNT ON

	
	--DECLARE @FECHA DATE = '20250301'
	
	DECLARE @FECHA_CORTE_SIGUIENTE DATE,
	@FECHA_CORTE_ANTERIOR DATE,
	@CORTE INT,
	@DATENAME VARCHAR(25),
	@PROX_CORTE INT,
	@FECHA_CORTE_ACTUAL DATE,
	@FLAG INT,
	@DOC_ID INT

	--SET @FECHA = '20250301'--(SELECT DATEADD(DAY,-1,CAST(FEC_HOY AS DATE)) FROM [Quiero_Confianza].[CF].[CF_CALENDARIOS] WITH (NOLOCK) WHERE COD_EMPRESA = '001' AND COD_AGENCIA = '001' AND COD_SISTEMA = 'PR');---@FECHA 
	SET @FECHA_CORTE_SIGUIENTE = DATEADD(DAY, 0, DATEADD(MONTH, 1, @FECHA))
	SET @FECHA_CORTE_ANTERIOR = DATEADD(DAY, 1, DATEADD(MONTH, -1, @FECHA))
	SET @CORTE = FORMAT(@FECHA,'dd')
	SET @DATENAME = DATENAME(dw, @FECHA )
	SET @FECHA_CORTE_ACTUAL = @FECHA

	IF @CORTE=1 OR @CORTE=3 OR @CORTE=5 BEGIN
		 SET @FLAG =1
	 END ELSE BEGIN
		SET @FLAG=0
	 END

	 IF DATEPART(dw,@FECHA_CORTE_ACTUAL) = 7
	 BEGIN
	 SET @FECHA_CORTE_ACTUAL = DATEADD (DAY,2,@FECHA_CORTE_ACTUAL)
	 END
	  IF DATEPART(dw,@FECHA_CORTE_ACTUAL) = 1
	 BEGIN
	 SET @FECHA_CORTE_ACTUAL = DATEADD (DAY,1,@FECHA_CORTE_ACTUAL)
	 END


	 
----======================== TABLA TEMPORAL DE SALDOS =================================================
	CREATE TABLE #SALDOS 
	(ID_EXTERNO VARCHAR(1000),
	MONTO_POSPUESTO DECIMAL(20,2),
	NUM_CUOTAS_POSPUESTAS INT,
	MON_LIQUIDAR DECIMAL(20,2),
	SAL_VENCIDO DECIMAL(20,2),
	SAL_PERIODO DECIMAL(20,2),
	TOTAL_PAGO DECIMAL(20,2),
	TOTAL_PAGOS_PERIODO DECIMAL(20,2),
	NUM_PAGO_PENDIENTES INT,
	MON_PAGAR_FUTURO  DECIMAL(20,2)
	)

	
INSERT INTO #SALDOS (ID_EXTERNO)

	SELECT 
	BB.ID_EXTERNO
	FROM [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK) 
	WHERE 
		   BB.IND_LINEA = 'N'
		   AND BB.IND_ESTADO IN ('D')
		   AND BB.NUM_DESC_TIPO_CREDITO IN (1,2,3,4,8,9,10,11,12,13,14,15,16,17,20,23,28)   ----- SE AGREGAN TIPO 20,23 01/02/2024 habria que quitar el numero 8 / Se agrega el 28 (29/10/24)
		   AND CAST(BB.FEC_APERTURA AS DATE) < @FECHA_CORTE_ACTUAL
		   AND BB.ID_EXTERNO IS NOT NULL 
		   AND ((@FLAG = 0 and BB.DIA_PAGO IN (28,29,30,31)) OR (@FLAG <> 0 and BB.DIA_PAGO = @CORTE))

UPDATE #SALDOS  
SET MONTO_POSPUESTO = ISNULL(( SELECT CAST(SUM(SAL_RUBRO) + sum(Sal_Iva) AS DECIMAL(20,2)) SAL_RUBRO
    FROM [Quiero_Confianza].PR.PR_CREDITOS BB
    LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C WITH (NOLOCK) 
	ON BB.NUM_CREDITO = C.NUM_CREDITO
    WHERE #SALDOS.ID_EXTERNO = BB.ID_EXTERNO
    AND C.IND_POSPOSICION = 'S'
    AND C.IND_ESTADO = 'P'
	AND BB.DIA_PAGO = @CORTE
	GROUP BY BB.ID_EXTERNO),0)

UPDATE #SALDOS  
SET NUM_CUOTAS_POSPUESTAS = ( SELECT ISNULL(COUNT(DISTINCT(NUM_SECUENCIA)),0) 
    FROM [Quiero_Confianza].PR.PR_CREDITOS BB
    INNER JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C  WITH (NOLOCK) 
	ON BB.NUM_CREDITO = C.NUM_CREDITO      
    WHERE BB.ID_EXTERNO = #SALDOS.ID_EXTERNO
    AND    C.IND_POSPOSICION = 'S'
    AND C.IND_ESTADO = 'P'
	GROUP BY BB.ID_EXTERNO
	)

UPDATE #SALDOS 
SET MON_LIQUIDAR = ISNULL( (SELECT  CAST(SUM(SAL_RUBRO + SAL_IVA) AS DECIMAL(10,2)) 
	FROM [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C WITH (NOLOCK) 
	INNER JOIN [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK) ON C.Num_Credito = BB.Num_Credito  
	WHERE BB.ID_EXTERNO = #SALDOS.ID_EXTERNO
	AND BB.IND_ESTADO = 'D'  
	AND C.IND_ESTADO <> 'N' 
	AND COD_RUBRO <> 'PRINCIPAL'
	AND CAST(C.FEC_COBRO AS DATE) <= @FECHA_CORTE_SIGUIENTE
	GROUP BY BB.ID_EXTERNO) 
	+ 
	(SELECT  CAST(SUM(BB.MON_SALDO) AS DECIMAL(10,2)) FROM [Quiero_Confianza].PR.PR_CREDITOS BB 
	WHERE BB.ID_EXTERNO = #SALDOS.ID_EXTERNO	
	AND BB.IND_ESTADO = 'D' 
	and BB.IND_LINEA = 'N' 
	GROUP BY BB.ID_EXTERNO),0)

UPDATE #SALDOS
SET SAL_VENCIDO = ISNULL((SELECT  CAST(SUM(Sal_Rubro + Sal_Iva) AS DECIMAL(10,2)) 
	FROM [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C  WITH (NOLOCK) 
	INNER JOIN [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK) ON C.Num_Credito = BB.Num_Credito 
	WHERE BB.ID_EXTERNO = #SALDOS.ID_EXTERNO
	AND BB.IND_ESTADO = 'D' 
	AND C.IND_ESTADO <> 'N'  
	AND IND_POSPOSICION <> 'S' 
	AND CAST(C.Fec_COBRO AS DATE) <= DATEADD(MONTH,  0, DATEADD(DAY, 1, @FECHA_CORTE_ACTUAL))
	GROUP BY BB.ID_EXTERNO),0)

UPDATE #SALDOS
SET SAL_PERIODO = ISNULL((SELECT  CAST(SUM(Sal_Rubro + Sal_Iva) AS DECIMAL(10,2)) 
	FROM [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C  WITH (NOLOCK) 
	INNER JOIN [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK) ON C.Num_Credito = BB.Num_Credito 
	WHERE BB.ID_EXTERNO = #SALDOS.ID_EXTERNO 
	AND C.IND_ESTADO <> 'N' 
	AND CAST(C.FEC_COBRO AS DATE) BETWEEN DATEADD(MONTH,  0, DATEADD(DAY, 2, @FECHA_CORTE_ACTUAL)) 
	AND DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_SIGUIENTE))
	),0)

UPDATE #SALDOS
SET TOTAL_PAGO =	ISNULL((SELECT  CAST(SUM(Sal_Rubro + Sal_Iva) AS DECIMAL(10,2)) 
	FROM [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C  WITH (NOLOCK) 
	INNER JOIN [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK) ON C.Num_Credito = BB.Num_Credito 
	WHERE BB.ID_EXTERNO = #SALDOS.ID_EXTERNO 
	AND BB.IND_ESTADO = 'D' 
	AND IND_POSPOSICION <> 'S' 
	AND C.IND_ESTADO <> 'N' 
	AND CAST(C.FEC_COBRO AS DATE) <= @FECHA_CORTE_SIGUIENTE
	GROUP BY BB.ID_EXTERNO),0)  

UPDATE #SALDOS
SET TOTAL_PAGOS_PERIODO = ISNULL((SELECT CAST(SUM(Mon_pago + Mon_pago_iva) AS DECIMAL(10,2)) 
	FROM [Quiero_Confianza].PR.PR_DETALLE_PAGO X  WITH (NOLOCK) 
	INNER JOIN [Quiero_Confianza].Pr.PR_ENCABEZADO_PAGO B WITH (NOLOCK) ON B.ID_SECUENCIA = X.ID_secuencia 
	INNER JOIN [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK) ON B.Num_Credito = BB.Num_Credito 
	WHERE BB.ID_EXTERNO = #SALDOS.ID_EXTERNO
	AND COD_CONCEPTO IN ('PRINCIPAL') 
	AND Tip_transaccion = '4' 
	AND BB.IND_ESTADO = 'D'  
	AND COD_ESTADO <> 'N' 
	AND  FEC_Aplicacion BETWEEN @FECHA_CORTE_ANTERIOR AND @FECHA_CORTE_ACTUAL
	GROUP BY BB.ID_EXTERNO),0)

UPDATE #SALDOS
SET NUM_PAGO_PENDIENTES =ISNULL((SELECT COUNT(DISTINCT(C.NUM_SECUENCIA)) NUM_PAGO_PENDIENTES
	FROM [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C WITH (NOLOCK) 
	INNER JOIN [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK) ON C.Num_Credito = BB.Num_Credito 
	WHERE BB.ID_EXTERNO = #SALDOS.ID_EXTERNO
	AND C.IND_POSPOSICION <> 'S' 
	AND BB.IND_ESTADO = 'D' 
	AND C.IND_ESTADO =  'P' 
	AND CAST(C.FEC_COBRO AS DATE)<=  @FECHA_CORTE_ACTUAL 
	AND SAL_RUBRO <> 0
	GROUP BY BB.ID_EXTERNO),0)

UPDATE #SALDOS
SET	MON_PAGAR_FUTURO =	ISNULL((SELECT CAST(SUM(Sal_Rubro + Sal_Iva) AS DECIMAL(10,2)) 
	FROM [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C  WITH (NOLOCK) 
	INNER JOIN [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK) ON C.Num_Credito = BB.Num_Credito 
	WHERE BB.ID_EXTERNO = #SALDOS.ID_EXTERNO AND C.IND_ESTADO <> 'N' AND C.IND_POSPOSICION <> 'S'  
	AND CAST(C.FEC_COBRO AS DATE) BETWEEN DATEADD(MONTH,  0, DATEADD(DAY, 2, @FECHA_CORTE_SIGUIENTE)) 
	AND DATEADD(MONTH,  1, DATEADD(DAY, 0, @FECHA_CORTE_SIGUIENTE))),0) 

SELECT @DOC_ID =  DOCUMENTO_ID FROM [DB_EDO_CTA].[dbo].[TDOCUMENTO] WHERE NOMBRE = 'FACTURA'


----======================== INSERT A TABLA EDC =================================================
INSERT INTO [KARDIA].[edc].[EDC] (
      [NUM_CLIENTE]                  -- ← todas las columnas destino…
    , [PRODUCTO_ID]
    , [DOCUMENTO_ID]
    , [ID_EMISOR]
    , [ESTATUS_EDC]
    , [NUM_CREDITO]
    , [MON_LIQUIDAR]
    , [SAL_VENCIDO]
    , [FEC_LIM_PAGO_VENCIDO]
    , [SAL_PERIODO]
    , [FEC_LIM_PAGO_VIGENTE]
    , [TOTAL_PAGO]
    , [NUM_CREDITO2]
    , [SALDO_INICIAL_PERIODO]
    , [TOTAL_PAGOS_PERIODO]
    , [OTROS_ABONOS]
    , [TOTAL_CARGOS_PERIODO]
    , [SALDO_FINAL_PERIODO]
    , [FECHA_CORTE]
    , [PERIODO]
    , [DIAS_PERIODO]
    , [FEC_VENCIMIENTO]
    , [NUM_RECIBO]
    , [CAT_TTIE]
    , [CAT_R_PA]
    , [TASA_ORDINARIA_ANUAL]
    , [TASA_MORA_ANUAL]
    , [IVA_INTERESES]
    , [COMISIONES_COBRADAS]
    , [NUM_MEN_ACTUAL]
    , [NUM_MEN_CREDITO]
    , [NUM_PAGO_PENDIENTES]
    , [NUM_PAGO_ANTICIPADOS]
    , [TOTAL_PAGADO_PERIODO_ANTERIOR]
    , [TOTAL_PAGO_CAPITAL_PERIODO_ANTERIOR]
    , [SALDO_VENCIDO_CAPITAL]
    , [SALDO_VENCIDO_INTERESES]
    , [SALDO_VENCIDO_SEGUROS]
    , [AMORTIZACION_ACTUAL]
    , [INTERESES_ORDINARIOS_ACTUAL]
    , [INTERESES_MORATORIOS_ACTUAL]
    , [COMISIONES_ACTUALES]
    , [SEGUROS_ACTUALE]
    , [IVA_COMISIONES_ACTUAL]
    , [IVA_INTERES_O_ACTUAL]
    , [IVA_INTERES_M_ACTUAL]
    , [IVA_INTERES_O_VENCIDO_ACTUAL]
    , [TOTAL_PAGAR_ACTUAL]
    , [FEC_LIM_PAGO_FUTURA]
    , [MON_PAGAR_FUTURO]
    , [COM_GAS_COBRANZA]
    , [PAGO_IVA_COMISION]
    , [TOTAL_COMISIONES]
    , [MON_BASE_CALCULO_ORD]
    , [MON_BASE_CALCULO_MOR]
    , [REFERENCIA]
    , [FEC_OBJET]
    , [FOLIO_OBJET]
    , [CONCEPTO_OBJET]
    , [IMPORTE_OBJET]
    , [CODIGO_QR]
    , [FOLIO_FISCAL]
    , [SELLO_DIGITAL]
    , [SELLO_SAT]
    , [NUM_SERIE_SAT]
    , [CAD_ORIG_CERTIF]
    , [INFO_PROCESO]
    , [MONTO_POSPUESTO]
    , [NUMERO_DE_CUOTAS_POSPUESTAS]
    , [LEYENDA_POSPUESTAS]
    , [LC_VENCIMIENTO_LINEA]
    , [LC_MONTO_LINEA]
    , [LC_SALDO_ANTERIOR]
    , [LC_DISPOSICIONES]
    , [LC_PAGOS_CAPITAL]
    , [LC_SALDO_DISPONIBLE]
    , [LEYENDA_DISPOSICIONES]
    , [LEYENDA_RESUMEN_LCRED]
    , [OTROS_CARGOS]
    , [REGIMEN_FISCAL_RECEPTOR]
    , [USO_CFDI]
    , [CONTROL_REQUIERE_CFDI]
    , [CONTROL_GENERO_CFDI]
    , [CONTROL_GENERO_ESTADO_CUENTA]
    , [CONTROL_BLOQUEADO]
    , [TOTAL_ORDENES_PROCESADAS]
)	 
--======================== QUERY PRINCIPAL =================================================
	SELECT 
	[B].[COD_CLIENTE] AS NUM_CLIENTE,
	CASE	
		WHEN [A].[NUM_DESC_TIPO_CREDITO] IN (1,2,3,9,10,11,12,13,28) AND [A].[IND_ESTADO] = 'D' 
		THEN 1 
		WHEN [A].[NUM_DESC_TIPO_CREDITO] = 4 AND [A].[IND_ESTADO] = 'D' 
		THEN 2 
		WHEN  [A].[NUM_DESC_TIPO_CREDITO] = 8 AND  [A].[IND_ESTADO] = 'D' 
		THEN 3 
		WHEN [A].[NUM_DESC_TIPO_CREDITO] IN (14,15,16,17) AND [A].[IND_ESTADO] = 'D' 
		THEN 19 
		WHEN [A].[NUM_DESC_TIPO_CREDITO] IN (20,23) AND [A].[IND_ESTADO] = 'D'    ----- SE AGREGAN TIPO 20,23 01/02/2024
		THEN 17 
	END AS PRODUCTO_ID,
	'1' AS DOCUMENTO_ID,
	CASE	
		WHEN [A].[NUM_DESC_TIPO_CREDITO]   IN (1,2,3,9,10,11,12,13,14,15,16,17,28) AND [A].[IND_ESTADO] = 'D' 
		THEN 9 
		WHEN [A].[NUM_DESC_TIPO_CREDITO] = 4 AND [A].[IND_ESTADO] = 'D' 
		THEN 4 
		WHEN [A].[NUM_DESC_TIPO_CREDITO] = 8 AND [A].[IND_ESTADO] = 'D' 
		THEN 1 
		WHEN [A].[NUM_DESC_TIPO_CREDITO] IN (20,23) AND [A].[IND_ESTADO] = 'D'    ----- SE AGREGAN TIPO 20,23 01/02/2024
		THEN 9
	END AS ID_EMISOR,
	CASE
		WHEN [A].[NUM_DESC_TIPO_CREDITO] IN (23) AND [A].[IND_ESTADO] = 'D'    ----- SE AGREGAN TIPO 20,23 01/02/2024 -- SE QUITA TIPO 20 23/08/2024
		THEN '10'
		ELSE '0' 
	END AS ESTATUS_EDC,
	[A].[ID_EXTERNO] AS NUM_CREDITO, 
	ISNULL([V].[MON_LIQUIDAR],0) AS MON_LIQUIDAR,   
	ISNULL([V].[SAL_VENCIDO],0) AS SAL_VENCIDO, 
	CASE WHEN ISNULL([V].[SAL_VENCIDO],0)> 0 THEN 'INMEDIATO' ELSE  FORMAT(@FECHA_CORTE_SIGUIENTE,'dd/MM/yyyy') END AS FEC_LIM_PAGO_VENCIDO,
	ISNULL([V].[SAL_PERIODO],0) AS SAL_PERIODO, 
	CAST(@FECHA_CORTE_SIGUIENTE AS DATE) AS FEC_LIM_PAGO_VIGENTE,        
	ISNULL([V].[TOTAL_PAGO],0) AS TOTAL_PAGO,           
	[A].[ID_EXTERNO] AS NUM_CREDITO2,           
	ISNULL(CAST([CREDITO].[SALDO_FINAL_PERIODO]  AS DECIMAL(10,2)) ,0) + ISNULL( [V].[TOTAL_PAGOS_PERIODO],0) AS SALDO_INICIAL_PERIODO, 
	ISNULL( [V].[TOTAL_PAGOS_PERIODO],0) AS TOTAL_PAGOS_PERIODO,  
	'0.00' AS OTROS_ABONOS, 
	'0.00' AS TOTAL_CARGOS_PERIODO, 
	CAST([CREDITO].[SALDO_FINAL_PERIODO] AS DECIMAL(10,
	2)) AS SALDO_FINAL_PERIODO, 
	CAST(@FECHA AS DATE) AS FECHA_CORTE, 
	CONCAT(FORMAT(DATEADD(day,1,(DATEADD(month,0,@FECHA_CORTE_ACTUAL))),
	'dd/MM/yyyy'), ' al ',
		FORMAT(DATEADD(day,0,(DATEADD(month,0,@FECHA_CORTE_SIGUIENTE))),
	'dd/MM/yyyy')) AS PERIODO, 
	(CASE [A].[TIP_CALENDARIO]  
		WHEN 3 THEN 30 
		WHEN 2 THEN DATEDIFF(DAY,
	@FECHA_CORTE_ANTERIOR,
	@FECHA_CORTE_ACTUAL) 
	END) AS DIAS_PERIODO, 
	MAX([A].[FEC_VENCIMIENTO]) AS FEC_VENCIMIENTO, 
	CONCAT([SEC_ACTUAL].[Num_Secuencia] ,' | ',[SEC_TOTAL].[NUM_SECUENCIA]) AS NUM_RECIBO,   
	CAST(CAST([A].[MON_CAT_REMANENTE] AS DECIMAL(10,2)) AS VARCHAR(12)) AS CAT_TTIE, --REVISAR CAT DIFERENTE EN MISMO CREDITO
	CAST(CAST([A].[MON_CAT_REMANENTE] AS DECIMAL(10,2)) AS VARCHAR(12)) AS CAT_R_PA, --REVISAR CAT DIFERENTE EN MISMO CREDITO
	CAST([A].[TASA_INTERES] AS DECIMAL(16,
	2)) AS TASA_ORDINARIA_ANUAL,
	CAST([A].[TASA_MORA] AS DECIMAL(16,
	2)) AS TASA_MORA_ANUAL,
	CASE WHEN [IND_IVA].[INTERESES] = 'INTERESES'  THEN '16.00' 
		ELSE '0.00' 
	END AS IVA_INTERESES,
	CASE WHEN [IND_IVA].[COMISION_ADMINISTRACION] = 'COMISION_ADMINISTRACION'  THEN '16.00' 
		ELSE '0.00' 
	END AS COMISIONES_COBRADAS,
	[SEC_ACTUAL].[Num_Secuencia] AS NUM_MEN_ACTUAL, 
	[SEC_TOTAL].[NUM_SECUENCIA]  AS NUM_MEN_CREDITO, 
	ISNULL( [V].[NUM_PAGO_PENDIENTES] , 0) AS NUM_PAGO_PENDIENTES,
	'0' AS NUM_PAGO_ANTICIPADOS, 	
	ISNULL([P_ANTERIOR].[TOTAL_PAGADO_PERIODO_ANTERIOR],0) AS TOTAL_PAGADO_PERIODO_ANTERIOR,
	ISNULL([P_ANTERIOR].[TOTAL_PAGO_CAPITAL_PERIODO_ANTERIOR],0) AS TOTAL_PAGO_CAPITAL_PERIODO_ANTERIOR,
	SUM([SALDO_ACTUAL].[SALDO_VENCIDO_CAPITAL]) AS SALDO_VENCIDO_CAPITAL, 
	SUM([SALDO_ACTUAL].[SALDO_VENCIDO_INTERESES]) AS SALDO_VENCIDO_INTERESES,
	SUM([SALDO_ACTUAL].[SALDO_VENCIDO_SEGUROS]) AS SALDO_VENCIDO_SEGUROS,
	SUM([SALDO_ACTUAL].[AMORTIZACION_ACTUAL]) AS AMORTIZACION_ACTUAL,
	SUM([SALDO_ACTUAL].[INTERESES_ORDINARIOS_ACTUAL]) AS INTERESES_ORDINARIOS_ACTUAL,
	SUM([SALDO_ACTUAL].[INTERESES_MORATORIOS_ACTUAL]) AS INTERESES_MORATORIOS_ACTUAL,
	SUM([SALDO_ACTUAL].[COMISIONES_ACTUALES]) AS COMISIONES_ACTUALES,
	SUM([SALDO_ACTUAL].[SEGUROS_ACTUALE]) AS SEGUROS_ACTUALE,
	SUM([SALDO_ACTUAL].[IVA_COMISIONES_ACTUAL]) AS  IVA_COMISIONES_ACTUAL,
	SUM([SALDO_ACTUAL].[IVA_INTERES_O_ACTUAL]) AS IVA_INTERES_O_ACTUAL,
	SUM([SALDO_ACTUAL].[IVA_INTERES_M_ACTUAL]) AS IVA_INTERES_M_ACTUAL,
	SUM([SALDO_ACTUAL].[IVA_INTERES_O_VENCIDO_ACTUAL]) AS IVA_INTERES_O_VENCIDO_ACTUAL,
	SUM([SALDO_ACTUAL].[TOTAL_PAGAR_ACTUAL]) AS TOTAL_PAGAR_ACTUAL,
	DATEADD(MONTH,1,CAST(@FECHA_CORTE_SIGUIENTE AS DATE)) AS FEC_LIM_PAGO_FUTURA, 
	[V].[MON_PAGAR_FUTURO] AS MON_PAGAR_FUTURO,
	SUM([SALDO_ACTUAL].[COM_GAS_COBRANZA]) AS COM_GAS_COBRANZA ,
	SUM([SALDO_ACTUAL].[PAGO_IVA_COMISION]) AS PAGO_IVA_COMISION,
	SUM([SALDO_ACTUAL].[PAGO_IVA_COMISION] + [SALDO_ACTUAL].[COM_GAS_COBRANZA]) AS TOTAL_COMISIONES,
	ISNULL(CASE WHEN [MORATORIO].[FEC_COBRO]  BETWEEN  DATEADD(DAY,
	1,
	DATEADD(MONTH, 0, @FECHA_CORTE_ACTUAL )) AND @FECHA_CORTE_SIGUIENTE   THEN [MORATORIO].[MON_BASE] 
	END,0)	AS MON_BASE_CALCULO_ORD,  
	ISNULL(CASE WHEN [MORATORIO].[Fec_Base_Calc]  BETWEEN  DATEADD(DAY, 1, DATEADD(MONTH, 0, @FECHA_CORTE_ACTUAL )) AND @FECHA_CORTE_SIGUIENTE THEN [MORATORIO].[MON_BASE] 
	END,0)	AS MON_BASE_CALCULO_MOR,
	ISNULL([DEMOGRAFICOS].[REFERENCIA],NULL) AS REFERENCIA,      
	NULL AS FEC_OBJET,
	NULL AS FOLIO_OBJET,
	NULL AS CONCEPTO_OBJET,
	NULL AS IMPORTE_OBJET,
	NULL AS [CODIGO_QR],
	NULL AS [FOLIO_FISCAL],
	NULL AS [SELLO_DIGITAL],
	NULL AS [SELLO_SAT],
	NULL AS [NUM_SERIE_SAT],
	NULL AS [CAD_ORIG_CERTIF],
	NULL AS [INFO_PROCESO],
	ISNULL([V].[MONTO_POSPUESTO],0) AS MONTO_POSPUESTO,
	ISNULL([V].[NUM_CUOTAS_POSPUESTAS],0)  AS NUMERO_DE_CUOTAS_POSPUESTAS,
	NULL AS LEYENDA_POSPUESTAS,
	NULL AS [LC_VENCIMIENTO_LINEA],
	NULL AS [LC_MONTO_LINEA],
	NULL AS [LC_SALDO_ANTERIOR],
	NULL AS [LC_DISPOSICIONES],
	NULL AS [LC_PAGOS_CAPITAL],
	NULL AS [LC_SALDO_DISPONIBLE],
	NULL AS [LEYENDA_DISPOSICIONES],
	NULL AS [LEYENDA_RESUMEN_LCRED],
	SUM([SALDO_ACTUAL].[OTROS_CARGOS]) AS OTROS_CARGOS, ISNULL(ISNULL([DEMOGRAFICOS].[REGIMEN_FISCAL_RECEPTOR],
	[F].[NUM_CONVENIO]), '616') AS REGIMEN_FISCAL_RECEPTOR, 
	(CASE 
		WHEN [DEMOGRAFICOS].[REGIMEN_FISCAL_RECEPTOR] IN ('601',
	'603',
	'606',
	'612',
	'620',
	'621',
	'622',
	'623',
	'624',
	'625',
	'626') OR [F].[NUM_CONVENIO] IN ('601',
	'626') THEN 'G03' 
		WHEN [DEMOGRAFICOS].[REGIMEN_FISCAL_RECEPTOR] IN ('605',
	'607',
	'608',
	'610',
	'611',
	'614',
	'615',
	'616') OR [F].[NUM_CONVENIO] IN ('605',
	'616') THEN 'S01'  ELSE 'S01'
	END) AS USO_CFDI,
	'0' AS [CONTROL_REQUIERE_CFDI],
	'0' AS [CONTROL_GENERO_CFDI],
	'0' AS [CONTROL_GENERO_ESTADO_CUENTA],
	'0' AS [CONTROL_BLOQUEADO],
	'0' AS [TOTAL_ORDENES_PROCESADAS]

		--------------------------------------------------------------------------FIN BLOQUE TERMINADO
	
	FROM   [Quiero_Confianza].PR.PR_CREDITOS A WITH (NOLOCK)
	LEFT JOIN [Quiero_Confianza].CL.CL_CLIENTES B WITH (NOLOCK) 
	ON B.COD_CLIENTE = A.COD_CLIENTE AND B.COD_EMPRESA = A.COD_EMPRESA 
	LEFT JOIN  [Quiero_Confianza].CL.CL_ID_CLIENTES D WITH (NOLOCK) 
	ON A.COD_CLIENTE = D.COD_CLIENTE AND D.COD_TIPO_ID ='RFC'
	LEFT JOIN  [Quiero_Confianza].CL.CL_ID_CLIENTES E WITH (NOLOCK) 
	ON A.COD_CLIENTE = E.COD_CLIENTE AND E.COD_TIPO_ID ='CURP'
	LEFT JOIN #SALDOS V ON V.ID_EXTERNO = A.ID_EXTERNO
	LEFT JOIN [DB_EDO_CTA].[EDC].[DEMOGRAFICOS] DEMOGRAFICOS ON DEMOGRAFICOS.ID_EXTERNO collate SQL_Latin1_General_CP1_CI_AS = A.ID_EXTERNO
	
    LEFT JOIN  [Quiero_Confianza].CL.CL_CONVENIO_X_CLIENTE F WITH (NOLOCK) ------ REGIMEN FISCAL
    ON A.COD_CLIENTE = F.COD_CLIENTE    ------- REGIMEN FISCAL

	OUTER APPLY(
	SELECT 
	MAX(Num_Secuencia) NUM_SECUENCIA
	FROM [Quiero_Confianza].PR.PR_CREDITOS PR
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C ON C.Num_Credito =PR.NUM_CREDITO 
	WHERE PR.ID_EXTERNO = A.ID_EXTERNO 
	GROUP BY PR.ID_EXTERNO	
	)SEC_TOTAL

	OUTER APPLY(
	SELECT TOP 1 CAST(MON_BASE AS DECIMAL(10,2)) MON_BASE, 
	CAST(FEC_COBRO AS DATE) FEC_COBRO,
	CAST(Fec_Base_Calc AS DATE) Fec_Base_Calc
	FROM [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C WITH (NOLOCK) 
	INNER JOIN [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK) ON C.Num_Credito = BB.Num_Credito 
	WHERE BB.ID_EXTERNO = A.ID_EXTERNO   
	AND C.IND_POSPOSICION <> 'S' AND C.IND_ESTADO = 'P'   
	AND COD_RUBRO = 'MORATORIOS' 
	ORDER BY Num_Secuencia DESC
	)MORATORIO

	OUTER APPLY(
	SELECT top 1
	C.DET_DIRECCION,
	C.NUM_EXTERIOR,
	C.NUM_INTERIOR,
	R.DES_DISTRITO,
	Q.DES_PROVINCIA,
	C.COD_POSTAL,
	P.NOM_PAIS
	FROM   [Quiero_Confianza].PR.PR_CREDITOS W WITH (NOLOCK)
	INNER JOIN [Quiero_Confianza].CL.CL_CLIENTES B WITH (NOLOCK) ON B.COD_CLIENTE = W.COD_CLIENTE 
		AND B.COD_EMPRESA = W.COD_EMPRESA 
	INNER JOIN [Quiero_Confianza].CL.CL_DIR_CLIENTES C   WITH (NOLOCK) ON C.COD_CLIENTE = B.COD_CLIENTE 
		AND C.COD_CLIENTE = B.COD_CLIENTE  AND C.COD_EMPRESA = W.COD_EMPRESA AND  C.COD_EMPRESA = W.COD_EMPRESA AND C.APDO_POSTAL = 'DF'
	INNER JOIN [Quiero_Confianza].PA.PA_PAISES P     WITH (NOLOCK)  ON P.COD_PAIS  = C.COD_PAIS
	INNER JOIN [Quiero_Confianza].PA.PA_PROVINCIAS Q   WITH (NOLOCK)   ON Q.COD_PAIS  = C.COD_PAIS  
		AND Q.COD_PROVINCIA = C.COD_PROVINCIA 
	INNER JOIN [Quiero_Confianza].PA.PA_DISTRITOS R    WITH (NOLOCK)   ON R.COD_PAIS  = C.COD_PAIS  
		AND R.COD_DISTRITO  = C.COD_DISTRITO AND R.COD_PROVINCIA = Q.COD_PROVINCIA
	WHERE W.ID_EXTERNO = A.ID_EXTERNO
	) DIRECCION		    


	OUTER APPLY (SELECT TOP 1 C.NUM_SECUENCIA 
	FROM [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C WITH (NOLOCK) 
	INNER JOIN [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK) ON C.Num_Credito = BB.Num_Credito 
	WHERE BB.ID_EXTERNO = A.ID_EXTERNO  
	AND C.IND_ESTADO <> 'N'  
	AND CAST(FEC_COBRO AS DATE) = @FECHA_CORTE_SIGUIENTE
	ORDER BY C.NUM_SECUENCIA DESC)SEC_ACTUAL

	OUTER APPLY(SELECT TOP 1 CASE WHEN  XX.IND_IVA = 'S' THEN 'INTERESES' ELSE NULL END AS INTERESES,
	CASE WHEN X.IND_IVA = 'S' THEN 'COMISION_ADMINISTRACION' ELSE NULL END AS COMISION_ADMINISTRACION 
	FROM [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK)
	LEFT JOIN[Quiero_Confianza].[PR].[PR_RUBRO_X_CREDITO] X WITH (NOLOCK) 
	ON X.NUM_CREDITO = BB.NUM_CREDITO AND X.COD_RUBRO = 'COMISION_ADMINISTRACION'
	LEFT JOIN [Quiero_Confianza].[PR].[PR_RUBRO_X_CREDITO] XX WITH (NOLOCK) 
	ON XX.NUM_CREDITO = BB.NUM_CREDITO AND XX.COD_RUBRO = 'INTERESES'
	WHERE BB.ID_EXTERNO = A.ID_EXTERNO
	AND BB.IND_LINEA = 'N' 
	AND BB.IND_ESTADO IN ('D','C') )IND_IVA 

	OUTER APPLY(
	SELECT 

	 
	 ISNULL(CAST(SUM(C1.Sal_Rubro) AS DECIMAL(20,2)),0) AS INTERESES_MORATORIOS_ACTUAL,

	 ISNULL(CASE WHEN BB.ID_EXTERNO collate SQL_Latin1_General_CP1_CI_AS  NOT IN (SELECT E.NUM_CREDITO FROM [KARDIA].[edc].[EDC] E WITH (NOLOCK) WHERE 1=1 AND DAY(E.FECHA_CORTE )<> 3 
			AND DATEDIFF(DAY,E.FECHA_CORTE,@FECHA_CORTE_ACTUAL)<=30 ) and cast(BB.FEC_APERTURA as date) = @FECHA_CORTE_ACTUAL
			THEN CAST(SUM(C2.SAL_Rubro) AS DECIMAL(20,2)) 
			ELSE CAST(SUM(C2_2.SAL_Rubro) AS DECIMAL(20,2)) END,0)  AS COMISIONES_ACTUALES,

	 ISNULL(CAST(SUM(C3.SAL_Iva) AS DECIMAL(20,2)),0) AS IVA_COMISIONES_ACTUAL,
	 ISNULL(CAST(SUM(C4.SAL_Iva) AS DECIMAL(20,2)),0) AS IVA_INTERES_O_ACTUAL,
	 ISNULL(CAST(SUM(C5.SAL_Iva) AS DECIMAL(20,2)),0) AS IVA_INTERES_M_ACTUAL,
	 ISNULL(CAST(SUM(C.Sal_Rubro + C.Sal_Iva) AS DECIMAL(20,2)),0) AS TOTAL_PAGAR_ACTUAL,
	 ISNULL(CAST(SUM(C2.SAL_Iva) AS DECIMAL(20,2)),0) AS IVA_INTERES_O_VENCIDO_ACTUAL,
	 ISNULL(CAST(SUM(C6.Mon_Rubro) AS DECIMAL(20,2)),0) AS AMORTIZACION_ACTUAL,
	 ISNULL(CAST(SUM(C7.Mon_Rubro) AS DECIMAL(20,2)),0) AS INTERESES_ORDINARIOS_ACTUAL,

	 ISNULL(CASE WHEN BB.ID_EXTERNO collate SQL_Latin1_General_CP1_CI_AS NOT IN (SELECT E.NUM_CREDITO FROM [KARDIA].[edc].[EDC] E WITH (NOLOCK) WHERE 1=1 AND DAY(E.FECHA_CORTE )<> 3 
			AND DATEDIFF(DAY,E.FECHA_CORTE,@FECHA_CORTE_ACTUAL)<=30 ) and cast(BB.FEC_APERTURA as date) = @FECHA_CORTE_ACTUAL
			THEN CAST(SUM(C8.SAL_IVA) AS DECIMAL(20,2)) 
			ELSE CAST(SUM(C8_8.SAL_IVA) AS DECIMAL(20,2)) END,0)  AS PAGO_IVA_COMISION,

	 ISNULL(CAST(SUM(C9.Sal_Rubro) AS DECIMAL(10,2)),0) AS COM_GAS_COBRANZA,
	 ISNULL(CAST(SUM(C10.Mon_Rubro) AS DECIMAL(10,2)),0) AS SEGUROS_ACTUALE,
	 ISNULL(CAST(SUM(C11.Sal_Rubro) AS DECIMAL(20,2)),0) AS SALDO_VENCIDO_CAPITAL,
	 ISNULL(CAST(SUM(C12.Sal_Rubro) AS DECIMAL(20,2)),0) AS SALDO_VENCIDO_INTERESES,
	 ISNULL(CAST(SUM(C13.Sal_Rubro) AS DECIMAL(20,2)),0) AS SALDO_VENCIDO_SEGUROS,
	 ISNULL(CAST(SUM(C14.Sal_Rubro) AS DECIMAL(20,2)),0) AS OTROS_CARGOS  --AGREGADO OTROS CARGOS

	FROM [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK)
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C  WITH (NOLOCK)  ON C.Num_Credito  = BB.Num_Credito AND C.IND_ESTADO <> 'N'  AND C.IND_POSPOSICION <> 'S'	AND CAST(C.FEC_COBRO AS DATE) <= @FECHA_CORTE_SIGUIENTE
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C1  WITH (NOLOCK) ON C1.Num_Credito = BB.Num_Credito AND C1.Num_Det_Secuencia = C.Num_Det_Secuencia AND C1.Num_Secuencia = C.Num_Secuencia AND C1.Cod_Rubro = C.Cod_Rubro AND C1.IND_ESTADO <> 'N' AND C1.Cod_Rubro = 'MORATORIOS' AND C1.IND_POSPOSICION <> 'S' AND CAST(C1.FEC_COBRO AS DATE) <= @FECHA_CORTE_SIGUIENTE
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C2  WITH (NOLOCK) ON C2.Num_Credito = BB.Num_Credito AND C2.Num_Det_Secuencia = C.Num_Det_Secuencia AND C2.Num_Secuencia = C.Num_Secuencia AND C2.Cod_Rubro = C.Cod_Rubro AND C2.IND_ESTADO <> 'N' AND C2.Cod_Rubro IN ('COMISION_ADMINISTRACION','COMISION_ANTICIPADA') AND C2.IND_POSPOSICION <> 'S'		 AND CAST(C2.FEC_COBRO AS DATE) <= @FECHA_CORTE_SIGUIENTE
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C2_2  WITH (NOLOCK) ON C2_2.Num_Credito = BB.Num_Credito AND C2_2.Num_Det_Secuencia = C.Num_Det_Secuencia AND C2_2.Num_Secuencia = C.Num_Secuencia AND C2_2.Cod_Rubro = C.Cod_Rubro AND C2_2.IND_ESTADO <> 'N' AND C2_2.Cod_Rubro IN ('COMISION_ADMINISTRACION') AND C2_2.IND_POSPOSICION <> 'S'		 AND CAST(C2_2.FEC_COBRO AS DATE) <= @FECHA_CORTE_SIGUIENTE

	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C3  WITH (NOLOCK) ON C3.Num_Credito = BB.Num_Credito AND C3.Num_Det_Secuencia = C.Num_Det_Secuencia AND C3.Num_Secuencia = C.Num_Secuencia AND C3.Cod_Rubro = C.Cod_Rubro AND C3.IND_ESTADO <> 'N' AND C3.Cod_Rubro IN ('SEGURO_DANOS','SEGURO_VIDA') AND C3.IND_POSPOSICION <> 'S' AND CAST(C3.FEC_COBRO AS DATE) <= @FECHA_CORTE_SIGUIENTE
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C4  WITH (NOLOCK) ON C4.Num_Credito = BB.Num_Credito AND C4.Num_Det_Secuencia = C.Num_Det_Secuencia AND C4.Num_Secuencia = C.Num_Secuencia AND C4.Cod_Rubro = C.Cod_Rubro AND C4.IND_ESTADO <> 'N' AND C4.Cod_Rubro  = 'INTERESES'		AND C4.IND_POSPOSICION <> 'S'				 AND CAST(C4.FEC_COBRO AS DATE) <= @FECHA_CORTE_SIGUIENTE
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C5  WITH (NOLOCK) ON C5.Num_Credito = BB.Num_Credito AND C5.Num_Det_Secuencia = C.Num_Det_Secuencia AND C5.Num_Secuencia = C.Num_Secuencia AND C5.Cod_Rubro = C.Cod_Rubro AND C5.IND_ESTADO <> 'N' AND C5.Cod_Rubro   = 'MORATORIOS'     AND C5.IND_POSPOSICION <> 'S'				 AND CAST(C5.FEC_COBRO AS DATE) <= @FECHA_CORTE_SIGUIENTE
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C6  WITH (NOLOCK) ON C6.Num_Credito = BB.Num_Credito AND C6.Num_Det_Secuencia = C.Num_Det_Secuencia AND C6.Num_Secuencia = C.Num_Secuencia AND C6.Cod_Rubro = C.Cod_Rubro AND C6.IND_ESTADO <> 'N' AND C6.Cod_Rubro   = 'PRINCIPAL' AND C6.IND_POSPOSICION <> 'S'	AND CAST(C6.FEC_COBRO AS DATE) BETWEEN DATEADD(MONTH,  0, DATEADD(DAY, 2, @FECHA_CORTE_ACTUAL)) AND DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_SIGUIENTE))
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C7  WITH (NOLOCK) ON C7.Num_Credito = BB.Num_Credito AND C7.Num_Det_Secuencia = C.Num_Det_Secuencia AND C7.Num_Secuencia = C.Num_Secuencia AND C7.Cod_Rubro = C.Cod_Rubro AND C7.IND_ESTADO <> 'N' AND C7.Cod_Rubro   = 'INTERESES' AND C7.IND_POSPOSICION <> 'S'	AND CAST(C7.FEC_COBRO AS DATE) BETWEEN DATEADD(MONTH,  0, DATEADD(DAY, 2, @FECHA_CORTE_ACTUAL)) AND DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_SIGUIENTE))
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C8  WITH (NOLOCK) ON C8.Num_Credito = BB.Num_Credito AND C8.Num_Det_Secuencia = C.Num_Det_Secuencia AND C8.Num_Secuencia = C.Num_Secuencia AND C8.Cod_Rubro = C.Cod_Rubro AND C8.IND_ESTADO <> 'N' AND C8.Cod_Rubro IN ('COMISION_ADMINISTRACION','COMISION_ANTICIPADA')  AND C8.IND_POSPOSICION <> 'S'	AND CAST(C8.FEC_COBRO AS DATE) BETWEEN DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_ANTERIOR)) AND DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_ACTUAL))
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C8_8  WITH (NOLOCK) ON C8_8.Num_Credito = BB.Num_Credito AND C8_8.Num_Det_Secuencia = C.Num_Det_Secuencia AND C8_8.Num_Secuencia = C.Num_Secuencia AND C8_8.Cod_Rubro = C.Cod_Rubro AND C8_8.IND_ESTADO <> 'N' AND C8_8.Cod_Rubro IN ('COMISION_ADMINISTRACION')  AND C8_8.IND_POSPOSICION <> 'S'	AND CAST(C8_8.FEC_COBRO AS DATE) BETWEEN DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_ANTERIOR)) AND DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_ACTUAL))
	
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C9  WITH (NOLOCK) ON C9.Num_Credito = BB.Num_Credito AND C9.Num_Det_Secuencia = C.Num_Det_Secuencia AND C9.Num_Secuencia = C.Num_Secuencia AND C9.Cod_Rubro = C.Cod_Rubro AND C9.IND_ESTADO <> 'N' AND C9.Cod_Rubro   = 'COMISION_ADMINISTRACION'  AND C9.IND_POSPOSICION <> 'S'	AND CAST(C9.FEC_COBRO AS DATE) BETWEEN DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_ANTERIOR)) AND DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_ACTUAL))
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C10  WITH (NOLOCK) ON C10.Num_Credito = BB.Num_Credito AND C10.Num_Det_Secuencia = C.Num_Det_Secuencia AND C10.Num_Secuencia = C.Num_Secuencia AND C10.Cod_Rubro = C.Cod_Rubro AND C10.IND_ESTADO <> 'N' AND C10.Cod_Rubro  IN ('SEGURO_DANOS','SEGURO_VIDA','CARGO_PORCENTAJE')  AND C10.IND_POSPOSICION <> 'S'	AND CAST(C10.FEC_COBRO AS DATE) BETWEEN DATEADD(MONTH,  0, DATEADD(DAY, 2, @FECHA_CORTE_ACTUAL)) AND DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_SIGUIENTE))
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C11 WITH (NOLOCK) ON C11.Num_Credito = BB.Num_Credito AND C11.Num_Det_Secuencia = C.Num_Det_Secuencia AND C11.Num_Secuencia = C.Num_Secuencia AND C11.Cod_Rubro = C.Cod_Rubro AND C11.IND_ESTADO <> 'N' AND C11.Cod_Rubro = 'PRINCIPAL'  AND C11.IND_POSPOSICION <> 'S'	AND CAST(C11.FEC_COBRO AS DATE) <= @FECHA_CORTE_ACTUAL
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C12 WITH (NOLOCK) ON C12.Num_Credito = BB.Num_Credito AND C12.Num_Det_Secuencia = C.Num_Det_Secuencia AND C12.Num_Secuencia = C.Num_Secuencia AND C12.Cod_Rubro = C.Cod_Rubro AND C12.IND_ESTADO <> 'N' AND C12.Cod_Rubro = 'INTERESES'  AND C12.IND_POSPOSICION <> 'S'	AND CAST(C12.FEC_COBRO AS DATE) <= @FECHA_CORTE_ACTUAL
	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C13 WITH (NOLOCK) ON C13.Num_Credito = BB.Num_Credito AND C13.Num_Det_Secuencia = C.Num_Det_Secuencia AND C13.Num_Secuencia = C.Num_Secuencia AND C13.Cod_Rubro = C.Cod_Rubro AND C13.IND_ESTADO <> 'N' AND C13.Cod_Rubro IN ('SEGURO_DANOS','SEGURO_VIDA','CARGO_PORCENTAJE')  AND C13.IND_POSPOSICION <> 'S'	AND CAST(C13.FEC_COBRO AS DATE) <= @FECHA_CORTE_ACTUAL

	LEFT JOIN [Quiero_Confianza].PR.PR_RUBRO_COBRO_X_CREDITO C14 WITH (NOLOCK) ON C14.Num_Credito = BB.Num_Credito AND C14.Num_Det_Secuencia = C.Num_Det_Secuencia AND C14.Num_Secuencia = C.Num_Secuencia AND C14.Cod_Rubro = C.Cod_Rubro AND C14.IND_ESTADO <> 'N' AND C14.Cod_Rubro NOT IN ('SEGURO_DANOS','SEGURO_VIDA','INTERESES','PRINCIPAL','COMISION_ADMINISTRACION','COMISION_ANTICIPADA','MORATORIOS','CARGO_PORCENTAJE')  AND C14.IND_POSPOSICION <> 'S'	AND CAST(C14.FEC_COBRO AS DATE) BETWEEN DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_ANTERIOR)) AND DATEADD(MONTH,  0, DATEADD(DAY, 0, @FECHA_CORTE_ACTUAL))
	--AGREGADO OTROS CARGOS
	WHERE BB.ID_EXTERNO = A.ID_EXTERNO  
	AND BB.IND_LINEA ='N'
	AND BB.IND_ESTADO = 'D'
	GROUP BY BB.ID_EXTERNO,BB.FEC_APERTURA
	) SALDO_ACTUAL

	OUTER APPLY(
	SELECT 
	 ISNULL(CAST(SUM(X1.Mon_pago + X1.Mon_pago_iva) AS DECIMAL(16,2)),0) AS TOTAL_PAGADO_PERIODO_ANTERIOR,
	 ISNULL(CAST(SUM(X2.Mon_pago + X2.Mon_pago_iva) AS DECIMAL(16,2)),0) AS TOTAL_PAGO_CAPITAL_PERIODO_ANTERIOR
	FROM  [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK)
	LEFT JOIN [Quiero_Confianza].Pr.PR_ENCABEZADO_PAGO B WITH (NOLOCK) ON B.Num_Credito = BB.Num_Credito 
	LEFT JOIN [Quiero_Confianza].PR.PR_DETALLE_PAGO X  WITH (NOLOCK) ON B.ID_SECUENCIA = X.ID_secuencia 
	LEFT JOIN [Quiero_Confianza].PR.PR_DETALLE_PAGO X1  WITH (NOLOCK) ON X.Cod_concepto = X1.Cod_concepto AND X1.Id_secuencia_det = X.Id_secuencia_det AND X.ID_secuencia = X1.ID_secuencia AND X1.Cod_concepto NOT IN('CAPITAL_DIFERIDO','INTERESES_DIFERIDOS','SALDO_FAVOR') 
	LEFT JOIN [Quiero_Confianza].PR.PR_DETALLE_PAGO X2  WITH (NOLOCK) ON X.Cod_concepto = X2.Cod_concepto AND X2.Id_secuencia_det = X.Id_secuencia_det AND X.ID_secuencia = X2.ID_secuencia AND X2.Cod_concepto IN ('PRINCIPAL')  
	WHERE 	 B.Tip_transaccion = '4'  AND B.COD_ESTADO <> 'N' 
	AND BB.ID_EXTERNO = A.ID_EXTERNO
	AND  B.FEC_Aplicacion BETWEEN @FECHA_CORTE_ANTERIOR AND  @FECHA_CORTE_ACTUAL
	GROUP BY BB.ID_EXTERNO)P_ANTERIOR

	OUTER APPLY(
	SELECT SUM(BB.MON_CREDITO) AS MON_INICIAL,
	SUM(BB.MON_SALDO)  AS SALDO_FINAL_PERIODO 
	FROM  [Quiero_Confianza].PR.PR_CREDITOS BB WITH (NOLOCK)
	WHERE BB.ID_EXTERNO = A.ID_EXTERNO  
	AND BB.IND_LINEA ='N'
	AND BB.IND_ESTADO = 'D'
	--GROUP BY ID_EXTERNO 
	) CREDITO

	-------CONDICIONES DEL QUERY PRINCIPAL
	WHERE 
		   A.IND_LINEA = 'N'
		   AND A.IND_ESTADO IN ('D')
		   AND A.NUM_DESC_TIPO_CREDITO IN (1,2,3,4,8,9,10,11,12,13,14,15,16,17,20,23,28) AND A.IND_ESTADO = 'D'    ----- SE AGREGAN TIPO 20,23 01/02/2024
		   AND CAST(A.FEC_APERTURA AS DATE) < @FECHA_CORTE_ACTUAL
		   AND A.ID_EXTERNO IS NOT NULL 
		   AND ((@FLAG = 0 AND A.DIA_PAGO IN (28,29,30,31)) OR (@FLAG <> 0 and A.DIA_PAGO = @CORTE))
-----------------------		   
		   AND EXISTS (
				 SELECT 1
					FROM   [KARDIA].[edc].[C_CLIENTE] CC
					WHERE  CC.NUM_CLIENTE = B.COD_CLIENTE)
-------------------------

	GROUP BY 
	A.NUM_DESC_TIPO_CREDITO,
	A.COD_CLIENTE, 
	A.ID_EXTERNO, 
	A.TIP_CALENDARIO, 
	A.IND_ESTADO_CONT, 
	A.COD_MONEDA, /* A.FEC_APERTURA,*/ 
	A.TASA_MORA, 
	A.MON_CAT_REMANENTE, 
	A.TASA_INTERES, 
	A.IND_ESTADO,
	A.TIP_CREDITO, 

	CREDITO.MON_INICIAL,
	CREDITO.SALDO_FINAL_PERIODO,
	

	B.NOM_CLIENTE, 
	B.DES_CORREO, 
	B.COD_CLIENTE,

	DEMOGRAFICOS.ACREDITADO,
	DEMOGRAFICOS.CALLE,
	DEMOGRAFICOS.NO_EXT,
	DEMOGRAFICOS.NO_INT,
	DEMOGRAFICOS.COLONIA,
	DEMOGRAFICOS.MUNICIPIO,
	DEMOGRAFICOS.CP,
	DEMOGRAFICOS.RFC,
	DEMOGRAFICOS.BANCO,
	DEMOGRAFICOS.CUENTA,
	DEMOGRAFICOS.CLABE,
	DEMOGRAFICOS.REFERENCIA,
	DEMOGRAFICOS.EMAIL,
	DEMOGRAFICOS.ESTADO,
	
	DIRECCION.DET_DIRECCION,
	DIRECCION.NUM_EXTERIOR,
	DIRECCION.NUM_INTERIOR,
	DIRECCION.DES_DISTRITO,
	DIRECCION.DES_PROVINCIA,
	DIRECCION.COD_POSTAL,
	DIRECCION.NOM_PAIS,
	
	MORATORIO.FEC_COBRO,
	MORATORIO.MON_BASE,
	MORATORIO.Fec_Base_Calc

	,D.NUM_ID,E.NUM_ID

	,SEC_TOTAL.NUM_SECUENCIA

	,V.MONTO_POSPUESTO
	,V.NUM_CUOTAS_POSPUESTAS
	,V.MON_LIQUIDAR
	,V.SAL_VENCIDO
	,V.SAL_PERIODO
	,V.TOTAL_PAGO
	,V.TOTAL_PAGOS_PERIODO
	,V.NUM_PAGO_PENDIENTES
	,V.MON_PAGAR_FUTURO

	,SEC_ACTUAL.Num_Secuencia

	,IND_IVA.INTERESES
	,IND_IVA.COMISION_ADMINISTRACION
	,DEMOGRAFICOS.REGIMEN_FISCAL_RECEPTOR
	,DEMOGRAFICOS.USO_CFDI
	--,SALDO_ACTUAL.MON_INICIAL
	--,SALDO_ACTUAL.COMISIONES_ACTUALES
	--,SALDO_ACTUAL.INTERESES_MORATORIOS_ACTUAL
	--,SALDO_ACTUAL.IVA_COMISIONES_ACTUAL
	--,SALDO_ACTUAL.IVA_INTERES_M_ACTUAL
	--,SALDO_ACTUAL.IVA_INTERES_O_ACTUAL
	--,SALDO_ACTUAL.TOTAL_PAGAR_ACTUAL
	--,SALDO_ACTUAL.IVA_INTERES_O_VENCIDO_ACTUAL
	--,SALDO_ACTUAL.AMORTIZACION_ACTUAL
	--,SALDO_ACTUAL.INTERESES_ORDINARIOS_ACTUAL
	--,SALDO_ACTUAL.PAGO_IVA_COMISION
	--,SALDO_ACTUAL.COM_GAS_COBRANZA
	--,SALDO_ACTUAL.SEGUROS_ACTUALE
	--,SALDO_ACTUAL.SALDO_VENCIDO_CAPITAL
	--,SALDO_ACTUAL.SALDO_VENCIDO_INTERESES
	--,SALDO_ACTUAL.SALDO_VENCIDO_SEGUROS
	--,SALDO_ACTUAL.OTROS_CARGOS --AGREGADO OTROS CARGOS

	,P_ANTERIOR.TOTAL_PAGADO_PERIODO_ANTERIOR
	,P_ANTERIOR.TOTAL_PAGO_CAPITAL_PERIODO_ANTERIOR
	,F.NUM_CONVENIO
	order by A.ID_EXTERNO DESC


	DROP  TABLE #SALDOS
END
GO
