SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_PLANTILLA](
	[PLANTILLA_ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](256) NOT NULL,
	[PATH_PLANTILLA] [varchar](2048) NOT NULL,
	[PATH_LOGO] [varchar](2048) NOT NULL,
	[NOTAS] [text] NULL,
 CONSTRAINT [PK17] PRIMARY KEY NONCLUSTERED 
(
	[PLANTILLA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
