SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_CLIENTE_CREDITO](
	[NUM_CREDITO] [varchar](50) NOT NULL,
	[NUM_CLIENTE] [varchar](16) NOT NULL,
	[BLOQUEADO] [bit] NOT NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
 CONSTRAINT [PK33] PRIMARY KEY NONCLUSTERED 
(
	[NUM_CREDITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[C_CLIENTE_CREDITO] ADD  DEFAULT ((0)) FOR [BLOQUEADO]
GO
ALTER TABLE [edc].[C_CLIENTE_CREDITO] ADD  CONSTRAINT [DF_C_CLIENTE_CREDITO_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [edc].[C_CLIENTE_CREDITO]  WITH CHECK ADD  CONSTRAINT [RefC_CLIENTE40] FOREIGN KEY([NUM_CLIENTE])
REFERENCES [edc].[C_CLIENTE] ([NUM_CLIENTE])
GO
ALTER TABLE [edc].[C_CLIENTE_CREDITO] CHECK CONSTRAINT [RefC_CLIENTE40]
GO
