SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[EDC_MOVIMIENTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EDC] [int] NOT NULL,
	[NUM_CREDITO] [varchar](50) NOT NULL,
	[LEYENDA_15] [varchar](99) NULL,
	[DIA_MOV] [datetime] NULL,
	[CONCEPTO_MOV] [varchar](99) NULL,
	[MEDIO_MOV] [varchar](99) NULL,
	[CARGO_MOV] [money] NULL,
	[ABONO_MOV] [money] NULL,
	[SUM_CARGO_MOV] [money] NULL,
	[SUM_ABONO_MOV] [money] NULL,
	[FEC_EXTRACCION] [datetime] NULL,
 CONSTRAINT [PK15] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[EDC_MOVIMIENTOS]  WITH CHECK ADD  CONSTRAINT [RefEDC36] FOREIGN KEY([ID_EDC])
REFERENCES [edc].[EDC] ([ID_EDC])
GO
ALTER TABLE [edc].[EDC_MOVIMIENTOS] CHECK CONSTRAINT [RefEDC36]
GO
