SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [edc].[spUpsertCClienteDaily]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        ----------------------------------------------------------------
        -- 1) CTE: consolidar origen en una única fila por cliente,
        --    con ISNULL para evitar NULL en columnas NOT NULL
        ----------------------------------------------------------------
        WITH sourceData AS (
            SELECT
                pr.[COD_CLIENTE]                                      AS numCliente,
                ISNULL(MAX(cl.[NOM_CLIENTE]), '')                     AS nomCliente,
                -- Pivot RFC y CURP, con valor vacío si faltan
                ISNULL(MAX(CASE WHEN id.[COD_TIPO_ID] IN ('RFC','REF-M') THEN id.[NUM_ID] END), '') AS rfc,
                ISNULL(MAX(CASE WHEN id.[COD_TIPO_ID] = 'CURP'           THEN id.[NUM_ID] END), '') AS curp,
                -- Domicilio
                ISNULL(MAX(dir.[DET_DIRECCION]), '')                   AS calle,
                ISNULL(MAX(dir.[NUM_EXTERIOR]), '')                    AS noExt,
                ISNULL(MAX(dir.[NUM_INTERIOR]), '')                    AS noInt,
                ISNULL(MAX(dis.[DES_DISTRITO]), '')                    AS colonia,
                ISNULL(MAX(prov.[DES_PROVINCIA]), '')                  AS delMun,
                ISNULL(MAX(cp.[COD_POSTAL]), '')                       AS cp,
                ISNULL(MAX(pais.[NOM_PAIS]), '')                       AS estado,
                -- Correo principal, con fallback a vacío
                ISNULL(MAX(cl.[DES_CORREO]), '')                       AS email1,
                -- Correo secundario fijo
                'Prueba@ion.com'                              AS email2
            FROM [Quiero_Confianza].[PR].[PR_CREDITOS]       AS pr
            INNER JOIN [Quiero_Confianza].[CL].[CL_CLIENTES]   AS cl
                ON pr.[COD_CLIENTE] = cl.[COD_CLIENTE]
            LEFT JOIN [Quiero_Confianza].[CL].[CL_DIR_CLIENTES] AS dir
                ON cl.[COD_CLIENTE] = dir.[COD_CLIENTE]
               AND dir.[APDO_POSTAL] = 'DF'
            LEFT JOIN [Quiero_Confianza].[PA].[PA_Paises]      AS pais
                ON dir.[COD_PAIS] = pais.[COD_PAIS]
            LEFT JOIN [Quiero_Confianza].[PA].[PA_Provincias]  AS prov
                ON dir.[COD_PAIS]      = prov.[COD_PAIS]
               AND dir.[COD_PROVINCIA] = prov.[COD_PROVINCIA]
            LEFT JOIN [Quiero_Confianza].[PA].[PA_Distritos]   AS dis
                ON dir.[COD_PAIS]       = dis.[COD_PAIS]
               AND dir.[COD_PROVINCIA]  = dis.[COD_PROVINCIA]
               AND dir.[COD_DISTRITO]   = dis.[COD_DISTRITO]
            LEFT JOIN [Quiero_Confianza].[PA].[PA_Codigo_Postal] AS cp
                ON dir.[COD_PAIS]       = cp.[COD_PAIS]
               AND dir.[COD_PROVINCIA]  = cp.[COD_PROVINCIA]
               AND dir.[COD_DISTRITO]   = cp.[COD_DISTRITO]
            LEFT JOIN [Quiero_Confianza].[CL].[CL_ID_CLIENTES]   AS id
                ON pr.[COD_CLIENTE]      = id.[COD_CLIENTE]
               AND id.[COD_TIPO_ID] IN ('RFC','REF-M','CURP')
            WHERE
                pr.[IND_LINEA]  = 'N'  -- Sólo créditos nuevos
                AND pr.[IND_ESTADO] = 'D' -- Sólo activos
            GROUP BY
                pr.[COD_CLIENTE]
        )

        ----------------------------------------------------------------
        -- 2) MERGE: sincronizar [C_Cliente] con la CTE
        ----------------------------------------------------------------
        MERGE INTO [Edc].[C_Cliente] AS target
        USING sourceData AS source
          ON target.[NUM_CLIENTE] = source.[numCliente]

        -- 2.1) UPDATE cuando existan cambios
        WHEN MATCHED
         AND (
               ISNULL(target.[NOM_CLIENTE], '') <> source.[nomCliente]
            OR ISNULL(target.[RFC],          '') <> source.[rfc]
            OR ISNULL(target.[CURP],         '') <> source.[curp]
            OR ISNULL(target.[CALLE],        '') <> source.[calle]
            OR ISNULL(target.[NO_EXT],       '') <> source.[noExt]
            OR ISNULL(target.[NO_INT],       '') <> source.[noInt]
            OR ISNULL(target.[COLONIA],      '') <> source.[colonia]
            OR ISNULL(target.[DEL_MUN],      '') <> source.[delMun]
            OR ISNULL(target.[CP],           '') <> source.[cp]
            OR ISNULL(target.[ESTADO],       '') <> source.[estado]
            OR ISNULL(target.[EMAIL1],       '') <> source.[email1]
            OR ISNULL(target.[EMAIL2],       '') <> source.[email2]
         )
        THEN
          UPDATE SET
            [NOM_CLIENTE] = source.[nomCliente],
            [RFC]         = source.[rfc],
            [CURP]        = source.[curp],
            [CALLE]       = source.[calle],
            [NO_EXT]      = source.[noExt],
            [NO_INT]      = source.[noInt],
            [COLONIA]     = source.[colonia],
            [DEL_MUN]     = source.[delMun],
            [CP]          = source.[cp],
            [ESTADO]      = source.[estado],
            [EMAIL1]      = source.[email1],
            [EMAIL2]      = source.[email2]

        -- 2.2) INSERT cuando no exista
        WHEN NOT MATCHED BY TARGET
        THEN
          INSERT (
            [NUM_CLIENTE], [NOM_CLIENTE], [RFC], [CURP],
            [CALLE], [NO_EXT], [NO_INT], [COLONIA],
            [DEL_MUN], [CP], [ESTADO], [EMAIL1], [EMAIL2]
          )
          VALUES (
            source.[numCliente], source.[nomCliente], source.[rfc], source.[curp],
            source.[calle], source.[noExt], source.[noInt], source.[colonia],
            source.[delMun], source.[cp], source.[estado],
            source.[email1], source.[email2]
          );

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT        = ERROR_SEVERITY();
        DECLARE @ErrorState INT           = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
