SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[EDC_ORDEN_CONCEPTO](
	[ORDEN_CONCEPTO_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDEN_ID] [int] NOT NULL,
	[CONCEPTO_ID] [int] NOT NULL,
	[MONTO] [money] NOT NULL,
	[OBJETO_IMPUESTO] [varchar](2) NOT NULL,
 CONSTRAINT [PK31] PRIMARY KEY NONCLUSTERED 
(
	[ORDEN_CONCEPTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[EDC_ORDEN_CONCEPTO]  WITH CHECK ADD  CONSTRAINT [RefC_CONCEPTOFACT27] FOREIGN KEY([CONCEPTO_ID])
REFERENCES [edc].[C_CONCEPTOFACT] ([CONCEPTO_ID])
GO
ALTER TABLE [edc].[EDC_ORDEN_CONCEPTO] CHECK CONSTRAINT [RefC_CONCEPTOFACT27]
GO
ALTER TABLE [edc].[EDC_ORDEN_CONCEPTO]  WITH CHECK ADD  CONSTRAINT [RefEDC_ORDEN28] FOREIGN KEY([ORDEN_ID])
REFERENCES [edc].[EDC_ORDEN] ([ORDEN_ID])
GO
ALTER TABLE [edc].[EDC_ORDEN_CONCEPTO] CHECK CONSTRAINT [RefEDC_ORDEN28]
GO
