SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_PERMISO](
	[PERMISO_ID] [int] IDENTITY(1,1) NOT NULL,
	[GRUPO_ID] [int] NULL,
	[ACCION_ID] [int] NULL,
	[ACTIVO] [bit] NOT NULL,
	[CLAVE] [varchar](155) NULL,
PRIMARY KEY CLUSTERED 
(
	[PERMISO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[C_PERMISO] ADD  DEFAULT ((0)) FOR [ACTIVO]
GO
ALTER TABLE [edc].[C_PERMISO]  WITH CHECK ADD FOREIGN KEY([ACCION_ID])
REFERENCES [edc].[C_ACCION] ([ACCION_ID])
GO
ALTER TABLE [edc].[C_PERMISO]  WITH CHECK ADD FOREIGN KEY([GRUPO_ID])
REFERENCES [edc].[C_GRUPO] ([GRUPO_ID])
GO
