SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_CONFIG](
	[CONFIG_ID] [varchar](10) NOT NULL,
	[VALOR] [nvarchar](4000) NOT NULL,
	[NOTAS] [varchar](1024) NULL,
	[AYUDA] [varchar](256) NULL,
	[REQUERIDO] [bit] NOT NULL,
 CONSTRAINT [PK13] PRIMARY KEY NONCLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
