SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[EDC_SALDO_CAPITAL_DISPOSICIONES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EDC] [int] NOT NULL,
	[NUM_CREDITO] [varchar](50) NOT NULL,
	[FEC_EXTRACCION] [datetime] NULL,
	[DESTINO] [varchar](255) NULL,
	[TASA] [money] NULL,
	[PLAZO] [int] NULL,
	[PLAZO_REMANENTE] [int] NULL,
	[CREDITO] [money] NULL,
	[PAGOS] [money] NULL,
	[SALDO] [money] NULL,
 CONSTRAINT [PK68_SALDO_CAPITAL_DISP] PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[EDC_SALDO_CAPITAL_DISPOSICIONES]  WITH CHECK ADD  CONSTRAINT [RefEDC37] FOREIGN KEY([ID_EDC])
REFERENCES [edc].[EDC] ([ID_EDC])
GO
ALTER TABLE [edc].[EDC_SALDO_CAPITAL_DISPOSICIONES] CHECK CONSTRAINT [RefEDC37]
GO
