SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[CONFIG_TOLERANCIA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Concepto] [nvarchar](50) NOT NULL,
	[ToleranciaAbs] [decimal](18, 4) NOT NULL,
	[ToleranciaPct] [decimal](10, 6) NOT NULL,
	[AprobadoPor] [nvarchar](256) NULL,
	[FechaAprobacion] [datetime2](7) NULL,
 CONSTRAINT [PK_EDCC_CONFIG_TOLERANCIA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edcc].[CONFIG_TOLERANCIA] ADD  DEFAULT ((0.01)) FOR [ToleranciaAbs]
GO
ALTER TABLE [edcc].[CONFIG_TOLERANCIA] ADD  DEFAULT ((0)) FOR [ToleranciaPct]
GO
