SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_DOCUMENTO](
	[Id] [uniqueidentifier] NOT NULL,
	[EDCCId] [uniqueidentifier] NOT NULL,
	[TipoDocumento] [nvarchar](30) NOT NULL,
	[NombreArchivo] [nvarchar](500) NOT NULL,
	[Contenido] [varbinary](max) NULL,
	[TamanoBytes] [bigint] NOT NULL,
	[Hash] [nvarchar](64) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[EsVisibleClientePortal] [bit] NOT NULL,
	[GeneradoPor] [nvarchar](256) NULL,
	[FechaGeneracion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EDCC_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edcc].[EDCC_DOCUMENTO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [edcc].[EDCC_DOCUMENTO] ADD  DEFAULT ((0)) FOR [TamanoBytes]
GO
ALTER TABLE [edcc].[EDCC_DOCUMENTO] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [edcc].[EDCC_DOCUMENTO] ADD  DEFAULT ((0)) FOR [EsVisibleClientePortal]
GO
ALTER TABLE [edcc].[EDCC_DOCUMENTO] ADD  DEFAULT (getutcdate()) FOR [FechaGeneracion]
GO
ALTER TABLE [edcc].[EDCC_DOCUMENTO]  WITH CHECK ADD  CONSTRAINT [FK_EDCC_DOCUMENTO_EDCC] FOREIGN KEY([EDCCId])
REFERENCES [edcc].[EDCC] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [edcc].[EDCC_DOCUMENTO] CHECK CONSTRAINT [FK_EDCC_DOCUMENTO_EDCC]
GO
