SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_CONFIG_CONTADOR](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](300) NOT NULL,
	[CedulaProfesional] [nvarchar](50) NOT NULL,
	[Cargo] [nvarchar](200) NULL,
	[FirmaBase64] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[ActualizadoPor] [nvarchar](256) NULL,
 CONSTRAINT [PK_EDCC_CONFIG_CONTADOR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edcc].[EDCC_CONFIG_CONTADOR] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
