SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_VALIDACION_CONTABLE](
	[Id] [uniqueidentifier] NOT NULL,
	[EDCCId] [uniqueidentifier] NOT NULL,
	[Concepto] [nvarchar](50) NOT NULL,
	[SaldoCalculado] [decimal](18, 2) NOT NULL,
	[SaldoContable] [decimal](18, 2) NOT NULL,
	[FuenteSaldoContable] [nvarchar](50) NULL,
	[Diferencia] [decimal](18, 2) NOT NULL,
	[ToleranciaAprobada] [decimal](18, 4) NOT NULL,
	[Resultado] [nvarchar](30) NULL,
	[Comentario] [nvarchar](max) NULL,
	[UsuarioValidador] [nvarchar](256) NULL,
	[FechaValidacion] [datetime2](7) NULL,
 CONSTRAINT [PK_EDCC_VALIDACION_CONTABLE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edcc].[EDCC_VALIDACION_CONTABLE] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [edcc].[EDCC_VALIDACION_CONTABLE] ADD  DEFAULT ((0)) FOR [SaldoCalculado]
GO
ALTER TABLE [edcc].[EDCC_VALIDACION_CONTABLE] ADD  DEFAULT ((0)) FOR [SaldoContable]
GO
ALTER TABLE [edcc].[EDCC_VALIDACION_CONTABLE] ADD  DEFAULT ((0)) FOR [Diferencia]
GO
ALTER TABLE [edcc].[EDCC_VALIDACION_CONTABLE] ADD  DEFAULT ((0.01)) FOR [ToleranciaAprobada]
GO
ALTER TABLE [edcc].[EDCC_VALIDACION_CONTABLE]  WITH CHECK ADD  CONSTRAINT [FK_EDCC_VALIDACION_CONTABLE_EDCC] FOREIGN KEY([EDCCId])
REFERENCES [edcc].[EDCC] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [edcc].[EDCC_VALIDACION_CONTABLE] CHECK CONSTRAINT [FK_EDCC_VALIDACION_CONTABLE_EDCC]
GO
