SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_BITACORA](
	[Id] [uniqueidentifier] NOT NULL,
	[EDCCId] [uniqueidentifier] NOT NULL,
	[Accion] [nvarchar](50) NOT NULL,
	[Detalle] [nvarchar](max) NULL,
	[Usuario] [nvarchar](256) NOT NULL,
	[FechaAccion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EDCC_BITACORA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edcc].[EDCC_BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_EDCC_BITACORA_EDCC_EDCCId] FOREIGN KEY([EDCCId])
REFERENCES [edcc].[EDCC] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [edcc].[EDCC_BITACORA] CHECK CONSTRAINT [FK_EDCC_BITACORA_EDCC_EDCCId]
GO
