SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_AJUSTE](
	[Id] [uniqueidentifier] NOT NULL,
	[EDCCId] [uniqueidentifier] NOT NULL,
	[Concepto] [nvarchar](20) NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[DifAntes] [decimal](18, 2) NULL,
	[DifDespues] [decimal](18, 2) NULL,
	[Origen] [nvarchar](20) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Causa] [nvarchar](max) NULL,
	[CreadoPor] [nvarchar](256) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ResueltoPor] [nvarchar](256) NULL,
	[FechaResolucion] [datetime2](7) NULL,
	[MotivoRechazo] [nvarchar](max) NULL,
 CONSTRAINT [PK_EDCC_AJUSTE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edcc].[EDCC_AJUSTE]  WITH CHECK ADD  CONSTRAINT [FK_EDCC_AJUSTE_EDCC] FOREIGN KEY([EDCCId])
REFERENCES [edcc].[EDCC] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [edcc].[EDCC_AJUSTE] CHECK CONSTRAINT [FK_EDCC_AJUSTE_EDCC]
GO
