SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[CONFIG_PLANTILLA_PDF](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[EntidadEmisora] [nvarchar](100) NULL,
	[Producto] [nvarchar](100) NULL,
	[TipoJuicio] [nvarchar](100) NULL,
	[TextoLegal] [nvarchar](max) NOT NULL,
	[EsActiva] [bit] NOT NULL,
	[CreadaPor] [nvarchar](256) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EDCC_CONFIG_PLANTILLA_PDF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edcc].[CONFIG_PLANTILLA_PDF] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [edcc].[CONFIG_PLANTILLA_PDF] ADD  DEFAULT ((1)) FOR [EsActiva]
GO
ALTER TABLE [edcc].[CONFIG_PLANTILLA_PDF] ADD  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
