SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CASO](
	[Id] [uniqueidentifier] NOT NULL,
	[Folio] [nvarchar](30) NOT NULL,
	[CasoPadreId] [uniqueidentifier] NULL,
	[TipoExpediente] [nvarchar](20) NOT NULL,
	[RolIon] [nvarchar](20) NOT NULL,
	[ViaId] [uniqueidentifier] NOT NULL,
	[CatVersionId] [uniqueidentifier] NOT NULL,
	[EtapaActualId] [uniqueidentifier] NULL,
	[SubetapaActualId] [uniqueidentifier] NULL,
	[FechaEtapaActual] [datetime2](7) NULL,
	[Toca] [nvarchar](50) NULL,
	[EfectoRecurso] [nvarchar](20) NULL,
	[ResultadoRecurso] [nvarchar](20) NULL,
	[FechaResolucionRecurso] [datetime2](7) NULL,
	[ImpulsoACargoOrgano] [bit] NOT NULL,
	[FechaPresentacion] [datetime2](7) NULL,
	[FechaAdmision] [datetime2](7) NULL,
	[FechaSentencia] [datetime2](7) NULL,
	[FechaFirmeza] [datetime2](7) NULL,
	[FechaUltimoImpulso] [datetime2](7) NULL,
	[FechaLimiteCaducidad] [datetime2](7) NULL,
	[FechaPrescripcion] [datetime2](7) NULL,
	[ProximoTerminoFecha] [datetime2](7) NULL,
	[SuspensionActiva] [bit] NOT NULL,
	[Semaforo] [nvarchar](20) NULL,
	[ResponsableInterno] [nvarchar](256) NULL,
	[DespachoId] [uniqueidentifier] NULL,
	[AbogadoResponsable] [nvarchar](256) NULL,
	[Prioridad] [int] NOT NULL,
	[MotivoJudicializacion] [nvarchar](max) NULL,
	[Estatus] [nvarchar](20) NOT NULL,
	[MotivoCierre] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[ClienteONombrePrincipal] [nvarchar](300) NULL,
	[DiasSinImpulsoHabiles] [int] NULL,
	[DiasHastaCaducidadHabiles] [int] NULL,
	[DiasHastaProximoTerminoHabiles] [int] NULL,
	[RelojesActualizadosEn] [datetime2](7) NULL,
	[PorcentajeHonorarioOverride] [decimal](5, 2) NULL,
	[FechaUltimoCotejo] [datetime2](7) NULL,
	[DuenoCartera] [nvarchar](200) NULL,
	[Proyecto] [nvarchar](300) NULL,
	[Fideicomiso] [nvarchar](300) NULL,
	[FechaTurnoDespacho] [datetime2](7) NULL,
	[MetaRecuperacion] [decimal](18, 2) NULL,
 CONSTRAINT [PK_JUICIO_CASO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CASO] ADD  CONSTRAINT [DF_JUICIO_CASO_ImpulsoOrgano]  DEFAULT ((0)) FOR [ImpulsoACargoOrgano]
GO
ALTER TABLE [juicios].[JUICIO_CASO] ADD  CONSTRAINT [DF_JUICIO_CASO_SuspensionActiva]  DEFAULT ((0)) FOR [SuspensionActiva]
GO
ALTER TABLE [juicios].[JUICIO_CASO] ADD  CONSTRAINT [DF_JUICIO_CASO_Prioridad]  DEFAULT ((0)) FOR [Prioridad]
GO
ALTER TABLE [juicios].[JUICIO_CASO] ADD  CONSTRAINT [DF_JUICIO_CASO_Estatus]  DEFAULT ('Activo') FOR [Estatus]
GO
ALTER TABLE [juicios].[JUICIO_CASO] ADD  CONSTRAINT [DF_JUICIO_CASO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CASO] ADD  CONSTRAINT [DF_JUICIO_CASO_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CASO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_DESPACHO] FOREIGN KEY([DespachoId])
REFERENCES [juicios].[JUICIO_DESPACHO] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [juicios].[JUICIO_CASO] CHECK CONSTRAINT [FK_JUICIO_CASO_DESPACHO]
GO
ALTER TABLE [juicios].[JUICIO_CASO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_ETAPA_ACTUAL] FOREIGN KEY([EtapaActualId])
REFERENCES [juicios].[JUICIO_CAT_ETAPA] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CASO] CHECK CONSTRAINT [FK_JUICIO_CASO_ETAPA_ACTUAL]
GO
ALTER TABLE [juicios].[JUICIO_CASO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_PADRE] FOREIGN KEY([CasoPadreId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CASO] CHECK CONSTRAINT [FK_JUICIO_CASO_PADRE]
GO
ALTER TABLE [juicios].[JUICIO_CASO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_VERSION] FOREIGN KEY([CatVersionId])
REFERENCES [juicios].[JUICIO_CAT_VERSION] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CASO] CHECK CONSTRAINT [FK_JUICIO_CASO_VERSION]
GO
ALTER TABLE [juicios].[JUICIO_CASO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_VIA] FOREIGN KEY([ViaId])
REFERENCES [juicios].[JUICIO_CAT_VIA] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CASO] CHECK CONSTRAINT [FK_JUICIO_CASO_VIA]
GO
