SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CASO_ORIGINADOR](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[OriginadorId] [uniqueidentifier] NOT NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_JUICIO_CASO_ORIGINADOR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CASO_ORIGINADOR] ADD  CONSTRAINT [DF_JUICIO_CASO_ORIGINADOR_Pct]  DEFAULT ((100)) FOR [Porcentaje]
GO
ALTER TABLE [juicios].[JUICIO_CASO_ORIGINADOR]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_ORIGINADOR_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_CASO_ORIGINADOR] CHECK CONSTRAINT [FK_JUICIO_CASO_ORIGINADOR_CASO]
GO
ALTER TABLE [juicios].[JUICIO_CASO_ORIGINADOR]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_ORIGINADOR_ORIG] FOREIGN KEY([OriginadorId])
REFERENCES [juicios].[JUICIO_CAT_ORIGINADOR] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CASO_ORIGINADOR] CHECK CONSTRAINT [FK_JUICIO_CASO_ORIGINADOR_ORIG]
GO
