SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CAT_VERSION](
	[Id] [uniqueidentifier] NOT NULL,
	[Numero] [int] NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaPublicacion] [datetime2](7) NULL,
	[PublicadaPor] [nvarchar](256) NULL,
	[Notas] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_CAT_VERSION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CAT_VERSION] ADD  CONSTRAINT [DF_JUICIO_CAT_VERSION_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
