SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CAT_VIA](
	[Id] [uniqueidentifier] NOT NULL,
	[Clave] [nvarchar](30) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[TipoExpediente] [nvarchar](20) NOT NULL,
	[Materia] [nvarchar](30) NULL,
	[Activo] [bit] NOT NULL,
	[AniosPrescripcion] [int] NULL,
 CONSTRAINT [PK_JUICIO_CAT_VIA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CAT_VIA] ADD  CONSTRAINT [DF_JUICIO_CAT_VIA_Activo]  DEFAULT ((1)) FOR [Activo]
GO
