SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_ALMONEDA](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[Numero] [int] NOT NULL,
	[FechaProgramada] [date] NULL,
	[FechaCelebracion] [date] NULL,
	[MontoBase] [decimal](18, 2) NULL,
	[Resultado] [nvarchar](20) NOT NULL,
	[Comprador] [nvarchar](300) NULL,
	[MontoAdjudicacion] [decimal](18, 2) NULL,
	[EventoComiteGenerado] [bit] NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_ALMONEDA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_ALMONEDA] ADD  CONSTRAINT [DF_JUICIO_ALMONEDA_Resultado]  DEFAULT ('Programada') FOR [Resultado]
GO
ALTER TABLE [juicios].[JUICIO_ALMONEDA] ADD  CONSTRAINT [DF_JUICIO_ALMONEDA_EventoComite]  DEFAULT ((0)) FOR [EventoComiteGenerado]
GO
ALTER TABLE [juicios].[JUICIO_ALMONEDA] ADD  CONSTRAINT [DF_JUICIO_ALMONEDA_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_ALMONEDA] ADD  CONSTRAINT [DF_JUICIO_ALMONEDA_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_ALMONEDA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_ALMONEDA_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_ALMONEDA] CHECK CONSTRAINT [FK_JUICIO_ALMONEDA_CASO]
GO
