SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CALENDARIO_INHABIL](
	[Id] [uniqueidentifier] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Alcance] [nvarchar](20) NOT NULL,
	[OrganoId] [uniqueidentifier] NULL,
	[Tipo] [nvarchar](30) NOT NULL,
	[Motivo] [nvarchar](300) NULL,
	[FundamentoTexto] [nvarchar](500) NULL,
	[EvidenciaSharePointItemId] [nvarchar](200) NULL,
	[Estado] [nvarchar](30) NOT NULL,
	[MotivoCancelacion] [nvarchar](300) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ConfirmadoPor] [nvarchar](256) NULL,
	[FechaConfirmacion] [datetime2](7) NULL,
 CONSTRAINT [PK_JUICIO_CALENDARIO_INHABIL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CALENDARIO_INHABIL] ADD  CONSTRAINT [DF_JUICIO_CALENDARIO_INHABIL_Estado]  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_CALENDARIO_INHABIL] ADD  CONSTRAINT [DF_JUICIO_CALENDARIO_INHABIL_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CALENDARIO_INHABIL]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CALENDARIO_INHABIL_ORGANO] FOREIGN KEY([OrganoId])
REFERENCES [juicios].[JUICIO_CAT_ORGANO] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CALENDARIO_INHABIL] CHECK CONSTRAINT [FK_JUICIO_CALENDARIO_INHABIL_ORGANO]
GO
