SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CUSTODIA_TITULO](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[TipoTitulo] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
	[UbicacionActual] [nvarchar](30) NOT NULL,
	[ResponsableActual] [nvarchar](256) NULL,
	[FechaDevolucionEsperada] [date] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_CUSTODIA_TITULO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CUSTODIA_TITULO] ADD  CONSTRAINT [DF_JUICIO_CUSTODIA_TITULO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CUSTODIA_TITULO] ADD  CONSTRAINT [DF_JUICIO_CUSTODIA_TITULO_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CUSTODIA_TITULO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CUSTODIA_TITULO_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_CUSTODIA_TITULO] CHECK CONSTRAINT [FK_JUICIO_CUSTODIA_TITULO_CASO]
GO
