SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CUSTODIA_MOVIMIENTO](
	[Id] [uniqueidentifier] NOT NULL,
	[TituloId] [uniqueidentifier] NOT NULL,
	[UbicacionOrigen] [nvarchar](30) NULL,
	[UbicacionDestino] [nvarchar](30) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Responsable] [nvarchar](256) NOT NULL,
	[Motivo] [nvarchar](300) NULL,
	[AcuseSharePointItemId] [nvarchar](200) NULL,
	[FechaDevolucionEsperada] [date] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_CUSTODIA_MOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CUSTODIA_MOVIMIENTO] ADD  CONSTRAINT [DF_JUICIO_CUSTODIA_MOVIMIENTO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CUSTODIA_MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CUSTODIA_MOVIMIENTO_TITULO] FOREIGN KEY([TituloId])
REFERENCES [juicios].[JUICIO_CUSTODIA_TITULO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_CUSTODIA_MOVIMIENTO] CHECK CONSTRAINT [FK_JUICIO_CUSTODIA_MOVIMIENTO_TITULO]
GO
