SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_RADICACION](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[OrganoId] [uniqueidentifier] NOT NULL,
	[NumeroExpediente] [nvarchar](100) NOT NULL,
	[Secretaria] [nvarchar](100) NULL,
	[FechaDesde] [datetime2](7) NOT NULL,
	[FechaHasta] [datetime2](7) NULL,
	[MotivoCambio] [nvarchar](300) NULL,
	[EsVigente] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_RADICACION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_RADICACION] ADD  CONSTRAINT [DF_JUICIO_RADICACION_Vigente]  DEFAULT ((1)) FOR [EsVigente]
GO
ALTER TABLE [juicios].[JUICIO_RADICACION] ADD  CONSTRAINT [DF_JUICIO_RADICACION_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_RADICACION]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_RADICACION_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_RADICACION] CHECK CONSTRAINT [FK_JUICIO_RADICACION_CASO]
GO
ALTER TABLE [juicios].[JUICIO_RADICACION]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_RADICACION_ORGANO] FOREIGN KEY([OrganoId])
REFERENCES [juicios].[JUICIO_CAT_ORGANO] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_RADICACION] CHECK CONSTRAINT [FK_JUICIO_RADICACION_ORGANO]
GO
