SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_STG_CARGA](
	[Id] [uniqueidentifier] NOT NULL,
	[ArchivoNombre] [nvarchar](300) NOT NULL,
	[ArchivoTamano] [bigint] NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[TotalFilas] [int] NOT NULL,
	[FilasAplicadas] [int] NOT NULL,
	[FilasRechazadas] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[AplicadaPor] [nvarchar](256) NULL,
	[FechaAplicada] [datetime2](7) NULL,
 CONSTRAINT [PK_JUICIO_STG_CARGA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_STG_CARGA] ADD  CONSTRAINT [DF_JUICIO_STG_CARGA_Estado]  DEFAULT ('Previsualizada') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_STG_CARGA] ADD  CONSTRAINT [DF_JUICIO_STG_CARGA_Total]  DEFAULT ((0)) FOR [TotalFilas]
GO
ALTER TABLE [juicios].[JUICIO_STG_CARGA] ADD  CONSTRAINT [DF_JUICIO_STG_CARGA_Aplicadas]  DEFAULT ((0)) FOR [FilasAplicadas]
GO
ALTER TABLE [juicios].[JUICIO_STG_CARGA] ADD  CONSTRAINT [DF_JUICIO_STG_CARGA_Rechazadas]  DEFAULT ((0)) FOR [FilasRechazadas]
GO
ALTER TABLE [juicios].[JUICIO_STG_CARGA] ADD  CONSTRAINT [DF_JUICIO_STG_CARGA_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
