SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CORTE_CASO](
	[Id] [uniqueidentifier] NOT NULL,
	[CorteId] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[Folio] [nvarchar](30) NOT NULL,
	[NucPrincipal] [nvarchar](100) NULL,
	[ViaNombre] [nvarchar](200) NULL,
	[EtapaNombre] [nvarchar](200) NULL,
	[Semaforo] [nvarchar](20) NULL,
	[ResponsableInterno] [nvarchar](256) NULL,
	[DespachoNombre] [nvarchar](200) NULL,
	[MontoCondena] [decimal](18, 2) NULL,
	[MontoActualizado] [decimal](18, 2) NULL,
	[MontoRecuperado] [decimal](18, 2) NULL,
	[CostosAcumulados] [decimal](18, 2) NULL,
	[FechaLimiteCaducidad] [date] NULL,
	[DiasCaducidadRestantes] [int] NULL,
	[NarrativaMes] [nvarchar](max) NULL,
	[NarrativaArrastre] [nvarchar](max) NULL,
	[DatosJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_JUICIO_CORTE_CASO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CORTE_CASO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CORTE_CASO_CORTE] FOREIGN KEY([CorteId])
REFERENCES [juicios].[JUICIO_CORTE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_CORTE_CASO] CHECK CONSTRAINT [FK_JUICIO_CORTE_CASO_CORTE]
GO
