SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CAT_TIPO_NOTIFICACION](
	[Id] [uniqueidentifier] NOT NULL,
	[Clave] [nvarchar](30) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_JUICIO_CAT_TIPO_NOTIFICACION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CAT_TIPO_NOTIFICACION] ADD  CONSTRAINT [DF_JUICIO_CAT_TIPO_NOTIFICACION_Activo]  DEFAULT ((1)) FOR [Activo]
GO
