SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_DESPACHO_USUARIO](
	[Id] [uniqueidentifier] NOT NULL,
	[DespachoId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[Nombre] [nvarchar](300) NULL,
	[Rol] [nvarchar](30) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_JUICIO_DESPACHO_USUARIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_DESPACHO_USUARIO] ADD  CONSTRAINT [DF_JUICIO_DESPACHO_USUARIO_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [juicios].[JUICIO_DESPACHO_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_DESPACHO_USUARIO_DESPACHO] FOREIGN KEY([DespachoId])
REFERENCES [juicios].[JUICIO_DESPACHO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_DESPACHO_USUARIO] CHECK CONSTRAINT [FK_JUICIO_DESPACHO_USUARIO_DESPACHO]
GO
