SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CAT_ORGANO](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](300) NOT NULL,
	[TipoOrgano] [nvarchar](30) NOT NULL,
	[Fuero] [nvarchar](20) NULL,
	[Entidad] [nvarchar](60) NULL,
	[Ciudad] [nvarchar](100) NULL,
	[Jurisdiccion] [nvarchar](100) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_JUICIO_CAT_ORGANO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CAT_ORGANO] ADD  CONSTRAINT [DF_JUICIO_CAT_ORGANO_Activo]  DEFAULT ((1)) FOR [Activo]
GO
