SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_TERMINO](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[ActuacionOrigenId] [uniqueidentifier] NULL,
	[TipoTermino] [nvarchar](40) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
	[FechaNotificacion] [date] NULL,
	[TipoNotificacionId] [uniqueidentifier] NULL,
	[ReglaSurtimientoId] [uniqueidentifier] NULL,
	[FechaSurte] [date] NULL,
	[DiasTermino] [int] NOT NULL,
	[TipoDias] [nvarchar](10) NOT NULL,
	[FechaVencimiento] [date] NOT NULL,
	[FundamentoArticulo] [nvarchar](200) NULL,
	[FormulaAplicada] [nvarchar](500) NULL,
	[CatVersionId] [uniqueidentifier] NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_TERMINO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_TERMINO] ADD  CONSTRAINT [DF_JUICIO_TERMINO_Estado]  DEFAULT ('Vigente') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_TERMINO] ADD  CONSTRAINT [DF_JUICIO_TERMINO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_TERMINO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_TERMINO_ACTUACION] FOREIGN KEY([ActuacionOrigenId])
REFERENCES [juicios].[JUICIO_ACTUACION] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_TERMINO] CHECK CONSTRAINT [FK_JUICIO_TERMINO_ACTUACION]
GO
ALTER TABLE [juicios].[JUICIO_TERMINO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_TERMINO_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_TERMINO] CHECK CONSTRAINT [FK_JUICIO_TERMINO_CASO]
GO
ALTER TABLE [juicios].[JUICIO_TERMINO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_TERMINO_REGLA] FOREIGN KEY([ReglaSurtimientoId])
REFERENCES [juicios].[JUICIO_CAT_REGLA_SURTIMIENTO] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_TERMINO] CHECK CONSTRAINT [FK_JUICIO_TERMINO_REGLA]
GO
ALTER TABLE [juicios].[JUICIO_TERMINO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_TERMINO_TIPONOTIF] FOREIGN KEY([TipoNotificacionId])
REFERENCES [juicios].[JUICIO_CAT_TIPO_NOTIFICACION] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_TERMINO] CHECK CONSTRAINT [FK_JUICIO_TERMINO_TIPONOTIF]
GO
ALTER TABLE [juicios].[JUICIO_TERMINO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_TERMINO_VERSION] FOREIGN KEY([CatVersionId])
REFERENCES [juicios].[JUICIO_CAT_VERSION] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_TERMINO] CHECK CONSTRAINT [FK_JUICIO_TERMINO_VERSION]
GO
