SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CAT_PLAZO](
	[Id] [uniqueidentifier] NOT NULL,
	[CatVersionId] [uniqueidentifier] NOT NULL,
	[ViaId] [uniqueidentifier] NULL,
	[Clave] [nvarchar](40) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[DiasTermino] [int] NOT NULL,
	[TipoDias] [nvarchar](10) NOT NULL,
	[FundamentoArticulo] [nvarchar](200) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_JUICIO_CAT_PLAZO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CAT_PLAZO] ADD  CONSTRAINT [DF_JUICIO_CAT_PLAZO_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [juicios].[JUICIO_CAT_PLAZO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CAT_PLAZO_VERSION] FOREIGN KEY([CatVersionId])
REFERENCES [juicios].[JUICIO_CAT_VERSION] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CAT_PLAZO] CHECK CONSTRAINT [FK_JUICIO_CAT_PLAZO_VERSION]
GO
ALTER TABLE [juicios].[JUICIO_CAT_PLAZO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CAT_PLAZO_VIA] FOREIGN KEY([ViaId])
REFERENCES [juicios].[JUICIO_CAT_VIA] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CAT_PLAZO] CHECK CONSTRAINT [FK_JUICIO_CAT_PLAZO_VIA]
GO
