SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_DESPACHO](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](300) NOT NULL,
	[Rfc] [nvarchar](13) NULL,
	[Contacto] [nvarchar](300) NULL,
	[Email] [nvarchar](256) NULL,
	[Telefono] [nvarchar](30) NULL,
	[Activo] [bit] NOT NULL,
	[PorcentajeHonorario] [decimal](5, 2) NULL,
 CONSTRAINT [PK_JUICIO_DESPACHO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_DESPACHO] ADD  CONSTRAINT [DF_JUICIO_DESPACHO_Activo]  DEFAULT ((1)) FOR [Activo]
GO
