SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_PLANILLA](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[Secuencia] [int] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[ConvencionCalculo] [nvarchar](100) NULL,
	[FechaSolicitud] [datetime2](7) NOT NULL,
	[FechaCalculo] [datetime2](7) NULL,
	[FechaAutorizacion] [datetime2](7) NULL,
	[FechaVoBo] [datetime2](7) NULL,
	[FechaPresentacion] [datetime2](7) NULL,
	[FechaResolucion] [datetime2](7) NULL,
	[MontoCapital] [decimal](18, 2) NULL,
	[MontoInteresesOrdinarios] [decimal](18, 2) NULL,
	[MontoMoratorios] [decimal](18, 2) NULL,
	[MontoCostas] [decimal](18, 2) NULL,
	[MontoTotal] [decimal](18, 2) NULL,
	[MontoAutorizado] [decimal](18, 2) NULL,
	[MontoPresentado] [decimal](18, 2) NULL,
	[MontoResuelto] [decimal](18, 2) NULL,
	[CoincideAutorizadaPresentada] [bit] NULL,
	[Observaciones] [nvarchar](max) NULL,
	[DocumentoSharePointItemId] [nvarchar](200) NULL,
	[CalculadaPor] [nvarchar](256) NULL,
	[AutorizadaPor] [nvarchar](256) NULL,
	[VoBoPor] [nvarchar](256) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_PLANILLA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_PLANILLA] ADD  CONSTRAINT [DF_JUICIO_PLANILLA_Estado]  DEFAULT ('Solicitada') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_PLANILLA] ADD  CONSTRAINT [DF_JUICIO_PLANILLA_FechaSolicitud]  DEFAULT (sysutcdatetime()) FOR [FechaSolicitud]
GO
ALTER TABLE [juicios].[JUICIO_PLANILLA] ADD  CONSTRAINT [DF_JUICIO_PLANILLA_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_PLANILLA] ADD  CONSTRAINT [DF_JUICIO_PLANILLA_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_PLANILLA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_PLANILLA_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_PLANILLA] CHECK CONSTRAINT [FK_JUICIO_PLANILLA_CASO]
GO
