SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CAT_REGLA_SURTIMIENTO](
	[Id] [uniqueidentifier] NOT NULL,
	[TipoNotificacionId] [uniqueidentifier] NOT NULL,
	[Jurisdiccion] [nvarchar](100) NOT NULL,
	[DiasSurtimiento] [int] NOT NULL,
	[TipoDias] [nvarchar](10) NOT NULL,
	[FundamentoArticulo] [nvarchar](200) NULL,
	[VigenciaDesde] [date] NOT NULL,
	[VigenciaHasta] [date] NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_JUICIO_CAT_REGLA_SURTIMIENTO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CAT_REGLA_SURTIMIENTO] ADD  CONSTRAINT [DF_JUICIO_CAT_REGLA_SURTIMIENTO_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [juicios].[JUICIO_CAT_REGLA_SURTIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CAT_REGLA_SURTIMIENTO_TIPO] FOREIGN KEY([TipoNotificacionId])
REFERENCES [juicios].[JUICIO_CAT_TIPO_NOTIFICACION] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CAT_REGLA_SURTIMIENTO] CHECK CONSTRAINT [FK_JUICIO_CAT_REGLA_SURTIMIENTO_TIPO]
GO
