SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CONFIG_ESCALAMIENTO](
	[Id] [uniqueidentifier] NOT NULL,
	[Cola] [nvarchar](40) NOT NULL,
	[UmbralDias] [int] NOT NULL,
	[RolDestinatario] [nvarchar](60) NULL,
	[Activo] [bit] NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_CONFIG_ESCALAMIENTO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CONFIG_ESCALAMIENTO] ADD  CONSTRAINT [DF_JUICIO_CONFIG_ESCALAMIENTO_Umbral]  DEFAULT ((3)) FOR [UmbralDias]
GO
ALTER TABLE [juicios].[JUICIO_CONFIG_ESCALAMIENTO] ADD  CONSTRAINT [DF_JUICIO_CONFIG_ESCALAMIENTO_Activo]  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [juicios].[JUICIO_CONFIG_ESCALAMIENTO] ADD  CONSTRAINT [DF_JUICIO_CONFIG_ESCALAMIENTO_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
