SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CAT_TIPO_ACTUACION](
	[Id] [uniqueidentifier] NOT NULL,
	[Clave] [nvarchar](40) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[EsImpulso] [bit] NOT NULL,
	[RequiereDocumento] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_JUICIO_CAT_TIPO_ACTUACION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CAT_TIPO_ACTUACION] ADD  CONSTRAINT [DF_JUICIO_CAT_TIPO_ACTUACION_ReqDoc]  DEFAULT ((0)) FOR [RequiereDocumento]
GO
ALTER TABLE [juicios].[JUICIO_CAT_TIPO_ACTUACION] ADD  CONSTRAINT [DF_JUICIO_CAT_TIPO_ACTUACION_Activo]  DEFAULT ((1)) FOR [Activo]
GO
