SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_DISPOSICION](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[orden] [int] NOT NULL,
	[monto] [decimal](18, 2) NOT NULL,
	[fecha] [date] NULL,
	[fuente] [nvarchar](10) NOT NULL,
	[num_credito_saf] [nvarchar](20) NULL,
	[nota] [nvarchar](300) NULL,
	[activo] [bit] NOT NULL,
	[creado_por] [nvarchar](256) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ORI_DISPOSICION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_DISPOSICION] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_DISPOSICION] ADD  CONSTRAINT [DF_ORI_DISP_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[SOLICITUD_DISPOSICION] ADD  CONSTRAINT [DF_ORI_DISP_FUENTE]  DEFAULT (N'CAPTURA') FOR [fuente]
GO
ALTER TABLE [ori].[SOLICITUD_DISPOSICION] ADD  CONSTRAINT [DF_ORI_DISP_ACTIVO]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_DISPOSICION] ADD  CONSTRAINT [DF_ORI_DISP_FCREA]  DEFAULT (sysdatetime()) FOR [fecha_creacion]
GO
ALTER TABLE [ori].[SOLICITUD_DISPOSICION]  WITH CHECK ADD  CONSTRAINT [FK_ORI_DISP_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_DISPOSICION] CHECK CONSTRAINT [FK_ORI_DISP_SOL]
GO
ALTER TABLE [ori].[SOLICITUD_DISPOSICION]  WITH CHECK ADD  CONSTRAINT [CK_ORI_DISP_FUENTE] CHECK  (([fuente]=N'CAPTURA' OR [fuente]=N'SAF'))
GO
ALTER TABLE [ori].[SOLICITUD_DISPOSICION] CHECK CONSTRAINT [CK_ORI_DISP_FUENTE]
GO
