SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_TYC](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[fecha_emision] [datetime2](7) NULL,
	[respuesta_cliente] [nvarchar](30) NULL,
	[fecha_respuesta] [datetime2](7) NULL,
	[contrapropuesta_detalle] [nvarchar](max) NULL,
	[resolucion_contrapropuesta] [nvarchar](30) NULL,
	[congruencia_verificada] [bit] NOT NULL,
	[notas_congruencia] [nvarchar](max) NULL,
	[congruencia_por] [nvarchar](256) NULL,
	[congruencia_fecha] [datetime] NULL,
	[apoderado_codigo] [nvarchar](40) NULL,
 CONSTRAINT [PK_SOLICITUD_TYC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_TYC] ADD  CONSTRAINT [DF_STYC_cong]  DEFAULT ((0)) FOR [congruencia_verificada]
GO
ALTER TABLE [ori].[SOLICITUD_TYC]  WITH CHECK ADD  CONSTRAINT [FK_STYC_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_TYC] CHECK CONSTRAINT [FK_STYC_sol]
GO
