SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_REL20260916_LECTURA](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[documento_id] [uniqueidentifier] NOT NULL,
	[tipo_documento] [nvarchar](30) NOT NULL,
	[nombre_archivo] [nvarchar](400) NULL,
	[modo] [nvarchar](20) NULL,
	[entidad] [nvarchar](60) NOT NULL,
	[campo] [nvarchar](80) NOT NULL,
	[sujeto] [nvarchar](200) NULL,
	[valor] [nvarchar](4000) NULL,
	[confianza] [tinyint] NULL,
	[nota] [nvarchar](400) NULL,
	[fecha] [datetime] NOT NULL,
	[usuario] [nvarchar](256) NULL,
	[aplicado] [bit] NOT NULL,
	[aplicado_por] [nvarchar](256) NULL,
	[fecha_aplicacion] [datetime] NULL,
	[destino_documental] [bit] NOT NULL
) ON [PRIMARY]
GO
