SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[MIGRACION_APLICADA](
	[archivo] [nvarchar](200) NOT NULL,
	[numero] [int] NOT NULL,
	[hash_sha256] [char](64) NULL,
	[aplicada_en] [datetime2](7) NOT NULL,
	[aplicada_por] [nvarchar](256) NOT NULL,
	[duracion_ms] [int] NULL,
	[evidencia] [nvarchar](400) NULL,
	[nota] [nvarchar](400) NULL,
 CONSTRAINT [PK_MIGRACION_APLICADA] PRIMARY KEY CLUSTERED 
(
	[archivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[MIGRACION_APLICADA] ADD  CONSTRAINT [DF_MIGRACION_APLICADA_fecha]  DEFAULT (sysdatetime()) FOR [aplicada_en]
GO
