SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_CARATULA_VERSION](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[version] [int] NOT NULL,
	[estado_al_momento] [nvarchar](30) NULL,
	[avance_captura] [int] NOT NULL,
	[generado_por] [nvarchar](256) NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_ORI_CARVER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_CARATULA_VERSION] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_CARATULA_VERSION] ADD  CONSTRAINT [DF_ORI_CARVER_AV]  DEFAULT ((0)) FOR [avance_captura]
GO
ALTER TABLE [ori].[SOLICITUD_CARATULA_VERSION] ADD  CONSTRAINT [DF_ORI_CARVER_FEC]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [ori].[SOLICITUD_CARATULA_VERSION]  WITH CHECK ADD  CONSTRAINT [FK_ORI_CARVER_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_CARATULA_VERSION] CHECK CONSTRAINT [FK_ORI_CARVER_SOL]
GO
