SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M63_AUSENCIA](
	[entidad] [nvarchar](30) NOT NULL,
	[campo] [nvarchar](60) NOT NULL,
	[registro_id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NULL,
	[valor_anterior] [nvarchar](400) NULL,
	[activo_anterior] [bit] NULL,
	[fecha_mod_anterior] [datetime] NULL,
	[modificado_anterior] [nvarchar](120) NULL,
	[respaldado_en] [datetime] NOT NULL,
 CONSTRAINT [PK_BAK_M63] PRIMARY KEY CLUSTERED 
(
	[entidad] ASC,
	[campo] ASC,
	[registro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[BAK_M63_AUSENCIA] ADD  DEFAULT (getdate()) FOR [respaldado_en]
GO
