SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_REL20260916_ORIGEN](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[entidad] [nvarchar](60) NOT NULL,
	[campo] [nvarchar](80) NOT NULL,
	[registro_id] [uniqueidentifier] NOT NULL,
	[fuente] [nvarchar](20) NOT NULL,
	[referencia] [nvarchar](300) NULL,
	[valor] [nvarchar](400) NULL,
	[confianza] [tinyint] NULL,
	[fecha] [datetime] NOT NULL,
	[usuario] [nvarchar](256) NULL
) ON [PRIMARY]
GO
