SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_FORMALIZACION_ITEM](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[codigo] [nvarchar](60) NOT NULL,
	[cumplido] [bit] NOT NULL,
	[comentario] [nvarchar](400) NULL,
	[cumplido_por] [nvarchar](256) NULL,
	[fecha] [datetime2](7) NULL,
 CONSTRAINT [PK_ORI_FORM_ITEM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_ORI_FORM_ITEM] UNIQUE NONCLUSTERED 
(
	[solicitud_id] ASC,
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_FORMALIZACION_ITEM] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_FORMALIZACION_ITEM] ADD  CONSTRAINT [DF_ORI_FORM_ITEM_CUM]  DEFAULT ((0)) FOR [cumplido]
GO
ALTER TABLE [ori].[SOLICITUD_FORMALIZACION_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_ORI_FORM_ITEM_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_FORMALIZACION_ITEM] CHECK CONSTRAINT [FK_ORI_FORM_ITEM_sol]
GO
