SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_CREDITO](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[monto_solicitado] [numeric](18, 2) NULL,
	[plazo_meses] [int] NULL,
	[destino] [nvarchar](200) NULL,
	[tipo_producto] [nvarchar](50) NULL,
	[num_accionistas] [int] NOT NULL,
	[num_obligados_solidarios] [int] NOT NULL,
	[num_garantes] [int] NOT NULL,
	[num_modelos_vivienda] [int] NOT NULL,
	[num_participantes] [int] NOT NULL,
 CONSTRAINT [PK_ORI_CREDITO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_CREDITO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_CREDITO] ADD  CONSTRAINT [DF_ORI_CRED_ACC]  DEFAULT ((0)) FOR [num_accionistas]
GO
ALTER TABLE [ori].[SOLICITUD_CREDITO] ADD  CONSTRAINT [DF_ORI_CRED_OS]  DEFAULT ((0)) FOR [num_obligados_solidarios]
GO
ALTER TABLE [ori].[SOLICITUD_CREDITO] ADD  CONSTRAINT [DF_ORI_CRED_GAR]  DEFAULT ((0)) FOR [num_garantes]
GO
ALTER TABLE [ori].[SOLICITUD_CREDITO] ADD  CONSTRAINT [DF_ORI_CRED_MOD]  DEFAULT ((0)) FOR [num_modelos_vivienda]
GO
ALTER TABLE [ori].[SOLICITUD_CREDITO] ADD  CONSTRAINT [DF_ORI_CRED_PART]  DEFAULT ((0)) FOR [num_participantes]
GO
ALTER TABLE [ori].[SOLICITUD_CREDITO]  WITH CHECK ADD  CONSTRAINT [FK_ORI_CRED_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_CREDITO] CHECK CONSTRAINT [FK_ORI_CRED_SOL]
GO
