SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_EXCEPCION](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[documento] [nvarchar](300) NULL,
	[justificacion] [nvarchar](max) NULL,
	[area_autoriza] [nvarchar](120) NULL,
	[fecha_compromiso] [datetime2](7) NULL,
	[estado] [nvarchar](20) NOT NULL,
	[autorizado_por] [nvarchar](256) NULL,
	[fecha_autorizacion] [datetime2](7) NULL,
	[activo] [bit] NOT NULL,
	[solicitado_por] [nvarchar](256) NULL,
	[fecha_solicitud] [datetime2](7) NULL,
	[regularizado_por] [nvarchar](256) NULL,
	[fecha_regularizacion] [datetime2](7) NULL,
 CONSTRAINT [PK_SOLICITUD_EXCEPCION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_EXCEPCION] ADD  CONSTRAINT [DF_SE_estado]  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [ori].[SOLICITUD_EXCEPCION] ADD  CONSTRAINT [DF_SE_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_EXCEPCION]  WITH CHECK ADD  CONSTRAINT [FK_SE_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_EXCEPCION] CHECK CONSTRAINT [FK_SE_sol]
GO
