SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_MODELO_ANEXOE_20260917](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[orden] [int] NOT NULL,
	[nombre_modelo] [nvarchar](200) NULL,
	[metros_cuadrados] [numeric](18, 2) NULL,
	[num_viviendas] [int] NULL,
	[incluye] [nvarchar](max) NULL,
	[valor_vivienda] [decimal](18, 2) NULL,
	[activo] [bit] NOT NULL,
	[numero_avaluo] [nvarchar](60) NULL,
	[tipo_inmueble] [nvarchar](80) NULL,
	[documento_id] [uniqueidentifier] NULL,
	[confianza_min] [tinyint] NULL,
	[origen] [nvarchar](30) NULL,
	[valor_aforo] [decimal](9, 4) NULL,
	[monto_credito] [decimal](18, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
