SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_REL20260916_PARTICIPANTE](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[tipo] [nvarchar](30) NOT NULL,
	[tipo_persona] [nvarchar](20) NOT NULL,
	[orden] [int] NOT NULL,
	[nombre_razon_social] [nvarchar](400) NULL,
	[rfc] [nvarchar](13) NULL,
	[cargo] [nvarchar](200) NULL,
	[porcentaje_participacion] [numeric](9, 4) NULL,
	[estado_civil] [nvarchar](50) NULL,
	[es_pep] [bit] NOT NULL,
	[telefono] [nvarchar](40) NULL,
	[email] [nvarchar](200) NULL,
	[csf_archivo] [nvarchar](400) NULL,
	[es_beneficiario_controlador] [bit] NOT NULL,
	[nacionalidad] [nvarchar](100) NULL,
	[tipo_identificacion] [nvarchar](40) NULL,
	[numero_identificacion] [nvarchar](60) NULL,
	[vigencia_identificacion] [datetime] NULL,
	[fecha_nacimiento] [datetime] NULL,
	[sexo] [nvarchar](20) NULL,
	[regimen_matrimonial] [nvarchar](60) NULL,
	[nombre_conyuge] [nvarchar](200) NULL,
	[curp] [nvarchar](18) NULL,
	[calle] [nvarchar](200) NULL,
	[num_ext] [nvarchar](30) NULL,
	[num_int] [nvarchar](30) NULL,
	[colonia] [nvarchar](200) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[municipio] [nvarchar](200) NULL,
	[estado] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NULL,
	[tipo_localidad] [nvarchar](60) NULL,
	[entidad_nacimiento] [nvarchar](100) NULL,
	[pais_nacimiento] [nvarchar](100) NULL,
	[ocupacion] [nvarchar](150) NULL,
	[empresa_labora] [nvarchar](300) NULL,
	[actividad_giro] [nvarchar](200) NULL,
	[actividad_principal] [nvarchar](200) NULL,
	[anios_experiencia] [int] NULL,
	[autoriza_buro] [bit] NOT NULL,
	[folio_consulta_buro] [nvarchar](60) NULL,
	[fecha_consulta_buro] [datetime] NULL,
	[numero_consulta_sic] [nvarchar](60) NULL,
	[objeto_social] [nvarchar](2000) NULL,
	[fecha_constitucion] [datetime] NULL,
	[folio_mercantil] [nvarchar](100) NULL,
	[experiencia] [nvarchar](max) NULL,
	[activo] [bit] NOT NULL,
	[situacion_rfc] [nvarchar](60) NULL,
	[fecha_inscripcion_rfc] [date] NULL,
	[es_accionista] [bit] NOT NULL,
	[es_obligado_solidario] [bit] NOT NULL,
	[es_garante] [bit] NOT NULL,
	[es_representante_legal] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
