SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_FLUJO_MES](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[mes] [int] NOT NULL,
	[etiqueta] [nvarchar](20) NULL,
	[viv_enganche] [int] NULL,
	[viv_individualizadas] [int] NULL,
	[edificacion_pct] [decimal](9, 6) NULL,
	[urbanizacion_pct] [decimal](9, 6) NULL,
	[aportaciones] [decimal](18, 2) NULL,
	[notariales] [decimal](18, 2) NULL,
	[ing_terreno] [decimal](18, 2) NULL,
	[ing_enganches] [decimal](18, 2) NULL,
	[ing_ventas] [decimal](18, 2) NULL,
	[ing_anticipo] [decimal](18, 2) NULL,
	[ing_credito] [decimal](18, 2) NULL,
	[total_ingresos] [decimal](18, 2) NULL,
	[egr_terreno] [decimal](18, 2) NULL,
	[egr_licencias] [decimal](18, 2) NULL,
	[egr_estudios] [decimal](18, 2) NULL,
	[egr_urbanizacion] [decimal](18, 2) NULL,
	[egr_edificacion] [decimal](18, 2) NULL,
	[egr_indirectos] [decimal](18, 2) NULL,
	[egr_ventas] [decimal](18, 2) NULL,
	[egr_admon] [decimal](18, 2) NULL,
	[egr_comisiones] [decimal](18, 2) NULL,
	[egr_intereses] [decimal](18, 2) NULL,
	[egr_amortizacion] [decimal](18, 2) NULL,
	[egr_retiro] [decimal](18, 2) NULL,
	[total_egresos] [decimal](18, 2) NULL,
	[saldo_mensual] [decimal](18, 2) NULL,
	[saldo_acumulado] [decimal](18, 2) NULL,
	[saldo_credito] [decimal](18, 2) NULL,
	[avance_obra] [decimal](9, 6) NULL,
	[aforo] [decimal](12, 4) NULL,
	[valor_garantias] [decimal](18, 2) NULL,
	[flujo_reservas] [decimal](18, 2) NULL,
	[escenario] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_ORI_FLMES] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_MES] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_MES] ADD  CONSTRAINT [DF_ORI_FLMES_ESC]  DEFAULT ('BASE') FOR [escenario]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_MES]  WITH CHECK ADD  CONSTRAINT [FK_ORI_FLMES_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_MES] CHECK CONSTRAINT [FK_ORI_FLMES_SOL]
GO
