SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M71_VIGENTE](
	[unidad_id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NULL,
	[numero_avaluo] [nvarchar](60) NULL,
	[vigente_anterior] [bit] NULL,
	[motivo] [nvarchar](200) NULL,
	[respaldado_en] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[unidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[BAK_M71_VIGENTE] ADD  DEFAULT (getdate()) FOR [respaldado_en]
GO
