SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M68_DESCRIPCION](
	[lectura_id] [uniqueidentifier] NOT NULL,
	[tipo_documento] [nvarchar](60) NULL,
	[campo_anterior] [nvarchar](120) NULL,
	[accion] [nvarchar](30) NOT NULL,
	[valor] [nvarchar](4000) NULL,
	[solicitud_id] [uniqueidentifier] NULL,
	[documento_id] [uniqueidentifier] NULL,
	[entidad] [nvarchar](40) NULL,
	[sujeto] [nvarchar](200) NULL,
	[confianza] [tinyint] NULL,
	[respaldado_en] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[lectura_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[BAK_M68_DESCRIPCION] ADD  DEFAULT (getdate()) FOR [respaldado_en]
GO
