SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M60_RFC](
	[entidad] [nvarchar](20) NOT NULL,
	[registro_id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NULL,
	[rfc_anterior] [nvarchar](30) NULL,
	[rfc_nuevo] [nvarchar](30) NULL,
	[corregido_en] [datetime] NOT NULL,
 CONSTRAINT [PK_BAK_M60_RFC] PRIMARY KEY CLUSTERED 
(
	[entidad] ASC,
	[registro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[BAK_M60_RFC] ADD  DEFAULT (getdate()) FOR [corregido_en]
GO
