SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_REL20260916_GARANTIA](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[orden] [int] NOT NULL,
	[tipo_garantia] [nvarchar](80) NULL,
	[subtipo_garantia] [nvarchar](80) NULL,
	[descripcion] [nvarchar](400) NULL,
	[moneda] [nvarchar](10) NULL,
	[monto_garantia] [numeric](18, 2) NULL,
	[valor_mercado] [numeric](18, 2) NULL,
	[valor_proyectado] [numeric](18, 2) NULL,
	[monto_avaluo] [numeric](18, 2) NULL,
	[numero_avaluo] [nvarchar](60) NULL,
	[fecha_avaluo] [datetime] NULL,
	[registro_unico] [nvarchar](80) NULL,
	[porcentaje_aforo] [numeric](9, 4) NULL,
	[prioridad] [int] NULL,
	[asegurada] [bit] NOT NULL,
	[aseguradora] [nvarchar](120) NULL,
	[numero_poliza] [nvarchar](60) NULL,
	[vencimiento_seguro] [datetime] NULL,
	[calle] [nvarchar](200) NULL,
	[num_ext] [nvarchar](30) NULL,
	[num_int] [nvarchar](30) NULL,
	[colonia] [nvarchar](200) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[municipio] [nvarchar](200) NULL,
	[estado] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NULL,
	[tipo_localidad] [nvarchar](60) NULL,
	[activo] [bit] NOT NULL,
	[valuador] [nvarchar](200) NULL,
	[clave_valuador] [nvarchar](80) NULL,
	[unidad_valuacion] [nvarchar](200) NULL,
	[superficie_terreno] [decimal](18, 2) NULL,
	[superficie_registral] [decimal](18, 2) NULL,
	[propietario_registral] [nvarchar](250) NULL,
	[clave_catastral] [nvarchar](80) NULL,
	[libre_gravamen] [bit] NULL,
	[folio_certificado] [nvarchar](80) NULL,
	[fecha_certificado] [date] NULL,
	[aviso_preventivo] [nvarchar](250) NULL,
	[tipo_gravamen] [nvarchar](40) NULL,
	[endoso_preferente] [bit] NULL,
	[superficie_construccion] [decimal](18, 2) NULL,
	[inicio_seguro] [date] NULL,
	[prima_seguro] [decimal](18, 2) NULL,
	[manzana] [nvarchar](60) NULL,
	[lote] [nvarchar](120) NULL
) ON [PRIMARY]
GO
