SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M62_NUMEROS](
	[entidad] [nvarchar](20) NOT NULL,
	[registro_id] [uniqueidentifier] NOT NULL,
	[campo] [nvarchar](60) NOT NULL,
	[texto_leido] [nvarchar](400) NULL,
	[valor_anterior] [decimal](18, 4) NULL,
	[valor_nuevo] [decimal](18, 4) NULL,
	[corregido_en] [datetime] NOT NULL,
 CONSTRAINT [PK_BAK_M62] PRIMARY KEY CLUSTERED 
(
	[entidad] ASC,
	[registro_id] ASC,
	[campo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[BAK_M62_NUMEROS] ADD  DEFAULT (getdate()) FOR [corregido_en]
GO
