SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_GARANTIA_UNIDAD](
	[Id] [uniqueidentifier] NOT NULL,
	[garantia_id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[orden] [int] NOT NULL,
	[numero_avaluo] [nvarchar](60) NULL,
	[clave_catastral] [nvarchar](80) NULL,
	[folio_certificado] [nvarchar](80) NULL,
	[documento_id] [uniqueidentifier] NULL,
	[origen] [nvarchar](30) NULL,
	[calle] [nvarchar](200) NULL,
	[num_ext] [nvarchar](30) NULL,
	[num_int] [nvarchar](30) NULL,
	[manzana] [nvarchar](60) NULL,
	[lote] [nvarchar](120) NULL,
	[colonia] [nvarchar](200) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[municipio] [nvarchar](200) NULL,
	[estado] [nvarchar](100) NULL,
	[descripcion_registral] [nvarchar](1000) NULL,
	[subtipo_garantia] [nvarchar](80) NULL,
	[monto_avaluo] [decimal](18, 2) NULL,
	[valor_mercado] [decimal](18, 2) NULL,
	[fecha_avaluo] [date] NULL,
	[valuador] [nvarchar](200) NULL,
	[clave_valuador] [nvarchar](80) NULL,
	[unidad_valuacion] [nvarchar](200) NULL,
	[superficie_terreno] [decimal](18, 2) NULL,
	[superficie_construccion] [decimal](18, 2) NULL,
	[superficie_registral] [decimal](18, 2) NULL,
	[propietario_registral] [nvarchar](250) NULL,
	[libre_gravamen] [bit] NULL,
	[tipo_gravamen] [nvarchar](40) NULL,
	[fecha_certificado] [date] NULL,
	[es_garantia] [bit] NULL,
	[vigente] [bit] NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[registrado_por] [nvarchar](256) NULL,
	[confianza_min] [tinyint] NULL,
	[confianza_monto] [tinyint] NULL,
 CONSTRAINT [PK_ORI_GARANTIA_UNIDAD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA_UNIDAD] ADD  CONSTRAINT [DF_ORI_GARU_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA_UNIDAD] ADD  CONSTRAINT [DF_ORI_GARU_orden]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA_UNIDAD] ADD  CONSTRAINT [DF_ORI_GARU_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA_UNIDAD] ADD  CONSTRAINT [DF_ORI_GARU_fecha]  DEFAULT (getdate()) FOR [fecha_registro]
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA_UNIDAD]  WITH CHECK ADD  CONSTRAINT [FK_ORI_GARU_GARANTIA] FOREIGN KEY([garantia_id])
REFERENCES [ori].[SOLICITUD_GARANTIA] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA_UNIDAD] CHECK CONSTRAINT [FK_ORI_GARU_GARANTIA]
GO
