SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_ORIGEN_DATO](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[entidad] [nvarchar](60) NOT NULL,
	[campo] [nvarchar](80) NOT NULL,
	[registro_id] [uniqueidentifier] NOT NULL,
	[fuente] [nvarchar](20) NOT NULL,
	[referencia] [nvarchar](300) NULL,
	[valor] [nvarchar](400) NULL,
	[confianza] [tinyint] NULL,
	[fecha] [datetime] NOT NULL,
	[usuario] [nvarchar](256) NULL,
 CONSTRAINT [PK_ORI_ORIGEN_DATO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_ORIGEN_DATO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_ORIGEN_DATO] ADD  CONSTRAINT [DF_ORI_ORIGEN_REG]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [registro_id]
GO
ALTER TABLE [ori].[SOLICITUD_ORIGEN_DATO] ADD  CONSTRAINT [DF_ORI_ORIGEN_FEC]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [ori].[SOLICITUD_ORIGEN_DATO]  WITH CHECK ADD  CONSTRAINT [FK_ORI_ORIGEN_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_ORIGEN_DATO] CHECK CONSTRAINT [FK_ORI_ORIGEN_SOL]
GO
ALTER TABLE [ori].[SOLICITUD_ORIGEN_DATO]  WITH CHECK ADD  CONSTRAINT [CK_ORI_ORIGEN_FUENTE] CHECK  (([fuente]=N'CALCULO' OR [fuente]=N'CAPTURA' OR [fuente]=N'IMPORTACION' OR [fuente]=N'DOCUMENTO' OR [fuente]=N'EXPEDIENTE' OR [fuente]=N'SAF'))
GO
ALTER TABLE [ori].[SOLICITUD_ORIGEN_DATO] CHECK CONSTRAINT [CK_ORI_ORIGEN_FUENTE]
GO
