SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_REL20260916_SOLICITANTE](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[rfc] [nvarchar](13) NULL,
	[razon_social] [nvarchar](400) NULL,
	[calle] [nvarchar](200) NULL,
	[num_ext] [nvarchar](30) NULL,
	[num_int] [nvarchar](30) NULL,
	[colonia] [nvarchar](200) NULL,
	[municipio] [nvarchar](200) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[estado] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NULL,
	[objeto_social] [nvarchar](2000) NULL,
	[sector] [nvarchar](200) NULL,
	[actividad] [nvarchar](200) NULL,
	[subactividad] [nvarchar](200) NULL,
	[pertenece_grupo] [bit] NOT NULL,
	[grupo_empresarial] [nvarchar](200) NULL,
	[num_empleados] [int] NULL,
	[folio_mercantil] [nvarchar](100) NULL,
	[fecha_constitucion] [datetime] NULL,
	[telefono] [nvarchar](40) NULL,
	[email] [nvarchar](200) NULL,
	[firma_electronica] [nvarchar](100) NULL,
	[csf_archivo] [nvarchar](400) NULL,
	[csf_cargada] [bit] NOT NULL,
	[csf_origen] [nvarchar](20) NOT NULL,
	[nacionalidad] [nvarchar](100) NULL,
	[clase_sociedad] [nvarchar](120) NULL,
	[acta_notaria] [nvarchar](200) NULL,
	[acta_numero] [nvarchar](60) NULL,
	[acta_escritura] [nvarchar](60) NULL,
	[origen_recursos] [nvarchar](200) NULL,
	[destino_recursos] [nvarchar](200) NULL,
	[procedencia_recursos] [nvarchar](200) NULL,
	[actua_por_terceros] [bit] NOT NULL,
	[perfil_transaccional] [nvarchar](200) NULL,
	[ingreso_anual_neto] [numeric](18, 2) NULL,
	[tamano_deudor] [nvarchar](60) NULL,
	[pais_fiscal] [nvarchar](100) NULL,
	[autoriza_buro] [bit] NOT NULL,
	[folio_consulta_buro] [nvarchar](60) NULL,
	[fecha_consulta_buro] [datetime] NULL,
	[numero_consulta_sic] [nvarchar](60) NULL,
	[tipo_localidad] [nvarchar](60) NULL,
	[acreditado_figura] [nvarchar](20) NOT NULL,
	[desarrollador_mismo] [bit] NOT NULL,
	[desarrollador_razon_social] [nvarchar](400) NULL,
	[desarrollador_rfc] [nvarchar](13) NULL,
	[desarrollador_tipo_persona] [nvarchar](10) NULL,
	[desarrollador_contacto] [nvarchar](200) NULL,
	[situacion_rfc] [nvarchar](60) NULL,
	[fecha_inscripcion_rfc] [date] NULL
) ON [PRIMARY]
GO
