SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M65_CAT_BASURA](
	[Id] [uniqueidentifier] NOT NULL,
	[grupo] [nvarchar](50) NOT NULL,
	[codigo] [nvarchar](60) NOT NULL,
	[descripcion] [nvarchar](200) NOT NULL,
	[codigo_saf] [nvarchar](60) NULL,
	[orden] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[modificado_por] [nvarchar](256) NULL,
	[fecha_modificacion] [datetime] NOT NULL,
	[padre] [nvarchar](60) NULL,
	[atributos] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
