SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[CONFIG_BITACORA](
	[Id] [uniqueidentifier] NOT NULL,
	[ambito] [nvarchar](30) NOT NULL,
	[referencia] [nvarchar](200) NULL,
	[clave] [nvarchar](200) NULL,
	[valor_anterior] [nvarchar](1000) NULL,
	[valor_nuevo] [nvarchar](1000) NULL,
	[usuario] [nvarchar](256) NULL,
	[fecha] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ORI_CONFIG_BITACORA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[CONFIG_BITACORA] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[CONFIG_BITACORA] ADD  CONSTRAINT [DF_ORI_CONFIG_BITACORA_fecha]  DEFAULT (sysdatetime()) FOR [fecha]
GO
