SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_CONDICION](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[orden] [int] NOT NULL,
	[descripcion] [nvarchar](400) NULL,
	[tipo] [nvarchar](60) NULL,
	[cumplida] [bit] NOT NULL,
	[comentario] [nvarchar](max) NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_ORI_CONDICION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_CONDICION] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_CONDICION] ADD  CONSTRAINT [DF_ORI_COND_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[SOLICITUD_CONDICION] ADD  CONSTRAINT [DF_ORI_COND_CUMP]  DEFAULT ((0)) FOR [cumplida]
GO
ALTER TABLE [ori].[SOLICITUD_CONDICION] ADD  CONSTRAINT [DF_ORI_COND_FEC]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [ori].[SOLICITUD_CONDICION]  WITH CHECK ADD  CONSTRAINT [FK_ORI_COND_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_CONDICION] CHECK CONSTRAINT [FK_ORI_COND_SOL]
GO
