SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_DICTAMEN](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[responsable] [nvarchar](256) NULL,
	[comentario] [nvarchar](max) NULL,
	[fecha_solicitud] [datetime2](7) NULL,
	[fecha_resolucion] [datetime2](7) NULL,
	[vobo_por] [nvarchar](256) NULL,
	[activo] [bit] NOT NULL,
	[espera_externa_desde] [datetime2](7) NULL,
	[espera_externa_hasta] [datetime2](7) NULL,
	[espera_externa_motivo] [nvarchar](300) NULL,
	[solicitado_por] [nvarchar](256) NULL,
 CONSTRAINT [PK_SOLICITUD_DICTAMEN] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_DICTAMEN] ADD  CONSTRAINT [DF_SD_estado]  DEFAULT ('Pendiente') FOR [estado]
GO
ALTER TABLE [ori].[SOLICITUD_DICTAMEN] ADD  CONSTRAINT [DF_SD_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_DICTAMEN]  WITH CHECK ADD  CONSTRAINT [FK_SD_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_DICTAMEN] CHECK CONSTRAINT [FK_SD_sol]
GO
