SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_ANTICIPO](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[monto_solicitado] [decimal](18, 2) NULL,
	[porcentaje_linea] [decimal](9, 4) NULL,
	[terreno] [decimal](18, 2) NULL,
	[proyecto_ejecutivo] [decimal](18, 2) NULL,
	[licencias_permisos] [decimal](18, 2) NULL,
	[preliminares_obra] [decimal](18, 2) NULL,
	[urbanizacion] [decimal](18, 2) NULL,
	[otros] [decimal](18, 2) NULL,
	[otros_descripcion] [nvarchar](300) NULL,
	[fecha_solicitud] [date] NULL,
	[aplica] [bit] NOT NULL,
	[autorizado_por] [nvarchar](256) NULL,
	[fecha_autorizacion] [datetime2](7) NULL,
	[nota] [nvarchar](600) NULL,
	[modificado_por] [nvarchar](256) NULL,
	[fecha_modificacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ORI_ANTICIPO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_ORI_ANTICIPO_solicitud] UNIQUE NONCLUSTERED 
(
	[solicitud_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_ANTICIPO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_ANTICIPO] ADD  CONSTRAINT [DF_ORI_ANTICIPO_APL]  DEFAULT ((1)) FOR [aplica]
GO
ALTER TABLE [ori].[SOLICITUD_ANTICIPO] ADD  CONSTRAINT [DF_ORI_ANTICIPO_FEC]  DEFAULT (sysdatetime()) FOR [fecha_modificacion]
GO
ALTER TABLE [ori].[SOLICITUD_ANTICIPO]  WITH CHECK ADD  CONSTRAINT [FK_ORI_ANTICIPO_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_ANTICIPO] CHECK CONSTRAINT [FK_ORI_ANTICIPO_sol]
GO
