SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M66_CODIFICADO](
	[tabla] [nvarchar](60) NOT NULL,
	[columna] [nvarchar](60) NOT NULL,
	[registro_id] [uniqueidentifier] NOT NULL,
	[valor_anterior] [nvarchar](400) NULL,
	[valor_nuevo] [nvarchar](400) NULL,
	[respaldado_en] [datetime] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [ori].[BAK_M66_CODIFICADO] ADD  DEFAULT (getdate()) FOR [respaldado_en]
GO
