SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_DOCUMENTO_REF](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[area] [nvarchar](50) NULL,
	[item_key] [nvarchar](300) NULL,
	[nombre] [nvarchar](400) NULL,
	[origen] [nvarchar](20) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[referencia_local] [nvarchar](500) NULL,
	[nota] [nvarchar](max) NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_ORI_DOCREF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_DOCUMENTO_REF] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_DOCUMENTO_REF] ADD  CONSTRAINT [DF_ORI_DOC_ORIG]  DEFAULT (N'Cliente') FOR [origen]
GO
ALTER TABLE [ori].[SOLICITUD_DOCUMENTO_REF] ADD  CONSTRAINT [DF_ORI_DOC_EST]  DEFAULT (N'Esperado') FOR [estado]
GO
ALTER TABLE [ori].[SOLICITUD_DOCUMENTO_REF] ADD  CONSTRAINT [DF_ORI_DOC_FEC]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [ori].[SOLICITUD_DOCUMENTO_REF]  WITH CHECK ADD  CONSTRAINT [FK_ORI_DOC_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_DOCUMENTO_REF] CHECK CONSTRAINT [FK_ORI_DOC_SOL]
GO
