SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[CHECKLIST_AYUDA](
	[Id] [uniqueidentifier] NOT NULL,
	[producto] [nvarchar](20) NOT NULL,
	[area] [nvarchar](120) NOT NULL,
	[item] [nvarchar](160) NOT NULL,
	[descripcion] [nvarchar](1000) NOT NULL,
	[url_ejemplo] [nvarchar](400) NULL,
	[activo] [bit] NOT NULL,
	[modificado_por] [nvarchar](256) NULL,
	[fecha_modificacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ORI_CHK_AYUDA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[CHECKLIST_AYUDA] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[CHECKLIST_AYUDA] ADD  CONSTRAINT [DF_ORI_CHK_AYUDA_PROD]  DEFAULT (N'EMPRESARIAL') FOR [producto]
GO
ALTER TABLE [ori].[CHECKLIST_AYUDA] ADD  CONSTRAINT [DF_ORI_CHK_AYUDA_ACT]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[CHECKLIST_AYUDA] ADD  CONSTRAINT [DF_ORI_CHK_AYUDA_FEC]  DEFAULT (sysdatetime()) FOR [fecha_modificacion]
GO
