SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M67_NUMEXT](
	[garantia_id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NULL,
	[num_ext_anterior] [nvarchar](60) NULL,
	[manzana] [nvarchar](60) NULL,
	[lote] [nvarchar](120) NULL,
	[respaldado_en] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[garantia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[BAK_M67_NUMEXT] ADD  DEFAULT (getdate()) FOR [respaldado_en]
GO
