SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_FLUJO_PARAM](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[num_viviendas] [int] NULL,
	[valor_vivienda] [decimal](18, 2) NULL,
	[enganche_pct] [decimal](9, 6) NULL,
	[individualizacion_pct] [decimal](9, 6) NULL,
	[valor_proyecto] [decimal](18, 2) NULL,
	[costo_urbanizacion] [decimal](18, 2) NULL,
	[costo_construccion] [decimal](18, 2) NULL,
	[costo_terreno] [decimal](18, 2) NULL,
	[licencias] [decimal](18, 2) NULL,
	[estudios_proyectos] [decimal](18, 2) NULL,
	[admon_pct] [decimal](9, 6) NULL,
	[comision_ventas_pct] [decimal](9, 6) NULL,
	[indirectos_pct] [decimal](9, 6) NULL,
	[credito] [decimal](18, 2) NULL,
	[anticipo] [decimal](18, 2) NULL,
	[factor_ministracion] [decimal](9, 6) NULL,
	[valor_liberacion] [decimal](18, 2) NULL,
	[tasa_anual] [decimal](9, 6) NULL,
	[tasa_descuento_van] [decimal](9, 6) NULL,
	[meses] [int] NULL,
	[segmento] [nvarchar](40) NULL,
	[utilidad_min_pct] [decimal](9, 6) NULL,
	[escenario] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_ORI_FLPARAM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_PARAM] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_PARAM] ADD  CONSTRAINT [DF_ORI_FLPARAM_VAN]  DEFAULT ((0.12)) FOR [tasa_descuento_van]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_PARAM] ADD  CONSTRAINT [DF_ORI_FLPARAM_MES]  DEFAULT ((20)) FOR [meses]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_PARAM] ADD  CONSTRAINT [DF_ORI_FLPARAM_UMIN]  DEFAULT ((0.08)) FOR [utilidad_min_pct]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_PARAM] ADD  CONSTRAINT [DF_ORI_FLPARAM_ESC]  DEFAULT ('BASE') FOR [escenario]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_PARAM]  WITH CHECK ADD  CONSTRAINT [FK_ORI_FLPARAM_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_PARAM] CHECK CONSTRAINT [FK_ORI_FLPARAM_SOL]
GO
