SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[DOCUMENTO_FLUJO](
	[Id] [uniqueidentifier] NOT NULL,
	[clave] [nvarchar](40) NOT NULL,
	[nombre] [nvarchar](160) NOT NULL,
	[hito] [nvarchar](4) NOT NULL,
	[handler] [nvarchar](60) NULL,
	[fuente] [nvarchar](300) NULL,
	[item_expediente] [nvarchar](160) NULL,
	[firma] [nvarchar](120) NULL,
	[estado] [nvarchar](20) NOT NULL,
	[referencia] [nvarchar](60) NULL,
	[nota] [nvarchar](300) NULL,
	[orden] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[modificado_por] [nvarchar](256) NULL,
	[fecha_modificacion] [datetime] NOT NULL,
 CONSTRAINT [PK_ORI_DOC_FLUJO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_ORI_DOC_FLUJO_clave] UNIQUE NONCLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[DOCUMENTO_FLUJO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[DOCUMENTO_FLUJO] ADD  CONSTRAINT [DF_ORI_DOC_FLUJO_EST]  DEFAULT (N'Disponible') FOR [estado]
GO
ALTER TABLE [ori].[DOCUMENTO_FLUJO] ADD  CONSTRAINT [DF_ORI_DOC_FLUJO_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[DOCUMENTO_FLUJO] ADD  CONSTRAINT [DF_ORI_DOC_FLUJO_ACT]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[DOCUMENTO_FLUJO] ADD  CONSTRAINT [DF_ORI_DOC_FLUJO_FEC]  DEFAULT (getdate()) FOR [fecha_modificacion]
GO
ALTER TABLE [ori].[DOCUMENTO_FLUJO]  WITH CHECK ADD  CONSTRAINT [CK_ORI_DOC_FLUJO_estado] CHECK  (([estado]=N'Decision' OR [estado]=N'Iteracion1' OR [estado]=N'Disponible'))
GO
ALTER TABLE [ori].[DOCUMENTO_FLUJO] CHECK CONSTRAINT [CK_ORI_DOC_FLUJO_estado]
GO
