SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_GARANTIA](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[orden] [int] NOT NULL,
	[tipo_garantia] [nvarchar](80) NULL,
	[subtipo_garantia] [nvarchar](80) NULL,
	[descripcion] [nvarchar](400) NULL,
	[moneda] [nvarchar](10) NULL,
	[monto_garantia] [numeric](18, 2) NULL,
	[valor_mercado] [numeric](18, 2) NULL,
	[valor_proyectado] [numeric](18, 2) NULL,
	[monto_avaluo] [numeric](18, 2) NULL,
	[numero_avaluo] [nvarchar](60) NULL,
	[fecha_avaluo] [datetime] NULL,
	[registro_unico] [nvarchar](80) NULL,
	[porcentaje_aforo] [numeric](9, 4) NULL,
	[prioridad] [int] NULL,
	[asegurada] [bit] NOT NULL,
	[aseguradora] [nvarchar](120) NULL,
	[numero_poliza] [nvarchar](60) NULL,
	[vencimiento_seguro] [datetime] NULL,
	[calle] [nvarchar](200) NULL,
	[num_ext] [nvarchar](30) NULL,
	[num_int] [nvarchar](30) NULL,
	[colonia] [nvarchar](200) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[municipio] [nvarchar](200) NULL,
	[estado] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NULL,
	[tipo_localidad] [nvarchar](60) NULL,
	[activo] [bit] NOT NULL,
	[valuador] [nvarchar](200) NULL,
	[clave_valuador] [nvarchar](80) NULL,
	[unidad_valuacion] [nvarchar](200) NULL,
	[superficie_terreno] [decimal](18, 2) NULL,
	[superficie_registral] [decimal](18, 2) NULL,
	[propietario_registral] [nvarchar](250) NULL,
	[clave_catastral] [nvarchar](80) NULL,
	[libre_gravamen] [bit] NULL,
	[folio_certificado] [nvarchar](80) NULL,
	[fecha_certificado] [date] NULL,
	[aviso_preventivo] [nvarchar](250) NULL,
	[tipo_gravamen] [nvarchar](40) NULL,
	[endoso_preferente] [bit] NULL,
	[superficie_construccion] [decimal](18, 2) NULL,
	[inicio_seguro] [date] NULL,
	[prima_seguro] [decimal](18, 2) NULL,
	[manzana] [nvarchar](60) NULL,
	[lote] [nvarchar](120) NULL,
	[descripcion_registral] [nvarchar](1000) NULL,
 CONSTRAINT [PK_ORI_GARANTIA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA] ADD  CONSTRAINT [DF_ORI_GAR_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA] ADD  CONSTRAINT [DF_ORI_GAR_ASEG]  DEFAULT ((0)) FOR [asegurada]
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA] ADD  CONSTRAINT [DF_SOLICITUD_GARANTIA_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA]  WITH CHECK ADD  CONSTRAINT [FK_ORI_GAR_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_GARANTIA] CHECK CONSTRAINT [FK_ORI_GAR_SOL]
GO
