SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_COMITE](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[articulo_73] [nvarchar](30) NULL,
	[costo_terreno] [numeric](18, 2) NULL,
	[costo_edificacion] [numeric](18, 2) NULL,
	[costo_urbanizacion] [numeric](18, 2) NULL,
	[costo_licencias] [numeric](18, 2) NULL,
	[costo_estudios] [numeric](18, 2) NULL,
	[costo_indirectos] [numeric](18, 2) NULL,
	[costo_ventas] [numeric](18, 2) NULL,
	[costo_administracion] [numeric](18, 2) NULL,
	[costo_comisiones] [numeric](18, 2) NULL,
	[costo_intereses] [numeric](18, 2) NULL,
	[costo_notariales] [numeric](18, 2) NULL,
	[costo_otros] [numeric](18, 2) NULL,
	[inv_aportacion_terreno] [numeric](18, 2) NULL,
	[inv_aportacion_promotor] [numeric](18, 2) NULL,
	[inv_enganches] [numeric](18, 2) NULL,
	[inv_proyectos] [numeric](18, 2) NULL,
	[inv_edificacion] [numeric](18, 2) NULL,
	[inv_caja] [numeric](18, 2) NULL,
	[inv_gastos_admon] [numeric](18, 2) NULL,
	[inv_otros] [numeric](18, 2) NULL,
	[identificador_linea] [nvarchar](60) NULL,
	[fecha_comite] [datetime2](7) NULL,
	[destino_credito] [nvarchar](max) NULL,
	[forma_disposicion] [nvarchar](max) NULL,
	[anticipo_credito] [nvarchar](200) NULL,
	[ministracion] [nvarchar](max) NULL,
	[forma_pago_capital] [nvarchar](200) NULL,
	[forma_pago_intereses] [nvarchar](200) NULL,
	[prorrogas] [nvarchar](200) NULL,
	[vigencia_prorrogas] [nvarchar](200) NULL,
	[cobertura_minima] [nvarchar](80) NULL,
	[tasa_moratoria] [nvarchar](120) NULL,
	[comision_factibilidad] [numeric](18, 2) NULL,
	[comision_prorroga] [nvarchar](120) NULL,
	[pagos_anticipados] [nvarchar](200) NULL,
	[aforo] [nvarchar](40) NULL,
	[fondeo] [nvarchar](200) NULL,
	[estado_proyecto] [nvarchar](120) NULL,
	[propone] [nvarchar](200) NULL,
	[recomienda] [nvarchar](200) NULL,
	[autoriza] [nvarchar](200) NULL,
 CONSTRAINT [PK_SOLICITUD_COMITE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_COMITE]  WITH CHECK ADD  CONSTRAINT [FK_SC_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_COMITE] CHECK CONSTRAINT [FK_SC_sol]
GO
