SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[CATALOGO_EQUIVALENCIA](
	[Id] [uniqueidentifier] NOT NULL,
	[grupo] [nvarchar](60) NOT NULL,
	[codigo] [nvarchar](60) NOT NULL,
	[sistema] [nvarchar](20) NOT NULL,
	[codigo_externo] [nvarchar](200) NOT NULL,
	[descripcion_externa] [nvarchar](300) NULL,
	[tabla_externa] [nvarchar](160) NULL,
	[direccion] [nvarchar](10) NOT NULL,
	[preferente] [bit] NOT NULL,
	[nota] [nvarchar](300) NULL,
	[activo] [bit] NOT NULL,
	[modificado_por] [nvarchar](256) NULL,
	[fecha_modificacion] [datetime] NOT NULL,
 CONSTRAINT [PK_ORI_CAT_EQUIV] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[CATALOGO_EQUIVALENCIA] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[CATALOGO_EQUIVALENCIA] ADD  CONSTRAINT [DF_ORI_CAT_EQUIV_DIR]  DEFAULT (N'AMBAS') FOR [direccion]
GO
ALTER TABLE [ori].[CATALOGO_EQUIVALENCIA] ADD  CONSTRAINT [DF_ORI_CAT_EQUIV_PREF]  DEFAULT ((1)) FOR [preferente]
GO
ALTER TABLE [ori].[CATALOGO_EQUIVALENCIA] ADD  CONSTRAINT [DF_ORI_CAT_EQUIV_ACT]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[CATALOGO_EQUIVALENCIA] ADD  CONSTRAINT [DF_ORI_CAT_EQUIV_FEC]  DEFAULT (getdate()) FOR [fecha_modificacion]
GO
ALTER TABLE [ori].[CATALOGO_EQUIVALENCIA]  WITH CHECK ADD  CONSTRAINT [CK_ORI_CAT_EQUIV_DIR] CHECK  (([direccion]=N'ENTRADA' OR [direccion]=N'SALIDA' OR [direccion]=N'AMBAS'))
GO
ALTER TABLE [ori].[CATALOGO_EQUIVALENCIA] CHECK CONSTRAINT [CK_ORI_CAT_EQUIV_DIR]
GO
ALTER TABLE [ori].[CATALOGO_EQUIVALENCIA]  WITH CHECK ADD  CONSTRAINT [CK_ORI_CAT_EQUIV_SIS] CHECK  (([sistema]='DOCUMENTO' OR [sistema]='IMPORTACION' OR [sistema]='EXPEDIENTES' OR [sistema]='CNBV' OR [sistema]='SAF'))
GO
ALTER TABLE [ori].[CATALOGO_EQUIVALENCIA] CHECK CONSTRAINT [CK_ORI_CAT_EQUIV_SIS]
GO
