SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_FLUJO_IMPORT](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[archivo] [nvarchar](400) NULL,
	[layout] [nvarchar](40) NULL,
	[estado] [nvarchar](20) NULL,
	[datos_json] [nvarchar](max) NULL,
	[advertencias] [nvarchar](max) NULL,
	[created_by] [nvarchar](256) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[aplicada_por] [nvarchar](256) NULL,
	[fecha_aplicada] [datetime2](7) NULL,
 CONSTRAINT [PK_SOLICITUD_FLUJO_IMPORT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_IMPORT] ADD  CONSTRAINT [DF_SOLICITUD_FLUJO_IMPORT_created]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_IMPORT]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUD_FLUJO_IMPORT_SOLICITUD] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_FLUJO_IMPORT] CHECK CONSTRAINT [FK_SOLICITUD_FLUJO_IMPORT_SOLICITUD]
GO
