SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_HISTORIA](
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[folio] [nvarchar](40) NULL,
	[nuc] [nvarchar](40) NULL,
	[estado] [nvarchar](40) NULL,
	[fecha_primer_documento] [date] NULL,
	[fecha_expediente_armado] [date] NULL,
	[fecha_comite] [date] NULL,
	[fecha_firma] [date] NULL,
	[fecha_disposicion] [date] NULL,
	[dias_integracion] [int] NULL,
	[dias_comite_firma] [int] NULL,
	[dias_firma_disposicion] [int] NULL,
	[dias_total] [int] NULL,
	[hitos_con_fecha] [tinyint] NOT NULL,
	[documentos_total] [int] NULL,
	[nota] [nvarchar](400) NULL,
	[calculado_en] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[solicitud_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_HISTORIA] ADD  DEFAULT ((0)) FOR [hitos_con_fecha]
GO
ALTER TABLE [ori].[SOLICITUD_HISTORIA] ADD  DEFAULT (getdate()) FOR [calculado_en]
GO
