SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M58_REGISTRO_UNICO](
	[garantia_id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NULL,
	[valor_revertido] [nvarchar](80) NULL,
	[referencia] [nvarchar](400) NULL,
	[revertido_en] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[garantia_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[BAK_M58_REGISTRO_UNICO] ADD  DEFAULT (getdate()) FOR [revertido_en]
GO
