SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_REL20260916_CONDICIONES](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[tipo_cartera] [nvarchar](120) NULL,
	[grupo_riesgo] [nvarchar](120) NULL,
	[acreditado_relacionado] [nvarchar](80) NULL,
	[actividad_economica_destino] [nvarchar](200) NULL,
	[prelacion_pago] [nvarchar](120) NULL,
	[prelacion] [nvarchar](120) NULL,
	[composicion_accionaria] [nvarchar](2000) NULL,
	[monto_moneda_origen] [decimal](18, 2) NULL,
	[moneda_linea] [nvarchar](60) NULL,
	[forma_disposicion] [nvarchar](120) NULL,
	[tasa_interes] [nvarchar](80) NULL,
	[diferencial_tasa] [decimal](18, 4) NULL,
	[operacion_dif_tasa] [nvarchar](120) NULL,
	[periodicidad_capital] [nvarchar](60) NULL,
	[periodicidad_intereses] [nvarchar](60) NULL,
	[meses_gracia_capital] [int] NULL,
	[meses_gracia_intereses] [int] NULL,
	[comision_apertura_tasa] [decimal](18, 4) NULL,
	[comision_apertura_monto] [decimal](18, 2) NULL,
	[comision_disposicion_tasa] [decimal](18, 4) NULL,
	[comision_disposicion_monto] [decimal](18, 2) NULL,
	[monto_credito_simple] [decimal](18, 2) NULL,
	[municipio_destino] [nvarchar](120) NULL,
	[estado_destino] [nvarchar](120) NULL,
	[es_entidad_financiera] [nvarchar](10) NULL,
	[tipo_producto_codigo] [nvarchar](20) NULL,
	[linea_revocable] [nvarchar](80) NULL,
	[numero_prorrogas] [int] NULL,
	[porcentaje_participaciones] [decimal](9, 4) NULL,
	[curp_acreditado] [nvarchar](25) NULL,
	[fecha_max_disposicion] [datetime] NULL,
	[fecha_vencimiento_linea] [datetime] NULL,
	[fecha_firma] [datetime] NULL,
	[cat] [decimal](9, 4) NULL,
	[primas_seguros_obligatorios] [decimal](18, 2) NULL,
	[condiciones_negociadas] [nvarchar](max) NULL,
	[referencia_tasa] [nvarchar](20) NULL,
	[valor_referencia_tasa] [decimal](9, 4) NULL,
	[tasa_resultante] [decimal](9, 4) NULL,
	[tramo2_meses] [int] NULL,
	[tramo2_referencia] [nvarchar](20) NULL,
	[tramo2_diferencial] [decimal](9, 4) NULL,
	[tramo2_tasa_resultante] [decimal](9, 4) NULL,
	[monto_contratado] [decimal](18, 2) NULL,
	[num_credito_saf_linea] [nvarchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
