SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M59_PARTICIPANTE_TIPO](
	[participante_id] [uniqueidentifier] NOT NULL,
	[tipo_anterior] [nvarchar](30) NULL,
	[activo_anterior] [bit] NULL,
	[respaldado_en] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[participante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[BAK_M59_PARTICIPANTE_TIPO] ADD  DEFAULT (getdate()) FOR [respaldado_en]
GO
