SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[BAK_M64_ETIQUETA](
	[participante_id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NULL,
	[nombre] [nvarchar](250) NULL,
	[curp] [nvarchar](20) NULL,
	[activo_anterior] [bit] NULL,
	[respaldado_en] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[participante_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[BAK_M64_ETIQUETA] ADD  DEFAULT (getdate()) FOR [respaldado_en]
GO
