SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[DOCUMENTO_ENTRADA](
	[id] [uniqueidentifier] NOT NULL,
	[documento_id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[sharepoint_item_id] [nvarchar](200) NULL,
	[fecha_creacion_sp] [datetime] NULL,
	[creado_por_sp] [nvarchar](256) NULL,
	[fecha_modificado_sp] [datetime] NULL,
	[fecha_consulta] [datetime] NOT NULL,
	[error] [nvarchar](400) NULL,
 CONSTRAINT [PK_ORI_DOC_ENTRADA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[DOCUMENTO_ENTRADA] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [ori].[DOCUMENTO_ENTRADA] ADD  CONSTRAINT [DF_ORI_DOC_ENTRADA_FC]  DEFAULT (getdate()) FOR [fecha_consulta]
GO
