SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PAG].[SP_OBTENER_ID_CUENTA]
    @NumCuentaArchivo VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CriterioBusqueda VARCHAR(105) = @NumCuentaArchivo + '%';

    SELECT ISNULL(
        (SELECT TOP 1 id_cuenta 
         FROM Quiero_Confianza.BA.BA_CTA_CORRIENTE 
         WHERE num_cuenta LIKE @CriterioBusqueda), 
    0) AS IdCuenta; -- Cambiado '' por 0 si es un ID numérico
END;
GO
