SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PAG].[SP_OBTENER_FECHA_SAF]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT fec_hoy AS FechaSaf
    FROM Quiero_Confianza.cf.cf_calendarios 
    WHERE cod_empresa = '001' 
      AND cod_agencia = '001' 
      AND cod_sistema = 'PR';
END;
GO
