SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAG].[LOG_ERRORES](
	[ID] [uniqueidentifier] NOT NULL,
	[error] [varchar](100) NOT NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NULL,
 CONSTRAINT [PK_PAG_LOG_ERRORES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PAG].[LOG_ERRORES] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PAG].[LOG_ERRORES] ADD  DEFAULT (getdate()) FOR [created]
GO
