SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PAG].[SP_CONSULTAR_DETALLE_PAGO]
    @IdsString VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        FORMAT(B.fecha_carga, 'dd/MM/yyyy') AS FECHA, 
        C.cuenta AS CUENTA,
		B.banco AS BANCO,
        A.monto AS IMPORTE,
        A.ref_pago AS REFERENCIA,
        A.ref_pago2 AS NARRATIVA,
        FORMAT(A.updated, 'dd/MM/yyyy') AS FECHA_IDENTIFICACION,
        FORMAT(A.fecha_transac, 'dd/MM/yyyy') AS FECHA_VALOR,
        CASE A.forma_aplicacion_pago
            WHEN 'F' THEN 'SALDO A FAVOR'
            WHEN 'P' THEN 'PAGO EXTRAORDINARIO'
            WHEN 'N' THEN 'PAGO NORMAL'
            ELSE A.forma_aplicacion_pago
        END AS FORMA_APLICACION,
        A.observaciones AS OBSERVACIONES,
        'COMERCIAL' AS PERSONA_IDENTIFICO,
        'CARTERA' AS PERSONA_APLICO,
        CR.NUM_CREDITO AS CREDITO, 
        TC.DES_TIP_CREDITO AS TIPO_CREDITO,
        ACREDITADO = LTRIM(RTRIM(ISNULL(PJ.RAZON_SOCIAL, 
                      ISNULL(PF.PRIMER_NOMBRE + ' ', '') + 
                      ISNULL(PF.SEGUNDO_NOMBRE + ' ', '') + 
                      ISNULL(PF.PRIMER_APELLIDO + ' ', '') + 
                      ISNULL(PF.SEGUNDO_APELLIDO, '')))),
        DATEDIFF(DAY, A.fecha_transac, GETDATE()) AS DIAS
    FROM PAG.ARCHIVOS_DETALLE AS A
    INNER JOIN PAG.ARCHIVOS AS B 
        ON A.id_archivo = B.ID
    INNER JOIN PAG.ARCHIVOS_ENCABEZADO AS C 
        ON C.id_archivo = B.ID
    LEFT JOIN Quiero_Confianza.PR.PR_CREDITOS AS CR 
        ON A.id_cuenta = LTRIM(RTRIM(CAST(CR.NUM_CREDITO AS VARCHAR(50))))
    LEFT JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO AS TC WITH (NOLOCK) 
        ON CR.TIP_CREDITO = TC.TIP_CREDITO 
        AND CR.COD_EMPRESA = TC.COD_EMPRESA
    LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS AS PJ WITH (NOLOCK) 
        ON CR.COD_EMPRESA = PJ.COD_EMPRESA 
        AND CR.COD_CLIENTE = PJ.COD_CLIENTE
    LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS AS PF WITH (NOLOCK) 
        ON CR.COD_EMPRESA = PF.COD_EMPRESA 
        AND CR.COD_CLIENTE = PF.COD_CLIENTE
    WHERE A.ID IN (SELECT value FROM STRING_SPLIT(@IdsString, ','));
END;
GO
