SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PAG].[SP_OBTENER_CUENTA_REFERENCIA]
    @NumCredito VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ISNULL(CUENTA_REFERENCIA_EXT, '') AS CuentaReferenciaExt
    FROM Quiero_Confianza.PR.PR_CTAS_REFERENCIADAS 
    WHERE cod_empresa = '001' 
      AND cod_agencia = '001'
      AND COD_ENTE = 1
      AND num_credito = @NumCredito;

END;
GO
