SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAG].[ARCHIVOS_PIE](
	[ID] [uniqueidentifier] NOT NULL,
	[id_archivo] [uniqueidentifier] NOT NULL,
	[detalle] [varchar](100) NOT NULL,
	[numero] [varchar](50) NULL,
	[moneda] [varchar](50) NULL,
	[monto] [decimal](18, 2) NULL,
	[referencia] [varchar](100) NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NULL,
 CONSTRAINT [PK_PAG_ARCHIVOS_PIE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PAG].[ARCHIVOS_PIE] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PAG].[ARCHIVOS_PIE] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [PAG].[ARCHIVOS_PIE]  WITH CHECK ADD  CONSTRAINT [FK_ARCHIVOS_ARCHIVOS_PIE] FOREIGN KEY([id_archivo])
REFERENCES [PAG].[ARCHIVOS] ([ID])
GO
ALTER TABLE [PAG].[ARCHIVOS_PIE] CHECK CONSTRAINT [FK_ARCHIVOS_ARCHIVOS_PIE]
GO
