SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAG].[ARCHIVOS_ENCABEZADO](
	[ID] [uniqueidentifier] NOT NULL,
	[id_archivo] [uniqueidentifier] NOT NULL,
	[detalle] [varchar](100) NOT NULL,
	[ref_transaccion] [varchar](50) NULL,
	[cuenta] [varchar](50) NULL,
	[secuencia_dia_anio] [varchar](5) NULL,
	[secuencia_paginas] [varchar](5) NULL,
	[saldo] [decimal](18, 2) NULL,
	[limite_deb_cred] [decimal](18, 2) NULL,
	[fecha_hora] [datetime] NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NULL,
 CONSTRAINT [PK_PAG_ARCHIVOS_ENCABEZADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PAG].[ARCHIVOS_ENCABEZADO] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PAG].[ARCHIVOS_ENCABEZADO] ADD  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [PAG].[ARCHIVOS_ENCABEZADO]  WITH CHECK ADD  CONSTRAINT [FK_ARCHIVOS_ARCHIVOS_ENCABEZADO] FOREIGN KEY([id_archivo])
REFERENCES [PAG].[ARCHIVOS] ([ID])
GO
ALTER TABLE [PAG].[ARCHIVOS_ENCABEZADO] CHECK CONSTRAINT [FK_ARCHIVOS_ARCHIVOS_ENCABEZADO]
GO
