SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PAG].[SP_OBTENER_NUC_DINAMICO]
    @CadenaBusqueda VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
	
    SELECT TOP 1 ID_EXTERNO, NUM_CREDITO
    FROM Quiero_Confianza.PR.PR_CREDITOS
    WHERE ID_EXTERNO IS NOT NULL 
      AND TRIM(ID_EXTERNO) <> '' -- Ignora los registros vacíos o con puros espacios
      AND @CadenaBusqueda LIKE '%' + ID_EXTERNO + '%'
      AND IND_LINEA = 'N'
    ORDER BY NUM_CREDITO ASC;
    
END;
GO
