SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[CONTROL_HISTORICO_TRASPASOS](
	[ID] [uniqueidentifier] NOT NULL,
	[FECHA_SISTEMA] [date] NOT NULL,
	[NUM_CREDITO] [int] NOT NULL,
	[IND_ETAPA] [int] NULL,
	[TIPO_VIVIENDA] [varchar](50) NULL,
	[ID_FONDEO] [int] NULL,
	[CASTIGO] [varchar](1) NULL,
	[NUM_DESC_TIPO_CREDITO] [int] NULL,
	[ID_EXTERNO] [varchar](15) NULL,
	[NUM_SECUENCIA_ULT] [numeric](5, 0) NULL,
	[MON_RUBRO_ULT] [decimal](24, 6) NULL,
	[COD_ORIGEN] [varchar](5) NULL,
	[ID_PRODUCTO] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CONTROL_HISTORICO_TRASPASOS] UNIQUE NONCLUSTERED 
(
	[FECHA_SISTEMA] ASC,
	[NUM_CREDITO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[CONTROL_HISTORICO_TRASPASOS] ADD  DEFAULT (newid()) FOR [ID]
GO
