SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[CALC_BALANCE_ORDEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NUM_CREDITO] [int] NULL,
	[FECHA_INICIO] [date] NULL,
	[MONTO_BALANCE] [decimal](16, 2) NULL,
	[RUBRO] [varchar](30) NULL,
	[MONTO_FIJO] [decimal](16, 2) NULL,
	[FECHA_PROCESO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
