SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[DE_MOVIMIENTO](
	[ID] [uniqueidentifier] NOT NULL,
	[ID_DESEMBOLSO] [uniqueidentifier] NOT NULL,
	[ORDEN] [numeric](5, 0) NULL,
	[CONCEPTO] [varchar](100) NOT NULL,
	[MONTO] [numeric](18, 2) NULL,
	[CUENTA_DEPOSITAR] [varchar](100) NOT NULL,
	[CLABE_INTERBANCARIA] [varchar](100) NOT NULL,
	[BANCO_BENEFICIARIO] [varchar](100) NOT NULL,
	[NOMBRE_BENEFICIARIO] [varchar](255) NOT NULL,
	[NUMERO_DESEMBOLSO] [numeric](5, 0) NULL,
	[FECHA_FONDEO] [datetime] NOT NULL,
	[BANCO_ORIGEN] [varchar](100) NOT NULL,
	[CUENTA_ORIGEN] [varchar](100) NOT NULL,
	[FECHA_FONDEO_SOLICITADO] [datetime] NOT NULL,
	[ERROR] [varchar](8000) NOT NULL,
	[REGISTRADO_POR] [varchar](100) NOT NULL,
	[CREADO] [datetime] NOT NULL,
	[ACTUALIZADO] [datetime] NULL,
 CONSTRAINT [PK_DE_MOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[DE_MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_DE_MOVIMIENTO_DE_DESEMBOLSO] FOREIGN KEY([ID_DESEMBOLSO])
REFERENCES [PO].[DE_DESEMBOLSO] ([ID])
GO
ALTER TABLE [PO].[DE_MOVIMIENTO] CHECK CONSTRAINT [FK_DE_MOVIMIENTO_DE_DESEMBOLSO]
GO
