SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[DE_DESEMBOLSO](
	[ID] [uniqueidentifier] NOT NULL,
	[COD_EMPRESA] [varchar](5) NOT NULL,
	[COD_AGENCIA] [varchar](5) NOT NULL,
	[NUM_CREDITO] [numeric](8, 0) NOT NULL,
	[ID_EXTERNO] [varchar](15) NOT NULL,
	[DESC_ESTATUS] [varchar](100) NOT NULL,
	[REGISTRADO_POR] [varchar](100) NOT NULL,
	[CREADO] [datetime] NOT NULL,
	[ACTUALIZADO] [datetime] NULL,
 CONSTRAINT [PK_DE_DESEMBOLSO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
