SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_CREDITO_PRODUCTO_REL](
	[ID] [uniqueidentifier] NOT NULL,
	[TIP_CREDITO] [int] NOT NULL,
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[CREADO] [datetime] NOT NULL,
	[ACTUALIZADO] [datetime] NULL,
 CONSTRAINT [PK_PR_CREDITO_PRODUCTO_REL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[PR_CREDITO_PRODUCTO_REL] ADD  CONSTRAINT [DF_PR_CREDITO_PRODUCTO_REL_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[PR_CREDITO_PRODUCTO_REL] ADD  CONSTRAINT [DF_PR_CREDITO_PRODUCTO_REL_CREADO]  DEFAULT (getdate()) FOR [CREADO]
GO
ALTER TABLE [PO].[PR_CREDITO_PRODUCTO_REL]  WITH CHECK ADD  CONSTRAINT [FK_PR_CREDITO_PRODUCTO_REL_PR_CREDITO_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [PO].[PR_CREDITO_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [PO].[PR_CREDITO_PRODUCTO_REL] CHECK CONSTRAINT [FK_PR_CREDITO_PRODUCTO_REL_PR_CREDITO_PRODUCTO]
GO
