SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_CREDITO_PRODUCTO](
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[NOMBRE_CORTO] [varchar](50) NOT NULL,
	[TIP_CREDITO] [numeric](3, 0) NULL,
	[REGISTRADO_POR] [varchar](100) NOT NULL,
	[CREADO] [datetime] NOT NULL,
	[ACTUALIZADO] [datetime] NULL,
 CONSTRAINT [PK_PR_CREDITO_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
