SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_REEST_CAST_DET](
	[ID] [uniqueidentifier] NOT NULL,
	[NUM_CREDITO] [int] NOT NULL,
	[COD_CONCEPTO] [varchar](35) NOT NULL,
	[MON_PAGO] [numeric](16, 2) NOT NULL,
	[ID_SECUENCIA] [int] NULL,
	[TIPO] [varchar](10) NOT NULL,
	[FECHA_SISTEMA] [date] NOT NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK__PR_REEST__3214EC279A6804DB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[PR_REEST_CAST_DET] ADD  CONSTRAINT [DF__PR_REEST_CAS__ID__3D9E16F4]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[PR_REEST_CAST_DET] ADD  CONSTRAINT [DF__PR_REEST___FECHA__3E923B2D]  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
