SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_DEVENGO_DET](
	[ID] [uniqueidentifier] NOT NULL,
	[ID_DEVENGO_ENC] [uniqueidentifier] NOT NULL,
	[ID_EXTERNO] [varchar](32) NULL,
	[ACREDITADO] [varchar](128) NULL,
	[PROYECTO] [varchar](64) NULL,
	[TIPO_CREDITO] [varchar](128) NULL,
	[CARTERA] [varchar](16) NULL,
	[FONDEADOR] [varchar](32) NULL,
	[CEDIDO] [varchar](32) NULL,
	[ADMINISTRADOR] [varchar](16) NULL,
	[TIPO_CARTERA] [varchar](24) NULL,
	[ESTATUS] [varchar](16) NULL,
	[DIA_PAGO] [varchar](16) NULL,
	[GENERA_IVA] [varchar](4) NULL,
	[FECHA_CALCULO] [date] NULL,
	[IMPORTE] [decimal](12, 2) NULL,
	[INTERES_IVA] [decimal](12, 2) NULL,
	[INTERESES_MORATORIOS] [decimal](12, 2) NULL,
	[DIA_INCUMPLIMIEMNTO] [decimal](12, 2) NULL,
	[GASTOS_COBRANZA] [decimal](12, 2) NULL,
	[GASTOS_COBRANZA_IVA] [decimal](12, 2) NULL,
	[LLAVE_EMPRESA] [varchar](64) NULL,
	[LLAVE_FECHA] [varchar](64) NULL,
	[OBSERVACIONES] [varchar](256) NULL,
	[ESTATUS_REF] [varchar](16) NULL,
	[PROGRAMA_COVID_19] [varchar](4) NULL,
	[ETAPA] [varchar](1) NULL,
	[IDENTIFICADOR] [varchar](16) NULL,
	[CANAL] [varchar](32) NULL,
	[REGISTRAR_EN] [varchar](32) NULL,
 CONSTRAINT [PK_PR_DEVENGO_DET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[PR_DEVENGO_DET] ADD  CONSTRAINT [DF_PR_DEVENGO_DET_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[PR_DEVENGO_DET]  WITH CHECK ADD  CONSTRAINT [FK_PR_DEVENGO_DET_PR_DEVENGO_ENC] FOREIGN KEY([ID_DEVENGO_ENC])
REFERENCES [PO].[PR_DEVENGO_ENC] ([ID])
GO
ALTER TABLE [PO].[PR_DEVENGO_DET] CHECK CONSTRAINT [FK_PR_DEVENGO_DET_PR_DEVENGO_ENC]
GO
