SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_COM_ADMINISTRADA]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @ID_POLIZA int = 60
	DECLARE @ULT_DIA_MES DATE = EOMONTH(@FECHA_INICIO)
	DECLARE @ULT_DIA_MES_ANT DATE = EOMONTH(DATEADD(M,-1,@FECHA_INICIO))
	DECLARE @RUBRO VARCHAR(30), @MONTO NUMERIC(16,2), @ADM INT, @INDICE_RUBRO INT = 0, @INDICE_ADM INT = 0, @MAX_INDICE INT, @INDICE INT

	BEGIN TRY
	IF @FECHA_INICIO != @ULT_DIA_MES BEGIN 
		RETURN
	END
	BEGIN TRANSACTION

		DELETE FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		
		select case when rubro = 'INTERES_NO_EXIGIBLES' then 'INTERESES' else rubro end as rubro, num_desc_tipo_credito as cartera,sum(saldo) as MONTO
		into #MES_ANT
		from [CIERRE].[SAF_SALDOS] S
			inner join Quiero_Confianza_shadow.PR.PR_CREDITOS C ON S.num_credito = C.num_credito
		where num_desc_tipo_credito in (6,19,21,22,24)
			and tipo = 'N'
			and rubro in ('PRINCIPAL','INTERESES','INTERES_NO_EXIGIBLES','COMISION_ADMINISTRACION','MORATORIOS')
			and fecha_sistema = @ULT_DIA_MES_ANT
		group by case when rubro = 'INTERES_NO_EXIGIBLES' then 'INTERESES' else rubro end, num_desc_tipo_credito

		
		select case when rubro = 'INTERES_NO_EXIGIBLES' then 'INTERESES' else rubro end as rubro, num_desc_tipo_credito as cartera,sum(saldo) as MONTO
		into #MES_ACT
		from [CIERRE].[SAF_SALDOS] S
			inner join Quiero_Confianza_shadow.PR.PR_CREDITOS C ON S.num_credito = C.num_credito
		where num_desc_tipo_credito in (6,19,21,22,24)
			and tipo = 'N'
			and rubro in ('PRINCIPAL','INTERESES','INTERES_NO_EXIGIBLES','COMISION_ADMINISTRACION','MORATORIOS')
			and fecha_sistema = @ULT_DIA_MES
		group by case when rubro = 'INTERES_NO_EXIGIBLES' then 'INTERESES' else rubro end, num_desc_tipo_credito


		INSERT INTO PO.SAF_MOV_CARGO(ID_EXTERNO, NUM_CREDITO, ID_PRODUCTO, ID_FONDEO, MON_PAGO_IVA, IND_ESTADO, RUBRO, MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO,TABLA_ORIGEN, ID_POLIZA)
		SELECT '',0, 0, 0, 0,'P',
		    IIF(A.RUBRO LIKE '%IVA%', REPLACE(A.RUBRO,'IVA_','IVA '),A.RUBRO),
		    B.MONTO-A.MONTO,
		    A.CARTERA,
		    @FECHA_INICIO,
		    'CARTERA ADMIN COM',
		    @ID_POLIZA
		FROM #MES_ANT A 
		    JOIN #MES_ACT B ON A.RUBRO = B.RUBRO AND A.CARTERA = B.CARTERA
		WHERE A.MONTO-B.MONTO !=0

		
		-- ACTUALIZACION DE CONCEPTO
		UPDATE PO.SAF_MOV_CARGO
		SET CONCEPTO = CONCAT(
			'CMR ADM',' ',
			CASE
				WHEN ID_TIPO_CREDITO = 6 THEN 'INBURSA'
				WHEN ID_TIPO_CREDITO = 19 THEN 'BANCOPPEL'
				WHEN ID_TIPO_CREDITO = 21 THEN 'QB'
				WHEN ID_TIPO_CREDITO = 22 THEN 'BALI'
				WHEN ID_TIPO_CREDITO = 24 THEN 'SHCH'
			END,' ',
			RUBRO)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		-- UPDATE DE ID_CONCPETO
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		
		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO,
			H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
		
		--- CONCEPTO FINAL 
		UPDATE PO.SAF_MOV_CARGO
		SET CONCEPTO_FINAL = CONCAT(
			'C.O. CART ADM',' ',
			CASE
				WHEN ID_TIPO_CREDITO = 6 THEN 'INBURSA'
				WHEN ID_TIPO_CREDITO = 19 THEN 'BANCOPPEL'
				WHEN ID_TIPO_CREDITO = 21 THEN 'QB'
				WHEN ID_TIPO_CREDITO = 22 THEN 'BALI'
				WHEN ID_TIPO_CREDITO = 24 THEN 'SHCH'	
			END)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		 
		------------------------------------------- GENERACIÓN DE PÓLIZA
		CREATE TABLE #POLIZA(ID INT  IDENTITY(1,1),NOMBRE VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		
		INSERT INTO #POLIZA (NOMBRE, CUENTA, MONTO_CARGO, MONTO_ABONO) 
			SELECT 
					CONCEPTO_FINAL, A.CUENTA_CARGO CUENTA,
					CAST( SUM( MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
					CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
				FROM PO.SAF_MOV_CARGO A 
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
				AND A.ID_POLIZA IN (@ID_POLIZA) 
			GROUP BY A.CUENTA_CARGO, A.CONCEPTO_FINAL, A.CONCEPTO

		INSERT INTO #POLIZA (NOMBRE, CUENTA, MONTO_ABONO, MONTO_CARGO)
			SELECT 
					CONCEPTO_FINAL, A.CUENTA_ABONO CUENTA,
					CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO, 
					CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO
				FROM PO.SAF_MOV_CARGO A 
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
				AND A.ID_POLIZA IN (@ID_POLIZA)
			GROUP BY A.CUENTA_ABONO, A.CONCEPTO_FINAL, A.CONCEPTO

		
		SELECT  NOMBRE AS CONCEPTO , CUENTA, 
		IIF(sum(MONTO_CARGO)-sum(MONTO_ABONO)>0,sum(MONTO_CARGO)-sum(MONTO_ABONO),0) AS MONTO_CARGO, 
		IIF(sum(MONTO_CARGO)-sum(MONTO_ABONO)>0,0,ABS(sum(MONTO_CARGO)-sum(MONTO_ABONO))) AS MONTO_ABONO
		INTO #POLIZAF
		FROM #POLIZA
		GROUP BY NOMBRE, CUENTA

		exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA


	COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
