SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:    20250516
-- Descripcion:	Genera el historico de rubros para detectar cambios por calculos manuales en los montos
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_RUBRO_HISTORICO]
	@FECHA_INICIO DATE
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @FECHA_ANT DATE

    SET @FECHA_ANT = DATEADD(day, -1, @FECHA_INICIO)

    DELETE FROM PO.SAF_RUBRO_PREV WHERE FECHA_MOVIMIENTO = @FECHA_INICIO


    INSERT INTO PO.SAF_RUBRO_PREV (FECHA_MOVIMIENTO, COD_EMPRESA, COD_AGENCIA, NUM_CREDITO, COD_RUBRO, NUM_SECUENCIA, NUM_DET_SECUENCIA, MON_RUBRO, MON_IVA)
    SELECT @FECHA_INICIO, A.Cod_Empresa, A.Cod_Agencia, A.Num_Credito, A.Cod_Rubro, A.Num_Secuencia, A.Num_Det_Secuencia,A.MON_RUBRO,A.MON_IVA
    FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO A
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
    WHERE (C.FEC_CANCELACION is null or @FECHA_INICIO <= C.FEC_CANCELACION)
        AND C.NUM_DESC_TIPO_CREDITO IN (
                         12,13,14,15,28 -- minoristas
                        ,2,5,18,27      -- puente
                        ,7              -- sindicada
                        ,25             -- castigo
                        ,6,19,21,22,24) -- administrada
        AND A.COD_RUBRO != 'PRINCIPAL'


    INSERT INTO PO.SAF_RUBRO_HIST (FECHA_MOVIMIENTO, COD_EMPRESA, COD_AGENCIA, NUM_CREDITO, COD_RUBRO, NUM_SECUENCIA, NUM_DET_SECUENCIA, MON_RUBRO_ANT, MON_IVA_ANT, MON_RUBRO, MON_IVA)
    SELECT @FECHA_INICIO, A.Cod_Empresa, A.Cod_Agencia, A.Num_Credito, A.Cod_Rubro, A.Num_Secuencia, A.Num_Det_Secuencia,A.MON_RUBRO,A.MON_IVA,H.MON_RUBRO,H.MON_IVA
    FROM PO.SAF_RUBRO_PREV H
        INNER JOIN PO.SAF_RUBRO_PREV A WITH (NOLOCK) ON
                A.FECHA_MOVIMIENTO = @FECHA_ANT
            AND A.COD_EMPRESA = H.COD_EMPRESA
            AND A.COD_AGENCIA = H.COD_AGENCIA
            AND A.NUM_CREDITO = H.NUM_CREDITO
            AND A.COD_RUBRO = H.COD_RUBRO
            AND A.NUM_SECUENCIA = H.NUM_SECUENCIA
            AND A.NUM_DET_SECUENCIA = H.NUM_DET_SECUENCIA
            AND (A.MON_RUBRO!=H.MON_RUBRO OR A.MON_IVA!=H.MON_IVA)
    WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO


END
GO
