SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_REEST_CAST]
@FECHA_INICIO DATE
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION

	declare @ID_POLIZA int = -1 -- ID_POLIZA DE REFERENCIA
			,@FECHA_ANT date
    
    set @FECHA_ANT = DATEADD(day, -1, @FECHA_INICIO)
	
	
	DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

	-- ====== REESTRUCTURA DESDE MODULO DE SAF ============

	-- Credito anterior vs Reestructuras - realizadas desde modulo de reestructuras
	SELECT C.NUM_CREDITO, C.MON_CREDITO, C.COD_EMPRESA, C.NUM_DESC_TIPO_CREDITO, P.Mon_movimiento
		, dbo.FN_CREDITO_PREVIO(C.NUM_CREDITO) AS NUM_CREDITO_ANT
	INTO #REESTRUCTURAS
	FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C
		INNER JOIN Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO P ON C.NUM_CREDITO=P.Num_credito
	WHERE C.IND_ESTADO_CRED = 'E' AND C.FEC_APERTURA = @FECHA_INICIO
		AND P.Tip_transaccion = 3 AND P.Fec_movimiento= @FECHA_INICIO
		AND C.NUM_DESC_TIPO_CREDITO IN (25,26,29)

	-- Credito anterior vs Reestructuras - realizadas por cancelacion y alta
	INSERT INTO #REESTRUCTURAS
	SELECT C.NUM_CREDITO, C.MON_CREDITO, C.COD_EMPRESA, C.NUM_DESC_TIPO_CREDITO, P.Mon_movimiento
		, dbo.FN_CREDITO_PREVIO_ID(C.ID_EXTERNO,C.NUM_CREDITO,C.COD_CLIENTE,@FECHA_INICIO) AS NUM_CREDITO_ANT
	FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C
		INNER JOIN Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO P ON C.NUM_CREDITO=P.Num_credito
	WHERE C.IND_ESTADO_CRED != 'E' AND cast(C.FEC_APERTURA AS DATE) = @FECHA_INICIO
		AND P.Tip_transaccion = 3 AND cast(P.Fec_movimiento AS DATE) = @FECHA_INICIO
		AND C.NUM_DESC_TIPO_CREDITO IN (25,26,29)
		AND C.ID_EXTERNO like 'R%'


	SELECT C.NUM_CREDITO_ANT
	INTO #CREDITOS_REESTRUCTURA
	FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A
		INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA
		INNER JOIN #REESTRUCTURAS C ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO_ANT
	WHERE A.Fec_movimiento = @FECHA_INICIO
		AND B.MON_PAGO <> 0
		AND COD_CONCEPTO = 'PRINCIPAL'
		AND A.ID_CUENTA IN ('140103009001','140103009002','140103009003')
	GROUP BY C.NUM_CREDITO_ANT

	-- EXTRACCIÓN DE MOVIMIENTOS
	INSERT INTO PO.SAF_MOV_ABONO(
		ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
		,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
		,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
		CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, CONCEPTO)
	SELECT 
		'' ,A.NUM_CREDITO, '','' AS CUENTA_CARGO ,'' AS CUENTA_ABONO, 0, '', '', B.COD_CONCEPTO AS RUBRO, B.MON_PAGO MONTO
		,B.MON_PAGO_IVA, 0, 0, '', '', '', A.FEC_MOVIMIENTO, 0, 0, 0, 0, '' , C.FEC_APERTURA, A.Id_secuencia, B.ID_REFERENCIA
		,0, '', '', '', '', @ID_POLIZA, '' AS TIPO_VIVIENDA, '', '', 'BALANCE'
	FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
			INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
			INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			--LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_ANT 
	WHERE C.IND_ESTADO IN ('C', 'D')
			AND C.IND_LINEA = 'N'
			AND A.NUM_CREDITO IN (SELECT * FROM #CREDITOS_REESTRUCTURA)
			AND A.TIP_TRANSACCION !=3  --Evita que se traigan desembolsos que se jalan en SP FIRMA
			AND NOT (TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5) 
			AND A.ID_CUENTA IN ('140103009001','140103009002','140103009003')
            AND A.mon_movimiento > 0 -- no se consideran cancelaciones
			AND A.FEC_MOVIMIENTO = @FECHA_INICIO
			AND B.MON_PAGO <> 0.00

	---# Crea un nuevo registro si existe IVA en el universo extraido
	INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
									TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
									TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
									FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA,ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA, REVERSO, CANAL, CONCEPTO)
	SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
			TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
			TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
			FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, APELLIDO, 'REESTRUCTURA CAP COM', @ID_POLIZA, REVERSO, CANAL, CONCEPTO
	FROM PO.SAF_MOV_ABONO
	WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO
		AND ID_POLIZA = @ID_POLIZA

	--# Variables a usar para lectura linea a linea
	DECLARE  @ID_EXTERNO		VARCHAR(15),	@NUM_CREDITO		NUMERIC(8, 0), 
				@ID_FONDEO		    INT, 			@ID_PRODUCTO		NUMERIC(3, 0), 
				@TIP_TRANSACCION   VARCHAR(5),		@SUBTIP_TRANSAC		VARCHAR(5), 
				@RUBRO			    VARCHAR(30),	@MONTO				NUMERIC(16, 2), 
				@MON_PAGO_IVA		NUMERIC(16, 2), @TIPO_CREDITO		VARCHAR(255), 
				@TIPO_VIVIENDA		VARCHAR(150),	@FECHA_MOVIMIENTO	DATE, 
				@IND_ESTADO		VARCHAR(2),		@NOM_CLIENTE		VARCHAR(250),
				@ID_TIPO_CREDITO   INT,			@IND_ETAPA			INT, 
				@MAX_INDICE		INT,			@INDICE				INT = 0,
				@IND_FORMA_PAGO	INT,			@NOMBRE_PRODUCTO	VARCHAR(355),
				@IND_ETAPA_ANTERIOR INT,			@IND_ETAPA_ACTUAL	INT,
				@FECHA_ACTUAL		DATE,			@FECHA_ANTERIOR		DATE,
				@ID_FONDEO_ACTUAL	INT,			@ID_FONDEO_ANTERIOR	INT,
				@FEC_APERTURA		DATE,			@MON_CREDITO		NUMERIC(16, 2),
				@CEDIDO			VARCHAR(255),   @ID_SECUENCIA	    INT,
				@ID_CUENTA	        VARCHAR(25),	@ID_UNICO			VARCHAR(150),
				@CONCEPTO	        VARCHAR(150),	@LEYENDA			VARCHAR(70),
				@QUERY				VARCHAR(MAX),   @BANDERA			INT,
				@TOTAL				DECIMAL(16,2) = 0,	@EL_RUBRO			VARCHAR(30) = '',
				@ORDEN				DECIMAL(16,2),	@MONTO_BALANCE		DECIMAL(16,2),
				@NUM_CREDITO_ANT	NUMERIC(8, 0) = 0,
				@CONCEPTO_FINAL	VARCHAR(30),	@APELLIDO			VARCHAR(30)
				,@CANAL			VARCHAR(30)
			 
    DECLARE @MONTO_OFFSET numeric(16,6),@ORDEN_TOT numeric(16,6),@DIAS_PERIODO_INTERNO int,@fecha_ref date, @Dias_offset int


	--# variables para uso de la separacion balance/orden
	DECLARE @SUMA89 NUMERIC(16, 2), @SUMA90 NUMERIC(16, 2), @FAVOR NUMERIC(16, 2), @IMPAGO DATE, @ETAPA_3_INI  DATE, @DIA_CORTE int
		
	--# Tabla temporal para almacenar la fila a trabajar
	DECLARE @MOVS TABLE (ID INT, ID_EXTERNO VARCHAR(15), NUM_CREDITO NUMERIC(8, 0), NOM_CLIENTE VARCHAR(250), ID_PRODUCTO NUMERIC(3,0), 
						NOMBRE_PRODUCTO VARCHAR(355), ID_FONDEO INT, TIP_TRANSACCION VARCHAR(5), SUBTIP_TRANSAC VARCHAR(5),
						RUBRO VARCHAR(30), MONTO NUMERIC(16, 2), MON_PAGO_IVA NUMERIC(16,2), ID_TIPO_CREDITO INT, 
						TIPO_CREDITO VARCHAR(255), TIPO_VIVIENDA VARCHAR(150), FECHA_MOVIMIENTO DATETIME, IND_ESTADO VARCHAR(2), 
						CARTERA_VENCIDA VARCHAR(2), IND_ETAPA INT, IND_FORMA_PAGO INT, FEC_APERTURA DATE, CEDIDO VARCHAR(255),
						MON_CREDITO NUMERIC(16, 2), ID_SECUENCIA	INT, ID_REFERENCIA INT, ID_CUENTA	VARCHAR(25), ID_UNICO VARCHAR(150), CONCEPTO VARCHAR(150),
						CONCEPTO_FINAL VARCHAR(30), APELLIDO VARCHAR(30), CANAL VARCHAR(30))

	--# Se insertan todos los registros que se trabajaran con un indice a la tabla temporal
	INSERT INTO @MOVS (ID, ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO,
						NOMBRE_PRODUCTO, ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC,
						RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, 
						IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, ID_UNICO, CONCEPTO,
						CONCEPTO_FINAL, APELLIDO, CANAL)
	SELECT ROW_NUMBER() OVER (ORDER BY NUM_CREDITO, RUBRO, ID_SECUENCIA, ID_REFERENCIA) ID
		,ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, 
		NOMBRE_PRODUCTO, ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC
		,RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
		TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, 
		IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, ID, CONCEPTO,
		CONCEPTO_FINAL, APELLIDO, CANAL
	FROM PO.SAF_MOV_ABONO
    WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA AND RUBRO != ''
			AND RUBRO NOT IN ('PRINCIPAL','SALDO_FAVOR','COMISION_PREPAGO','IVA COMISION_PREPAGO') 
				

	--# Se obtiene el tamaño total de registros
	SELECT @MAX_INDICE = COUNT(ID)
	FROM @MOVS

	WHILE @INDICE < @MAX_INDICE	BEGIN
		--# BLOC: lee todos los campos del registro actual
		SELECT @ID_EXTERNO = ID_EXTERNO, @NUM_CREDITO = NUM_CREDITO, @NOM_CLIENTE = NOM_CLIENTE, @ID_PRODUCTO = ID_PRODUCTO, 
			@NOMBRE_PRODUCTO = NOMBRE_PRODUCTO, @ID_FONDEO = ID_FONDEO, @TIP_TRANSACCION = TIP_TRANSACCION, @SUBTIP_TRANSAC = SUBTIP_TRANSAC,
			@RUBRO = RUBRO, @MONTO = MONTO, @MON_PAGO_IVA = MON_PAGO_IVA, @ID_TIPO_CREDITO = ID_TIPO_CREDITO, 
			@TIPO_CREDITO = TIPO_CREDITO, @TIPO_VIVIENDA = TIPO_VIVIENDA, @FECHA_MOVIMIENTO = FECHA_MOVIMIENTO, 
			@IND_ESTADO = IND_ESTADO, @IND_ETAPA = IND_ETAPA, @IND_FORMA_PAGO = IND_FORMA_PAGO, @FEC_APERTURA = FEC_APERTURA, @CEDIDO = CEDIDO, @MON_CREDITO = MON_CREDITO,
			@IND_ETAPA_ACTUAL = IND_ETAPA, @FECHA_ACTUAL = FECHA_MOVIMIENTO, @ID_FONDEO_ACTUAL = ID_FONDEO,
			@ID_SECUENCIA = ID_SECUENCIA, @ID_CUENTA = ID_CUENTA, @ID_UNICO = ID_UNICO, @CONCEPTO = CONCEPTO,
			@CONCEPTO_FINAL = CONCEPTO_FINAL, @APELLIDO = APELLIDO, @CANAL = CANAL
		FROM @MOVS
		WHERE ID = @INDICE + 1
		--# BLOC_END

		--# BLOC: inicializan variables
		SELECT @IND_ETAPA_ANTERIOR = 0, @FECHA_ANTERIOR = NULL, @ID_FONDEO_ANTERIOR = NULL, @LEYENDA = ''
		--# BLOC_END

		--# BLOC: toma valores dia anterior
		SELECT @IND_ETAPA_ANTERIOR = IND_ETAPA, @FECHA_ANTERIOR = FECHA_SISTEMA, @ID_FONDEO_ANTERIOR = ID_FONDEO
		FROM PO.CONTROL_HISTORICO_TRASPASOS WITH (NOLOCK)
		WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA = @FECHA_ANT
		--# BLOC_END

			    IF @NUM_CREDITO != @NUM_CREDITO_ANT BEGIN
				    SELECT @NUM_CREDITO_ANT = @NUM_CREDITO, @TOTAL = 0
                END

				IF @EL_RUBRO != @RUBRO  BEGIN --- OR @NUM_CREDITO != @NUM_CREDITO_ANT
					--# BLOC: inicializa variables, lee impago y balance
					SELECT @BANDERA = 0, @EL_RUBRO = @RUBRO, @TOTAL = 0, @SUMA89 = 0, @ORDEN = 0
                        
                    --------------------------------------------------------------------------------------------------------------------------
                    SET @ETAPA_3_INI = dbo.FECHA_IMPAGO(@NUM_CREDITO)
						
                    if not @ETAPA_3_INI is null begin --se encuentra en etapa 3
                        if @RUBRO IN ('INTERESES') begin

                            SELECT @SUMA89 = isnull(sum(B.MON_PAGO),0),@fecha_ref = max(FEC_COBRO)
                            FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                            WHERE A.TIP_TRANSACCION = 4 -- AND A.COD_ESTADO = 'A'
                                AND C.NUM_CREDITO = @NUM_CREDITO
                                and C.cod_rubro = @RUBRO
                                and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI


                            select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)
                            from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA
                            where num_credito = @NUM_CREDITO
                                and @fecha_ref <= fecha_calculo and fecha_calculo < @ETAPA_3_INI

                            if @SUMA89 > 0 begin
                                set @SUMA89 = @SUMA89 + @MONTO_OFFSET
                            end

                            set @SUMA89 = isnull(@SUMA89,0)

                        end else if @RUBRO IN ('IVA INTERESES') begin

                            SELECT @SUMA89 = isnull(sum(B.MON_PAGO_IVA),0),@fecha_ref = max(FEC_COBRO)
                            FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                            WHERE A.TIP_TRANSACCION = 4 -- AND A.COD_ESTADO = 'A'
                                AND C.NUM_CREDITO = @NUM_CREDITO
                                and C.cod_rubro = replace(@RUBRO,'IVA ','')
                                and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI

                            select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)*0.16
                            from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA
                            where num_credito = @NUM_CREDITO
                                and @fecha_ref <= fecha_calculo and fecha_calculo < @ETAPA_3_INI

                            if @SUMA89 > 0 begin
                                set @SUMA89 = @SUMA89 + @MONTO_OFFSET
                            end

                            set @SUMA89 = isnull(@SUMA89,0)

                        end else if @RUBRO Like 'IVA%' begin

                            SELECT @SUMA89 = isnull(sum(B.MON_PAGO_IVA),0)
                            FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                            WHERE A.TIP_TRANSACCION = 4-- AND A.COD_ESTADO = 'A'
                                AND C.NUM_CREDITO = @NUM_CREDITO
                                and C.cod_rubro = replace(@RUBRO,'IVA ','')
                                and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI--C.fec_cobro <= @ETAPA_3_INI_1M

                        end else begin

                            SELECT @SUMA89 = isnull(sum(B.MON_PAGO),0)
                            FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                            WHERE A.TIP_TRANSACCION = 4-- AND A.COD_ESTADO = 'A'
                                AND C.NUM_CREDITO = @NUM_CREDITO
                                and C.cod_rubro = @RUBRO
                                and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI--C.fec_cobro <= @ETAPA_3_INI_1M

                        end
                    end

                END

				--# BLOC: incrementa total
				SET  @TOTAL =  @TOTAL + @MONTO
				--# BLOC_END
		
				--#	SOLO SE VALIDA UNA UNICA OCACION SI EL PAGO DEBE DIVIDIRSE
                IF @BANDERA = 0 BEGIN
					IF @TOTAL > @SUMA89 AND @SUMA89 > 0 BEGIN
						SELECT @ORDEN = @TOTAL - @SUMA89, @BANDERA = 1
						IF @ORDEN != 0 BEGIN

								INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
										CONCEPTO, CONCEPTO_ANT, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO, TABLA_ORIGEN, ID_POLIZA,ID_SECUENCIA,ID_CUENTA, BANCO_RECEPTOR, REVERSO,
										CANAL)
								SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
										'ORDEN', CONCEPTO_ANT,
										NOMBRE_PRODUCTO, RUBRO, @ORDEN, 0, ID_TIPO_CREDITO, 
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
										FEC_APERTURA, CEDIDO, 'REEST CASTIGO', ID_POLIZA,ID_SECUENCIA,ID_CUENTA, BANCO_RECEPTOR, REVERSO, CANAL
								FROM PO.SAF_MOV_ABONO 
								WHERE ID_POLIZA = @ID_POLIZA
                                    AND ID = @ID_UNICO
                                    --AND CONCEPTO NOT LIKE '%COVID%' AND NUM_CREDITO = @NUM_CREDITO AND RUBRO = @RUBRO AND FECHA_MOVIMIENTO BETWEEN @FECHA_FIN AND @FECHA_FIN
						
								UPDATE PO.SAF_MOV_ABONO SET MONTO = MONTO - @ORDEN --, CONCEPTO = REPLACE(CONCEPTO, 'PAGO ', 'PAGO CO ') --COAA
								WHERE ID = @ID_UNICO

								IF (@MONTO - @ORDEN) = 0 BEGIN
									DELETE FROM PO.SAF_MOV_ABONO  WHERE ID = @ID_UNICO	
								END
						
						END --# @ORDEN != 0
						
					END --# @TOTAL > @SUMA89 AND @SUMA89 >
				END

				IF @TOTAL >  @SUMA89 BEGIN
					IF @ORDEN <= 0 BEGIN
						UPDATE PO.SAF_MOV_ABONO SET CONCEPTO = 'ORDEN' --COBB
						WHERE ID = @ID_UNICO
					END
					SET  @ORDEN = 0

				END -- # @MONTO > @SUMA89

		--END -- # ETAPA 3

		SET @INDICE = @INDICE + 1
	END --# WHILE
		---------------------------------------------------------------------------------------------------------
	------- MONTOS DE CASTIGO
	declare @NUM_CREDITO_C int,@RUBRO_C varchar(30),@MONTO_C numeric(18,2),@ID_REFERENCIA int,@FEC_CASTIGO DATE,@FEC_CASTIGO_1M date

    exec CursorCloseDeallocate 'db_cursor_poliza_cobranza_castigo_montos'

    DECLARE db_cursor_poliza_cobranza_castigo_montos CURSOR FOR

        select NUM_CREDITO,RUBRO
        FROM PO.SAF_MOV_ABONO 
        WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO
            AND RUBRO NOT IN ('PRINCIPAL','SALDO_FAVOR')
        group by NUM_CREDITO,RUBRO

    OPEN db_cursor_poliza_cobranza_castigo_montos  
        FETCH NEXT FROM db_cursor_poliza_cobranza_castigo_montos
        INTO @NUM_CREDITO_C, @RUBRO_C

    WHILE @@FETCH_STATUS = 0  
    BEGIN
        SELECT @FEC_CASTIGO = FECHA FROM PO.FECHA_CASTIGO WHERE NUM_CREDITO = @NUM_CREDITO
        set @FEC_CASTIGO_1M = DATEADD(month, 1, @FEC_CASTIGO)

        if @RUBRO_C IN ('INTERESES') begin

			UPDATE PO.SAF_MOV_ABONO
            SET CONCEPTO = 'POSTERIOR' --COBB
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		        AND ID_POLIZA = @ID_POLIZA
                AND NUM_CREDITO = @NUM_CREDITO_C
                AND rubro = @RUBRO_C
                AND ID_REFERENCIA IN (
                    SELECT B.ID_REFERENCIA
                    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                        Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                        Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                    WHERE A.TIP_TRANSACCION = 4 -- AND A.COD_ESTADO = 'A'
                        AND C.NUM_CREDITO = @NUM_CREDITO_C
                        and C.cod_rubro = @RUBRO_C
                        and A.FEC_MOVIMIENTO = @FECHA_INICIO
                        and C.fec_cobro >= @FEC_CASTIGO
                )

            SELECT @fecha_ref = min(FEC_COBRO),@ID_REFERENCIA = min(B.ID_REFERENCIA), @ID_SECUENCIA = min(B.ID_SECUENCIA)
            FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
            WHERE A.TIP_TRANSACCION = 4 -- AND A.COD_ESTADO = 'A'
                AND C.NUM_CREDITO = @NUM_CREDITO_C
                and C.cod_rubro = @RUBRO_C
                and A.FEC_MOVIMIENTO = @FECHA_INICIO
                and C.fec_cobro >= @FEC_CASTIGO
				AND B.Mon_pago > 0


            if @FEC_CASTIGO <= @fecha_ref and @fecha_ref < @FEC_CASTIGO_1M begin
				select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)
                from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA
                where num_credito = @NUM_CREDITO_C
                    and @FEC_CASTIGO <= fecha_calculo and fecha_calculo < @fecha_ref

				INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
						CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO, TABLA_ORIGEN, ID_POLIZA,ID_SECUENCIA, ID_CUENTA, BANCO_RECEPTOR, REVERSO, CONCEPTO_ANT,
						CANAL)
				SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
						'POSTERIOR',
						NOMBRE_PRODUCTO, RUBRO, MONTO - @MONTO_OFFSET, 0, ID_TIPO_CREDITO, 
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
						FEC_APERTURA, CEDIDO, 'REEST CASTIGO', ID_POLIZA,ID_SECUENCIA,ID_CUENTA, BANCO_RECEPTOR, REVERSO, CONCEPTO_ANT, CANAL
				FROM PO.SAF_MOV_ABONO 
				WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		            AND ID_POLIZA = @ID_POLIZA
                    AND NUM_CREDITO = @NUM_CREDITO_C
                    AND rubro = @RUBRO_C
                    AND ID_REFERENCIA = @ID_REFERENCIA
					AND ID_SECUENCIA= @ID_SECUENCIA

				UPDATE PO.SAF_MOV_ABONO
                SET MONTO = @MONTO_OFFSET
				WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		            AND ID_POLIZA = @ID_POLIZA
                    AND NUM_CREDITO = @NUM_CREDITO_C
                    AND rubro = @RUBRO_C
                    AND ID_REFERENCIA = @ID_REFERENCIA
					AND ID_SECUENCIA= @ID_SECUENCIA

            end

        end else if @RUBRO_C IN ('IVA INTERESES') begin

			UPDATE PO.SAF_MOV_ABONO
            SET CONCEPTO = 'POSTERIOR' --COBB
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		        AND ID_POLIZA = @ID_POLIZA
                AND NUM_CREDITO = @NUM_CREDITO_C
                AND rubro = @RUBRO_C
                AND ID_REFERENCIA IN (
                    SELECT B.ID_REFERENCIA
                    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                        Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                        Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                    WHERE A.TIP_TRANSACCION = 4 -- AND A.COD_ESTADO = 'A'
                        AND C.NUM_CREDITO = @NUM_CREDITO_C
                        and C.cod_rubro = replace(@RUBRO_C,'IVA ','')
                        and A.FEC_MOVIMIENTO = @FECHA_INICIO
                        and C.fec_cobro >= @FEC_CASTIGO
                )

            SELECT @fecha_ref = min(FEC_COBRO),@ID_REFERENCIA = min(B.ID_REFERENCIA), @ID_SECUENCIA = min(B.ID_SECUENCIA)
            FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
            WHERE A.TIP_TRANSACCION = 4 -- AND A.COD_ESTADO = 'A'
                AND C.NUM_CREDITO = @NUM_CREDITO_C
                and C.cod_rubro = replace(@RUBRO_C,'IVA ','')
                and A.FEC_MOVIMIENTO = @FECHA_INICIO
                and C.fec_cobro >= @FEC_CASTIGO
				AND B.Mon_pago > 0

            if @FEC_CASTIGO <= @fecha_ref and @fecha_ref < @FEC_CASTIGO_1M begin

                select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)*0.16
                from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA
                where num_credito = @NUM_CREDITO_C
                    and @FEC_CASTIGO <= fecha_calculo and fecha_calculo < @fecha_ref

				INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
						CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO, TABLA_ORIGEN, ID_POLIZA,ID_SECUENCIA, ID_CUENTA, BANCO_RECEPTOR, REVERSO, CONCEPTO_ANT,
						CANAL)	
				SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
						'POSTERIOR',
						NOMBRE_PRODUCTO, RUBRO, MONTO - @MONTO_OFFSET, 0, ID_TIPO_CREDITO, 
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
						FEC_APERTURA, CEDIDO, 'REEST CASTIGO', ID_POLIZA,ID_SECUENCIA,ID_CUENTA, BANCO_RECEPTOR, REVERSO, CONCEPTO_ANT, CANAL
				FROM PO.SAF_MOV_ABONO 
				WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		            AND ID_POLIZA = @ID_POLIZA
                    AND NUM_CREDITO = @NUM_CREDITO_C
                    AND rubro = @RUBRO_C
                    AND ID_REFERENCIA = @ID_REFERENCIA
					AND ID_SECUENCIA= @ID_SECUENCIA

				UPDATE PO.SAF_MOV_ABONO
                SET MONTO = @MONTO_OFFSET
				WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		            AND ID_POLIZA = @ID_POLIZA
                    AND NUM_CREDITO = @NUM_CREDITO_C
                    AND rubro = @RUBRO_C
                        AND ID_REFERENCIA = @ID_REFERENCIA
						AND ID_SECUENCIA= @ID_SECUENCIA
            end


        end else if @RUBRO_C Like 'IVA%' begin

			UPDATE PO.SAF_MOV_ABONO
            SET CONCEPTO = 'POSTERIOR' --COBB
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		        AND ID_POLIZA = @ID_POLIZA
                AND NUM_CREDITO = @NUM_CREDITO_C
                AND rubro = @RUBRO_C
                AND ID_REFERENCIA IN (
                    SELECT B.ID_REFERENCIA
                    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                        Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                        Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                    WHERE A.TIP_TRANSACCION = 4-- AND A.COD_ESTADO = 'A'
                        AND C.NUM_CREDITO = @NUM_CREDITO_C
                        and C.cod_rubro = replace(@RUBRO_C,'IVA ','')
                        and A.FEC_MOVIMIENTO = @FECHA_INICIO
                        and C.fec_base_calc >= @FEC_CASTIGO
                )

        end else begin
				
			UPDATE PO.SAF_MOV_ABONO
            SET CONCEPTO = 'POSTERIOR' --COBB
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		        AND ID_POLIZA = @ID_POLIZA
                AND NUM_CREDITO = @NUM_CREDITO_C
                AND rubro = @RUBRO_C
                AND ID_REFERENCIA IN (
                    SELECT B.ID_REFERENCIA
                    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                        Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                        Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                    WHERE A.TIP_TRANSACCION = 4-- AND A.COD_ESTADO = 'A'
                        AND C.NUM_CREDITO = @NUM_CREDITO_C
                        and C.cod_rubro = @RUBRO_C
                        and A.FEC_MOVIMIENTO = @FECHA_INICIO
                        and C.fec_base_calc >= @FEC_CASTIGO--C.fec_cobro <= @ETAPA_3_INI_1M
                )

        end

        FETCH NEXT FROM db_cursor_poliza_cobranza_castigo_montos
        INTO @NUM_CREDITO_C, @RUBRO_C
    END 

    CLOSE db_cursor_poliza_cobranza_castigo_montos  
    DEALLOCATE db_cursor_poliza_cobranza_castigo_montos

	-- SE GUARDAN LOS SALDOS
	INSERT INTO [PO].[PR_REEST_CAST_DET] (NUM_CREDITO, COD_CONCEPTO, MON_PAGO, TIPO, FECHA_SISTEMA)
	SELECT R.NUM_CREDITO, A.RUBRO, SUM(A.MONTO), A.CONCEPTO, @FECHA_INICIO 
	FROM PO.SAF_MOV_ABONO A
	LEFT JOIN #REESTRUCTURAS R ON A.NUM_CREDITO = R.NUM_CREDITO_ANT
	WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA= @ID_POLIZA
	GROUP BY R.NUM_CREDITO, A.RUBRO, A.CONCEPTO, A.FECHA_MOVIMIENTO

	DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
	
		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH

END
GO
