SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_SND_COBRANZA]
(
     @ID_DEVENGO_ENC UNIQUEIDENTIFIER
    ,@ID_CAPITAL_ENC UNIQUEIDENTIFIER
    ,@ID_COBRANZA_ENC UNIQUEIDENTIFIER
    ,@ID_MINISTRACIONES_ENC UNIQUEIDENTIFIER
	,@FECHA_INICIO DATE
    ,@FECHA_FIN_DIA date
    ,@FECHAS_POL FECHAS_POLIZA_TIPO READONLY
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 77 -- cobranza comercial sindicada

    create table #CuentasDeOtrasPolizas(cuenta varchar(24))

    insert into #CuentasDeOtrasPolizas(cuenta)
          select '140103009001'     --operacion vivienda bonificacion y reestructura
    union select '140103009002'     --operacion comercial bonificacion y reestructura
    union select '140103009003'     --operacion reestructura
    union select '1401030090010000' --operacion vivienda ajuste
    union select '1401030090020000' --operacion comercial ajuste
    union select '5050260901000300' --condonacion
	union select '2073'             --DACION
	union select '2074'             --ADJUDICACION
	union select '2076'             --EX_EMPLEADO
	union select '2068'             --SINIESTRO
    union select '2061'             --STDR FISO DAMNIF_6641
    union select '2056'             --INBURSA ADMON COBRANZA
    

	BEGIN TRY
		BEGIN TRANSACTION


		DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA

		SELECT C.ID_EXTERNO
			,0 AS NUM_CREDITO
			,'' AS NOM_CLIENTE
			,0 AS ID_PRODUCTO
            ,CP.NOMBRE_CORTO AS NOMBRE_PRODUCTO
			,IIF(TIPO_CARTERA = 'RESTRINGIDO', 1, 2) AS ID_FONDEO
			,CASE BANCO WHEN 'Descarga favor' THEN 5 ELSE 0 END AS IND_FORMA_PAGO
			,7 AS ID_TIPO_CREDITO
			,CP.NOMBRE_CORTO AS TIPO_CREDITO
			,C.FEC_APLICACION AS FECHA_MOVIMIENTO
			,4 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,C.ETAPA AS IND_ETAPA
			,C.CEDIDO
			,C.ID_SECUENCIA
			,0 AS ID_REFERENCIA
			,CASE BANCO WHEN 'STP/6461824110000000' THEN 2070 WHEN 'Descarga favor' THEN 0 WHEN 'No Identificado' THEN 2080 ELSE CT.ID_CUENTA END AS ID_CUENTA
			,CASE WHEN covid = '' THEN 'N' ELSE 'S' END AS IND_COVID
			,'COBRANZA COM SND ION' AS TABLA_ORIGEN
			,@ID_POLIZA AS ID_POLIZA
            ,CASE WHEN C.OBSERVACION LIKE '%CUENTAS DE ORDEN%' THEN 'C.O.' ELSE '' END AS TIPO_VIVIENDA
			,'' AS REVERSO
			,IIF(CANAL = 'MINORISTA', 'MINORISTA', 'COMERCIAL') AS CANAL
			,BANCO AS BANCO_RECEPTOR
 			,C.PRINCIPAL
			,C.INTERESES
			,C.INTERESES_IVA
			,C.SEGURO_DANOS
			,C.SEGURO_DANOS_IVA
			,C.SEGURO_VIDA
			,C.MORATORIOS
			,C.COMISION_ADMINISTRACION
			,C.COMISION_ADMINISTRACION_IVA
			,C.CARGO_EXTRA
			,C.CARGO_EXTRA_IVA
			,C.SALDO_FAVOR
			,C.TOTAL_PAGO
			,C.TOTAL_PAGO_BANCO
			,C.TOTAL_APLICADO
			,C.SALDO_FAVOR_REAL
			,C.OBSERVACION
		INTO #COB_ION
        FROM PO.PR_COBRANZA_DET C
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE CT ON BANCO like '%'+substring(CT.num_cuenta,1,10) or BANCO like '%'+substring(CT.num_cuenta,1,11)
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.CARTERA = 'ION'
			AND C.CEDIDO IN ('SHF Sind-3226','SHF Sind-5028','SHF Sind-2662','SHF Sind-2875')
			AND C.CONCEPTO IN ('Banco','Descarga favor','No Identificado')
			AND NOT (C.OBSERVACION LIKE '%condonación%' OR observacion LIKE '%condonacion%')
			AND C.TOTAL_PAGO > 0
			AND C.ID_COBRANZA_ENC = @ID_COBRANZA_ENC

		SELECT C.ID_EXTERNO_REF AS ID_EXTERNO
			,0 AS NUM_CREDITO
			,'' AS NOM_CLIENTE
			,0 AS ID_PRODUCTO
            ,CP.NOMBRE_CORTO AS NOMBRE_PRODUCTO
			,IIF(TIPO_CARTERA = 'RESTRINGIDO', 1, 2) AS ID_FONDEO
			,CASE BANCO WHEN 'Descarga favor' THEN 5 ELSE 0 END AS IND_FORMA_PAGO
			,7 AS ID_TIPO_CREDITO
			,CP.NOMBRE_CORTO AS TIPO_CREDITO
			,C.FEC_APLICACION AS FECHA_MOVIMIENTO
			,4 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,C.ETAPA AS IND_ETAPA
			,C.CEDIDO
			,C.ID_SECUENCIA
			,0 AS ID_REFERENCIA
			,CASE BANCO WHEN 'STP/6461824110000000' THEN 2070 WHEN 'Descarga favor' THEN 0 WHEN 'No Identificado' THEN 2080 ELSE CT.ID_CUENTA END AS ID_CUENTA
			,CASE WHEN covid = '' THEN 'N' ELSE 'S' END AS IND_COVID
			,'COBRANZA COM SND ADM' AS TABLA_ORIGEN
			,@ID_POLIZA AS ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'' AS REVERSO
			,IIF(CANAL = 'MINORISTA', 'MINORISTA', 'COMERCIAL') AS CANAL
			,BANCO AS BANCO_RECEPTOR
 			,C.PRINCIPAL
			,C.INTERESES
			,C.INTERESES_IVA
			,C.MORATORIOS
			,C.OBSERVACION
		INTO #COB_ADM
        FROM PO.PR_COBRANZA_DET C
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE CT ON BANCO like '%'+substring(CT.num_cuenta,1,10) or BANCO like '%'+substring(CT.num_cuenta,1,11)
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO_REF
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.CARTERA = 'SINDICADA'
			AND C.CEDIDO IN ('SHF Sind-3226','SHF Sind-5028','SHF Sind-2662','SHF Sind-2875')
			AND C.CONCEPTO IN ('Banco','Descarga favor','No Identificado')
			AND NOT (C.OBSERVACION LIKE '%condonación%' OR observacion LIKE '%condonacion%')
			AND C.TOTAL_PAGO > 0
			AND C.ID_COBRANZA_ENC = @ID_COBRANZA_ENC


		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'PRINCIPAL' AS RUBRO, PRINCIPAL AS MONTO,0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE PRINCIPAL > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'INTERESES' AS RUBRO, INTERESES AS MONTO, INTERESES_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE INTERESES > 0 OR INTERESES_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'SEGURO_VIDA' AS RUBRO, SEGURO_VIDA AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE SEGURO_VIDA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'SEGURO_DANOS' AS RUBRO, SEGURO_DANOS AS MONTO, SEGURO_DANOS_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE SEGURO_DANOS > 0 OR SEGURO_DANOS_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'MORATORIOS' AS RUBRO, MORATORIOS AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE MORATORIOS > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'COMISION_ADMINISTRACION' AS RUBRO, COMISION_ADMINISTRACION AS MONTO, COMISION_ADMINISTRACION_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE COMISION_ADMINISTRACION > 0 OR COMISION_ADMINISTRACION_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'COM_PRORROGA' AS RUBRO, CARGO_EXTRA AS MONTO, CARGO_EXTRA_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE (CARGO_EXTRA > 0 OR CARGO_EXTRA_IVA > 0) AND OBSERVACION LIKE '%COM_PRORROGA%'

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'VISITA_EXTRA' AS RUBRO, CARGO_EXTRA AS MONTO, CARGO_EXTRA_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE (CARGO_EXTRA > 0 OR CARGO_EXTRA_IVA > 0) AND OBSERVACION LIKE '%VISITA_EXTRA%'

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'SALDO_FAVOR' AS RUBRO, SALDO_FAVOR AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE SALDO_FAVOR > 0

        -- actualizacion de valores de parte Administrada

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'PRINCIPAL' AS RUBRO, PRINCIPAL AS MONTO,0 AS MON_PAGO_IVA
		FROM #COB_ADM
		WHERE PRINCIPAL > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'INTERESES' AS RUBRO, INTERESES AS MONTO, INTERESES_IVA AS MON_PAGO_IVA
		FROM #COB_ADM
		WHERE INTERESES > 0 OR INTERESES_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'MORATORIOS' AS RUBRO, MORATORIOS AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ADM
		WHERE MORATORIOS > 0


		---# Crea un nuevo registro si existe IVA en el universo extraido
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
										FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA,ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA, REVERSO,
										CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, APELLIDO, TABLA_ORIGEN, @ID_POLIZA, REVERSO,
				CANAL
		FROM PO.SAF_MOV_ABONO
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND MON_PAGO_IVA != 0

		---# NUEVO REGISTRO PARA CANCELACION DE CUENTAS POR COBRAR PARA COMISION_PREPAGO
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
										FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA,ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, 
										APELLIDO, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, REVERSO, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, APELLIDO, TABLA_ORIGEN, @ID_POLIZA,
				'CANC PREPAGO', REVERSO, CANAL
		FROM PO.SAF_MOV_ABONO
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND MON_PAGO_IVA != 0 AND RUBRO='COMISION_PREPAGO' 

		---# NUEVO REGISTRO PARA CANCELACION DE CUENTAS POR COBRAR PARA COMISION_PREPAGO
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
										FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA,ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, 
										APELLIDO, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, REVERSO, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, APELLIDO, TABLA_ORIGEN, @ID_POLIZA,
				'CMR SND CANC CXC IVA', REVERSO, CANAL
		FROM PO.SAF_MOV_ABONO
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND MON_PAGO_IVA != 0 AND RUBRO IN ('VISITA_EXTRA','COM_PRORROGA')

		--- CALIFICACION BASE DEL CONCEPTO DE ACUERDO A REGLAS GLOBALES
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = CASE WHEN CONCEPTO = 'CMR SND CANC CXC IVA' THEN CONCEPTO ELSE
				CONCAT(
				'CMR ',
				CASE
					WHEN CONCEPTO = 'CANC PREPAGO' THEN 'CANC CXC '
					WHEN (TIP_TRANSACCION = 113) OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN 'SALDO_FAVOR '  --Al recibirse un pago y una parte se va a saldo a favor
					WHEN TIP_TRANSACCION = 4 THEN 'PAGO ' + CASE WHEN TIPO_VIVIENDA = 'C.O.' THEN 'CO ' ELSE '' END
					ELSE ''
				END,
				IIF(IND_COVID = 'S', 'COVID ', ''), --# Si el registro tiene COVID le agrega la palabra
				IIF(TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR'), '', IIF(CONCEPTO='PREPAGO',RUBRO+' CANC ',RUBRO)/* + ' '*/),  --# Si no es saldo a favor le agrega el rubro
				-- tipo_credito
				CASE WHEN RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') THEN ''
					WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					ELSE ' '+TIPO_CREDITO+' '
				END,
				-- canal
				CASE WHEN RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') THEN ''
					WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					ELSE CANAL
				END,
				-- espacio para continuar con cedido
				IIF(RUBRO LIKE '%IVA%' OR RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') 
				OR (TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR')),'',' '),
				CASE WHEN RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') THEN ''
					WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					WHEN RUBRO LIKE '%IVA%' THEN ''
					ELSE IIF(ID_FONDEO = 2, 'NO ', '')
				END,
				-- RESTRINGIDO
				CASE WHEN RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') THEN ''
					WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					WHEN RUBRO LIKE '%IVA%' THEN ''
					ELSE 'RESTRINGIDO '
				END,
				-- ETAPA
                CASE WHEN RUBRO IN ('CARGO_PORCENTAJE','CARGO_SEGURO','SEG_DAN','SEGURO_DANOS','SEGURO_VIDA') THEN ''
					WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					WHEN RUBRO LIKE '%IVA%' THEN ''
					ELSE CAST(IND_ETAPA AS VARCHAR(1))
				END)
			END
		WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
			    AND ID_POLIZA = @ID_POLIZA AND RUBRO != ''
                AND TABLA_ORIGEN = 'COBRANZA COM SND ION'

		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = CASE WHEN RUBRO = 'INTERESES'
				THEN 'CMR INTERESES SND ADM'
				ELSE 'CMR SALDO_FAVOR'
			END
		WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
			AND ID_POLIZA = @ID_POLIZA AND RUBRO != ''
            AND TABLA_ORIGEN = 'COBRANZA COM SND ADM'
		
		--- VALIDAR
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO_ANT = CASE WHEN CONCEPTO = 'CMR SND CANC CXC IVA' THEN CONCEPTO ELSE
		    IIF(CONCEPTO LIKE '%CMR CANC CXC%', CONCEPTO, -- NUEVA, SOLO APLICA PARA CANC CXC Y TOMAR LAS CAS CUENTAS DIRECTO DEL CONCEPTO
		    CONCAT('CMR PAGO'
                ,CASE
					WHEN TIP_TRANSACCION = 4 AND IND_FORMA_PAGO = 5 THEN ' DESCARGA FAVOR'
					WHEN ID_CUENTA = 2080 THEN ' NO IDENTIFICADO'
					ELSE ' NORMAL'
				END)
		    )
			END
        WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
			AND ID_POLIZA = @ID_POLIZA

		--------############################################################### ------------------------------------------------
		-------- Complemento para separacion balance Orden ###################################### ------------------------------------------------

        declare @NUM_CREDITO_C INT,@ID_EXTERNO_C VARCHAR(32),@RUBRO_C VARCHAR(30),@FECHA_MOVIMIENTO_C DATE,@MONTO_C NUMERIC(18,2)

        exec CursorCloseDeallocate 'db_cursor_poliza_cmr_cobranza_snd_cco'
        DECLARE db_cursor_poliza_cmr_cobranza_snd_cco CURSOR FOR

            select NUM_CREDITO,RUBRO,FECHA_MOVIMIENTO,isnull(sum(MONTO),0)
            FROM PO.SAF_MOV_ABONO 
            WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL) AND CONCEPTO LIKE '%PAGO CO %'
            group by NUM_CREDITO,RUBRO,FECHA_MOVIMIENTO

        OPEN db_cursor_poliza_cmr_cobranza_snd_cco  
            FETCH NEXT FROM db_cursor_poliza_cmr_cobranza_snd_cco
            INTO @NUM_CREDITO_C, @RUBRO_C, @FECHA_MOVIMIENTO_C, @MONTO_C

        WHILE @@FETCH_STATUS = 0  
        BEGIN  

			INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
				    CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
				    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO, TABLA_ORIGEN, ID_POLIZA, REVERSO,
					CANAL)
			SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
				    replace(CONCEPTO,'PAGO CO ','PAGO CCO '),
				    NOMBRE_PRODUCTO, RUBRO, @MONTO_C, 0, ID_TIPO_CREDITO, 
				    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
				    FEC_APERTURA, CEDIDO, TABLA_ORIGEN, ID_POLIZA, REVERSO, CANAL 
			FROM PO.SAF_MOV_ABONO 
			WHERE ID_POLIZA = @ID_POLIZA AND NUM_CREDITO = @NUM_CREDITO_C AND RUBRO = @RUBRO_C AND FECHA_MOVIMIENTO = @FECHA_MOVIMIENTO_C
                AND CONCEPTO LIKE '%PAGO CO %'

            FETCH NEXT FROM db_cursor_poliza_cmr_cobranza_snd_cco
            INTO @NUM_CREDITO_C, @RUBRO_C, @FECHA_MOVIMIENTO_C, @MONTO_C
        END 

        CLOSE db_cursor_poliza_cmr_cobranza_snd_cco  
        DEALLOCATE db_cursor_poliza_cmr_cobranza_snd_cco

		------------- ###################################### ------------------------------------------------
		------------- ###################################### ------------------------------------------------
		
		--- ASIGNACION DE CUENTAS
		UPDATE H
        SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
        SET H.ID_CONCEPTO_ANT = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO_ANT 
		WHERE H.FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
        SET H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
        SET H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND H.ID_POLIZA = @ID_POLIZA and H.CUENTA_CARGO is null

		UPDATE H
        SET H.CUENTA_ABONO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND H.ID_POLIZA = @ID_POLIZA

		----------- ########### Valida si hay cuenta SAF
		UPDATE H
		SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = CAST( B.ID_CUENTA AS VARCHAR(50))
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE 
			H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
		SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
			AND H.ID_POLIZA = @ID_POLIZA


		--no deben quedar nulos en las cuentas
        UPDATE PO.SAF_MOV_ABONO
        SET CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA
            and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_ABONO
        SET CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA
            and CUENTA_CARGO is null


	    UPDATE PO.SAF_MOV_ABONO SET TIPO_DEP = 1 WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA AND CONCEPTO LIKE 'SALDO_FAVOR %'	
        UPDATE PO.SAF_MOV_ABONO SET TIPO_DEP = 2 WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA and (CONCEPTO LIKE 'PAGO SALDO_FAVOR %' OR CONCEPTO LIKE 'PAGO CO SALDO_FAVOR %')
	   

		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO_FINAL = LEFT(
			CASE WHEN CONCEPTO LIKE '%CANC CXC%'
            THEN CONCEPTO
			ELSE CONCAT( 
					CASE WHEN TIPO_DEP = 2 THEN 'DESCARGA FAVOR '
						 WHEN TIPO_DEP = 1 THEN 'DEP '
						 ELSE 'DEP '
					END, 
					CASE WHEN TIPO_DEP = 2 THEN CONCAT(NOMBRE_PRODUCTO,' ',IIF(ID_FONDEO=2,'NO RESTRINGIDO ','RESTRINGIDO '),IND_ETAPA)
						 WHEN TIPO_DEP = 1 THEN CONCAT(ID_EXTERNO, ' ', NOM_CLIENTE)
					     ELSE CONCAT(ID_EXTERNO, ' ', NOM_CLIENTE)
					END)
			END, 100)
		WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)

		
		exec CursorCloseDeallocate 'db_cursor_COM_SND_cobranza'
        DECLARE db_cursor_COM_SND_cobranza CURSOR FOR

            SELECT fecha
			from @FECHAS_POL

        OPEN db_cursor_COM_SND_cobranza  
            FETCH NEXT FROM db_cursor_COM_SND_cobranza
            INTO @FECHA_INICIO
        WHILE @@FETCH_STATUS = 0 BEGIN  

		    INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		    SELECT CONCEPTO_FINAL,
			    A.CUENTA_CARGO AS CUENTA, 
			    CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			    CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
            FROM [PO].[SAF_MOV_ABONO] A 
            WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
				AND A.ID_POLIZA = @ID_POLIZA
				AND NOT concepto LIKE '%PAGO CCO %'
                --AND TABLA_ORIGEN = 'COBRANZA COM SND ION'
		    GROUP BY A.CUENTA_CARGO, A.ID_SECUENCIA, A.CONCEPTO_FINAL


		    INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		    SELECT CONCAT('CMR PAGO ',IIF(CONCEPTO LIKE '% CO %','CO ',''),IIF(CONCEPTO LIKE '% CCO %','CCO ',''),RUBRO,' ',A.TIPO_CREDITO,' ',A.CANAL,' ',IIF(A.ID_FONDEO=2,'NO RESTRINGIDO ','RESTRINGIDO '),A.IND_ETAPA)
                   , A.CUENTA_CARGO AS CUENTA, 
			       CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			       CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		    FROM [PO].[SAF_MOV_ABONO] A 
		    WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
				    AND A.ID_POLIZA = @ID_POLIZA
				    AND concepto LIKE '%PAGO CCO %'
		    GROUP BY A.CUENTA_CARGO, CONCEPTO, RUBRO,A.TIPO_CREDITO,A.CANAL,A.ID_FONDEO,A.IND_ETAPA


	        INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		    SELECT IIF(CONCEPTO LIKE 'SALDO_FAVOR%',
			       CONCAT('SALDO_FAVOR ',A.TIPO_CREDITO,' ',A.CANAL,' ',IIF(A.ID_FONDEO=2,'NO RESTRINGIDO ','RESTRINGIDO '),A.IND_ETAPA),
                   CONCAT('CMR PAGO ',IIF(CONCEPTO LIKE '% CO %','CO ',''),IIF(CONCEPTO LIKE '% CCO %','CCO ',''),RUBRO,' ',A.TIPO_CREDITO,' ',A.CANAL,' ',IIF(A.ID_FONDEO=2,'NO RESTRINGIDO ','RESTRINGIDO '),A.IND_ETAPA)),	 
				    A.CUENTA_ABONO CUENTA, 
				    CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
				    CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		    FROM [PO].[SAF_MOV_ABONO] A 
            WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
				AND A.ID_POLIZA = @ID_POLIZA
                --AND TABLA_ORIGEN != 'COBRANZA COM SND TOT'
		    GROUP BY A.CUENTA_ABONO, CONCEPTO, RUBRO,A.TIPO_CREDITO,A.CANAL,A.ID_FONDEO,A.IND_ETAPA 

			--SELECT * FROM #POLIZAF
			exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA
		
			TRUNCATE TABLE #POLIZAF

            FETCH NEXT FROM db_cursor_COM_SND_cobranza
            INTO @FECHA_INICIO
        END 

        CLOSE db_cursor_COM_SND_cobranza  
        DEALLOCATE db_cursor_COM_SND_cobranza
	   

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       , '00010101'   ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
