SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_SND_COBRANZA_CASTIGOS]
(
     @ID_DEVENGO_ENC UNIQUEIDENTIFIER
    ,@ID_CAPITAL_ENC UNIQUEIDENTIFIER
    ,@ID_COBRANZA_ENC UNIQUEIDENTIFIER
    ,@ID_MINISTRACIONES_ENC UNIQUEIDENTIFIER
	,@FECHA_INICIO DATE
    ,@FECHA_FIN_DIA date
    ,@FECHAS_POL FECHAS_POLIZA_TIPO READONLY
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 88
           ,@FECHA_ANT date
    
    set @FECHA_ANT = DATEADD(day, -1, @FECHA_INICIO)


	BEGIN TRY
		BEGIN TRANSACTION
		
		DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA

		SELECT C.ID_EXTERNO
			,0 AS NUM_CREDITO
			,'' AS NOM_CLIENTE
			,0 AS ID_PRODUCTO
            ,CP.NOMBRE_CORTO AS NOMBRE_PRODUCTO
			,IIF(TIPO_CARTERA = 'RESTRINGIDO', 1, 2) AS ID_FONDEO
			,CASE BANCO WHEN 'Descarga favor' THEN 5 ELSE 0 END AS IND_FORMA_PAGO
			,7 AS ID_TIPO_CREDITO
			,CP.NOMBRE_CORTO AS TIPO_CREDITO
			,C.FEC_APLICACION AS FECHA_MOVIMIENTO
			,4 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,C.ETAPA AS IND_ETAPA
			,C.CEDIDO
			,C.ID_SECUENCIA
			,0 AS ID_REFERENCIA
			,CASE BANCO WHEN 'STP/6461824110000000' THEN 2070 WHEN 'Descarga favor' THEN 0 WHEN 'No Identificado' THEN 2080 ELSE CT.ID_CUENTA END AS ID_CUENTA
			,CASE WHEN covid = '' THEN 'N' ELSE 'S' END AS IND_COVID
			,'COBRANZA CAS SND ION' AS TABLA_ORIGEN
			,@ID_POLIZA AS ID_POLIZA
            ,CASE WHEN C.OBSERVACION LIKE '%CUENTAS DE ORDEN%' THEN 'C.O.' WHEN C.OBSERVACION LIKE '%POSTERIOR%' THEN 'POS.' ELSE '' END AS TIPO_VIVIENDA
			,'' AS REVERSO
			,IIF(CANAL = 'MINORISTA', 'MINORISTA', 'COMERCIAL') AS CANAL
			,BANCO AS BANCO_RECEPTOR
 			,C.PRINCIPAL
			,C.INTERESES
			,C.INTERESES_IVA
			,C.SEGURO_DANOS
			,C.SEGURO_DANOS_IVA
			,C.SEGURO_VIDA
			,C.MORATORIOS
			,C.COMISION_ADMINISTRACION
			,C.COMISION_ADMINISTRACION_IVA
			,C.CARGO_EXTRA
			,C.CARGO_EXTRA_IVA
			,C.SALDO_FAVOR
			,C.TOTAL_PAGO
			,C.TOTAL_PAGO_BANCO
			,C.TOTAL_APLICADO
			,C.SALDO_FAVOR_REAL
			,C.OBSERVACION
		INTO #COB_ION
        FROM PO.PR_COBRANZA_DET C
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE CT ON BANCO like '%'+substring(CT.num_cuenta,1,10) or BANCO like '%'+substring(CT.num_cuenta,1,11)
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.CARTERA = 'CASTIGO'
			AND C.CEDIDO IN ('SHF Sind-3226','SHF Sind-5028','SHF Sind-2662','SHF Sind-2875')
			AND C.CONCEPTO IN ('Banco','Descarga favor','No Identificado')
			AND C.TOTAL_PAGO > 0
			AND C.ID_COBRANZA_ENC = @ID_COBRANZA_ENC

		SELECT C.ID_EXTERNO
			,0 AS NUM_CREDITO
			,'' AS NOM_CLIENTE
			,0 AS ID_PRODUCTO
            ,CP.NOMBRE_CORTO AS NOMBRE_PRODUCTO
			,IIF(TIPO_CARTERA = 'RESTRINGIDO', 1, 2) AS ID_FONDEO
			,CASE BANCO WHEN 'Descarga favor' THEN 5 ELSE 0 END AS IND_FORMA_PAGO
			,7 AS ID_TIPO_CREDITO
			,CP.NOMBRE_CORTO AS TIPO_CREDITO
			,C.FEC_APLICACION AS FECHA_MOVIMIENTO
			,4 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,C.ETAPA AS IND_ETAPA
			,C.CEDIDO
			,C.ID_SECUENCIA
			,0 AS ID_REFERENCIA
			,CASE BANCO WHEN 'STP/6461824110000000' THEN 2070 WHEN 'Descarga favor' THEN 0 WHEN 'No Identificado' THEN 2080 ELSE CT.ID_CUENTA END AS ID_CUENTA
			,CASE WHEN covid = '' THEN 'N' ELSE 'S' END AS IND_COVID
			,'COBRANZA CAS SND ADM' AS TABLA_ORIGEN
			,@ID_POLIZA AS ID_POLIZA
            ,CASE WHEN C.OBSERVACION LIKE '%CUENTAS DE ORDEN%' THEN 'C.O.' WHEN C.OBSERVACION LIKE '%POSTERIOR%' THEN 'POS.' ELSE '' END AS TIPO_VIVIENDA
			,'' AS REVERSO
			,IIF(CANAL = 'MINORISTA', 'MINORISTA', 'COMERCIAL') AS CANAL
			,BANCO AS BANCO_RECEPTOR
 			,C.PRINCIPAL
			,C.INTERESES
			,C.INTERESES_IVA
			,C.MORATORIOS
			,C.OBSERVACION
		INTO #COB_ADM
        FROM PO.PR_COBRANZA_DET C
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE CT ON BANCO like '%'+substring(CT.num_cuenta,1,10) or BANCO like '%'+substring(CT.num_cuenta,1,11)
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.CARTERA = 'CASTIGO SINDICADA'
			AND C.CEDIDO IN ('SHF Sind-3226','SHF Sind-5028','SHF Sind-2662','SHF Sind-2875')
			AND C.CONCEPTO IN ('Banco','Descarga favor','No Identificado')
			AND C.TOTAL_PAGO > 0
			AND C.ID_COBRANZA_ENC = @ID_COBRANZA_ENC


		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'PRINCIPAL' AS RUBRO, PRINCIPAL AS MONTO,0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE PRINCIPAL > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'INTERESES' AS RUBRO, INTERESES AS MONTO, INTERESES_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE INTERESES > 0 OR INTERESES_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'SEGURO_VIDA' AS RUBRO, SEGURO_VIDA AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE SEGURO_VIDA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'SEGURO_DANOS' AS RUBRO, SEGURO_DANOS AS MONTO, SEGURO_DANOS_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE SEGURO_DANOS > 0 OR SEGURO_DANOS_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'MORATORIOS' AS RUBRO, MORATORIOS AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE MORATORIOS > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'COMISION_ADMINISTRACION' AS RUBRO, COMISION_ADMINISTRACION AS MONTO, COMISION_ADMINISTRACION_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE COMISION_ADMINISTRACION > 0 OR COMISION_ADMINISTRACION_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'COM_PRORROGA' AS RUBRO, CARGO_EXTRA AS MONTO, CARGO_EXTRA_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE (CARGO_EXTRA > 0 OR CARGO_EXTRA_IVA > 0) AND OBSERVACION LIKE '%COM_PRORROGA%'

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'VISITA_EXTRA' AS RUBRO, CARGO_EXTRA AS MONTO, CARGO_EXTRA_IVA AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE (CARGO_EXTRA > 0 OR CARGO_EXTRA_IVA > 0) AND OBSERVACION LIKE '%VISITA_EXTRA%'

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'SALDO_FAVOR' AS RUBRO, SALDO_FAVOR AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ION
		WHERE SALDO_FAVOR > 0

        -- actualizacion de valores de parte Administrada

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'PRINCIPAL' AS RUBRO, PRINCIPAL AS MONTO,0 AS MON_PAGO_IVA
		FROM #COB_ADM
		WHERE PRINCIPAL > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'INTERESES' AS RUBRO, INTERESES AS MONTO, INTERESES_IVA AS MON_PAGO_IVA
		FROM #COB_ADM
		WHERE INTERESES > 0 OR INTERESES_IVA > 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'MORATORIOS' AS RUBRO, MORATORIOS AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ADM
		WHERE MORATORIOS > 0

		---# Crea un nuevo registro si existe IVA en el universo extraido
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
										FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA,ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA, REVERSO, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, APELLIDO, 'CAST COBRANZA COM', @ID_POLIZA, REVERSO, CANAL
		FROM PO.SAF_MOV_ABONO
		WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
		    AND ID_POLIZA = @ID_POLIZA

		--- CALIFICACION BASE DEL CONCEPTO DEACUERDO A REGLAS GLOBALES
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = 
			REPLACE(CASE
				WHEN RUBRO LIKE '%SEGURO%' THEN 'CMR CASTIGO ACCESORIOS'
				WHEN RUBRO LIKE '%IVA%' THEN 'CMR CASTIGO ' + RUBRO
				WHEN RUBRO LIKE '%CARGO_PORCENTAJE%' THEN 'CMR CASTIGO ACCESORIOS'
				WHEN RUBRO LIKE '%SALDO_FAVOR%' THEN 'CMR PAGO DESCARGA FAVOR'
				ELSE CONCAT('CMR CASTIGO ',TIPO_CREDITO/*+' ', CANAL*/)
			END
			,'CASTIGO '
			,CASE WHEN TIPO_VIVIENDA = 'C.O.' THEN 'CASTIGO CO ' WHEN TIPO_VIVIENDA = 'POS.' THEN 'CASTIGO POSTERIOR ' ELSE 'CASTIGO ' END)
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND ID_POLIZA = @ID_POLIZA AND RUBRO != ''

		
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO_ANT = CONCAT('CMR PAGO'
                ,CASE
					WHEN TIP_TRANSACCION = 4 AND IND_FORMA_PAGO = 5 THEN ' DESCARGA FAVOR'
					WHEN ID_CUENTA = 2080 THEN ' NO IDENTIFICADO'
					ELSE ' NORMAL'
				END)
        WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND ID_POLIZA = @ID_POLIZA

		
		
		-->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> REGISTRO DE RECUPERACION EN CUENTAS DE ORDEN <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
		DECLARE  @NUM_CREDITO_C int,@RUBRO_C varchar(30),@MONTO_C numeric(18,2)

        DECLARE db_cursor_poliza_cobranza_castigo CURSOR FOR

            select NUM_CREDITO,RUBRO,isnull(sum(MONTO),0)
            FROM PO.SAF_MOV_ABONO 
            WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO
                AND NOT CONCEPTO LIKE 'CMR CASTIGO POSTERIOR %'
                AND RUBRO NOT IN ('SALDO_FAVOR')
            group by NUM_CREDITO,RUBRO

        OPEN db_cursor_poliza_cobranza_castigo  
            FETCH NEXT FROM db_cursor_poliza_cobranza_castigo
            INTO @NUM_CREDITO_C, @RUBRO_C, @MONTO_C

        WHILE @@FETCH_STATUS = 0  
        BEGIN  

			INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
				    CONCEPTO,CONCEPTO_ANT, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
				    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO, TABLA_ORIGEN, ID_POLIZA, REVERSO, CANAL)
			SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
				    'CMR CASTIGO CCO RECUPERACION' /*+TIPO_CREDITO+' '+ CANAL*/,'CMR CASTIGO CCO RECUPERACION' /*+ TIPO_CREDITO+' '+ CANAL*/,
				    NOMBRE_PRODUCTO, RUBRO, @MONTO_C, 0, ID_TIPO_CREDITO, 
				    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
				    FEC_APERTURA, CEDIDO, 'CAST COBRANZA COM', ID_POLIZA, REVERSO, CANAL
			FROM PO.SAF_MOV_ABONO 
			WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO
                AND NUM_CREDITO = @NUM_CREDITO_C AND RUBRO = @RUBRO_C
                AND NOT CONCEPTO LIKE 'CMR CASTIGO POSTERIOR %'

            FETCH NEXT FROM db_cursor_poliza_cobranza_castigo
            INTO @NUM_CREDITO_C, @RUBRO_C, @MONTO_C
        END 

        CLOSE db_cursor_poliza_cobranza_castigo  
        DEALLOCATE db_cursor_poliza_cobranza_castigo

		--- ASIGNACION DE CUENTAS
		UPDATE H SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET H.ID_CONCEPTO_ANT = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO_ANT 
		WHERE H.FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET 
			H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET 
			H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
		AND H.ID_POLIZA = @ID_POLIZA and H.CUENTA_CARGO is null

		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
		AND H.ID_POLIZA = @ID_POLIZA

		----------- ########### Valida si hay cuenta SAF
		UPDATE H
			SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = CAST( B.ID_CUENTA AS VARCHAR(50))
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE 
			H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
			SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE 
			H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND H.ID_POLIZA = @ID_POLIZA
	    
		--------------- ######## Caso especial enmascaramiento de cuentas

		--no deben quedar nulos en las cuentas
        UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA
            and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA
            and CUENTA_CARGO is null

		-- >>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE CONCEPTO FINAL <<<<<<<<<<<<<<<<<<<<<<<<<<<
		

	    UPDATE PO.SAF_MOV_ABONO SET TIPO_DEP = 1 WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA AND CONCEPTO LIKE 'SALDO_FAVOR %'	
        UPDATE PO.SAF_MOV_ABONO SET TIPO_DEP = 2 WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA AND (CONCEPTO LIKE 'PAGO SALDO_FAVOR %' OR CONCEPTO LIKE 'PAGO CO SALDO_FAVOR %')
	    --UPDATE PO.SAF_MOV_ABONO SET TIPO_DEP = 3 WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA AND ID_TIPO_CREDITO = 4
	    --UPDATE PO.SAF_MOV_ABONO SET TIPO_DEP = 4 WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA AND ID_TIPO_CREDITO = 4 AND RUBRO = ''


		UPDATE PO.SAF_MOV_ABONO
			SET CONCEPTO_FINAL= LEFT(CONCAT('CMR ', 
				CASE
					WHEN TIPO_DEP = 2 THEN 'DESCARGA FAVOR '
					WHEN TIPO_DEP = 1 THEN 'DEP '
					ELSE 'DEP '
				END, 
				CASE
					WHEN TIPO_DEP = 2 THEN CONCAT(NOMBRE_PRODUCTO,' ',IIF(ID_FONDEO=2,'NO RESTRINGIDO ','RESTRINGIDO '),IND_ETAPA)
					WHEN TIPO_DEP = 1 THEN CONCAT(ID_EXTERNO, ' ', NOM_CLIENTE)
				ELSE CONCAT(ID_EXTERNO, ' ', NOM_CLIENTE)
				END), 100)
			WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA
		
	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		exec CursorCloseDeallocate 'db_cursor_COM_SND_COB_CAS'
        DECLARE db_cursor_COM_SND_COB_CAS CURSOR FOR

            SELECT fecha
			from @FECHAS_POL

        OPEN db_cursor_COM_SND_COB_CAS  
            FETCH NEXT FROM db_cursor_COM_SND_COB_CAS
            INTO @FECHA_INICIO
        WHILE @@FETCH_STATUS = 0 BEGIN  
		
		    INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		    SELECT A.CONCEPTO_FINAL, A.CUENTA_CARGO, 
			    CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			    CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
            FROM [PO].[SAF_MOV_ABONO] A 
            WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			    AND A.ID_POLIZA = @ID_POLIZA
		    GROUP BY A.CUENTA_CARGO, A.CONCEPTO_FINAL, A.ID_SECUENCIA
		
		    INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		    SELECT CONCEPTO_FINAL, A.CUENTA_ABONO, 
			    CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			    CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		    FROM [PO].[SAF_MOV_ABONO] A 
		    WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			    AND A.ID_POLIZA = @ID_POLIZA
		    GROUP BY A.CUENTA_ABONO, A.CONCEPTO_FINAL

            exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA
		
			TRUNCATE TABLE #POLIZAF

            FETCH NEXT FROM db_cursor_COM_SND_COB_CAS
            INTO @FECHA_INICIO
        END 

        CLOSE db_cursor_COM_SND_COB_CAS  
        DEALLOCATE db_cursor_COM_SND_COB_CAS

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
	
END
GO
