SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------0905
CREATE PROC [PO].[SP_IND_REVERSO_DEVOLUCIONES]
(
	@FECHA_INICIO DATE
)
AS

BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 30  --poliza individual
        ,@ID_POLIZA_COM int = 90 --poliza comercial
    
	BEGIN TRY
        BEGIN TRANSACTION
			
		DELETE FROM PO.SAF_MOV_DEVOLUCIONES WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA 
		DELETE FROM PO.SAF_MOV_DEVOLUCIONES WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA_COM -- se agrega delete para comercial
			
			
		SELECT COD_CLIENTE, IND_ESTADO INTO #ACTIVOS
		FROM [Quiero_Confianza_shadow].PR.PR_CREDITOS 
		WHERE NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17,   12,13,14,15,28,   2,18,27,   7) AND IND_ESTADO = 'D'
		GROUP BY COD_CLIENTE, IND_ESTADO

		SELECT COD_CLIENTE, IND_ESTADO INTO #CANCELADOS
		FROM [Quiero_Confianza_shadow].PR.PR_CREDITOS 
		WHERE NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17,   12,13,14,15,28,   2,18,27,   7) AND IND_ESTADO = 'C'
		GROUP BY COD_CLIENTE, IND_ESTADO

			
			-- EXTRACCION
		INSERT INTO PO.SAF_MOV_DEVOLUCIONES(BANCO_RECEPTOR, NOM_CLIENTE, CONCEPTO,CONCEPTO_FINAL, MONTO, FECHA_MOVIMIENTO, ID_POLIZA, IND_ESTADO,
			TABLA_ORIGEN, NUM_REFERENCIA, IND_ESTADO_CREDITOS, CARTERA_CREDITO)
		SELECT
			--B.ID_EXTERNO,
			--IIF(LEN(A.NUM_REFERENCIA)>4,SUBSTRING(A.NUM_REFERENCIA,4,7),0),
			D.DES_CUENTA,		
			C.NOM_CLIENTE,
			'DEVOLUCION',
			'',--CONCAT('REV DEVOLUCION ',' ', C.NOM_CLIENTE),
			A.MONTO,
			A.FEC_APLICACION, 
			@ID_POLIZA,
			A.COD_ESTADO,
			'REVERSO DEVOLUCIONES',
			A.NUM_REFERENCIA,
			CASE 
				WHEN ACT.COD_CLIENTE IS NOT NULL AND CAN.COD_CLIENTE IS NULL THEN 'D'
				WHEN CAN.COD_CLIENTE IS NOT NULL AND ACT.COD_CLIENTE IS NULL THEN 'C'
				WHEN ACT.COD_CLIENTE IS NOT NULL AND CAN.COD_CLIENTE IS NOT NULL THEN 'D'
			END,
			dbo.FN_CARTERA_CREDITO(C.COD_CLIENTE)
		FROM [Quiero_Confianza_shadow].[CL].[CL_V_Informacion_SaldoFavorTransaccion] A
		    LEFT JOIN [Quiero_Confianza_shadow].CL.CL_CLIENTES C ON A.COD_CLIENTE = C.COD_CLIENTE 
		    LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE D ON IIF(LEN(A.NUM_REFERENCIA)>4,SUBSTRING(A.NUM_REFERENCIA,4,7),0) = D.ID_CUENTA
		    LEFT JOIN #ACTIVOS ACT ON A.COD_CLIENTE = ACT.COD_CLIENTE
		    LEFT JOIN #CANCELADOS CAN ON A.COD_CLIENTE = CAN.COD_CLIENTE
		WHERE A.DESCRIPCION_TRANSACCION = 'Reversion' and A.MONTO_CREDITO > 0
            AND D.ID_CUENTA NOT IN (2061,2056,2068) -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO
		    AND A.FEC_MOVIMIENTO = @FECHA_INICIO 
            and NUM_ASIENTO in (
                    select NUM_ASIENTO
                    FROM [Quiero_Confianza_shadow].[CL].[CL_V_Informacion_SaldoFavorTransaccion] A
                    WHERE A.DESCRIPCION_TRANSACCION = 'Devolución Cheque' 
                )
			
		-- GENERACION DE CONCEPTO
		UPDATE PO.SAF_MOV_DEVOLUCIONES
		SET CONCEPTO = 
			CONCAT('DEVOLUCION CREDITO ',
				CARTERA_CREDITO, ' ',
				CASE
					WHEN IND_ESTADO_CREDITOS = 'D' THEN 'ACTIVO '
					ELSE 'CERRADO '
				END,
				CASE
					WHEN SUBSTRING(NUM_REFERENCIA,4,7) = 2079 THEN 'CON FLUJO'
					WHEN SUBSTRING(NUM_REFERENCIA,4,7) = 2078 THEN 'SIN FLUJO'
					ELSE 'CON FLUJO'
				END
			)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
		
		-- UPDATE A CONCEPTO FINAL
		UPDATE PO.SAF_MOV_DEVOLUCIONES
		SET CONCEPTO_FINAL = LEFT(
			CONCAT(
				CASE
					WHEN SUBSTRING(NUM_REFERENCIA,4,7) = 2079 THEN 'REV DVO '
					WHEN SUBSTRING(NUM_REFERENCIA,4,7) = 2078 THEN 'REV DP '
					ELSE 'REV DVO '
				END,
				NOM_CLIENTE
			), 100)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA


		--- ASIGNACION DE ID CONCEPTO 
		UPDATE H
        SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_DEVOLUCIONES H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H
        SET H.CUENTA_ABONO = CC.CUENTA_CARGO, H.CUENTA_CARGO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_DEVOLUCIONES H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ACTUALIZA LAS CUENTAS CUENTA SAF
		---- Se actualiza la cuenta contable de todos los registros que sean Cuenta SAF
		UPDATE H
		SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_DEVOLUCIONES H
			LEFT JOIN Quiero_Confianza_Shadow.BA.BA_CTA_CORRIENTE B ON IIF(LEN(H.NUM_REFERENCIA)>4,SUBSTRING(H.NUM_REFERENCIA,4,7),0) = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza_Shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_Shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( IIF(LEN(H.NUM_REFERENCIA)>4,SUBSTRING(H.NUM_REFERENCIA,4,7),0) AS VARCHAR(50)) = D.CUENTA_CONTABLE
		WHERE H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA		

		UPDATE H
		SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_DEVOLUCIONES H
			LEFT JOIN Quiero_Confianza_Shadow.BA.BA_CTA_CORRIENTE B ON IIF(LEN(H.NUM_REFERENCIA)>4,SUBSTRING(H.NUM_REFERENCIA,4,7),0) = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza_Shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_Shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( IIF(LEN(H.NUM_REFERENCIA)>4,SUBSTRING(H.NUM_REFERENCIA,4,7),0) AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE 
			H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--SEPARACION DE COMERCIAL
		UPDATE PO.SAF_MOV_DEVOLUCIONES 
			SET ID_POLIZA= @ID_POLIZA_COM,
			TABLA_ORIGEN = 'DEVOLUCIONES CRM'
			WHERE FECHA_MOVIMIENTO= @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA AND CARTERA_CREDITO= 'COMERCIAL'

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA IND <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, 
				A.CUENTA_CARGO AS CUENTA, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_DEVOLUCIONES] A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		    AND A.ID_POLIZA = @ID_POLIZA

		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, 
				A.CUENTA_ABONO AS CUENTA, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_DEVOLUCIONES] A
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
			

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO
		FROM #POLIZA

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

        --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA COM  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    truncate table #POLIZA
        truncate table #POLIZAF

		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, 
				A.CUENTA_CARGO AS CUENTA, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_DEVOLUCIONES] A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		    AND A.ID_POLIZA = @ID_POLIZA_COM

		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, 
				A.CUENTA_ABONO AS CUENTA, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_DEVOLUCIONES] A
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA_COM

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO
		FROM #POLIZA

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA_COM



		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END




GO
