SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SYS_SP_ACCOUNT_BALANCE_ORDEN]
(
	@FECHA_FIN DATE, 
	@NUM_CREDITO INT, 
	@MONTO DECIMAL(16, 2),
	@TABLA VARCHAR(10),
	@IND_ETAPA INT,
	@RUBRO VARCHAR(30)
)
AS
BEGIN
	DECLARE @FAVOR DECIMAL(16, 2) = 0,
			@IMPAGO DATE,
			@SUMA89 DECIMAL(16, 2),
			@SUMA90 DECIMAL(16, 2),
			@MONTO_BALANCE DECIMAL(16, 2)


	SELECT @IMPAGO = FECHA_INICIO, @MONTO_BALANCE = MONTO_BALANCE FROM PO.CALC_BALANCE_ORDEN WHERE NUM_CREDITO = @NUM_CREDITO AND RUBRO = @RUBRO

	-- SUMA DE PENDIENTE DESDE IMPAGO A 89 DIAS
	
	SELECT @SUMA89 = IIF(@IND_ETAPA = 1, @MONTO_BALANCE, (
		SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
		WHERE Ind_Estado = 'P' AND NUM_CREDITO = @NUM_CREDITO AND Fec_Cobro BETWEEN @IMPAGO AND DATEADD(day, 89, @IMPAGO)
	))

	--SELECT @SUMA89 = SUM(SAL_RUBRO) FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
	--WHERE Ind_Estado = 'P' AND NUM_CREDITO = @NUM_CREDITO AND Fec_Cobro BETWEEN @IMPAGO AND DATEADD(day, 89, @IMPAGO)

	print('----------- Fecha impago')
	print(@IMPAGO)
	print('----------- Rubro')
	print(@RUBRO)
	print('----------- Suma89')
	print(@SUMA89)
	print('----------- Monto')
	print(@MONTO)
	IF @MONTO > @SUMA89 BEGIN
		-- SUMA DE PENDIENTE DESDE DIA 90 A ACTUAL
		SELECT @SUMA90 = IIF(@IND_ETAPA = 1,((
			SELECT SUM(Mon_Rubro) FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
			WHERE Ind_Estado = 'A' AND NUM_CREDITO = @NUM_CREDITO AND Fec_Cobro BETWEEN DATEADD(day, 90, @IMPAGO) AND @FECHA_FIN
			) - @MONTO_BALANCE),(
			SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
			WHERE Ind_Estado = 'P' AND NUM_CREDITO = @NUM_CREDITO AND Fec_Cobro BETWEEN DATEADD(day, 90, @IMPAGO) AND @FECHA_FIN
		))
		print('----------- Suma90')
		print(@SUMA90)

		SET @MONTO = @MONTO - @SUMA89
		IF @MONTO > @SUMA90 BEGIN
			SET @FAVOR = @MONTO - @SUMA90
			SET @MONTO = @SUMA90
		END

		DECLARE @QUERY VARCHAR(MAX)= CONCAT('INSERT INTO PO.SAF_MOV_',@TABLA,' (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
				CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO)
			
		SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
				REPLACE(CONCEPTO, ''PAGO'', ''PAGO CTA ORDEN''),
				NOMBRE_PRODUCTO, RUBRO, ',@MONTO,', 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
				FEC_APERTURA, CEDIDO
		FROM PO.SAF_MOV_',@TABLA,' WHERE NUM_CREDITO = ',@NUM_CREDITO,' AND FECHA_MOVIMIENTO BETWEEN ''',@FECHA_FIN,''' AND ''', @FECHA_FIN,'''')
		EXEC(@QUERY)

		--IF @FAVOR != 0 BEGIN
		--	SET @QUERY = CONCAT('INSERT INTO PO.SAF_MOV_',@TABLA,' (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
		--			CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
		--			TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO)
			
		--	SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
		--			CONCAT(''FAVOR ORDEN '', CONCEPTO),
		--			NOMBRE_PRODUCTO, RUBRO, ',@MONTO,', 0, ID_TIPO_CREDITO, 
		--			TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
		--			FEC_APERTURA, CEDIDO
		--	FROM PO.SAF_MOV_',@TABLA,' WHERE NUM_CREDITO = ',@NUM_CREDITO,' AND FECHA_MOVIMIENTO BETWEEN ''',@FECHA_FIN,''' AND ''', @FECHA_FIN,'''')
		--	EXEC(@QUERY)

		--END -- # @FAVOR != 0
	END -- # @MONTO > @SUMA89
END

GO
