SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_CAT_CONTABLE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_CONCEPTO] [int] NOT NULL,
	[CUENTA_ABONO] [varchar](100) NOT NULL,
	[CUENTA_CARGO] [varchar](100) NOT NULL,
	[IND_ACTIVO] [bit] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_POLIZA] [int] NULL,
 CONSTRAINT [PK_PO_SAF_CAT_CONTABLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_CAT_CONTABLE] ADD  CONSTRAINT [DF_SAF_CAT_CONTABLE_IND_ACTIVO]  DEFAULT ((1)) FOR [IND_ACTIVO]
GO
ALTER TABLE [PO].[SAF_CAT_CONTABLE] ADD  CONSTRAINT [DF_SAF_CAT_CONTABLE_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
