SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------0905
CREATE PROC [PO].[SYS_SP_AVALUO_AND_UPDATE]
(
	@FECHA_INICIO DATE,
	@FECHA_FIN DATE,
	@TABLA VARCHAR(35),
	@INICIO VARCHAR(1) -- 'I', primeros querys != ultimos Querys
)
AS
BEGIN

-- DECLARACIÃƒÆ’Ã¢â‚¬Å“N DE VARIABLES DE QUERIES
DECLARE @U_TIPO_VIVIENDA VARCHAR(MAX),
		@U_TIPO_VIVIENDA_CE VARCHAR(MAX),
		@U_PRODUCTO_C VARCHAR(MAX),
		@U_PRODUCTO_E VARCHAR(MAX),
		@I_IVA VARCHAR(MAX),
		@U_CONCEPTO VARCHAR(MAX),
		@U_IDC VARCHAR(MAX),
		@U_CUENTAS VARCHAR(MAX),
		@COND_IVA VARCHAR(50),
		@COND_IVA_CAL VARCHAR(50),
		@U_MASCARA VARCHAR(MAX)


	IF @INICIO = 'I' BEGIN
		--MONTO DEL AVALUO
		DECLARE @MONTO_AVALUO NUMERIC(11,2) = IIF(@FECHA_INICIO >= '2024-01-01', 2648615.20, 2207161.60) --2648615.20 --2207161.60

		SET @U_TIPO_VIVIENDA = CONCAT('UPDATE H SET
				H.IND_ETAPA = 1
			FROM PO.SAF_MOV_', @TABLA,' H WHERE H.IND_ETAPA = 0 AND H.FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,'''') 
		EXEC(@U_TIPO_VIVIENDA)
		
		--TIPO DE VIVIENDA DE ACUERDO AL MONTO DEL AVALUO
		SET @U_TIPO_VIVIENDA = 
		CONCAT('UPDATE H SET
				H.TIPO_VIVIENDA = IIF(CC.MON_AVALUO > ', @MONTO_AVALUO, ', ''MEDIA RESIDENCIAL'', ''INTERES SOCIAL''),
				H.ID_PRODUCTO = IIF(CC.MON_AVALUO > ', @MONTO_AVALUO, ', 2, 1),
				H.NOMBRE_PRODUCTO = IIF(CC.MON_AVALUO > ',@MONTO_AVALUO,', ''MEDIA RESIDENCIAL'', ''INTERES SOCIAL'')
			FROM PO.SAF_MOV_',@TABLA,' H 
				INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_GARANTIAS_CREDITO GG ON GG.NUM_CREDITO = H.NUM_CREDITO
				INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_GARANTIAS CC ON GG.NUM_SECUENCIA = CC.NUM_GARANTIA
			WHERE H.FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,'''')

		EXEC(@U_TIPO_VIVIENDA)

		--- SI ALGUN TIPO VIVIENDA ES NULL se clasifica como consumo
		DECLARE @CASTIGO VARCHAR(3) = ''
		IF @TABLA ='ABONO' BEGIN SET @CASTIGO = ',26' END

		SET @U_TIPO_VIVIENDA_CE=
		CONCAT('UPDATE PO.SAF_MOV_',@TABLA,' 
				SET TIPO_VIVIENDA = ''CONSUMO'',
				ID_PRODUCTO = 50,	
				NOMBRE_PRODUCTO = ''CONSUMO''
			WHERE FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,''' AND TIPO_VIVIENDA IS NULL
	  			AND ID_TIPO_CREDITO IN(1, 3, 4, 9, 10, 11, 16, 17, 20, 23', @CASTIGO,')')
		EXEC(@U_TIPO_VIVIENDA_CE)

		-- SE DETERMINA EL TIPO DE PRODUCTO DEACUERDO AL ID EMPLEADO O CONSUMO
		SET @U_PRODUCTO_C =
		CONCAT('UPDATE H SET 
				H.ID_PRODUCTO = 50,	
				H.NOMBRE_PRODUCTO = ''CONSUMO''
			FROM  PO.SAF_MOV_',@TABLA,' H  
			INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
			WHERE GG.NUM_DESC_TIPO_CREDITO = 1 AND FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,'''')
		EXEC(@U_PRODUCTO_C)

		SET @U_PRODUCTO_E =
		CONCAT('UPDATE H SET 
				H.ID_PRODUCTO = 51,	
				H.NOMBRE_PRODUCTO = ''EMPLEADO''
			FROM  PO.SAF_MOV_',@TABLA,' H  INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
			WHERE GG.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) AND FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,'''')
		EXEC(@U_PRODUCTO_E)
	END --sI INICIO I


	IF @INICIO = 'A' BEGIN
		-- VALIDACIÃƒÆ’Ã¢â‚¬Å“N CASO DE IVA
		--SET @COND_IVA = IIF(@TABLA IN ('ABONO', 'CARGO'), 'MON_PAGO_IVA > 0', 'IND_IVA_INTERES = ''S''')
		--SET @COND_IVA_CAL = IIF(@TABLA IN ('ABONO', 'CARGO'), 'MON_PAGO_IVA', 'MONTO * 0.16')
	
		-- SI Existen IVAs se crea un nuevo registro anteponiendo IVA a el Rubro
		--SET @I_IVA =
		--CONCAT('IF EXISTS (SELECT TOP(1) 1 FROM PO.SAF_MOV_',@TABLA,' WHERE ', @COND_IVA,')
		--	BEGIN
		--		INSERT INTO PO.SAF_MOV_',@TABLA,' (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
		--									TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
		--									TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
		--									FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA)

		--		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
		--			TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT(''IVA '', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
		--			TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
		--			FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA
		--		FROM PO.SAF_MOV_',@TABLA,' WHERE ',@COND_IVA,' AND FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,'''
		--	END')
		--EXEC(@I_IVA)
		IF @TABLA = 'ABONO' BEGIN 
			IF EXISTS (SELECT TOP(1) 1 FROM PO.SAF_MOV_ABONO WHERE MON_PAGO_IVA != 0)
			BEGIN
				INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
												TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
												TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
												FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, APELLIDO)
				SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
						TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
						FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, APELLIDO
				FROM PO.SAF_MOV_ABONO
				WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
			END
		END
		IF @TABLA = 'CARGO' BEGIN 
			IF EXISTS (SELECT TOP(1) 1 FROM PO.SAF_MOV_CARGO WHERE MON_PAGO_IVA != 0)
			BEGIN
				INSERT INTO PO.SAF_MOV_CARGO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
												RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
												TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
												FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO)
				SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
						CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
						FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO
				FROM PO.SAF_MOV_CARGO
				WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
			END
		END
		IF @TABLA = 'INTERES' BEGIN 
			IF EXISTS (SELECT TOP(1) 1 FROM PO.SAF_MOV_INTERES WHERE IND_IVA_INTERES = 'S')
			BEGIN
				INSERT INTO PO.SAF_MOV_INTERES (ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
												RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
												TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
												FEC_APERTURA, IND_COVID)
				SELECT ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
						CONCAT('IVA ', RUBRO), MONTO * 0.16, 0, ID_TIPO_CREDITO, 
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
						FEC_APERTURA, IND_COVID
				FROM PO.SAF_MOV_INTERES
				WHERE IND_IVA_INTERES = 'S' AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
			END
		END
		IF @TABLA = 'MORATORIO' BEGIN 
		IF EXISTS (SELECT TOP(1) 1 FROM PO.SAF_MOV_MORATORIO WHERE IND_IVA_INTERES = 'S')
			BEGIN
				INSERT INTO PO.SAF_MOV_MORATORIO (ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
												RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
												TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
												FEC_APERTURA, IND_COVID)
				SELECT ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
						CONCAT('IVA ', RUBRO), MONTO * 0.16, 0, ID_TIPO_CREDITO, 
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
						FEC_APERTURA, IND_COVID
				FROM PO.SAF_MOV_MORATORIO
				WHERE IND_IVA_INTERES = 'S' AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
			END
		END
	END -- Si, @INICIO es A


	IF @INICIO = 'F' BEGIN
		--- ASIGNACION DE ID CONCEPTO 
		SET @U_IDC =
		CONCAT('UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_',@TABLA,' H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO WHERE H.FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,'''')
		EXEC(@U_IDC)

		--- ASIGNACION DE CUENTAS
		SET @U_CUENTAS =
		CONCAT('UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_',@TABLA,' H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,'''')
		EXEC(@U_CUENTAS)

		--- ACTUALIZA LAS CUENTAS CUENTA SAF
		---- Se actualiza la cuenta contable de todos los registros que sean Cuenta SAF
		IF @TABLA = 'ABONO' OR @TABLA = 'X_IDENTIFICAR' BEGIN 
			SET @U_MASCARA =
			CONCAT('UPDATE H
					SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
			FROM
				PO.SAF_MOV_',@TABLA,' H
				LEFT JOIN Quiero_Confianza_CreditoPuente_QA.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
				LEFT JOIN Quiero_Confianza_CreditoPuente_QA.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
				LEFT JOIN Quiero_Confianza_CreditoPuente_QA.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
			WHERE 
				H.CUENTA_CARGO = ''Cuenta SAF''
				AND H.FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,'''')
			EXEC(@U_MASCARA)

			SET @U_MASCARA =
			CONCAT('UPDATE H
					SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
			FROM
				PO.SAF_MOV_',@TABLA,' H
				LEFT JOIN Quiero_Confianza_CreditoPuente_QA.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
				LEFT JOIN Quiero_Confianza_CreditoPuente_QA.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
				LEFT JOIN Quiero_Confianza_CreditoPuente_QA.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
			WHERE 
				H.CUENTA_ABONO = ''Cuenta SAF''
				AND H.FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,'''')
			EXEC(@U_MASCARA)


			IF @TABLA = 'ABONO' BEGIN 
				SET @U_MASCARA =
				CONCAT('UPDATE H
						SET H.CUENTA_CARGO = CASE
						WHEN ID_PRODUCTO IN(1, 2) THEN ''2020-0508-0203-0000''
						WHEN ID_PRODUCTO IN(50, 51) THEN ''2020-0508-0201-0000''
					ELSE
						H.CUENTA_CARGO
					END
				FROM
						PO.SAF_MOV_ABONO H
				WHERE
						H.CUENTA_CARGO = ''2401-9000-0003-0001''
						AND H.FECHA_MOVIMIENTO BETWEEN ''',@FECHA_INICIO,''' AND ''',@FECHA_FIN,'''')
				EXEC(@U_MASCARA)
			END --#  @TABLA = 'ABONO'

		END --# @TABLA = 'ABONO' OR @TABLA = 'X_IDENTIFICAR'

	END -- @INICIO = 'F'
END

GO
