SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Daniel Aros Ramírez
-- Creacion:	20240603
-- Descripcion:	Elimina una cuenta contable
-- =============================================
CREATE PROCEDURE [PO].[SYS_SP_CUENTA_ELI]
	 @concepto varchar(100)
AS
BEGIN
	SET NOCOUNT ON;
	declare @id_concepto int

	set @concepto = replace(@concepto,'  ',' ')
    set @concepto = trim(@concepto)

	SELECT @id_concepto = id FROM [PO].[SAF_CATALOGO_CONCEPTOS] WHERE concepto = @concepto

	IF @id_concepto is null BEGIN
		PRINT 'Concepto ' + @concepto + ' no existe'
		RETURN
	END
	
	DELETE FROM PO.SAF_CAT_CONTABLE WHERE ID_CONCEPTO = @id_concepto
	DELETE FROM PO.SAF_CATALOGO_CONCEPTOS WHERE concepto = @concepto

END
GO
