SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_MOV_ABONO](
	[ID] [uniqueidentifier] NOT NULL,
	[ID_EXTERNO] [varchar](15) NULL,
	[NUM_CREDITO] [int] NULL,
	[NOM_CLIENTE] [varchar](250) NULL,
	[ID_CONCEPTO] [int] NULL,
	[CONCEPTO] [varchar](255) NULL,
	[CUENTA_CARGO] [varchar](100) NULL,
	[CUENTA_ABONO] [varchar](100) NULL,
	[ID_PRODUCTO] [int] NULL,
	[NOMBRE_PRODUCTO] [varchar](355) NULL,
	[ID_FONDEO] [int] NULL,
	[RUBRO] [varchar](35) NOT NULL,
	[MONTO] [numeric](20, 6) NOT NULL,
	[MON_PAGO_IVA] [numeric](20, 6) NOT NULL,
	[IND_FORMA_PAGO] [int] NULL,
	[ID_TIPO_CREDITO] [int] NULL,
	[TIPO_CREDITO] [varchar](50) NULL,
	[TIPO_VIVIENDA] [varchar](50) NULL,
	[IND_ESTADO] [varchar](2) NULL,
	[CARTERA_VENCIDA] [varchar](2) NULL,
	[FECHA_MOVIMIENTO] [date] NOT NULL,
	[TIP_TRANSACCION] [int] NULL,
	[SUBTIP_TRANSAC] [int] NULL,
	[IND_ETAPA] [int] NULL,
	[MON_CREDITO] [numeric](16, 2) NULL,
	[FEC_APERTURA] [date] NULL,
	[CEDIDO] [varchar](255) NULL,
	[IND_POSPOSICION] [varchar](1) NULL,
	[FECHA] [datetime] NOT NULL,
	[ID_SECUENCIA] [int] NULL,
	[ID_CUENTA] [bigint] NULL,
	[IND_COVID] [varchar](1) NULL,
	[CONCEPTO_FINAL] [varchar](100) NULL,
	[APELLIDO] [varchar](30) NULL,
	[TABLA_ORIGEN] [varchar](20) NULL,
	[ID_POLIZA] [int] NULL,
	[TIPO_DEP] [int] NULL,
	[ID_REFERENCIA] [int] NULL,
	[CANAL] [varchar](30) NULL,
	[ID_CONCEPTO_ANT] [int] NULL,
	[CONCEPTO_ANT] [varchar](255) NULL,
	[BANCO_RECEPTOR] [varchar](70) NULL,
	[REVERSO] [varchar](2) NULL,
	[IND_NEGATIVO] [smallint] NULL,
 CONSTRAINT [PK__SAF_MOV___3214EC27C2A36231] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_MOV_ABONO] ADD  CONSTRAINT [DF__SAF_MOV_ABON__ID__7330EBF5]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[SAF_MOV_ABONO] ADD  CONSTRAINT [DF__SAF_MOV_A__FECHA__7425102E]  DEFAULT (getdate()) FOR [FECHA]
GO
