SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion: 	20240913
-- Descripcion:	Consulta para el envio de las polizas en especifico de saf a dynamics
-- =============================================
-- exec [PO].[SP_SAF_POLIZA_ENVIO_1P_CON] '20240402',4
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_ENVIO_1P_CON]
	 @FECHA DATE
    ,@ID_POLIZA INT
AS
BEGIN
    SET NOCOUNT ON;

    declare @FECHA_CONTA date

    set @FECHA_CONTA = case when day(@FECHA)= 31 AND month(@FECHA)= 12 then
            DATEADD(day, -1, @FECHA)
        else
            @FECHA
        end

    INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
    SELECT                                 FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION
    FROM PO.SAF_POLIZA_ERRORES
    WHERE FECHA_SISTEMA = @FECHA and ID_POLIZA = @ID_POLIZA

    delete from [PO].[SAF_POLIZA_ERRORES] where FECHA_SISTEMA = @FECHA and ID_POLIZA = @ID_POLIZA

    UPDATE [PO].[SAF_POLIZA_HISTORICO_ENC]
    SET FECHA_ENVIO_INI = GETDATE()
    WHERE FECHA_SISTEMA = @FECHA and ID_POLIZA = @ID_POLIZA


    /*select LOTE + FORMAT(D.FECHA_SISTEMA, 'ddMM') as IDLOTE
        , ROW_NUMBER() OVER (ORDER BY TIPO_POLIZA, DESCRIPCION, CUENTA) as  IDLINEA
        , FORMAT(@FECHA_CONTA, 'yyyy-MM-dd') as FECHA
        , CONCEPTO, CUENTA, CARGO, ABONO, C.DESCRIPCION, C.TIPO_POLIZA
	from PO.SAF_POLIZA_HISTORICO_DET D
        INNER JOIN PO.SAF_POLIZA_HISTORICO_ENC E ON E.FECHA_SISTEMA = D.FECHA_SISTEMA and E.ID_POLIZA = D.ID_POLIZA
        INNER JOIN PO.CAT_TIPO_POLIZA C ON D.ID_POLIZA = C.ID
    where E.FECHA_SISTEMA = @FECHA and E.ID_POLIZA = @ID_POLIZA
    order by DESCRIPCION*/

    DECLARE @archivoI   NVARCHAR(MAX),
        @tipo       INT = 1,
        @error      NVARCHAR(4000);


    SET @archivoI = (
        SELECT
           [LOTE]                 = LOTE + FORMAT(D.FECHA_SISTEMA, 'ddMM')
          ,[DOCUMENTO_FUENTE]     = C.TIPO_POLIZA
          ,[ORIGEN]               = C.DESCRIPCION
          ,[FILA]                 = ROW_NUMBER() OVER (ORDER BY TIPO_POLIZA, DESCRIPCION, CUENTA)
          ,[ABONO]                = CARGO
          ,[CREDITO]              = ABONO
          ,[FECHA]                = FORMAT(@FECHA_CONTA, 'yyyy-MM-dd')
          ,[CUENTA]               = CUENTA
          ,[REFERENCIA_OPERACION] = CONCEPTO
          ,[MONEDA]               = 'MXP'   
	    FROM PO.SAF_POLIZA_HISTORICO_DET D
            INNER JOIN PO.SAF_POLIZA_HISTORICO_ENC E ON E.FECHA_SISTEMA = D.FECHA_SISTEMA and E.ID_POLIZA = D.ID_POLIZA
            INNER JOIN PO.CAT_TIPO_POLIZA C ON D.ID_POLIZA = C.ID
        WHERE E.FECHA_SISTEMA = @FECHA and E.ID_POLIZA = @ID_POLIZA
        ORDER BY DESCRIPCION
        FOR JSON PATH, INCLUDE_NULL_VALUES
    );
--print @archivoI
    EXEC [SRV-IONDWHQA\GPQA].[ION02].[dbo].[AXTSP_POLIZAS]
           @NOM_ARCHIVO_I   = @archivoI
          ,@NOM_ARCHIVO_II  = NULL
          ,@NOM_ARCHIVO_III = NULL
          ,@TIPO            = @tipo
          ,@DETALLE_ERROR   = @error OUTPUT;

    set @error = REPLACE(@error,'Descripción_error','Descripcion_error')
    set @error = REPLACE(@error,'Ubicación','Ubicacion')

    SELECT *
    FROM OPENJSON(@error) WITH (
         Causa_posible VARCHAR(1000) '$.Causa_posible'
        ,Codigo_error VARCHAR(1000) '$.Codigo_error'
        ,Descripcion_error VARCHAR(1000) '$.Descripcion_error'
        ,Detalle VARCHAR(1000) '$.Detalle'
        ,Responsable VARCHAR(1000) '$.Responsable'
        ,Ubicacion VARCHAR(1000) '$.Ubicacion'
    );


END
GO
