SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_COM_REVERSO_DESEMBOLSO]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 70
	BEGIN TRY
		BEGIN TRANSACTION
			
			DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
			DELETE FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

            select A.cod_empresa,A.num_credito,MIN(A.id_secuencia) as id_secuencia_min
            into #primeros_movimientos_reestructuras
            FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A
                 INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
            where A.TIP_TRANSACCION = 3  --desembolsos
                and A.Mon_movimiento > 0
                and C.IND_ESTADO_CRED = 'E' -- reestructuras
                AND A.COD_ESTADO != 'N'
                AND A.FEC_MOVIMIENTO = @FECHA_INICIO
            group by A.cod_empresa,A.num_credito

			--# BLOCK: EXTRACTOR DE MOVIMIENTOS PAGO
			INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_CUENTA, IND_COVID
			,TIPO_VIVIENDA, CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, CANAL, ID_POLIZA)
			SELECT  
				C.ID_EXTERNO
				,C.NUM_CREDITO
				,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,CP.NOMBRE_CORTO
				,CH.ID_FONDEO
				,B.COD_CONCEPTO AS RUBRO
				,B.MON_PAGO MONTO
				,B.MON_PAGO_IVA
				,CASE WHEN A.IND_FORMA_PAGO = '' THEN 0 ELSE  A.IND_FORMA_PAGO END IND_FORMA_PAGO
				,C.NUM_DESC_TIPO_CREDITO
				,CP.NOMBRE_CORTO
				,C.IND_ESTADO
				,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
				,A.FEC_MOVIMIENTO
				,A.TIP_TRANSACCION
				,A.SUBTIP_TRANSAC
				,CH.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
				,C.FEC_APERTURA
				,A.Id_secuencia
				,CAST(A.Id_cuenta AS bigint)
				,dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito)
				,''
				,''
				,''
				,'REVERSO DESEMBOLSO'
				,dbo.FN_TIPO_CANAL(C.TIP_TASA)
				,@ID_POLIZA
			FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
					INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
					INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
					INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
					LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
					AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
					LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
					LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
					LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
					LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
					LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			WHERE C.IND_ESTADO IN ('C', 'D') 
					AND C.IND_LINEA = 'N'
					AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
                    AND A.Id_cuenta NOT IN ('2061','2056','2068','2076') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO, EX_EMPLEADO
					AND A.FEC_MOVIMIENTO = @FECHA_INICIO
					AND B.MON_PAGO < 0.00
					AND TIP_TRANSACCION = 3 --desembolsos
					AND B.COD_CONCEPTO <> 'ESTUDIO_FACTIBILIDAD'
					AND (
						SUBSTRING(C.ID_EXTERNO, 1, 4) NOT IN ('CSCO', 'CSIM') OR
						SUBSTRING(C.ID_EXTERNO, 1, 4) IN ('CSCO', 'CSIM') AND B.COD_CONCEPTO NOT IN ('ESTUDIO_FACTIBILIDAD', 'COMISION_ANTICIPADA'))
                    AND A.ID_SECUENCIA NOT IN ( ----se quitan los primeros movimientos de reestructuras
                            select A.id_secuencia
                            FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A
                                 INNER JOIN #primeros_movimientos_reestructuras C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO AND A.Id_secuencia <= C.id_secuencia_min
                            where A.TIP_TRANSACCION = 3  --desembolsos
                        )

		---# Crea un nuevo registro para la cancelacion de firma
		INSERT INTO PO.SAF_MOV_CARGO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
				RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_CUENTA, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, CONCEPTO_FINAL, CANAL, ID_SECUENCIA)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				'PRINCIPAL', MONTO, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, '' AS IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, '' AS ID_CUENTA, IND_COVID, APELLIDO, 'REVERSO DESEMBOLSO', ID_POLIZA AS CONCEPTO, '','CANC', CANAL, ID_SECUENCIA
		FROM PO.SAF_MOV_ABONO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
            AND RUBRO = 'PRINCIPAL'

			
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------
		---# Crea un nuevo registro si existe IVA en el universo extraido
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
				TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, APELLIDO, 'DESEMBOLSO FIRMA', ID_POLIZA, CONCAT('CMR DESEMBOLSO IVA ', RUBRO), CANAL --'CMR DESEMBOLSO IVA COMISION_ANTICIPADA'
		FROM PO.SAF_MOV_ABONO
		WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------
		--- CALIFICACION BASE DEL CONCEPTO DEACUERDO A REGLAS GLOBALES
		UPDATE H
			SET CONCEPTO = CONCAT(
			CONCAT('CMR DESEMBOLSO ', dbo.FN_RUBRO_POL(RUBRO), ' '),
			H.TIPO_CREDITO/*dbo.FN_TIPO_CREDITO(ID_TIPO_CREDITO)*/,
			' ', H.CANAL,
			IIF(ID_FONDEO = 2, ' NO ', ' '),'RESTRINGIDO ', IND_ETAPA) 
		FROM PO.SAF_MOV_ABONO H
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA 
		AND H.RUBRO NOT LIKE '%IVA%'

		UPDATE H
			SET CONCEPTO = 
			CONCAT('CMR FIRMA CANC ', dbo.FN_RUBRO_POL(RUBRO), ' ',
			H.TIPO_CREDITO/*dbo.FN_TIPO_CREDITO(ID_TIPO_CREDITO)*/,
			' ', H.CANAL,
			' NO RESTRINGIDO ', 
			IND_ETAPA) 
		FROM PO.SAF_MOV_CARGO H
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA 
			AND H.RUBRO NOT LIKE '%IVA%' and concepto_final = 'CANC'

		--- CALIFICACION FINAL DE CONCEPTO POLIZA
		---- ## VALIDAR SI HACE FALTA AGREGAR UN FILTRO PARA EJECUATAR SOLO EN FIRMAS
		UPDATE PO.SAF_MOV_ABONO
			SET CONCEPTO_FINAL = LEFT(CONCAT('REV DESEM ', ID_EXTERNO, ' ', NOM_CLIENTE),30)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		UPDATE PO.SAF_MOV_CARGO
			SET CONCEPTO_FINAL = LEFT(CONCAT('REV DESEM CANC ', ID_EXTERNO, ' ', NOM_CLIENTE),30)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		---# Crea dos nuevos registros a partir de concepto CMR DESEMBOLSO IVA COMISION_ANTICIPADA
		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
				TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, CONCEPTO, 
				CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, CANAL, ID_POLIZA)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID,CONCAT('CMR DESEMBOLSO CXP ', RUBRO), --'CMR DESEMBOLSO CXP IVA COMISION_ANTICIPADA'
				REPLACE(CONCEPTO_FINAL,'DEV ','CXP '), 
				APELLIDO, 'REVERSO DESEMBOLSO', CANAL, ID_POLIZA
		FROM PO.SAF_MOV_ABONO
		WHERE CONCEPTO LIKE '%DESEMBOLSO IVA%'
			AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		---------------------------------------- ######################################## ------------------------------
		---------------------------------------- ######################################## ------------------------------
		--## ASIGNACION DE CUENTAS RESPECTO A LOS CATALOGOS

		UPDATE H SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
			SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
	
		UPDATE H
			SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM
			PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE
			H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

	
		--no deben quedar nulos en las cuentas
        UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA and CUENTA_CARGO is null

		UPDATE PO.SAF_MOV_CARGO
        SET   CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_CARGO
        SET   CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA and CUENTA_CARGO is null

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		SELECT CONCEPTO_FINAL, CUENTA_CARGO, CUENTA_ABONO, MONTO, ID_EXTERNO, ID_TIPO_CREDITO, CONCEPTO, ID_SECUENCIA
		INTO #Extraccion_DC
		FROM PO.SAF_MOV_ABONO A
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA

		INSERT INTO #Extraccion_DC (CONCEPTO_FINAL, CUENTA_CARGO, CUENTA_ABONO, MONTO, ID_EXTERNO, ID_TIPO_CREDITO, CONCEPTO, ID_SECUENCIA)
		SELECT CONCEPTO_FINAL, CUENTA_CARGO, CUENTA_ABONO, MONTO, ID_EXTERNO, ID_TIPO_CREDITO, CONCEPTO, ID_SECUENCIA
		FROM PO.SAF_MOV_CARGO A
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO_FINAL, CUENTA_CARGO CUENTA,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM #Extraccion_DC
		GROUP BY CUENTA_CARGO, CONCEPTO_FINAL, ID_EXTERNO, ID_SECUENCIA

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO_FINAL, CUENTA_ABONO CUENTA,
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		FROM #Extraccion_DC
		GROUP BY CUENTA_ABONO, CONCEPTO_FINAL, ID_EXTERNO, ID_SECUENCIA


        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA


		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
