SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion: 	20250220
-- Descripcion:	Actualiza una cuenta que no existe en dynamics por la generica
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_CUENTAS_DYN_VAL]
	 @FECHA DATE
    ,@ID_POLIZA INT
    ,@CUENTA VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CUENTA_CARGO_GENERICA VARCHAR(30),@CUENTA_ABONO_GENERICA VARCHAR(30)

    if exists(select ID from PO.CAT_TIPO_POLIZA where DESCRIPCION like '%CMR%' and ID = @ID_POLIZA) begin

        SET @CUENTA_CARGO_GENERICA = dbo.FN_CUENTA_OBTENER('CARGO','GENERICA_CMR')
        SET @CUENTA_ABONO_GENERICA = dbo.FN_CUENTA_OBTENER('ABONO','GENERICA_CMR')

    end else begin

        SET @CUENTA_CARGO_GENERICA = dbo.FN_CUENTA_OBTENER('CARGO','GENERICA')
        SET @CUENTA_ABONO_GENERICA = dbo.FN_CUENTA_OBTENER('ABONO','GENERICA')

    end

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('No se encuentra la cuenta ',CUENTA, ' concepto ', CONCEPTO, ', se asigno ', @CUENTA_CARGO_GENERICA), FECHA_SISTEMA, ID_POLIZA
    FROM PO.SAF_POLIZA_HISTORICO_DET 
    WHERE FECHA_SISTEMA = @FECHA
        AND ID_POLIZA = @ID_POLIZA
        AND CUENTA = @CUENTA
        AND CARGO > 0

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('No se encuentra la cuenta ',CUENTA, ' concepto ', CONCEPTO, ', se asigno ', @CUENTA_ABONO_GENERICA), FECHA_SISTEMA, ID_POLIZA
    FROM PO.SAF_POLIZA_HISTORICO_DET 
    WHERE FECHA_SISTEMA = @FECHA
        AND ID_POLIZA = @ID_POLIZA
        AND CUENTA = @CUENTA
        AND ABONO > 0

    UPDATE PO.SAF_POLIZA_HISTORICO_DET
    SET CUENTA = @CUENTA_CARGO_GENERICA
    WHERE FECHA_SISTEMA = @FECHA
        AND ID_POLIZA = @ID_POLIZA
        AND CUENTA = @CUENTA
        AND CARGO > 0

    UPDATE PO.SAF_POLIZA_HISTORICO_DET
    SET CUENTA = @CUENTA_ABONO_GENERICA
    WHERE FECHA_SISTEMA = @FECHA
        AND ID_POLIZA = @ID_POLIZA
        AND CUENTA = @CUENTA
        AND ABONO > 0

END
GO
