SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion:	20250310
-- Descripcion:	Lista de tipos de credito faltantes de configurar para la poliza
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_CREDITO_TIPO_FALTANTE]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT distinct C.TIP_CREDITO,T.DES_TIP_CREDITO
	FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C INNER JOIN
        Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO T ON C.TIP_CREDITO = T.TIP_CREDITO
	WHERE C.IND_ESTADO IN ('T','A','D')
        AND C.IND_LINEA = 'N'
        AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27,  7)
        and C.TIP_CREDITO NOT IN (SELECT TIP_CREDITO FROM  PO.PR_CREDITO_PRODUCTO_REL)


END
GO
