SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------0905
CREATE PROCEDURE [PO].[SYS_SP_BALANCE_DETAIL_SQL] 
    @FECHA DATE,
	@ID_EXTERNO VARCHAR(34),
    @ID_PRODUCTO INT,
    @ID_FONDEO INT,
    @ID_ETAPA INT,
    @ID_POLIZA INT,
    @ID_GRUPO INT
AS
BEGIN
    DECLARE
     @FILTRO VARCHAR(100) = '',
     @QUERY VARCHAR(MAX),
     @QUERY_ABONO VARCHAR(MAX),
     @QUERY_TRASPASO VARCHAR(MAX),
     @UNION VARCHAR(MAX),
	 @FILTRO_ETAPA VARCHAR(21) = '',
	 @FILTRO_FONDEO VARCHAR(18) = '',
	 @FILTRO_PRODUCTO VARCHAR(25) = '',
	 @FILTRO_POLIZA VARCHAR (100) = '',
     @Q_POR_IDEN VARCHAR(MAX),
	 @Q_DEVS VARCHAR(MAX)
	 

    IF @ID_EXTERNO != '' BEGIN SET @ID_EXTERNO = CONCAT(' AND A.ID_EXTERNO = ''', @ID_EXTERNO,''' ') END
	IF @ID_PRODUCTO != 0 BEGIN SET @FILTRO_PRODUCTO = CONCAT(' AND ID_PRODUCTO=', @ID_PRODUCTO) END
	IF @ID_FONDEO != 0 BEGIN SET @FILTRO_FONDEO = CONCAT(' AND A.ID_FONDEO=', @ID_FONDEO) END
	IF @ID_ETAPA != 0 BEGIN SET @FILTRO_ETAPA = CONCAT(' AND A.ID_IND_ETAPA=', @ID_ETAPA)  END

	IF @ID_POLIZA = -1 BEGIN SET @FILTRO_POLIZA =  ' AND C.DESCRIPCION like ''% IND'''  END
	IF @ID_POLIZA = -2 BEGIN SET @FILTRO_POLIZA =  ' AND C.DESCRIPCION like ''% CMR'''  END
	IF @ID_POLIZA = -3 BEGIN SET @FILTRO_POLIZA =  ' AND C.DESCRIPCION like ''% SND'''  END
	IF @ID_POLIZA > 0 BEGIN SET @FILTRO_POLIZA = CONCAT(' AND A.ID_POLIZA=', @ID_POLIZA)  END

	IF @ID_GRUPO != 0 BEGIN 
		
	    IF @ID_POLIZA IN (22,23,31,33,34) BEGIN
		    SET @FILTRO = CASE 
			    WHEN @ID_GRUPO = 1 THEN ' AND ID_TIPO_CREDITO IN (0)'
			    WHEN @ID_GRUPO = 3 THEN ' AND ID_TIPO_CREDITO IN (0)'
			    WHEN @ID_GRUPO = 0 THEN /*'(2,7,12,13,14,15,18,28)'*/ ' AND	ID_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)'
			    WHEN @ID_GRUPO = 4 THEN ' AND ID_TIPO_CREDITO IN (0)'
			    ELSE ' AND ID_TIPO_CREDITO IN (2,7,12,13,14,15,18,28)'
		    END
	    END 
	    ELSE IF @ID_POLIZA IN (40,41,42,43,44,47,48,49/*,50*/, 52, 53, 54, 55, 56, 57, 62) AND @ID_GRUPO = 0 BEGIN
		    SET @FILTRO = ' AND	ID_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)'
	    END
	    ELSE IF @ID_POLIZA IN (46) AND @ID_GRUPO = 0 BEGIN
		    SET @FILTRO = ' AND	ID_TIPO_CREDITO IN (4,20,23)'
	    END
	    ELSE IF @ID_POLIZA IN (59) AND @ID_GRUPO = 0 BEGIN
		    SET @FILTRO = ' AND	ID_TIPO_CREDITO IN (6,19,21,22,24)'
	    END
	    ELSE BEGIN
		    SET @FILTRO = CASE 
			    WHEN @ID_GRUPO = 1 THEN ' AND ID_TIPO_CREDITO IN (3, 16, 17, 4)'
			    WHEN @ID_GRUPO = 3 THEN ' AND ID_TIPO_CREDITO IN (1)'
			    WHEN @ID_GRUPO = 0 THEN ' AND ID_TIPO_CREDITO IN (3, 16, 17, 4, 1, 9, 10, 11)'
			    WHEN @ID_GRUPO = 4 THEN ' AND ID_TIPO_CREDITO IN (9, 10, 11)'
			    ELSE ' AND	ID_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17, 20, 23, 26)'
		    END
	    END
	    --- POLIZA DE CASTIGOS Y COBRANZA DE CASTIGOS
	    IF @ID_POLIZA IN (12,37,38) BEGIN 
		    SET @FILTRO = ' AND	ID_TIPO_CREDITO IN (26)'
	    END

	    IF @ID_POLIZA = 36 BEGIN --administrada
		    SET @FILTRO = ' AND	ID_TIPO_CREDITO IN (4,20,23)' -- afirme, QB, SHCH
	    END
	    IF @ID_POLIZA = 60 BEGIN --administrada comercial
		    SET @FILTRO = ' AND	ID_TIPO_CREDITO IN (5,6,19,21,22,24)'
	    END
	
	    --- POLIZA DE CASTIGOS Y COBRANZA DE CASTIGOS COMERCIAL
	    IF @ID_POLIZA IN (50,51, 58) BEGIN 
		    SET @FILTRO = ' AND	ID_TIPO_CREDITO IN (25)'
	    END
	END

    SET @QUERY = CONCAT('SELECT
		A.ID_EXTERNO, A.NUM_CREDITO, A.NOM_CLIENTE, A.ID_CONCEPTO, A.CONCEPTO_FINAL, A.CONCEPTO,', 
		''''' ID_CONCEPTO_ANT,'''' CONCEPTO_ANT,C.[DESCRIPCION]',
		', CASE WHEN A.MONTO >= 0 THEN A.CUENTA_CARGO ELSE A.CUENTA_ABONO END AS CUENTA_CARGO
         , CASE WHEN A.MONTO >= 0 THEN A.CUENTA_ABONO ELSE A.CUENTA_CARGO END AS CUENTA_ABONO 
		,ABS(A.MONTO) AS MONTO,
		'''' BANCO,
		A.ID_PRODUCTO, A.NOMBRE_PRODUCTO, A.ID_FONDEO, A.RUBRO
		,A.TIPO_CREDITO, A.TIPO_VIVIENDA, A.FECHA_MOVIMIENTO, A.IND_ETAPA, A.FEC_APERTURA, A.CEDIDO, C.[TIPO_POLIZA], IIF(A.TABLA_ORIGEN IS NOT NULL, A.TABLA_ORIGEN, ''@TABLA'') AS TABLA
		,'''' IND_ESTADO_CREDITOS, '''' as REVERSO
        FROM PO.SAF_MOV_@TABLA A
		    INNER JOIN [PO].[CAT_TIPO_POLIZA] C ON A.ID_POLIZA = C.ID
        WHERE A.FECHA_MOVIMIENTO = ''',@FECHA,''' ', @FILTRO, @ID_EXTERNO, @FILTRO_PRODUCTO, @FILTRO_FONDEO, @FILTRO_ETAPA,' ', @FILTRO_POLIZA)

    SET @QUERY_TRASPASO = CONCAT('SELECT
		A.ID_EXTERNO, A.NUM_CREDITO, A.NOM_CLIENTE, A.ID_CONCEPTO, A.CONCEPTO_FINAL, A.CONCEPTO,', 
		'A.ID_CONCEPTO_ANT,A.CONCEPTO_ANT,C.[DESCRIPCION]',
		', CASE WHEN A.MONTO >= 0 THEN A.CUENTA_CARGO ELSE A.CUENTA_ABONO END AS CUENTA_CARGO
         , CASE WHEN A.MONTO >= 0 THEN A.CUENTA_ABONO ELSE A.CUENTA_CARGO END AS CUENTA_ABONO 
		,ABS(A.MONTO) AS MONTO,
		'''' BANCO,
		A.ID_PRODUCTO, A.NOMBRE_PRODUCTO, A.ID_FONDEO, A.RUBRO
		,A.TIPO_CREDITO, A.TIPO_VIVIENDA, A.FECHA_MOVIMIENTO, A.IND_ETAPA, A.FEC_APERTURA, A.CEDIDO, C.[TIPO_POLIZA], IIF(A.TABLA_ORIGEN IS NOT NULL, A.TABLA_ORIGEN, ''@TABLA'') AS TABLA
		,'''' IND_ESTADO_CREDITOS, '''' as REVERSO
        FROM PO.SAF_MOV_TRASPASO A
		    INNER JOIN [PO].[CAT_TIPO_POLIZA] C ON A.ID_POLIZA = C.ID
        WHERE A.FECHA_MOVIMIENTO = ''',@FECHA,'''', @FILTRO, @ID_EXTERNO, @FILTRO_PRODUCTO, @FILTRO_FONDEO, @FILTRO_ETAPA,' ', @FILTRO_POLIZA)

    SET @QUERY_ABONO = CONCAT('SELECT
		A.ID_EXTERNO, A.NUM_CREDITO, A.NOM_CLIENTE, A.ID_CONCEPTO, A.CONCEPTO_FINAL, A.CONCEPTO,', 
		'A.ID_CONCEPTO_ANT,A.CONCEPTO_ANT,C.[DESCRIPCION]',
		', CASE WHEN A.MONTO >= 0 THEN A.CUENTA_CARGO ELSE A.CUENTA_ABONO END AS CUENTA_CARGO
         , CASE WHEN A.MONTO >= 0 THEN A.CUENTA_ABONO ELSE A.CUENTA_CARGO END AS CUENTA_ABONO 
		,ABS(A.MONTO) AS MONTO,
		A.BANCO_RECEPTOR as BANCO,
		A.ID_PRODUCTO, A.NOMBRE_PRODUCTO, A.ID_FONDEO, A.RUBRO
		,A.TIPO_CREDITO, A.TIPO_VIVIENDA, A.FECHA_MOVIMIENTO, A.IND_ETAPA, A.FEC_APERTURA, A.CEDIDO, C.[TIPO_POLIZA], IIF(A.TABLA_ORIGEN IS NOT NULL, A.TABLA_ORIGEN, ''ABONO'') AS TABLA
		,'''' IND_ESTADO_CREDITOS, REVERSO
        FROM PO.SAF_MOV_ABONO A
		    INNER JOIN [PO].[CAT_TIPO_POLIZA] C ON A.ID_POLIZA = C.ID
        WHERE A.FECHA_MOVIMIENTO = ''',@FECHA,''' AND A.CONCEPTO<>''TOTALES''', @FILTRO, @ID_EXTERNO, @FILTRO_PRODUCTO, @FILTRO_FONDEO, @FILTRO_ETAPA,' ', @FILTRO_POLIZA)

    SET @UNION = CONCAT(@QUERY_ABONO, ' UNION ALL ',
                        @QUERY_TRASPASO, ' UNION ALL ',
                       REPLACE(@QUERY, '@TABLA', 'CARGO'), ' UNION ALL ',
                       REPLACE(@QUERY, '@TABLA', 'INTERES'), ' UNION ALL ',
                       REPLACE(@QUERY, '@TABLA', 'MORATORIO'))

	SET @Q_POR_IDEN = CONCAT(
        ' UNION ALL
        SELECT '''', NUM_CREDITO, '''', ID_CONCEPTO, CONCEPTO_FINAL,  CONCEPTO, null as ID_CONCEPTO_ANT,'''' CONCEPTO_ANT,C.DESCRIPCION
            , CASE WHEN A.MONTO >= 0 THEN A.CUENTA_CARGO ELSE A.CUENTA_ABONO END AS CUENTA_CARGO
            , CASE WHEN A.MONTO >= 0 THEN A.CUENTA_ABONO ELSE A.CUENTA_CARGO END AS CUENTA_ABONO  
		    ,ABS(A.MONTO) AS MONTO,
		    BANCO_RECEPTOR,
		    null as ID_PRODUCTO,'''' as NOMBRE_PRODUCTO, null as ID_FONDEO, COD_CONCEPTO,  
		    '''' as TIPO_CREDITO,
            '''' as TIPO_VIVIENDA, FECHA_MOVIMIENTO, null as IND_ETAPA, FECHA_MOVIMIENTO, '''' as CEDIDO,
            C.TIPO_POLIZA, ''X_IDENTIFICAR'','''' IND_ESTADO_CREDITOS, '''' as REVERSO
        FROM PO.SAF_MOV_X_IDENTIFICAR A
		    INNER JOIN [PO].[CAT_TIPO_POLIZA] C ON A.ID_POLIZA = C.ID
        WHERE FECHA_MOVIMIENTO = ''',@FECHA,'''',@FILTRO_POLIZA)

	SET @Q_DEVS=CONCAT(
		    ' UNION ALL
            SELECT REPLACE(A.CONCEPTO_FINAL,''DEVOLUCION '',''''), 0, A.NOM_CLIENTE, A.ID_CONCEPTO, A.CONCEPTO_FINAL,  
		        A.CONCEPTO,'''' ID_CONCEPTO_ANT ,'''' CONCEPTO_ANT,C.DESCRIPCION
                , CASE WHEN A.MONTO >= 0 THEN A.CUENTA_CARGO ELSE A.CUENTA_ABONO END AS CUENTA_CARGO
                , CASE WHEN A.MONTO >= 0 THEN A.CUENTA_ABONO ELSE A.CUENTA_CARGO END AS CUENTA_ABONO 
		        ,ABS(A.MONTO) AS MONTO
                , A.BANCO_RECEPTOR,0,'''', 0, '''',  '''', '''', A.FECHA_MOVIMIENTO, 0, '''', '''',
                C.TIPO_POLIZA, A.TABLA_ORIGEN, 
		        CASE A.IND_ESTADO_CREDITOS WHEN ''C'' THEN ''CANCELADO'' WHEN ''D'' THEN ''ACTIVO'' ELSE '''' END, '''' as REVERSO
            FROM PO.SAF_MOV_DEVOLUCIONES A
		        INNER JOIN [PO].[CAT_TIPO_POLIZA] C ON A.ID_POLIZA = C.ID
            WHERE FECHA_MOVIMIENTO = ''',@FECHA,'''',@FILTRO_POLIZA)


    SET @UNION = CONCAT(@UNION,@Q_POR_IDEN,@Q_DEVS)

	--print(@UNION)
    EXEC(@UNION)

END



GO
