SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_SND_ADMINISTRADA]
(
     @ID_DEVENGO_ENC UNIQUEIDENTIFIER
    ,@ID_CAPITAL_ENC UNIQUEIDENTIFIER
    ,@ID_COBRANZA_ENC UNIQUEIDENTIFIER
    ,@ID_MINISTRACIONES_ENC UNIQUEIDENTIFIER
	,@FECHA_INICIO DATE
    ,@FECHA_FIN_DIA date
    ,@FECHAS_POL FECHAS_POLIZA_TIPO READONLY
)
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @ID_POLIZA int = 93
	DECLARE @ULT_DIA_MES DATE = EOMONTH(@FECHA_INICIO)
	DECLARE @DIA_MES_INI DATE = DATEFROMPARTS(year(@FECHA_INICIO), month(@FECHA_INICIO), 1) 

	IF not exists (select * from @FECHAS_POL where fecha = @ULT_DIA_MES) BEGIN 
		--NO SE ESTÁ PROCESANDO EL ULTIMO DÍA DEL MES
		RETURN
	END

	BEGIN TRY
		BEGIN TRANSACTION

		DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO IN (@ULT_DIA_MES) AND ID_POLIZA = @ID_POLIZA
	
		SELECT D.ID_EXTERNO
			,0 AS NUM_CREDITO
			,'' AS NOM_CLIENTE
			,0 AS ID_PRODUCTO
            ,CP.NOMBRE_CORTO AS NOMBRE_PRODUCTO
			,IIF(TIPO_CARTERA = 'RESTRINGIDO', 1, 2) AS ID_FONDEO
			,0 AS IND_FORMA_PAGO
			,7 AS ID_TIPO_CREDITO
			,CP.NOMBRE_CORTO AS TIPO_CREDITO
			,NULL AS IND_IVA_INTERES
			,NULL AS POR_IVA_INTERES
			,@ULT_DIA_MES AS FECHA_MOVIMIENTO
			,4 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,D.ETAPA AS IND_ETAPA
			,D.CEDIDO
			,0 AS ID_SECUENCIA
			,0 AS ID_REFERENCIA
			,0 AS ID_CUENTA
			,'N' AS IND_COVID
			,'CMR SND ADM DEV' AS TABLA_ORIGEN
			,@ID_POLIZA AS ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'' AS REVERSO
			,IIF(CANAL = 'MINORISTA', 'MINORISTA', 'COMERCIAL') AS CANAL
			,'Devengado' AS BANCO_RECEPTOR
			,D.IMPORTE AS INTERESES
            ,D.INTERES_IVA AS INTERESES_IVA
			,D.INTERESES_MORATORIOS AS MORATORIOS
		INTO #DEV_ADM
        FROM PO.PR_DEVENGO_DET D
			INNER JOIN PO.PR_DEVENGO_ENC E ON D.ID_DEVENGO_ENC = E.ID
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = D.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE D.FONDEADOR = 'SHF'
			AND D.CEDIDO IN ('SHF Sind-3226','SHF Sind-5028','SHF Sind-2662','SHF Sind-2875')
			AND (D.OBSERVACIONES is null OR D.OBSERVACIONES = '')
			AND E.ACTIVO = 1
			AND @DIA_MES_INI <= D.FECHA_CALCULO AND D.FECHA_CALCULO <= @ULT_DIA_MES


		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'INTERESES' AS RUBRO, INTERESES AS MONTO, INTERESES_IVA AS MON_PAGO_IVA
		FROM #DEV_ADM
		WHERE INTERESES != 0 OR INTERESES_IVA != 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'MORATORIOS' AS RUBRO, MORATORIOS AS MONTO, 0 AS MON_PAGO_IVA
		FROM #DEV_ADM
		WHERE MORATORIOS != 0


		SELECT C.ID_EXTERNO_REF AS ID_EXTERNO
			,0 AS NUM_CREDITO
			,'' AS NOM_CLIENTE
			,0 AS ID_PRODUCTO
            ,CP.NOMBRE_CORTO AS NOMBRE_PRODUCTO
			,IIF(TIPO_CARTERA = 'RESTRINGIDO', 1, 2) AS ID_FONDEO
			,CASE BANCO WHEN 'Descarga favor' THEN 5 ELSE 0 END AS IND_FORMA_PAGO
			,7 AS ID_TIPO_CREDITO
			,CP.NOMBRE_CORTO AS TIPO_CREDITO
			,@ULT_DIA_MES AS FECHA_MOVIMIENTO
			,4 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,C.ETAPA AS IND_ETAPA
			,C.CEDIDO
			,C.ID_SECUENCIA
			,0 AS ID_REFERENCIA
			,CASE BANCO WHEN 'STP/6461824110000000' THEN 2070 WHEN 'Descarga favor' THEN 0 WHEN 'No Identificado' THEN 2080 ELSE CT.ID_CUENTA END AS ID_CUENTA
			,CASE WHEN covid = '' THEN 'N' ELSE 'S' END AS IND_COVID
			,'CMR SND ADM COB' AS TABLA_ORIGEN
			,@ID_POLIZA AS ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'' AS REVERSO
			,IIF(CANAL = 'MINORISTA', 'MINORISTA', 'COMERCIAL') AS CANAL
			,BANCO AS BANCO_RECEPTOR
 			,-C.PRINCIPAL AS PRINCIPAL
			,-C.INTERESES AS INTERESES
			,-C.INTERESES_IVA AS INTERESES_IVA
			,-C.MORATORIOS AS MORATORIOS
			,C.OBSERVACION
		INTO #COB_ADM
        FROM PO.PR_COBRANZA_DET C
			INNER JOIN PO.PR_COBRANZA_ENC E ON C.ID_COBRANZA_ENC = E.ID
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE CT ON BANCO like '%'+substring(CT.num_cuenta,1,10) or BANCO like '%'+substring(CT.num_cuenta,1,11)
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO_REF
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.CARTERA = 'SINDICADA'
			AND C.CEDIDO IN ('SHF Sind-3226','SHF Sind-5028','SHF Sind-2662','SHF Sind-2875')
			AND (C.CONCEPTO IN ('Banco','Descarga favor','No Identificado',   'ADJUDICACIÓN','ADJUDICACION','DACIÓN','DACION')
				OR (C.OBSERVACION LIKE '%condonación%' OR observacion LIKE '%condonacion%'))
			AND E.ACTIVO = 1
			AND @DIA_MES_INI <= C.FEC_APLICACION AND C.FEC_APLICACION <= @ULT_DIA_MES
		

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'PRINCIPAL' AS RUBRO, PRINCIPAL AS MONTO,0 AS MON_PAGO_IVA
		FROM #COB_ADM
		WHERE PRINCIPAL != 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'INTERESES' AS RUBRO, INTERESES AS MONTO, INTERESES_IVA AS MON_PAGO_IVA
		FROM #COB_ADM
		WHERE INTERESES != 0 OR INTERESES_IVA != 0

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, RUBRO, MONTO, MON_PAGO_IVA)
		SELECT
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, CEDIDO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL, BANCO_RECEPTOR
			, 'MORATORIOS' AS RUBRO, MORATORIOS AS MONTO, 0 AS MON_PAGO_IVA
		FROM #COB_ADM
		WHERE MORATORIOS != 0
        
		SELECT C.ID_EXTERNO,MIN(C.NUM_CREDITO) AS NUM_CREDITO
		INTO #CREDITO_UNICO_CAP
		FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK)
			INNER JOIN PO.PR_CAPITAL_DET A WITH (NOLOCK) ON A.ID_EXTERNO = C.ID_EXTERNO
			INNER JOIN PO.PR_CAPITAL_ENC E ON A.ID_CAPITAL_ENC = E.ID
		WHERE C.IND_LINEA = 'N'
			AND E.ACTIVO = 1
			AND @DIA_MES_INI <= A.FECHA_ACTINVER AND A.FECHA_ACTINVER <= @ULT_DIA_MES
		GROUP BY C.ID_EXTERNO

		-- Movimientos de Capital
		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,'' AS CUENTA_CARGO
			,'' AS CUENTA_ABONO
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,'PRINCIPAL' AS RUBRO
			,A.IMPORTE AS MONTO
			,0 AS MON_PAGO_IVA
			,0 AS IND_FORMA_PAGO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,C.IND_ESTADO
			,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,@ULT_DIA_MES AS FEC_MOVIMIENTO
			,0 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,CH.IND_ETAPA
			,C.MON_CREDITO
			,A.FISO AS CEDIDO 
			,C.FEC_APERTURA
			,0 AS Id_secuencia
            ,0 AS ID_REFERENCIA
			,0 AS ID_CUENTA
			,'' AS IND_COVID
			,''
			,IIF(PF.PRIMER_APELLIDO IS NULL OR PF.PRIMER_APELLIDO = '', 'NOMBRE', PF.PRIMER_APELLIDO)
			,'CMR SND ADM CAP'
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'' AS REVERSO
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK)
			INNER JOIN #CREDITO_UNICO_CAP U ON U.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN PO.PR_CAPITAL_DET A WITH (NOLOCK) ON A.ID_EXTERNO = C.ID_EXTERNO
			INNER JOIN PO.PR_CAPITAL_ENC E ON A.ID_CAPITAL_ENC = E.ID
			INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
            LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = A.FECHA_ACTINVER AND CH.NUM_DESC_TIPO_CREDITO IN (7)
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = A.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.IND_ESTADO IN ('C', 'D')
			AND C.IND_LINEA = 'N'
            AND A.IMPORTE > 0
			AND E.ACTIVO = 1
			AND @DIA_MES_INI <= A.FECHA_ACTINVER AND A.FECHA_ACTINVER <= @ULT_DIA_MES

		SELECT C.ID_EXTERNO,MIN(C.NUM_CREDITO) AS NUM_CREDITO
		INTO #CREDITO_UNICO_MIN
		FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK)
			INNER JOIN [PO].[PR_MINISTRACIONES_DET] A WITH (NOLOCK) ON A.ID_EXTERNO = C.ID_EXTERNO
			INNER JOIN PO.PR_MINISTRACIONES_ENC E ON A.ID_MINISTRACIONES_ENC = E.ID
		WHERE C.IND_LINEA = 'N'
			AND E.ACTIVO = 1
			AND @DIA_MES_INI <= A.FECHA_ACTINVER AND A.FECHA_ACTINVER <= @ULT_DIA_MES
		GROUP BY C.ID_EXTERNO

		-- Movimientos de reclasificacion
		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,'' AS CUENTA_CARGO
			,'' AS CUENTA_ABONO
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,'PRINCIPAL' AS RUBRO
			,-1*A.IMPORTE AS MONTO
			,0 AS MON_PAGO_IVA
			,0 AS IND_FORMA_PAGO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,C.IND_ESTADO
			,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,@ULT_DIA_MES AS FEC_MOVIMIENTO
			,0 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,CH.IND_ETAPA
			,C.MON_CREDITO
			,A.FISO AS CEDIDO 
			,C.FEC_APERTURA
			,0 AS Id_secuencia
            ,0 AS ID_REFERENCIA
			,0 AS ID_CUENTA
			,'' AS IND_COVID
			,''
			,IIF(PF.PRIMER_APELLIDO IS NULL OR PF.PRIMER_APELLIDO = '', 'NOMBRE', PF.PRIMER_APELLIDO)
			,'CMR SND ADM REC'
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'' AS REVERSO
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK)
			INNER JOIN #CREDITO_UNICO_MIN U ON U.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN [PO].[PR_MINISTRACIONES_DET] A WITH (NOLOCK) ON A.ID_EXTERNO = C.ID_EXTERNO
			INNER JOIN PO.PR_MINISTRACIONES_ENC E ON A.ID_MINISTRACIONES_ENC = E.ID
			INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
            LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = A.FECHA_ACTINVER
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.IND_ESTADO IN ('C', 'D')
			AND C.IND_LINEA = 'N'
            AND CH.NUM_DESC_TIPO_CREDITO IN (7)
            AND A.IMPORTE > 0
			AND E.ACTIVO = 1
			AND @DIA_MES_INI <= A.FECHA_ACTINVER AND A.FECHA_ACTINVER <= @ULT_DIA_MES
		
		------------------------------------------- ACTUALIZACION DE CONCEPTO Y ASIGNACIÓN DE CUENTAS
		-- ACTUALIZACION DE CONCEPTO
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = CONCAT('CMR ADM',' ',CEDIDO,' ', RUBRO)
			,CONCEPTO_FINAL = CONCAT('C.O. CART ADM',' ',CEDIDO,' ', RUBRO)
			WHERE FECHA_MOVIMIENTO = @ULT_DIA_MES
			AND ID_POLIZA = @ID_POLIZA

		-- UPDATE DE ID_CONCEPTO
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @ULT_DIA_MES
			AND ID_POLIZA = @ID_POLIZA
		
		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO,
			H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @ULT_DIA_MES
			AND H.ID_POLIZA = @ID_POLIZA
		 
		------------------------------------------- GENERACIÓN DE PÓLIZA
		CREATE TABLE #POLIZAF(ID INT  IDENTITY(1,1),CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO_FINAL, A.CUENTA_CARGO CUENTA,
				CAST( SUM( MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_ABONO A 
		WHERE FECHA_MOVIMIENTO = @ULT_DIA_MES
			AND A.ID_POLIZA IN (@ID_POLIZA) 
		GROUP BY A.CUENTA_CARGO, A.CONCEPTO_FINAL, A.CONCEPTO


		INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO_FINAL, A.CUENTA_ABONO CUENTA,
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
				CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO 
		FROM PO.SAF_MOV_ABONO A 
		WHERE FECHA_MOVIMIENTO = @ULT_DIA_MES
			AND A.ID_POLIZA IN (@ID_POLIZA)
		GROUP BY A.CUENTA_ABONO, A.CONCEPTO_FINAL, A.CONCEPTO

		
		exec [PO].[SP_SAF_POLIZA_FINALIZA] @ULT_DIA_MES, @ID_POLIZA


	COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
