SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [PO].[SP_COM_FIRMA]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 22

	BEGIN TRY
		BEGIN TRANSACTION

		DELETE FROM PO.SAF_MOV_CARGO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA


		INSERT INTO PO.SAF_MOV_CARGO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
			ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, 
			ID_CUENTA, CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, TIPO_VIVIENDA, CANAL, ID_POLIZA)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, D.RAZON_SOCIAL, D.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,'PRINCIPAL'
			,dbo.FN_FIRMA_MONTO(C.ID_EXTERNO,C.OBSERVACIONES,C.MON_CREDITO) AS MONTO
			,0
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,''
			,'NI' CARTERA_VENCIDA
			,@FECHA_INICIO AS FECHA_MOVIMIENTO
			,CH.IND_ETAPA
			,C.MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,CE.FEC_APERTURA
			,''
			,''
			,LEFT(dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, C.DESARROLLO, NULL),30)
			,'FIRMA PRINCIPAL'
			,''
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
			,@ID_POLIZA
		FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK)
			LEFT JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
		WHERE @FECHA_INICIO <= CE.FEC_APERTURA AND CE.FEC_APERTURA < dateadd(d,1,@FECHA_INICIO) -- se usa fecha de credito extra para evitar variaciones en SAF
			AND C.IND_ESTADO_CRED != 'E' AND C.ID_EXTERNO not like 'R%' --INDICA Que SOLO TRAIGA FIRMAS y no reestructuras
            AND C.IND_ESTADO NOT IN ('N') -- se quitan credito eliminados en el registro inicial
			AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
            AND (C.num_contrato IS NULL or C.num_contrato = C.NUM_CREDITO) -- se consideran lineas o creditos puros
				
        -- consulta para comisiones en la firma
		INSERT INTO PO.SAF_MOV_CARGO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
			ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, 
			ID_CUENTA, CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, TIPO_VIVIENDA, CANAL, ID_POLIZA)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, D.RAZON_SOCIAL, D.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,Q.COD_RUBRO
			,Q.Mon_Rubro
			,Q.Mon_Iva
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,Q.Ind_Estado
			,'NI' CARTERA_VENCIDA
			,Q.Fec_Exigible_Pago
			,CH.IND_ETAPA
			,C.MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
			,''
			,LEFT(dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, C.DESARROLLO, NULL),30)
			,''
			,'FIRMA ABONO'
			,''
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
			,@ID_POLIZA
		FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C 
			INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON C.NUM_CREDITO = Q.NUM_CREDITO
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO =C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
		WHERE Q.Fec_Exigible_Pago = @FECHA_INICIO
			AND C.IND_ESTADO_CRED != 'E' AND C.ID_EXTERNO not like 'R%' --INDICA Que SOLO TRAIGA FIRMAS y no reestructuras
            AND C.IND_ESTADO NOT IN ('N') -- se quitan credito eliminados en el registro inicial
			AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
            AND (C.num_contrato IS NULL or C.num_contrato = C.NUM_CREDITO) -- se quitan creditos que pertenecen a una linea
			AND Q.Cod_Rubro NOT in ('PRINCIPAL', 'INTERESES')
			AND C.ID_EXTERNO IN (SELECT MC.ID_EXTERNO FROM SAF_MOV_CARGO MC WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA AND MC.CANAL = 'MINORISTA')
				

		INSERT INTO PO.SAF_MOV_CARGO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
				RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
				FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA,  
				CONCEPTO, CONCEPTO_FINAL, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO,
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
				FEC_APERTURA, MON_CREDITO, IND_COVID, APELLIDO, 'FIRMA ABONO', ID_POLIZA,  
				CONCAT('CMR DEVENGO IVA ', RUBRO), LEFT(CONCAT('IVA ', ID_EXTERNO,' ', CONCEPTO_FINAL), 30 ), CANAL/*dbo.FN_TIPO_CANAL(ID_EXTERNO)*/
		FROM PO.SAF_MOV_CARGO
		WHERE MON_PAGO_IVA != 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA


		UPDATE H
		SET CONCEPTO = CONCAT(	
				IIF(H.RUBRO = 'PRINCIPAL', 'CMR FIRMA', CONCAT('CMR DEVENGO ', dbo.FN_RUBRO_POL(H.RUBRO)))
				,IIF(RUBRO LIKE '%IVA%','', ' ')-- ESPACIO
				,IIF(RUBRO LIKE '%IVA%','', H.TIPO_CREDITO) /*,H.TIPO_CREDITO/*dbo.FN_TIPO_CREDITO(H.ID_TIPO_CREDITO)*/*/
				,IIF(RUBRO LIKE '%IVA%','', ' ')-- ESPACIO 
				,IIF(RUBRO LIKE '%IVA%','', H.CANAL)--  H.CANAL
				,IIF(RUBRO LIKE '%IVA%','', ' NO RESTRINGIDO ')-- 
				,IIF(RUBRO LIKE '%IVA%','', '1')--etapa, es fijo este valor porque todo nace en uno
			), 
			CONCEPTO_FINAL = LEFT( CONCAT(IIF(H.RUBRO = 'PRINCIPAL', 'FIRMA ', CONCAT(LEFT(H.RUBRO, 3), ' ')), H.ID_EXTERNO,' ', IIF(CONCEPTO_FINAL = '', NOM_CLIENTE, CONCEPTO_FINAL)), 30 )
		FROM PO.SAF_MOV_CARGO H
		WHERE CARTERA_VENCIDA = 'NI'
			AND ID_POLIZA = @ID_POLIZA
			AND FECHA_MOVIMIENTO = @FECHA_INICIO


		--## ASIGNACION DE CUENTAS RESPECTO A LOS CATALOGOS
		UPDATE H
		SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H
		SET H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
		SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_CARGO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = CAST(B.ID_CUENTA AS VARCHAR(100))
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
	
		UPDATE H
		SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_CARGO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)


		INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO_FINAL, CUENTA_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_CARGO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		GROUP BY CUENTA_CARGO, CONCEPTO_FINAL, ID_EXTERNO


		INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO_FINAL, CUENTA_ABONO,
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO 
		FROM PO.SAF_MOV_CARGO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		GROUP BY CUENTA_ABONO, CONCEPTO_FINAL, ID_EXTERNO
			

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		COMMIT

	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
