SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion: 	20250219
-- Descripcion:	Reporte de estados finales del envio de poliza automatica a dynamics
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_ENVIO_1P_ESTADO_REP]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Fecha DATE,@FechaIni DATE,@FechaFin DATE
 
    set @Fecha = GETDATE()
    set @FechaIni = datefromparts(year(@Fecha), month(@Fecha), day(@Fecha))
    set @FechaFin = Dateadd(day,1,@FechaIni)


    SELECT        FORMAT(P.FECHA_SISTEMA, 'dd/MM/yyyy') as FECHA_SISTEMA, T.DESCRIPCION AS POLIZA, P.ESTATUS, E.DESCRIPCION AS ERROR_DET
    FROM            PO.SAF_POLIZA_HISTORICO_ENC AS P LEFT OUTER JOIN
                             PO.SAF_POLIZA_ERRORES AS E ON E.FECHA_SISTEMA = P.FECHA_SISTEMA AND E.ID_POLIZA = P.ID_POLIZA LEFT OUTER JOIN
                             PO.CAT_TIPO_POLIZA AS T ON P.ID_POLIZA = T.ID
    WHERE        (@FechaIni <= P.FECHA_ENVIO_INI) AND (P.FECHA_ENVIO_INI < @FechaFin)
    UNION
    SELECT        FORMAT(P.FECHA_SISTEMA, 'dd/MM/yyyy') as FECHA_SISTEMA, T.DESCRIPCION AS POLIZA, P.ESTATUS, E.DESCRIPCION AS ERROR_DET
    FROM            PO.SAF_POLIZA_HISTORICO_ENC AS P INNER JOIN
                             PO.SAF_POLIZA_ERRORES_HIST AS E ON E.FECHA_SISTEMA = P.FECHA_SISTEMA AND E.ID_POLIZA = P.ID_POLIZA INNER JOIN
                             PO.CAT_TIPO_POLIZA AS T ON P.ID_POLIZA = T.ID
    WHERE        (@FechaIni <= P.FECHA_ENVIO_INI) AND (P.FECHA_ENVIO_INI < @FechaFin) and E.FECHA_GENERACION > @FechaIni

END
GO
