SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_COM_TRASPASO]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 48
        ,@FECHA_FIN_DIA date

    set @FECHA_FIN_DIA = DATEADD(day, 1, @FECHA_INICIO)

	BEGIN TRY
		BEGIN TRANSACTION
			
		DELETE FROM PO.SAF_MOV_TRASPASO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA 
		
	    --    >>>>>>>>>>>> Movimientos de etapa y cedido <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
        SELECT NUM_CREDITO,IND_ETAPA_RIESGO_MANUAL
        into #ETAPA_RIESGO_MANUAL
        FROM Quiero_Confianza_shadow.PR.PR_RECLASIFICACION_ETAPA_RIESGO
        where DATEADD(D,-1,@FECHA_INICIO) <= fec_reclasificacion and fec_reclasificacion < DATEADD(D,1,@FECHA_INICIO) and IND_ETAPA_RIESGO_MANUAL = 'S'

		--DIA ACTUAL
		SELECT * INTO #CRED FROM PO.CONTROL_HISTORICO_TRASPASOS WHERE FECHA_SISTEMA = @FECHA_INICIO
		--DIA ANTERIOR
		SELECT * INTO #CRED_ANT FROM PO.CONTROL_HISTORICO_TRASPASOS WHERE FECHA_SISTEMA = DATEADD(D,-1,@FECHA_INICIO)
 
		
		DECLARE  @ID_EXTERNO			VARCHAR(15),	@NUM_CREDITO		INT
				 ,@NOM_CLIENTE		    VARCHAR(250)
				 ,@ID_PRODUCTO		    INT
				 ,@ID_TIPO_CREDITO		INT
				 ,@IND_ETAPA_ACTUAL	    INT,            @IND_ETAPA_ANTERIOR	INT = 0
				 ,@ID_FONDEO_ACTUAL		INT,			@ID_FONDEO_ANTERIOR	INT
				 ,@ES_TRASPASO		    VARCHAR(1) = 'S'
				 ,@LEYENDA				VARCHAR(70),	@EL_ID_FONDEO		VARCHAR(16)
				 ,@EL_ID_PRODUCTO		VARCHAR(11)
				 ,@TIPO_TRASPASO		INT = 0
				 ,@CRED_ANT		    	INT
                 ,@IND_ETAPA_RIESGO_MANUAL VARCHAR(1)	
				 ,@CANAL				VARCHAR(30),	@TIPO_CREDITO		VARCHAR(50)
				 ,@TIPO_CREDITO_ANT		VARCHAR(50)

        exec CursorCloseDeallocate 'db_cursor_poliza_traspaso'
        DECLARE db_cursor_poliza_traspaso CURSOR FOR

		    SELECT C.ID_EXTERNO, A.NUM_CREDITO, CL.NOM_CLIENTE, C.NUM_DESC_TIPO_CREDITO,
			    ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
                , I.IND_ETAPA, A.IND_ETAPA
                , I.ID_FONDEO, A.ID_FONDEO
                , 'N'
				, CP.NOMBRE_CORTO
				, dbo.FN_TIPO_CANAL(C.TIP_TASA)
		    FROM #CRED I
		    INNER JOIN #CRED_ANT A ON I.NUM_CREDITO = A.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C ON I.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza_shadow.CL.CL_CLIENTES CL ON C.COD_CLIENTE = CL.COD_CLIENTE
		    LEFT JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		    WHERE (
					(I.IND_ETAPA <> A.IND_ETAPA OR I.ID_FONDEO <> A.ID_FONDEO) AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
			    ) OR (
					I.ID_FONDEO <> A.ID_FONDEO AND C.NUM_DESC_TIPO_CREDITO IN (7)
			    )

        OPEN db_cursor_poliza_traspaso
            FETCH NEXT FROM db_cursor_poliza_traspaso
            INTO  @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_TIPO_CREDITO, @ID_PRODUCTO
                , @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR, @ID_FONDEO_ACTUAL ,@ID_FONDEO_ANTERIOR
                , @IND_ETAPA_RIESGO_MANUAL, @TIPO_CREDITO, @CANAL

        WHILE @@FETCH_STATUS = 0 BEGIN

			--- SE INICIALIZAN VARIABLES
			SELECT @LEYENDA = '', @EL_ID_FONDEO = IIF(@ID_FONDEO_ACTUAL = 2, 'NO RESTRINGIDO ', 'RESTRINGIDO '), @TIPO_TRASPASO = 0

			
				---- CONCEPTO SI HAY CAMBIO CEDIDOS (SR a R | R a SR)
				IF	@ID_FONDEO_ANTERIOR <> @ID_FONDEO_ACTUAL BEGIN

					SET @LEYENDA = IIF(@ID_FONDEO_ANTERIOR = 2 AND @ID_FONDEO_ACTUAL = 1, 'SR A R ', 'R A SR ')
					
					SET @TIPO_TRASPASO = @TIPO_TRASPASO | IIF(@ID_FONDEO_ANTERIOR = 2 AND @ID_FONDEO_ACTUAL = 1, 1, 2)

					EXEC PO.SP_COM_TRASPASO_INSERT @FECHA_INICIO, @NUM_CREDITO, @ID_EXTERNO, @LEYENDA, @ID_PRODUCTO,
						@ID_FONDEO_ACTUAL, @IND_ETAPA_ANTERIOR, @ID_TIPO_CREDITO, @NOM_CLIENTE,@IND_ETAPA_RIESGO_MANUAL, @IND_ETAPA_ANTERIOR, @TIPO_CREDITO, @CANAL 
				END
				
				UPDATE PO.SAF_MOV_TRASPASO
				SET IND_ETAPA_ANT = @IND_ETAPA_ANTERIOR, ID_FONDEO_ANT = @ID_FONDEO_ANTERIOR, TIPO_CREDITO_ANT = @TIPO_CREDITO
				WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
					AND NUM_CREDITO = @NUM_CREDITO AND (CONCEPTO_FINAL LIKE 'SR A R%' OR CONCEPTO_FINAL LIKE 'R A SR%')

				
				---- CONCEPTO SI HAY CAMBIO DE ETAPA
				IF @IND_ETAPA_ANTERIOR <> @IND_ETAPA_ACTUAL BEGIN

					SET @LEYENDA = CASE
						WHEN @IND_ETAPA_ANTERIOR = 1 AND @IND_ETAPA_ACTUAL = 2 THEN 'ET1 A ET2 '
						WHEN @IND_ETAPA_ANTERIOR = 1 AND @IND_ETAPA_ACTUAL = 3 THEN 'ET1 A ET3 '
						WHEN @IND_ETAPA_ANTERIOR = 2 AND @IND_ETAPA_ACTUAL = 3 THEN 'ET2 A ET3 '
						WHEN @IND_ETAPA_ANTERIOR = 3 AND @IND_ETAPA_ACTUAL = 1 THEN 'ET3 A ET1 '
						WHEN @IND_ETAPA_ANTERIOR = 2 AND @IND_ETAPA_ACTUAL = 1 THEN 'ET2 A ET1 '
						WHEN @IND_ETAPA_ANTERIOR = 3 AND @IND_ETAPA_ACTUAL = 2 THEN 'ET3 A ET2 ' ELSE ''
						END

					IF @LEYENDA != '' BEGIN
						SET @TIPO_TRASPASO = @TIPO_TRASPASO | 8
						EXEC PO.SP_COM_TRASPASO_INSERT @FECHA_INICIO, @NUM_CREDITO, @ID_EXTERNO, @LEYENDA, @ID_PRODUCTO,
						@ID_FONDEO_ACTUAL, @IND_ETAPA_ACTUAL, @ID_TIPO_CREDITO, @NOM_CLIENTE,@IND_ETAPA_RIESGO_MANUAL, @IND_ETAPA_ANTERIOR, @TIPO_CREDITO, @CANAL
					END
				END
				
				UPDATE PO.SAF_MOV_TRASPASO
				SET IND_ETAPA_ANT = @IND_ETAPA_ANTERIOR, ID_FONDEO_ANT = @ID_FONDEO_ACTUAL, TIPO_CREDITO_ANT = @TIPO_CREDITO
				WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
					AND NUM_CREDITO = @NUM_CREDITO AND CONCEPTO_FINAL LIKE 'ET%A ET%'
			


            FETCH NEXT FROM db_cursor_poliza_traspaso
            INTO  @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_TIPO_CREDITO, @ID_PRODUCTO
                , @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR, @ID_FONDEO_ACTUAL ,@ID_FONDEO_ANTERIOR
                , @IND_ETAPA_RIESGO_MANUAL, @TIPO_CREDITO, @CANAL
        END 

        CLOSE db_cursor_poliza_traspaso  
        DEALLOCATE db_cursor_poliza_traspaso

	    --    >>>>>>>>>>>> Movimientos de producto <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

        exec CursorCloseDeallocate 'db_cursor_poliza_traspaso_producto'
        DECLARE db_cursor_poliza_traspaso_producto CURSOR FOR

		    SELECT C.ID_EXTERNO, C.NUM_CREDITO, CL.NOM_CLIENTE, C.NUM_DESC_TIPO_CREDITO
			    , ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
                , CH.IND_ETAPA, CH.IND_ETAPA
                , CH.ID_FONDEO, CH.ID_FONDEO
                , 'N'
				, CP.NOMBRE_CORTO,CPA.NOMBRE_CORTO AS NOMBRE_CORTO_ANT
				, dbo.FN_TIPO_CANAL(C.TIP_TASA)
		    FROM PO.PR_CREDITO_EXTRA_HIST H
				LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = H.ID_PRODUCTO
				LEFT JOIN PO.PR_CREDITO_PRODUCTO CPA ON CPA.ID_PRODUCTO = H.ID_PRODUCTO_ANT
				LEFT JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C ON H.ID_EXTERNO = C.ID_EXTERNO
				LEFT JOIN Quiero_Confianza_shadow.CL.CL_CLIENTES CL ON C.COD_CLIENTE = CL.COD_CLIENTE
				LEFT JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
                LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
		    WHERE C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
                AND @FECHA_INICIO <= H.CREADO and H.CREADO < @FECHA_FIN_DIA

        OPEN db_cursor_poliza_traspaso_producto
            FETCH NEXT FROM db_cursor_poliza_traspaso_producto
            INTO  @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_TIPO_CREDITO, @ID_PRODUCTO
                , @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR, @ID_FONDEO_ACTUAL ,@ID_FONDEO_ANTERIOR
                , @IND_ETAPA_RIESGO_MANUAL, @TIPO_CREDITO, @TIPO_CREDITO_ANT, @CANAL

        WHILE @@FETCH_STATUS = 0 BEGIN


			SET @LEYENDA = SUBSTRING(@TIPO_CREDITO_ANT,1,3) + ' A ' + SUBSTRING(@TIPO_CREDITO,1,3) + ' ' 

			EXEC PO.SP_COM_TRASPASO_INSERT @FECHA_INICIO, @NUM_CREDITO, @ID_EXTERNO, @LEYENDA, @ID_PRODUCTO,
				@ID_FONDEO_ACTUAL, @IND_ETAPA_ANTERIOR, @ID_TIPO_CREDITO, @NOM_CLIENTE,@IND_ETAPA_RIESGO_MANUAL, @IND_ETAPA_ANTERIOR, @TIPO_CREDITO, @CANAL 

			UPDATE PO.SAF_MOV_TRASPASO
			SET IND_ETAPA_ANT = @IND_ETAPA_ANTERIOR, ID_FONDEO_ANT = @ID_FONDEO_ANTERIOR, TIPO_CREDITO_ANT = @TIPO_CREDITO_ANT
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
				AND NUM_CREDITO = @NUM_CREDITO AND CONCEPTO_FINAL like @LEYENDA+'%' AND TIPO_CREDITO_ANT IS NULL


            FETCH NEXT FROM db_cursor_poliza_traspaso_producto
            INTO  @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_TIPO_CREDITO, @ID_PRODUCTO
                , @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR, @ID_FONDEO_ACTUAL ,@ID_FONDEO_ANTERIOR
                , @IND_ETAPA_RIESGO_MANUAL, @TIPO_CREDITO, @TIPO_CREDITO_ANT, @CANAL
        END 

        CLOSE db_cursor_poliza_traspaso_producto  
        DEALLOCATE db_cursor_poliza_traspaso_producto
		
		-- ELIMINACION DE REGISTROS NO NECESARIOS
		DELETE FROM PO.SAF_MOV_TRASPASO WHERE MONTO = 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
		DELETE FROM PO.SAF_MOV_TRASPASO WHERE CONCEPTO IS NULL AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
		
		-- DUPLICAR MOVIMIENTO DE ORDEN 
		INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL,
			    CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
			    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO,COD_CLIENTE, TABLA_ORIGEN, ID_POLIZA,
				ES_DETECTADO, TIPO_VIVIENDA_ANT, IND_ETAPA_ANT, ID_FONDEO_ANT, CANAL, TIPO_CREDITO_ANT)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL,
			    CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, 0, ID_TIPO_CREDITO, 
			    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
			    FEC_APERTURA, CEDIDO,COD_CLIENTE, 'TRASPASO CMR', @ID_POLIZA, 2, TIPO_VIVIENDA_ANT, IND_ETAPA_ANT, ID_FONDEO_ANT, CANAL, TIPO_CREDITO_ANT
		FROM PO.SAF_MOV_TRASPASO
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO
            AND CONCEPTO = 'ORDEN' AND ES_DETECTADO = 1

        
        update PO.SAF_MOV_TRASPASO
        set IND_COVID = ''
        where FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA
            and IND_COVID is null

		--- UPDATE CONCEPTO ACTUAL
 		UPDATE PO.SAF_MOV_TRASPASO
				SET CONCEPTO = CONCAT('CMR PAGO ',
				IIF(IND_COVID = 'S', 'COVID ', ''),
				dbo.FN_RUBRO_POL(RUBRO), ' ',
				TIPO_CREDITO,
				' ', CANAL,' ',
				IIF(ID_FONDEO = 2, 'NO ', ''), 'RESTRINGIDO ', 
				IND_ETAPA)
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA
		
		-- UPDATE CONCEPTO ANTERIOR
		UPDATE PO.SAF_MOV_TRASPASO
			SET CONCEPTO_ANT = CONCAT('CMR PAGO ',
				IIF(IND_COVID = 'S', 'COVID ', ''),
				dbo.FN_RUBRO_POL(RUBRO), ' ',
				TIPO_CREDITO_ANT,
				' ', CANAL,' ',
				IIF(ID_FONDEO_ANT = 2, 'NO ', ''), 'RESTRINGIDO ', 
				IND_ETAPA_ANT)
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA

		UPDATE PO.SAF_MOV_TRASPASO -- concepto para devengo de etapa 3 cuentas 5002
			SET CONCEPTO_ANT = CONCAT('CMR PAGO CO ',
				IIF(IND_COVID = 'S', 'COVID ', ''),
				dbo.FN_RUBRO_POL(RUBRO), ' ',
				TIPO_CREDITO_ANT,
				' ', CANAL,' ',
				IIF(ID_FONDEO_ANT = 2, 'NO ', ''), 'RESTRINGIDO ',
                IND_ETAPA_ANT)
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA
                AND IND_ETAPA_ANT = 3 AND IND_ETAPA IN (1,2) AND RUBRO <> 'PRINCIPAL' and IND_COVID <> 'S'
				AND ES_DETECTADO IS NULL

		-- SE ACTUAILIZAN CONCEPTOS CCO PARA REGISTROS DE ORDEN
		UPDATE PO.SAF_MOV_TRASPASO
		SET CONCEPTO = REPLACE(CONCEPTO,'PAGO','PAGO CCO'),
		CONCEPTO_ANT = REPLACE(CONCEPTO_ANT,'PAGO','PAGO CCO')
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ES_DETECTADO IS NOT NULL

        -- SE ACTUAILIZAN CONCEPTOS
		UPDATE H
		SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
		SET H.ID_CONCEPTO_ANT = C.ID
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO_ANT 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS: CARGO
		UPDATE H
		SET H.CUENTA_CARGO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
			AND ES_DETECTADO IS NULL

		--- ASIGNACION DE CUENTAS: ABONO
		UPDATE H
		SET H.CUENTA_ABONO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
			AND ES_DETECTADO IS NULL

		-- ASIGNACIÓN DE CUENTAS MOVIMIENTOS CCO 
		-- MOVIMIENTO CARGO
		UPDATE H
		SET H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
			AND ES_DETECTADO = 1

		UPDATE H
		SET H.CUENTA_ABONO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
			AND ES_DETECTADO = 1 
		-- MOVIMIENTO ABONO 
		UPDATE H
		SET H.CUENTA_CARGO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
			AND ES_DETECTADO = 2

		UPDATE H
		SET H.CUENTA_ABONO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
			AND ES_DETECTADO = 2 

		--ACTUALIZACION DE CAMPOS: CEDIDO, FEC_APERTURA, TIPO_CREDITO, NOMBRE_PRODUCTO
		UPDATE H
		SET CEDIDO = [dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA),
			FEC_APERTURA = C.FEC_APERTURA,
			NOMBRE_PRODUCTO = CP.NOMBRE_CORTO
		FROM PO.SAF_MOV_TRASPASO H
			LEFT JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C ON H.NUM_CREDITO = C.NUM_CREDITO
			LEFT JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
            AND C.IND_ESTADO IN ('C', 'D') AND C.IND_LINEA = 'N'		

        -- complemento de movimientos para etapa 3 cuentas de orden
		INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL,
			    CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
			    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO,COD_CLIENTE, TABLA_ORIGEN, ID_POLIZA, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL,
			    CONCAT(CASE
					WHEN IND_FORMA_PAGO = 5 THEN 'CMR PAGO CCO SALDO_FAVOR ' --Pago que se aplica utilizando saldo a favor "este es descarga saldo a favor"
					ELSE 'CMR PAGO CCO '
				END,
				IIF(IND_COVID = 'S', 'COVID ', ''), --# Si el registro tiene COVID le agrega la palabra
				RUBRO + ' ',  --# Si no es saldo a favor le agrega el rubro
				LTRIM(RTRIM(TIPO_CREDITO)),
				' ', CANAL,' ',IIF(ID_FONDEO = 2, 'NO ', ''),'RESTRINGIDO ', IND_ETAPA_ANT) ,
			    NOMBRE_PRODUCTO, RUBRO, MONTO, 0, ID_TIPO_CREDITO, 
			    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
			    FEC_APERTURA, CEDIDO,COD_CLIENTE, 'TRASPASO CMR', @ID_POLIZA, CANAL
		FROM PO.SAF_MOV_TRASPASO
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO
            AND IND_ETAPA_ANT = 3 AND IND_ETAPA IN (1,2) and rubro <> 'PRINCIPAL' and IND_COVID <> 'S'
			AND ES_DETECTADO IS NULL

		--- ASIGNACION DE CUENTAS movimientos para etapa 3 cuentas de orden
		UPDATE H
		SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA and H.CONCEPTO LIKE '% CCO %'
			AND ES_DETECTADO IS NULL

		UPDATE H
		SET H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA and H.CONCEPTO LIKE '% CCO %'
			AND ES_DETECTADO IS NULL

		-- SE ACTUALIZAN LOS CONCEPTOS DE PAGO PRINCIPAL
		UPDATE PO.SAF_MOV_TRASPASO
		SET CONCEPTO = REPLACE(CONCEPTO,'PAGO','TRASPASO'),
			CONCEPTO_ANT = REPLACE(CONCEPTO_ANT,'PAGO','TRASPASO')
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO

        --no deben quedar nulos en las cuentas
        UPDATE PO.SAF_MOV_TRASPASO
        SET   CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_TRASPASO
        SET   CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA and CUENTA_CARGO is null


	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY,TIPO varchar(1))
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO, TIPO)
		SELECT CONCEPTO_FINAL, A.CUENTA_CARGO AS CUENTA, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO,'C'
		FROM [PO].[SAF_MOV_TRASPASO] A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO, TIPO)
		SELECT CONCEPTO_FINAL, A.CUENTA_ABONO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_ABONO,'A'
		FROM [PO].[SAF_MOV_TRASPASO] A
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
			

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		GROUP BY CONCEPTO, CUENTA, TIPO

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		COMMIT

	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
