SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion: 	20240913
-- Descripcion:	Actualiza el estado de la transmicion de una poliza en especifico a dynamics
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_ENVIO_1P_ESTADO_ACT]
	@FECHA DATE
    ,@ID_POLIZA INT
    ,@ESTADO VARCHAR(10)
    ,@DESCRIPCION VARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;

    if @ESTADO = 'ERROR' begin

	    INSERT INTO PO.SAF_POLIZA_ERRORES(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
        select @DESCRIPCION, FECHA_SISTEMA, ID_POLIZA
        from PO.SAF_POLIZA_HISTORICO_ENC
        where FECHA_SISTEMA = @FECHA AND ID_POLIZA = @ID_POLIZA

    end

    update [PO].[SAF_POLIZA_HISTORICO_ENC]
    set ESTATUS = case when @ESTADO = 'FINISHED' then 'ENVIADA' else @ESTADO end
    where FECHA_SISTEMA = @FECHA AND ID_POLIZA = @ID_POLIZA


END
GO
