SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_SIN_IDENTIFICAR](
	[ID] [varchar](50) NULL,
	[ID_CARGA] [int] NULL,
	[ID_DEPOSITO] [int] NULL,
	[ESTADO] [varchar](1) NULL,
	[FECHA_IDENTIFICADO] [datetime] NULL,
	[FECHA] [datetime] NULL
) ON [PRIMARY]
GO
