SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_CONTROL_PAGOS_NO_IDENTIFICADOS](
	[ID] [uniqueidentifier] NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_CARGA] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_CONTROL_PAGOS_NO_IDENTIFICADOS] ADD  DEFAULT (newid()) FOR [ID]
GO
