SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20260209
-- Descripcion:	Reporte de saldos remanentes de reestructuras de creditos castigados
-- =============================================
CREATE PROCEDURE [RPT].[CASTIGO_REEST_SALDOS]
	@FECHA_SISTEMA DATETIME
AS
BEGIN
	SET NOCOUNT ON;

	SELECT NUM_CREDITO,COD_CONCEPTO,TIPO,MAX(fecha_sistema) AS FECHA_SISTEMA
	INTO #referencia
	FROM [PO].[PR_REEST_CAST_DET]
	WHERE fecha_sistema <= @FECHA_SISTEMA
	GROUP BY NUM_CREDITO,COD_CONCEPTO,TIPO


	SELECT D.NUM_CREDITO,C.ID_EXTERNO,D.COD_CONCEPTO,D.TIPO,D.FECHA_SISTEMA,D.MON_PAGO
	FROM [PO].[PR_REEST_CAST_DET] D
		INNER JOIN #referencia R ON D.NUM_CREDITO = R.NUM_CREDITO AND D.COD_CONCEPTO = R.COD_CONCEPTO AND D.TIPO = R.TIPO AND D.FECHA_SISTEMA = R.FECHA_SISTEMA
		INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON D.NUM_CREDITO = C.NUM_CREDITO
	ORDER BY NUM_CREDITO,COD_CONCEPTO,TIPO

END
GO
