SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[TASAS_ALERTAS](
	[ID] [uniqueidentifier] NOT NULL,
	[NUM_CREDITO] [int] NOT NULL,
	[NUM_CUOTA] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[TASA] [numeric](9, 6) NOT NULL,
	[MONTO_FIJO] [numeric](12, 2) NOT NULL,
	[ESTADO] [varchar](1) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[REGISTRADO_FECHA] [datetime] NOT NULL,
	[REGISTRADO_POR] [varchar](100) NULL,
	[MODIFICADO_FECHA] [datetime] NULL,
	[MODIFICADO_POR] [varchar](100) NULL,
 CONSTRAINT [PK_TASAS_ALERTAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SAF].[TASAS_ALERTAS] ADD  CONSTRAINT [DF_TASAS_ALERTAS_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [SAF].[TASAS_ALERTAS] ADD  CONSTRAINT [DF_TASAS_ALERTAS_ACTIVO]  DEFAULT ((1)) FOR [ACTIVO]
GO
ALTER TABLE [SAF].[TASAS_ALERTAS] ADD  CONSTRAINT [DF_TASAS_ALERTAS_REGISTRADO_FECHA]  DEFAULT (getdate()) FOR [REGISTRADO_FECHA]
GO
