SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_ESTATUS_SAF_20260817](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Desarrollador] [nvarchar](200) NULL,
	[Monto] [numeric](18, 2) NOT NULL,
	[Estatus] [nvarchar](100) NULL,
	[fecha_firma] [datetime2](7) NULL,
	[bloqueo_principal] [nvarchar](50) NULL,
	[fecha_actualizacion] [datetime2](7) NOT NULL,
	[nuc] [nvarchar](50) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[producto] [nvarchar](30) NOT NULL,
	[tipo_credito] [nvarchar](20) NOT NULL,
	[slug] [nvarchar](220) NULL,
	[Prioridad] [int] NOT NULL,
	[revisor_asignado] [nvarchar](200) NULL,
	[checklist_version_id] [uniqueidentifier] NULL,
	[ejecutivo_asignado] [nvarchar](256) NULL,
	[tipo_producto] [nvarchar](100) NULL,
	[ejecutivo_comercial] [nvarchar](256) NULL,
	[grupo] [nvarchar](300) NULL,
	[estado_aprobacion] [nvarchar](50) NULL,
	[sp_fecha_creacion] [datetime2](7) NULL,
	[proyecto] [nvarchar](400) NULL,
	[sistema_originacion] [nvarchar](50) NULL,
	[sp_creado_por] [nvarchar](256) NULL,
	[acreditado] [nvarchar](400) NULL,
	[estado_documental] [nvarchar](40) NULL,
	[estado_credito] [nvarchar](40) NULL,
	[estado_credito_fuente] [nvarchar](40) NULL,
	[estado_credito_referencia] [nvarchar](120) NULL,
	[estado_credito_comentario] [nvarchar](400) NULL,
	[estado_credito_fecha] [datetime2](7) NULL,
	[estado_credito_usuario] [nvarchar](150) NULL,
	[rfc] [nvarchar](20) NULL,
	[nombres] [nvarchar](150) NULL,
	[apellido_paterno] [nvarchar](100) NULL,
	[apellido_materno] [nvarchar](100) NULL
) ON [PRIMARY]
GO
