SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CONFIG_SISTEMA](
	[Id] [uniqueidentifier] NOT NULL,
	[producto] [nvarchar](50) NOT NULL,
	[clave] [nvarchar](100) NOT NULL,
	[valor] [nvarchar](max) NULL,
	[tipo] [nvarchar](20) NULL,
	[etiqueta] [nvarchar](200) NULL,
	[grupo] [nvarchar](100) NULL,
	[modificado_por] [nvarchar](256) NULL,
	[fecha_modificacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CONFIG_SISTEMA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
