SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_ACTA_MONTO_20260818](
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[monto_autorizado] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
