SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_DI_GRUPO_20260727](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](20) NOT NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[producto] [nvarchar](30) NOT NULL,
	[Rol] [nvarchar](100) NULL,
	[checklist_version_id] [uniqueidentifier] NULL,
	[checklist_doc_patron] [nvarchar](200) NULL
) ON [PRIMARY]
GO
