SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_DI_AREA_20260727](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](20) NOT NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[checklist_grupo_id] [uniqueidentifier] NULL,
	[producto] [nvarchar](30) NOT NULL,
	[checklist_version_id] [uniqueidentifier] NULL,
	[nombre_amigable] [nvarchar](200) NULL,
	[visible_cliente] [bit] NOT NULL
) ON [PRIMARY]
GO
