SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250526
-- Descripcion:	Vista para los datos de cierre comercial de SAF, datos generales seleccion de riesgos
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_CMR_GEN_DIA_RIESGOS_VIS]
	@FECHA DATE
AS
BEGIN
	SET NOCOUNT ON;

    SELECT MIN(FECHA_SISTEMA) AS FECHA_CORTE
        ,ID_EXTERNO+MIN(SECCION_DESC) AS LLAVE 
        ,ID_EXTERNO AS FOLIO

        ,MIN(CARTERA) AS ADMINISTRADA
        ,MIN(isnull(OPERACION,'')) AS OPERACION
        ,MIN(CREDITO_TIPO_L) AS TIPO_CREDITO
        ,MIN(RESTRINGIDO) AS TIPO_CARTERA
        ,MIN(ACREDITADO) AS ACREDITADO
        ,MIN(isnull(PROYECTO,'')) AS NOMBRE_PROYECTO
        ,SUM(LINEA) AS IMPTE_AUT_CREDITO
        ,MIN(APERTURA) AS FECHA_APERTURA
        ,MAX(VENCIMIENTO) AS FECHA_VENCIMIENTO
        ,MAX(isnull(CUOTAS_VENCIDAS,0)) AS CUOTAS_VENCIDAS
        ,MAX(isnull(DATEDIFF(day,DEBE_DESDE,@FECHA),0)) AS DIAS_VENCIDOS
        ,MIN(ESTADO_CARTERA) AS COD_ESTADO_CARTERA
        ,SUM(isnull(SAL_CAPITAL,0)) AS TOTAL_CAPITAL
        ,SUM(isnull(DEV_INTERESES,0)) AS INT_VIGENTE
        ,SUM(isnull(SAL_CAPITAL,0)+isnull(DEV_INTERESES,0)) AS SALDO_CONTABLE
        ,MAX(TASA_INTERES) AS TASA_TOTAL
        ,MIN(TASA_TIPO) AS TIPO_TASA
        ,MAX(PRIMER_DESEM) AS PRIMER_DISPOSICION
        ,isnull(FORMAT(MAX(LIQUIDADO), 'dd/MM/yyyy'),'') AS LIQUIDADO


        ,SUM(isnull(CAPITAL_INICIAL,0)) AS CAPITAL_INICIAL
        ,SUM(isnull(ANTICIPOS_MINISTRACIONES,0)) AS ANTICIPOS_MINISTRACIONES
        ,SUM(isnull(PAGADO_CAPITAL,0)) AS PAGADO_CAPITAL
        ,SUM(isnull(CARTERA_SHF_70,0)) AS CARTERA_SHF_70
        ,SUM(isnull(SALDO_INI_AJUSTE,0)) AS SALDO_INI_AJUSTE
        ,SUM(isnull(CAPITAL_FINAL,0)) AS CAPITAL_FINAL
        ,SUM(isnull(INTERESES_EXIGIBLES_ANT,0)) AS INTERESES_EXIGIBLES_ANT
        ,SUM(isnull(INTERESES_NO_EXIGIBLES_ANT,0)) AS INTERESES_NO_EXIGIBLES_ANT
        ,SUM(isnull(INTERESES_EXIGIBLES,0)) AS INTERESES_EXIGIBLES
        ,SUM(isnull(INTERESES_NO_EXIGIBLES,0)) AS INTERESES_NO_EXIGIBLES
        ,SUM(isnull(PAGADO_INTERESES_IVA,0)) AS PAGADO_INTERESES_IVA
        ,SUM(isnull(SEGUROS,0)) AS SEGUROS
        ,SUM(isnull(PAGADO_CAPITAL,0)) AS AMORTIZACION_PERIODO
        ,SUM(isnull(INTERESES_VENCIDOS_IVA,0)) AS INTERESES_VENCIDOS_IVA
        ,SUM(isnull(SEGUROS_VENCIDOS_IVA,0)) AS SEGUROS_VENCIDOS_IVA
        ,SUM(isnull(AMORTIZACION_VENCIDA,0)) AS AMORTIZACION_VENCIDA
        ,SUM(isnull(MORATORIOS,0)) AS MORATORIOS
        ,SUM(isnull(MORATORIOS_IVA,0)) AS MORATORIOS_IVA
        ,SUM(isnull(INTERESES_ACCESORIOS,0)) AS INTERESES_ACCESORIOS--Son intereses adicionales distintos a los ordinarios, este campo contiene moratorios y comisiones.
        ,SUM(isnull(PAGADO_INTERESES,0)) AS PAGADO_INTERESES
        ,SUM(isnull(PAGADO_INTERESES_EXIGIBLES,0)) AS PAGADO_INTERESES_EXIGIBLES
        ,SUM(isnull(DEV_PAG_INT_IVA,0)) AS PAGADO_INTERESES_IVA
        ,SUM(isnull(PAGADO_SEGURO_VIDA + PAGADO_SEGURO_DANOS,0)) AS PAGADO_SEGURO
        ,SUM(isnull(PAGADO_MORATORIOS,0)) AS PAGADO_MORATORIOS
        ,SUM(isnull(PAGADO_MORATORIOS_IVA,0)) AS PAGADO_MORATORIOS_IVA
        ,SUM(isnull(PAGADO_TOTAL,0)) AS PAGADO_TOTAL
        ,SUM(isnull(RECALCULO_INTERESES,0)) AS RECALCULO_INTERESES
        ,SUM(isnull(SALDO_MORATORIOS,0)) AS SALDO_MORATORIOS
        ,SUM(isnull(SALDO_CAPITAL_INTERESES,0)) AS SALDO_CAPITAL_INTERESES
        ,SUM(isnull(RECLASIFICACION_COBRANZA,0)) AS RECLASIFICACION_COBRANZA
        ,SUM(isnull(DISPONIBLE,0)) AS DISPONIBLE
        ,SUM(isnull(MONTO_CONDONACION,0)) AS MONTO_CONDONACION
        ,SUM(isnull(MONTO_QUITAS,0)) AS MONTO_QUITAS
        ,SUM(isnull(MONTO_CASTIGOS,0)) AS MONTO_CASTIGOS
        ,SUM(isnull(MONTO_BONIFICACION,0)) AS MONTO_BONIFICACION
        ,SUM(isnull(MONTO_DESCUENTO,0)) AS MONTO_DESCUENTO
        ,SUM(isnull(INTERESES_ACCESORIOS_EXIGIBLE,0)) AS MONTO_EXIGIBLE_COM--MONTOEXIGIBLECOM-Monto exigible por concepto de intereses y otros accesorios en el periodo.
        ,isnull(MAX(ETAPA_RIESGO),'') AS ETAPA_RIESGO
        ,isnull(MAX(ETAPA_RIESGO_ANT),'') AS ETAPA_RIESGO_ANT
        ,isnull(MAX(BAJA_TIPO),'') AS TIPO_BAJA
        ,SUM(isnull(DEV_PAG_INT,0)) AS INT_DEVENG_PAGADOS


        /*,ACREDITADO
        ,isnull(PROYECTO,'') AS PROYECTO
        ,ADMINISTRADA
        ,isnull(FORMAT(APERTURA, 'dd/MM/yyyy'),'-') AS APERTURA
        ,isnull(FORMAT(VENCIMIENTO, 'dd/MM/yyyy'),'-') AS VENCIMIENTO
        ,isnull(CUOTAS_VENCIDAS,'-') AS CUOTAS_VENCIDAS
        ,isnull(FORMAT(DEBE_DESDE, 'dd/MM/yyyy'),'-') AS DEBE_DESDE
        ,ESTADO_CARTERA
        ,TASA_INTERES
        ,OPERACION
        ,CANAL
        ,SEGUROS_VENCIDOS
        ,MONTO_EXIGIBLE
        ,CAPITAL_VENCIDO
        ,isnull(ESTADO_CARTERA_ANT,'') AS ESTADO_CARTERA_ANT
        ,CARTERA
        ,isnull(CARTERA_ANT,'') AS CARTERA_ANT
        ,CEDIDO
        ,isnull(CEDIDO_ANT,'') AS CEDIDO_ANT
        ,CORTE
        ,ORDEN_SEGUROS
        ,ORDEN_INTERESES
        ,isnull(DIAS_VENCIDOS,0) AS DIAS_VENCIDOS
        ,isnull(FORMAT(POSTERGAR_FIN, 'dd/MM/yyyy'),'') AS POSTERGAR_FIN
        ,isnull(ORDEN_IVA,0) AS ORDEN_IVA
        ,LINEA
        ,PLAZO
        ,PROGRAMA_COVID
        ,CARTERA_TIPO
        ,isnull(CREDITO_TIPO,'') AS CREDITO_TIPO
        ,TASA_TIPO
        ,isnull(POSTERGAR_TOTAL,0) AS POSTERGAR_TOTAL
        ,isnull(GENERA_IVA,'') AS GENERA_IVA
        ,SALDO_PRINCIPAL_INI
        ,SALDO_PRINCIPAL_FIN
        ,SALDO_PRINCIPAL_COVID_INI
        ,SALDO_PRINCIPAL_COVID_FIN
        ,SALDO_INTERESES_ORDINARIOS_INI
        ,SALDO_INTERESES_ORDINARIOS_FIN
        ,SALDO_INTERESES_COVID_INI
        ,SALDO_INTERESES_COVID_FIN
        ,SALDO_MORATORIOS_COMISIONES_INI
        ,SALDO_IVA_BALANCE
        ,SALDO_IVA_ORDEN
        ,SALDO_SEGURO_BALANCE
        ,SALDO_SEGURO_ORDEN
        ,SALDO_INTERESES_ORDEN
        ,SALDO_MORATORIOS_COMISIONES_ORDEN
        ,isnull(DEV_INTERESES,0) AS DEV_INTERESES
        ,isnull(DEV_MORATORIOS_COMISIONES,0) AS DEV_MORATORIOS_COMISIONES*/
    FROM [CIERRE].[CMR_REP]
    where FECHA_SISTEMA = @FECHA
    GROUP BY ID_EXTERNO

END
GO
