SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [CIERRE].[SP_CMR_RPT_CIERRE_VIS]
(
    @Fecha DATE
)
AS
BEGIN

    SET NOCOUNT ON

    SELECT       
		MIN(C.SECCION_DESC) AS SECCION,
		MIN(C.NUM_CREDITO) AS NUM_CREDITO,
		C.ID_EXTERNO,
		MIN(C.ACREDITADO) AS ACREDITADO,
		MIN(C.PROYECTO) AS PROYECTO,
		MIN(C.CREDITO_TIPO) AS CREDITO_TIPO,
		MIN(C.CORTE) AS CORTE,
		MIN(C.CEDIDO_ANT) AS CEDIDO_ANT,
		MIN(C.CEDIDO) AS CEDIDO,
		MIN(C.CARTERA_TIPO) AS CARTERA_TIPO,
		MIN(C.LINEA) AS LINEA,
		SUM(C.DESEMBOLSOS) AS DESEMBOLSOS,
		SUM(C.DISPONIBLE) AS DISPONIBLE,
		CONVERT(VARCHAR(10), MIN(C.APERTURA), 103) AS APERTURA,
		CONVERT(VARCHAR(10), MIN(C.VENCIMIENTO), 103) AS VENCIMIENTO,
		MIN(C.PLAZO) AS PLAZO,

		SUM(ISNULL(S_PRINCIPAL.SALDO,0) - ISNULL(SC_PRINCIPAL.SALDO,0))  AS PRINCIPAL,
		SUM(ISNULL(SC_PRINCIPAL.SALDO,0)) AS PRINCIPAL_COVID,
		SUM(ISNULL(S_PRINCIPAL.SALDO,0)) AS TOTAL_PRINCIPAL,

		SUM(ISNULL(S_INTERESES.SALDO,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO,0) - ISNULL(SO_INTERESES.SALDO,0) - ISNULL(SC_INTERESES.SALDO,0)) AS INT_ORD_BALANCE,
		SUM(ISNULL(SC_INTERESES.SALDO,0)) AS INT_COVID_BALANCE,
		SUM(ISNULL(S_INTERESES.SALDO,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO,0) - ISNULL(SO_INTERESES.SALDO,0)) AS TOTAL_INT_BALANCE,

		SUM(ISNULL(S_MORATORIO.SALDO,0) - ISNULL(SO_MORATORIO.SALDO,0) + ISNULL(S_COMISION.SALDO,0) - ISNULL(SO_COMISION.SALDO,0)) AS MORATORIO_BALANCE,

		SUM(ISNULL(S_PRINCIPAL.SALDO,0) + ISNULL(S_INTERESES.SALDO,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO,0) - ISNULL(SO_INTERESES.SALDO,0) + ISNULL(S_MORATORIO.SALDO,0) - ISNULL(SO_MORATORIO.SALDO,0) + ISNULL(S_COMISION.SALDO,0) - ISNULL(SO_COMISION.SALDO,0)) AS SALDO_CARTERA_BALANCE,

		SUM(ISNULL(SO_INTERESES.SALDO,0)) AS INT_ORIDNARIO_CO,
		SUM(ISNULL(SO_MORATORIO.SALDO,0) + ISNULL(SO_COMISION.SALDO,0)) AS MORATORIOS_CO,
		SUM(ISNULL(SO_INTERESES.SALDO,0) + ISNULL(SO_MORATORIO.SALDO,0) + ISNULL(SO_COMISION.SALDO,0)) AS SALDO_CARTERA_CO,

		SUM(ISNULL(S_INTERESES.SALDO_IVA,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO_IVA,0) - ISNULL(SO_INTERESES.SALDO_IVA,0) - ISNULL(SC_INTERESES.SALDO_IVA,0)) AS IVA_INT_BALANCE,
		SUM(ISNULL(SC_INTERESES.SALDO_IVA,0)) AS IVA_INT_COVID,
		SUM(ISNULL(S_SEG_VID.SALDO,0) + ISNULL(S_SEG_DAN.SALDO,0) - ISNULL(SO_SEG_VID.SALDO,0) - ISNULL(SO_SEG_DAN.SALDO,0) - ISNULL(SC_SEG_VID.SALDO,0) - ISNULL(SC_SEG_DAN.SALDO,0)) AS SEGURO_BALANCE,
		SUM(ISNULL(SC_SEG_VID.SALDO,0) + ISNULL(SC_SEG_DAN.SALDO,0)) AS SEGURO_COVID_BALANCE,

		SUM(ISNULL(S_INTERESES.SALDO_IVA,0) + ISNULL(S_INT_NO_EXIGIBLE.SALDO_IVA,0) - ISNULL(SO_INTERESES.SALDO_IVA,0)+ ISNULL(S_SEG_VID.SALDO,0) + ISNULL(S_SEG_DAN.SALDO,0) - ISNULL(SO_SEG_VID.SALDO,0) - ISNULL(SO_SEG_DAN.SALDO,0)) AS SALDO_ACCESORIOS_BALANCE,

		SUM(ISNULL(SO_INTERESES.SALDO_IVA,0) + ISNULL(SO_MORATORIO.SALDO_IVA,0) + ISNULL(SO_COMISION.SALDO_IVA,0) + ISNULL(SO_SEG_VID.SALDO_IVA,0) + ISNULL(SO_SEG_DAN.SALDO_IVA,0)) AS IVA_INT_CO,
		SUM(ISNULL(SO_SEG_VID.SALDO,0) + ISNULL(SO_SEG_DAN.SALDO,0)) AS SEGURO_CO,
		SUM(ISNULL(SO_INTERESES.SALDO_IVA,0) + ISNULL(SO_MORATORIO.SALDO_IVA,0) + ISNULL(SO_COMISION.SALDO_IVA,0) + ISNULL(SO_SEG_VID.SALDO_IVA,0) + ISNULL(SO_SEG_DAN.SALDO_IVA,0) + ISNULL(SO_SEG_VID.SALDO,0) + ISNULL(SO_SEG_DAN.SALDO,0)) AS SALDO_ACCESORIOS_CO,
		
		MIN(C.DEBE_DESDE) AS DEBE_DESDE,
		MIN(C.DIAS_VENCIDOS) AS DIAS_VENCIDOS,
		MIN(C.CUOTAS_VENCIDAS) AS CUOTAS_VENCIDAS,
		MIN(C.ETAPA_RIESGO_ANT) AS ETAPA_RIESGO_ANT,
		MIN(C.ETAPA_RIESGO) AS ETAPA_RIESGO,
		CONCAT('TIIE + ', CAST(MIN(C.TASA_INTERES) AS VARCHAR(20)), '%') AS TASA_CONTRATO,
		MIN(C.TASA_INTERES) AS TASA_INTERES,
		0 AS CUOTAS_COVID_POSPUESTAS,
		MIN(C.PROGRAMA_COVID) AS PROGRAMA_COVID,
		MIN(C.DIRECCION_PROYECTO) AS UBICACION,
		MIN(C.GENERA_IVA) AS GENERA_IVA

    FROM [CIERRE].[CMR_REP] C
		--Saldos totales
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_PRINCIPAL ON S_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND S_PRINCIPAL.RUBRO = 'PRINCIPAL' AND S_PRINCIPAL.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_PRINCIPAL.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_INTERESES ON S_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND S_INTERESES.RUBRO = 'INTERESES' AND S_INTERESES.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_INTERESES.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_VID   ON S_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND S_SEG_VID.RUBRO = 'SEGURO_VIDA' AND S_SEG_VID.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_SEG_VID.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_DAN   ON S_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND S_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND S_SEG_DAN.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_SEG_DAN.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_MORATORIO ON S_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND S_MORATORIO.RUBRO = 'MORATORIOS' AND S_MORATORIO.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_MORATORIO.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_COMISION  ON S_COMISION.NUM_CREDITO = C.NUM_CREDITO AND S_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND S_COMISION.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_COMISION.TIPO='N'
		LEFT JOIN [CIERRE].[SAF_SALDOS] S_INT_NO_EXIGIBLE ON S_INT_NO_EXIGIBLE.NUM_CREDITO = C.NUM_CREDITO AND S_INT_NO_EXIGIBLE.RUBRO = 'INTERES_NO_EXIGIBLES' AND S_INT_NO_EXIGIBLE.FECHA_SISTEMA=C.FECHA_SISTEMA AND S_INT_NO_EXIGIBLE.TIPO='N'
		--saldos orden A PARTIR DE LA ETAPA 3
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_INTERESES ON SO_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SO_INTERESES.RUBRO = 'INTERESES' AND SO_INTERESES.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_INTERESES.TIPO='O'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_SEG_VID   ON SO_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND SO_SEG_VID.RUBRO = 'SEGURO_VIDA' AND SO_SEG_VID.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_SEG_VID.TIPO='O'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_SEG_DAN   ON SO_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND SO_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND SO_SEG_DAN.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_SEG_DAN.TIPO='O'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_MORATORIO ON SO_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND SO_MORATORIO.RUBRO = 'MORATORIOS' AND SO_MORATORIO.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_MORATORIO.TIPO='O'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_COMISION  ON SO_COMISION.NUM_CREDITO = C.NUM_CREDITO AND SO_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND SO_COMISION.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_COMISION.TIPO='O'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SO_INT_NO_EXIGIBLE ON SO_INT_NO_EXIGIBLE.NUM_CREDITO = C.NUM_CREDITO AND SO_INT_NO_EXIGIBLE.RUBRO = 'INTERES_NO_EXIGIBLES' AND SO_INT_NO_EXIGIBLE.FECHA_SISTEMA=C.FECHA_SISTEMA AND SO_INT_NO_EXIGIBLE.TIPO='O'
		--saldos COVID CUOTAS A PAGAR AL FINAL DEL CREDITO (DIRECTAMENTE SE CONCIDERAN BALANCE)
		LEFT JOIN [CIERRE].[SAF_SALDOS] SC_PRINCIPAL ON SC_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND SC_PRINCIPAL.RUBRO = 'PRINCIPAL' AND SC_PRINCIPAL.FECHA_SISTEMA=C.FECHA_SISTEMA AND SC_PRINCIPAL.TIPO='C'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SC_INTERESES ON SC_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SC_INTERESES.RUBRO = 'INTERESES' AND SC_INTERESES.FECHA_SISTEMA=C.FECHA_SISTEMA AND SC_INTERESES.TIPO='C'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SC_SEG_VID   ON SC_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND SC_SEG_VID.RUBRO = 'SEGURO_VIDA' AND SC_SEG_VID.FECHA_SISTEMA=C.FECHA_SISTEMA AND SC_SEG_VID.TIPO='C'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SC_SEG_DAN   ON SC_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND SC_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND SC_SEG_DAN.FECHA_SISTEMA=C.FECHA_SISTEMA AND SC_SEG_DAN.TIPO='C'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SC_MORATORIO ON SC_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND SC_MORATORIO.RUBRO = 'MORATORIOS' AND SC_MORATORIO.FECHA_SISTEMA=C.FECHA_SISTEMA AND SC_MORATORIO.TIPO='C'
		LEFT JOIN [CIERRE].[SAF_SALDOS] SC_COMISION  ON SC_COMISION.NUM_CREDITO = C.NUM_CREDITO AND SC_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND SC_COMISION.FECHA_SISTEMA=C.FECHA_SISTEMA AND SC_COMISION.TIPO='C'
	WHERE @Fecha= C.FECHA_SISTEMA
	AND C.SECCION != 2
	GROUP BY ID_EXTERNO
	order by SECCION

END
GO
