SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_DI_ITEM_20260727](
	[Id] [uniqueidentifier] NOT NULL,
	[checklist_area_id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](300) NOT NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[dias_vigencia] [int] NULL,
	[exigibilidad] [nvarchar](20) NOT NULL,
	[tipo_vigencia] [nvarchar](20) NULL
) ON [PRIMARY]
GO
