SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_RECLAS_ETIQ_20260811](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[etiqueta_sp_item] [nvarchar](500) NULL,
	[area_clasificada] [nvarchar](50) NULL,
	[item_clasificado] [nvarchar](300) NULL,
	[is_clasificacion_manual] [bit] NOT NULL,
	[origen_ultimo_cambio_clasificacion] [nvarchar](20) NULL,
	[usuario_ultimo_cambio_clasificacion] [nvarchar](256) NULL,
	[fecha_ultimo_cambio_clasificacion] [datetime2](7) NULL
) ON [PRIMARY]
GO
