SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_DOC_PLANOS_REVERT_20260817](
	[Id] [uniqueidentifier] NOT NULL,
	[area_clasificada] [nvarchar](50) NULL,
	[item_clasificado] [nvarchar](300) NULL,
	[area_auto] [nvarchar](50) NULL,
	[item_auto] [nvarchar](300) NULL,
	[is_clasificacion_manual] [bit] NOT NULL,
	[origen_ultimo_cambio_clasificacion] [nvarchar](20) NULL,
	[fecha_ultimo_cambio_clasificacion] [datetime2](7) NULL
) ON [PRIMARY]
GO
