SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CHECKLIST_GRUPO_RESPONSABLE](
	[Id] [uniqueidentifier] NOT NULL,
	[checklist_grupo_id] [uniqueidentifier] NOT NULL,
	[email] [nvarchar](256) NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_CHECKLIST_GRUPO_RESPONSABLE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO_RESPONSABLE] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO_RESPONSABLE]  WITH CHECK ADD  CONSTRAINT [FK_CHECKLIST_GRUPO_RESPONSABLE_CHECKLIST_GRUPO_checklist_grupo_id] FOREIGN KEY([checklist_grupo_id])
REFERENCES [cierre_puente].[CHECKLIST_GRUPO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO_RESPONSABLE] CHECK CONSTRAINT [FK_CHECKLIST_GRUPO_RESPONSABLE_CHECKLIST_GRUPO_checklist_grupo_id]
GO
