SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_CHECKITEM_NA_FIN_20260811](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[Area] [nvarchar](50) NOT NULL,
	[Item] [nvarchar](300) NOT NULL,
	[estatus] [nvarchar](20) NOT NULL,
	[is_manual_override] [bit] NOT NULL,
	[origen_ultimo_cambio] [nvarchar](20) NULL,
	[fecha_ultimo_cambio] [datetime2](7) NOT NULL,
	[na_justificado_por] [nvarchar](200) NULL,
	[na_comentario] [nvarchar](max) NULL,
	[na_fecha_justificacion] [datetime2](7) NULL,
	[na_aprobador] [nvarchar](150) NULL,
	[na_fecha_aprobacion] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
