SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierres].[ARCHIVO](
	[Id] [uniqueidentifier] NOT NULL,
	[NombreOriginal] [nvarchar](500) NOT NULL,
	[TipoCartera] [nvarchar](20) NOT NULL,
	[TipoContenido] [nvarchar](30) NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[EsVersionOficial] [bit] NOT NULL,
	[Hash] [nvarchar](160) NULL,
	[TotalRegistros] [int] NULL,
	[FechaIngesta] [datetime2](7) NOT NULL,
	[IngestadoPor] [nvarchar](256) NULL,
	[Observaciones] [nvarchar](max) NULL,
 CONSTRAINT [PK_ARCHIVO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ARCHIVO_VERSION] UNIQUE NONCLUSTERED 
(
	[TipoCartera] ASC,
	[TipoContenido] ASC,
	[Anio] ASC,
	[Mes] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cierres].[ARCHIVO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierres].[ARCHIVO] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [cierres].[ARCHIVO] ADD  DEFAULT ((1)) FOR [EsVersionOficial]
GO
ALTER TABLE [cierres].[ARCHIVO] ADD  DEFAULT (getdate()) FOR [FechaIngesta]
GO
