SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CIERRE].[IND_REP](
	[ID] [uniqueidentifier] NOT NULL,
	[CORTE] [int] NULL,
	[PERIODO] [date] NULL,
	[INTERESES_DEVENGADOS_DEL_PERIODO_NO_EXIGIBLE] [decimal](18, 2) NULL,
	[INTERESES_EXIGIBLE_DEL_PERIODO] [decimal](18, 2) NULL,
	[TOTAL_INTERESES_Y_ACCESORIOS] [decimal](18, 2) NULL,
	[MONTO_PAGO_EXIGIBLE] [decimal](18, 2) NULL,
	[MONTO_BASE_INTERES] [decimal](18, 2) NULL,
	[CREDITO] [bigint] NULL,
	[NOMBRE] [varchar](100) NULL,
	[CEDIDOS_A] [varchar](100) NULL,
	[CLASIFICACION_DE_VIVIENDA] [varchar](100) NULL,
	[SIN_RESTRICCION_RESTRINGIDOS] [varchar](100) NULL,
	[ANTICIPOS_Y_MINISTRACIONES] [decimal](18, 2) NULL,
	[MONTO_CREDITO] [decimal](18, 2) NULL,
	[TASA_INTERES_EFECTIVA] [decimal](9, 4) NULL,
	[TASA_INTERES_MORATORIA] [decimal](9, 4) NULL,
	[TASA] [decimal](9, 4) NULL,
	[IVA_TASA] [decimal](9, 4) NULL,
	[FECHA_DE_APERTURA] [datetime] NULL,
	[FECHA_DE_CANCELACION] [datetime] NULL,
	[DIAS_CALCULO_INTERES] [int] NULL,
	[INTERESE_DEVENGADOS] [decimal](18, 2) NULL,
	[IVA_DEVENGADO] [decimal](18, 2) NULL,
	[SEGUROS_DEVENGADOS] [decimal](18, 2) NULL,
	[CLAVE] [varchar](50) NULL,
	[DESCRIPCION] [varchar](100) NULL,
	[PV] [int] NULL,
	[PRINCIPAL_INICIAL] [decimal](18, 2) NULL,
	[AMORTIZACION] [decimal](18, 2) NULL,
	[PRINCIPAL_FINAL] [decimal](18, 2) NULL,
	[MONTOEXIGIBLECOM] [decimal](18, 2) NULL,
	[RESPONSABILIDAD] [decimal](18, 2) NULL,
	[CAPITAL_EXIGIBLE] [decimal](18, 2) NULL,
	[INTERESES_VENCIDOS] [decimal](18, 2) NULL,
	[SALDO_IVA_VENCIDOS] [decimal](18, 2) NULL,
	[MORA] [decimal](18, 2) NULL,
	[COMISION_ADMINISTRACION_VENCIDOS] [decimal](18, 2) NULL,
	[IVA_COMISION_ADMINISTRACION_VENCIDA] [decimal](18, 2) NULL,
	[CARGO_SEGUROS] [decimal](18, 2) NULL,
	[TOTAL] [decimal](18, 2) NULL,
	[PAGO_MES] [decimal](18, 2) NULL,
	[IVA_PAGADO] [decimal](18, 2) NULL,
	[IVA_INTERESES_PAGADO] [decimal](18, 2) NULL,
	[IVA_INTERESES_MORATORIOS] [decimal](18, 2) NULL,
	[SEGUROS] [decimal](18, 2) NULL,
	[SEGUROS_PAGADOS_CON_IVA] [decimal](18, 2) NULL,
	[INTERESES_MORATORIOS_PAGADOS] [decimal](18, 2) NULL,
	[IVA_MORATORIOS_PAGADOS] [decimal](18, 2) NULL,
	[COMISIONES_PAGADAS] [decimal](18, 2) NULL,
	[OTROS_MONTOS_PAGADOS] [decimal](18, 2) NULL,
	[FECHA_ULTIMO_PAGO] [date] NULL,
	[ETAPA_RIESGO] [int] NULL,
	[MONTO_CONDONACION] [decimal](18, 2) NULL,
	[MONTO_QUITAS] [decimal](18, 2) NULL,
	[MONTO_CASTIGOS] [decimal](18, 2) NULL,
	[MONTO_BONIFICACION] [decimal](18, 2) NULL,
	[MONTO_DESCUENTO] [decimal](18, 2) NULL,
	[OPERACIONES] [varchar](100) NULL,
	[ESTATUS] [varchar](100) NULL,
	[CARTERA] [varchar](100) NULL,
	[CUENTA_EN_ORDEN_INTERES] [decimal](18, 2) NULL,
	[SALDO_A_FAVOR_INICIAL] [decimal](18, 2) NULL,
	[SALDO_A_FAVOR_DEL_MES] [decimal](18, 2) NULL,
	[APLICACION_SALDO_A_FAVOR] [decimal](18, 2) NULL,
	[SALDO_A_FAVOR_FINAL] [decimal](18, 2) NULL,
	[INTERESES_EXIGIBLES_MES_ANTERIOR] [decimal](18, 2) NULL,
	[INT_DEVENG_PAGADOS_DEL_PERIODO] [decimal](18, 2) NULL,
	[PAGOS_DE_INT_EXIGIBLES] [decimal](18, 2) NULL,
	[FECHA_VENCIMIENTO] [date] NULL,
	[PLAZO] [int] NULL,
	[COVID19] [varchar](12) NULL,
	[CUOTAS_POSPOSICION] [int] NULL,
	[PRINCIPAL_COVID19] [decimal](18, 2) NULL,
	[INTERESES_COVID19] [decimal](18, 2) NULL,
	[IVA_COVID19] [decimal](18, 2) NULL,
	[MORA_COVID19] [decimal](18, 2) NULL,
	[COMISION_ADMINISTRACION_COVID19] [decimal](18, 2) NULL,
	[IVA_COMISION_ADMINISTRACION_COVID19] [decimal](18, 2) NULL,
	[CARGO_SEGUROS_COVID19] [decimal](18, 2) NULL,
	[ACTIVACION_PAGO] [date] NULL,
	[TASA_EFECTIVA] [decimal](9, 4) NULL,
	[UTILIDAD_PERDIDA] [decimal](18, 2) NULL,
	[INTERESES_EXIGLIBLES_NO_PAGADO] [decimal](18, 2) NULL,
	[MONTO_CASTIGADO_ACCESORIOS] [decimal](18, 2) NULL,
	[DIA_MORA] [int] NULL,
	[SALDO_INICIAL_MORATORIOS] [decimal](18, 2) NULL,
	[DEVENGADO] [decimal](18, 2) NULL,
	[AMORTIZACION_COMISIONES] [decimal](18, 2) NULL,
	[SALDO_FINAL_MORATORIOS] [decimal](18, 2) NULL,
	[MONTO_CAPITAL_PAGADO] [decimal](21, 2) NULL,
	[SALDO_CAPITAL_VIGENTE] [decimal](21, 2) NULL,
	[SALDO_INTERES_VIGENTE] [decimal](21, 2) NULL,
	[SALDO_CAPITAL_VENCIDO] [decimal](21, 2) NULL,
	[SALDO_INTERES_VENCIDO] [decimal](21, 2) NULL,
	[INTERES_CARTERA_VENCIDA] [decimal](11, 2) NULL,
	[CAMBIO_ETAPA] [int] NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [CIERRE].[IND_REP] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [CIERRE].[IND_REP] ADD  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
