SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250521
-- Descripcion:	Realiza la extraccion de datos de cierre comercial de SAF diario
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_CMR_DIA]
	@FECHA DATE
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION

        /*declare @FechaIni date, @FechaFin date, @FECHA date, @FECHAAnt date

        set @FechaIni = @FECHA
        set @FechaFin = Dateadd(day,1,@FechaIni)
        set @FECHA = Dateadd(day,-1,@FechaFin)
        set @FECHAAnt = Dateadd(day,-1,@FechaIni)*/

    
        DELETE FROM [CIERRE].[CMR_DIA_REP] WHERE FECHA_SISTEMA = @FECHA


        create table #CuentasDeOtrasPolizas(cuenta varchar(24))

        insert into #CuentasDeOtrasPolizas(cuenta)
              select '140103009001'     --operacion vivienda bonificacion y reestructura
        union select '140103009002'     --operacion comercial bonificacion y reestructura
        union select '140103009003'     --operacion reestructura
        union select '1401030090010000' --operacion vivienda ajuste
        union select '1401030090020000' --operacion comercial ajuste
        union select '5050260901000300' --condonacion
	    union select '2073'             --DACION
	    union select '2074'             --ADJUDICACION
	    union select '2068'             --SINIESTRO
        union select '2061'             --STDR FISO DAMNIF_6641
        union select '2056'             --INBURSA ADMON COBRANZA


        SELECT NUM_DESC_TIPO_CREDITO
        INTO #TIPO_CREDITOS
        FROM Quiero_Confianza_shadow.PR.PR_DESC_TIPOS_CREDITO
        WHERE COD_EMPRESA = '001' AND NUM_DESC_TIPO_CREDITO IN (
                 12,13,14,15,28 -- minoristas
                ,2,18,27      -- puente
                ,7              -- sindicada
                ,25             -- castigo
                ,5,6,19,21,22,24) -- administrada


        --== PAGO NORMAL TOTAL =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #PAGO_TOTAL
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        WHERE C.IND_ESTADO IN ('C', 'D')
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND A.FEC_MOVIMIENTO = @FECHA
        GROUP BY C.NUM_CREDITO

        --== PAGO NORMAL X RUBRO =============================================================================================
        SELECT C.NUM_CREDITO, case when B.COD_CONCEPTO = 'CARGO_PORCENTAJE' THEN 'SEGURO_VIDA' ELSE B.COD_CONCEPTO END AS RUBRO, SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #PAGO_RUBROS
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
		        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
        WHERE C.IND_ESTADO IN ('C', 'D')
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND A.FEC_MOVIMIENTO = @FECHA
        GROUP BY C.NUM_CREDITO, case when B.COD_CONCEPTO = 'CARGO_PORCENTAJE' THEN 'SEGURO_VIDA' ELSE B.COD_CONCEPTO END

        --== PAGO COVID X RUBRO =============================================================================================
        SELECT C.NUM_CREDITO, case when B.COD_CONCEPTO = 'CARGO_PORCENTAJE' THEN 'SEGURO_VIDA' ELSE B.COD_CONCEPTO END AS RUBRO, SUM(B.MON_PAGO) AS MONTO, SUM(B.MON_PAGO_IVA) AS IVA
        INTO #PAGO_COVID_RUBROS
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
		        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
        WHERE C.IND_ESTADO IN ('C', 'D')
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND A.FEC_MOVIMIENTO = @FECHA
            AND dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito) = 'S'
        GROUP BY C.NUM_CREDITO, case when B.COD_CONCEPTO = 'CARGO_PORCENTAJE' THEN 'SEGURO_VIDA' ELSE B.COD_CONCEPTO END

        --== DEVENGO INTERESES =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_DIARIO) AS MONTO, SUM(CASE WHEN X.IND_IVA = 'N' THEN 0 ELSE 0.16 * A.MON_DIARIO END) AS IVA
        INTO #DEV_INT
	    FROM Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO X  ON A.NUM_CREDITO = X.Num_Credito AND COD_RUBRO = 'INTERESES'
	    WHERE A.FECHA_CALCULO = @FECHA
            AND (C.FEC_CANCELACION IS NULL OR  C.FEC_CANCELACION >= @FECHA)
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        --== DEVENGO MORATORIOS =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_DIARIO) AS MONTO, SUM(CASE WHEN P.IND_IVA_INTERES = 'N' THEN 0 ELSE 0.16 * A.MON_DIARIO END) AS IVA
        INTO #DEV_MORA
        FROM Quiero_Confianza_shadow.PR.PR_CALCULO_MORA_DIA A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE A.FECHA_CALCULO = @FECHA
            AND (C.FEC_CANCELACION IS NULL OR  C.FEC_CANCELACION >= @FECHA)
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        --== DEVENGO COMISIONES =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_RUBRO) AS MONTO, SUM(A.MON_IVA) AS IVA
        INTO #DEV_COM
	    FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
	    WHERE   A.IND_ESTADO <> 'N'
		    AND A.COD_RUBRO IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO',
		        'ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA')
		    AND A.FEC_COBRO = @FECHA
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
        GROUP BY C.NUM_CREDITO

        --== DESEMBOLSOS =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #DESEMBOLSOS
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_ESTADO IN ('C', 'D') 
		    AND C.IND_LINEA = 'N'
		    AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
 		    AND A.TIP_TRANSACCION = 3 --desembolsos
            AND A.Id_cuenta NOT IN ('2061','2056','2068') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO
        GROUP BY C.NUM_CREDITO

        --== CONDONACION =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #CONDONACION
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_ESTADO IN ('C', 'D') 
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND A.FEC_MOVIMIENTO = @FECHA
		    AND ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
		        OR (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('140103009001','140103009002', '5050260901000300')))
            AND B.COD_CONCEPTO != 'PRINCIPAL'
		    AND cast(C.NUM_CREDITO as varchar) + '-' + cast(B.ID_SECUENCIA as varchar) NOT IN (
			    SELECT cast(C.NUM_CONTRATO as varchar) + '-' + cast(max(B.ID_SECUENCIA) as varchar)
			    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
				    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
				    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CONTRATO
			    WHERE C.IND_ESTADO_CRED = 'E'
                    AND C.FEC_APERTURA = @FECHA
			    GROUP BY C.NUM_CONTRATO
            )
        GROUP BY C.NUM_CREDITO

        --== QUITA =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #QUITA
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_ESTADO IN ('C', 'D') 
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND A.FEC_MOVIMIENTO = @FECHA
		    AND ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
		        OR (TIP_TRANSACCION = 4 AND A.ID_CUENTA IN ('140103009001','140103009002', '5050260901000300')))
            AND B.COD_CONCEPTO = 'PRINCIPAL'
		    AND cast(C.NUM_CREDITO as varchar) + '-' + cast(B.ID_SECUENCIA as varchar) NOT IN (
			    SELECT cast(C.NUM_CONTRATO as varchar) + '-' + cast(max(B.ID_SECUENCIA) as varchar)
			    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
				    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
				    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CONTRATO
			    WHERE C.IND_ESTADO_CRED = 'E'
                    AND C.FEC_APERTURA = @FECHA
			    GROUP BY C.NUM_CONTRATO
            )
        GROUP BY C.NUM_CREDITO

        --== DESCUENTO =============================================================================================
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        INTO #DESCUENTO
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE C.IND_ESTADO IN ('C','D')
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.FEC_MOVIMIENTO = @FECHA
		    AND A.ID_CUENTA IN ('1401030090010000','1401030090020000')
        GROUP BY C.NUM_CREDITO

        --== Calculo de cuotas pendientes ===================================================================

        SELECT A.NUM_CREDITO, A.NUM_SECUENCIA, MIN(A.FEC_EXIGIBLE_PAGO) AS FEC_EXIGIBLE_PAGO
        INTO #CUOTAS
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO A
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        WHERE C.IND_ESTADO IN ('C','D')
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.IND_ESTADO = 'P'
            AND A.FEC_EXIGIBLE_PAGO <= @FECHA
        GROUP BY A.NUM_CREDITO, A.NUM_SECUENCIA

        SELECT NUM_CREDITO,  COUNT(*) as CUOTAS,MIN(FEC_EXIGIBLE_PAGO) AS FEC_IMPAGO_INI
        INTO #CUOTAS_VENCIDAS
        FROM #CUOTAS
        GROUP BY NUM_CREDITO

        --== DATOS COVID  =============================================================================================
        SELECT C.NUM_CREDITO, 'S' AS IND_POSTERGAR, MAX(A.MON_MOVIMIENTO) as TOTAL_POSTERGAR, MAX(Q.FEC_EXIGIBLE_PAGO) as FIN_POSTERGAR
        INTO #DATOS_COVID
        FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
		        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
        WHERE C.IND_ESTADO IN ('C', 'D')
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND A.TIP_TRANSACCION !=3  -- Desembolsos
		    AND NOT ((TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
                    OR (A.ID_CUENTA IN (SELECT cuenta FROM #CuentasDeOtrasPolizas))
                ) 
		    AND A.FEC_MOVIMIENTO = @FECHA
            AND dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito) = 'S'
        GROUP BY C.NUM_CREDITO

        --== INDICADOR IVA DE INTERES  =============================================================================================
        SELECT R.NUM_CREDITO, MAX(CASE WHEN R.IND_IVA = 'N' THEN 'NO' ELSE 'SI' END) AS IND_IVA_INT
        INTO #IND_IVA
        FROM Quiero_Confianza_shadow.PR.PR_RUBRO_X_CREDITO R 
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON R.COD_EMPRESA = C.COD_EMPRESA AND R.NUM_CREDITO = C.NUM_CREDITO
        WHERE (C.FEC_CANCELACION IS NULL OR  C.FEC_CANCELACION >= @FECHA)
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
		    AND R.COD_RUBRO IN ('INTERESES')
        GROUP BY R.NUM_CREDITO

        --== REPORTE DE CIERRE ===================================================================

       INSERT INTO CIERRE.CMR_DIA_REP
            (ID, FECHA_SISTEMA, NUM_CREDITO, ID_EXTERNO, ACREDITADO, PROYECTO, LINEA, DISPUESTO, CAPITAL_FINAL, PLAZO, TASA_INTERES, APERTURA, VENCIMIENTO, LIQUIDADO
            , CUOTAS_VENCIDAS, DIAS_VENCIDOS, DEBE_DESDE, ETAPA_RIESGO, CEDIDO, CORTE, PROGRAMA_COVID, POSTERGAR_FIN, POSTERGAR_TOTAL, CREDITO_TIPO, TASA_TIPO
            , GENERA_IVA, CANAL, SALDO_CAPITAL_MONTO, SALDO_PRINCIPAL_MONTO, SALDO_INTERESES_MONTO, SALDO_INTERESES_IVA, SALDO_SEG_VID_MONTO, SALDO_SEG_DAN_MONTO
            , SALDO_MORATORIO_MONTO, SALDO_MORATORIO_IVA, SALDO_COMISION_MONTO, SALDO_COMISION_IVA, SALDO_INTERESES_NO_EXIGIBLE_MONTO, SALDO_INTERESES_NO_EXIGIBLE_IVA
            , SALDO_BALANCE_INTERESES_MONTO, SALDO_BALANCE_INTERESES_IVA, SALDO_BALANCE_SEG_VID_MONTO, SALDO_BALANCE_SEG_DAN_MONTO, SALDO_BALANCE_MORATORIO_MONTO
            , SALDO_BALANCE_MORATORIO_IVA, SALDO_BALANCE_COMISION_MONTO, SALDO_BALANCE_COMISION_IVA, SALDO_COVID_PRINCIPAL_MONTO, SALDO_COVID_INTERESES_MONTO
            , SALDO_COVID_INTERESES_IVA, SALDO_COVID_SEG_VID_MONTO, SALDO_COVID_SEG_DAN_MONTO, SALDO_COVID_MORATORIO_MONTO, SALDO_COVID_MORATORIO_IVA
            , SALDO_COVID_COMISION_MONTO, SALDO_COVID_COMISION_IVA)
        SELECT newid(),@FECHA, C.NUM_CREDITO, C.ID_EXTERNO
            ,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL) AS ACREDITADO
            ,C.DESARROLLO AS PROYECTO
            ,C.MON_CREDITO AS LINEA
            ,isnull(DESEMBOLSO.MONTO,0) AS DISPUESTO
            ,C.MON_SALDO AS CAPITAL_FINAL
            ,C.PLAZO_CREDITO AS PLAZO
            ,C.TASA_INTERES AS TASA_INTERES
            ,C.FEC_APERTURA AS APERTURA
            ,C.FEC_VENCIMIENTO AS VENCIMIENTO
            ,C.FEC_CANCELACION AS LIQUIDADO
            ,CUOTAS_VENCIDAS.CUOTAS AS CUOTAS_VENCIDAS
            ,DATEDIFF(day, FEC_IMPAGO_INI, @FECHA) AS DIAS_VENCIDOS
            ,CUOTAS_VENCIDAS.FEC_IMPAGO_INI AS DEBE_DESDE
            ,C.IND_ETAPA AS ETAPA_RIESGO
            ,F.DES_ORIGEN AS CEDIDO
            ,C.DIA_EXIGIBLE_PAGO AS CORTE
            ,isnull(DATOS_COVID.IND_POSTERGAR,'N') AS PROGRAMA_COVID
            ,DATOS_COVID.FIN_POSTERGAR AS POSTERGAR_FIN
            ,DATOS_COVID.TOTAL_POSTERGAR AS POSTERGAR_TOTAL
            ,CP.NOMBRE_CORTO AS CREDITO_TIPO
            ,C.TIP_TASA AS TASA_TIPO
            ,IND_IVA.IND_IVA_INT AS GENERA_IVA
            ,dbo.FN_TIPO_CANAL(C.TIP_TASA) AS CANAL

            ,isnull(S_CAPITAL.SALDO,0) AS SALDO_CAPITAL_MONTO
            ,isnull(S_PRINCIPAL.SALDO,0) AS SALDO_PRINCIPAL_MONTO
            ,isnull(S_INTERESES.SALDO,0) AS SALDO_INTERESES_MONTO
            ,isnull(S_INTERESES.SALDO_IVA,0) AS SALDO_INTERESES_IVA
            ,isnull(S_SEG_VID.SALDO,0) AS SALDO_SEG_VID_MONTO
            ,isnull(S_SEG_DAN.SALDO,0) AS SALDO_SEG_DAN_MONTO
            ,isnull(S_MORATORIO.SALDO,0) AS SALDO_MORATORIO_MONTO
            ,isnull(S_MORATORIO.SALDO_IVA,0) AS SALDO_MORATORIO_IVA
            ,isnull(S_COMISION.SALDO,0) AS SALDO_COMISION_MONTO
            ,isnull(S_COMISION.SALDO_IVA,0) AS SALDO_COMISION_IVA
            ,isnull(S_INT_NO_EXIGIBLE.SALDO,0) AS SALDO_INTERESES_NO_EXIGIBLE_MONTO
            ,isnull(S_INT_NO_EXIGIBLE.SALDO_IVA,0) AS SALDO_INTERESES_NO_EXIGIBLE_IVA

            ,isnull(SB_INTERESES.SALDO,0) AS SALDO_BALANCE_INTERESES_MONTO
            ,isnull(SB_INTERESES.SALDO_IVA,0) AS SALDO_BALANCE_INTERESES_IVA
            ,isnull(SB_SEG_VID.SALDO,0) AS SALDO_BALANCE_SEG_VID_MONTO
            ,isnull(SB_SEG_DAN.SALDO,0) AS SALDO_BALANCE_SEG_DAN_MONTO
            ,isnull(SB_MORATORIO.SALDO,0) AS SALDO_BALANCE_MORATORIO_MONTO
            ,isnull(SB_MORATORIO.SALDO_IVA,0) AS SALDO_BALANCE_MORATORIO_IVA
            ,isnull(SB_COMISION.SALDO,0) AS SALDO_BALANCE_COMISION_MONTO
            ,isnull(SB_COMISION.SALDO_IVA,0) AS SALDO_BALANCE_COMISION_IVA

            ,isnull(SC_PRINCIPAL.SALDO,0) AS SALDO_COVID_PRINCIPAL_MONTO
            ,isnull(SC_INTERESES.SALDO,0) AS SALDO_COVID_INTERESES_MONTO
            ,isnull(SC_INTERESES.SALDO_IVA,0) AS SALDO_COVID_INTERESES_IVA
            ,isnull(SC_SEG_VID.SALDO,0) AS SALDO_COVID_SEG_VID_MONTO
            ,isnull(SC_SEG_DAN.SALDO,0) AS SALDO_COVID_SEG_DAN_MONTO
            ,isnull(SC_MORATORIO.SALDO,0) AS SALDO_COVID_MORATORIO_MONTO
            ,isnull(SC_MORATORIO.SALDO_IVA,0) AS SALDO_COVID_MORATORIO_IVA
            ,isnull(SC_COMISION.SALDO,0) AS SALDO_COVID_COMISION_MONTO
            ,isnull(SC_COMISION.SALDO_IVA,0) AS SALDO_COVID_COMISION_IVA

        FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO T WITH (NOLOCK) ON C.TIP_CREDITO = T.TIP_CREDITO AND C.COD_EMPRESA = T.COD_EMPRESA
		    LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
		    LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
            LEFT JOIN Quiero_Confianza_shadow.PR.PR_ORIGEN_FONDOS F WITH (NOLOCK) ON C.COD_EMPRESA = F.COD_EMPRESA AND C.COD_ORIGEN = F.COD_ORIGEN
            --LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA
		    LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
		    LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO

            LEFT JOIN #CUOTAS_VENCIDAS CUOTAS_VENCIDAS ON CUOTAS_VENCIDAS.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DESEMBOLSOS DESEMBOLSO ON DESEMBOLSO.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #DATOS_COVID DATOS_COVID ON DATOS_COVID.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN #IND_IVA IND_IVA ON IND_IVA.NUM_CREDITO = C.NUM_CREDITO
            --LEFT JOIN #PAGO_TOTAL P_TOTAL ON P_TOTAL.NUM_CREDITO = C.NUM_CREDITO
            --LEFT JOIN #CONDONACION CONDONACION ON CONDONACION.NUM_CREDITO = C.NUM_CREDITO
            --LEFT JOIN #QUITA QUITA ON QUITA.NUM_CREDITO = C.NUM_CREDITO
            --LEFT JOIN #DESCUENTO DESCUENTO ON DESCUENTO.NUM_CREDITO = C.NUM_CREDITO
            --LEFT JOIN #DEV_INT DEV_INT ON DEV_INT.NUM_CREDITO = C.NUM_CREDITO
            --LEFT JOIN #DEV_MORA DEV_MORA ON DEV_MORA.NUM_CREDITO = C.NUM_CREDITO
            --LEFT JOIN #DEV_COM DEV_COM ON DEV_COM.NUM_CREDITO = C.NUM_CREDITO
            --Saldos
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_CAPITAL ON S_CAPITAL.NUM_CREDITO = C.NUM_CREDITO AND S_CAPITAL.RUBRO = 'CAPITAL' AND S_CAPITAL.FECHA_SISTEMA=@FECHA AND S_CAPITAL.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_PRINCIPAL ON S_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND S_PRINCIPAL.RUBRO = 'PRINCIPAL' AND S_PRINCIPAL.FECHA_SISTEMA=@FECHA AND S_PRINCIPAL.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_INTERESES ON S_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND S_INTERESES.RUBRO = 'INTERESES' AND S_INTERESES.FECHA_SISTEMA=@FECHA AND S_INTERESES.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_VID ON S_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND S_SEG_VID.RUBRO = 'SEGURO_VIDA' AND S_SEG_VID.FECHA_SISTEMA=@FECHA AND S_SEG_VID.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_SEG_DAN ON S_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND S_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND S_SEG_DAN.FECHA_SISTEMA=@FECHA AND S_SEG_DAN.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_MORATORIO ON S_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND S_MORATORIO.RUBRO = 'MORATORIOS' AND S_MORATORIO.FECHA_SISTEMA=@FECHA AND S_MORATORIO.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_COMISION ON S_COMISION.NUM_CREDITO = C.NUM_CREDITO AND S_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND S_COMISION.FECHA_SISTEMA=@FECHA AND S_COMISION.TIPO='N'
            LEFT JOIN [CIERRE].[SAF_SALDOS] S_INT_NO_EXIGIBLE ON S_INT_NO_EXIGIBLE.NUM_CREDITO = C.NUM_CREDITO AND S_INT_NO_EXIGIBLE.RUBRO = 'INTERES_NO_EXIGIBLES' AND S_INT_NO_EXIGIBLE.FECHA_SISTEMA=@FECHA AND S_INT_NO_EXIGIBLE.TIPO='N'
            --saldos Balance
            LEFT JOIN [CIERRE].[SAF_SALDOS] SB_INTERESES ON SB_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SB_INTERESES.RUBRO = 'INTERESES' AND SB_INTERESES.FECHA_SISTEMA=@FECHA AND SB_INTERESES.TIPO='B'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SB_SEG_VID ON SB_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND SB_SEG_VID.RUBRO = 'SEGURO_VIDA' AND SB_SEG_VID.FECHA_SISTEMA=@FECHA AND SB_SEG_VID.TIPO='B'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SB_SEG_DAN ON SB_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND SB_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND SB_SEG_DAN.FECHA_SISTEMA=@FECHA AND SB_SEG_DAN.TIPO='B'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SB_MORATORIO ON SB_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND SB_MORATORIO.RUBRO = 'MORATORIOS' AND SB_MORATORIO.FECHA_SISTEMA=@FECHA AND SB_MORATORIO.TIPO='B'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SB_COMISION ON SB_COMISION.NUM_CREDITO = C.NUM_CREDITO AND SB_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND SB_COMISION.FECHA_SISTEMA=@FECHA AND SB_COMISION.TIPO='B'
            --saldos COVID
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_PRINCIPAL ON SC_PRINCIPAL.NUM_CREDITO = C.NUM_CREDITO AND SC_PRINCIPAL.RUBRO = 'PRINCIPAL' AND SC_PRINCIPAL.FECHA_SISTEMA=@FECHA AND SC_PRINCIPAL.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_INTERESES ON SC_INTERESES.NUM_CREDITO = C.NUM_CREDITO AND SC_INTERESES.RUBRO = 'INTERESES' AND SC_INTERESES.FECHA_SISTEMA=@FECHA AND SC_INTERESES.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_SEG_VID ON SC_SEG_VID.NUM_CREDITO = C.NUM_CREDITO AND SC_SEG_VID.RUBRO = 'SEGURO_VIDA' AND SC_SEG_VID.FECHA_SISTEMA=@FECHA AND SC_SEG_VID.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_SEG_DAN ON SC_SEG_DAN.NUM_CREDITO = C.NUM_CREDITO AND SC_SEG_DAN.RUBRO = 'SEGURO_DANOS' AND SC_SEG_DAN.FECHA_SISTEMA=@FECHA AND SC_SEG_DAN.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_MORATORIO ON SC_MORATORIO.NUM_CREDITO = C.NUM_CREDITO AND SC_MORATORIO.RUBRO = 'MORATORIOS' AND SC_MORATORIO.FECHA_SISTEMA=@FECHA AND SC_MORATORIO.TIPO='C'
            LEFT JOIN [CIERRE].[SAF_SALDOS] SC_COMISION ON SC_COMISION.NUM_CREDITO = C.NUM_CREDITO AND SC_COMISION.RUBRO = 'COMISION_ADMINISTRACION' AND SC_COMISION.FECHA_SISTEMA=@FECHA AND SC_COMISION.TIPO='C'

	    WHERE (C.FEC_CANCELACION IS NULL OR  C.FEC_CANCELACION >= @FECHA)
		    AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (SELECT NUM_DESC_TIPO_CREDITO FROM #TIPO_CREDITOS)
            AND not C.ID_EXTERNO is null


		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA        , 0        , 'SP_SAF_CIERRE_CMR_MES Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
