SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Miguel Gomez
-- Create date: 30/01/2026
-- Description:	Reporte Quitas y condonaciones de cartera
-- =============================================
CREATE   PROCEDURE [CIERRE].[SP_RPT_QUITAS_Y_CONDINACIONES_CARTERA_VIS]
(
    @FechaIni DATE,
    @FechaFin DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FechaFinExclusiva DATE = DATEADD(DAY, 1, @FechaFin);

    SELECT A.FECHA_MOVIMIENTO,
        A.ID_EXTERNO,
        A.ACREDITADO,
        A.PROYECTO,
        A.TIPO_CREDITO,
        A.TIPO_CARTERA,
        A.CARTERA,
        A.ETAPA,
        A.PRINCIPAL,
        A.INTERESES_ORIDINARIOS,
        A.COM_ADM_MORATORIOS_ORDINARIOS,
        ISNULL(A.PRINCIPAL + A.INTERESES_ORIDINARIOS + A.COM_ADM_MORATORIOS_ORDINARIOS,0) AS TOTAL_CARTERA_BALANCE,
        A.IVA_INTERES,
        A.IVA_COM_ADM_MORATORIOS_ORIDNARIOS,
        A.SEGUROS,
        A.IVA_SEGUROS,
        ISNULL(A.IVA_INTERES + A.IVA_COM_ADM_MORATORIOS_ORIDNARIOS + A.SEGUROS + A.IVA_SEGUROS,0) AS TOTAL_ACCESORIOS_BALANCE,
        ISNULL(A.PRINCIPAL + A.INTERESES_ORIDINARIOS + A.COM_ADM_MORATORIOS_ORDINARIOS + A.IVA_INTERES + A.IVA_COM_ADM_MORATORIOS_ORIDNARIOS + A.SEGUROS + A.IVA_SEGUROS,0) AS TOTAL_BALANCE,
        A.INTERESES_ORDEN,
        A.IVA_INTERESES_ORDEN,
        A.COM_ADM_MORATORIOS_ORDEN,
        A.IVA_COM_ADM_MORATORIOS_ORDEN,
        A.SEGUROS_ORDEN,
        A.IVA_SEGURO_ORDEN,
        ISNULL(A.INTERESES_ORDEN + A.IVA_INTERESES_ORDEN + A.COM_ADM_MORATORIOS_ORDEN + A.IVA_COM_ADM_MORATORIOS_ORDEN + A.SEGUROS_ORDEN + A.IVA_SEGURO_ORDEN,0) AS TOTAL_ORDEN,
        ISNULL(A.PRINCIPAL + A.INTERESES_ORIDINARIOS + A.COM_ADM_MORATORIOS_ORDINARIOS + A.IVA_INTERES + A.IVA_COM_ADM_MORATORIOS_ORIDNARIOS + A.SEGUROS + A.IVA_SEGUROS +
                A.INTERESES_ORDEN + A.IVA_INTERESES_ORDEN + A.COM_ADM_MORATORIOS_ORDEN + A.IVA_COM_ADM_MORATORIOS_ORDEN + A.SEGUROS_ORDEN + A.IVA_SEGURO_ORDEN,0) TOTAL
    FROM (  SELECT H.FECHA_MOVIMIENTO AS FECHA_MOVIMIENTO,
                H.ID_EXTERNO,
                H.NOM_CLIENTE AS ACREDITADO,
                CASE 
                    WHEN H.TIPO_CREDITO = 'PUENTE' OR H.TIPO_CREDITO = 'INVERSION' THEN 
                        C.DESARROLLO
                    ELSE 'N/A'
                END AS PROYECTO,
                --CASE WHEN H.NOMBRE_PRODUCTO IS NULL THEN H.TIPO_VIVIENDA ELSE H.NOMBRE_PRODUCTO END AS TIPO_CREDITO,
                CASE WHEN CP.NOMBRE IS NULL THEN H.TIPO_VIVIENDA ELSE CP.NOMBRE END AS TIPO_CREDITO,
                CASE 
                    WHEN H.ID_FONDEO = 2 THEN 'SIN RESTRICCION'
                    ELSE 'RESTRINGIDO'
                END AS TIPO_CARTERA,
                CASE WHEN CP.NOMBRE IS NULL THEN CASE WHEN H.TIPO_VIVIENDA = 'CONSUMO' THEN 'CONSUMO' ELSE 'VIVIENDA' END ELSE 'COMERCIAL' END AS CARTERA,
                H.IND_ETAPA AS ETAPA,
                SUM(CASE WHEN rubro = 'PRINCIPAL'
                    THEN monto 
                    ELSE 0 END) AS PRINCIPAL,
                ----------------------------------------------------TOTAL CARTERA BALANCE-------------------------------------------------------------------------------------
                SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') AND CONCEPTO NOT LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) AS INTERESES_ORIDINARIOS,
                SUM(CASE WHEN rubro = 'COMISION_ADMINISTRACION' AND CONCEPTO NOT LIKE '% CCO %'
                    THEN monto 
                    ELSE 0 END) +
                SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO')  AND CONCEPTO NOT LIKE '% CCO %'
                    THEN monto     
                    ELSE 0 END) AS COM_ADM_MORATORIOS_ORDINARIOS,
                ----------------------------------------------------TOTAL ACCESORIOS BALANCE-----------------------------------------------------------------------
                SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') AND CONCEPTO NOT LIKE '% CCO %'
                    THEN monto 
                    ELSE 0 END) AS IVA_INTERES,
                SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' AND CONCEPTO NOT LIKE '% CCO %'
                    THEN monto  
                    ELSE 0 END ) +
                SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO')  AND CONCEPTO NOT LIKE '% CCO %'
                    THEN monto 
                    ELSE 0 END) AS IVA_COM_ADM_MORATORIOS_ORIDNARIOS,
                SUM(CASE WHEN rubro = 'SEGURO_DANOS' AND CONCEPTO NOT LIKE '% CCO %'
                    THEN monto 
                    ELSE 0 END) +
                SUM(CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') AND CONCEPTO NOT LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) AS SEGUROS,
                SUM(CASE WHEN rubro = 'IVA SEGURO_DANOS' AND CONCEPTO NOT LIKE '% CCO %'
                    THEN monto  
                    ELSE 0 END) +
                SUM(CASE WHEN rubro = 'IVA SEGURO_VIDA' AND CONCEPTO NOT LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) AS IVA_SEGUROS,
                -------------------------------------------------------ORDEN INTERES -----------------------------------------------------------------------------------
                SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') AND CONCEPTO LIKE '% CCO %'
                    THEN monto  
                    ELSE 0 END) AS INTERESES_ORDEN,
                SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') AND CONCEPTO LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) AS IVA_INTERESES_ORDEN,
                ----------------------------------------------------ORDEN MORATORIOS COM ADMON--------------------------------------------------------------------------
                SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO')  AND CONCEPTO LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) +
                SUM(CASE WHEN rubro = 'COMISION_ADMINISTRACION' AND CONCEPTO LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) AS COM_ADM_MORATORIOS_ORDEN,
                SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO')  AND CONCEPTO LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) +
                SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' AND CONCEPTO LIKE '% CCO %'
                    THEN monto 
                    ELSE 0 END ) IVA_COM_ADM_MORATORIOS_ORDEN,
                ----------------------------------------------------ORDEN SEGUROS DANOS Y VIDA--------------------------------------------------------------------------
                SUM(CASE WHEN rubro = 'SEGURO_DANOS' AND CONCEPTO LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) +
                SUM(CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') AND CONCEPTO LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) AS SEGUROS_ORDEN,
                SUM(CASE WHEN rubro = 'IVA SEGURO_DANOS' AND CONCEPTO LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) +
                SUM(CASE WHEN rubro = 'IVA SEGURO_VIDA' AND CONCEPTO LIKE '% CCO %'
                    THEN monto
                    ELSE 0 END) AS IVA_SEGURO_ORDEN
            FROM PO.SAF_MOV_ABONO H
                INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON H.NUM_CREDITO = C.NUM_CREDITO
                LEFT JOIN PO.PR_CAT_PRODUCTO P WITH (NOLOCK) ON P.ID_SAF = H.ID_TIPO_CREDITO
                LEFT JOIN PO.PR_CREDITO_EXTRA CE WITH (NOLOCK) ON CE.ID_EXTERNO = H.ID_EXTERNO
                LEFT JOIN PO.PR_CREDITO_PRODUCTO CP WITH (NOLOCK) ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
            WHERE H.ID_POLIZA IN (13,25,49,57)
                AND H.FECHA_MOVIMIENTO >= @FechaIni
                AND H.FECHA_MOVIMIENTO < @FechaFinExclusiva
                AND NOT (H.CONCEPTO LIKE 'TRS %')
                AND NOT H.ID_CUENTA in ('140103009001','140103009002')
                AND H.ID_SECUENCIA IS NOT NULL
            GROUP BY H.FECHA_MOVIMIENTO,H.ID_EXTERNO,H.NOM_CLIENTE,C.DESARROLLO,CP.NOMBRE,H.TIPO_VIVIENDA,H.ID_TIPO_CREDITO,H.TIPO_CREDITO,H.ID_FONDEO,H.IND_ETAPA
        ) AS A
    WHERE ISNULL(A.PRINCIPAL + A.INTERESES_ORIDINARIOS + A.COM_ADM_MORATORIOS_ORDINARIOS + A.IVA_INTERES + A.IVA_COM_ADM_MORATORIOS_ORIDNARIOS + A.SEGUROS + A.IVA_SEGUROS +
                A.INTERESES_ORDEN + A.IVA_INTERESES_ORDEN + A.COM_ADM_MORATORIOS_ORDEN + A.IVA_COM_ADM_MORATORIOS_ORDEN + A.SEGUROS_ORDEN + A.IVA_SEGURO_ORDEN,0) != 0
END
GO
