SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_DOC_PLANOS_FMT_20260819](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[area_clasificada] [nvarchar](50) NULL,
	[item_clasificado] [nvarchar](300) NULL,
	[item_auto] [nvarchar](300) NULL,
	[origen_ultimo_cambio_clasificacion] [nvarchar](20) NULL,
	[fecha_ultimo_cambio_clasificacion] [datetime2](7) NULL
) ON [PRIMARY]
GO
