SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierres].[PAGO_MENSUAL](
	[Id] [uniqueidentifier] NOT NULL,
	[ArchivoId] [uniqueidentifier] NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[NucCredito] [nvarchar](50) NOT NULL,
	[Secuencia] [nvarchar](50) NULL,
	[FecAplicacion] [date] NULL,
	[Principal] [decimal](18, 4) NULL,
	[Intereses] [decimal](18, 4) NULL,
	[IvaIntereses] [decimal](18, 4) NULL,
	[Seguros] [decimal](18, 4) NULL,
	[ComisionAdm] [decimal](18, 4) NULL,
	[IvaComisionAdm] [decimal](18, 4) NULL,
	[Moratorios] [decimal](18, 4) NULL,
	[TotalPago] [decimal](18, 4) NULL,
	[TipoPago] [nvarchar](100) NULL,
	[FilaOriginal] [int] NULL,
 CONSTRAINT [PK_PAGO_MENSUAL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierres].[PAGO_MENSUAL] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierres].[PAGO_MENSUAL]  WITH CHECK ADD  CONSTRAINT [FK_PG_ARCHIVO] FOREIGN KEY([ArchivoId])
REFERENCES [cierres].[ARCHIVO] ([Id])
GO
ALTER TABLE [cierres].[PAGO_MENSUAL] CHECK CONSTRAINT [FK_PG_ARCHIVO]
GO
