SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CHECKLIST_AREA](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](20) NOT NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[checklist_grupo_id] [uniqueidentifier] NULL,
	[producto] [nvarchar](30) NOT NULL,
	[checklist_version_id] [uniqueidentifier] NULL,
	[nombre_amigable] [nvarchar](200) NULL,
	[visible_cliente] [bit] NOT NULL,
 CONSTRAINT [PK_CHECKLIST_AREA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_AREA] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_AREA] ADD  DEFAULT (N'EMPRESARIAL') FOR [producto]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_AREA] ADD  CONSTRAINT [DF_CHECKLIST_AREA_visible_cliente]  DEFAULT ((1)) FOR [visible_cliente]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_AREA]  WITH CHECK ADD  CONSTRAINT [FK_CHECKLIST_AREA_CHECKLIST_GRUPO_checklist_grupo_id] FOREIGN KEY([checklist_grupo_id])
REFERENCES [cierre_puente].[CHECKLIST_GRUPO] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [cierre_puente].[CHECKLIST_AREA] CHECK CONSTRAINT [FK_CHECKLIST_AREA_CHECKLIST_GRUPO_checklist_grupo_id]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_AREA]  WITH CHECK ADD  CONSTRAINT [FK_CHECKLIST_AREA_VERSION] FOREIGN KEY([checklist_version_id])
REFERENCES [cierre_puente].[CHECKLIST_VERSION] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [cierre_puente].[CHECKLIST_AREA] CHECK CONSTRAINT [FK_CHECKLIST_AREA_VERSION]
GO
