SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250526
-- Descripcion:	Vista para los datos de cierre comercial de SAF, datos generales seleccion de cartera
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_CMR_GEN_DIA_CARTERA_VIS]
	@FECHA DATE
AS
BEGIN
	SET NOCOUNT ON;

    SELECT ACREDITADO
        ,CAPITAL_VENCIDO
        ,ESTADO_CARTERA
        ,CARTERA
        ,CEDIDO AS CARTERA
        ,isnull(CEDIDO_ANT,'') AS CEDIDO_ANT
        ,CORTE
        ,ORDEN_SEGUROS
        ,ORDEN_INTERESES
        ,isnull(CUOTAS_VENCIDAS,0) AS CUOTAS_VENCIDAS
        ,CORTE AS DIA_CORTE
        ,isnull(DIAS_VENCIDOS,0) AS DIAS_VENCIDOS
        ,ETAPA_RIESGO
        ,isnull(FORMAT(APERTURA, 'dd/MM/yyyy'),'-') AS APERTURA
        ,isnull(FORMAT(VENCIMIENTO, 'dd/MM/yyyy'),'-') AS VENCIMIENTO
        ,isnull(FORMAT(DEBE_DESDE, 'dd/MM/yyyy'),'-') AS DEBE_DESDE
        ,isnull(FORMAT(POSTERGAR_FIN, 'dd/MM/yyyy'),'') AS POSTERGAR_FIN
        ,isnull(FORMAT(VENCIMIENTO, 'dd/MM/yyyy'),'-') AS VENCIMIENTO_FECHA
        ,NUM_CREDITO AS FOLIO
        ,ID_EXTERNO
        ,SALDO_INTERESES_COVID_FIN
        ,INTERESES_EXIGIBLES
        ,INTERESES_NO_EXIGIBLES
        ,INTERESES_EXIGIBLES+INTERESES_NO_EXIGIBLES AS INTERES_VIGENTE
        ,SALDO_IVA_ORDEN
        ,LINEA
        ,isnull(FORMAT(LIQUIDADO, 'dd/MM/yyyy'),'') AS LIQUIDADO
        ,LINEA AS MONTO
        ,ACREDITADO AS NOM_CLIENTE
        ,ACREDITADO AS NOMBRE_CLIENTE
        ,isnull(PROYECTO,'') AS PROYECTO
        ,OPERACION AS OPERACIONES
        ,PLAZO
        ,PROGRAMA_COVID
        ,SALDO_CAPITAL_INTERESES
        ,SALDO_SEGURO_ORDEN
        ,TASA_INTERES AS TASA
        ,TASA_INTERES AS TASA_CONTRATO
        ,TASA_INTERES AS TASA_TOTAL
        ,RESTRINGIDO AS TIPO_CARTERA
        ,isnull(CREDITO_TIPO,'') AS CREDITO_TIPO
        ,TASA_TIPO
        ,isnull(POSTERGAR_TOTAL,0) AS POSTERGAR_TOTAL
        ,PAGADO_CAPITAL
        ,PAGADO_TOTAL
        


        /*,CAPITAL_FINAL
        ,ADMINISTRADA
        ,OPERACION
        ,CANAL
        ,CAPITAL_INICIAL
        ,ANTICIPOS_MINISTRACIONES
        ,CARTERA_SHF_70
        ,SALDO_INI_AJUSTE
        ,INTERESES_EXIGIBLES_ANT
        ,INTERESES_NO_EXIGIBLES_ANT
        ,SEGUROS
        ,INTERESES_VENCIDOS_IVA
        ,SEGUROS_VENCIDOS
        ,AMORTIZACION_VENCIDA
        ,MORATORIOS
        ,MORATORIOS_IVA
        ,INTERESES_ACCESORIOS
        ,PAGADO_INTERESES
        ,PAGADO_INTERESES_EXIGIBLES
        ,PAGADO_INTERESES_IVA
        ,PAGADO_SEGURO_VIDA
        ,PAGADO_SEGURO_DANOS
        ,PAGADO_MORATORIOS
        ,PAGADO_MORATORIOS_IVA
        ,RECALCULO_INTERESES
        ,RECLASIFICACION_COBRANZA
        ,DISPONIBLE
        ,MONTO_CONDONACION
        ,MONTO_QUITAS
        ,MONTO_CASTIGOS
        ,MONTO_BONIFICACION
        ,MONTO_DESCUENTO
        ,MONTO_EXIGIBLE
        ,isnull(ETAPA_RIESGO_ANT,'') AS ETAPA_RIESGO_ANT
        ,isnull(ESTADO_CARTERA_ANT,'') AS ESTADO_CARTERA_ANT
        ,isnull(CARTERA_ANT,'') AS CARTERA_ANT
        ,isnull(ORDEN_IVA,0) AS ORDEN_IVA
        ,CARTERA_TIPO
        ,isnull(GENERA_IVA,'') AS GENERA_IVA
        ,SALDO_PRINCIPAL_INI
        ,SALDO_PRINCIPAL_FIN
        ,SALDO_PRINCIPAL_COVID_INI
        ,SALDO_PRINCIPAL_COVID_FIN
        ,SALDO_INTERESES_ORDINARIOS_INI
        ,SALDO_INTERESES_ORDINARIOS_FIN
        ,SALDO_INTERESES_COVID_INI
        ,SALDO_MORATORIOS
        ,SALDO_MORATORIOS_COMISIONES_INI
        ,SALDO_IVA_BALANCE
        ,SALDO_SEGURO_BALANCE
        ,SALDO_INTERESES_ORDEN
        ,SALDO_MORATORIOS_COMISIONES_ORDEN
        ,isnull(DEV_INTERESES,0) AS DEV_INTERESES
        ,isnull(DEV_MORATORIOS_COMISIONES,0) AS DEV_MORATORIOS_COMISIONES*/
    FROM [CIERRE].[CMR_REP]
    where FECHA_SISTEMA = @FECHA

END
GO
