SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_CONDICION_COMITE_20260816](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[categoria] [nvarchar](30) NOT NULL,
	[descripcion] [nvarchar](1000) NOT NULL,
	[estatus] [nvarchar](30) NOT NULL,
	[orden] [int] NOT NULL,
	[origen] [nvarchar](30) NOT NULL,
	[fuente_documento] [nvarchar](400) NULL,
	[fecha_compromiso] [datetime2](7) NULL,
	[fecha_cumplimiento] [datetime2](7) NULL,
	[cumplido_por] [nvarchar](200) NULL,
	[comentario] [nvarchar](1000) NULL,
	[creado_por] [nvarchar](200) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[activo] [bit] NOT NULL,
	[asignado_a] [nvarchar](200) NULL,
	[es_propuesta] [bit] NOT NULL
) ON [PRIMARY]
GO
