SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_DI_CHECKITEM_20260727](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[Area] [nvarchar](50) NOT NULL,
	[Item] [nvarchar](300) NOT NULL,
	[is_manual_override] [bit] NOT NULL,
	[fecha_ultimo_cambio] [datetime2](7) NOT NULL,
	[origen_ultimo_cambio] [nvarchar](20) NULL,
	[Activo] [bit] NOT NULL,
	[Orden] [int] NOT NULL,
	[estatus] [nvarchar](20) NOT NULL,
	[excepcion_cerrada_por] [nvarchar](200) NULL,
	[excepcion_comentario] [nvarchar](max) NULL,
	[excepcion_fecha_cierre] [datetime2](7) NULL,
	[excepcion_fecha_compromiso] [datetime2](7) NULL,
	[excepcion_fecha_creacion] [datetime2](7) NULL,
	[excepcion_solicitada_por] [nvarchar](200) NULL,
	[na_comentario] [nvarchar](max) NULL,
	[na_fecha_justificacion] [datetime2](7) NULL,
	[na_justificado_por] [nvarchar](200) NULL,
	[excepcion_es_bloqueante] [bit] NOT NULL,
	[excepcion_motivo_id] [uniqueidentifier] NULL,
	[excepcion_aprobador] [nvarchar](150) NULL,
	[excepcion_fecha_aprobacion] [datetime2](7) NULL,
	[excepcion_evidencia] [nvarchar](400) NULL,
	[na_motivo_id] [uniqueidentifier] NULL,
	[na_aprobador] [nvarchar](150) NULL,
	[na_fecha_aprobacion] [datetime2](7) NULL,
	[exigibilidad_override] [nvarchar](20) NULL,
	[posterior_fecha_compromiso] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
