SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CALIDAD_INCIDENCIA](
	[Id] [uniqueidentifier] NOT NULL,
	[corrida_id] [uniqueidentifier] NOT NULL,
	[Control] [int] NOT NULL,
	[control_nombre] [nvarchar](200) NULL,
	[Severidad] [nvarchar](20) NULL,
	[Responsable] [nvarchar](40) NULL,
	[credito_puente_id] [uniqueidentifier] NULL,
	[credito_nombre] [nvarchar](200) NULL,
	[Producto] [nvarchar](30) NULL,
	[Ejecutivo] [nvarchar](200) NULL,
	[Grupo] [nvarchar](200) NULL,
	[Estatus] [nvarchar](100) NULL,
	[Referencia] [nvarchar](500) NULL,
	[Descripcion] [nvarchar](max) NULL,
 CONSTRAINT [PK_CALIDAD_INCIDENCIA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CALIDAD_INCIDENCIA] ADD  DEFAULT (newid()) FOR [Id]
GO
