SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Miguel Gomez
-- Create date: 24/12/2025
-- Description:	Reporte de Desembolsos de Cartera Comercial
-- =============================================
CREATE   PROCEDURE [CIERRE].[SP_CMR_RPT_DESEMBOLSOS_CARTERA_VIS]
(
    @FechaIni DATE,
	@FechaFin DATE
)
AS
BEGIN
    SET NOCOUNT ON

 
    -- Extracción de desembolsos de cartera comercial
    SELECT MIN(A.ID_SECUENCIA) AS ID_SECUENCIA,
        C.ID_EXTERNO,
        MIN(dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)) AS NOM_CLIENTE,
        MIN(CP.NOMBRE) AS TIPO_CREDITO,
        MIN(ISNULL(C.DESARROLLO,'NA')) AS PROYECTO,
        MIN(CASE WHEN C.COD_ORIGEN IN ('008','031') THEN 'SIN RESTRICCION' ELSE 'RESTRINGIDO' END) AS TIPO_CARTERA,
        MIN(dbo.FN_ORIGEN_FONDOS(C.COD_ORIGEN, C.COD_EMPRESA)) AS CEDIDO,
        CONVERT(VARCHAR(10), A.FEC_MOVIMIENTO, 103) AS FEC_APLICACION,
        SUM(A.MON_MOVIMIENTO) AS MONTO,
        MAX(ISNULL(CH.IND_ETAPA, '')) AS ETAPA
    FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
        INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
        INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
        LEFT JOIN PO.PR_CREDITO_EXTRA CE WITH (NOLOCK) ON CE.ID_EXTERNO = C.ID_EXTERNO
        LEFT JOIN PO.PR_CREDITO_PRODUCTO CP WITH (NOLOCK) ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
        LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
        LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
        LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH WITH (NOLOCK) ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = A.FEC_MOVIMIENTO
    WHERE C.IND_ESTADO IN ('C', 'D') 
        AND C.IND_LINEA = 'N'
        AND C.NUM_DESC_TIPO_CREDITO IN 
            (12,13,14,15,28 -- minoristas
            ,2,18,27        -- puente
            ,7              --sindicado
            ,25             -- castigo
            ,5              -- mezzanine
            ,6,19,21,22,24) -- administrada
        AND A.ID_CUENTA NOT IN ('2061', '2056', '2068') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO
        AND (A.FEC_MOVIMIENTO >= @FechaIni AND A.FEC_MOVIMIENTO <= @FechaFin)
        AND A.MON_MOVIMIENTO <> 0.00
        AND A.TIP_TRANSACCION = 3 --desembolsos
    GROUP BY C.ID_EXTERNO,A.FEC_MOVIMIENTO
    ORDER BY A.FEC_MOVIMIENTO


END
GO
