SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CATALOGO_TIPO_PRODUCTO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[Orden] [int] NOT NULL,
	[producto] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CATALOGO_TIPO_PRODUCTO] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [cierre_puente].[CATALOGO_TIPO_PRODUCTO] ADD  DEFAULT ((0)) FOR [Orden]
GO
