SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CHECKLIST_ITEM](
	[Id] [uniqueidentifier] NOT NULL,
	[checklist_area_id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](300) NOT NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[dias_vigencia] [int] NULL,
	[exigibilidad] [nvarchar](20) NOT NULL,
	[tipo_vigencia] [nvarchar](20) NULL,
 CONSTRAINT [PK_CHECKLIST_ITEM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM] ADD  CONSTRAINT [DF_CHECKLIST_ITEM_exigibilidad]  DEFAULT ('Previo') FOR [exigibilidad]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_CHECKLIST_ITEM_CHECKLIST_AREA_checklist_area_id] FOREIGN KEY([checklist_area_id])
REFERENCES [cierre_puente].[CHECKLIST_AREA] ([Id])
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM] CHECK CONSTRAINT [FK_CHECKLIST_ITEM_CHECKLIST_AREA_checklist_area_id]
GO
