SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CHECKLIST_GRUPO](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](20) NOT NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[producto] [nvarchar](30) NOT NULL,
	[Rol] [nvarchar](100) NULL,
	[checklist_version_id] [uniqueidentifier] NULL,
	[checklist_doc_patron] [nvarchar](200) NULL,
 CONSTRAINT [PK_CHECKLIST_GRUPO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Activo]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO] ADD  DEFAULT (N'EMPRESARIAL') FOR [producto]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_CHECKLIST_GRUPO_VERSION] FOREIGN KEY([checklist_version_id])
REFERENCES [cierre_puente].[CHECKLIST_VERSION] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [cierre_puente].[CHECKLIST_GRUPO] CHECK CONSTRAINT [FK_CHECKLIST_GRUPO_VERSION]
GO
