SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CREDITO_FOLDER_MAPPING](
	[Id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[sharepoint_drive_id] [nvarchar](300) NOT NULL,
	[sharepoint_item_id] [nvarchar](300) NOT NULL,
	[ruta_carpeta] [nvarchar](500) NULL,
	[fecha_vinculacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CREDITO_FOLDER_MAPPING] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CREDITO_FOLDER_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_CREDITO_FOLDER_MAPPING_CREDITOS_PUENTE_credito_puente_id] FOREIGN KEY([credito_puente_id])
REFERENCES [cierre_puente].[CREDITOS_PUENTE] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[CREDITO_FOLDER_MAPPING] CHECK CONSTRAINT [FK_CREDITO_FOLDER_MAPPING_CREDITOS_PUENTE_credito_puente_id]
GO
