SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[MIGRACION_LOG](
	[Id] [uniqueidentifier] NOT NULL,
	[migracion] [nvarchar](60) NOT NULL,
	[credito_id] [uniqueidentifier] NOT NULL,
	[campo] [nvarchar](60) NOT NULL,
	[valor_anterior] [nvarchar](100) NULL,
	[valor_nuevo] [nvarchar](100) NULL,
	[fecha] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[MIGRACION_LOG] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[MIGRACION_LOG] ADD  DEFAULT (getdate()) FOR [fecha]
GO
