SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierres].[DEVENGO_DIARIO](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ArchivoId] [uniqueidentifier] NOT NULL,
	[NucCredito] [nvarchar](50) NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Dia] [int] NOT NULL,
	[InteresIon] [decimal](18, 6) NOT NULL,
	[InteresAfirme] [decimal](18, 6) NOT NULL,
	[ComisionIon] [decimal](18, 6) NOT NULL,
	[ComisionAfirme] [decimal](18, 6) NOT NULL,
 CONSTRAINT [PK_DEVENGO_DIARIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierres].[DEVENGO_DIARIO] ADD  CONSTRAINT [DF_DEVDIA_II]  DEFAULT ((0)) FOR [InteresIon]
GO
ALTER TABLE [cierres].[DEVENGO_DIARIO] ADD  CONSTRAINT [DF_DEVDIA_IA]  DEFAULT ((0)) FOR [InteresAfirme]
GO
ALTER TABLE [cierres].[DEVENGO_DIARIO] ADD  CONSTRAINT [DF_DEVDIA_CI]  DEFAULT ((0)) FOR [ComisionIon]
GO
ALTER TABLE [cierres].[DEVENGO_DIARIO] ADD  CONSTRAINT [DF_DEVDIA_CA]  DEFAULT ((0)) FOR [ComisionAfirme]
GO
ALTER TABLE [cierres].[DEVENGO_DIARIO]  WITH CHECK ADD  CONSTRAINT [FK_DEVENGO_DIARIO_ARCHIVO] FOREIGN KEY([ArchivoId])
REFERENCES [cierres].[ARCHIVO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierres].[DEVENGO_DIARIO] CHECK CONSTRAINT [FK_DEVENGO_DIARIO_ARCHIVO]
GO
