SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [CIERRE].[SP_IND_GEN_MES_MOD] 
@FECHA DATE

AS
BEGIN
	SET NOCOUNT ON;

	BEGIN TRANSACTION
		---actualización de campo Principal Final
	UPDATE C
	SET C.PRINCIPAL_FINAL = C.PRINCIPAL_FINAL + B.MONTO, C.PRINCIPAL_COVID19 = C.PRINCIPAL_COVID19 + B.MONTO 
	FROM CIERRE.IND_REP C  
	INNER JOIN (
		SELECT 
			 NUM_CREDITO,
			 SUM(MON_PAGO) AS MONTO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE COD_CONCEPTO = 'PRINCIPAL' AND
			  ID_SECUENCIA IS NULL
		GROUP BY NUM_CREDITO
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA




---actualización de campo MONTOEXIGIBLECOM
	UPDATE C
	SET C.PRINCIPAL_FINAL = C.PRINCIPAL_FINAL + B.MONTO 
	FROM CIERRE.IND_REP C  
	INNER JOIN (
		SELECT 
			 NUM_CREDITO,
			 SUM(MON_PAGO) AS MONTO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE COD_CONCEPTO IN ('INTERESES', 'COMISION_ADMINISTRACION', 'INTERES_MORATORIO') AND
			  ID_SECUENCIA IS NULL
		GROUP BY NUM_CREDITO
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA




---actualización de campo Responsabilidad
	UPDATE C
	SET C.RESPONSABILIDAD = C.RESPONSABILIDAD + B.MONTO  
	FROM CIERRE.IND_REP C  
	INNER JOIN (
		SELECT 
			 NUM_CREDITO,
			 SUM(MON_PAGO) AS MONTO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE COD_CONCEPTO IN ('INTERESES', 'COMISION_ADMINISTRACION', 'INTERES_MORATORIO') AND
			  ID_SECUENCIA IS NULL
		GROUP BY NUM_CREDITO
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA



---actualización de campo SALDO FINAL MORATORIOS
	UPDATE C
	SET C.SALDO_FINAL_MORATORIOS = C.SALDO_FINAL_MORATORIOS + B.MONTO  
	FROM CIERRE.IND_REP C  
	INNER JOIN (
		SELECT 
			 NUM_CREDITO,
			 SUM(MON_PAGO) AS MONTO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE COD_CONCEPTO IN ('COMISION_ADMINISTRACION', 'MORATORIOS') AND
			  ID_SECUENCIA IS NULL
		GROUP BY NUM_CREDITO
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA



---actualización de campo COVID19
	UPDATE C
	SET C.COVID19 = 'BALLOON', C.CUOTAS_POSPOSICION = CUOTAS_POSPOSICION + 1  
	FROM CIERRE.IND_REP C  
	INNER JOIN (
		SELECT 
			 NUM_CREDITO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE ID_SECUENCIA IS NULL
		GROUP BY NUM_CREDITO
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA



---actualización de campo Intereses_COVID19
	UPDATE C
	SET C.INTERESES_COVID19 = C.INTERESES_COVID19 + B.MONTO  
	FROM CIERRE.IND_REP C  
	INNER JOIN (
		SELECT 
			 NUM_CREDITO,
			 SUM(MON_PAGO) AS MONTO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE COD_CONCEPTO = 'INTERESES' AND
			  ID_SECUENCIA IS NULL
		GROUP BY num_credito
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA



---actualización de campo Iva_COVID19
	UPDATE C
	SET C.IVA_COVID19 = C.IVA_COVID19 + B.MONTO  
	FROM CIERRE.IND_REP c 
	INNER JOIN (
		SELECT 
			 NUM_CREDITO,
			 SUM(MON_PAGO_IVA) AS MONTO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE COD_CONCEPTO = 'INTERESES' AND
			  ID_SECUENCIA IS NULL
		GROUP BY NUM_CREDITO
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA


---actualización de campo Mora_COVID19
	UPDATE C
	SET C.MORA_COVID19 = C.MORA_COVID19 + B.MONTO  
	FROM CIERRE.IND_REP C  
	INNER JOIN (
		SELECT 
			 NUM_CREDITO,
			 SUM(MON_PAGO) AS MONTO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE COD_CONCEPTO IN ('INTERES_MORATORIO', 'MORATORIOS') AND
			  ID_SECUENCIA IS NULL
		GROUP BY NUM_CREDITO
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA


---actualización de campo Comision_Administracion_COVID19
	UPDATE c
	SET C.COMISION_ADMINISTRACION_COVID19 = C.COMISION_ADMINISTRACION_COVID19 + B.MONTO  
	FROM CIERRE.IND_REP C  
	INNER JOIN (
		SELECT 
			 NUM_CREDITO,
			 SUM(MON_PAGO) AS MONTO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE COD_CONCEPTO = 'COMISION_ADMINISTRACION' AND
			  ID_SECUENCIA IS NULL
		GROUP BY NUM_CREDITO
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA



---actualización de campo Iva_Comision_Administracion_COVID19
	UPDATE C
	SET C.IVA_COMISION_ADMINISTRACION_COVID19 = C.IVA_COMISION_ADMINISTRACION_COVID19 + B.MONTO  
	FROM CIERRE.IND_REP C  
	INNER JOIN (
		SELECT 
			 NUM_CREDITO,
			 SUM(MON_PAGO_IVA) AS MONTO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE COD_CONCEPTO = 'COMISION_ADMINISTRACION' AND
			  ID_SECUENCIA IS NULL
		GROUP BY NUM_CREDITO
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA



---actualización de campo Cargo_Seguros_COVID19
	UPDATE C
	SET C.CARGO_SEGUROS_COVID19 = C.CARGO_SEGUROS_COVID19 + B.MONTO  
	FROM CIERRE.IND_REP C  
	INNER JOIN (
		SELECT 
			 NUM_CREDITO,
			 SUM(MON_PAGO) AS MONTO
		FROM KARDIA.PO.PR_BALLON_DET
		WHERE COD_CONCEPTO IN ('SEGURO_DANOS', 'SEGURO_VIDA') AND
			  ID_SECUENCIA IS NULL
		GROUP BY NUM_CREDITO
	) B
		ON C.CREDITO = B.NUM_CREDITO
		AND C.PERIODO = @FECHA

		--- UPDATE DE ETAPA EN UNIVERSO DE CREDITOS

		UPDATE C
		SET C.ETAPA_RIESGO = A.IND_ETAPA  -- ETAPA ACTUAL DEL DIA RECIEN ABIERTO EN SAF
		FROM CIERRE.IND_REP C
		INNER JOIN Quiero_Confianza.PR.PR_CREDITOS A ON C.CREDITO = A.NUM_CREDITO -- CREDITOS IDENTIFICADOS  
			AND (A.IND_ESTADO = 'D'	
			AND  A.IND_LINEA = 'N'  
			AND	 A.NUM_DESC_TIPO_CREDITO IN (1, 3, 9, 10, 11, 16, 17, 20, 23))  
			OR	(A.IND_ESTADO = 'C' 
			AND	 A.FEC_CANCELACION BETWEEN DATEADD(DAY, 1, EOMONTH(@FECHA, -1)) AND EOMONTH(@FECHA) 
			AND	 A.IND_LINEA = 'N'   
			AND	 A.NUM_DESC_TIPO_CREDITO IN (1, 3, 9, 10, 11, 16, 17, 20, 23))
		AND  C.PERIODO  = DATEADD(DAY, -1, @FECHA) -- SE APLICA SOBRE LA INFORMACION EXTRAIDA CON FECHA DE UN DIA ANTES, ES DECIR ANTES DE CERRAR

				
	COMMIT TRANSACTION
 END
GO
