SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[MUESTRAS_AUDITORIA_ITEMS](
	[Id] [uniqueidentifier] NOT NULL,
	[muestra_auditoria_id] [uniqueidentifier] NOT NULL,
	[credito_puente_id] [uniqueidentifier] NOT NULL,
	[nivel] [nvarchar](20) NOT NULL,
	[referencia_id] [nvarchar](300) NULL,
 CONSTRAINT [PK_MUESTRAS_AUDITORIA_ITEMS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[MUESTRAS_AUDITORIA_ITEMS]  WITH CHECK ADD  CONSTRAINT [FK_MUESTRAS_AUDITORIA_ITEMS_MUESTRAS_AUDITORIA_muestra_auditoria_id] FOREIGN KEY([muestra_auditoria_id])
REFERENCES [cierre_puente].[MUESTRAS_AUDITORIA] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[MUESTRAS_AUDITORIA_ITEMS] CHECK CONSTRAINT [FK_MUESTRAS_AUDITORIA_ITEMS_MUESTRAS_AUDITORIA_muestra_auditoria_id]
GO
