SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierres].[POSICION_MENSUAL](
	[Id] [uniqueidentifier] NOT NULL,
	[ArchivoId] [uniqueidentifier] NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[NucCredito] [nvarchar](50) NOT NULL,
	[NombreCliente] [nvarchar](500) NULL,
	[TipoCredito] [nvarchar](200) NULL,
	[Fondeador] [nvarchar](200) NULL,
	[EstadoCartera] [nvarchar](50) NULL,
	[CapitalInicial] [decimal](18, 4) NULL,
	[MinstracionesAnticipos] [decimal](18, 4) NULL,
	[PagosCapital] [decimal](18, 4) NULL,
	[AjusteCapital] [decimal](18, 4) NULL,
	[CapitalFinal] [decimal](18, 4) NULL,
	[CapitalVigente] [decimal](18, 4) NULL,
	[CapitalVencido] [decimal](18, 4) NULL,
	[InteresesExigiblesPeriodo] [decimal](18, 4) NULL,
	[InteresesDevengadosPeriodo] [decimal](18, 4) NULL,
	[IvaIntereses] [decimal](18, 4) NULL,
	[Seguros] [decimal](18, 4) NULL,
	[Moratorios] [decimal](18, 4) NULL,
	[IvaMoratorios] [decimal](18, 4) NULL,
	[PagosCapitalAplicado] [decimal](18, 4) NULL,
	[PagosInteresesDevengados] [decimal](18, 4) NULL,
	[PagosInteresesExigibles] [decimal](18, 4) NULL,
	[PagosIvaIntereses] [decimal](18, 4) NULL,
	[PagosSeguros] [decimal](18, 4) NULL,
	[PagosMoratorios] [decimal](18, 4) NULL,
	[TotalPagado] [decimal](18, 4) NULL,
	[SaldoIntereses] [decimal](18, 4) NULL,
	[SaldoIvaIntereses] [decimal](18, 4) NULL,
	[SaldoSeguros] [decimal](18, 4) NULL,
	[SaldoMoratorios] [decimal](18, 4) NULL,
	[TotalNoPagado] [decimal](18, 4) NULL,
	[SaldoAFavorMesAnterior] [decimal](18, 4) NULL,
	[SaldoAFavorMesActual] [decimal](18, 4) NULL,
	[Condonaciones] [decimal](18, 4) NULL,
	[Quitas] [decimal](18, 4) NULL,
	[Castigos] [decimal](18, 4) NULL,
	[RecalculoIntereses] [decimal](18, 4) NULL,
	[Tasa] [decimal](10, 6) NULL,
	[TasaMoratoria] [decimal](10, 6) NULL,
	[DiasCalculo] [int] NULL,
	[AplicaIva] [bit] NULL,
	[CuotasVencidas] [int] NULL,
	[DiasVencidos] [int] NULL,
	[TienePostergacion] [bit] NULL,
	[FilaOriginal] [int] NULL,
	[MontoCredito] [decimal](18, 4) NULL,
	[FechaApertura] [datetime2](7) NULL,
	[PlazoCuotas] [int] NULL,
	[OriginalInteres] [decimal](18, 4) NULL,
	[Gastos] [decimal](18, 4) NULL,
	[CargoSeguros] [decimal](18, 4) NULL,
	[CuentaOrdenSeguros] [decimal](18, 4) NULL,
	[ExigibleDevengados] [decimal](18, 4) NULL,
	[InteresesCuentaOrden] [decimal](18, 4) NULL,
	[IvaInteresesCuentaOrden] [decimal](18, 4) NULL,
	[SegurosCuentaOrden] [decimal](18, 4) NULL,
	[SaldoIvaMoratorios] [decimal](18, 4) NULL,
	[InteresesVencidosBalanza] [decimal](18, 4) NULL,
	[ComisionVencidos] [decimal](18, 4) NULL,
	[IvaComisionVencidos] [decimal](18, 4) NULL,
	[NumeroCorte] [int] NULL,
	[FechaPeriodo] [datetime2](7) NULL,
	[FechaUltimoPago] [datetime2](7) NULL,
	[MontoBaseInteres] [decimal](18, 4) NULL,
	[InteresesNoExigibles] [decimal](18, 4) NULL,
 CONSTRAINT [PK_POSICION_MENSUAL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierres].[POSICION_MENSUAL] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierres].[POSICION_MENSUAL] ADD  DEFAULT ((0)) FOR [TienePostergacion]
GO
ALTER TABLE [cierres].[POSICION_MENSUAL]  WITH CHECK ADD  CONSTRAINT [FK_PM_ARCHIVO] FOREIGN KEY([ArchivoId])
REFERENCES [cierres].[ARCHIVO] ([Id])
GO
ALTER TABLE [cierres].[POSICION_MENSUAL] CHECK CONSTRAINT [FK_PM_ARCHIVO]
GO
