SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[BAK_SONORA_RENAME_20260811](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Slug] [nvarchar](220) NULL
) ON [PRIMARY]
GO
