SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CHECKLIST_VERSION](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Producto] [nvarchar](30) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[CreadoPor] [nvarchar](256) NULL,
	[EsActiva] [bit] NOT NULL,
 CONSTRAINT [PK_CHECKLIST_VERSION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_VERSION] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_VERSION] ADD  CONSTRAINT [DF_CHECKLIST_VERSION_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_VERSION] ADD  CONSTRAINT [DF_CHECKLIST_VERSION_EsActiva]  DEFAULT ((0)) FOR [EsActiva]
GO
