SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[MUESTRAS_AUDITORIA](
	[Id] [uniqueidentifier] NOT NULL,
	[nombre] [nvarchar](200) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[tipo] [nvarchar](20) NOT NULL,
	[token] [nvarchar](64) NULL,
	[fecha_creacion] [datetime2](7) NOT NULL,
	[creado_por] [nvarchar](256) NOT NULL,
	[fecha_expiracion] [datetime2](7) NOT NULL,
	[activa] [bit] NOT NULL,
	[fecha_revocacion] [datetime2](7) NULL,
	[revocado_por] [nvarchar](256) NULL,
 CONSTRAINT [PK_MUESTRAS_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
