SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[CHECKLIST_ITEM_PUNTO](
	[Id] [uniqueidentifier] NOT NULL,
	[checklist_item_id] [uniqueidentifier] NOT NULL,
	[Numero] [nvarchar](20) NULL,
	[Descripcion] [nvarchar](1000) NOT NULL,
	[validar_contra] [nvarchar](1000) NULL,
	[areas_revisoras] [nvarchar](200) NULL,
	[tipo_validacion] [nvarchar](30) NOT NULL,
	[parametro_validacion] [nvarchar](100) NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[fecha_creacion] [datetime] NOT NULL,
 CONSTRAINT [PK_CHECKLIST_ITEM_PUNTO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM_PUNTO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM_PUNTO] ADD  CONSTRAINT [DF_CIP_TIPO]  DEFAULT ('Manual') FOR [tipo_validacion]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM_PUNTO] ADD  CONSTRAINT [DF_CIP_ORDEN]  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM_PUNTO] ADD  CONSTRAINT [DF_CIP_ACTIVO]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM_PUNTO] ADD  CONSTRAINT [DF_CIP_FECHA]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM_PUNTO]  WITH CHECK ADD  CONSTRAINT [FK_CIP_CHECKLIST_ITEM] FOREIGN KEY([checklist_item_id])
REFERENCES [cierre_puente].[CHECKLIST_ITEM] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[CHECKLIST_ITEM_PUNTO] CHECK CONSTRAINT [FK_CIP_CHECKLIST_ITEM]
GO
