SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cierre_puente].[MUESTRAS_AUDITORIA_USUARIOS](
	[Id] [uniqueidentifier] NOT NULL,
	[muestra_auditoria_id] [uniqueidentifier] NOT NULL,
	[aspnet_user_id] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_MUESTRAS_AUDITORIA_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [cierre_puente].[MUESTRAS_AUDITORIA_USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_MUESTRAS_AUDITORIA_USUARIOS_MUESTRAS_AUDITORIA_muestra_auditoria_id] FOREIGN KEY([muestra_auditoria_id])
REFERENCES [cierre_puente].[MUESTRAS_AUDITORIA] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [cierre_puente].[MUESTRAS_AUDITORIA_USUARIOS] CHECK CONSTRAINT [FK_MUESTRAS_AUDITORIA_USUARIOS_MUESTRAS_AUDITORIA_muestra_auditoria_id]
GO
