SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Miguel Gomez
-- Create date: 30/01/2026
-- Description:	Reporte Castigos de cartera
-- =============================================
CREATE   PROCEDURE [CIERRE].[SP_RPT_CASTIGOS_CARTERA_VIS]
(
    @FechaIni DATE,
    @FechaFin DATE
)
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @FechaFinExclusiva DATE = DATEADD(DAY, 1, @FechaFin)

    SELECT A.FECHA_CASTIGO,
        A.ID_EXTERNO,
        A.ACREDITADO,
        A.PROYECTO,
        A.TIPO_CREDITO,
        A.TIPO_CARTERA,
        A.CARTERA,
        A.ETAPA,
        A.PRINCIPAL,
        A.INTERESES,
        A.COM_ADM_MORATORIOS,
        A.PRINCIPAL+A.INTERESES+A.COM_ADM_MORATORIOS AS SALDO_CARTERA_CASTIGADA,
        A.IVA_INTERESES,
        A.IVA_COM_ADM_MORATORIOS,
        A.SEGUROS,
        A.IVA_SEGUROS,
        A.IVA_INTERESES+A.IVA_COM_ADM_MORATORIOS+A.SEGUROS+A.IVA_SEGUROS AS SALDO_ACCESORIOS,
        A.OTROS,
        A.IVA_OTROS,
        A.PRINCIPAL+A.INTERESES+A.COM_ADM_MORATORIOS+A.IVA_INTERESES+A.IVA_COM_ADM_MORATORIOS+A.SEGUROS+A.IVA_SEGUROS+A.OTROS+A.IVA_OTROS AS TOTAL_BALANCE,
        A.INTERESES_CO,
        A.IVA_INTERESES_CO,
        A.COM_ADM_MORATORIOS_CO,
        A.IVA_COM_ADM_MORATORIOS_CO,
        A.SEGUROS_CO,
        A.IVA_SEGUROS_CO,
        A.OTROS_CO,
        A.IVA_OTROS_CO,
        INTERESES_CO+IVA_INTERESES_CO+COM_ADM_MORATORIOS_CO+IVA_COM_ADM_MORATORIOS_CO+SEGUROS_CO+IVA_SEGUROS_CO+OTROS_CO+IVA_OTROS_CO AS TOTAL_CO,
        PRINCIPAL+INTERESES+COM_ADM_MORATORIOS+IVA_INTERESES+IVA_COM_ADM_MORATORIOS+SEGUROS+IVA_SEGUROS+OTROS+IVA_OTROS+
        INTERESES_CO+IVA_INTERESES_CO+COM_ADM_MORATORIOS_CO+IVA_COM_ADM_MORATORIOS_CO+SEGUROS_CO+IVA_SEGUROS_CO+OTROS_CO+IVA_OTROS_CO AS TOTAL_CASTIGO,
        A.INTERESES_POST,
        A.IVA_INTERESES_POST,
        A.COM_ADM_MORATORIOS_POST,
        A.IVA_COM_ADM_MORATORIOS_POST,
        A.SEGUROS_POST,
        A.IVA_SEGUROS_POST,
        A.OTROS_POST,
        A.IVA_OTROS_POST,
        A.INTERESES_POST+A.IVA_INTERESES_POST+A.COM_ADM_MORATORIOS_POST+A.IVA_COM_ADM_MORATORIOS_POST+A.SEGUROS_POST+A.IVA_SEGUROS_POST+A.OTROS_POST+A.IVA_OTROS_POST AS TOTAL_POSTERIOR
    FROM (SELECT FC.FECHA AS FECHA_CASTIGO,
            SMA.ID_EXTERNO,
            SMA.NOM_CLIENTE AS ACREDITADO,
            CASE WHEN SMA.TIPO_CREDITO = 'PUENTE' OR SMA.TIPO_CREDITO = 'INVERSION' THEN C.DESARROLLO ELSE 'N/A' END AS PROYECTO,
            CASE WHEN SMA.NOMBRE_PRODUCTO IS NULL THEN
                (CASE
                    WHEN SMA.ID_TIPO_CREDITO = 1 THEN 'CONSUMO'
                    WHEN SMA.ID_TIPO_CREDITO IN (9, 10, 11) THEN 'EMPLEADO'
                    ELSE SMA.TIPO_VIVIENDA
                END)
            ELSE SMA.NOMBRE_PRODUCTO END AS TIPO_CREDITO,
            CASE WHEN SMA.ID_FONDEO = 2 THEN 'SIN RESTRICCION' ELSE 'RESTRINGIDO' END AS TIPO_CARTERA,
            (SELECT P.NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO P WHERE P.ID_SAF = SMA.ID_TIPO_CREDITO) AS CARTERA,
            SMA.IND_ETAPA AS ETAPA,
        -----------------------------------------------------BALANCE--------------------------------------------------------
            SUM(CASE WHEN rubro = 'PRINCIPAL' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
                THEN monto * 9   
                WHEN rubro = 'PRINCIPAL' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
                THEN monto * 1  
                ELSE 0 END) AS PRINCIPAL,
            SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) AS INTERESES,
            (SUM( CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro = 'COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END)) AS COM_ADM_MORATORIOS,
            SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) AS IVA_INTERESES,
            (SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro = 'IVA COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END ) +
            SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END)) AS IVA_COM_ADM_MORATORIOS,
            (SUM (CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro = 'SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) +
            SUM (CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END)) AS SEGUROS,
            SUM (CASE WHEN rubro = 'IVA SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro = 'IVA SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) AS IVA_SEGUROS,
            SUM( CASE WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('IVA COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) AS OTROS,
            SUM(CASE WHEN rubro IN ('IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END )AS IVA_OTROS,
        -----------------------------------------CANCELACION DE CUENTAS DE ORDEN--------------------------------------------
            SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END) AS INTERESES_CO,
            SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END) AS IVA_INTERESES_CO,
            (SUM( CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro = 'COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END)) AS COM_ADM_MORATORIOS_CO,
            (SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro = 'IVA COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END ) +
            SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END)) AS IVA_COM_ADM_MORATORIOS_CO,
            (SUM (CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro = 'SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END) +
            SUM (CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END)) AS SEGUROS_CO,
            SUM (CASE WHEN rubro = 'IVA SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro = 'IVA SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END) AS IVA_SEGUROS_CO,
            SUM( CASE WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro IN ('IVA COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END) AS OTROS_CO,
            SUM(CASE WHEN rubro IN ('IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 9 
                WHEN rubro IN ('IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto * 1  
                ELSE 0 END )AS IVA_OTROS_CO,
        ---------------------------------------CANCELACION DE CUENTAS DE POSTERIOR------------------------------------------
            SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) AS INTERESES_POST,
            SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) AS IVA_INTERESES_POST,
            (SUM( CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro = 'COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END)) AS COM_ADM_MORATORIOS_POST,
            (SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro = 'IVA COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END ) +
            SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END)) AS IVA_COM_ADM_MORATORIOS_POST,
            (SUM (CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro = 'SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) +
            SUM (CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END)) AS SEGUROS_POST,
            SUM (CASE WHEN rubro = 'IVA SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro = 'IVA SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) AS IVA_SEGUROS_POST,
            SUM( CASE WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('IVA COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END) AS OTROS_POST,
            SUM(CASE WHEN rubro IN ('IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 9 
                WHEN rubro IN ('IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto * 1  
                ELSE 0 END )AS IVA_OTROS_POST
        FROM PO.SAF_MOV_ABONO SMA
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON SMA.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN PO.FECHA_CASTIGO FC WITH (NOLOCK) ON FC.NUM_CREDITO = C.NUM_CREDITO
        WHERE SMA.ID_POLIZA IN (37,38,51,58)
            AND SMA.FECHA_MOVIMIENTO >= @FechaIni AND SMA.FECHA_MOVIMIENTO < @FechaFinExclusiva
            AND NOT (SMA.CONCEPTO LIKE 'TRS %' OR SMA.CONCEPTO LIKE 'PAGO CCO %')
            AND SMA.ID_SECUENCIA IS NOT NULL
            AND SMA.MONTO > 0
        GROUP BY FC.FECHA,SMA.ID_EXTERNO,SMA.NOM_CLIENTE,SMA.TIPO_CREDITO,C.DESARROLLO,SMA.NOMBRE_PRODUCTO,SMA.ID_TIPO_CREDITO,SMA.TIPO_VIVIENDA,SMA.ID_FONDEO,SMA.IND_ETAPA
        UNION ALL
        SELECT FC.FECHA AS FECHA_CASTIGO,
            SMA.ID_EXTERNO,
            SMA.NOM_CLIENTE AS ACREDITADO,
            CASE WHEN SMA.TIPO_CREDITO = 'PUENTE' OR SMA.TIPO_CREDITO = 'INVERSION' THEN C.DESARROLLO ELSE 'N/A' END AS PROYECTO,
            CASE WHEN SMA.NOMBRE_PRODUCTO IS NULL THEN
                (CASE
                    WHEN SMA.ID_TIPO_CREDITO = 1 THEN 'CONSUMO'
                    WHEN SMA.ID_TIPO_CREDITO IN (9, 10, 11) THEN 'EMPLEADO'
                    ELSE SMA.TIPO_VIVIENDA
                END)
            ELSE SMA.NOMBRE_PRODUCTO END AS TIPO_CREDITO,
            CASE WHEN SMA.ID_FONDEO = 2 THEN 'SIN RESTRICCION' ELSE 'RESTRINGIDO' END AS TIPO_CARTERA,
            (SELECT P.NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO P WHERE P.ID_SAF = SMA.ID_TIPO_CREDITO) AS CARTERA,
            SMA.IND_ETAPA AS ETAPA,
        -----------------------------------------------------BALANCE--------------------------------------------------------
            SUM(CASE WHEN rubro = 'PRINCIPAL' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
                THEN monto
                ELSE 0 END) AS PRINCIPAL,
            SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto
                ELSE 0 END) AS INTERESES,
            (SUM(CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto ELSE 0 END)) AS COM_ADM_MORATORIOS,
            --'PRINCIPAL+INTERESES+COM_ADM_MORATORIOS' AS SALDO_CARTERA_CASTIGADA,
            SUM(CASE WHEN rubro = 'IVA INTERESES' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto  ELSE 0 END) AS IVA_INTERESES,
            (SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto ELSE 0 END)) AS IVA_COM_ADM_MORATORIOS,
            (SUM(CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro = 'SEGURO_VIDA' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' OR rubro = 'CARGO_PORCENTAJE' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto ELSE 0 END)) AS SEGUROS,
            SUM(CASE WHEN rubro = 'IVA SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto ELSE 0 END) AS IVA_SEGUROS,
            --'IVA_INTERESES+IVA_COM_ADM_MORATORIOS+SEGUROS+IVA_SEGUROS' AS SALDO_ACCESORIOS,
            SUM(CASE WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto ELSE 0 END) AS OTROS,
            SUM(CASE WHEN rubro IN ('IVA COMISION_ANTICIPADA','IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %' AND CONCEPTO != 'POSTERIOR'
                THEN monto ELSE 0 END) AS IVA_OTROS,
            --'PRINCIPAL+INTERESES+COM_ADM_MORATORIOS+IVA_INTERESES+IVA_COM_ADM_MORATORIOS+SEGUROS+IVA_SEGUROS+OTROS+IVA_OTROS' AS TOTAL_BALANCE,
        -----------------------------------------CANCELACION DE CUENTAS DE ORDEN--------------------------------------------
            SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto
                ELSE 0 END) AS INTERESES_CO,
            SUM(CASE WHEN rubro = 'IVA INTERESES' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto  ELSE 0 END) AS IVA_INTERESES_CO,
            (SUM(CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto ELSE 0 END)) AS COM_ADM_MORATORIOS_CO,
            (SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto ELSE 0 END)) AS IVA_COM_ADM_MORATORIOS_CO,
            (SUM(CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro = 'SEGURO_VIDA' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' OR rubro = 'CARGO_PORCENTAJE' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto ELSE 0 END)) AS SEGUROS_CO,
            SUM(CASE WHEN rubro = 'IVA SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto ELSE 0 END) AS IVA_SEGUROS_CO,
            SUM(CASE WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto ELSE 0 END) AS OTROS_CO,
            SUM(CASE WHEN rubro IN ('IVA COMISION_ANTICIPADA','IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %' AND CONCEPTO NOT LIKE '% POSTERIOR %'
                THEN monto ELSE 0 END) AS IVA_OTROS_CO,
            --'INTERESES_CO+IVA_INTERESES_CO+COM_ADM_MORATORIOS_CO+IVA_COM_ADM_MORATORIOS_CO+SEGUROS_CO+IVA_SEGUROS_CO+OTROS_CO+IVA_OTROS_CO' AS TOTAL_CO,
            -- 'PRINCIPAL+INTERESES+COM_ADM_MORATORIOS+IVA_INTERESES+IVA_COM_ADM_MORATORIOS+SEGUROS+IVA_SEGUROS+OTROS+IVA_OTROS+
            --  INTERESES_CO+IVA_INTERESES_CO+COM_ADM_MORATORIOS_CO+IVA_COM_ADM_MORATORIOS_CO+SEGUROS_CO+IVA_SEGUROS_CO+OTROS_CO+IVA_OTROS_CO' AS TOTAL_CASTIGO,
            SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto
                ELSE 0 END) AS INTERESES_POST,
            SUM(CASE WHEN rubro = 'IVA INTERESES' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto  ELSE 0 END) AS IVA_INTERESES_POST,
            (SUM(CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto ELSE 0 END)) AS COM_ADM_MORATORIOS_POST,
            (SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto ELSE 0 END)) AS IVA_COM_ADM_MORATORIOS_POST,
            (SUM(CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro = 'SEGURO_VIDA' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' OR rubro = 'CARGO_PORCENTAJE' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto ELSE 0 END)) AS SEGUROS_POST,
            SUM(CASE WHEN rubro = 'IVA SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto ELSE 0 END) AS IVA_SEGUROS_POST,
            SUM(CASE WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto ELSE 0 END) AS OTROS_POST,
            SUM(CASE WHEN rubro IN ('IVA COMISION_ANTICIPADA','IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% POSTERIOR %' OR CONCEPTO LIKE '% POSTERIOR CO %' OR CONCEPTO = 'POSTERIOR'
                THEN monto ELSE 0 END) AS IVA_OTROS_POST
            --'INTERESES_POST+IVA_INTERESES_POST+COM_ADM_MORATORIOS_POST+IVA_COM_ADM_MORATORIOS_POST+SEGUROS_POST+IVA_SEGUROS_POST+OTROS_POST+IVA_OTROS_POST' AS TOTAL_POSTERIOR,
        FROM  PO.SAF_MOV_ABONO SMA
            INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON SMA.NUM_CREDITO = C.NUM_CREDITO
            LEFT JOIN PO.FECHA_CASTIGO FC WITH (NOLOCK) ON FC.NUM_CREDITO = C.NUM_CREDITO
        WHERE SMA.ID_POLIZA IN (37,38,51,58)
            AND SMA.FECHA_MOVIMIENTO >= @FechaIni AND SMA.FECHA_MOVIMIENTO < @FechaFinExclusiva
            AND NOT (SMA.CONCEPTO LIKE 'TRS %' OR SMA.CONCEPTO LIKE 'PAGO CCO %')
            AND SMA.TIPO_CREDITO = 'ADMINISTRACION INDIVIDUAL'
            AND SMA.ID_SECUENCIA IS NOT NULL
            AND SMA.MONTO > 0
        GROUP BY FC.FECHA,SMA.ID_EXTERNO,SMA.NOM_CLIENTE,SMA.TIPO_CREDITO,C.DESARROLLO,SMA.NOMBRE_PRODUCTO,SMA.ID_TIPO_CREDITO,SMA.TIPO_VIVIENDA,SMA.ID_FONDEO,SMA.IND_ETAPA) A

END
GO
