SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20240405
-- Description:	valida la estructura de una cuenta
-- =============================================
CREATE FUNCTION [dbo].[FN_CUENTA_NO_VALIDA]
(
	@cuenta varchar(100)
)
RETURNS bit
AS
BEGIN
	
    if @cuenta = 'Por asignar' begin
        return 0
    end
	
    if @cuenta = 'Cuenta SAF' begin
        return 0
    end
	
    if @cuenta = 'No aplica' begin
        return 0
    end

    if len(@cuenta)>19 begin
        return 1
    end

    if len(@cuenta)<19 begin
        return 1
    end

    set @cuenta = replace(@cuenta,'-','')

	if ISNUMERIC(@cuenta) = 0 begin
        return 1
    end

	return 0

END
GO
