SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20260226
-- Descripcion:	Funcion que cambio el rubro saf por el equivalente que se considera en contabilidad para la poliza
-- =============================================
CREATE FUNCTION [dbo].[FN_RUBRO_POL]
(
	@RUBRO VARCHAR(35)
)
RETURNS VARCHAR(35)
AS
BEGIN
	DECLARE @RUBRO_POL VARCHAR(35)

	SET @RUBRO_POL = CASE @RUBRO
			WHEN 'CARGO_PORCENTAJE' THEN 'SEGURO_VIDA' 
			WHEN 'INTERES_MORATORIO' THEN 'MORATORIOS'
			WHEN 'MORA_EMPRESARIAL' THEN 'MORATORIOS'
			WHEN 'SEG_DAN' THEN 'SEGURO_DANOS' 
			WHEN 'CARGO_SEGURO' THEN 'SEGURO_DANOS' 
			WHEN 'IVA CARGO_PORCENTAJE' THEN 'IVA SEGURO_VIDA' 
			WHEN 'IVA INTERES_MORATORIO' THEN 'IVA MORATORIOS'
			WHEN 'IVA MORA_EMPRESARIAL' THEN 'IVA MORATORIOS'
			WHEN 'IVA SEG_DAN' THEN 'IVA SEGURO_DANOS' 
			WHEN 'IVA CARGO_SEGURO' THEN 'IVA SEGURO_DANOS' 
		ELSE @RUBRO END

	RETURN @RUBRO_POL

END
GO
