SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20251104
-- Descripcion:	Determina cual es el credito previo de una reestructura
-- =============================================
CREATE FUNCTION [dbo].[FN_CREDITO_PREVIO]
(
	@NUM_CREDITO INT
)
RETURNS INT
AS
BEGIN
	
	DECLARE @CREDITO_PREVIO INT

	SELECT @CREDITO_PREVIO = MAX(NUM_CREDITO)
	FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C
	WHERE C.NUM_CONTRATO IN (
			SELECT C.NUM_CONTRATO
			FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C
			WHERE NUM_CREDITO = @NUM_CREDITO
		) and NUM_CREDITO < @NUM_CREDITO and IND_ESTADO <> 'N'
	GROUP BY NUM_CONTRATO

	RETURN @CREDITO_PREVIO

END
GO
