SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[REPORTE_COBRANZA_INTEGRACION]
    @fechaMovimiento DATE
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        case when ID_POLIZA = 7  then 'INDIVIDUAL '
             when ID_POLIZA = 35 then 'INDIVIDUAL ' 
             when ID_POLIZA = 37 then 'INDIVIDUAL CASTIGO ' 
             when ID_POLIZA = 40 then 'COMERCIAL' 
             when ID_POLIZA = 51 then 'COMERCIAL CASTIGO'
             when ID_POLIZA = 77 then 'COMERCIAL SINDICADA'
             when ID_POLIZA = 88 then 'COMERCIAL SINDICADA CASTIGO'
        end +
	    case when tipo_credito = 'ADMINISTRACION INDIVIDUAL' then 'AFIRME' 
            when tipo_credito IN ('PMP-ADQ- INDIVIDUAL','PMP-LIQ-COMERCIAL','VIVIENDA','PMP-LIQ- INDIVIDUAL') then 'ION' 
            when ID_POLIZA IN (77,88) and TABLA_ORIGEN = 'COBRANZA COM SND ADM' then ' SHF' 
            else case when ID_POLIZA IN (40,51,77,88) then '' else isnull(tipo_credito,'') end
        end as CARTERA,
		ID_SECUENCIA SECUENCIA,
        MAX(ID_EXTERNO) ID_EXTERNO,
        case when ID_POLIZA IN (7,35,37) then MAX(TIPO_VIVIENDA) else H.TIPO_CREDITO end as CLASIFICACION_DE_VIVIENDA,
        MAX(case when ID_FONDEO = 2 then 'NO RESTRINGIDO' else 'RESTRINGIDO' end )as Restringido,
		MAX(CEDIDO) AS CEDIDO,
        MAX(case when ind_etapa in (1,2) then 'VIGENTE' else 'VENCIDA' end) as ESTATUS,
		MAX(CASE WHEN CONCEPTO_ANT like '%PAGO DESCARGA FAVOR%' THEN 'DESCARGA A FAVOR' ELSE 'BANCO' END) AS CONCEPTO,
        MAX(CASE WHEN CONCEPTO_ANT like '%PAGO DESCARGA FAVOR%' THEN 'DESCARGA A FAVOR' ELSE BANCO_RECEPTOR END) AS BANCO,
        case when ID_POLIZA = 7  then 'INDIVIDUAL'
             when ID_POLIZA = 35 then 'INDIVIDUAL' 
             when ID_POLIZA = 37 then 'INDIVIDUAL' 
             when ID_POLIZA = 40 then 'COMERCIAL' 
             when ID_POLIZA = 51 then 'COMERCIAL'
             when ID_POLIZA = 77 then 'COMERCIAL'
             when ID_POLIZA = 88 then 'COMERCIAL'
        end AS TIPO_CREDITO,
        MAX(H.FECHA_MOVIMIENTO) AS FECHA_MOVIMIENTO,
         SUM(CASE WHEN rubro = 'PRINCIPAL' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9   
		 WHEN rubro = 'PRINCIPAL' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS PRINCIPAL,
         SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS INTERESES,
        SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS IVA_INTERESES,
         SUM (CASE WHEN rubro IN ('SEGURO_DANOS','SEG_DAN','CARGO_SEGURO') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro IN ('SEGURO_DANOS','SEG_DAN','CARGO_SEGURO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS SEGURO_DANOS,
         SUM (CASE WHEN rubro IN ('IVA SEGURO_DANOS','IVA SEG_DAN','IVA CARGO_SEGURO') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro IN ('IVA SEGURO_DANOS','IVA SEG_DAN','IVA CARGO_SEGURO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS IVA_SEGURO_DANOS,
         SUM (CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		  ELSE 0 END) AS SEGURO_VIDA,
       SUM( CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro = 'COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS COMISION_ADMINISTRACION,
        SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro = 'IVA COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END )AS IVA_COMISION_ADMINISTRACION,
        SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO','MORA_EMPRESARIAL')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO','MORA_EMPRESARIAL') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS MORATORIOS,
        SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO','IVA MORA_EMPRESARIAL')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO','IVA MORA_EMPRESARIAL') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS IVA_MORATORIOS,
        SUM(CASE WHEN rubro = 'SALDO_FAVOR'  and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro = 'SALDO_FAVOR' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		ELSE 0 END) AS SALDO_FAVOR,
        SUM( CASE WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR','COMISION_ANTIC_M','PRORROGA') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro IN ('IVA COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR','COMISION_ANTIC_M','PRORROGA') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END) AS OTRO,
        SUM(CASE WHEN rubro IN ('IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR','IVA COMISION_ANTIC_M','IVA PRORROGA') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 9 
		 WHEN rubro IN ('IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR','IVA COMISION_ANTIC_M','IVA PRORROGA') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
		 THEN monto * 1  
		 ELSE 0 END )AS IVA_OTRO,
		SUM(CASE 
        WHEN tipo_credito = 'ADMINISTRACION INDIVIDUAL' THEN monto * 9 
        WHEN tipo_credito <> 'ADMINISTRACION INDIVIDUAL' THEN monto * 1
        ELSE 0
        END) AS TOTAL,
        H.IND_ETAPA  AS ETAPA,
        isnull(IND_COVID,'N') as IND_COVID
    FROM PO.SAF_MOV_ABONO H
    WHERE 
        ID_POLIZA in (7, 35, 37    , 40, 51    , 77,88)
        AND fecha_movimiento = @fechaMovimiento 
        AND NOT (concepto LIKE 'TRS %' OR concepto LIKE 'PAGO CCO %')
		AND ID_SECUENCIA IS NOT NULL
		AND MONTO > 0
		--AND D.IND_ESTADO != 'P'


    GROUP BY 
        ID_POLIZA,
        ID_SECUENCIA,
        TABLA_ORIGEN,
		TIPO_CREDITO,
		IND_ETAPA,
        isnull(IND_COVID,'N')

	
UNION ALL  

	 SELECT 
        case when ID_POLIZA = 7  then 'INDIVIDUAL '
             when ID_POLIZA = 35 then 'INDIVIDUAL EMPLEADO ' 
             when ID_POLIZA = 37 then 'INDIVIDUAL CASTIGO ' 
             when ID_POLIZA = 40 then 'COMERCIAL' 
             when ID_POLIZA = 51 then 'COMERCIAL CASTIGO'
             when ID_POLIZA = 77 then 'COMERCIAL SINDICADA'
             when ID_POLIZA = 88 then 'COMERCIAL SINDICADA CASTIGO'
        end +
	    case when tipo_credito = 'ADMINISTRACION INDIVIDUAL' then 'ION' 
           else case when ID_POLIZA IN (40,51) then '' else isnull(tipo_credito,'') end end as CARTERA,
		ID_SECUENCIA SECUENCIA,
        MAX(ID_EXTERNO) ID_EXTERNO,
        case when ID_POLIZA IN (7,35,37) then MAX(TIPO_VIVIENDA) else H.TIPO_CREDITO end as CLASIFICACION_DE_VIVIENDA,
        MAX(case when ID_FONDEO = 2 then 'NO RESTRINGIDO' else 'RESTRINGIDO' end )as RESTRINGIDO,
		MAX(CEDIDO) AS CEDIDO,
        MAX(case when ind_etapa in (1,2) then 'VIGENTE' else 'VENCIDA' end) as ESTATUS,
		MAX(CASE WHEN CONCEPTO_ANT like '%PAGO DESCARGA FAVOR%' THEN 'DESCARGA A FAVOR' ELSE 'BANCO' END) AS CONCEPTO,
        MAX(CASE WHEN CONCEPTO_ANT like '%PAGO DESCARGA FAVOR%' THEN 'DESCARGA A FAVOR' ELSE BANCO_RECEPTOR END) AS BANCO,
        case when ID_POLIZA = 7  then 'INDIVIDUAL'
             when ID_POLIZA = 35 then 'INDIVIDUAL' 
             when ID_POLIZA = 37 then 'INDIVIDUAL' 
             when ID_POLIZA = 40 then 'COMERCIAL' 
             when ID_POLIZA = 51 then 'COMERCIAL'
             when ID_POLIZA = 77 then 'COMERCIAL'
             when ID_POLIZA = 88 then 'COMERCIAL'
        end AS TIPO_CREDITO,
        MAX(FECHA_MOVIMIENTO) FECHA_MOVIMIENTO,
        SUM(CASE WHEN rubro = 'PRINCIPAL' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto
		 ELSE 0 END) AS PRINCIPAL,
        SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto
		 ELSE 0 END) AS INTERESES,
        SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto  ELSE 0 END) AS IVA_INTERESES,
        SUM(CASE WHEN rubro IN ('SEGURO_DANOS','SEG_DAN','CARGO_SEGURO') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto ELSE 0 END) AS SEGURO_DANOS,
        SUM(CASE WHEN rubro IN ('IVA SEGURO_DANOS','IVA SEG_DAN','IVA CARGO_SEGURO') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto ELSE 0 END) AS IVA_SEGURO_DANOS,
        SUM(CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto ELSE 0 END) AS SEGURO_VIDA,
        SUM(CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto ELSE 0 END) AS COMISION_ADMINISTRACION,
        SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto ELSE 0 END) AS IVA_COMISION_ADMINISTRACION,
        SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO','MORA_EMPRESARIAL') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto ELSE 0 END) AS MORATORIOS,
        SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO','IVA MORA_EMPRESARIAL') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto ELSE 0 END) AS IVA_MORATORIOS,
        SUM(CASE WHEN rubro = 'SALDO_FAVOR' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto ELSE 0 END) AS SALDO_FAVOR,
        SUM(CASE WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR','COMISION_ANTIC_M','PRORROGA') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto ELSE 0 END) AS OTRO,
        SUM(CASE WHEN rubro IN ('IVA COMISION_ANTICIPADA','IVA COMISION_PREPAGO','IVA VISITA_EXTRA','IVA COM_CIERRE_OBRA','IVA ASE_FINANCIERA','IVA COM_PRORROGA','IVA COM_REESTRUCTURA','IVA OPI VALOR','IVA COMISION_ANTIC_M','IVA PRORROGA') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		 THEN monto ELSE 0 END) AS IVA_OTRO,
        SUM(CASE WHEN tipo_credito = 'ADMINISTRACION INDIVIDUAL'
         THEN monto ELSE 0 END) AS TOTAL,
        IND_ETAPA ETAPA,
        isnull(IND_COVID,'N') as IND_COVID
    FROM  PO.SAF_MOV_ABONO H
    WHERE 
        ID_POLIZA in (7, 35, 37    , 40, 51     ,77,88)
        AND fecha_movimiento = @fechaMovimiento 
        AND NOT (concepto LIKE 'TRS %' OR concepto LIKE 'PAGO CCO %')
		AND tipo_credito = 'ADMINISTRACION INDIVIDUAL'
		AND ID_SECUENCIA IS NOT NULL
		AND MONTO > 0
		--AND D.IND_ESTADO != 'P'

    GROUP BY 
        ID_POLIZA,
        ID_SECUENCIA,
        TABLA_ORIGEN,
		TIPO_CREDITO,
		IND_ETAPA,
        isnull(IND_COVID,'N')
		
END
GO
