SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_CARTERA_CREDITO]
(
	@COD_CLIENTE VARCHAR(15)
)
RETURNS VARCHAR(15)
AS
BEGIN
	DECLARE @CARTERA VARCHAR(15), @NR_C INT = NULL, @NR_I INT = NULL, @IE_C VARCHAR(1) = NULL, @IE_I VARCHAR(1) = NULL
	DECLARE @INDIVIDUAL TABLE (NUM_CREDITO INT, IND_ESTADO VARCHAR(1))
	DECLARE @COMERCIAL TABLE (NUM_CREDITO INT, IND_ESTADO VARCHAR(1))

	------- INDIVIDUAL
	INSERT INTO @INDIVIDUAL(NUM_CREDITO, IND_ESTADO)
	SELECT NUM_CREDITO, IND_ESTADO
	FROM [Quiero_Confianza_shadow].PR.PR_CREDITOS
	WHERE NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17,    26,   4,20,23)
	    AND IND_ESTADO IN('D','C')
	    AND IND_LINEA= 'N'
	    AND COD_CLIENTE = @COD_CLIENTE
	GROUP BY NUM_CREDITO, IND_ESTADO

	SELECT @NR_I = COUNT(*) FROM @INDIVIDUAL

	------- COMERCIAL
	INSERT INTO @COMERCIAL
	SELECT NUM_CREDITO, IND_ESTADO
	FROM [Quiero_Confianza_shadow].PR.PR_CREDITOS
	WHERE NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27,   7,    25,    5,6,19,21,22,24)
	    AND IND_ESTADO IN('D','C')
	    AND IND_LINEA= 'N'
	    AND COD_CLIENTE = @COD_CLIENTE
	GROUP BY NUM_CREDITO, IND_ESTADO

	SELECT @NR_C = COUNT(*) FROM @COMERCIAL

	IF @NR_C > 0 BEGIN
	    SET @CARTERA = 'COMERCIAL'
	END ELSE BEGIN
	    IF @NR_I > 0 BEGIN
	        SET @CARTERA = 'INDIVIDUAL'
	    END ELSE BEGIN
            SET @CARTERA = 'COMERCIAL'
        END
    END

	RETURN @CARTERA
END
GO
