SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Daniel Aros Ramírez
-- Creacion:	20240607
-- Descripcion:	Extrae un fragmento de información de una columna.
-- =============================================
CREATE FUNCTION [dbo].[INFO_EXTRA_EXTRAER]
(
	@ETIQUETA VARCHAR(50),
	@COLUMNA VARCHAR(MAX)
)
RETURNS VARCHAR(400)
AS
BEGIN
	DECLARE @INICIO_ETIQUETA INT, @INICIO_DATO INT, @FIN_ETIQUETA INT, @DATO VARCHAR(400)

	SET @ETIQUETA = @ETIQUETA + ':'
	SET @INICIO_ETIQUETA = CHARINDEX(@ETIQUETA, @COLUMNA)
	IF @INICIO_ETIQUETA = 0 RETURN null
	SET @INICIO_DATO = @INICIO_ETIQUETA + LEN(@ETIQUETA)
	SET @FIN_ETIQUETA = CHARINDEX(';', @COLUMNA, @INICIO_DATO)
	IF @FIN_ETIQUETA = 0 RETURN null

	SET @DATO = SUBSTRING(@COLUMNA, @INICIO_DATO, @FIN_ETIQUETA - @INICIO_DATO)

	return @DATO
END
GO
