SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Daniel Aros Ramírez
-- Creacion:	20240621
-- Descripcion:	Funcion que dedvuelve si es canal minorista o comercial
-- =============================================
CREATE FUNCTION [dbo].[FN_TIPO_CANAL]
(
	@TIP_TASA VARCHAR(15)
)
RETURNS VARCHAR(30)
AS
BEGIN
	DECLARE @CANAL VARCHAR(30)
	/*SET @CANAL = CASE 
		WHEN SUBSTRING(@ID_EXTERNO, 1, 4) 
			IN ('CHGA','CHOL','CHPT','CHTE','CLIQ','CLPY','CLRE','FHOL','FHTE','FLIQ','MLIQ','NLIQ','RLIQ') THEN 'MINORISTA' 
		ELSE 'COMERCIAL' 
	END*/
	SET @CANAL = IIF(@TIP_TASA = 'F', 'MINORISTA', 'COMERCIAL')

	RETURN @CANAL
END
GO
