SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [demandas_archivo].[DEMANDA_DESPACHO](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](300) NOT NULL,
	[Contacto] [nvarchar](300) NULL,
	[Email] [nvarchar](256) NULL,
	[Activo] [bit] NOT NULL
) ON [PRIMARY]
GO
