SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [demandas_archivo].[DEMANDA_BLOQUEADOR](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[TipoBloqueador] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[ResponsableResolucion] [nvarchar](256) NULL,
	[FechaDeteccion] [datetime2](7) NOT NULL,
	[FechaCompromiso] [datetime2](7) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[RequiereComite] [bit] NOT NULL,
	[ComentarioCierre] [nvarchar](max) NULL,
	[FechaCierre] [datetime2](7) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
