SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [demandas_archivo].[DEMANDA_CASO](
	[Id] [uniqueidentifier] NOT NULL,
	[FolioDemanda] [nvarchar](30) NOT NULL,
	[Nuc] [nvarchar](30) NULL,
	[IdExterno] [nvarchar](30) NULL,
	[Cliente] [nvarchar](300) NULL,
	[TipoCartera] [nvarchar](30) NULL,
	[Producto] [nvarchar](50) NULL,
	[Capital] [decimal](18, 2) NOT NULL,
	[CreditoPuenteId] [uniqueidentifier] NULL,
	[EstadoPreDemanda] [nvarchar](60) NULL,
	[EtapaJudicial] [nvarchar](60) NULL,
	[EtapaOrden] [int] NOT NULL,
	[TipoJuicio] [nvarchar](60) NULL,
	[ResponsableInterno] [nvarchar](256) NULL,
	[DespachoId] [uniqueidentifier] NULL,
	[AbogadoResponsable] [nvarchar](256) NULL,
	[FechaAlta] [datetime2](7) NOT NULL,
	[FechaMora] [datetime2](7) NULL,
	[FechaObjetivoDemanda] [datetime2](7) NULL,
	[FechaPresentacionDemanda] [datetime2](7) NULL,
	[Juzgado] [nvarchar](300) NULL,
	[NumeroExpedienteJudicial] [nvarchar](100) NULL,
	[Semaforo] [nvarchar](20) NULL,
	[BloqueadorPrincipal] [nvarchar](100) NULL,
	[RequiereComite] [bit] NOT NULL,
	[IonEsDemandado] [bit] NOT NULL,
	[Prioridad] [int] NOT NULL,
	[MotivoJudicializacion] [nvarchar](max) NULL,
	[Estatus] [nvarchar](20) NOT NULL,
	[MotivoCierre] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[EstadoEspecial] [nvarchar](60) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
