SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[EDC_CFDI](
	[CFDI_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDEN_ID] [int] NOT NULL,
	[DOCUMENTO_ID] [int] NOT NULL,
	[LOG_EDC_ID] [int] NOT NULL,
	[ID_EDC] [int] NULL,
	[FECHA_TIMBRADO] [varchar](50) NOT NULL,
	[FORMA_PAGO] [varchar](25) NOT NULL,
	[METODO_PAGO] [varchar](25) NOT NULL,
	[MONEDA] [varchar](25) NOT NULL,
	[MONTO] [money] NOT NULL,
	[FOLIO_FISCAL] [varchar](64) NOT NULL,
	[RECEPTOR_RFC] [varchar](15) NOT NULL,
	[RECEPTOR_NOMBRE] [varchar](2048) NULL,
	[CORREOS_RECEPTOR] [varchar](999) NULL,
	[USO_CFDI] [varchar](25) NOT NULL,
	[EMISOR_RFC] [varchar](15) NOT NULL,
	[EMISOR_NOMBRE] [varchar](2048) NULL,
	[PAC_RESPONSE] [text] NOT NULL,
	[PATH_PDF] [varchar](2048) NOT NULL,
	[PATH_XML] [varchar](2048) NOT NULL,
	[PATH_PDF_AWS] [varchar](2048) NULL,
	[PATH_XML_AWS] [varchar](2048) NULL,
	[S3KEY] [varchar](512) NULL,
 CONSTRAINT [PK18] PRIMARY KEY NONCLUSTERED 
(
	[CFDI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edc].[EDC_CFDI]  WITH CHECK ADD  CONSTRAINT [RefEDC17] FOREIGN KEY([ID_EDC])
REFERENCES [edc].[EDC] ([ID_EDC])
GO
ALTER TABLE [edc].[EDC_CFDI] CHECK CONSTRAINT [RefEDC17]
GO
ALTER TABLE [edc].[EDC_CFDI]  WITH CHECK ADD  CONSTRAINT [RefLOG_EDC22] FOREIGN KEY([LOG_EDC_ID])
REFERENCES [edc].[LOG_EDC] ([LOG_EDC_ID])
GO
ALTER TABLE [edc].[EDC_CFDI] CHECK CONSTRAINT [RefLOG_EDC22]
GO
ALTER TABLE [edc].[EDC_CFDI]  WITH CHECK ADD  CONSTRAINT [RefORDEN27] FOREIGN KEY([ORDEN_ID])
REFERENCES [edc].[EDC_ORDEN] ([ORDEN_ID])
GO
ALTER TABLE [edc].[EDC_CFDI] CHECK CONSTRAINT [RefORDEN27]
GO
ALTER TABLE [edc].[EDC_CFDI]  WITH CHECK ADD  CONSTRAINT [RefTDOCUMENTO24] FOREIGN KEY([DOCUMENTO_ID])
REFERENCES [edc].[TDOCUMENTO] ([DOCUMENTO_ID])
GO
ALTER TABLE [edc].[EDC_CFDI] CHECK CONSTRAINT [RefTDOCUMENTO24]
GO
