SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_USUARIO](
	[USUARIO_ID] [varchar](128) NOT NULL,
	[NOMBRE] [varchar](99) NULL,
	[AP_PATERNO] [varchar](99) NULL,
	[AP_MATERNO] [varchar](99) NULL,
	[EMAIL] [varchar](500) NULL,
	[ACTIVO] [bit] NOT NULL,
	[FECHA_REGISTRO] [datetime] NULL,
	[ES_ADMINISTRADOR] [bit] NOT NULL,
 CONSTRAINT [PK22] PRIMARY KEY NONCLUSTERED 
(
	[USUARIO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[C_USUARIO] ADD  DEFAULT ((1)) FOR [ACTIVO]
GO
ALTER TABLE [edc].[C_USUARIO] ADD  DEFAULT ((0)) FOR [ES_ADMINISTRADOR]
GO
