SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [edc].[sp_UpsertClienteCredito]
CREATE PROCEDURE [edc].[sp_UpsertClienteCredito]
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRAN;

    /* ================================================
       🧩 CTE: datos fuente
       ================================================*/
        ;WITH DatosFuente AS (
            SELECT
                B.[COD_CLIENTE]                                               AS [NumCliente],
                ISNULL(DEMOGRAFICOS.[ACREDITADO], B.[NOM_CLIENTE])            COLLATE SQL_Latin1_General_CP1_CI_AS AS [NomCliente],
                ISNULL(DEMOGRAFICOS.[RFC], D.[NUM_ID])                        COLLATE SQL_Latin1_General_CP1_CI_AS AS [RFC],
                ISNULL(DEMOGRAFICOS.[CALLE],       DIRECCION.[DET_DIRECCION]) COLLATE SQL_Latin1_General_CP1_CI_AS AS [Calle],
                ISNULL(DEMOGRAFICOS.[NO_EXT],      DIRECCION.[NUM_EXTERIOR])  COLLATE SQL_Latin1_General_CP1_CI_AS AS [NoExt],
                ISNULL(DEMOGRAFICOS.[NO_INT],      DIRECCION.[NUM_INTERIOR])  COLLATE SQL_Latin1_General_CP1_CI_AS AS [NoInt],
                ISNULL(DEMOGRAFICOS.[COLONIA],     DIRECCION.[DES_DISTRITO])  COLLATE SQL_Latin1_General_CP1_CI_AS AS [Colonia],
                ISNULL(DEMOGRAFICOS.[MUNICIPIO],   DIRECCION.[DES_PROVINCIA]) COLLATE SQL_Latin1_General_CP1_CI_AS AS [DelMun],
                ISNULL(DEMOGRAFICOS.[CP],          DIRECCION.[COD_POSTAL])    COLLATE SQL_Latin1_General_CP1_CI_AS AS [CP],
                ISNULL(DIRECCION.[NOM_PAIS], DEMOGRAFICOS.[ESTADO])           COLLATE SQL_Latin1_General_CP1_CI_AS AS [Estado],
                E.[NUM_ID]                                                    COLLATE SQL_Latin1_General_CP1_CI_AS AS [CURP],
                ISNULL(DEMOGRAFICOS.[EMAIL], B.[DES_CORREO])                  COLLATE SQL_Latin1_General_CP1_CI_AS AS [Email1],
                '3796603@bcc.hubspot.com'                                                             AS [Email2],
                A.[ID_EXTERNO]                                                AS [NumCredito],

                -- Descripción documental
                CASE
                    WHEN A.[NUM_DESC_TIPO_CREDITO] IN (1,2,3,9,10,11,12,13,14,15,16,17,28) THEN 'CREDITO ION'
                    WHEN A.[NUM_DESC_TIPO_CREDITO] = 4                               THEN 'CREDITO AFIRME'
                    WHEN A.[NUM_DESC_TIPO_CREDITO] = 8  AND A.[TIP_CREDITO]=35       THEN 'CREDITO A'
                    WHEN A.[NUM_DESC_TIPO_CREDITO] = 8  AND A.[TIP_CREDITO] IN (37,38) THEN 'CREDITO B'
                    WHEN A.[NUM_DESC_TIPO_CREDITO] = 20                              THEN 'CREDITO QB'
                    WHEN A.[NUM_DESC_TIPO_CREDITO] = 23                              THEN 'CREDITO SHCH'
                    ELSE 'CREDITO'
                END                                                                  COLLATE SQL_Latin1_General_CP1_CI_AS AS [NomDoc],

                -- Referencia crédito
                CASE
                    WHEN A.[NUM_DESC_TIPO_CREDITO] IN (1,2,3,9,10,11,12,13,14,15,16,17,28) THEN 'CREDITO ION'
                    WHEN A.[NUM_DESC_TIPO_CREDITO] = 4  THEN 'CREDITO AFIRME'
                    WHEN A.[NUM_DESC_TIPO_CREDITO] = 8  THEN 'CREDITO SHF'
                    WHEN A.[NUM_DESC_TIPO_CREDITO] = 20 THEN 'CREDITO QB'
                    WHEN A.[NUM_DESC_TIPO_CREDITO] = 23 THEN 'CREDITO SHCH'
                END                                                                  COLLATE SQL_Latin1_General_CP1_CI_AS AS [RefCredito],

                CREDITO.[MON_INICIAL],
                'Hipotecario'                                                        AS [TipoCredito],
                ''                                                                   AS [Proyecto],
                A.[FEC_APERTURA]                                                     AS [FecApertura],
                'MENSUAL'                                                            AS [TipoPago],
                'MENSUAL'                                                            AS [TipoInteres],
                CASE WHEN A.[COD_MONEDA] = 1 THEN 'MXN' ELSE 'TBD' END              COLLATE SQL_Latin1_General_CP1_CI_AS AS [Moneda],

                /* 〰️ Nuevo campo requerido por los MERGE */
                0                                                                    AS [Bloqueado]
            FROM  [Quiero_Confianza].[PR].[PR_CREDITOS] A
            LEFT  JOIN [Quiero_Confianza].[CL].[CL_CLIENTES]      B ON B.[COD_CLIENTE] = A.[COD_CLIENTE]
            LEFT  JOIN [Quiero_Confianza].[CL].[CL_ID_CLIENTES]   D ON D.[COD_CLIENTE] = A.[COD_CLIENTE] AND D.[COD_TIPO_ID] = 'RFC'
            LEFT  JOIN [Quiero_Confianza].[CL].[CL_ID_CLIENTES]   E ON E.[COD_CLIENTE] = A.[COD_CLIENTE] AND E.[COD_TIPO_ID] = 'CURP'
            LEFT  JOIN [DB_EDO_CTA].[EDC].[DEMOGRAFICOS]       DEMOGRAFICOS ON DEMOGRAFICOS.[ID_EXTERNO] = A.[ID_EXTERNO] COLLATE SQL_Latin1_General_CP1_CI_AS
            OUTER APPLY (
                SELECT TOP 1
                    C.[DET_DIRECCION], C.[NUM_EXTERIOR], C.[NUM_INTERIOR],
                    R.[DES_DISTRITO], Q.[DES_PROVINCIA], C.[COD_POSTAL], P.[NOM_PAIS]
                FROM  [Quiero_Confianza].[CL].[CL_DIR_CLIENTES] C
                JOIN  [Quiero_Confianza].[PA].[PA_DISTRITOS]   R ON R.[COD_DISTRITO] = C.[COD_DISTRITO]
                JOIN  [Quiero_Confianza].[PA].[PA_PROVINCIAS]  Q ON Q.[COD_PROVINCIA] = C.[COD_PROVINCIA]
                JOIN  [Quiero_Confianza].[PA].[PA_PAISES]      P ON P.[COD_PAIS]      = C.[COD_PAIS]
                WHERE C.[COD_CLIENTE] = A.[COD_CLIENTE] AND C.[APDO_POSTAL] = 'DF'
            ) DIRECCION
            OUTER APPLY (
                SELECT SUM([MON_CREDITO]) AS [MON_INICIAL]
                FROM   [Quiero_Confianza].[PR].[PR_CREDITOS]
                WHERE  [ID_EXTERNO] = A.[ID_EXTERNO]
                  AND  [IND_LINEA]  = 'N'
                  AND  [IND_ESTADO] = 'D'
            ) CREDITO
            WHERE A.[IND_LINEA]  = 'N'
              AND A.[IND_ESTADO] = 'D'
              AND A.[NUM_DESC_TIPO_CREDITO] IN (1,2,3,4,8,9,10,11,12,13,14,15,16,17,20,23,28)
              AND A.[ID_EXTERNO] IS NOT NULL
        )

    /* ================================================
       🧩 PASO 1 – C_CLIENTE
       ================================================*/
        MERGE [KARDIA].[edc].[C_CLIENTE] AS cli
        USING (
            SELECT DISTINCT
                   [NumCliente], [NomCliente], [RFC], [Calle], [NoExt],
                   [NoInt], [Colonia], [DelMun], [CP], [Estado],
                   [CURP], [Email1], [Email2]
            FROM DatosFuente
        ) AS src
        ON  cli.[NUM_CLIENTE] = src.[NumCliente]
        WHEN MATCHED AND (
             cli.[NOM_CLIENTE] <> src.[NomCliente] OR
             cli.[RFC]         <> src.[RFC]         OR
             cli.[CALLE]       <> src.[Calle]       OR
             cli.[NO_EXT]      <> src.[NoExt]       OR
             cli.[NO_INT]      <> src.[NoInt]       OR
             cli.[COLONIA]     <> src.[Colonia]     OR
             cli.[DEL_MUN]     <> src.[DelMun]      OR
             cli.[CP]          <> src.[CP]          OR
             cli.[ESTADO]      <> src.[Estado]      OR
             cli.[CURP]        <> src.[CURP]        OR
             cli.[EMAIL1]      <> src.[Email1]      OR
             cli.[EMAIL2]      <> src.[Email2]
        )
        THEN UPDATE SET
             [NOM_CLIENTE] = src.[NomCliente],
             [RFC]         = src.[RFC],
             [CALLE]       = src.[Calle],
             [NO_EXT]      = src.[NoExt],
             [NO_INT]      = src.[NoInt],
             [COLONIA]     = src.[Colonia],
             [DEL_MUN]     = src.[DelMun],
             [CP]          = src.[CP],
             [ESTADO]      = src.[Estado],
             [CURP]        = src.[CURP],
             [EMAIL1]      = src.[Email1],
             [EMAIL2]      = src.[Email2]
        WHEN NOT MATCHED THEN
            INSERT ([NUM_CLIENTE], [NOM_CLIENTE], [RFC], [CALLE], [NO_EXT],
                    [NO_INT], [COLONIA], [DEL_MUN], [CP], [ESTADO],
                    [CURP], [EMAIL1], [EMAIL2])
            VALUES (src.[NumCliente], src.[NomCliente], src.[RFC], src.[Calle], src.[NoExt],
                    src.[NoInt], src.[Colonia], src.[DelMun], src.[CP], src.[Estado],
                    src.[CURP], src.[Email1], src.[Email2]);

    /* ================================================
       🧩 PASO 2 – C_CREDITO
       ================================================*/
        MERGE [KARDIA].[edc].[C_CREDITO] AS cre
        USING (
            SELECT DISTINCT
                   [NumCredito], [NumCliente], [NomDoc], [RefCredito], [MON_INICIAL],
                   [TipoCredito], [Proyecto],  [FecApertura], [TipoPago],
                   [TipoInteres], [Moneda],    [Bloqueado]
            FROM DatosFuente
        ) AS src
        ON  cre.[NUM_CREDITO] = src.[NumCredito]
        AND cre.[NUM_CLIENTE] = src.[NumCliente]
        WHEN MATCHED AND (
             cre.[NOM_DOC]      <> src.[NomDoc]      OR
             cre.[REF_CREDITO]  <> src.[RefCredito]  OR
             cre.[MON_INICIAL]  <> src.[MON_INICIAL] OR
             cre.[TIPO_CREDITO] <> src.[TipoCredito] OR
             cre.[PROYECTO]     <> src.[Proyecto]    OR
             cre.[FEC_APERTURA] <> src.[FecApertura] OR
             cre.[TIPO_PAGO]    <> src.[TipoPago]    OR
             cre.[TIPO_INTERES] <> src.[TipoInteres] OR
             cre.[MONEDA]       <> src.[Moneda]      OR
             cre.[BLOQUEADO]    <> src.[Bloqueado]
        )
        THEN UPDATE SET
             [NOM_DOC]      = src.[NomDoc],
             [REF_CREDITO]  = src.[RefCredito],
             [MON_INICIAL]  = src.[MON_INICIAL],
             [TIPO_CREDITO] = src.[TipoCredito],
             [PROYECTO]     = src.[Proyecto],
             [FEC_APERTURA] = src.[FecApertura],
             [TIPO_PAGO]    = src.[TipoPago],
             [TIPO_INTERES] = src.[TipoInteres],
             [MONEDA]       = src.[Moneda],
             [BLOQUEADO]    = src.[Bloqueado]
        WHEN NOT MATCHED THEN
            INSERT ([NUM_CREDITO], [NUM_CLIENTE], [NOM_DOC], [REF_CREDITO], [MON_INICIAL],
                    [TIPO_CREDITO], [PROYECTO], [FEC_APERTURA], [TIPO_PAGO],
                    [TIPO_INTERES], [MONEDA], [BLOQUEADO])
            VALUES (src.[NumCredito], src.[NumCliente], src.[NomDoc], src.[RefCredito], src.[MON_INICIAL],
                    src.[TipoCredito], src.[Proyecto], src.[FecApertura], src.[TipoPago],
                    src.[TipoInteres], src.[Moneda], src.[Bloqueado]);

    /* ================================================
       🧩 PASO 3 – C_CLIENTE_CREDITO
       ================================================*/
        MERGE [KARDIA].[edc].[C_CLIENTE_CREDITO] AS rel
        USING (
            SELECT DISTINCT [NumCredito], [NumCliente], [Bloqueado]
            FROM DatosFuente
        ) AS src
        ON  rel.[NUM_CREDITO] = src.[NumCredito]
        AND rel.[NUM_CLIENTE] = src.[NumCliente]
        WHEN MATCHED AND rel.[BLOQUEADO] <> src.[Bloqueado]
            THEN UPDATE SET [BLOQUEADO] = src.[Bloqueado]
        WHEN NOT MATCHED
            THEN INSERT ([NUM_CREDITO], [NUM_CLIENTE], [BLOQUEADO])
                 VALUES (src.[NumCredito], src.[NumCliente], src.[Bloqueado]);

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        ROLLBACK TRAN;
        THROW;
    END CATCH
END
GO
