SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[LOG_ERROR](
	[ERROR_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [nvarchar](1024) NOT NULL,
	[NOTA] [ntext] NULL,
	[FECHA] [datetime] NOT NULL,
	[NOTIFICADO] [bit] NOT NULL,
	[ORDEN_ID] [int] NULL,
	[ID_EDC] [int] NULL,
 CONSTRAINT [PK9] PRIMARY KEY NONCLUSTERED 
(
	[ERROR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
