SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_CONCEPTOFACT](
	[CONCEPTO_ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](99) NOT NULL,
	[CVE_PRODSERV] [varchar](25) NOT NULL,
	[CVE_UNIDAD] [varchar](10) NOT NULL,
	[TIPO_FACTOR] [varchar](25) NOT NULL,
	[TASAOCUOTA] [varchar](25) NOT NULL,
	[IMPUESTO] [varchar](25) NOT NULL,
	[TIPO_IMPUESTO] [varchar](25) NOT NULL,
 CONSTRAINT [PK5] PRIMARY KEY NONCLUSTERED 
(
	[CONCEPTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
