SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*────────────────────────────────────────────────────────────────────────────*/
CREATE PROCEDURE [edc].[sp_inserEdcCuotasPospuestas]
    @FECHA DATE          -- fecha de corte/ extracción
AS
BEGIN
    SET NOCOUNT ON;

    /*──── parámetros derivados ────*/
   --DECLARE @FECHA DATE = '20250101'
   DECLARE @DIA_CORTE SMALLINT = DAY(@FECHA);
    DECLARE @FLAG      BIT      = CASE WHEN @DIA_CORTE IN (1,3,5) THEN 1 ELSE 0 END;

    /*──── créditos elegibles ────*/
    ;WITH Cred AS (
        SELECT  A.ID_EXTERNO ,
                A.DIA_PAGO ,
                E.ID_EDC
        FROM    Quiero_Confianza.PR.PR_CREDITOS A  WITH (NOLOCK)
        JOIN    KARDIA.edc.EDC              E
                 ON E.NUM_CREDITO = A.ID_EXTERNO
                AND E.FECHA_CORTE = @FECHA
        WHERE   A.IND_LINEA   = 'N'
          AND   A.IND_ESTADO  = 'D'
          AND   A.IND_ESTADO_CONT = 'VI'
          AND   A.NUM_DESC_TIPO_CREDITO IN (1,2,3,4,9,10,11,12,13,14,15,16,17,28)
          AND   A.FEC_APERTURA < @FECHA
          AND  ((@FLAG = 0 AND A.DIA_PAGO IN (28,29,30,31))
                OR (@FLAG <> 0 AND A.DIA_PAGO = @DIA_CORTE))
    ),
    Raw AS (   /* cuotas pospuestas del día de corte */
        SELECT  c.ID_EDC,
                a.ID_EXTERNO,
                MAX(b.FECHA_POSPOSICION)                            AS FECHA_PAGO,
                b.NUM_SECUENCIA,
                SUM(CASE WHEN b.COD_RUBRO='PRINCIPAL'               THEN b.SAL_RUBRO END)            AS CAPITAL,
                SUM(CASE WHEN b.COD_RUBRO='INTERESES'               THEN b.SAL_RUBRO END)            AS INTERESES,
                SUM(b.SAL_IVA)                                                                         AS IVA,
                SUM(CASE WHEN b.COD_RUBRO IN ('SEGURO_DANOS','SEGURO_VIDA')
                                                                 THEN b.SAL_RUBRO END)                AS SEGUROS,
                SUM(CASE WHEN b.COD_RUBRO='MORATORIOS'              THEN b.SAL_RUBRO END)            AS INTERESES_MORATORIOS,
                SUM(CASE WHEN b.COD_RUBRO='COMISION_ADMINISTRACION' THEN b.SAL_RUBRO END)            AS COMISION_POR_ADMINISTRACION
        FROM   Cred                 c
        JOIN   Quiero_Confianza.PR.PR_CREDITOS              a WITH (NOLOCK)
                 ON a.ID_EXTERNO = c.ID_EXTERNO
        JOIN   Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO b WITH (NOLOCK)
                 ON b.NUM_CREDITO     = a.NUM_CREDITO
                AND b.IND_ESTADO      = 'P'
                AND b.IND_POSPOSICION = 'S'
                AND a.DIA_PAGO        = @DIA_CORTE
        GROUP BY c.ID_EDC, a.ID_EXTERNO, b.NUM_SECUENCIA
    ),
    Final AS (
        SELECT  ID_EDC,
                ID_EXTERNO                                       AS NUM_CREDITO,
                FECHA_PAGO,
                CAPITAL,
                INTERESES,
                IVA,
                SEGUROS,
                INTERESES_MORATORIOS,
                COMISION_POR_ADMINISTRACION,
                CAPITAL + INTERESES + IVA + SEGUROS
                      + INTERESES_MORATORIOS + COMISION_POR_ADMINISTRACION   AS TOTAL,
                @FECHA                                           AS FEC_EXTRACCION
        FROM    Raw
    )

    /*──────────── MERGE para evitar duplicados ────────────*/
    MERGE KARDIA.edc.EDC_CUOTAS_POSPUESTAS AS T
    USING Final AS S
      ON  T.NUM_CREDITO  = S.NUM_CREDITO
      AND T.FECHA_PAGO   = S.FECHA_PAGO
      AND T.CAPITAL      = S.CAPITAL
      AND T.INTERESES    = S.INTERESES
      AND T.IVA          = S.IVA
      AND T.SEGUROS      = S.SEGUROS
      AND T.INTERESES_MORATORIOS        = S.INTERESES_MORATORIOS
      AND T.COMISION_POR_ADMINISTRACION = S.COMISION_POR_ADMINISTRACION
      AND T.TOTAL        = S.TOTAL
      AND T.FEC_EXTRACCION = S.FEC_EXTRACCION
    WHEN NOT MATCHED THEN
        INSERT (ID_EDC,NUM_CREDITO,FECHA_PAGO,CAPITAL,INTERESES,IVA,SEGUROS,
                INTERESES_MORATORIOS,COMISION_POR_ADMINISTRACION,TOTAL,FEC_EXTRACCION)
        VALUES (S.ID_EDC,S.NUM_CREDITO,S.FECHA_PAGO,S.CAPITAL,S.INTERESES,S.IVA,S.SEGUROS,
                S.INTERESES_MORATORIOS,S.COMISION_POR_ADMINISTRACION,S.TOTAL,S.FEC_EXTRACCION);
/*
    /*──────── bitácora ────────*/
    INSERT KARDIA.log.EDC_BITACORA
           (FECHA_CORTE,PROCESO,MOVIMIENTOS,CREATED)
    VALUES (@FECHA,
            'sp_inserEdcCuotasPospuestas - EDC_CUOTAS_POSPUESTAS',
            (SELECT COUNT(*) FROM KARDIA.edc.EDC_CUOTAS_POSPUESTAS WHERE FEC_EXTRACCION=@FECHA),
            SYSDATETIME());
*/
END
GO
