SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_ACCION](
	[ACCION_ID] [int] NOT NULL,
	[NOMBRE] [varchar](999) NOT NULL,
	[TIPO] [varchar](100) NOT NULL,
	[ETIQUETA] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
