SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_MAPEO](
	[MAPEO_ID] [int] IDENTITY(1,1) NOT NULL,
	[PLANTILLA_ID] [int] NOT NULL,
	[FNAME] [varchar](255) NOT NULL,
	[VALUE] [varchar](3999) NULL,
	[DBNAME] [varchar](255) NULL,
	[PREFIJO] [varchar](25) NULL,
	[FORMATO] [varchar](25) NULL,
	[CONTROL_TYPE] [int] NOT NULL,
	[FONT_NAME] [varchar](99) NULL,
	[FONT_SIZE] [decimal](10, 0) NULL,
	[FORECOLOR] [varchar](16) NULL,
	[BACKCOLOR] [varchar](16) NULL,
	[BORDER_WIDTH] [decimal](18, 4) NULL,
	[VISIBLE] [bit] NULL,
	[BOLD] [bit] NULL,
	[BORDER_COLOR] [varchar](16) NULL,
	[POSTFIJO] [varchar](10) NULL,
	[IN_TABLE] [varchar](50) NOT NULL,
 CONSTRAINT [PK16] PRIMARY KEY NONCLUSTERED 
(
	[MAPEO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[C_MAPEO] ADD  DEFAULT ('EDC') FOR [IN_TABLE]
GO
ALTER TABLE [edc].[C_MAPEO]  WITH CHECK ADD  CONSTRAINT [RefPLANTILLA20] FOREIGN KEY([PLANTILLA_ID])
REFERENCES [edc].[C_PLANTILLA] ([PLANTILLA_ID])
GO
ALTER TABLE [edc].[C_MAPEO] CHECK CONSTRAINT [RefPLANTILLA20]
GO
