SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[EDC_ORDEN](
	[ORDEN_ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EDC] [int] NOT NULL,
	[ID_EMISOR] [int] NOT NULL,
	[PORCENTAJE_FACTURA] [money] NULL,
	[FORMA_PAGO] [varchar](25) NOT NULL,
	[METODO_PAGO] [varchar](25) NOT NULL,
	[SALDO_PRINCIPAL] [money] NULL,
	[TOTAL_GLOBAL_FACTURA] [money] NULL,
	[UUID] [varchar](64) NULL,
	[SAT_FECHA_EMISION] [varchar](25) NULL,
	[SAT_NUM_SERIE_CERTIFICADO] [varchar](255) NULL,
	[SAT_NUM_CERTIFICADO] [varchar](255) NULL,
	[SAT_FECHA_CERTIFICACION] [varchar](25) NULL,
	[SAT_SELLO_DIGITAL] [varchar](2048) NULL,
	[SAT_SELLO_SAT] [varchar](2048) NULL,
	[SAT_CADENA_ORIGINAL] [varchar](2048) NULL,
	[ESTATUS_ORDEN] [int] NULL,
	[ESTATUS_CANCELACION] [int] NULL,
	[ACUSE_CANCELACION] [int] NULL,
	[INFO_PROCESO] [ntext] NULL,
	[NUM_CREDITO] [varchar](50) NOT NULL,
	[FEC_EXTRACCION] [datetime] NOT NULL,
 CONSTRAINT [PK3] PRIMARY KEY NONCLUSTERED 
(
	[ORDEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edc].[EDC_ORDEN]  WITH CHECK ADD  CONSTRAINT [RefEDC14] FOREIGN KEY([ID_EDC])
REFERENCES [edc].[EDC] ([ID_EDC])
GO
ALTER TABLE [edc].[EDC_ORDEN] CHECK CONSTRAINT [RefEDC14]
GO
ALTER TABLE [edc].[EDC_ORDEN]  WITH CHECK ADD  CONSTRAINT [RefEMISOR2] FOREIGN KEY([ID_EMISOR])
REFERENCES [edc].[C_EMISOR] ([ID_EMISOR])
GO
ALTER TABLE [edc].[EDC_ORDEN] CHECK CONSTRAINT [RefEMISOR2]
GO
