SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_USUARIO_GRUPO](
	[USUARIO_GRUPO_ID] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO_ID] [varchar](128) NOT NULL,
	[GRUPO_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USUARIO_GRUPO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_USUARIO_GRUPO] UNIQUE NONCLUSTERED 
(
	[USUARIO_ID] ASC,
	[GRUPO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[C_USUARIO_GRUPO]  WITH CHECK ADD FOREIGN KEY([GRUPO_ID])
REFERENCES [edc].[C_GRUPO] ([GRUPO_ID])
GO
ALTER TABLE [edc].[C_USUARIO_GRUPO]  WITH CHECK ADD FOREIGN KEY([USUARIO_ID])
REFERENCES [edc].[C_USUARIO] ([USUARIO_ID])
GO
