SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[LOG_EDC](
	[LOG_EDC_ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EDC] [int] NOT NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
	[REF_CREDITO] [varchar](255) NOT NULL,
	[ESTATUS_TIMBRADO] [varchar](25) NOT NULL,
	[ESTATUS_ENVIADO] [varchar](25) NOT NULL,
	[ESTATUS_PDF_GENERADO] [varchar](25) NOT NULL,
	[ESTATUS_IMPORTADO] [varchar](25) NOT NULL,
	[ESTATUS_CPAGO] [varchar](25) NOT NULL,
	[TIENE_CFDI] [bit] NOT NULL,
	[MENSAJE_ERROR] [varchar](2048) NULL,
	[LOG_FACT] [text] NULL,
	[FACTURACION_ESTATUS] [int] NOT NULL,
	[PATH_PDF_INHOUSE] [varchar](2048) NOT NULL,
	[ESTATUS_PRODUCCION] [int] NOT NULL,
	[ESTATUS_ENTREGA] [int] NOT NULL,
	[ERROR_ENVIO_MAIL] [varchar](2048) NULL,
	[ESTATUS_AMAZON] [int] NOT NULL,
	[PATH_AWS] [varchar](2048) NULL,
	[S3KEY] [varchar](512) NULL,
	[RFC_RECEPTOR] [varchar](20) NULL,
	[NUM_CREDITO] [varchar](50) NULL,
 CONSTRAINT [PK7] PRIMARY KEY NONCLUSTERED 
(
	[LOG_EDC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edc].[LOG_EDC]  WITH CHECK ADD  CONSTRAINT [RefEDC26] FOREIGN KEY([ID_EDC])
REFERENCES [edc].[EDC] ([ID_EDC])
GO
ALTER TABLE [edc].[LOG_EDC] CHECK CONSTRAINT [RefEDC26]
GO
