SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_PRODUCTO](
	[PRODUCTO_ID] [int] NOT NULL,
	[PLANTILLA_ID] [int] NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[DESCRIPCION] [varchar](2048) NOT NULL,
	[GENERA_PDF] [bit] NOT NULL,
	[GENERA_XML] [bit] NOT NULL,
	[IMPORTA_XML] [bit] NOT NULL,
	[ENVIA_CORREO] [bit] NOT NULL,
	[TOTAL_DOCUMENTOS_MYSUITE] [int] NOT NULL,
 CONSTRAINT [PK2] PRIMARY KEY NONCLUSTERED 
(
	[PRODUCTO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[C_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [RefPLANTILLA21] FOREIGN KEY([PLANTILLA_ID])
REFERENCES [edc].[C_PLANTILLA] ([PLANTILLA_ID])
GO
ALTER TABLE [edc].[C_PRODUCTO] CHECK CONSTRAINT [RefPLANTILLA21]
GO
