SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [edc].[sp_inserEdcMovimientos]
   -- EXEC [edc].[sp_inserEdcMovimientos] '20210405'
	
	@FECHA DATE                -- misma fecha de corte usada en sp_inserEdcCredito
AS
BEGIN
    SET NOCOUNT ON;

	--DECLARE @FECHA DATE = '20250301'
    /* ─────────────────────────── Variables de fecha y control ─────────────────────────── */
    DECLARE
        @FECHA_CORTE_SIGUIENTE  DATE ,
        @FECHA_CORTE_ANTERIOR   DATE ,
        @FECHA_CORTE_ACTUAL     DATE ,
        @CORTE                  INT  ,
        @DATENAME               VARCHAR(25) ,
        @PROX_CORTE             INT  ,
        @FLAG                   INT;

	--SET @FECHA = '20250301'
    SET @FECHA_CORTE_SIGUIENTE = DATEADD(DAY , 0 , DATEADD(MONTH ,  1 , @FECHA));
    SET @FECHA_CORTE_ANTERIOR  = DATEADD(DAY , 1 , DATEADD(MONTH , -1 , @FECHA));
    SET @CORTE                 = DAY(@FECHA);                 -- evita FORMAT → INT
    SET @FECHA_CORTE_ACTUAL    = @FECHA;
    SET @DATENAME              = DATENAME(dw , @FECHA);

    SET @FLAG = CASE WHEN @CORTE IN (1,3,5) THEN 1 ELSE 0 END;

    /* Ajusta si el día de corte cae fin de semana (DATEFIRST 7) */
    IF DATEPART(dw,@FECHA_CORTE_ACTUAL) = 7 SET @FECHA_CORTE_ACTUAL = DATEADD(DAY,2,@FECHA_CORTE_ACTUAL);
    IF DATEPART(dw,@FECHA_CORTE_ACTUAL) = 1 SET @FECHA_CORTE_ACTUAL = DATEADD(DAY,1,@FECHA_CORTE_ACTUAL);

    /* ─────────────────────────── Inserta movimientos ─────────────────────────── */
    INSERT INTO [KARDIA].[edc].[EDC_MOVIMIENTOS] (

       [ID_EDC]
      ,[NUM_CREDITO]
      ,[LEYENDA_15]
      ,[DIA_MOV]
      ,[CONCEPTO_MOV]
      ,[MEDIO_MOV]
      ,[CARGO_MOV]
      ,[ABONO_MOV]
      ,[SUM_CARGO_MOV]
      ,[SUM_ABONO_MOV]
      ,[FEC_EXTRACCION]
    )
    /* ===================== QUERY PRINCIPAL ===================== */
    SELECT
          EDC.ID_EDC
        , A.ID_EXTERNO                                                   AS NUM_CREDITO
        , 'DESGLOSE DE MOVIMIENTOS'                                      AS LEYENDA_15
        , B.FEC_APLICACION                                               AS DIA_MOV
        , CASE
              WHEN B.TIP_TRANSACCION = 3 AND X.MON_PAGO     <> 0
                     THEN REPLACE(CONCAT('DESEMBOLSO ',X.COD_CONCEPTO),'_',' ')
              WHEN B.TIP_TRANSACCION = 4 AND X.MON_PAGO     <> 0
                     THEN REPLACE(CONCAT('DEPOSITO A ',
                                         CASE X.COD_CONCEPTO
                                              WHEN 'CARGO_PORCENTAJE'     THEN 'SEGURO DE VIDA'
                                              WHEN 'COMISION_ADMINISTRACION' THEN 'GASTO DE COBRANZA'
                                              ELSE X.COD_CONCEPTO END),'_',' ')
              WHEN B.TIP_TRANSACCION = 113 AND X.MON_PAGO    <> 0 THEN 'DEPOSITO A SALDO FAVOR'
              ELSE '0.00'
          END                                                            AS CONCEPTO_MOV
        , CASE
              WHEN B.IND_FORMA_PAGO = 1 AND X.MON_PAGO <> 0 THEN 'BANCO'
              WHEN B.IND_FORMA_PAGO = 2 AND X.MON_PAGO <> 0 THEN 'MOVIMIENTO'
              WHEN B.IND_FORMA_PAGO = 5 AND X.MON_PAGO <> 0 THEN 'APLICACIÓN'
              ELSE 'ERROR'
          END                                                            AS MEDIO_MOV
        , CASE WHEN B.TIP_TRANSACCION = 3 AND X.MON_PAGO <> 0 THEN X.MON_PAGO ELSE 0 END  AS CARGO_MOV
        , CASE WHEN B.TIP_TRANSACCION IN (4,113) AND X.MON_PAGO <> 0 THEN X.MON_PAGO ELSE 0 END AS ABONO_MOV
        , ISNULL(SUM_CARGO.MONTO ,0)                                     AS SUM_CARGO_MOV
        , ISNULL(SUM_ABONO.MONTO ,0)                                     AS SUM_ABONO_MOV
        , @FECHA                                                         AS FEC_EXTRACCION
    FROM   [Quiero_Confianza].[PR].[PR_DETALLE_PAGO]      X  WITH (NOLOCK)
    INNER JOIN [Quiero_Confianza].[PR].[PR_ENCABEZADO_PAGO] B  WITH (NOLOCK)
           ON B.ID_SECUENCIA = X.ID_SECUENCIA
    INNER JOIN [Quiero_Confianza].[PR].[PR_CREDITOS]      A  WITH (NOLOCK)
           ON B.NUM_CREDITO = A.NUM_CREDITO
    /* Empareja con el estado de cuenta EDC del mismo crédito y fecha de corte */
    INNER JOIN [KARDIA].[edc].[EDC]                       EDC
           ON  EDC.NUM_CREDITO = A.ID_EXTERNO
           AND EDC.FECHA_CORTE = @FECHA
    /* Cargos y abonos del período para totales rápidos */
    OUTER APPLY (
        SELECT SUM(MON_PAGO + MON_PAGO_IVA) AS MONTO
        FROM   [Quiero_Confianza].[PR].[PR_DETALLE_PAGO] XP
        INNER JOIN [Quiero_Confianza].[PR].[PR_ENCABEZADO_PAGO] BP
               ON BP.ID_SECUENCIA = XP.ID_SECUENCIA
        INNER JOIN [Quiero_Confianza].[PR].[PR_CREDITOS]  CP
               ON BP.NUM_CREDITO = CP.NUM_CREDITO
        WHERE  CP.ID_EXTERNO = A.ID_EXTERNO
          AND  BP.TIP_TRANSACCION = 3
          AND  BP.COD_ESTADO <> 'N'
          AND  BP.FEC_APLICACION BETWEEN @FECHA_CORTE_ANTERIOR AND @FECHA_CORTE_ACTUAL
    ) SUM_CARGO
    OUTER APPLY (
        SELECT SUM(MON_PAGO + MON_PAGO_IVA) AS MONTO
        FROM   [Quiero_Confianza].[PR].[PR_DETALLE_PAGO] XP
        INNER JOIN [Quiero_Confianza].[PR].[PR_ENCABEZADO_PAGO] BP
               ON BP.ID_SECUENCIA = XP.ID_SECUENCIA
        INNER JOIN [Quiero_Confianza].[PR].[PR_CREDITOS]  CP
               ON BP.NUM_CREDITO = CP.NUM_CREDITO
        WHERE  CP.ID_EXTERNO = A.ID_EXTERNO
          AND  BP.TIP_TRANSACCION IN (4)
          AND  BP.COD_ESTADO <> 'N'
          AND  BP.FEC_APLICACION BETWEEN @FECHA_CORTE_ANTERIOR AND @FECHA_CORTE_ACTUAL
    ) SUM_ABONO
    WHERE  /* mismas condiciones del SP original */
           A.IND_LINEA           = 'N'
       AND A.IND_ESTADO          = 'D'
       AND A.NUM_DESC_TIPO_CREDITO IN (1,2,3,4,9,10,11,12,13,14,15,16,17,20,23,28)
       AND A.FEC_APERTURA       <  @FECHA
       AND A.ID_EXTERNO IS NOT NULL
       AND A.IND_ESTADO_CONT     = 'VI'
       AND B.COD_ESTADO         <> 'N'
       AND B.FEC_APLICACION BETWEEN @FECHA_CORTE_ANTERIOR AND @FECHA_CORTE_ACTUAL
       AND B.FEC_APLICACION      >  A.FEC_APERTURA
       AND X.MON_PAGO           <> 0
       AND ((@FLAG = 0  AND A.DIA_PAGO IN (28,29,30,31))
            OR (@FLAG <> 0 AND A.DIA_PAGO = @CORTE));

/*
    /* ───────────── Bitácora ───────────── */
    INSERT INTO [KARDIA].[log].[EDC_BITACORA] (
        FECHA_CORTE, PROCESO, MOVIMIENTOS, CREATED)
    VALUES (
        @FECHA,
        'sp_inserEdcMovimientos - EDC_MOVIMIENTOS',
        (SELECT COUNT(*) FROM [KARDIA].[edc].[EDC_MOVIMIENTOS] WHERE FEC_EXTRACCION = @FECHA),
        GETDATE());
*/

END

GO
