SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_EMISOR](
	[ID_EMISOR] [int] NOT NULL,
	[EMISOR_RFC] [varchar](25) NOT NULL,
	[EMISOR_RAZON_SOCIAL] [varchar](254) NOT NULL,
	[EMISOR_LUGAR_EXPEDICION] [varchar](25) NOT NULL,
	[EMISOR_USUARIO] [varchar](99) NOT NULL,
	[REGIMEN_FISCAL] [varchar](255) NOT NULL,
	[EMISOR_CALLE] [varchar](255) NULL,
	[EMISOR_NO_EXT] [varchar](255) NULL,
	[EMISOR_NO_INT] [varchar](255) NULL,
	[EMISOR_COL] [varchar](255) NULL,
	[EMISOR_MUNICIPIO] [varchar](255) NULL,
	[EMISOR_PAIS] [varchar](25) NULL,
	[EMISOR_ESTADO] [varchar](99) NULL,
	[EMISOR_CP] [varchar](25) NULL,
	[SUCURSAL] [varchar](99) NOT NULL,
	[EMISOR_REQUESTOR] [varchar](99) NOT NULL,
	[EMISOR_DIR_PAR_1_SUCURSAL] [varchar](255) NULL,
	[EMISOR_DIR_PAR_2_SUCURSAL] [varchar](255) NULL,
	[EMISOR_NOM_SUCURSAL] [varchar](255) NULL,
	[EMISOR_TEL_SUCURSAL] [varchar](255) NULL,
 CONSTRAINT [PK__EMISORES__57545E422A801A28] PRIMARY KEY NONCLUSTERED 
(
	[ID_EMISOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
