SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[EDC](
	[ID_EDC] [int] IDENTITY(1,1) NOT NULL,
	[NUM_CLIENTE] [varchar](16) NOT NULL,
	[PRODUCTO_ID] [int] NOT NULL,
	[DOCUMENTO_ID] [int] NOT NULL,
	[ID_EMISOR] [int] NULL,
	[ESTATUS_EDC] [int] NOT NULL,
	[NUM_CREDITO] [varchar](50) NULL,
	[MON_LIQUIDAR] [numeric](16, 2) NULL,
	[SAL_VENCIDO] [numeric](16, 2) NULL,
	[FEC_LIM_PAGO_VENCIDO] [varchar](50) NULL,
	[SAL_PERIODO] [numeric](16, 2) NULL,
	[FEC_LIM_PAGO_VIGENTE] [date] NULL,
	[TOTAL_PAGO] [numeric](16, 2) NULL,
	[NUM_CREDITO2] [varchar](50) NULL,
	[SALDO_INICIAL_PERIODO] [numeric](16, 2) NULL,
	[TOTAL_PAGOS_PERIODO] [numeric](16, 2) NULL,
	[OTROS_ABONOS] [numeric](16, 2) NULL,
	[TOTAL_CARGOS_PERIODO] [numeric](16, 2) NULL,
	[SALDO_FINAL_PERIODO] [numeric](16, 2) NULL,
	[FECHA_CORTE] [date] NULL,
	[PERIODO] [varchar](255) NULL,
	[DIAS_PERIODO] [numeric](16, 2) NULL,
	[FEC_VENCIMIENTO] [date] NULL,
	[NUM_RECIBO] [varchar](255) NULL,
	[CAT_TTIE] [varchar](255) NULL,
	[CAT_R_PA] [varchar](255) NULL,
	[TASA_ORDINARIA_ANUAL] [numeric](16, 2) NULL,
	[TASA_MORA_ANUAL] [numeric](16, 2) NULL,
	[IVA_INTERESES] [numeric](16, 2) NULL,
	[COMISIONES_COBRADAS] [numeric](16, 2) NULL,
	[NUM_MEN_ACTUAL] [numeric](16, 2) NULL,
	[NUM_MEN_CREDITO] [numeric](16, 2) NULL,
	[NUM_PAGO_PENDIENTES] [int] NULL,
	[NUM_PAGO_ANTICIPADOS] [int] NULL,
	[TOTAL_PAGADO_PERIODO_ANTERIOR] [numeric](16, 2) NOT NULL,
	[TOTAL_PAGO_CAPITAL_PERIODO_ANTERIOR] [numeric](16, 2) NULL,
	[SALDO_VENCIDO_CAPITAL] [numeric](16, 2) NULL,
	[SALDO_VENCIDO_INTERESES] [numeric](16, 2) NULL,
	[SALDO_VENCIDO_SEGUROS] [numeric](16, 2) NULL,
	[AMORTIZACION_ACTUAL] [numeric](16, 2) NULL,
	[INTERESES_ORDINARIOS_ACTUAL] [numeric](16, 2) NULL,
	[INTERESES_MORATORIOS_ACTUAL] [numeric](16, 2) NULL,
	[COMISIONES_ACTUALES] [numeric](16, 2) NULL,
	[SEGUROS_ACTUALE] [numeric](16, 2) NULL,
	[IVA_COMISIONES_ACTUAL] [numeric](16, 2) NULL,
	[IVA_INTERES_O_ACTUAL] [numeric](16, 2) NULL,
	[IVA_INTERES_M_ACTUAL] [numeric](16, 2) NULL,
	[IVA_INTERES_O_VENCIDO_ACTUAL] [numeric](16, 2) NULL,
	[TOTAL_PAGAR_ACTUAL] [numeric](16, 2) NOT NULL,
	[FEC_LIM_PAGO_FUTURA] [datetime] NULL,
	[MON_PAGAR_FUTURO] [numeric](16, 2) NULL,
	[COM_GAS_COBRANZA] [numeric](16, 2) NULL,
	[PAGO_IVA_COMISION] [numeric](16, 2) NULL,
	[TOTAL_COMISIONES] [numeric](16, 2) NULL,
	[MON_BASE_CALCULO_ORD] [numeric](16, 2) NULL,
	[MON_BASE_CALCULO_MOR] [numeric](16, 2) NULL,
	[REFERENCIA] [varchar](99) NULL,
	[FEC_OBJET] [date] NULL,
	[FOLIO_OBJET] [varchar](99) NULL,
	[CONCEPTO_OBJET] [varchar](99) NULL,
	[IMPORTE_OBJET] [numeric](16, 2) NULL,
	[CODIGO_QR] [varchar](12) NULL,
	[FOLIO_FISCAL] [varchar](64) NULL,
	[SELLO_DIGITAL] [nvarchar](4000) NULL,
	[SELLO_SAT] [nvarchar](4000) NULL,
	[NUM_SERIE_SAT] [nvarchar](4000) NULL,
	[CAD_ORIG_CERTIF] [nvarchar](4000) NULL,
	[INFO_PROCESO] [ntext] NULL,
	[MONTO_POSPUESTO] [money] NULL,
	[NUMERO_DE_CUOTAS_POSPUESTAS] [int] NULL,
	[LEYENDA_POSPUESTAS] [varchar](255) NULL,
	[LC_VENCIMIENTO_LINEA] [datetime] NULL,
	[LC_MONTO_LINEA] [money] NULL,
	[LC_SALDO_ANTERIOR] [money] NULL,
	[LC_DISPOSICIONES] [money] NULL,
	[LC_PAGOS_CAPITAL] [money] NULL,
	[LC_SALDO_DISPONIBLE] [money] NULL,
	[LEYENDA_DISPOSICIONES] [varchar](99) NULL,
	[LEYENDA_RESUMEN_LCRED] [varchar](99) NULL,
	[OTROS_CARGOS] [money] NULL,
	[REGIMEN_FISCAL_RECEPTOR] [varchar](3) NOT NULL,
	[USO_CFDI] [varchar](4) NOT NULL,
	[CONTROL_REQUIERE_CFDI] [bit] NOT NULL,
	[CONTROL_GENERO_CFDI] [bit] NOT NULL,
	[CONTROL_GENERO_ESTADO_CUENTA] [bit] NOT NULL,
	[CONTROL_BLOQUEADO] [bit] NOT NULL,
	[TOTAL_ORDENES_PROCESADAS] [int] NOT NULL,
 CONSTRAINT [PK__ESTADOS___2D4C6731A1CF0A29] PRIMARY KEY NONCLUSTERED 
(
	[ID_EDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edc].[EDC] ADD  DEFAULT ((0)) FOR [ESTATUS_EDC]
GO
ALTER TABLE [edc].[EDC] ADD  CONSTRAINT [DF__EDC__REGIMEN_FIS__5DEAEAF5]  DEFAULT ('000') FOR [REGIMEN_FISCAL_RECEPTOR]
GO
ALTER TABLE [edc].[EDC] ADD  CONSTRAINT [DF__EDC__USO_CFDI__5FD33367]  DEFAULT ('0000') FOR [USO_CFDI]
GO
ALTER TABLE [edc].[EDC] ADD  DEFAULT ((0)) FOR [CONTROL_REQUIERE_CFDI]
GO
ALTER TABLE [edc].[EDC] ADD  DEFAULT ((0)) FOR [CONTROL_GENERO_CFDI]
GO
ALTER TABLE [edc].[EDC] ADD  DEFAULT ((0)) FOR [CONTROL_GENERO_ESTADO_CUENTA]
GO
ALTER TABLE [edc].[EDC] ADD  DEFAULT ((0)) FOR [CONTROL_BLOQUEADO]
GO
ALTER TABLE [edc].[EDC] ADD  DEFAULT ((0)) FOR [TOTAL_ORDENES_PROCESADAS]
GO
ALTER TABLE [edc].[EDC]  WITH CHECK ADD  CONSTRAINT [RefC_CLIENTE29] FOREIGN KEY([NUM_CLIENTE])
REFERENCES [edc].[C_CLIENTE] ([NUM_CLIENTE])
GO
ALTER TABLE [edc].[EDC] CHECK CONSTRAINT [RefC_CLIENTE29]
GO
ALTER TABLE [edc].[EDC]  WITH CHECK ADD  CONSTRAINT [RefEMISOR18] FOREIGN KEY([ID_EMISOR])
REFERENCES [edc].[C_EMISOR] ([ID_EMISOR])
GO
ALTER TABLE [edc].[EDC] CHECK CONSTRAINT [RefEMISOR18]
GO
ALTER TABLE [edc].[EDC]  WITH CHECK ADD  CONSTRAINT [RefPRODUCTO16] FOREIGN KEY([PRODUCTO_ID])
REFERENCES [edc].[C_PRODUCTO] ([PRODUCTO_ID])
GO
ALTER TABLE [edc].[EDC] CHECK CONSTRAINT [RefPRODUCTO16]
GO
ALTER TABLE [edc].[EDC]  WITH CHECK ADD  CONSTRAINT [RefTDOCUMENTO17] FOREIGN KEY([DOCUMENTO_ID])
REFERENCES [edc].[TDOCUMENTO] ([DOCUMENTO_ID])
GO
ALTER TABLE [edc].[EDC] CHECK CONSTRAINT [RefTDOCUMENTO17]
GO
