SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_CLIENTE](
	[NUM_CLIENTE] [varchar](16) NOT NULL,
	[NOM_CLIENTE] [varchar](150) NOT NULL,
	[RFC] [varchar](50) NOT NULL,
	[CALLE] [varchar](150) NOT NULL,
	[NO_EXT] [varchar](150) NOT NULL,
	[NO_INT] [varchar](150) NULL,
	[COLONIA] [varchar](150) NOT NULL,
	[DEL_MUN] [varchar](150) NULL,
	[CP] [varchar](10) NOT NULL,
	[ESTADO] [varchar](50) NULL,
	[CURP] [varchar](50) NULL,
	[EMAIL1] [varchar](1024) NOT NULL,
	[EMAIL2] [varchar](1024) NULL,
	[Created] [datetime] NULL,
	[Updated] [datetime] NULL,
 CONSTRAINT [PK28] PRIMARY KEY NONCLUSTERED 
(
	[NUM_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[C_CLIENTE] ADD  CONSTRAINT [DF_C_CLIENTE_Created]  DEFAULT (getdate()) FOR [Created]
GO
