SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[ProcessingResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[EdcId] [int] NOT NULL,
	[ProcessStatus] [int] NOT NULL,
	[DateProcess] [datetime2](7) NOT NULL,
	[Comments] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edc].[ProcessingResult]  WITH CHECK ADD  CONSTRAINT [FK_ProcessingResult_ProcessingJob] FOREIGN KEY([JobId])
REFERENCES [edc].[ProcessingJob] ([Id])
GO
ALTER TABLE [edc].[ProcessingResult] CHECK CONSTRAINT [FK_ProcessingResult_ProcessingJob]
GO
