SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [edc].[SP_Genera_Ordenes_Dummy]
    @FechaCorte      DATE,   -- Fecha a tomar en EDC.FECHA_CORTE
    @Sobrescribir    BIT = 0 -- 1 = borra tablas antes de insertar
AS
BEGIN
    SET NOCOUNT ON;
 /*
    /* ──────────────────────────────────────────────────────────────────────────
       1. Opcionalmente limpiamos las tablas de destino
    ───────────────────────────────────────────────────────────────────────────*/
    IF (@Sobrescribir = 1)
    BEGIN
        TRUNCATE TABLE edc.EDC_ORDEN_CONCEPTO;
        TRUNCATE TABLE edc.EDC_ORDEN;
    END
*/
    /* ──────────────────────────────────────────────────────────────────────────
          Insertamos una orden por cada ID_EDC existente en la fecha indicada
          Capturamos los ID generados para poblar los conceptos
    ───────────────────────────────────────────────────────────────────────────*/
    DECLARE @Ordenes TABLE
    (
        ORDEN_ID      INT,
        ID_EDC        INT
    );

    INSERT INTO edc.EDC_ORDEN
          (ID_EDC,
           ID_EMISOR,
           PORCENTAJE_FACTURA,
           FORMA_PAGO,
           METODO_PAGO,
           SALDO_PRINCIPAL,
           TOTAL_GLOBAL_FACTURA,
           UUID,
           SAT_FECHA_EMISION,
           SAT_NUM_SERIE_CERTIFICADO,
           SAT_NUM_CERTIFICADO,
           SAT_FECHA_CERTIFICACION,
           SAT_SELLO_DIGITAL,
           SAT_SELLO_SAT,
           SAT_CADENA_ORIGINAL,
           ESTATUS_ORDEN,
           ESTATUS_CANCELACION,
           ACUSE_CANCELACION,
           INFO_PROCESO,
           NUM_CREDITO,
           FEC_EXTRACCION)
    OUTPUT inserted.ORDEN_ID, inserted.ID_EDC
    INTO   @Ordenes(ORDEN_ID, ID_EDC)

    SELECT  E.ID_EDC,
            '9'                  AS ID_EMISOR,
            '100'                AS PORCENTAJE_FACTURA,
            '03'                 AS FORMA_PAGO,
            'PUE'                AS METODO_PAGO,
            ABS(CHECKSUM(NEWID())) % 9000 + 1000        AS SALDO_PRINCIPAL,
            ABS(CHECKSUM(NEWID())) % 9000 + 1000        AS TOTAL_GLOBAL_FACTURA,
            NULL            AS UUID,
            NULL            AS SAT_FECHA_EMISION,
            NULL            AS SAT_NUM_SERIE_CERTIFICADO,
            NULL            AS SAT_NUM_CERTIFICADO,
            NULL            AS SAT_FECHA_CERTIFICACION,
            NULL            AS SAT_SELLO_DIGITAL,
            NULL            AS SAT_SELLO_SAT,
            NULL            AS SAT_CADENA_ORIGINAL,
            NULL            AS ESTATUS_ORDEN,
            NULL            AS ESTATUS_CANCELACION,
            NULL            AS ACUSE_CANCELACION,
            NULL     AS INFO_PROCESO,
            E.NUM_CREDITO,
            @FechaCorte          AS FEC_EXTRACCION
    FROM edc.EDC  AS E
    WHERE E.FECHA_CORTE = @FechaCorte;

    /* ──────────────────────────────────────────────────────────────────────────
       2. Insertamos tres conceptos por cada orden creada
    ───────────────────────────────────────────────────────────────────────────*/
    INSERT INTO edc.EDC_ORDEN_CONCEPTO
          (ORDEN_ID,
           CONCEPTO_ID,
           MONTO,
           OBJETO_IMPUESTO)
    SELECT  O.ORDEN_ID,
            C.ConceptoID,
            ABS(CHECKSUM(NEWID())) % 900 + 100,  -- monto dummy 100‑999
            '02'                                -- objeto impuesto dummy
    FROM    @Ordenes O
    CROSS JOIN (VALUES (1),(2),(3)) AS C(ConceptoID);
END

GO
