SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_GRUPO](
	[GRUPO_ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](255) NOT NULL,
	[ACTIVO] [bit] NOT NULL,
	[DESCRIPCION] [varchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[GRUPO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edc].[C_GRUPO] ADD  DEFAULT ((1)) FOR [ACTIVO]
GO
