SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edc].[C_LEYENDA](
	[LEYENDA_ID] [int] IDENTITY(1,1) NOT NULL,
	[PLANTILLA_ID] [int] NOT NULL,
	[CAMPO] [varchar](20) NOT NULL,
	[ETIQUETA] [varchar](max) NOT NULL,
 CONSTRAINT [PK32] PRIMARY KEY NONCLUSTERED 
(
	[LEYENDA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edc].[C_LEYENDA]  WITH CHECK ADD  CONSTRAINT [RefC_PLANTILLA30] FOREIGN KEY([PLANTILLA_ID])
REFERENCES [edc].[C_PLANTILLA] ([PLANTILLA_ID])
GO
ALTER TABLE [edc].[C_LEYENDA] CHECK CONSTRAINT [RefC_PLANTILLA30]
GO
