SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_CORRECCION](
	[Id] [uniqueidentifier] NOT NULL,
	[EDCCId] [uniqueidentifier] NOT NULL,
	[Campo] [nvarchar](100) NOT NULL,
	[ValorAnterior] [nvarchar](max) NULL,
	[ValorNuevo] [nvarchar](max) NULL,
	[Motivo] [nvarchar](max) NULL,
	[CreadoPor] [nvarchar](256) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EDCC_CORRECCION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edcc].[EDCC_CORRECCION]  WITH CHECK ADD  CONSTRAINT [FK_EDCC_CORRECCION_EDCC_EDCCId] FOREIGN KEY([EDCCId])
REFERENCES [edcc].[EDCC] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [edcc].[EDCC_CORRECCION] CHECK CONSTRAINT [FK_EDCC_CORRECCION_EDCC_EDCCId]
GO
