SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_DATOS_JURIDICOS](
	[Id] [uniqueidentifier] NOT NULL,
	[EDCCId] [uniqueidentifier] NOT NULL,
	[NombreAcreditadoLegal] [nvarchar](500) NULL,
	[NumeroContrato] [nvarchar](100) NULL,
	[FechaContrato] [datetime2](7) NULL,
	[NumeroEscritura] [nvarchar](100) NULL,
	[Notaria] [nvarchar](300) NULL,
	[NombreNotario] [nvarchar](300) NULL,
	[Ciudad] [nvarchar](200) NULL,
	[ContadorCertificador] [nvarchar](300) NULL,
	[CedulaProfesional] [nvarchar](50) NULL,
	[CargoContador] [nvarchar](200) NULL,
	[PlantillaPdfId] [uniqueidentifier] NULL,
	[FundamentoLegalAdicional] [nvarchar](max) NULL,
	[RegistradoPor] [nvarchar](256) NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[AprobadoPorContador] [nvarchar](256) NULL,
	[FechaAprobacionContador] [datetime2](7) NULL,
 CONSTRAINT [PK_EDCC_DATOS_JURIDICOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edcc].[EDCC_DATOS_JURIDICOS] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [edcc].[EDCC_DATOS_JURIDICOS] ADD  DEFAULT (getutcdate()) FOR [FechaRegistro]
GO
ALTER TABLE [edcc].[EDCC_DATOS_JURIDICOS]  WITH CHECK ADD  CONSTRAINT [FK_EDCC_DATOS_JURIDICOS_EDCC] FOREIGN KEY([EDCCId])
REFERENCES [edcc].[EDCC] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [edcc].[EDCC_DATOS_JURIDICOS] CHECK CONSTRAINT [FK_EDCC_DATOS_JURIDICOS_EDCC]
GO
