SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_OBLIGADO_SOLIDARIO](
	[Id] [uniqueidentifier] NOT NULL,
	[DatosJuridicosId] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](500) NOT NULL,
	[Tipo] [nvarchar](50) NULL,
 CONSTRAINT [PK_EDCC_OBLIGADO_SOLIDARIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edcc].[EDCC_OBLIGADO_SOLIDARIO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [edcc].[EDCC_OBLIGADO_SOLIDARIO]  WITH CHECK ADD  CONSTRAINT [FK_EDCC_OBLIGADO_SOLIDARIO_DJ] FOREIGN KEY([DatosJuridicosId])
REFERENCES [edcc].[EDCC_DATOS_JURIDICOS] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [edcc].[EDCC_OBLIGADO_SOLIDARIO] CHECK CONSTRAINT [FK_EDCC_OBLIGADO_SOLIDARIO_DJ]
GO
