SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_BITACORA_respaldo_20260722](
	[Id] [uniqueidentifier] NOT NULL,
	[EDCCId] [uniqueidentifier] NOT NULL,
	[Accion] [nvarchar](50) NOT NULL,
	[Detalle] [nvarchar](max) NULL,
	[Usuario] [nvarchar](256) NOT NULL,
	[FechaAccion] [datetime2](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
