SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[CONFIG_PRODUCTO_CALCULO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoProducto] [nvarchar](50) NOT NULL,
	[BaseDias] [int] NOT NULL,
	[UsaDiasRealesCorte] [bit] NOT NULL,
	[AprobadoPor] [nvarchar](256) NULL,
	[FechaAprobacion] [datetime2](7) NULL,
 CONSTRAINT [PK_EDCC_CONFIG_PRODUCTO_CALCULO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [edcc].[CONFIG_PRODUCTO_CALCULO] ADD  DEFAULT ((360)) FOR [BaseDias]
GO
ALTER TABLE [edcc].[CONFIG_PRODUCTO_CALCULO] ADD  DEFAULT ((1)) FOR [UsaDiasRealesCorte]
GO
