SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_AJUSTE_respaldo_20260722](
	[Id] [uniqueidentifier] NOT NULL,
	[EDCCId] [uniqueidentifier] NOT NULL,
	[Concepto] [nvarchar](20) NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[DifAntes] [decimal](18, 2) NULL,
	[DifDespues] [decimal](18, 2) NULL,
	[Origen] [nvarchar](20) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Causa] [nvarchar](max) NULL,
	[CreadoPor] [nvarchar](256) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ResueltoPor] [nvarchar](256) NULL,
	[FechaResolucion] [datetime2](7) NULL,
	[MotivoRechazo] [nvarchar](max) NULL,
	[NucCredito] [nvarchar](30) NOT NULL,
	[EdccFechaCorte] [datetime2](7) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
