SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC](
	[Id] [uniqueidentifier] NOT NULL,
	[NucCredito] [nvarchar](30) NOT NULL,
	[IdExterno] [nvarchar](30) NOT NULL,
	[NombreCliente] [nvarchar](300) NOT NULL,
	[TipoCredito] [nvarchar](100) NULL,
	[FechaCorte] [datetime2](7) NOT NULL,
	[Version] [int] NOT NULL,
	[Estatus] [nvarchar](30) NOT NULL,
	[GeneradoPor] [nvarchar](256) NOT NULL,
	[FechaGeneracion] [datetime2](7) NOT NULL,
	[VoBoPor] [nvarchar](256) NULL,
	[FechaVoBo] [datetime2](7) NULL,
	[CertificadoPor] [nvarchar](256) NULL,
	[FechaCertificacion] [datetime2](7) NULL,
	[MotivoRechazo] [nvarchar](max) NULL,
	[Observaciones] [nvarchar](max) NULL,
	[RutaSharePoint] [nvarchar](1000) NULL,
	[SharePointItemId] [nvarchar](300) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[VersionMotor] [nvarchar](50) NULL,
	[FechaCancelacion] [datetime2](7) NULL,
	[SnapshotMotorActivoId] [uniqueidentifier] NULL,
	[AprobadoPorContador] [nvarchar](256) NULL,
	[FechaAprobacionContador] [datetime2](7) NULL,
	[CompletadoPorJuridico] [nvarchar](256) NULL,
	[ValidadoPorContabilidad] [nvarchar](256) NULL,
	[CanceladoPor] [nvarchar](256) NULL,
	[FechaCompletadoJuridico] [datetime2](7) NULL,
	[MotivoCancelacion] [nvarchar](max) NULL,
	[FuenteMotor] [nvarchar](100) NULL,
	[FechaValidacionContable] [datetime2](7) NULL,
	[EstadoMotor] [nvarchar](20) NULL,
	[FechaEjecucionMotor] [datetime2](7) NULL,
	[ObservacionContabilidad] [nvarchar](max) NULL,
	[FechaCastigo] [date] NULL,
 CONSTRAINT [PK_EDCC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
