SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [edcc].[EDCC_SNAPSHOT_MOTOR](
	[Id] [uniqueidentifier] NOT NULL,
	[EDCCId] [uniqueidentifier] NOT NULL,
	[VersionMotor] [nvarchar](50) NULL,
	[NombreArchivoCierre] [nvarchar](500) NULL,
	[CapitalVencido] [decimal](18, 2) NOT NULL,
	[CapitalVigente] [decimal](18, 2) NOT NULL,
	[InteresesVencidos] [decimal](18, 2) NOT NULL,
	[IvaIntereses] [decimal](18, 2) NOT NULL,
	[Seguros] [decimal](18, 2) NOT NULL,
	[ComisionMasIva] [decimal](18, 2) NOT NULL,
	[TotalExigible] [decimal](18, 2) NOT NULL,
	[MetadatosJson] [nvarchar](max) NULL,
	[FechaCalculo] [datetime2](7) NOT NULL,
	[CalculadoPor] [nvarchar](256) NULL,
 CONSTRAINT [PK_EDCC_SNAPSHOT_MOTOR] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR] ADD  DEFAULT ((0)) FOR [CapitalVencido]
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR] ADD  DEFAULT ((0)) FOR [CapitalVigente]
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR] ADD  DEFAULT ((0)) FOR [InteresesVencidos]
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR] ADD  DEFAULT ((0)) FOR [IvaIntereses]
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR] ADD  DEFAULT ((0)) FOR [Seguros]
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR] ADD  DEFAULT ((0)) FOR [ComisionMasIva]
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR] ADD  DEFAULT ((0)) FOR [TotalExigible]
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR] ADD  DEFAULT (getutcdate()) FOR [FechaCalculo]
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR]  WITH CHECK ADD  CONSTRAINT [FK_EDCC_SNAPSHOT_MOTOR_EDCC] FOREIGN KEY([EDCCId])
REFERENCES [edcc].[EDCC] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [edcc].[EDCC_SNAPSHOT_MOTOR] CHECK CONSTRAINT [FK_EDCC_SNAPSHOT_MOTOR_EDCC]
GO
