SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CARGO](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[TipoCargoId] [uniqueidentifier] NOT NULL,
	[Concepto] [nvarchar](300) NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaEstimado] [datetime2](7) NOT NULL,
	[FechaAprobado] [datetime2](7) NULL,
	[FechaFacturado] [datetime2](7) NULL,
	[FechaPagado] [datetime2](7) NULL,
	[DocumentoSharePointItemId] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_CARGO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CARGO] ADD  CONSTRAINT [DF_JUICIO_CARGO_Estado]  DEFAULT ('Estimado') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_CARGO] ADD  CONSTRAINT [DF_JUICIO_CARGO_FechaEstimado]  DEFAULT (sysutcdatetime()) FOR [FechaEstimado]
GO
ALTER TABLE [juicios].[JUICIO_CARGO] ADD  CONSTRAINT [DF_JUICIO_CARGO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CARGO] ADD  CONSTRAINT [DF_JUICIO_CARGO_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CARGO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CARGO_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_CARGO] CHECK CONSTRAINT [FK_JUICIO_CARGO_CASO]
GO
ALTER TABLE [juicios].[JUICIO_CARGO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CARGO_TIPO] FOREIGN KEY([TipoCargoId])
REFERENCES [juicios].[JUICIO_CAT_TIPO_CARGO] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CARGO] CHECK CONSTRAINT [FK_JUICIO_CARGO_TIPO]
GO
