SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_ACTUACION](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[TipoActuacionId] [uniqueidentifier] NOT NULL,
	[EtapaId] [uniqueidentifier] NULL,
	[Descripcion] [nvarchar](max) NULL,
	[FechaHecho] [date] NOT NULL,
	[FechaCaptura] [datetime2](7) NOT NULL,
	[FechaValidacion] [datetime2](7) NULL,
	[FechaLimiteValidacion] [datetime2](7) NULL,
	[Origen] [nvarchar](20) NOT NULL,
	[EstadoValidacion] [nvarchar](20) NOT NULL,
	[MotivoRechazo] [nvarchar](500) NULL,
	[EsImpulsoAplicado] [bit] NOT NULL,
	[CapturadaPor] [nvarchar](256) NULL,
	[ValidadaPor] [nvarchar](256) NULL,
	[DocumentoSharePointItemId] [nvarchar](200) NULL,
	[FuenteExterna] [nvarchar](60) NULL,
	[FuenteExternaRef] [nvarchar](200) NULL,
	[EstadoConciliacion] [nvarchar](20) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_ACTUACION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_ACTUACION] ADD  CONSTRAINT [DF_JUICIO_ACTUACION_FechaCaptura]  DEFAULT (sysutcdatetime()) FOR [FechaCaptura]
GO
ALTER TABLE [juicios].[JUICIO_ACTUACION] ADD  CONSTRAINT [DF_JUICIO_ACTUACION_Estado]  DEFAULT ('Pendiente') FOR [EstadoValidacion]
GO
ALTER TABLE [juicios].[JUICIO_ACTUACION] ADD  CONSTRAINT [DF_JUICIO_ACTUACION_Impulso]  DEFAULT ((0)) FOR [EsImpulsoAplicado]
GO
ALTER TABLE [juicios].[JUICIO_ACTUACION] ADD  CONSTRAINT [DF_JUICIO_ACTUACION_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_ACTUACION]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_ACTUACION_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_ACTUACION] CHECK CONSTRAINT [FK_JUICIO_ACTUACION_CASO]
GO
ALTER TABLE [juicios].[JUICIO_ACTUACION]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_ACTUACION_ETAPA] FOREIGN KEY([EtapaId])
REFERENCES [juicios].[JUICIO_CAT_ETAPA] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_ACTUACION] CHECK CONSTRAINT [FK_JUICIO_ACTUACION_ETAPA]
GO
ALTER TABLE [juicios].[JUICIO_ACTUACION]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_ACTUACION_TIPO] FOREIGN KEY([TipoActuacionId])
REFERENCES [juicios].[JUICIO_CAT_TIPO_ACTUACION] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_ACTUACION] CHECK CONSTRAINT [FK_JUICIO_ACTUACION_TIPO]
GO
