SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CASO_CREDITO](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[Nuc] [nvarchar](30) NOT NULL,
	[CreditoPuenteId] [uniqueidentifier] NULL,
	[TipoCartera] [nvarchar](30) NULL,
	[Producto] [nvarchar](50) NULL,
	[CapitalDemandado] [decimal](18, 2) NULL,
	[EsPrincipal] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MontoCredito] [decimal](18, 2) NULL,
	[FechaCredito] [datetime2](7) NULL,
 CONSTRAINT [PK_JUICIO_CASO_CREDITO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CASO_CREDITO] ADD  CONSTRAINT [DF_JUICIO_CASO_CREDITO_EsPrincipal]  DEFAULT ((0)) FOR [EsPrincipal]
GO
ALTER TABLE [juicios].[JUICIO_CASO_CREDITO] ADD  CONSTRAINT [DF_JUICIO_CASO_CREDITO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CASO_CREDITO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_CREDITO_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_CASO_CREDITO] CHECK CONSTRAINT [FK_JUICIO_CASO_CREDITO_CASO]
GO
ALTER TABLE [juicios].[JUICIO_CASO_CREDITO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_CREDITO_CP] FOREIGN KEY([CreditoPuenteId])
REFERENCES [cierre_puente].[CREDITOS_PUENTE] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [juicios].[JUICIO_CASO_CREDITO] CHECK CONSTRAINT [FK_JUICIO_CASO_CREDITO_CP]
GO
