SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_PROMESA_COBRANZA](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[FechaCompromiso] [date] NOT NULL,
	[MontoComprometido] [decimal](18, 2) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[SuspensionId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_PROMESA_COBRANZA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_PROMESA_COBRANZA] ADD  CONSTRAINT [DF_JUICIO_PROMESA_COBRANZA_Estado]  DEFAULT ('Registrada') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_PROMESA_COBRANZA] ADD  CONSTRAINT [DF_JUICIO_PROMESA_COBRANZA_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_PROMESA_COBRANZA] ADD  CONSTRAINT [DF_JUICIO_PROMESA_COBRANZA_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_PROMESA_COBRANZA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_PROMESA_COBRANZA_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_PROMESA_COBRANZA] CHECK CONSTRAINT [FK_JUICIO_PROMESA_COBRANZA_CASO]
GO
ALTER TABLE [juicios].[JUICIO_PROMESA_COBRANZA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_PROMESA_COBRANZA_SUSPENSION] FOREIGN KEY([SuspensionId])
REFERENCES [juicios].[JUICIO_SUSPENSION] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_PROMESA_COBRANZA] CHECK CONSTRAINT [FK_JUICIO_PROMESA_COBRANZA_SUSPENSION]
GO
