SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_COMENTARIO](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[FechaHecho] [date] NOT NULL,
	[Autor] [nvarchar](256) NOT NULL,
	[Texto] [nvarchar](max) NOT NULL,
	[SoloJuridico] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_COMENTARIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_COMENTARIO] ADD  CONSTRAINT [DF_JUICIO_COMENTARIO_SoloJuridico]  DEFAULT ((0)) FOR [SoloJuridico]
GO
ALTER TABLE [juicios].[JUICIO_COMENTARIO] ADD  CONSTRAINT [DF_JUICIO_COMENTARIO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_COMENTARIO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_COMENTARIO_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_COMENTARIO] CHECK CONSTRAINT [FK_JUICIO_COMENTARIO_CASO]
GO
