SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CONVENIO_PAGO](
	[Id] [uniqueidentifier] NOT NULL,
	[ConvenioId] [uniqueidentifier] NOT NULL,
	[NumeroPago] [int] NOT NULL,
	[FechaProgramada] [date] NOT NULL,
	[MontoProgramado] [decimal](18, 2) NOT NULL,
	[FechaPago] [date] NULL,
	[MontoPagado] [decimal](18, 2) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_CONVENIO_PAGO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CONVENIO_PAGO] ADD  CONSTRAINT [DF_JUICIO_CONVENIO_PAGO_Estado]  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_CONVENIO_PAGO] ADD  CONSTRAINT [DF_JUICIO_CONVENIO_PAGO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CONVENIO_PAGO] ADD  CONSTRAINT [DF_JUICIO_CONVENIO_PAGO_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CONVENIO_PAGO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CONVENIO_PAGO_CONVENIO] FOREIGN KEY([ConvenioId])
REFERENCES [juicios].[JUICIO_CONVENIO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_CONVENIO_PAGO] CHECK CONSTRAINT [FK_JUICIO_CONVENIO_PAGO_CONVENIO]
GO
