SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_GARANTIA](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[Tipo] [nvarchar](30) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[DireccionCompleta] [nvarchar](max) NULL,
	[Municipio] [nvarchar](100) NULL,
	[Entidad] [nvarchar](60) NULL,
	[CodigoPostal] [nvarchar](10) NULL,
	[FolioRealRpp] [nvarchar](50) NULL,
	[ValorOriginal] [decimal](18, 2) NULL,
	[AvaluoMonto] [decimal](18, 2) NULL,
	[AvaluoFecha] [date] NULL,
	[AvaluoVigenteHasta] [date] NULL,
	[Estatus] [nvarchar](30) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_GARANTIA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_GARANTIA] ADD  CONSTRAINT [DF_JUICIO_GARANTIA_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_GARANTIA] ADD  CONSTRAINT [DF_JUICIO_GARANTIA_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_GARANTIA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_GARANTIA_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_GARANTIA] CHECK CONSTRAINT [FK_JUICIO_GARANTIA_CASO]
GO
