SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CASO_ETAPA](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[EtapaId] [uniqueidentifier] NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaFin] [datetime2](7) NULL,
	[DiasHabilesReales] [int] NULL,
	[ActuacionDisparadoraId] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_CASO_ETAPA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CASO_ETAPA] ADD  CONSTRAINT [DF_JUICIO_CASO_ETAPA_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CASO_ETAPA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_ETAPA_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_CASO_ETAPA] CHECK CONSTRAINT [FK_JUICIO_CASO_ETAPA_CASO]
GO
ALTER TABLE [juicios].[JUICIO_CASO_ETAPA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CASO_ETAPA_ETAPA] FOREIGN KEY([EtapaId])
REFERENCES [juicios].[JUICIO_CAT_ETAPA] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CASO_ETAPA] CHECK CONSTRAINT [FK_JUICIO_CASO_ETAPA_ETAPA]
GO
