SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_SUSPENSION](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[Clase] [nvarchar](20) NOT NULL,
	[CongelaRelojes] [bit] NOT NULL,
	[Motivo] [nvarchar](500) NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaFin] [datetime2](7) NULL,
	[ExpedienteOrigenId] [uniqueidentifier] NULL,
	[AutoSharePointItemId] [nvarchar](200) NULL,
	[Dueno] [nvarchar](256) NULL,
	[SlaResolucion] [datetime2](7) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_SUSPENSION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_SUSPENSION] ADD  CONSTRAINT [DF_JUICIO_SUSPENSION_Estado]  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_SUSPENSION] ADD  CONSTRAINT [DF_JUICIO_SUSPENSION_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_SUSPENSION] ADD  CONSTRAINT [DF_JUICIO_SUSPENSION_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_SUSPENSION]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_SUSPENSION_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_SUSPENSION] CHECK CONSTRAINT [FK_JUICIO_SUSPENSION_CASO]
GO
ALTER TABLE [juicios].[JUICIO_SUSPENSION]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_SUSPENSION_ORIGEN] FOREIGN KEY([ExpedienteOrigenId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_SUSPENSION] CHECK CONSTRAINT [FK_JUICIO_SUSPENSION_ORIGEN]
GO
