SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_TAREA](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NULL,
	[Tipo] [nvarchar](40) NOT NULL,
	[Cola] [nvarchar](40) NOT NULL,
	[Titulo] [nvarchar](300) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Responsable] [nvarchar](256) NULL,
	[RolResponsable] [nvarchar](60) NULL,
	[FechaLimite] [datetime2](7) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[TerminoId] [uniqueidentifier] NULL,
	[ReferenciaTipo] [nvarchar](40) NULL,
	[ReferenciaId] [uniqueidentifier] NULL,
	[Resultado] [nvarchar](500) NULL,
	[CompletadaPor] [nvarchar](256) NULL,
	[FechaCompletada] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_TAREA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_TAREA] ADD  CONSTRAINT [DF_JUICIO_TAREA_Estado]  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_TAREA] ADD  CONSTRAINT [DF_JUICIO_TAREA_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_TAREA] ADD  CONSTRAINT [DF_JUICIO_TAREA_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_TAREA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_TAREA_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_TAREA] CHECK CONSTRAINT [FK_JUICIO_TAREA_CASO]
GO
ALTER TABLE [juicios].[JUICIO_TAREA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_TAREA_TERMINO] FOREIGN KEY([TerminoId])
REFERENCES [juicios].[JUICIO_TERMINO] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_TAREA] CHECK CONSTRAINT [FK_JUICIO_TAREA_TERMINO]
GO
