SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CAT_ETAPA](
	[Id] [uniqueidentifier] NOT NULL,
	[CatVersionId] [uniqueidentifier] NOT NULL,
	[ViaId] [uniqueidentifier] NOT NULL,
	[PadreEtapaId] [uniqueidentifier] NULL,
	[Orden] [int] NOT NULL,
	[Clave] [nvarchar](40) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Bloque] [nvarchar](20) NOT NULL,
	[DuracionMinDH] [int] NULL,
	[DuracionMaxDH] [int] NULL,
	[CaducidadCorre] [bit] NOT NULL,
	[EsTerminal] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_JUICIO_CAT_ETAPA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CAT_ETAPA] ADD  CONSTRAINT [DF_JUICIO_CAT_ETAPA_CaducidadCorre]  DEFAULT ((1)) FOR [CaducidadCorre]
GO
ALTER TABLE [juicios].[JUICIO_CAT_ETAPA] ADD  CONSTRAINT [DF_JUICIO_CAT_ETAPA_EsTerminal]  DEFAULT ((0)) FOR [EsTerminal]
GO
ALTER TABLE [juicios].[JUICIO_CAT_ETAPA] ADD  CONSTRAINT [DF_JUICIO_CAT_ETAPA_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [juicios].[JUICIO_CAT_ETAPA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CAT_ETAPA_PADRE] FOREIGN KEY([PadreEtapaId])
REFERENCES [juicios].[JUICIO_CAT_ETAPA] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CAT_ETAPA] CHECK CONSTRAINT [FK_JUICIO_CAT_ETAPA_PADRE]
GO
ALTER TABLE [juicios].[JUICIO_CAT_ETAPA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CAT_ETAPA_VERSION] FOREIGN KEY([CatVersionId])
REFERENCES [juicios].[JUICIO_CAT_VERSION] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CAT_ETAPA] CHECK CONSTRAINT [FK_JUICIO_CAT_ETAPA_VERSION]
GO
ALTER TABLE [juicios].[JUICIO_CAT_ETAPA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CAT_ETAPA_VIA] FOREIGN KEY([ViaId])
REFERENCES [juicios].[JUICIO_CAT_VIA] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_CAT_ETAPA] CHECK CONSTRAINT [FK_JUICIO_CAT_ETAPA_VIA]
GO
