SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CONVENIO](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
	[NumeroPagos] [int] NOT NULL,
	[FechaFirma] [date] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[DocumentoSharePointItemId] [nvarchar](200) NULL,
	[Observaciones] [nvarchar](500) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_CONVENIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CONVENIO] ADD  CONSTRAINT [DF_JUICIO_CONVENIO_Estado]  DEFAULT ('Vigente') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_CONVENIO] ADD  CONSTRAINT [DF_JUICIO_CONVENIO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CONVENIO] ADD  CONSTRAINT [DF_JUICIO_CONVENIO_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CONVENIO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CONVENIO_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_CONVENIO] CHECK CONSTRAINT [FK_JUICIO_CONVENIO_CASO]
GO
