SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_ECONOMIA](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[MontoCondena] [decimal](18, 2) NULL,
	[FechaCondena] [date] NULL,
	[MontoActualizado] [decimal](18, 2) NULL,
	[FechaActualizacion] [date] NULL,
	[AvaluoMonto] [decimal](18, 2) NULL,
	[AvaluoFecha] [date] NULL,
	[PosturaLegal] [decimal](18, 2) NULL,
	[MontoRecuperado] [decimal](18, 2) NULL,
	[FechaRecuperacion] [date] NULL,
	[CostosAcumulados] [decimal](18, 2) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_ECONOMIA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_ECONOMIA] ADD  CONSTRAINT [DF_JUICIO_ECONOMIA_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_ECONOMIA] ADD  CONSTRAINT [DF_JUICIO_ECONOMIA_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_ECONOMIA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_ECONOMIA_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_ECONOMIA] CHECK CONSTRAINT [FK_JUICIO_ECONOMIA_CASO]
GO
