SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_DECISION_COMITE](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[Tipo] [nvarchar](30) NOT NULL,
	[MontoPropuesto] [decimal](18, 2) NULL,
	[MontoTope] [decimal](18, 2) NULL,
	[LimiteLegal] [decimal](18, 2) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[FechaEnCola] [datetime2](7) NOT NULL,
	[FechaResolucion] [datetime2](7) NULL,
	[RequiereInstruccionCoTitular] [bit] NOT NULL,
	[InstruccionCoTitularSharePointItemId] [nvarchar](200) NULL,
	[ActaSharePointItemId] [nvarchar](200) NULL,
	[FirmadaPor] [nvarchar](256) NULL,
	[FirmaIdentidad] [nvarchar](500) NULL,
	[FechaFirma] [datetime2](7) NULL,
	[Justificacion] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_DECISION_COMITE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_DECISION_COMITE] ADD  CONSTRAINT [DF_JUICIO_DECISION_COMITE_Estado]  DEFAULT ('EnCola') FOR [Estado]
GO
ALTER TABLE [juicios].[JUICIO_DECISION_COMITE] ADD  CONSTRAINT [DF_JUICIO_DECISION_COMITE_FechaEnCola]  DEFAULT (sysutcdatetime()) FOR [FechaEnCola]
GO
ALTER TABLE [juicios].[JUICIO_DECISION_COMITE] ADD  CONSTRAINT [DF_JUICIO_DECISION_COMITE_ReqInstr]  DEFAULT ((0)) FOR [RequiereInstruccionCoTitular]
GO
ALTER TABLE [juicios].[JUICIO_DECISION_COMITE] ADD  CONSTRAINT [DF_JUICIO_DECISION_COMITE_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_DECISION_COMITE] ADD  CONSTRAINT [DF_JUICIO_DECISION_COMITE_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_DECISION_COMITE]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_DECISION_COMITE_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_DECISION_COMITE] CHECK CONSTRAINT [FK_JUICIO_DECISION_COMITE_CASO]
GO
