SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_PARTE](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NOT NULL,
	[Rol] [nvarchar](30) NOT NULL,
	[TipoPersona] [nvarchar](10) NULL,
	[Nombre] [nvarchar](1000) NOT NULL,
	[Rfc] [nvarchar](13) NULL,
	[Domicilio] [nvarchar](500) NULL,
	[EsIon] [bit] NOT NULL,
	[EstadoEmplazamiento] [nvarchar](30) NULL,
	[FechaEmplazamiento] [datetime2](7) NULL,
	[FechaContestacion] [datetime2](7) NULL,
	[FechaEdictos] [datetime2](7) NULL,
	[FechaRebeldia] [datetime2](7) NULL,
	[EnConcursoMercantil] [bit] NOT NULL,
	[FechaConcurso] [datetime2](7) NULL,
	[Orden] [int] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_PARTE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_PARTE] ADD  CONSTRAINT [DF_JUICIO_PARTE_EsIon]  DEFAULT ((0)) FOR [EsIon]
GO
ALTER TABLE [juicios].[JUICIO_PARTE] ADD  CONSTRAINT [DF_JUICIO_PARTE_Concurso]  DEFAULT ((0)) FOR [EnConcursoMercantil]
GO
ALTER TABLE [juicios].[JUICIO_PARTE] ADD  CONSTRAINT [DF_JUICIO_PARTE_Orden]  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [juicios].[JUICIO_PARTE] ADD  CONSTRAINT [DF_JUICIO_PARTE_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_PARTE] ADD  CONSTRAINT [DF_JUICIO_PARTE_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [juicios].[JUICIO_PARTE]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_PARTE_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_PARTE] CHECK CONSTRAINT [FK_JUICIO_PARTE_CASO]
GO
