SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_NOTIF_LOG](
	[Id] [uniqueidentifier] NOT NULL,
	[Destinatario] [nvarchar](256) NOT NULL,
	[Disparador] [nvarchar](60) NOT NULL,
	[Asunto] [nvarchar](300) NULL,
	[FechaEnvio] [datetime2](7) NOT NULL,
	[Exitoso] [bit] NOT NULL,
	[ErrorMensaje] [nvarchar](500) NULL,
 CONSTRAINT [PK_JUICIO_NOTIF_LOG] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_NOTIF_LOG] ADD  CONSTRAINT [DF_JUICIO_NOTIF_LOG_Disparador]  DEFAULT ('DigestMatutino') FOR [Disparador]
GO
ALTER TABLE [juicios].[JUICIO_NOTIF_LOG] ADD  CONSTRAINT [DF_JUICIO_NOTIF_LOG_FechaEnvio]  DEFAULT (sysutcdatetime()) FOR [FechaEnvio]
GO
ALTER TABLE [juicios].[JUICIO_NOTIF_LOG] ADD  CONSTRAINT [DF_JUICIO_NOTIF_LOG_Exitoso]  DEFAULT ((1)) FOR [Exitoso]
GO
