SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_STG_ASUNTO](
	[Id] [uniqueidentifier] NOT NULL,
	[CargaId] [uniqueidentifier] NOT NULL,
	[ArchivoOrigen] [nvarchar](300) NOT NULL,
	[HojaOrigen] [nvarchar](200) NOT NULL,
	[FilaOrigen] [int] NOT NULL,
	[ClaveNatural] [nvarchar](400) NOT NULL,
	[ValoresOriginalesJson] [nvarchar](max) NULL,
	[NucExtraido] [nvarchar](100) NULL,
	[DeudorExtraido] [nvarchar](400) NULL,
	[ViaClaveSugerida] [nvarchar](60) NULL,
	[RolIonSugerido] [nvarchar](20) NULL,
	[JuzgadoTexto] [nvarchar](300) NULL,
	[ExpedienteTexto] [nvarchar](100) NULL,
	[EtapaTexto] [nvarchar](300) NULL,
	[FechaDemanda] [date] NULL,
	[CapitalDemandado] [decimal](18, 2) NULL,
	[MontoCredito] [decimal](18, 2) NULL,
	[AbogadoExterno] [nvarchar](300) NULL,
	[AbogadoInterno] [nvarchar](300) NULL,
	[EstatusTexto] [nvarchar](100) NULL,
	[EstatusSugerido] [nvarchar](20) NULL,
	[EstadoConciliacion] [nvarchar](20) NOT NULL,
	[MotivoRechazo] [nvarchar](500) NULL,
	[CasoIdGenerado] [uniqueidentifier] NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[ObligadoSolidario] [nvarchar](400) NULL,
	[GarantiaDescripcion] [nvarchar](max) NULL,
	[GarantiaValor] [decimal](18, 2) NULL,
	[GarantiaFechaAvaluo] [datetime2](7) NULL,
	[GarantiaMunicipio] [nvarchar](200) NULL,
	[GarantiaEstado] [nvarchar](200) NULL,
	[GarantiaUbicacion] [nvarchar](max) NULL,
	[HonorarioPactado] [decimal](18, 2) NULL,
	[PagosRealizados] [decimal](18, 2) NULL,
	[DuenoCartera] [nvarchar](200) NULL,
	[FechaCredito] [datetime2](7) NULL,
	[FechaTurnoDespacho] [datetime2](7) NULL,
	[Proyecto] [nvarchar](300) NULL,
	[Fideicomiso] [nvarchar](300) NULL,
	[MetaRecuperacion] [decimal](18, 2) NULL,
 CONSTRAINT [PK_JUICIO_STG_ASUNTO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_STG_ASUNTO] ADD  CONSTRAINT [DF_JUICIO_STG_ASUNTO_Estado]  DEFAULT ('Pendiente') FOR [EstadoConciliacion]
GO
ALTER TABLE [juicios].[JUICIO_STG_ASUNTO] ADD  CONSTRAINT [DF_JUICIO_STG_ASUNTO_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_STG_ASUNTO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_STG_ASUNTO_CARGA] FOREIGN KEY([CargaId])
REFERENCES [juicios].[JUICIO_STG_CARGA] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_STG_ASUNTO] CHECK CONSTRAINT [FK_JUICIO_STG_ASUNTO_CARGA]
GO
ALTER TABLE [juicios].[JUICIO_STG_ASUNTO]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_STG_ASUNTO_CASO] FOREIGN KEY([CasoIdGenerado])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_STG_ASUNTO] CHECK CONSTRAINT [FK_JUICIO_STG_ASUNTO_CASO]
GO
