SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CORTE](
	[Id] [uniqueidentifier] NOT NULL,
	[Anio] [int] NOT NULL,
	[Mes] [int] NOT NULL,
	[TipoCorte] [nvarchar](20) NOT NULL,
	[Version] [int] NOT NULL,
	[LagCapturaDias] [int] NULL,
	[ActuacionesSinValidar] [int] NOT NULL,
	[TotalCasos] [int] NOT NULL,
	[FechaGeneracion] [datetime2](7) NOT NULL,
	[GeneradoPor] [nvarchar](256) NULL,
 CONSTRAINT [PK_JUICIO_CORTE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_JUICIO_CORTE_Periodo] UNIQUE NONCLUSTERED 
(
	[Anio] ASC,
	[Mes] ASC,
	[TipoCorte] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CORTE] ADD  CONSTRAINT [DF_JUICIO_CORTE_Version]  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [juicios].[JUICIO_CORTE] ADD  CONSTRAINT [DF_JUICIO_CORTE_ActSinValidar]  DEFAULT ((0)) FOR [ActuacionesSinValidar]
GO
ALTER TABLE [juicios].[JUICIO_CORTE] ADD  CONSTRAINT [DF_JUICIO_CORTE_TotalCasos]  DEFAULT ((0)) FOR [TotalCasos]
GO
ALTER TABLE [juicios].[JUICIO_CORTE] ADD  CONSTRAINT [DF_JUICIO_CORTE_FechaGeneracion]  DEFAULT (sysutcdatetime()) FOR [FechaGeneracion]
GO
