SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_CAT_CONSTANCIA](
	[Id] [uniqueidentifier] NOT NULL,
	[EtapaId] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Obligatoria] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_JUICIO_CAT_CONSTANCIA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_CAT_CONSTANCIA] ADD  CONSTRAINT [DF_JUICIO_CAT_CONSTANCIA_Obligatoria]  DEFAULT ((1)) FOR [Obligatoria]
GO
ALTER TABLE [juicios].[JUICIO_CAT_CONSTANCIA] ADD  CONSTRAINT [DF_JUICIO_CAT_CONSTANCIA_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [juicios].[JUICIO_CAT_CONSTANCIA] ADD  CONSTRAINT [DF_JUICIO_CAT_CONSTANCIA_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [juicios].[JUICIO_CAT_CONSTANCIA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_CAT_CONSTANCIA_ETAPA] FOREIGN KEY([EtapaId])
REFERENCES [juicios].[JUICIO_CAT_ETAPA] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [juicios].[JUICIO_CAT_CONSTANCIA] CHECK CONSTRAINT [FK_JUICIO_CAT_CONSTANCIA_ETAPA]
GO
