SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [juicios].[JUICIO_BITACORA](
	[Id] [uniqueidentifier] NOT NULL,
	[CasoId] [uniqueidentifier] NULL,
	[Entidad] [nvarchar](60) NOT NULL,
	[EntidadId] [uniqueidentifier] NULL,
	[Accion] [nvarchar](60) NOT NULL,
	[DatosJson] [nvarchar](max) NULL,
	[Usuario] [nvarchar](256) NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[SoloJuridico] [bit] NOT NULL,
 CONSTRAINT [PK_JUICIO_BITACORA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [juicios].[JUICIO_BITACORA] ADD  CONSTRAINT [DF_JUICIO_BITACORA_Fecha]  DEFAULT (sysutcdatetime()) FOR [Fecha]
GO
ALTER TABLE [juicios].[JUICIO_BITACORA] ADD  CONSTRAINT [DF_JUICIO_BITACORA_SoloJuridico]  DEFAULT ((0)) FOR [SoloJuridico]
GO
ALTER TABLE [juicios].[JUICIO_BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_JUICIO_BITACORA_CASO] FOREIGN KEY([CasoId])
REFERENCES [juicios].[JUICIO_CASO] ([Id])
GO
ALTER TABLE [juicios].[JUICIO_BITACORA] CHECK CONSTRAINT [FK_JUICIO_BITACORA_CASO]
GO
