SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_ESTUDIO](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[conclusiones] [nvarchar](max) NULL,
	[viabilidad] [nvarchar](max) NULL,
	[linea_fondeo] [nvarchar](200) NULL,
	[resolucion] [nvarchar](40) NULL,
	[monto_autorizado] [numeric](18, 2) NULL,
	[plazo_autorizado] [int] NULL,
	[tasa_autorizada] [nvarchar](120) NULL,
	[condiciones_resolutivas] [nvarchar](max) NULL,
	[fecha_resolucion] [datetime2](7) NULL,
 CONSTRAINT [PK_SOLICITUD_ESTUDIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_ESTUDIO]  WITH CHECK ADD  CONSTRAINT [FK_SES_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_ESTUDIO] CHECK CONSTRAINT [FK_SES_sol]
GO
