SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_METRICA](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[clave] [nvarchar](40) NOT NULL,
	[etiqueta] [nvarchar](120) NULL,
	[valor] [numeric](18, 4) NULL,
	[unidad] [nvarchar](20) NULL,
	[formula] [nvarchar](300) NULL,
	[base_calculo] [nvarchar](400) NULL,
	[fecha_calculo] [datetime] NOT NULL,
 CONSTRAINT [PK_ORI_METRICA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_METRICA] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_METRICA] ADD  CONSTRAINT [DF_ORI_MET_FEC]  DEFAULT (getdate()) FOR [fecha_calculo]
GO
ALTER TABLE [ori].[SOLICITUD_METRICA]  WITH CHECK ADD  CONSTRAINT [FK_ORI_MET_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_METRICA] CHECK CONSTRAINT [FK_ORI_MET_SOL]
GO
