SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_PARTICIPANTE](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[tipo] [nvarchar](30) NOT NULL,
	[tipo_persona] [nvarchar](20) NOT NULL,
	[orden] [int] NOT NULL,
	[nombre_razon_social] [nvarchar](400) NULL,
	[rfc] [nvarchar](13) NULL,
	[cargo] [nvarchar](200) NULL,
	[porcentaje_participacion] [numeric](9, 4) NULL,
	[estado_civil] [nvarchar](50) NULL,
	[es_pep] [bit] NOT NULL,
	[telefono] [nvarchar](40) NULL,
	[email] [nvarchar](200) NULL,
	[csf_archivo] [nvarchar](400) NULL,
	[es_beneficiario_controlador] [bit] NOT NULL,
	[nacionalidad] [nvarchar](100) NULL,
	[tipo_identificacion] [nvarchar](40) NULL,
	[numero_identificacion] [nvarchar](60) NULL,
	[vigencia_identificacion] [datetime] NULL,
	[fecha_nacimiento] [datetime] NULL,
	[sexo] [nvarchar](20) NULL,
	[regimen_matrimonial] [nvarchar](60) NULL,
	[nombre_conyuge] [nvarchar](200) NULL,
	[curp] [nvarchar](18) NULL,
	[calle] [nvarchar](200) NULL,
	[num_ext] [nvarchar](30) NULL,
	[num_int] [nvarchar](30) NULL,
	[colonia] [nvarchar](200) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[municipio] [nvarchar](200) NULL,
	[estado] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NULL,
	[tipo_localidad] [nvarchar](60) NULL,
	[entidad_nacimiento] [nvarchar](100) NULL,
	[pais_nacimiento] [nvarchar](100) NULL,
	[ocupacion] [nvarchar](150) NULL,
	[empresa_labora] [nvarchar](300) NULL,
	[actividad_giro] [nvarchar](200) NULL,
	[actividad_principal] [nvarchar](200) NULL,
	[anios_experiencia] [int] NULL,
	[autoriza_buro] [bit] NOT NULL,
	[folio_consulta_buro] [nvarchar](60) NULL,
	[fecha_consulta_buro] [datetime] NULL,
	[numero_consulta_sic] [nvarchar](60) NULL,
	[objeto_social] [nvarchar](500) NULL,
	[fecha_constitucion] [datetime] NULL,
	[folio_mercantil] [nvarchar](100) NULL,
	[experiencia] [nvarchar](max) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ORI_PART] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_PARTICIPANTE] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_PARTICIPANTE] ADD  CONSTRAINT [DF_ORI_PART_TP]  DEFAULT (N'Fisica') FOR [tipo_persona]
GO
ALTER TABLE [ori].[SOLICITUD_PARTICIPANTE] ADD  CONSTRAINT [DF_ORI_PART_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[SOLICITUD_PARTICIPANTE] ADD  CONSTRAINT [DF_ORI_PART_PEP]  DEFAULT ((0)) FOR [es_pep]
GO
ALTER TABLE [ori].[SOLICITUD_PARTICIPANTE] ADD  CONSTRAINT [DF_ORI_PART_BENEF]  DEFAULT ((0)) FOR [es_beneficiario_controlador]
GO
ALTER TABLE [ori].[SOLICITUD_PARTICIPANTE] ADD  CONSTRAINT [DF_ORI_PART_BURO]  DEFAULT ((0)) FOR [autoriza_buro]
GO
ALTER TABLE [ori].[SOLICITUD_PARTICIPANTE] ADD  CONSTRAINT [DF_SOLICITUD_PARTICIPANTE_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_PARTICIPANTE]  WITH CHECK ADD  CONSTRAINT [FK_ORI_PART_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_PARTICIPANTE] CHECK CONSTRAINT [FK_ORI_PART_SOL]
GO
