SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_EMPRESA_GRUPO](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[orden] [int] NOT NULL,
	[nombre_razon_social] [nvarchar](300) NULL,
	[actividad] [nvarchar](300) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ORI_EMPGRUPO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESA_GRUPO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESA_GRUPO] ADD  CONSTRAINT [DF_ORI_EMPGRUPO_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESA_GRUPO] ADD  CONSTRAINT [DF_SOLICITUD_EMPRESA_GRUPO_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESA_GRUPO]  WITH CHECK ADD  CONSTRAINT [FK_ORI_EMPGRUPO_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESA_GRUPO] CHECK CONSTRAINT [FK_ORI_EMPGRUPO_SOL]
GO
