SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_VERIFICACION](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[seccion] [nvarchar](40) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[motivo] [nvarchar](max) NULL,
	[responsable] [nvarchar](256) NULL,
	[fecha_revision] [datetime] NULL,
 CONSTRAINT [PK_ORI_VERIF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_VERIFICACION] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_VERIFICACION] ADD  CONSTRAINT [DF_ORI_VER_EST]  DEFAULT (N'Pendiente') FOR [estado]
GO
ALTER TABLE [ori].[SOLICITUD_VERIFICACION]  WITH CHECK ADD  CONSTRAINT [FK_ORI_VER_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_VERIFICACION] CHECK CONSTRAINT [FK_ORI_VER_SOL]
GO
