SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_MODELO_VIVIENDA](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[orden] [int] NOT NULL,
	[nombre_modelo] [nvarchar](200) NULL,
	[metros_cuadrados] [numeric](18, 2) NULL,
	[num_viviendas] [int] NULL,
	[incluye] [nvarchar](max) NULL,
	[valor_vivienda] [decimal](18, 2) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ORI_MODELO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_MODELO_VIVIENDA] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_MODELO_VIVIENDA] ADD  CONSTRAINT [DF_ORI_MOD_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[SOLICITUD_MODELO_VIVIENDA] ADD  CONSTRAINT [DF_SOLICITUD_MODELO_VIVIENDA_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_MODELO_VIVIENDA]  WITH CHECK ADD  CONSTRAINT [FK_ORI_MOD_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_MODELO_VIVIENDA] CHECK CONSTRAINT [FK_ORI_MOD_SOL]
GO
