SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_BURO_DETALLE](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[persona] [nvarchar](300) NULL,
	[otorgante] [nvarchar](200) NULL,
	[tipo_credito] [nvarchar](120) NULL,
	[fecha_apertura] [datetime2](7) NULL,
	[ultimo_pago] [datetime2](7) NULL,
	[lineas] [int] NULL,
	[limite_credito] [numeric](18, 2) NULL,
	[credito_maximo] [numeric](18, 2) NULL,
	[saldo] [numeric](18, 2) NULL,
	[mop] [nvarchar](10) NULL,
	[score] [int] NULL,
	[estatus] [nvarchar](40) NULL,
	[comentario] [nvarchar](max) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_SOLICITUD_BURO_DET] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_BURO_DETALLE] ADD  CONSTRAINT [DF_SBD_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_BURO_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_SBD_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_BURO_DETALLE] CHECK CONSTRAINT [FK_SBD_sol]
GO
