SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_PATRIMONIO](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[participante_id] [uniqueidentifier] NULL,
	[tipo] [nvarchar](30) NOT NULL,
	[orden] [int] NOT NULL,
	[descripcion] [nvarchar](400) NULL,
	[institucion] [nvarchar](200) NULL,
	[valor] [numeric](18, 2) NULL,
	[monto] [numeric](18, 2) NULL,
	[porcentaje] [numeric](9, 4) NULL,
	[fecha] [datetime] NULL,
	[referencia] [nvarchar](200) NULL,
	[gravamen] [bit] NOT NULL,
	[acreedor] [nvarchar](200) NULL,
	[nota] [nvarchar](max) NULL,
	[domicilio] [nvarchar](400) NULL,
	[detalle] [nvarchar](300) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ORI_PATRIMONIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_PATRIMONIO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_PATRIMONIO] ADD  CONSTRAINT [DF_ORI_PAT_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[SOLICITUD_PATRIMONIO] ADD  CONSTRAINT [DF_ORI_PAT_GRAV]  DEFAULT ((0)) FOR [gravamen]
GO
ALTER TABLE [ori].[SOLICITUD_PATRIMONIO] ADD  CONSTRAINT [DF_SOLICITUD_PATRIMONIO_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_PATRIMONIO]  WITH CHECK ADD  CONSTRAINT [FK_ORI_PAT_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_PATRIMONIO] CHECK CONSTRAINT [FK_ORI_PAT_SOL]
GO
