SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_PROYECTO](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[nombre_proyecto] [nvarchar](200) NULL,
	[num_viviendas] [int] NULL,
	[valor_total_proyecto] [numeric](18, 2) NULL,
	[superficie_terreno_m2] [numeric](18, 2) NULL,
	[valor_terreno] [numeric](18, 2) NULL,
	[construccion_promedio_vivienda_m2] [numeric](18, 2) NULL,
	[terreno_propio] [bit] NULL,
	[construccion_total_m2] [numeric](18, 2) NULL,
	[costo_directo_m2] [numeric](18, 2) NULL,
	[costo_urbanizacion] [numeric](18, 2) NULL,
	[estudios_proyectos] [numeric](18, 2) NULL,
	[licencias_permisos] [numeric](18, 2) NULL,
	[gastos_administracion] [numeric](18, 2) NULL,
	[gastos_venta] [numeric](18, 2) NULL,
	[indirectos] [numeric](18, 2) NULL,
	[calle] [nvarchar](200) NULL,
	[num_ext] [nvarchar](30) NULL,
	[num_int] [nvarchar](30) NULL,
	[colonia] [nvarchar](200) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[municipio] [nvarchar](200) NULL,
	[estado] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NULL,
	[tipo_localidad] [nvarchar](60) NULL,
 CONSTRAINT [PK_ORI_PROYECTO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_PROYECTO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_ORI_PROY_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_PROYECTO] CHECK CONSTRAINT [FK_ORI_PROY_SOL]
GO
