SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[CATALOGO](
	[Id] [uniqueidentifier] NOT NULL,
	[grupo] [nvarchar](50) NOT NULL,
	[codigo] [nvarchar](60) NOT NULL,
	[descripcion] [nvarchar](200) NOT NULL,
	[codigo_saf] [nvarchar](60) NULL,
	[orden] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[modificado_por] [nvarchar](256) NULL,
	[fecha_modificacion] [datetime] NOT NULL,
 CONSTRAINT [PK_ORI_CATALOGO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[CATALOGO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[CATALOGO] ADD  CONSTRAINT [DF_ORI_CAT_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[CATALOGO] ADD  CONSTRAINT [DF_ORI_CAT_ACT]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[CATALOGO] ADD  CONSTRAINT [DF_ORI_CAT_FEC]  DEFAULT (getdate()) FOR [fecha_modificacion]
GO
