SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_REFERENCIA](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[tipo] [nvarchar](30) NOT NULL,
	[orden] [int] NOT NULL,
	[nombre] [nvarchar](300) NULL,
	[tipo_relacion] [nvarchar](100) NULL,
	[tiempo_relacion] [nvarchar](60) NULL,
	[telefono] [nvarchar](40) NULL,
	[ubicacion] [nvarchar](300) NULL,
	[viviendas_totales] [int] NULL,
	[valor_comercial] [numeric](18, 2) NULL,
	[monto_credito] [numeric](18, 2) NULL,
	[institucion] [nvarchar](200) NULL,
	[fecha_inicio] [datetime] NULL,
	[fecha_vencimiento] [datetime] NULL,
	[observaciones] [nvarchar](max) NULL,
	[banco] [nvarchar](120) NULL,
	[numero_cuenta] [nvarchar](40) NULL,
	[clabe] [nvarchar](30) NULL,
	[forma_pago] [nvarchar](60) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ORI_REFERENCIA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_REFERENCIA] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_REFERENCIA] ADD  CONSTRAINT [DF_ORI_REF_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[SOLICITUD_REFERENCIA] ADD  CONSTRAINT [DF_SOLICITUD_REFERENCIA_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_REFERENCIA]  WITH CHECK ADD  CONSTRAINT [FK_ORI_REF_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_REFERENCIA] CHECK CONSTRAINT [FK_ORI_REF_SOL]
GO
