SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_BITACORA](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[nivel] [nvarchar](20) NOT NULL,
	[tipo] [nvarchar](40) NULL,
	[referencia] [nvarchar](300) NULL,
	[descripcion] [nvarchar](max) NULL,
	[usuario] [nvarchar](256) NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_ORI_BITACORA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_BITACORA] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_BITACORA] ADD  CONSTRAINT [DF_ORI_BIT_NIV]  DEFAULT (N'Solicitud') FOR [nivel]
GO
ALTER TABLE [ori].[SOLICITUD_BITACORA] ADD  CONSTRAINT [DF_ORI_BIT_FEC]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [ori].[SOLICITUD_BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_ORI_BIT_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_BITACORA] CHECK CONSTRAINT [FK_ORI_BIT_SOL]
GO
