SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[CATALOGO_CAMBIO](
	[Id] [uniqueidentifier] NOT NULL,
	[catalogo_id] [uniqueidentifier] NULL,
	[tipo_cambio] [nvarchar](20) NOT NULL,
	[grupo] [nvarchar](50) NOT NULL,
	[codigo] [nvarchar](60) NOT NULL,
	[descripcion] [nvarchar](200) NULL,
	[codigo_saf] [nvarchar](60) NULL,
	[orden] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[valor_anterior] [nvarchar](600) NULL,
	[solicitado_por] [nvarchar](256) NULL,
	[fecha_solicitud] [datetime2](7) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[revisado_por] [nvarchar](256) NULL,
	[fecha_revision] [datetime2](7) NULL,
	[comentario_revision] [nvarchar](600) NULL,
 CONSTRAINT [PK_CATALOGO_CAMBIO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[CATALOGO_CAMBIO] ADD  CONSTRAINT [DF_CATALOGO_CAMBIO_orden]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[CATALOGO_CAMBIO] ADD  CONSTRAINT [DF_CATALOGO_CAMBIO_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[CATALOGO_CAMBIO] ADD  CONSTRAINT [DF_CATALOGO_CAMBIO_fsol]  DEFAULT (sysdatetime()) FOR [fecha_solicitud]
GO
ALTER TABLE [ori].[CATALOGO_CAMBIO] ADD  CONSTRAINT [DF_CATALOGO_CAMBIO_estado]  DEFAULT ('Pendiente') FOR [estado]
GO
