SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[PERMISO_ROL](
	[Id] [uniqueidentifier] NOT NULL,
	[rol] [nvarchar](80) NOT NULL,
	[accion] [nvarchar](60) NOT NULL,
	[activo] [bit] NOT NULL,
	[modificado_por] [nvarchar](256) NULL,
	[fecha_modificacion] [datetime] NOT NULL,
 CONSTRAINT [PK_ORI_PERMISO_ROL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[PERMISO_ROL] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[PERMISO_ROL] ADD  CONSTRAINT [DF_ORI_PERM_ACT]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[PERMISO_ROL] ADD  CONSTRAINT [DF_ORI_PERM_FEC]  DEFAULT (getdate()) FOR [fecha_modificacion]
GO
