SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_VALIDACION_EXPEDIENTE](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[completo] [bit] NOT NULL,
	[estatus] [nvarchar](40) NULL,
	[validado_por] [nvarchar](256) NULL,
	[rol] [nvarchar](80) NULL,
	[comentario] [nvarchar](1000) NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_ORI_VALEXP] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_VALIDACION_EXPEDIENTE] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_VALIDACION_EXPEDIENTE] ADD  CONSTRAINT [DF_ORI_VALEXP_C]  DEFAULT ((0)) FOR [completo]
GO
ALTER TABLE [ori].[SOLICITUD_VALIDACION_EXPEDIENTE] ADD  CONSTRAINT [DF_ORI_VALEXP_F]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [ori].[SOLICITUD_VALIDACION_EXPEDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ORI_VALEXP_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_VALIDACION_EXPEDIENTE] CHECK CONSTRAINT [FK_ORI_VALEXP_SOL]
GO
