SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_BURO](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[buro_cliente] [nvarchar](300) NULL,
	[fecha_consulta] [datetime2](7) NULL,
	[lineas] [int] NULL,
	[atrasos] [bit] NOT NULL,
	[saldo] [numeric](18, 2) NULL,
	[mop_maximo] [nvarchar](10) NULL,
	[fecha_mop] [datetime2](7) NULL,
	[score] [int] NULL,
	[comentarios] [nvarchar](max) NULL,
 CONSTRAINT [PK_SOLICITUD_BURO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_BURO] ADD  CONSTRAINT [DF_SB_atr]  DEFAULT ((0)) FOR [atrasos]
GO
ALTER TABLE [ori].[SOLICITUD_BURO]  WITH CHECK ADD  CONSTRAINT [FK_SB_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_BURO] CHECK CONSTRAINT [FK_SB_sol]
GO
