SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_RIESGO_PROYECTO](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[tipo_proyecto] [nvarchar](120) NULL,
	[analisis_estres] [nvarchar](60) NULL,
	[estructura_financiera] [nvarchar](160) NULL,
	[riesgo_politico] [nvarchar](160) NULL,
	[riesgo_eventos_fuerza_mayor] [nvarchar](160) NULL,
	[impacto_ambiental] [nvarchar](200) NULL,
	[cumplimiento_contratos] [nvarchar](300) NULL,
	[riesgo_construccion] [nvarchar](300) NULL,
	[contrato_construccion] [nvarchar](200) NULL,
	[contrato_operacion] [nvarchar](200) NULL,
	[prenda_activos] [nvarchar](200) NULL,
	[control_flujo_efectivo] [nvarchar](300) NULL,
	[fondo_reserva] [nvarchar](200) NULL,
	[historial_patrocinador] [nvarchar](300) NULL,
	[cobertura_seguros] [nvarchar](160) NULL,
	[etapa_proyecto] [nvarchar](80) NULL,
	[riesgo_suministro] [nvarchar](200) NULL,
	[fuente_pago] [nvarchar](160) NULL,
	[brgr] [nvarchar](200) NULL,
	[fa] [nvarchar](200) NULL,
	[fc] [nvarchar](200) NULL,
	[fp] [nvarchar](200) NULL,
 CONSTRAINT [PK_ORI_RIESGO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_RIESGO_PROYECTO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_RIESGO_PROYECTO]  WITH CHECK ADD  CONSTRAINT [FK_ORI_RIESGO_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_RIESGO_PROYECTO] CHECK CONSTRAINT [FK_ORI_RIESGO_SOL]
GO
