SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_ESTADO_FINANCIERO](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[orden] [int] NOT NULL,
	[periodo] [nvarchar](40) NULL,
	[fecha_estados] [datetime] NULL,
	[auditados] [bit] NOT NULL,
	[ventas_netas] [numeric](18, 2) NULL,
	[ingresos_brutos] [numeric](18, 2) NULL,
	[activo_circulante] [numeric](18, 2) NULL,
	[activo_total] [numeric](18, 2) NULL,
	[pasivo_circulante] [numeric](18, 2) NULL,
	[pasivo_largo_plazo] [numeric](18, 2) NULL,
	[capital_contable] [numeric](18, 2) NULL,
	[ingresos_financieros] [numeric](18, 2) NULL,
	[gastos_financieros] [numeric](18, 2) NULL,
	[otros_ingresos] [numeric](18, 2) NULL,
	[utilidad_bruta] [numeric](18, 2) NULL,
	[utilidad_operacional] [numeric](18, 2) NULL,
	[utilidad_neta] [numeric](18, 2) NULL,
	[isr] [numeric](18, 2) NULL,
	[efectivo] [numeric](18, 2) NULL,
	[inversiones_corto] [numeric](18, 2) NULL,
	[propiedad_planta_equipo] [numeric](18, 2) NULL,
	[cuentas_por_cobrar] [numeric](18, 2) NULL,
	[proveedores] [numeric](18, 2) NULL,
	[costo_ventas] [numeric](18, 2) NULL,
	[fecha_financiero] [datetime] NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ORI_EEFF] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_ESTADO_FINANCIERO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_ESTADO_FINANCIERO] ADD  CONSTRAINT [DF_ORI_EEFF_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[SOLICITUD_ESTADO_FINANCIERO] ADD  CONSTRAINT [DF_ORI_EEFF_AUD]  DEFAULT ((0)) FOR [auditados]
GO
ALTER TABLE [ori].[SOLICITUD_ESTADO_FINANCIERO] ADD  CONSTRAINT [DF_SOLICITUD_ESTADO_FINANCIERO_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_ESTADO_FINANCIERO]  WITH CHECK ADD  CONSTRAINT [FK_ORI_EEFF_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_ESTADO_FINANCIERO] CHECK CONSTRAINT [FK_ORI_EEFF_SOL]
GO
