SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_PARTE_RELACIONADA](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[figura] [nvarchar](60) NULL,
	[nombre] [nvarchar](300) NULL,
	[fecha_consulta] [datetime2](7) NULL,
	[bil] [nvarchar](80) NULL,
	[minds] [nvarchar](80) NULL,
	[calculadora] [nvarchar](20) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_SOLICITUD_PARTE_REL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_PARTE_RELACIONADA] ADD  CONSTRAINT [DF_SPR_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [ori].[SOLICITUD_PARTE_RELACIONADA]  WITH CHECK ADD  CONSTRAINT [FK_SPR_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_PARTE_RELACIONADA] CHECK CONSTRAINT [FK_SPR_sol]
GO
