SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_EMPRESARIAL](
	[Id] [uniqueidentifier] NOT NULL,
	[folio] [nvarchar](30) NOT NULL,
	[nuc] [nvarchar](50) NULL,
	[estado] [nvarchar](30) NOT NULL,
	[etapa] [nvarchar](30) NOT NULL,
	[paso_actual] [int] NOT NULL,
	[avance_captura] [int] NOT NULL,
	[ejecutivo_responsable] [nvarchar](256) NULL,
	[credito_puente_id] [uniqueidentifier] NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[fecha_actualizacion] [datetime] NOT NULL,
	[fecha_entrada_etapa] [datetime] NOT NULL,
	[creado_por] [nvarchar](256) NULL,
	[en_espera_cliente] [bit] NOT NULL,
	[estado_comite] [nvarchar](40) NULL,
	[comite_comentario] [nvarchar](1000) NULL,
	[comite_fecha] [datetime] NULL,
	[fideicomiso_nombre] [nvarchar](300) NULL,
	[fideicomiso_numero] [nvarchar](100) NULL,
	[fideicomiso_fiduciario] [nvarchar](300) NULL,
	[calificacion_agencia] [nvarchar](60) NULL,
	[calificacion_obtenida] [nvarchar](100) NULL,
	[motivo_cancelacion] [nvarchar](60) NULL,
	[cancelacion_comentario] [nvarchar](1000) NULL,
	[cancelada_por] [nvarchar](256) NULL,
	[fecha_cancelacion] [datetime] NULL,
	[estado_previo_cancelacion] [int] NULL,
	[etapa_previa_cancelacion] [int] NULL,
 CONSTRAINT [PK_ORI_SOLICITUD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESARIAL] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESARIAL] ADD  CONSTRAINT [DF_ORI_SOL_ESTADO]  DEFAULT (N'EnCaptura') FOR [estado]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESARIAL] ADD  CONSTRAINT [DF_ORI_SOL_ETAPA]  DEFAULT (N'Captura') FOR [etapa]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESARIAL] ADD  CONSTRAINT [DF_ORI_SOL_PASO]  DEFAULT ((1)) FOR [paso_actual]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESARIAL] ADD  CONSTRAINT [DF_ORI_SOL_AV]  DEFAULT ((0)) FOR [avance_captura]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESARIAL] ADD  CONSTRAINT [DF_ORI_SOL_FCREA]  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESARIAL] ADD  CONSTRAINT [DF_ORI_SOL_FACT]  DEFAULT (getdate()) FOR [fecha_actualizacion]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESARIAL] ADD  CONSTRAINT [DF_ORI_SOL_FETA]  DEFAULT (getdate()) FOR [fecha_entrada_etapa]
GO
ALTER TABLE [ori].[SOLICITUD_EMPRESARIAL] ADD  CONSTRAINT [DF_ORI_SOL_ESP]  DEFAULT ((0)) FOR [en_espera_cliente]
GO
