SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_SOLICITANTE](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[rfc] [nvarchar](13) NULL,
	[razon_social] [nvarchar](400) NULL,
	[calle] [nvarchar](200) NULL,
	[num_ext] [nvarchar](30) NULL,
	[num_int] [nvarchar](30) NULL,
	[colonia] [nvarchar](200) NULL,
	[municipio] [nvarchar](200) NULL,
	[codigo_postal] [nvarchar](10) NULL,
	[estado] [nvarchar](100) NULL,
	[pais] [nvarchar](100) NULL,
	[objeto_social] [nvarchar](400) NULL,
	[sector] [nvarchar](200) NULL,
	[actividad] [nvarchar](200) NULL,
	[subactividad] [nvarchar](200) NULL,
	[pertenece_grupo] [bit] NOT NULL,
	[grupo_empresarial] [nvarchar](200) NULL,
	[num_empleados] [int] NULL,
	[folio_mercantil] [nvarchar](60) NULL,
	[fecha_constitucion] [datetime] NULL,
	[telefono] [nvarchar](40) NULL,
	[email] [nvarchar](200) NULL,
	[firma_electronica] [nvarchar](100) NULL,
	[csf_archivo] [nvarchar](400) NULL,
	[csf_cargada] [bit] NOT NULL,
	[csf_origen] [nvarchar](20) NOT NULL,
	[nacionalidad] [nvarchar](100) NULL,
	[clase_sociedad] [nvarchar](120) NULL,
	[acta_notaria] [nvarchar](200) NULL,
	[acta_numero] [nvarchar](60) NULL,
	[acta_escritura] [nvarchar](60) NULL,
	[origen_recursos] [nvarchar](200) NULL,
	[destino_recursos] [nvarchar](200) NULL,
	[procedencia_recursos] [nvarchar](200) NULL,
	[actua_por_terceros] [bit] NOT NULL,
	[perfil_transaccional] [nvarchar](200) NULL,
	[ingreso_anual_neto] [numeric](18, 2) NULL,
	[tamano_deudor] [nvarchar](60) NULL,
	[pais_fiscal] [nvarchar](100) NULL,
	[autoriza_buro] [bit] NOT NULL,
	[folio_consulta_buro] [nvarchar](60) NULL,
	[fecha_consulta_buro] [datetime] NULL,
	[numero_consulta_sic] [nvarchar](60) NULL,
	[tipo_localidad] [nvarchar](60) NULL,
 CONSTRAINT [PK_ORI_SOLICITANTE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_SOLICITANTE] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[SOLICITUD_SOLICITANTE] ADD  CONSTRAINT [DF_ORI_SOLTE_GRP]  DEFAULT ((0)) FOR [pertenece_grupo]
GO
ALTER TABLE [ori].[SOLICITUD_SOLICITANTE] ADD  CONSTRAINT [DF_ORI_SOLTE_CSF]  DEFAULT ((0)) FOR [csf_cargada]
GO
ALTER TABLE [ori].[SOLICITUD_SOLICITANTE] ADD  CONSTRAINT [DF_ORI_SOLTE_CSFO]  DEFAULT (N'Cliente') FOR [csf_origen]
GO
ALTER TABLE [ori].[SOLICITUD_SOLICITANTE] ADD  CONSTRAINT [DF_ORI_SOLTE_TERC]  DEFAULT ((0)) FOR [actua_por_terceros]
GO
ALTER TABLE [ori].[SOLICITUD_SOLICITANTE] ADD  CONSTRAINT [DF_ORI_SOLTE_BURO]  DEFAULT ((0)) FOR [autoriza_buro]
GO
ALTER TABLE [ori].[SOLICITUD_SOLICITANTE]  WITH CHECK ADD  CONSTRAINT [FK_ORI_SOLTE_SOL] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_SOLICITANTE] CHECK CONSTRAINT [FK_ORI_SOLTE_SOL]
GO
