SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[SOLICITUD_RATING](
	[Id] [uniqueidentifier] NOT NULL,
	[solicitud_id] [uniqueidentifier] NOT NULL,
	[exp_creditos_puente] [int] NOT NULL,
	[anios_desarrollador] [int] NOT NULL,
	[experiencia_mismo_tipo] [int] NOT NULL,
	[anios_constructor] [int] NOT NULL,
	[anios_comercializador] [int] NOT NULL,
	[proyectos_zona] [int] NOT NULL,
	[desarrollos_anio] [int] NOT NULL,
	[proyectos_ion] [int] NOT NULL,
	[desfase_obra_pct] [numeric](9, 4) NULL,
	[experiencia_pago] [nvarchar](40) NULL,
	[puntaje] [int] NULL,
	[clasificacion] [nvarchar](20) NULL,
	[fecha_calculo] [datetime2](7) NULL,
 CONSTRAINT [PK_SOLICITUD_RATING] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[SOLICITUD_RATING] ADD  CONSTRAINT [DF_SR_expcp]  DEFAULT ((0)) FOR [exp_creditos_puente]
GO
ALTER TABLE [ori].[SOLICITUD_RATING] ADD  CONSTRAINT [DF_SR_and]  DEFAULT ((0)) FOR [anios_desarrollador]
GO
ALTER TABLE [ori].[SOLICITUD_RATING] ADD  CONSTRAINT [DF_SR_emt]  DEFAULT ((0)) FOR [experiencia_mismo_tipo]
GO
ALTER TABLE [ori].[SOLICITUD_RATING] ADD  CONSTRAINT [DF_SR_anc]  DEFAULT ((0)) FOR [anios_constructor]
GO
ALTER TABLE [ori].[SOLICITUD_RATING] ADD  CONSTRAINT [DF_SR_anco]  DEFAULT ((0)) FOR [anios_comercializador]
GO
ALTER TABLE [ori].[SOLICITUD_RATING] ADD  CONSTRAINT [DF_SR_pz]  DEFAULT ((0)) FOR [proyectos_zona]
GO
ALTER TABLE [ori].[SOLICITUD_RATING] ADD  CONSTRAINT [DF_SR_da]  DEFAULT ((0)) FOR [desarrollos_anio]
GO
ALTER TABLE [ori].[SOLICITUD_RATING] ADD  CONSTRAINT [DF_SR_pi]  DEFAULT ((0)) FOR [proyectos_ion]
GO
ALTER TABLE [ori].[SOLICITUD_RATING]  WITH CHECK ADD  CONSTRAINT [FK_SR_sol] FOREIGN KEY([solicitud_id])
REFERENCES [ori].[SOLICITUD_EMPRESARIAL] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [ori].[SOLICITUD_RATING] CHECK CONSTRAINT [FK_SR_sol]
GO
