SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ori].[FLUJO_RANGO](
	[Id] [uniqueidentifier] NOT NULL,
	[segmento] [nvarchar](40) NOT NULL,
	[concepto] [nvarchar](80) NOT NULL,
	[orden] [int] NOT NULL,
	[rango_min] [decimal](9, 4) NULL,
	[rango_max] [decimal](9, 4) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_ORI_FLUJORANGO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ori].[FLUJO_RANGO] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [ori].[FLUJO_RANGO] ADD  CONSTRAINT [DF_ORI_FLUJORANGO_ORD]  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [ori].[FLUJO_RANGO] ADD  CONSTRAINT [DF_ORI_FLUJORANGO_ACT]  DEFAULT ((1)) FOR [activo]
GO
