SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PAG].[SP_CONSULTAR_DETALLE_POR_BANCO_IDENTIFICADOS]
    @FechaBusqueda VARCHAR(8),
    @Banco VARCHAR(50)   
AS
BEGIN
    SET NOCOUNT ON;

    -- Convertimos el string a fechas para optimizar el uso de índices
    DECLARE @FechaInicio DATETIME = CAST(@FechaBusqueda AS DATETIME);
    DECLARE @FechaFin DATETIME = DATEADD(DAY, 1, @FechaInicio);

    SELECT 
        A.ID, 
        A.fecha_transac AS FECHA, 
        B.cuenta AS CUENTA,
        A.ref_pago2 AS NARRATIVA,  
        A.ref_pago AS REFERENCIA,
        A.cuenta_ref AS ID_EXTERNO,
        A.monto AS IMPORTE,
		A.estatus_detalle AS SAF,
        A.tipo_identificacion AS IDENTIFICACION,
        isnull(A.Identifico,'') AS IDENTIFICO
    FROM PAG.ARCHIVOS_DETALLE AS A
    INNER JOIN PAG.ARCHIVOS_ENCABEZADO AS B ON A.id_archivo = B.id_archivo
    INNER JOIN PAG.ARCHIVOS AS C ON B.id_archivo = C.ID
    WHERE B.fecha_hora >= @FechaInicio 
      AND B.fecha_hora < @FechaFin
      AND C.banco = @Banco 
      AND A.estatus_detalle = 'NO APLICADO'
	  OR A.estatus_detalle = 'APLICADO';

END
GO
