SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PAG].[SP_CONSULTAR_INFO_CREDITO]
    @NumCredito VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.ID_EXTERNO, 
        A.NUM_CREDITO, 
        B.DES_TIP_CREDITO,
        NOMBRE_COMPLETO = COALESCE(
            NULLIF(LTRIM(RTRIM(PJ.RAZON_SOCIAL)), ''), 
            LTRIM(RTRIM(
                ISNULL(PF.PRIMER_NOMBRE + ' ', '') + 
                ISNULL(PF.SEGUNDO_NOMBRE + ' ', '') + 
                ISNULL(PF.PRIMER_APELLIDO + ' ', '') + 
                ISNULL(PF.SEGUNDO_APELLIDO, '')
            ))
        ),
        PJ.RAZON_SOCIAL, 
        PJ.NOM_COMERCIAL 
    FROM Quiero_Confianza.PR.PR_CREDITOS AS A
    INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO B WITH (NOLOCK) 
        ON A.TIP_CREDITO = B.TIP_CREDITO 
        AND A.COD_EMPRESA = B.COD_EMPRESA
    LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) 
        ON A.COD_EMPRESA = PJ.COD_EMPRESA 
        AND A.COD_CLIENTE = PJ.COD_CLIENTE
    LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) 
        ON A.COD_EMPRESA = PF.COD_EMPRESA 
        AND A.COD_CLIENTE = PF.COD_CLIENTE
    WHERE A.IND_LINEA = 'N'
        AND A.ID_EXTERNO = @NumCredito;
END
GO
