SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PAG].[SP_CONSULTAR_TOTALES_BANCOS_CONCILIACION]
    @FechaBusqueda VARCHAR(8)
AS
BEGIN
    SET NOCOUNT ON;

    -- Definimos fechas de inicio y fin para mejorar el rendimiento con índices
    DECLARE @FechaInicio DATETIME = CAST(@FechaBusqueda AS DATETIME);
    DECLARE @FechaFin DATETIME = DATEADD(DAY, 1, @FechaInicio);

    SELECT 
        -- 1. Totales de Archivos (desde Encabezado)
        COUNT(DISTINCT CASE WHEN B.banco = 'HSBC' THEN A.id_archivo END) AS TOTAL_ARCHIVOS_HSBC,
        COUNT(DISTINCT CASE WHEN B.banco = 'BBVA' THEN A.id_archivo END) AS TOTAL_ARCHIVOS_BBVA,
        COUNT(DISTINCT CASE WHEN B.banco = 'Santander' THEN A.id_archivo END) AS TOTAL_ARCHIVOS_Santander,

        -- 2. Totales de Movimientos Banco
        SUM(CASE WHEN B.banco = 'HSBC' THEN 1 ELSE 0 END) AS TOTAL_MOV_BANCO_HSBC,
        SUM(CASE WHEN B.banco = 'BBVA' THEN 1 ELSE 0 END) AS TOTAL_MOV_BANCO_BBVA,
        SUM(CASE WHEN B.banco = 'Santander' THEN 1 ELSE 0 END) AS TOTAL_MOV_BANCO_Santander,

        -- 3. Totales de Movimientos SAF (Aplicados)
        SUM(CASE WHEN B.banco = 'HSBC' AND D.estatus_detalle = 'APLICADO' THEN 1 ELSE 0 END) AS TOTAL_MOV_SAF_HSBC,
        SUM(CASE WHEN B.banco = 'BBVA' AND D.estatus_detalle = 'APLICADO' THEN 1 ELSE 0 END) AS TOTAL_MOV_SAF_BBVA,
        SUM(CASE WHEN B.banco = 'Santander' AND D.estatus_detalle = 'APLICADO' THEN 1 ELSE 0 END) AS TOTAL_MOV_SAF_Santander

    FROM PAG.ARCHIVOS_ENCABEZADO AS A
    INNER JOIN PAG.ARCHIVOS AS B ON A.id_archivo = B.ID
    LEFT JOIN PAG.ARCHIVOS_DETALLE AS D ON A.id_archivo = D.id_archivo
    WHERE B.fecha_carga >= @FechaInicio AND B.fecha_carga < @FechaFin;

END
GO
