SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20260609
-- Descripcion:	Listado de pagos que no fueron identificados a lo largo del dia y se envia en el cierre nocturno
-- =============================================
CREATE PROCEDURE [PAG].[NO_IDENTIFICADOS_ENVIO]
AS
BEGIN
	SET NOCOUNT ON;

    
    DECLARE @FechaIni DATETIME
    DECLARE @FechaFin DATETIME;

    SELECT @FechaIni = fec_hoy FROM Quiero_Confianza.cf.cf_calendarios WHERE cod_empresa = '001' AND cod_agencia = '001' AND cod_sistema = 'PR';
    SET @FechaFin = DATEADD(DAY, 1, @FechaIni);

    SELECT CB.id_cuenta AS CUENTA,
        A.ref_pago AS REFERENCIA, 
        A.monto AS IMPORTE
    FROM PAG.ARCHIVOS_DETALLE AS A
        INNER JOIN PAG.ARCHIVOS_ENCABEZADO AS B ON A.id_archivo = B.id_archivo
        INNER JOIN PAG.ARCHIVOS AS C ON B.id_archivo = C.ID
        INNER JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE CB ON CB.num_cuenta LIKE B.cuenta + '%'
    WHERE A.estatus_detalle = 'CARGADO'
        AND NOT A.monto IS NULL
        AND @FechaIni <= B.fecha_hora AND B.fecha_hora < @FechaFin

END
GO
