SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAG].[ARCHIVOS_DETALLE](
	[ID] [uniqueidentifier] NOT NULL,
	[id_archivo] [uniqueidentifier] NOT NULL,
	[estatus_detalle] [varchar](15) NOT NULL,
	[detalle] [varchar](500) NOT NULL,
	[fecha_reg] [datetime] NULL,
	[fecha_transac] [date] NULL,
	[mes_anio_transacc] [char](6) NULL,
	[tipo_pago] [char](1) NULL,
	[moneda_transac] [char](3) NULL,
	[monto] [decimal](18, 2) NULL,
	[swift] [varchar](11) NULL,
	[cod_interno] [varchar](50) NULL,
	[cod_transac] [varchar](50) NULL,
	[ref_pago] [varchar](500) NULL,
	[ref_pago2] [varchar](500) NULL,
	[tipo_identificacion] [varchar](50) NULL,
	[id_cuenta] [varchar](20) NULL,
	[cuenta_ref] [varchar](20) NULL,
	[capital] [decimal](18, 2) NULL,
	[diferido] [decimal](18, 2) NULL,
	[ordinarios] [decimal](18, 2) NULL,
	[moratorios] [decimal](18, 2) NULL,
	[seguros] [decimal](18, 2) NULL,
	[liquidacion] [decimal](18, 2) NULL,
	[saldo_favor] [decimal](18, 2) NULL,
	[prorroga] [decimal](18, 2) NULL,
	[reestructura] [decimal](18, 2) NULL,
	[vista_obra] [decimal](18, 2) NULL,
	[avaluos] [decimal](18, 2) NULL,
	[apoyo_financiero] [decimal](18, 2) NULL,
	[observaciones] [varchar](1000) NULL,
	[forma_aplicacion_pago] [varchar](10) NULL,
	[Identifico] [varchar](100) NULL,
	[Envio] [varchar](100) NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NULL,
 CONSTRAINT [PK_PAG_ARCHIVOS_DETALLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PAG].[ARCHIVOS_DETALLE] ADD  CONSTRAINT [DF__ARCHIVOS_DET__ID__69478F08]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PAG].[ARCHIVOS_DETALLE] ADD  CONSTRAINT [DF__ARCHIVOS___creat__6A3BB341]  DEFAULT (getdate()) FOR [created]
GO
ALTER TABLE [PAG].[ARCHIVOS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_ARCHIVOS_DETALLE_ARCHIVO] FOREIGN KEY([id_archivo])
REFERENCES [PAG].[ARCHIVOS] ([ID])
GO
ALTER TABLE [PAG].[ARCHIVOS_DETALLE] CHECK CONSTRAINT [FK_ARCHIVOS_DETALLE_ARCHIVO]
GO
