SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PAG].[SP_OBTENER_DETALLE_CONCILIACION]
    @FechaString VARCHAR(8) 
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        -- Número consecutivo por registro
        ROW_NUMBER() OVER (ORDER BY B.fecha_carga, C.cuenta, A.ref_pago) AS CONSECUTIVO,
        FORMAT(B.fecha_carga, 'dd/MM/yyyy') AS FECHA, 
        C.cuenta AS CUENTA, 
        CASE 
            WHEN A.estatus_detalle = 'APLICADO' THEN 'SAF' 
            ELSE 'NO IDENTIFICADO' 
        END AS APLICADO,
        
        A.ref_pago AS REFERENCIA, 
        A.monto AS IMPORTE, 
        B.banco AS BANCO,
        CASE 
            WHEN (
                ISNULL(A.capital, 0) + ISNULL(A.diferido, 0) + ISNULL(A.ordinarios, 0) + 
                ISNULL(A.moratorios, 0) + ISNULL(A.seguros, 0) + ISNULL(A.liquidacion, 0) + 
                ISNULL(A.saldo_favor, 0) + ISNULL(A.prorroga, 0) + ISNULL(A.reestructura, 0) + 
                ISNULL(A.vista_obra, 0) + ISNULL(A.avaluos, 0) + ISNULL(A.apoyo_financiero, 0)
            ) <> A.monto 
            THEN 'CON DIFERENCIA'
            ELSE 'SIN DIFERENCIA'
        END AS DIFERENCIA

    FROM PAG.ARCHIVOS_DETALLE AS A
    INNER JOIN PAG.ARCHIVOS AS B ON A.id_archivo = B.ID
    INNER JOIN PAG.ARCHIVOS_ENCABEZADO AS C ON C.id_archivo = B.ID
    -- Comparación directa con el string de entrada
    WHERE FORMAT(B.fecha_carga, 'yyyyMMdd') = @FechaString;
END;
GO
