SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PAG].[SP_CONSULTAR_DETALLE_POR_NO_IDEN_ID]
   @id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        A.ID, 
        A.fecha_transac AS FECHA,
		A.fecha_reg AS FECHA_REG,
        B.cuenta AS CUENTA,
		C.banco AS BANCO,
        ISNULL(A.ref_pago2, '') AS NARRATIVA, 
        A.ref_pago AS REFERENCIA,
        ISNULL(A.capital, 0) AS CAPITAL,
        ISNULL(A.diferido, 0) AS DIFERIDO,
        ISNULL(A.ordinarios, 0) AS ORDINARIOS,
        ISNULL(A.moratorios, 0) AS MORATORIOS,
        ISNULL(A.seguros, 0) AS SEGUROS,
        ISNULL(A.liquidacion, 0) AS LIQUIDACION,
        ISNULL(A.saldo_favor, 0) AS SALDO_FAVOR,
        ISNULL(A.prorroga, 0) AS PRORROGA,
        ISNULL(A.reestructura, 0) AS REESTRUCTURA,
        ISNULL(A.vista_obra, 0) AS VISTA_OBRA,
        ISNULL(A.avaluos, 0) AS AVALUOS,
        ISNULL(A.apoyo_financiero, 0) AS APOYO_FINANCIERO,
		A.id_cuenta  AS ID_CUENTA,
		A.cuenta_ref  AS CUENTA_REF,
        A.monto AS IMPORTE,
		A.observaciones AS OBSERVACIONES,
		A.forma_aplicacion_pago AS FORMA_APLICACION_PAGO,
        DATEDIFF(DAY, A.fecha_transac, GETDATE()) AS DIAS_S
    FROM PAG.ARCHIVOS_DETALLE AS A
    INNER JOIN PAG.ARCHIVOS_ENCABEZADO AS B ON A.id_archivo = B.id_archivo
    INNER JOIN PAG.ARCHIVOS AS C ON B.id_archivo = C.ID
    WHERE A.ID = @id;

END
GO
