SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PAG].[SP_CONSULTAR_DETALLE_REPORTE_PAGOS]
    @fecha date
AS
BEGIN
    SET NOCOUNT ON;

    -- Definimos el límite superior (el día siguiente a las 00:00:00)
    DECLARE @FechaFin DATETIME = DATEADD(DAY, 1, CAST(@fecha AS DATETIME));

    SELECT 
        FORMAT(A.fecha_transac, 'dd/MM/yyyy') AS Fecha, 
        B.cuenta AS Cuenta,
        A.ref_pago2 AS Narrativa, 
        C.banco AS Banco,
        A.ref_pago AS Referencia, 
        A.monto AS Importe, 
        A.cuenta_ref AS ID_Externo,
        (ISNULL(capital, 0) + 
        ISNULL(diferido, 0) + 
        ISNULL(ordinarios, 0) + 
        ISNULL(moratorios, 0) + 
        ISNULL(seguros, 0) + 
        ISNULL(liquidacion, 0) + 
        ISNULL(saldo_favor, 0) + 
        ISNULL(prorroga, 0) + 
        ISNULL(reestructura, 0) + 
        ISNULL(vista_obra, 0) + 
        ISNULL(avaluos, 0) + 
        ISNULL(apoyo_financiero, 0)) AS Aplicado_SAF,
        A.estatus_detalle AS Estatus,
        DATEDIFF(DAY, A.fecha_transac, GETDATE()) AS DIAS_S
    FROM PAG.ARCHIVOS_DETALLE AS A
    INNER JOIN PAG.ARCHIVOS_ENCABEZADO AS B ON A.id_archivo = B.id_archivo
    INNER JOIN PAG.ARCHIVOS AS C ON B.id_archivo = C.ID
    WHERE B.fecha_hora >= CAST(@fecha AS DATETIME) 
      AND B.fecha_hora < @FechaFin
      AND A.estatus_detalle = 'APLICADO';

END
GO
