SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PAG].[PR_RESUMEN_PAGOS_HISTORICO]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        FORMAT(A.fecha_carga, 'yyyy-MM-dd') AS FECHA,
        SUM(B.monto) AS APLICADO_BANCO,
        -- Usamos COUNT(B.ID) o COUNT(*) para evitar el choque de tipos
        COUNT(B.id) AS MOVIMIENTOS_BANCO, 
        SUM(CASE WHEN B.estatus_detalle = 'APLICADO' THEN B.monto ELSE 0 END) AS APLICADO_SAF,
        -- Contamos solo los aplicados
        SUM(CASE WHEN B.estatus_detalle = 'APLICADO' THEN 1 ELSE 0 END) AS MOVIMIENTOS_SAF,
        CASE 
            WHEN SUM(B.monto) = SUM(CASE WHEN B.estatus_detalle = 'APLICADO' THEN B.monto ELSE 0 END) 
            THEN 'SIN DIFERENCIA' 
            ELSE 'CON DIFERENCIA' 
        END AS OBSERVACIONES
    FROM PAG.ARCHIVOS AS A
    INNER JOIN PAG.ARCHIVOS_DETALLE AS B ON A.ID = B.id_archivo
    GROUP BY CAST(A.fecha_carga AS DATE), FORMAT(A.fecha_carga, 'yyyy-MM-dd')
    ORDER BY CAST(A.fecha_carga AS DATE) DESC;
END

GO
