SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PAG].[CATALOGO_INFONAVIT](
	[ID] [uniqueidentifier] NOT NULL,
	[numero_credito] [varchar](50) NOT NULL,
	[numero_infonavit] [varchar](50) NOT NULL,
	[created] [datetime] NOT NULL,
	[updated] [datetime] NULL,
 CONSTRAINT [PK_CATALOGO_INFONAVIT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PAG].[CATALOGO_INFONAVIT] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PAG].[CATALOGO_INFONAVIT] ADD  DEFAULT (getdate()) FOR [created]
GO
