SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PAG].[SP_PAGOS_CONSULTA_NOMBRE_CLIENTE]
	@numeroCredito VARCHAR(30) 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT TOP 1 
		A.ID_EXTERNO AS NUC, 
		A.NUM_CREDITO, 
		PF.PRIMER_APELLIDO, 
		PF.SEGUNDO_APELLIDO, 
		PF.PRIMER_NOMBRE, 
		PF.SEGUNDO_NOMBRE, 
		NOMBRE_COMPLETO = ISNULL(PJ.RAZON_SOCIAL, 
								LTRIM(RTRIM(ISNULL(PF.PRIMER_NOMBRE,'') + ' ' + 
								ISNULL(PF.SEGUNDO_NOMBRE,'') + ' ' + 
								ISNULL(PF.PRIMER_APELLIDO,'') + ' ' + 
								ISNULL(PF.SEGUNDO_APELLIDO,'')))),
		PJ.RAZON_SOCIAL, 
		PJ.NOM_COMERCIAL 
	FROM Quiero_Confianza.PR.PR_CREDITOS AS A WITH (NOLOCK) 
	LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) 
		ON A.COD_EMPRESA = PJ.COD_EMPRESA AND A.COD_CLIENTE = PJ.COD_CLIENTE
	LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) 
		ON A.COD_EMPRESA = PF.COD_EMPRESA AND A.COD_CLIENTE = PF.COD_CLIENTE
	WHERE A.ID_EXTERNO = @numeroCredito;

END
GO
