SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[CONCEPTOS_TEMP](
	[CONCEPTO] [varchar](300) NULL,
	[CUENTA_CARGO] [varchar](100) NULL,
	[CUENTA_ABONO] [varchar](100) NULL
) ON [PRIMARY]
GO
