SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE     PROC [PO].[DE_SP_DELETE_MOVIMIENTO]
(
	@ID_DESEMBOLSO	 UNIQUEIDENTIFIER,
	@ID	 UNIQUEIDENTIFIER
)
AS BEGIN	
	IF @ID_DESEMBOLSO is not null BEGIN
		DELETE FROM [KARDIA].[PO].[DE_MOVIMIENTO] where ID_DESEMBOLSO = @ID_DESEMBOLSO and ID = coalesce(@ID, ID)
	END
END

GO
