SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_COBRANZA_ENC](
	[ID] [uniqueidentifier] NOT NULL,
	[FECHA_SISTEMA] [date] NOT NULL,
	[ESTATUS] [varchar](10) NULL,
	[PARTE_ION] [decimal](12, 2) NULL,
	[PARTE_ADM] [decimal](12, 2) NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
	[REGISTRADO_POR] [varchar](100) NOT NULL,
	[FECHA_INI] [date] NULL,
	[FECHA_FIN] [date] NULL,
	[ACTIVO] [bit] NULL,
 CONSTRAINT [PK_PR_COBRANZA_ENC_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[PR_COBRANZA_ENC] ADD  CONSTRAINT [DF_PR_COBRANZA_ENC_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[PR_COBRANZA_ENC] ADD  CONSTRAINT [DF_PR_COBRANZA_ENC_FECHA_GENERACION]  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
