SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_CAPITAL_DET](
	[ID] [uniqueidentifier] NOT NULL,
	[ID_CAPITAL_ENC] [uniqueidentifier] NOT NULL,
	[ID_EXTERNO] [varchar](32) NULL,
	[FECHA_ACTINVER] [date] NULL,
	[FECHA_HSBC] [date] NULL,
	[ACREDITADO] [varchar](128) NULL,
	[PROYECTO] [varchar](128) NULL,
	[TIPO_CREDITO] [varchar](128) NULL,
	[TIPO_CARTERA] [varchar](24) NULL,
	[ESTATUS] [varchar](16) NULL,
	[FISO] [varchar](32) NULL,
	[IMPORTE] [decimal](12, 2) NULL,
	[ETAPA] [varchar](1) NULL,
	[OBSERVACION] [varchar](256) NULL,
 CONSTRAINT [PK_PR_CAPITAL_DET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[PR_CAPITAL_DET] ADD  CONSTRAINT [DF_PR_CAPITAL_DET_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[PR_CAPITAL_DET]  WITH CHECK ADD  CONSTRAINT [FK_PR_CAPITAL_DET_PR_CAPITAL_ENC] FOREIGN KEY([ID_CAPITAL_ENC])
REFERENCES [PO].[PR_CAPITAL_ENC] ([ID])
GO
ALTER TABLE [PO].[PR_CAPITAL_DET] CHECK CONSTRAINT [FK_PR_CAPITAL_DET_PR_CAPITAL_ENC]
GO
