SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion: 	20240827
-- Descripcion:	Entrega conteo de movimientos en las polizas por dia
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_MOVxDIA]
	@FECHA DATE
AS
BEGIN
    SET NOCOUNT ON;


    CREATE TABLE #MOVS(ID_POLIZA int, MOV_CONT int)

    INSERT INTO #MOVS(ID_POLIZA, MOV_CONT)
    SELECT            ID_POLIZA, count(*)
    FROM [PO].[SAF_MOV_ABONO]
    WHERE [FECHA_MOVIMIENTO] = @FECHA and not ID_POLIZA is null
        --and ID_TIPO_CREDITO IN (3, 16, 17, 4, 1, 9, 10, 11, 26,    2, 12, 13, 14, 15, 28)
    group by ID_POLIZA

    INSERT INTO #MOVS(ID_POLIZA, MOV_CONT)
    SELECT            ID_POLIZA, count(*)
    FROM [PO].[SAF_MOV_CARGO]
    WHERE [FECHA_MOVIMIENTO] = @FECHA and not ID_POLIZA is null
        --and ID_TIPO_CREDITO IN (3, 16, 17, 4, 1, 9, 10, 11, 26,    2, 12, 13, 14, 15, 28)
    group by ID_POLIZA

    INSERT INTO #MOVS(ID_POLIZA, MOV_CONT)
    SELECT            ID_POLIZA, count(*)
    FROM [PO].[SAF_MOV_DEVOLUCIONES]
    WHERE [FECHA_MOVIMIENTO] = @FECHA and not ID_POLIZA is null
        --and ID_TIPO_CREDITO IN (3, 16, 17, 4, 1, 9, 10, 11, 26)
    group by ID_POLIZA

    INSERT INTO #MOVS(ID_POLIZA, MOV_CONT)
    SELECT            ID_POLIZA, count(*)
    FROM [PO].[SAF_MOV_INTERES]
    WHERE [FECHA_MOVIMIENTO] = @FECHA and not ID_POLIZA is null
        --and ID_TIPO_CREDITO IN (3, 16, 17, 4, 1, 9, 10, 11, 26,    2, 12, 13, 14, 15, 28)
    group by ID_POLIZA

    INSERT INTO #MOVS(ID_POLIZA, MOV_CONT)
    SELECT            ID_POLIZA, count(*)
    FROM [PO].[SAF_MOV_MORATORIO]
    WHERE [FECHA_MOVIMIENTO] = @FECHA and not ID_POLIZA is null
        --and ID_TIPO_CREDITO IN (3, 16, 17, 4, 1, 9, 10, 11, 26,    2, 12, 13, 14, 15, 28)
    group by ID_POLIZA

    INSERT INTO #MOVS(ID_POLIZA, MOV_CONT)
    SELECT            ID_POLIZA, count(*)
    FROM [PO].[SAF_MOV_TRASPASO]
    WHERE [FECHA_MOVIMIENTO] = @FECHA and not ID_POLIZA is null
        --and ID_TIPO_CREDITO IN (3, 16, 17, 4, 1, 9, 10, 11, 26,    2, 12, 13, 14, 15, 28)
    group by ID_POLIZA

    INSERT INTO #MOVS(ID_POLIZA, MOV_CONT)
    SELECT            ID_POLIZA, count(*)
    FROM [PO].[SAF_MOV_X_IDENTIFICAR]
    WHERE [FECHA_MOVIMIENTO] = @FECHA and not ID_POLIZA is null
        --and ID_TIPO_CREDITO IN (3, 16, 17, 4, 1, 9, 10, 11, 26)
    group by ID_POLIZA
    

    SELECT 0 as ID_POLIZA,'TODAS' as POLIZA_DESC,1 as ref_orden
    UNION
    SELECT -1 as ID_POLIZA,'TODO INDIVIDUAL' as POLIZA_DESC,2 as ref_orden
    UNION
    SELECT -2 as ID_POLIZA,'TODO COMERCIAL' as POLIZA_DESC,3 as ref_orden
    UNION
    SELECT -3 as ID_POLIZA,'TODO SINDICADA' as POLIZA_DESC,4 as ref_orden
    UNION
    SELECT M.ID_POLIZA,P.DESCRIPCION +' ('+cast(sum(M.MOV_CONT) as varchar)+')' as POLIZA_DESC,10 as ref_orden
    FROM #MOVS M 
	    INNER JOIN [PO].[CAT_TIPO_POLIZA] P ON M.ID_POLIZA = P.ID
    GROUP BY M.ID_POLIZA,P.DESCRIPCION
    ORDER BY ref_orden,POLIZA_DESC
 

END
GO
