SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SYS_SP_CATALOGO_CONCEPTOS]
AS
BEGIN

	DECLARE @RUBROS TABLE (COD_RUBRO VARCHAR(25), DES_RUBRO VARCHAR(200), ID INT)
	DECLARE @INDICE INT = 0, @MAX_INDICE INT = 0, @INDICE2 INT = 0, @MAX_INDICE2 INT = 3,  @COD_RUBRO VARCHAR(25), @DES_RUBRO VARCHAR(200), 
	@TIPO_FONDEO_REST VARCHAR(50) = 'RESTRINGIDO', @TIPO_FONDEO_NO_REST VARCHAR (50) = 'NO RESTRINGIDO',
	@TIPO_VIVIENDA_MR VARCHAR(50) = 'MEDIA RESIDENCIAL', @TIPO_VIVIENDA_IS VARCHAR (50) = 'INTERES SOCIAL',
	@ID_FONDEO_REST INT = 1, @ID_FONDEO_NO_REST INT = 2

	INSERT INTO @RUBROS
	SELECT DISTINCT Cod_Rubro, Des_Rubro, DENSE_RANK() OVER (ORDER BY Cod_Rubro) AS ID FROM QUIERO_CONFIANZA.PR.PR_RUBRO WITH (NOLOCK) WHERE Ind_Activo = 'S' ORDER BY Cod_Rubro

	SELECT @MAX_INDICE = COUNT(ID) FROM @RUBROS

	WHILE @INDICE < @MAX_INDICE
	BEGIN
		
		SELECT @COD_RUBRO = COD_RUBRO, @DES_RUBRO = DES_RUBRO FROM @RUBROS WHERE ID = @INDICE + 1

		IF NOT EXISTS (SELECT TOP(1) 1 FROM PO.SAF_CATALOGO_CONCEPTOS WHERE COD_RUBRO = @COD_RUBRO)
		BEGIN
			
			WHILE @INDICE2 < @MAX_INDICE2
			BEGIN

				IF @COD_RUBRO = 'SALDO_FAVOR'
				BEGIN
					
					----------------SALDO A FAVOR---------------------
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ',  @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO,' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT(@COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					--------------------------IVA SALDO A FAVOR-----------------------------
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ',  @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO,' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' COIVD ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES (CONCAT('IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

				END
				ELSE
				BEGIN
					
					-------------------------PAGO----------------------------
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					-------------------------PAGO IVA--------------------------------
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST,' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('PAGO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					------------------------CONDONACION----------------------
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST,' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					-------------------------IVA CONDONACION------------------
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST,' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('CONDONACION IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					-----------------------DESEMBOLSO------------------------
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST,' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					-------------------------IVA DESEMBOLSO------------------
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST,' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DESEMBOLSO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					-------------------------DEVENGO-------------------------
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST,' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					-------------------------------------IVA--------------------------------------------
					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST,' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)


					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
					VALUES( CONCAT('DEVENGO IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					IF @COD_RUBRO = 'INTERESES'
					BEGIN
						-- INTERESES INTERES SOCIAL NO RESTRINGIDO	
						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						------------------IVA---------------------
						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' COVID ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' BALLON ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					END
					ELSE IF @COD_RUBRO = 'MORATORIOS'
					BEGIN
						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT(@COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						------------------IVA---------------------
						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_IS, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

						INSERT INTO PO.SAF_CATALOGO_CONCEPTOS (CONCEPTO, COD_RUBRO, DES_RUBRO)
						VALUES( CONCAT('IVA ', @COD_RUBRO, ' ', @TIPO_VIVIENDA_MR, ' ', @TIPO_FONDEO_NO_REST, ' ', @INDICE2 + 1), @COD_RUBRO, @DES_RUBRO)

					END

				END
				SET @INDICE2 = @INDICE2 + 1
			END

			SET @INDICE2 = 0
		END

		SET @INDICE = @INDICE + 1
	END

END
GO
