SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20250731
-- Descripcion:	Realiza la importacion de un txt separado por | para los devengos de poliza sindiada
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_DEVENGO_IMPORTA]
     @ID_DEVENGO_ENC uniqueidentifier
	,@archivo varchar(max)
AS
BEGIN
	SET NOCOUNT ON;


    declare @ini int,@fin int,@tamano int,@linea int,@renglon varchar(max)
	,@ID_EXTERNO varchar(32)
	,@ACREDITADO varchar(128)
	,@PROYECTO varchar(64)
	,@TIPO_CREDITO varchar(128)
	,@CARTERA varchar(16)
	,@FONDEADOR varchar(32)
	,@CEDIDO varchar(32)
	,@ADMINISTRADOR varchar(16)
	,@TIPO_CARTERA varchar(24)
	,@ESTATUS varchar(16)
	,@DIA_PAGO varchar(16)
	,@GENERA_IVA varchar(4)
	,@FECHA_CALCULO date
	,@IMPORTE decimal(12, 2)
	,@INTERES_IVA decimal(12, 2)
	,@INTERESES_MORATORIOS decimal(12, 2)
	,@DIA_INCUMPLIMIEMNTO decimal(12, 2)
	,@GASTOS_COBRANZA decimal(12, 2)
	,@GASTOS_COBRANZA_IVA decimal(12, 2)
	,@LLAVE_EMPRESA varchar(64)
	,@LLAVE_FECHA varchar(64)
	,@OBSERVACIONES varchar(256)
	,@ESTATUS_REF varchar(16)
	,@PROGRAMA_COVID_19 varchar(4)
	,@ETAPA varchar(1)
	,@IDENTIFICADOR varchar(16)
	,@CANAL varchar(32)
	,@REGISTRAR_EN varchar(32)

    ,@ind1 int
    ,@ind2 int
    ,@ind3 int
    ,@ind4 int
    ,@ind5 int
    ,@ind6 int
    ,@ind7 int
    ,@ind8 int
    ,@ind9 int
    ,@ind10 int
    ,@ind11 int
    ,@ind12 int
    ,@ind13 int
    ,@ind14 int
    ,@ind15 int
    ,@ind16 int
    ,@ind17 int
    ,@ind18 int
    ,@ind19 int
    ,@ind20 int
    ,@ind21 int
    ,@ind22 int
    ,@ind23 int
    ,@ind24 int
    ,@ind25 int
    ,@ind26 int
    ,@ind27 int

    set @linea = 0
    set @tamano = LEN(@archivo)+1
    set @ini = 1 
    set @fin = CHARINDEX(CHAR(10),@archivo)
    
    while @ini < @fin begin

        set @renglon = replace(replace(SUBSTRING(@archivo,@ini,@fin-@ini),CHAR(10),''),CHAR(13),'')
        set @linea = @linea + 1
        if @linea > 1 begin

            set @ind1 = CHARINDEX('|',@renglon,1)
            set @ind2 = CHARINDEX('|',@renglon,@ind1+1)
            set @ind3 = CHARINDEX('|',@renglon,@ind2+1)
            set @ind4 = CHARINDEX('|',@renglon,@ind3+1)
            set @ind5 = CHARINDEX('|',@renglon,@ind4+1)
            set @ind6 = CHARINDEX('|',@renglon,@ind5+1)
            set @ind7 = CHARINDEX('|',@renglon,@ind6+1)
            set @ind8 = CHARINDEX('|',@renglon,@ind7+1)
            set @ind9 = CHARINDEX('|',@renglon,@ind8+1)
            set @ind10 = CHARINDEX('|',@renglon,@ind9+1)
            set @ind11 = CHARINDEX('|',@renglon,@ind10+1)
            set @ind12 = CHARINDEX('|',@renglon,@ind11+1)
            set @ind13 = CHARINDEX('|',@renglon,@ind12+1)
            set @ind14 = CHARINDEX('|',@renglon,@ind13+1)
            set @ind15 = CHARINDEX('|',@renglon,@ind14+1)
            set @ind16 = CHARINDEX('|',@renglon,@ind15+1)
            set @ind17 = CHARINDEX('|',@renglon,@ind16+1)
            set @ind18 = CHARINDEX('|',@renglon,@ind17+1)
            set @ind19 = CHARINDEX('|',@renglon,@ind18+1)
            set @ind20 = CHARINDEX('|',@renglon,@ind19+1)
            set @ind21 = CHARINDEX('|',@renglon,@ind20+1)
            set @ind22 = CHARINDEX('|',@renglon,@ind21+1)
            set @ind23 = CHARINDEX('|',@renglon,@ind22+1)
            set @ind24 = CHARINDEX('|',@renglon,@ind23+1)
            set @ind25 = CHARINDEX('|',@renglon,@ind24+1)
            set @ind26 = CHARINDEX('|',@renglon,@ind25+1)
            set @ind27 = CHARINDEX('|',@renglon,@ind26+1)

            if @ind27 > 0 begin

                set @ID_EXTERNO           = SUBSTRING(@renglon,1      ,@ind1-1)
                set @ACREDITADO           = SUBSTRING(@renglon,@ind1+1,@ind2-@ind1-1)
                set @PROYECTO             = SUBSTRING(@renglon,@ind2+1,@ind3-@ind2-1)
                set @TIPO_CREDITO         = SUBSTRING(@renglon,@ind3+1,@ind4-@ind3-1)
                set @CARTERA              = SUBSTRING(@renglon,@ind4+1,@ind5-@ind4-1)
                set @FONDEADOR            = SUBSTRING(@renglon,@ind5+1,@ind6-@ind5-1)
                set @CEDIDO               = SUBSTRING(@renglon,@ind6+1,@ind7-@ind6-1)
                set @ADMINISTRADOR        = SUBSTRING(@renglon,@ind7+1,@ind8-@ind7-1)
                set @TIPO_CARTERA         = SUBSTRING(@renglon,@ind8+1,@ind9-@ind8-1)
                set @ESTATUS              = SUBSTRING(@renglon,@ind9+1,@ind10-@ind9-1)
                set @DIA_PAGO             = SUBSTRING(@renglon,@ind10+1,@ind11-@ind10-1)
	            set @GENERA_IVA           = SUBSTRING(@renglon,@ind11+1,@ind12-@ind11-1)
	            set @FECHA_CALCULO        = CONVERT(date, SUBSTRING(@renglon,@ind12+1,@ind13-@ind12-1), 103)
	            set @IMPORTE              = SUBSTRING(@renglon,@ind13+1,@ind14-@ind13-1)
	            set @INTERES_IVA          = SUBSTRING(@renglon,@ind14+1,@ind15-@ind14-1)
	            set @INTERESES_MORATORIOS = SUBSTRING(@renglon,@ind15+1,@ind16-@ind15-1)
	            set @DIA_INCUMPLIMIEMNTO  = SUBSTRING(@renglon,@ind16+1,@ind17-@ind16-1)
	            set @GASTOS_COBRANZA      = SUBSTRING(@renglon,@ind17+1,@ind18-@ind17-1)
	            set @GASTOS_COBRANZA_IVA  = SUBSTRING(@renglon,@ind18+1,@ind19-@ind18-1)
	            set @LLAVE_EMPRESA        = SUBSTRING(@renglon,@ind19+1,@ind20-@ind19-1)
	            set @LLAVE_FECHA          = SUBSTRING(@renglon,@ind20+1,@ind21-@ind20-1)
	            set @OBSERVACIONES        = SUBSTRING(@renglon,@ind21+1,@ind22-@ind21-1)
	            set @ESTATUS_REF          = SUBSTRING(@renglon,@ind22+1,@ind23-@ind22-1)
	            set @PROGRAMA_COVID_19    = SUBSTRING(@renglon,@ind23+1,@ind24-@ind23-1)
	            set @ETAPA                = SUBSTRING(@renglon,@ind24+1,@ind25-@ind24-1)
	            set @IDENTIFICADOR        = SUBSTRING(@renglon,@ind25+1,@ind26-@ind25-1)
	            set @CANAL                = SUBSTRING(@renglon,@ind26+1,@ind27-@ind26-1)
	            set @REGISTRAR_EN         = SUBSTRING(@renglon,@ind27+1,len(@renglon)-@ind27)


                INSERT INTO PO.PR_DEVENGO_DET
                       ( ID, ID_DEVENGO_ENC, ID_EXTERNO, ACREDITADO, PROYECTO, TIPO_CREDITO, CARTERA, FONDEADOR, CEDIDO, ADMINISTRADOR, TIPO_CARTERA, ESTATUS, DIA_PAGO, GENERA_IVA, FECHA_CALCULO, IMPORTE, 
                         INTERES_IVA, INTERESES_MORATORIOS, DIA_INCUMPLIMIEMNTO, GASTOS_COBRANZA, GASTOS_COBRANZA_IVA, LLAVE_EMPRESA, LLAVE_FECHA, OBSERVACIONES, ESTATUS_REF, PROGRAMA_COVID_19, ETAPA, 
                         IDENTIFICADOR, CANAL, REGISTRAR_EN
                        )
                VALUES (NEWID(), @ID_DEVENGO_ENC, @ID_EXTERNO, @ACREDITADO, @PROYECTO, @TIPO_CREDITO, @CARTERA, @FONDEADOR, @CEDIDO, @ADMINISTRADOR, @TIPO_CARTERA, @ESTATUS, @DIA_PAGO, @GENERA_IVA, @FECHA_CALCULO, @IMPORTE, 
                    @INTERES_IVA, @INTERESES_MORATORIOS, @DIA_INCUMPLIMIEMNTO, @GASTOS_COBRANZA, @GASTOS_COBRANZA_IVA, @LLAVE_EMPRESA, @LLAVE_FECHA, @OBSERVACIONES, @ESTATUS_REF, @PROGRAMA_COVID_19, @ETAPA, 
                    @IDENTIFICADOR, @CANAL, @REGISTRAR_EN)

            end
        end 

        if  @fin = @tamano begin
            break
        end 

        set @ini = @fin
        set @fin = CHARINDEX(CHAR(10),@archivo,@fin+1)

        if @fin = 0 begin
            set @fin = @tamano
        end 

    end

    --  Resumen de carga -----------------------------------------------------------------------------------
    DECLARE @CONTEO_ION INT
        ,@CONTEO_ADM INT
        ,@PARTE_ION decimal(12,2)
        ,@PARTE_ADM decimal(12,2)
    

    SELECT @CONTEO_ION = count(*),@PARTE_ION = SUM(IMPORTE)
    FROM PO.PR_DEVENGO_DET
    WHERE ID_DEVENGO_ENC = @ID_DEVENGO_ENC
        AND FONDEADOR = 'ION'

    SELECT @CONTEO_ADM = count(*),@PARTE_ADM = SUM(IMPORTE)
    FROM PO.PR_DEVENGO_DET
    WHERE ID_DEVENGO_ENC = @ID_DEVENGO_ENC
        AND FONDEADOR != 'ION'


    UPDATE PO.PR_DEVENGO_ENC
    SET PARTE_ION = @PARTE_ION
        ,PARTE_ADM = @PARTE_ADM
        ,ESTATUS = 'COMPLETO'
    WHERE ID = @ID_DEVENGO_ENC


    SELECT @CONTEO_ION + @CONTEO_ADM as CONTEO
        ,@PARTE_ION AS PARTE_ION
        ,@PARTE_ADM AS PARTE_ADM


END
GO
