SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------0905
CREATE PROCEDURE [PO].[SP_IND_DEV_MORATORIO]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 20

	BEGIN TRY
		BEGIN TRANSACTION

			DELETE FROM PO.SAF_MOV_MORATORIO WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

			INSERT INTO PO.SAF_MOV_MORATORIO(
			  ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, ID_TIPO_CREDITO, 
			  TIPO_CREDITO, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, ID_POLIZA, TIPO_VIVIENDA)
			SELECT  
				C.ID_EXTERNO
				,A.NUM_CREDITO
				,D.COD_CLIENTE
				,D.NOM_CLIENTE
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
                ,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CH.ID_FONDEO
				,'MORATORIOS' RUBRO
				,A.MON_DIARIO MONTO
				,C.NUM_DESC_TIPO_CREDITO
				,ISNULL((SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO), 0)
				,P.IND_IVA_INTERES
				,P.POR_IVA_INTERES
				,A.FECHA_CALCULO FECHA_MOVIMIENTO
				,A.IND_ESTADO
				,CH.IND_ETAPA
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
				,C.FEC_APERTURA
                ,@ID_POLIZA
                ,CH.TIPO_VIVIENDA
			FROM Quiero_Confianza_shadow.PR.PR_CALCULO_MORA_DIA A WITH (NOLOCK)
					INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
					INNER JOIN Quiero_Confianza_shadow.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
                    LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO
			WHERE A.MON_DIARIO <> 0.00
				AND A.FECHA_CALCULO = @FECHA_INICIO
                AND (C.FEC_CANCELACION is null or @FECHA_INICIO <= C.FEC_CANCELACION)
                AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
                AND CH.FECHA_SISTEMA = @FECHA_INICIO

		
		UPDATE PO.SAF_MOV_MORATORIO 
			SET TIPO_VIVIENDA = 'CONSUMO',
			ID_PRODUCTO = 50,	
			NOMBRE_PRODUCTO = 'CONSUMO'
		WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND TIPO_VIVIENDA IS NULL
			AND ID_POLIZA = @ID_POLIZA
		

		-- SE DETERMINA EL TIPO DE PRODUCTO DEACUERDO AL ID EMPLEADO O CONSUMO
		UPDATE H SET 
			H.ID_PRODUCTO = 50,	
			H.NOMBRE_PRODUCTO = 'CONSUMO'
		FROM  PO.SAF_MOV_MORATORIO H  
		INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO = 1 AND FECHA_MOVIMIENTO  = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET 
			H.ID_PRODUCTO = 51,	
			H.NOMBRE_PRODUCTO = 'EMPLEADO'
		FROM  PO.SAF_MOV_MORATORIO H  INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) AND FECHA_MOVIMIENTO  = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA



		INSERT INTO PO.SAF_MOV_MORATORIO (ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
										FEC_APERTURA, IND_COVID,ID_POLIZA)
		SELECT ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				CONCAT('IVA ', RUBRO), MONTO * 0.16, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
				FEC_APERTURA, IND_COVID,ID_POLIZA
		FROM PO.SAF_MOV_MORATORIO
		WHERE IND_IVA_INTERES = 'S' AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA


		UPDATE PO.SAF_MOV_MORATORIO
		SET CONCEPTO = CONCAT(CASE
				WHEN ID_TIPO_CREDITO = 20 THEN 'QBILLETE '
				WHEN ID_TIPO_CREDITO = 23 THEN 'SHCH '
				WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
				WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
			END,
			IIF(IND_COVID = 'S', 'COVID ', ''),
			RUBRO, 
			IIF(ID_PRODUCTO= 50, '', CONCAT(' ',TIPO_VIVIENDA)), 
			IIF(ID_FONDEO = 2, ' NO', ''),' RESTRINGIDO ', IND_ETAPA) 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA
        /*
		--CUANDO EL IVA SEA MAYOR A CERO EN LUGAR DE TOMAR SAL_RUBRO SERIA MONTO *.16
		DECLARE  @ID_EXTERNO			VARCHAR(15),	@NUM_CREDITO		INT
				 ,@COD_CLIENTE			VARCHAR(15),	@NOM_CLIENTE		VARCHAR(250)
				 ,@ID_FONDEO			INT,			@ID_PRODUCTO		INT
				 ,@RUBRO				VARCHAR(30),	@MONTO				NUMERIC(16,2)
				 ,@POR_IVA_INTERES		NUMERIC(10,4),	@TIPO_CREDITO		VARCHAR(255)
				 ,@TIPO_VIVIENDA		VARCHAR(50),	@FECHA_MOVIMIENTO	DATE
				 ,@IND_IVA_INTERES		VARCHAR(1),		@IND_ESTADO			VARCHAR(2)
				 ,@ID_TIPO_CREDITO		INT,			@IND_ETAPA			INT
				 ,@INDICE				INT = 0,		@MAX_INDICE			INT = 0
				 ,@IND_ETAPA_ANTERIOR	INT = 0,		@IND_ETAPA_ACTUAL	INT
				 ,@FECHA_ACTUAL			DATE,			@FECHA_ANTERIOR		DATE
				 ,@ID_FONDEO_ACTUAL		INT,			@ID_FONDEO_ANTERIOR	INT
				 ,@FEC_APERTURA			DATE,			@MON_INTERES_TRASPASO NUMERIC (16, 2)
				 ,@CEDIDO				VARCHAR(255)
				 ,@LEYENDA				VARCHAR(70),	@EL_ID_FONDEO			VARCHAR(16)
				 ,@EL_ID_PRODUCTO		VARCHAR(11)    ,@ID_UNICO				VARCHAR(150)
				 ,@TIPO_V_ANT			VARCHAR(150),
				  @MON_TRASPASO_COVID  NUMERIC(16,2),   @cov				INT,
				  @NOMBRE_PRODUCTO		VARCHAR(355)   

		DECLARE @MOVS TABLE (ID INT, ID_EXTERNO VARCHAR(15), NUM_CREDITO INT, COD_CLIENTE VARCHAR(15), NOM_CLIENTE VARCHAR(250), 
							ID_FONDEO INT, ID_PRODUCTO INT, RUBRO VARCHAR(30), MONTO NUMERIC(16, 2), MON_PAGO_IVA NUMERIC(18,2), 
							POR_IVA_INTERES NUMERIC(10, 4), IND_IVA_INTERES VARCHAR(1), ID_TIPO_CREDITO INT, TIPO_CREDITO VARCHAR(255), 
							TIPO_VIVIENDA VARCHAR(150), FECHA_MOVIMIENTO DATE, IND_ESTADO VARCHAR(2), IND_ETAPA INT, CEDIDO VARCHAR(255), FEC_APERTURA DATE, ID_UNICO VARCHAR(150))

		INSERT INTO @MOVS (ID, ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, 
							ID_FONDEO, ID_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA,
							POR_IVA_INTERES, IND_IVA_INTERES, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA,
							FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, ID_UNICO)
		SELECT 
			ROW_NUMBER() OVER (ORDER BY NUM_CREDITO) ID
			,ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_FONDEO
			,ID_PRODUCTO, RUBRO, MONTO, 
			MON_PAGO_IVA, POR_IVA_INTERES, IND_IVA_INTERES
			,ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA
			,FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, ID
		FROM 
			PO.SAF_MOV_MORATORIO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
		ORDER BY NUM_CREDITO, FECHA_MOVIMIENTO

		SELECT @MAX_INDICE = COUNT(ID) FROM @MOVS

		WHILE @INDICE < @MAX_INDICE
		BEGIN
			SELECT
				@ID_EXTERNO = ID_EXTERNO, @NUM_CREDITO = NUM_CREDITO, @COD_CLIENTE = COD_CLIENTE, @NOM_CLIENTE = NOM_CLIENTE, @ID_FONDEO = ID_FONDEO,
				@ID_PRODUCTO = ID_PRODUCTO, @RUBRO = RUBRO, @MONTO = MONTO, @POR_IVA_INTERES = POR_IVA_INTERES, @IND_IVA_INTERES = IND_IVA_INTERES,
				@ID_TIPO_CREDITO = ID_TIPO_CREDITO, @TIPO_CREDITO = TIPO_CREDITO, @TIPO_VIVIENDA = TIPO_VIVIENDA,
				@FECHA_MOVIMIENTO = FECHA_MOVIMIENTO, @IND_ESTADO = IND_ESTADO, @IND_ETAPA = IND_ETAPA, @CEDIDO = CEDIDO, @FEC_APERTURA = FEC_APERTURA,
				@IND_ETAPA_ACTUAL = IND_ETAPA, @FECHA_ACTUAL = FECHA_MOVIMIENTO, @ID_FONDEO_ACTUAL = ID_FONDEO, @ID_UNICO = ID_UNICO
			FROM @MOVS WHERE ID = @INDICE + 1
	
			SELECT @IND_ETAPA_ANTERIOR = NULL, @FECHA_ANTERIOR = NULL, @ID_FONDEO_ANTERIOR = NULL

			SELECT TOP(1) @TIPO_V_ANT = TIPO_VIVIENDA, @IND_ETAPA_ANTERIOR = IND_ETAPA, @FECHA_ANTERIOR = FECHA_MOVIMIENTO, @ID_FONDEO_ANTERIOR = ID_FONDEO FROM PO.SAF_MOV_MORATORIO WITH (NOLOCK)
			WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO = DATEADD(day, -1, @FECHA_MOVIMIENTO)

			--- SE INICIALIZAN VARIABLES
			--SET @LEYENDA = ''
			--SET @EL_ID_FONDEO = IIF(@ID_FONDEO = 2, 'NO RESTRINGIDO ', 'RESTRINGIDO ')
			--SET @EL_ID_PRODUCTO = CASE
			--	WHEN @ID_PRODUCTO = 50 THEN 'CONSUMO '
			--	WHEN @ID_PRODUCTO = 51 THEN 'EMPLEADO '	ELSE ''
			--END


			-- # VALIDAMOS SI EXISTE ALGUN TRASPASO
			--SET @LEYENDA = CASE
			--	WHEN @IND_ETAPA_ANTERIOR = @IND_ETAPA_ACTUAL AND @ID_FONDEO_ANTERIOR <> @ID_FONDEO_ACTUAL THEN 'TraspasoFondeo'
			--	WHEN @IND_ETAPA_ANTERIOR <> @IND_ETAPA_ACTUAL THEN 'TraspasoEtapa'
			--	WHEN @TIPO_V_ANT != @TIPO_VIVIENDA THEN 'TraspasoVivienda' ELSE ''
			--END

			 --# SI HAY ALGUN TRASPASO ELIMINAR EL REGISTRO, SP_INTERES LO DEBE REGISTRAR
			--IF @LEYENDA != '' BEGIN
			--	DELETE FROM PO.SAF_MOV_MORATORIO WHERE ID = @ID_UNICO
			--END

			-- # TRATAMIENTO PARA SEPARACION DE CUENTAS BALANCE/ORDEN ETAPA 3
			IF @IND_ETAPA_ACTUAL = 3 AND @DE_TIPO = 'new' BEGIN 
				--EXEC PO.SYS_SP_ACCOUNT_BALANCE_ORDEN @FECHA_FIN, @NUM_CREDITO, @MONTO, 'MORATORIO'
				print('dddd')
			END -- # ETAPA 3


			SET @INDICE = @INDICE + 1
		END
        */
        --- CALIFICACION FINAL DE CONCEPTO POLIZA
		UPDATE PO.SAF_MOV_MORATORIO
			SET CONCEPTO_FINAL = LEFT( CONCAT('MORA ',ID_EXTERNO), 30 )
		WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE ID CONCEPTO 
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_MORATORIO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_MORATORIO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

        --manejo de porcentaje Afirme
        UPDATE PO.SAF_MOV_MORATORIO
        SET   MONTO = MONTO * 0.10
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND ID_TIPO_CREDITO = 4 AND CONCEPTO NOT LIKE 'TRS %'

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
        -- COMISIONES
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO, A.CUENTA_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_CARGO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_CARGO, A.CONCEPTO

		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_ABONO, MONTO_CARGO)
		SELECT CONCEPTO, A.CUENTA_ABONO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO
		FROM PO.SAF_MOV_CARGO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, A.CONCEPTO

		--  MORATORIOS
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO, A.CUENTA_CARGO,
		    CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
		    CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_MORATORIO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_CARGO, CONCEPTO

		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO, A.CUENTA_ABONO CUENTA, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_MORATORIO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, CONCEPTO
			

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		WHERE NOT (MONTO_CARGO = 0 AND MONTO_ABONO = 0)
		GROUP BY CONCEPTO, CUENTA

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

	
		
		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
