SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas Osorio
-- Creacion:	20250725
-- Descripcion:	Muestra el resumen de una carga de archivo de ministraciones
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_MINISTRACION_ENC_SEL]
	 @ID_MINISTRACIONES_ENC uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

    SELECT ID
        , FORMAT(FECHA_SISTEMA, 'dd/MM/yyyy') AS FECHA_SISTEMA
        , FORMAT(PARTE_ION, 'C', 'en-US') AS PARTE_ION
        , FORMAT(FECHA_GENERACION, 'dd/MM/yyyy hh:mm:ss') AS FECHA_GENERACION
    FROM PO.PR_MINISTRACIONES_ENC
    WHERE ID = @ID_MINISTRACIONES_ENC

END
GO
