SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_MOV_TRASPASO](
	[ID] [uniqueidentifier] NOT NULL,
	[ID_EXTERNO] [varchar](15) NOT NULL,
	[NUM_CREDITO] [int] NOT NULL,
	[COD_CLIENTE] [varchar](15) NOT NULL,
	[NOM_CLIENTE] [varchar](150) NULL,
	[ID_CONCEPTO] [int] NULL,
	[CONCEPTO] [varchar](255) NULL,
	[CUENTA_CARGO] [varchar](30) NULL,
	[CUENTA_ABONO] [varchar](30) NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](55) NULL,
	[ID_FONDEO] [int] NOT NULL,
	[RUBRO] [varchar](35) NOT NULL,
	[MONTO] [numeric](20, 6) NOT NULL,
	[MON_PAGO_IVA] [numeric](20, 6) NULL,
	[IND_FORMA_PAGO] [int] NULL,
	[ID_TIPO_CREDITO] [int] NULL,
	[TIPO_CREDITO] [varchar](50) NULL,
	[TIPO_VIVIENDA] [varchar](30) NULL,
	[IND_ESTADO] [varchar](2) NOT NULL,
	[CARTERA_VENCIDA] [varchar](2) NULL,
	[IND_IVA_INTERES] [varchar](1) NULL,
	[POR_IVA_INTERES] [numeric](10, 4) NULL,
	[FECHA_MOVIMIENTO] [date] NULL,
	[IND_ETAPA] [int] NULL,
	[FEC_APERTURA] [date] NULL,
	[CEDIDO] [varchar](255) NULL,
	[IND_POSPOSICION] [varchar](1) NULL,
	[FECHA] [datetime] NOT NULL,
	[IND_COVID] [varchar](1) NULL,
	[CONCEPTO_FINAL] [varchar](255) NULL,
	[TABLA_ORIGEN] [varchar](20) NULL,
	[ID_POLIZA] [int] NULL,
	[ES_DETECTADO] [int] NULL,
	[CONCEPTO_ANT] [varchar](255) NULL,
	[ID_CONCEPTO_ANT] [int] NULL,
	[TIPO_VIVIENDA_ANT] [varchar](30) NULL,
	[IND_ETAPA_ANT] [int] NULL,
	[ID_FONDEO_ANT] [int] NULL,
	[CANAL] [varchar](30) NULL,
	[TIPO_CREDITO_ANT] [varchar](50) NULL
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_MOV_TRASPASO] ADD  CONSTRAINT [DF_SAF_MOV_TRASPASO_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[SAF_MOV_TRASPASO] ADD  CONSTRAINT [DF_SAF_MOV_TRASPASO_FECHA]  DEFAULT (getdate()) FOR [FECHA]
GO
