SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:    20250430
-- Descripcion:	Agrega fecha de inicio de castigo al credito indicado
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_CASTIGO_AGR]
	 @NUM_CREDITO numeric(8,0)
    ,@FECHA_CASTIGO date
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (SELECT FECHA FROM PO.FECHA_CASTIGO WHERE NUM_CREDITO = @NUM_CREDITO) BEGIN

		UPDATE PO.FECHA_CASTIGO 
		SET FECHA = @FECHA_CASTIGO
		WHERE NUM_CREDITO = @NUM_CREDITO

	END ELSE BEGIN

		INSERT INTO PO.FECHA_CASTIGO (NUM_CREDITO, FECHA)
        VALUES (@NUM_CREDITO, @FECHA_CASTIGO)

	END
END
GO
