SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:    20241125
-- Descripcion:	Con la extraccion de datos ya relizado, se genera la poliza de cobranza individual normal
-- =============================================
CREATE PROCEDURE [PO].[SP_IND_COBRANZA_POL]
	@FECHA_INICIO DATE
AS
BEGIN
	SET NOCOUNT ON;

    declare @ID_POLIZA int = 7

	CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY, ID_SECUENCIA INT)
	CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)


	INSERT INTO #POLIZA (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
	SELECT CONCEPTO, A.CUENTA_CARGO AS CUENTA, 
		   CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
		   CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
	FROM [PO].[SAF_MOV_ABONO] A 
	WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
			AND A.CUENTA_CARGO LIKE '7017-%'
	GROUP BY A.CUENTA_CARGO, CONCEPTO

	
	INSERT INTO #POLIZA (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO, ID_SECUENCIA) 
	SELECT CONCEPTO_FINAL,
		A.CUENTA_CARGO AS CUENTA, 
		CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
		CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
        , ID_SECUENCIA
    FROM [PO].[SAF_MOV_ABONO] A 
    WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
			AND A.CUENTA_CARGO NOT LIKE '7017-%'
	GROUP BY A.CUENTA_CARGO, A.ID_SECUENCIA, A.CONCEPTO_FINAL

	
	INSERT INTO #POLIZA (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
	SELECT IIF(CONCEPTO LIKE 'SALDO_FAVOR%',
		   CONCAT('SALDO_FAVOR ',A.TIPO_VIVIENDA,' ',IIF(A.ID_FONDEO=2,'NO RESTRINGIDO ','RESTRINGIDO '),A.IND_ETAPA),CONCEPTO),
			A.CUENTA_ABONO CUENTA, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
	FROM [PO].[SAF_MOV_ABONO] A 
    WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
	GROUP BY A.CUENTA_ABONO, CONCEPTO, A.ID_POLIZA, A.TIPO_VIVIENDA,A.ID_FONDEO,A.IND_ETAPA 


	INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
	SELECT               CONCEPTO, CUENTA,
		SUM(MONTO_CARGO) CARGO, 
		SUM(MONTO_ABONO) ABONO
	FROM #POLIZA
	WHERE CONCEPTO LIKE 'DEP %' OR CONCEPTO LIKE 'CTA AFI%' OR CUENTA LIKE '7017-%'
	GROUP BY CONCEPTO, CUENTA, ID_SECUENCIA

	INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
	SELECT               CONCEPTO, CUENTA,
		SUM(MONTO_CARGO) CARGO, 
		SUM(MONTO_ABONO) ABONO
	FROM #POLIZA
	WHERE CONCEPTO NOT LIKE 'DEP %' AND CONCEPTO NOT LIKE 'CTA AFI%' AND CUENTA NOT LIKE '7017-%'
	GROUP BY CONCEPTO, CUENTA

    exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

END
GO
