SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_SND_DEV_INTERES]
(
     @ID_DEVENGO_ENC UNIQUEIDENTIFIER
    ,@ID_CAPITAL_ENC UNIQUEIDENTIFIER
    ,@ID_COBRANZA_ENC UNIQUEIDENTIFIER
    ,@ID_MINISTRACIONES_ENC UNIQUEIDENTIFIER
	,@FECHA_INICIO DATE
    ,@FECHA_FIN_DIA date
    ,@FECHAS_POL FECHAS_POLIZA_TIPO READONLY
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 71 -- DEVENGAMIENTO DE INTERESES COMERCIAL SINDICADA

	BEGIN TRY
		BEGIN TRANSACTION

		DELETE FROM PO.SAF_MOV_INTERES WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA

		INSERT INTO PO.SAF_MOV_INTERES(ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
		    ID_TIPO_CREDITO, TIPO_CREDITO, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, TABLA_ORIGEN, 
		    CANAL, ID_POLIZA, TIPO_VIVIENDA)
		SELECT D.ID_EXTERNO
			,0 AS NUM_CREDITO
			,0 AS COD_CLIENTE
			,D.ACREDITADO
			,0 AS ID_PRODUCTO
            ,CP.NOMBRE_CORTO
			,IIF(TIPO_CARTERA = 'RESTRINGIDO', 1, 2) AS ID_FONDEO
			,'INTERESES' RUBRO
			,D.IMPORTE AS MONTO
            ,D.INTERES_IVA AS MON_PAGO_IVA
			,7 AS NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,NULL AS IND_IVA_INTERES
			,NULL AS POR_IVA_INTERES
			,D.FECHA_CALCULO AS FECHA_MOVIMIENTO
			,'P' AS IND_ESTADO
			,D.ETAPA
			,D.CEDIDO
			,NULL AS FEC_APERTURA
			,'DEV INTERES COM SND'
			,IIF(CANAL = 'MINORISTA', 'MINORISTA', 'COMERCIAL') AS CANAL
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
        FROM PO.PR_DEVENGO_DET D
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = D.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE D.FONDEADOR = 'ION'
			AND D.ESTATUS_REF = 'INTERESES'
			AND D.CEDIDO IN ('SHF Sind-3226','SHF Sind-5028','SHF Sind-2662','SHF Sind-2875')
            AND D.IMPORTE > 0
			AND (D.OBSERVACIONES is null OR D.OBSERVACIONES = '')
			AND D.ID_DEVENGO_ENC = @ID_DEVENGO_ENC

		
		INSERT INTO PO.SAF_MOV_INTERES (ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
			RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
			FEC_APERTURA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
			CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
			FEC_APERTURA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, CANAL
		FROM PO.SAF_MOV_INTERES
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA
		    AND MON_PAGO_IVA > 0 --AND TABLA_ORIGEN = 'DEV INTERES COM EXT'

		-- ACTUALIZACION DE CONCEPTO
		UPDATE PO.SAF_MOV_INTERES
		SET CONCEPTO = CONCAT(
			'CMR DEVENGO',
			IIF(IND_COVID = 'S', ' COVID', ''),
			' ', RUBRO,
			' ', TIPO_CREDITO,
			' ', CANAL,
			IIF(ID_FONDEO = 2, ' NO', ''),' RESTRINGIDO',
			' ',IND_ETAPA)
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H
        SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_INTERES H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND ID_POLIZA = @ID_POLIZA
		
		UPDATE H
        SET H.CUENTA_ABONO = CC.CUENTA_ABONO,
			H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_INTERES H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND H.ID_POLIZA = @ID_POLIZA

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		exec CursorCloseDeallocate 'db_cursor_COM_SND_DEV_INT'
        DECLARE db_cursor_COM_SND_DEV_INT CURSOR FOR

            SELECT fecha
			from @FECHAS_POL

        OPEN db_cursor_COM_SND_DEV_INT  
            FETCH NEXT FROM db_cursor_COM_SND_DEV_INT
            INTO @FECHA_INICIO
        WHILE @@FETCH_STATUS = 0 BEGIN  

		    INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
	        SELECT 
		        CONCEPTO, A.CUENTA_CARGO CUENTA,
		        CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
		        CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
	        FROM PO.SAF_MOV_INTERES A 
            WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			    AND A.ID_POLIZA = @ID_POLIZA
		    GROUP BY A.CUENTA_CARGO, CONCEPTO
		
		    INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		    SELECT CONCEPTO,	 
		        A.CUENTA_ABONO CUENTA, 
		        CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
		        CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		    FROM PO.SAF_MOV_INTERES A 
            WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			    AND A.ID_POLIZA = @ID_POLIZA
		    GROUP BY A.CUENTA_ABONO, CONCEPTO

            exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

			TRUNCATE TABLE #POLIZAF

            FETCH NEXT FROM db_cursor_COM_SND_DEV_INT
            INTO @FECHA_INICIO
        END 

        CLOSE db_cursor_COM_SND_DEV_INT  
        DEALLOCATE db_cursor_COM_SND_DEV_INT


		COMMIT

	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       , '00010101'   ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
