SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion: 	20240913
-- Descripcion:	Actualiza el estado de la transmicion de la poliza a dynamics
-- =============================================
-- exec [PO].[SP_SAF_POLIZA_ENVIO_ESTADO_ACT] '20240401','ERROR','ERROR_mensaje'
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_ENVIO_ESTADO_ACT]
	@FECHA DATE
    ,@ESTADO varchar(10)
    ,@DESCRIPCION varchar(1000)
AS
BEGIN
    SET NOCOUNT ON;

    if @ESTADO = 'ERROR' begin

	    INSERT INTO PO.SAF_POLIZA_ERRORES(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
        select @DESCRIPCION, FECHA_SISTEMA, ID_POLIZA
        from PO.SAF_POLIZA_HISTORICO_ENC
        where FECHA_SISTEMA = @FECHA
            AND (ESTATUS = 'GENERADA' OR ESTATUS = '' OR ESTATUS IS NULL)

    end

    update [PO].[SAF_POLIZA_HISTORICO_ENC]
    set ESTATUS = case when @ESTADO = 'FINISHED' then 'ENVIADA' else @ESTADO end
    where FECHA_SISTEMA = @FECHA
        AND (ESTATUS = 'GENERADA' OR ESTATUS = '' OR ESTATUS IS NULL)
        AND ID_POLIZA IN (SELECT ID FROM PO.CAT_TIPO_POLIZA WHERE DESCRIPCION like '% IND' OR DESCRIPCION like '% CMR' OR DESCRIPCION like '% SND')

END
GO
