SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------0905
CREATE PROCEDURE [PO].[SP_COM_DEV_MORATORIO]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 33
        ,@FECHA_FIN_DIA date

    set @FECHA_FIN_DIA = DATEADD(day, 1, @FECHA_INICIO)

	BEGIN TRY
		BEGIN TRANSACTION

		DELETE FROM PO.SAF_MOV_MORATORIO WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
		DELETE FROM PO.SAF_MORA_EMPR_HIST WHERE FECHA_MOVIMIENTO  = @FECHA_FIN_DIA

		INSERT INTO PO.SAF_MORA_EMPR_HIST
		SELECT @FECHA_FIN_DIA,R.NUM_CREDITO,R.NUM_SECUENCIA,R.NUM_DET_SECUENCIA,R.MON_RUBRO-ISNULL(P.SAL_RUBRO,0),R.MON_RUBRO
			,R.MON_IVA-ISNULL(P.SAL_IVA,0),R.MON_IVA,GETDATE()
		FROM QUIERO_CONFIANZA_SHADOW.PR.PR_RUBRO_COBRO_X_CREDITO R
			LEFT JOIN PO.SAF_MORA_EMPR_HIST P ON  R.NUM_CREDITO = P.NUM_CREDITO AND R.NUM_SECUENCIA = P.NUM_SECUENCIA 
				AND R.NUM_DET_SECUENCIA = P.NUM_DET_SECUENCIA AND FECHA_MOVIMIENTO = @FECHA_INICIO
		WHERE R.COD_RUBRO IN ('MORA_EMPRESARIAL')
			AND R.IND_ESTADO = 'P'
			AND R.FEC_COBRO >= @FECHA_INICIO

		------------------------------------------------------------------------------------------------------------------------------
		INSERT INTO PO.SAF_MOV_MORATORIO(
		    ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, ID_TIPO_CREDITO, 
		    TIPO_CREDITO, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, ID_POLIZA, TIPO_VIVIENDA,
		    TABLA_ORIGEN, CANAL)
		SELECT  
			C.ID_EXTERNO
			,A.NUM_CREDITO
			,D.COD_CLIENTE
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
            ,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,'MORATORIOS' RUBRO
			,A.MON_DIARIO MONTO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,P.IND_IVA_INTERES
			,P.POR_IVA_INTERES
			,A.FECHA_CALCULO FECHA_MOVIMIENTO
			,A.IND_ESTADO
			,CH.IND_ETAPA
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
            ,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'DEV MORA COM'
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM Quiero_Confianza_shadow.PR.PR_CALCULO_MORA_DIA A WITH (NOLOCK)
			INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza_shadow.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
            LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
		WHERE A.MON_DIARIO <> 0.00
			AND A.FECHA_CALCULO = @FECHA_INICIO
            AND (C.FEC_CANCELACION is null or @FECHA_INICIO <= C.FEC_CANCELACION)
            AND C.NUM_DESC_TIPO_CREDITO IN (5,   12,13,14,15,28,   2,18,27)


		INSERT INTO PO.SAF_MOV_MORATORIO(
		    ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
		    TIPO_CREDITO, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, ID_POLIZA, TIPO_VIVIENDA,
		    TABLA_ORIGEN, CANAL)
		SELECT  
			C.ID_EXTERNO
			,A.NUM_CREDITO
			,D.COD_CLIENTE
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
            ,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,A.COD_RUBRO AS RUBRO
			,A.MON_RUBRO AS MONTO
			,A.MON_IVA AS MON_PAGO_IVA
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,P.IND_IVA_INTERES
			,P.POR_IVA_INTERES
			,A.FEC_COBRO AS FECHA_MOVIMIENTO
			,A.IND_ESTADO
			,CH.IND_ETAPA
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
            ,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'DEV MORA COM B'
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
			INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza_shadow.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
		WHERE   A.IND_ESTADO <> 'N'
			AND A.COD_RUBRO IN ('INTERES_MORATORIO')
			AND A.MON_RUBRO <> 0.00
			AND A.FEC_COBRO = @FECHA_INICIO
            AND C.NUM_DESC_TIPO_CREDITO IN (5,   12,13,14,15,28,   2,18,27)


		INSERT INTO PO.SAF_MOV_MORATORIO(
		    ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
		    TIPO_CREDITO, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, ID_POLIZA, TIPO_VIVIENDA,
		    TABLA_ORIGEN, CANAL)
		SELECT  
			C.ID_EXTERNO
			,A.NUM_CREDITO
			,D.COD_CLIENTE
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
            ,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,A.COD_RUBRO AS RUBRO
			,A.MON_RUBRO AS MONTO
            ,A.MON_IVA AS IVA
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,P.IND_IVA_INTERES
			,P.POR_IVA_INTERES
			,@FECHA_INICIO AS FEC_COBRO
			,'P' AS IND_ESTADO
			,CH.IND_ETAPA
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
            ,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'DEV MORA COM EXT'
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM PO.SAF_RUBRO_HIST A WITH (NOLOCK)
			INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza_shadow.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
            LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
		WHERE A.COD_RUBRO IN ('MORATORIOS', 'INTERES_MORATORIO')
			AND A.MON_RUBRO > 0.00
            AND C.NUM_DESC_TIPO_CREDITO IN (5,  12,13,14,15,28,   2,18,27)
            AND @FECHA_INICIO <= A.FECHA_GENERACION AND A.FECHA_GENERACION < @FECHA_FIN_DIA

		INSERT INTO PO.SAF_MOV_MORATORIO(
		    ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
		    TIPO_CREDITO, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, ID_POLIZA, TIPO_VIVIENDA,
		    TABLA_ORIGEN, CANAL)
		SELECT  
			C.ID_EXTERNO
			,A.NUM_CREDITO
			,D.COD_CLIENTE
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
            ,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,'MORA_EMPRESARIAL' AS RUBRO
			,A.MON_RUBRO AS MONTO
			,A.MON_IVA AS MON_PAGO_IVA
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,P.IND_IVA_INTERES
			,P.POR_IVA_INTERES
			,A.FECHA_MOVIMIENTO
			,'P' AS IND_ESTADO
			,CH.IND_ETAPA
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
            ,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'DEV MORA EMP'
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM PO.SAF_MORA_EMPR_HIST A WITH(NOLOCK)
			INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza_shadow.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
			LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
		WHERE   A.MON_RUBRO <> 0.00
			AND A.FECHA_MOVIMIENTO = @FECHA_INICIO
            AND C.NUM_DESC_TIPO_CREDITO IN (5,   12,13,14,15,28,   2,18,27)


		INSERT INTO PO.SAF_MOV_MORATORIO (ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
			RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
			FEC_APERTURA, IND_COVID,ID_POLIZA, TABLA_ORIGEN, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
			CONCAT('IVA ', RUBRO), MONTO * 0.16, 0, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
			FEC_APERTURA, IND_COVID,ID_POLIZA,TABLA_ORIGEN, CANAL
		FROM PO.SAF_MOV_MORATORIO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND TABLA_ORIGEN != 'DEV MORA COM EXT' AND IND_IVA_INTERES = 'S'


		INSERT INTO PO.SAF_MOV_MORATORIO (ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
			RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
			FEC_APERTURA, IND_COVID,ID_POLIZA, TABLA_ORIGEN, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
			CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
			FEC_APERTURA, IND_COVID,ID_POLIZA,TABLA_ORIGEN, CANAL
		FROM PO.SAF_MOV_MORATORIO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND TABLA_ORIGEN = 'DEV MORA COM EXT' AND MON_PAGO_IVA > 0


		UPDATE PO.SAF_MOV_MORATORIO
		SET CONCEPTO = CONCAT(
			'CMR DEVENGO ',
			IIF(IND_COVID = 'S', 'COVID ', ''),
			'MORATORIOS ',
			TIPO_CREDITO,
			' ', CANAL,
			IIF(ID_FONDEO = 2, ' NO', ''),' RESTRINGIDO ', 
			IND_ETAPA) 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA AND ID_TIPO_CREDITO != 5

		-- GENERACION DE CONCEPTOS MEZZANINE COMERCIALES
		UPDATE PO.SAF_MOV_MORATORIO
		SET CONCEPTO = 'CMR DCM DEVENGO MORATORIOS'
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA AND ID_TIPO_CREDITO = 5


        --- CALIFICACION FINAL DE CONCEPTO POLIZA
		UPDATE PO.SAF_MOV_MORATORIO
		SET CONCEPTO_FINAL = LEFT( CONCAT('MORA ',ID_EXTERNO), 30 )
		WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE ID CONCEPTO 
		UPDATE H
        SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_MORATORIO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H
        SET H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_MORATORIO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO  = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		-- COMISIONES	
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO, A.CUENTA_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_CARGO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		    AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_CARGO, A.CONCEPTO

		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO, A.CUENTA_ABONO,
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
				CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO 
		FROM PO.SAF_MOV_CARGO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		    AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, A.CONCEPTO

		-- MORATORIOS
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO, A.CUENTA_CARGO,
		    CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
		    CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_MORATORIO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		    AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_CARGO, CONCEPTO

		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO, A.CUENTA_ABONO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_MORATORIO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, CONCEPTO

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		WHERE NOT (MONTO_CARGO = 0 AND MONTO_ABONO = 0)
		GROUP BY CONCEPTO, CUENTA

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
