SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion: 	20240820
-- Descripcion: Validacion de registros de polizas previo al envio a Dynamics
-- =============================================
-- exec [PO].[SP_SAF_POLIZA_CUENTAS_VAL] '20240401',null
-- select * from [PO].[SAF_POLIZA_ERRORES] where FECHA_SISTEMA = '20240401'
-- select * from [PO].[SAF_POLIZA_ERRORES_HIST] where FECHA_SISTEMA = '20240401'
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_CUENTAS_VAL]
(
	 @FECHA DATE
    ,@FECHA_FIN DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CUENTA_CARGO_GENERICA VARCHAR(30),@CUENTA_ABONO_GENERICA VARCHAR(30),@CUENTA_CARGO_GEN_CMR VARCHAR(30),@CUENTA_ABONO_GEN_CMR VARCHAR(30)

    IF @FECHA_FIN IS NULL BEGIN
        SET @FECHA_FIN = DATEADD(day, 1, @FECHA)
    END

    INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
    SELECT                                 FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION
    FROM PO.SAF_POLIZA_ERRORES
    WHERE @FECHA <= FECHA_SISTEMA AND FECHA_SISTEMA < @FECHA_FIN

    delete from [PO].[SAF_POLIZA_ERRORES] where @FECHA <= FECHA_SISTEMA AND FECHA_SISTEMA < @FECHA_FIN
    
    update [PO].[SAF_POLIZA_HISTORICO_ENC]
    set ESTATUS = 'GENERADA'
    where @FECHA <= FECHA_SISTEMA AND FECHA_SISTEMA < @FECHA_FIN
        AND ESTATUS = 'ERROR'

    SET @CUENTA_CARGO_GENERICA = dbo.FN_CUENTA_OBTENER('CARGO','GENERICA')
    SET @CUENTA_ABONO_GENERICA = dbo.FN_CUENTA_OBTENER('ABONO','GENERICA')

    SET @CUENTA_CARGO_GEN_CMR = dbo.FN_CUENTA_OBTENER('CARGO','GENERICA_CMR')
    SET @CUENTA_ABONO_GEN_CMR = dbo.FN_CUENTA_OBTENER('ABONO','GENERICA_CMR')

    select ID into #POL_CMR from PO.CAT_TIPO_POLIZA where DESCRIPCION like '%CMR%'

------------------------------------------------------------------------------------------------------------------------------------

    UPDATE PO.SAF_MOV_ABONO
    SET CUENTA_CARGO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_CARGO_GEN_CMR else @CUENTA_CARGO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IS NULL
            OR CUENTA_CARGO = ''
            OR CUENTA_CARGO = 'Por asignar')

    UPDATE PO.SAF_MOV_ABONO
    SET CUENTA_ABONO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_ABONO_GEN_CMR else @CUENTA_ABONO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_ABONO IS NULL 
            OR CUENTA_ABONO = ''
            OR CUENTA_ABONO = 'Por asignar')

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('Faltan cuentas para el concepto(s) ', CONCEPTO, case when CONCEPTO_ANT = '' or CONCEPTO_ANT is null then '' else '-' end,CONCEPTO_ANT), FECHA_MOVIMIENTO,ID_POLIZA
    FROM PO.SAF_MOV_ABONO A
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IN (@CUENTA_CARGO_GENERICA,@CUENTA_CARGO_GEN_CMR) OR CUENTA_ABONO IN (@CUENTA_ABONO_GENERICA,@CUENTA_ABONO_GEN_CMR))

    UPDATE PO.SAF_MOV_CARGO
    SET CUENTA_CARGO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_CARGO_GEN_CMR else @CUENTA_CARGO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IS NULL
            OR CUENTA_CARGO = ''
            OR CUENTA_CARGO = 'Por asignar')

    UPDATE PO.SAF_MOV_CARGO
    SET CUENTA_ABONO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_ABONO_GEN_CMR else @CUENTA_ABONO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_ABONO IS NULL 
            OR CUENTA_ABONO = ''
            OR CUENTA_ABONO = 'Por asignar')

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('Faltan cuentas para el concepto ', CONCEPTO), FECHA_MOVIMIENTO,ID_POLIZA
    FROM [PO].[SAF_MOV_CARGO] A
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IN (@CUENTA_CARGO_GENERICA,@CUENTA_CARGO_GEN_CMR) OR CUENTA_ABONO IN (@CUENTA_ABONO_GENERICA,@CUENTA_ABONO_GEN_CMR))

    UPDATE PO.SAF_MOV_DEVOLUCIONES
    SET CUENTA_CARGO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_CARGO_GEN_CMR else @CUENTA_CARGO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IS NULL
            OR CUENTA_CARGO = ''
            OR CUENTA_CARGO = 'Por asignar')

    UPDATE PO.SAF_MOV_DEVOLUCIONES
    SET CUENTA_ABONO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_ABONO_GEN_CMR else @CUENTA_ABONO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_ABONO IS NULL 
            OR CUENTA_ABONO = ''
            OR CUENTA_ABONO = 'Por asignar')

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('Faltan cuentas para el concepto ', CONCEPTO), FECHA_MOVIMIENTO,ID_POLIZA
    FROM [PO].[SAF_MOV_DEVOLUCIONES] A
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IN (@CUENTA_CARGO_GENERICA,@CUENTA_CARGO_GEN_CMR) OR CUENTA_ABONO IN (@CUENTA_ABONO_GENERICA,@CUENTA_ABONO_GEN_CMR))

    UPDATE PO.SAF_MOV_INTERES
    SET CUENTA_CARGO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_CARGO_GEN_CMR else @CUENTA_CARGO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IS NULL
            OR CUENTA_CARGO = ''
            OR CUENTA_CARGO = 'Por asignar')

    UPDATE PO.SAF_MOV_INTERES
    SET CUENTA_ABONO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_ABONO_GEN_CMR else @CUENTA_ABONO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_ABONO IS NULL 
            OR CUENTA_ABONO = ''
            OR CUENTA_ABONO = 'Por asignar')

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('Faltan cuentas para el concepto ', CONCEPTO), FECHA_MOVIMIENTO,ID_POLIZA
    FROM [PO].[SAF_MOV_INTERES] A
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IN (@CUENTA_CARGO_GENERICA,@CUENTA_CARGO_GEN_CMR) OR CUENTA_ABONO IN (@CUENTA_ABONO_GENERICA,@CUENTA_ABONO_GEN_CMR))

    UPDATE PO.SAF_MOV_MORATORIO
    SET CUENTA_CARGO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_CARGO_GEN_CMR else @CUENTA_CARGO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IS NULL
            OR CUENTA_CARGO = ''
            OR CUENTA_CARGO = 'Por asignar')

    UPDATE PO.SAF_MOV_MORATORIO
    SET CUENTA_ABONO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_ABONO_GEN_CMR else @CUENTA_ABONO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_ABONO IS NULL 
            OR CUENTA_ABONO = ''
            OR CUENTA_ABONO = 'Por asignar')

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('Faltan cuentas para el concepto ', CONCEPTO), FECHA_MOVIMIENTO,ID_POLIZA
    FROM [PO].[SAF_MOV_MORATORIO] A
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IN (@CUENTA_CARGO_GENERICA,@CUENTA_CARGO_GEN_CMR) OR CUENTA_ABONO IN (@CUENTA_ABONO_GENERICA,@CUENTA_ABONO_GEN_CMR))

    UPDATE PO.SAF_MOV_TRASPASO
    SET CUENTA_CARGO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_CARGO_GEN_CMR else @CUENTA_CARGO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IS NULL
            OR CUENTA_CARGO = ''
            OR CUENTA_CARGO = 'Por asignar')

    UPDATE PO.SAF_MOV_TRASPASO
    SET CUENTA_ABONO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_ABONO_GEN_CMR else @CUENTA_ABONO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_ABONO IS NULL 
            OR CUENTA_ABONO = ''
            OR CUENTA_ABONO = 'Por asignar')

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('Faltan cuentas para el concepto(s)', CONCEPTO, case when CONCEPTO_ANT = '' or CONCEPTO_ANT is null then '' else '-' end,CONCEPTO_ANT), FECHA_MOVIMIENTO,ID_POLIZA
    FROM [PO].[SAF_MOV_TRASPASO] A
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IN (@CUENTA_CARGO_GENERICA,@CUENTA_CARGO_GEN_CMR) OR CUENTA_ABONO IN (@CUENTA_ABONO_GENERICA,@CUENTA_ABONO_GEN_CMR))

    UPDATE PO.SAF_MOV_X_IDENTIFICAR
    SET CUENTA_CARGO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_CARGO_GEN_CMR else @CUENTA_CARGO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IS NULL
            OR CUENTA_CARGO = ''
            OR CUENTA_CARGO = 'Por asignar')

    UPDATE PO.SAF_MOV_X_IDENTIFICAR
    SET CUENTA_ABONO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_ABONO_GEN_CMR else @CUENTA_ABONO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_ABONO IS NULL 
            OR CUENTA_ABONO = ''
            OR CUENTA_ABONO = 'Por asignar')

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('Faltan cuentas para el concepto ', CONCEPTO), FECHA_MOVIMIENTO,ID_POLIZA
    FROM [PO].[SAF_MOV_X_IDENTIFICAR] A
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (CUENTA_CARGO IN (@CUENTA_CARGO_GENERICA,@CUENTA_CARGO_GEN_CMR) OR CUENTA_ABONO IN (@CUENTA_ABONO_GENERICA,@CUENTA_ABONO_GEN_CMR))

------------------------------------------------------------------------------------------------------------------------------------

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('Formato incorrecto en cuenta SAF ', B.DES_CUENTA), FECHA_MOVIMIENTO,ID_POLIZA
    FROM PO.SAF_MOV_ABONO A
		INNER JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON A.ID_CUENTA = B.ID_CUENTA
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (dbo.FN_CUENTA_NO_VALIDA(CUENTA_CARGO) = 1 OR dbo.FN_CUENTA_NO_VALIDA(CUENTA_ABONO) = 1)

    UPDATE PO.SAF_MOV_ABONO
    SET CUENTA_CARGO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_CARGO_GEN_CMR else @CUENTA_CARGO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (dbo.FN_CUENTA_NO_VALIDA(CUENTA_CARGO) = 1)

    UPDATE PO.SAF_MOV_ABONO
    SET CUENTA_ABONO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_ABONO_GEN_CMR else @CUENTA_ABONO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (dbo.FN_CUENTA_NO_VALIDA(CUENTA_ABONO) = 1)

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('Formato incorrecto en cuenta SAF ', B.DES_CUENTA), FECHA_MOVIMIENTO,ID_POLIZA
    FROM [PO].[SAF_MOV_CARGO] A
		INNER JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON A.ID_CUENTA  = cast(B.ID_CUENTA as varchar)
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (dbo.FN_CUENTA_NO_VALIDA(CUENTA_CARGO) = 1 OR dbo.FN_CUENTA_NO_VALIDA(CUENTA_ABONO) = 1)

    UPDATE [PO].[SAF_MOV_CARGO]
    SET CUENTA_CARGO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_CARGO_GEN_CMR else @CUENTA_CARGO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (dbo.FN_CUENTA_NO_VALIDA(CUENTA_CARGO) = 1)

    UPDATE [PO].[SAF_MOV_CARGO]
    SET CUENTA_ABONO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_ABONO_GEN_CMR else @CUENTA_ABONO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (dbo.FN_CUENTA_NO_VALIDA(CUENTA_ABONO) = 1)

	INSERT INTO PO.SAF_POLIZA_ERRORES_HIST(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
	SELECT distinct CONCAT('Formato incorrecto en cuenta SAF ', B.DES_CUENTA), FECHA_MOVIMIENTO,ID_POLIZA
    FROM [PO].[SAF_MOV_X_IDENTIFICAR] A
		INNER JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON A.ID_CUENTA = B.ID_CUENTA
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (dbo.FN_CUENTA_NO_VALIDA(CUENTA_CARGO) = 1 OR dbo.FN_CUENTA_NO_VALIDA(CUENTA_ABONO) = 1)

    UPDATE [PO].[SAF_MOV_X_IDENTIFICAR]
    SET CUENTA_CARGO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_CARGO_GEN_CMR else @CUENTA_CARGO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (dbo.FN_CUENTA_NO_VALIDA(CUENTA_CARGO) = 1)

    UPDATE [PO].[SAF_MOV_X_IDENTIFICAR]
    SET CUENTA_ABONO = case when ID_POLIZA in (select ID from #POL_CMR) then @CUENTA_ABONO_GEN_CMR else @CUENTA_ABONO_GENERICA end
    WHERE @FECHA <= FECHA_MOVIMIENTO AND FECHA_MOVIMIENTO < @FECHA_FIN
        AND (dbo.FN_CUENTA_NO_VALIDA(CUENTA_ABONO) = 1)


------------------------------------------------------------------------------------------------------------------------------------

    UPDATE SAF_POLIZA_HISTORICO_DET
    SET CUENTA = @CUENTA_CARGO_GENERICA
    WHERE @FECHA <= FECHA_SISTEMA AND FECHA_SISTEMA < @FECHA_FIN
        AND CARGO > 0
        AND (  CUENTA IS NULL
            OR CUENTA = ''
            OR CUENTA = 'Por asignar'
            OR dbo.FN_CUENTA_NO_VALIDA(CUENTA) = 1)

    UPDATE SAF_POLIZA_HISTORICO_DET
    SET CUENTA = @CUENTA_ABONO_GENERICA
    WHERE @FECHA <= FECHA_SISTEMA AND FECHA_SISTEMA < @FECHA_FIN
        AND ABONO > 0
        AND (  CUENTA IS NULL
            OR CUENTA = ''
            OR CUENTA = 'Por asignar'
            OR dbo.FN_CUENTA_NO_VALIDA(CUENTA) = 1)

------------------------------------------------------------------------------------------------------------------------------------

	INSERT INTO PO.SAF_POLIZA_ERRORES(DESCRIPCION, FECHA_SISTEMA,ID_POLIZA)
    select 'Poliza NO balanceada', FECHA_SISTEMA, ID_POLIZA
    from PO.SAF_POLIZA_HISTORICO_DET P
    where @FECHA <= FECHA_SISTEMA AND FECHA_SISTEMA < @FECHA_FIN
    group by ID_POLIZA,FECHA_SISTEMA
    having SUM(cargo)-SUM(abono) <> 0

------------------------------------------------------------------------------------------------------------------------------------

    update [PO].[SAF_POLIZA_HISTORICO_ENC]
    set ESTATUS = 'ERROR'
    where @FECHA <= FECHA_SISTEMA AND FECHA_SISTEMA < @FECHA_FIN
        AND ID_POLIZA in (select ID_POLIZA from PO.SAF_POLIZA_ERRORES where @FECHA <= FECHA_SISTEMA AND FECHA_SISTEMA < @FECHA_FIN)

END
GO
