SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas Osorio
-- Creacion:	20250725
-- Descripcion:	Realiza el registro de un encabezado de archivo de DEVENGO
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_DEVENGO_ENC_AGR]
	 @FECHA_SISTEMA date
    ,@PARTE_ION decimal(12,2)
    ,@PARTE_ADM decimal(12,2)
    ,@REGISTRADO_POR varchar(100)
AS
BEGIN
	SET NOCOUNT ON;

    DECLARE @ID uniqueidentifier = newid()


    INSERT INTO PO.PR_DEVENGO_ENC
           ( ID, FECHA_SISTEMA, ESTATUS   , PARTE_ION, PARTE_ADM, FECHA_GENERACION, REGISTRADO_POR)
    VALUES (@ID,@FECHA_SISTEMA, 'INICIADO',@PARTE_ION,@PARTE_ADM, getdate()       ,@REGISTRADO_POR)


    select @ID as ID

END
GO
