SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------------------------0905
CREATE PROC [PO].[SP_COM_TRASPASO_INSERT]
(
	@FECHA_INICIO    DATE,
	--@ID_UNICO		 VARCHAR(150),
	@NUM_CREDITO	 INT,
	@ID_EXTERNO		 VARCHAR(20),
	@LEYENDA		 VARCHAR(25),
	@ID_PRODUCTO	 INT,
	@ID_FONDEO		 INT,
	@IND_ETAPA		 INT, 
	--@TIPO_VIVIENDA	 VARCHAR(50),
	@ID_TIPO_CREDITO INT,
	@NOM_CLIENTE	 VARCHAR(250),
    @ES_CAMBIO_MANUAL VARCHAR(1),
	@IND_ETAPA_ANT INT,
	--@EL_ID_PRODUCTO	 VARCHAR(11),
	--@EL_ID_FONDEO	 VARCHAR(16),
	@TIPO_CREDITO	VARCHAR(50),
	@CANAL			VARCHAR(30)

)
AS BEGIN

	DECLARE @MONTO NUMERIC(16,2) = 0,
            @MONTO_OFFSET NUMERIC(16,2) = 0,
			@MON_TRASPASO_COVID NUMERIC(16,2) = 0,
            @FECHA_INICIO_REF date,
            @FECHA_SISTEMA date,
			@ID_POLIZA	INT = 48,
			@TABLA_ORIGEN VARCHAR(15)= 'TRASPASO CMR',
			@NUM_REGISTROS INT = 0,
			@NUM_REGISTROS_BAL INT = 0

	--VARIABLES REQUERIDAS PARA DIVISION BALANCE/ORDEN
	DECLARE @ETAPA_3_INI DATE, @SUMA89 NUMERIC(16,2), @ORDEN NUMERIC(16,2)= 0, @fecha_ref DATE

    --set @FECHA_INICIO_REF = case when @ES_CAMBIO_MANUAL = 'S' then null else @FECHA_INICIO end
	set @FECHA_INICIO_REF = @FECHA_INICIO
    set @FECHA_SISTEMA = DATEADD(DD,1,@FECHA_INICIO)


	-- SE OBTIENE LA FECHA DE INICIO ETAPA 3 
	IF @IND_ETAPA = 3 AND @IND_ETAPA_ANT = 3  BEGIN
       SET @ETAPA_3_INI = dbo.FECHA_IMPAGO(@NUM_CREDITO)
		--SELECT 'FECHA ETAPA 3',@ETAPA_3_INI
	END
	--#################################################################

	-- # TRASPASO DE INTERESES
	--SELECT
	SET	@MONTO =
		ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO A 
			WHERE FEC_COBRO <= @FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES'
			AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0) +

		ISNULL((SELECT SUM(mon_int_acumulado) FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO A 
			WHERE @FECHA_SISTEMA <= FEC_COBRO AND A.IND_ESTADO = 'P' AND 
			A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES' AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0)
    SET @MONTO_OFFSET =
		ISNULL((SELECT SUM(MON_DIARIO) FROM Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA
		WHERE NUM_CREDITO = @NUM_CREDITO
		AND FECHA_CALCULO IN(@FECHA_INICIO_REF, @FECHA_SISTEMA)),0)--, -- SE EJECUTA CUANDO EL SISTEMA ESTA EN T+1
	
	SET @MONTO = CASE WHEN @MONTO - @MONTO_OFFSET > 0 THEN @MONTO - @MONTO_OFFSET ELSE 0 END
					
	-- # TRASPASO DE INTERESES COVID
	SET	@MON_TRASPASO_COVID = 
		ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO A 
			WHERE FEC_COBRO <=@FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES'
			AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0) +

		ISNULL((SELECT SUM(mon_int_acumulado) FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO A 
			WHERE @FECHA_SISTEMA <= FEC_COBRO AND A.IND_ESTADO = 'P' AND 
			A.NUM_CREDITO = @NUM_CREDITO AND A.Cod_Rubro = 'INTERESES' AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0)
			
	--###############################################################################################
	-- SE CALCULA EL MONTO DE BALANCE Y ORDEN DE INTERESES
		IF @MONTO = 0 BEGIN SET @ORDEN = 0 SET @SUMA89 = 0 END
		
		ELSE IF @MONTO > 0 AND @ETAPA_3_INI IS NOT NULL BEGIN 
			SELECT @SUMA89 = isnull(SUM(C.Sal_Rubro),0),@fecha_ref = max(FEC_EXIGIBLE_PAGO)
			FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C 
			WHERE  
				C.NUM_CREDITO = @NUM_CREDITO
				and C.cod_rubro = 'INTERESES'
				and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI
				AND C.IND_ESTADO = 'P'
				AND dbo.FN_ES_COVID(C.Ind_Posposicion,C.Fecha_Posposicion,C.NUM_CREDITO) != 'S'

			select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)
			from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA
			where num_credito = @NUM_CREDITO
				and @fecha_ref <= fecha_calculo and fecha_calculo < @ETAPA_3_INI
			
			if @SUMA89 > 0 begin
				set @SUMA89 = @SUMA89 + @MONTO_OFFSET
			end

			set @SUMA89 = isnull(@SUMA89,0)

			
			SET @ORDEN = @MONTO - @SUMA89
			IF @ORDEN < 0 BEGIN SET @ORDEN =0 END
		END  
		ELSE BEGIN SET @SUMA89 = @MONTO SET @ORDEN = 0 END
	--###############################################################################################
			
	/*INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'INTERESES', @MONTO, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA,
		'TRASPASO', 8, '','','P'*/
	--################################################################################################
	--INSERT CON MONTO DE BALANCE Y ORDEN
	--- BALANCE
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, TIPO_CREDITO, CANAL)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'INTERESES', @SUMA89, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
		@TABLA_ORIGEN, @ID_POLIZA, 'BALANCE','','P', @TIPO_CREDITO, @CANAL
	--- ORDEN 
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, ES_DETECTADO, TIPO_CREDITO, CANAL)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'INTERESES', @ORDEN, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
		@TABLA_ORIGEN, @ID_POLIZA, 'ORDEN','','P', 1, @TIPO_CREDITO, @CANAL
	--################################################################################################
	-- COVID
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, IND_COVID, TIPO_CREDITO, CANAL)
	SELECT 
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'INTERESES', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
		@TABLA_ORIGEN, @ID_POLIZA, '','','P','S',@TIPO_CREDITO, @CANAL
	

	-- # TRASPASO DE MORATORIOS
	SET @MONTO = 0
    SET @MON_TRASPASO_COVID = 0
	SET	@MONTO =
	ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO A 
	WHERE FEC_COBRO <= @FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO
	AND A.Cod_Rubro IN ('MORATORIOS', 'INTERES_MORATORIO', 'MORA_EMPRESARIAL') AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0)

    SET @MONTO_OFFSET =
	ISNULL((SELECT SUM(MON_DIARIO) FROM Quiero_Confianza_shadow.PR.PR_CALCULO_MORA_DIA
	WHERE NUM_CREDITO = @NUM_CREDITO
	AND FECHA_CALCULO IN(@FECHA_INICIO_REF, @FECHA_SISTEMA)),0) -- SE EJECUTA CUANDO EL SISTEMA ESTA EN T+1

    
    SET @MONTO = CASE WHEN @MONTO - @MONTO_OFFSET > 0 THEN @MONTO - @MONTO_OFFSET ELSE @MONTO END

	-- # TRASPASO MORATORIO COVID
	SET @MON_TRASPASO_COVID = 
	ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO A 
	WHERE 
	--FEC_EXIGIBLE_PAGO <= @FECHA_INICIO AND 
	A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO
	AND A.Cod_Rubro IN ('MORATORIOS', 'INTERES_MORATORIO', 'MORA_EMPRESARIAL') AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0)
			
	/*FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO X
		WHERE NUM_CREDITO = @NUM_CREDITO
		AND COD_RUBRO IN ('INTERES_MORATORIO','MORATORIOS')
		AND IND_ESTADO = 'P'
		AND @FECHA_INICIO >= FEC_EXIGIBLE_PAGO
	GROUP BY Num_Credito*/
	--###############################################################################################
	-- SE CALCULA EL MONTO DE BALANCE Y ORDEN DE MORATORIOS
		IF @MONTO = 0 BEGIN SET @ORDEN = 0 SET @SUMA89 = 0 END
		ELSE IF @MONTO > 0 AND @ETAPA_3_INI IS NOT NULL BEGIN
			SELECT @SUMA89 = isnull(SUM(C.Sal_Rubro),0),@fecha_ref = max(FEC_EXIGIBLE_PAGO)
			FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C 
			WHERE  
				C.NUM_CREDITO = @NUM_CREDITO
				and C.cod_rubro IN ('MORATORIOS', 'INTERES_MORATORIO', 'MORA_EMPRESARIAL')
				and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI
				AND C.IND_ESTADO = 'P'
				AND dbo.FN_ES_COVID(C.Ind_Posposicion,C.Fecha_Posposicion,C.NUM_CREDITO) != 'S'

			SET @ORDEN = @MONTO - @SUMA89 
			IF @ORDEN < 0 BEGIN SET @ORDEN =0 END
		END
		ELSE BEGIN SET @SUMA89 = @MONTO SET @ORDEN = 0 END
	--###############################################################################################

	/*INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'MORATORIOS', @MONTO, @ID_TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_INICIO, @IND_ETAPA,
		'TRASPASO', 8, '','','P'*/
	--################################################################################################
	--INSERT CON MONTO DE BALANCE Y ORDEN
	--- BALANCE
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, TIPO_CREDITO, CANAL)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'MORATORIOS', @SUMA89, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
		@TABLA_ORIGEN, @ID_POLIZA, 'BALANCE','','P', @TIPO_CREDITO, @CANAL
	--- ORDEN 
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, ES_DETECTADO, TIPO_CREDITO, CANAL)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'MORATORIOS', @ORDEN, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
		@TABLA_ORIGEN, @ID_POLIZA, 'ORDEN','','P',1, @TIPO_CREDITO, @CANAL
	--################################################################################################
	-- COVID
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, IND_COVID, TIPO_CREDITO, CANAL)	
	SELECT 
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'MORATORIOS', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
		@TABLA_ORIGEN, @ID_POLIZA, '','','P','S', @TIPO_CREDITO, @CANAL

	-- # TRASPASO PRINCIPAL
	SET @MONTO = 0
    SET @MON_TRASPASO_COVID = 0

	SET @MONTO =
		ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO A WHERE 
		A.NUM_CREDITO = @NUM_CREDITO AND A.COD_RUBRO = 'PRINCIPAL' AND A.IND_ESTADO = 'P' AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'),0)
	-- # TRASPASO PRINCIPAL COVID
    SET @MON_TRASPASO_COVID = 
		ISNULL((SELECT SUM(SAL_RUBRO) FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO A WHERE 
		A.NUM_CREDITO = @NUM_CREDITO AND A.COD_RUBRO = 'PRINCIPAL' AND A.IND_ESTADO = 'P' AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'),0)
		/*FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO X
		WHERE X.IND_ESTADO = 'P' AND X.COD_RUBRO = 'PRINCIPAL'
		AND X.NUM_CREDITO = @NUM_CREDITO*/
				
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, TIPO_CREDITO, CANAL)
	SELECT
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'PRINCIPAL', @MONTO, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
		@TABLA_ORIGEN, @ID_POLIZA, '','','P', @TIPO_CREDITO, @CANAL

	-- COVID
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO, IND_COVID, TIPO_CREDITO, CANAL)
	SELECT 
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		'PRINCIPAL', @MON_TRASPASO_COVID, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
		@TABLA_ORIGEN, @ID_POLIZA, '','','P','S', @TIPO_CREDITO, @CANAL


	-- # TRASPASO COMISIONES ADMINISTRATIVAS
	-- SE OBTIENEN LOS MONTOS TOTALES
	SELECT A.COD_RUBRO, ISNULL(SUM(SAL_RUBRO),0) MONTO into #TOTALES FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO A 
	WHERE FEC_COBRO < @FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO
	AND A.Cod_Rubro IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA') 
	AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) != 'S'
	GROUP BY A.COD_RUBRO

	SELECT @NUM_REGISTROS = COUNT(*) FROM #TOTALES
	IF @NUM_REGISTROS != 0 AND @ETAPA_3_INI IS NOT NULL BEGIN
		
		-- SE OBTIENEN LOS MONTOS DE BALANCE
		SELECT C.COD_RUBRO,isnull(SUM(C.Sal_Rubro),0) MONTO INTO #BALANCE
		FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C 
		WHERE  
			C.NUM_CREDITO = @NUM_CREDITO
			and C.cod_rubro IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA')
			and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI
			AND C.IND_ESTADO = 'P'
			AND dbo.FN_ES_COVID(C.Ind_Posposicion,C.Fecha_Posposicion,C.NUM_CREDITO) != 'S'
		GROUP BY C.COD_RUBRO
	
		--- BALANCE
		INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
		MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
		IND_ESTADO, TIPO_CREDITO, CANAL)
		SELECT
			@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
			CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
			COD_RUBRO, MONTO, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
			@TABLA_ORIGEN, @ID_POLIZA, 'BALANCE','','P', @TIPO_CREDITO, @CANAL
		FROM #BALANCE

		--- ORDEN 
		INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
		MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
		IND_ESTADO, ES_DETECTADO, TIPO_CREDITO, CANAL)
		SELECT
			@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
			CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
			A.COD_RUBRO, A.MONTO - ISNULL(B.MONTO,0) AS ORDEN, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
			@TABLA_ORIGEN, @ID_POLIZA, 'ORDEN','','P',1, @TIPO_CREDITO, @CANAL
		FROM #TOTALES A
		LEFT JOIN #BALANCE B ON A.COD_RUBRO = B.COD_RUBRO
	END
	ELSE IF @NUM_REGISTROS != 0 AND @ETAPA_3_INI IS NULL BEGIN
		INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
			MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
			IND_ESTADO, TIPO_CREDITO, CANAL)
			SELECT
				@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
				CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
				COD_RUBRO, MONTO, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
				@TABLA_ORIGEN, @ID_POLIZA, 'BALANCE','','P', @TIPO_CREDITO, @CANAL
			FROM #TOTALES
	END
	
	--################################################################################################
	-- COVID
	INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO,
	MONTO, ID_TIPO_CREDITO, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE,
	IND_ESTADO,IND_COVID, TIPO_CREDITO, CANAL)
	SELECT 
		@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_FONDEO, @ID_PRODUCTO, 
		CONCAT(@LEYENDA, @ID_EXTERNO, ' ', @NOM_CLIENTE),
		A.COD_RUBRO, ISNULL(SUM(A.SAL_RUBRO),0) MONTO, @ID_TIPO_CREDITO, @FECHA_INICIO, @IND_ETAPA,
		@TABLA_ORIGEN, @ID_POLIZA, '','','P','S', @TIPO_CREDITO, @CANAL
	
	FROM Quiero_Confianza_Shadow.PR.PR_RUBRO_COBRO_X_CREDITO A 
	WHERE FEC_COBRO < @FECHA_INICIO AND A.IND_ESTADO = 'P' AND A.NUM_CREDITO = @NUM_CREDITO
	AND A.Cod_Rubro IN ('COMISION_ADMINISTRACION', 'COMISION_PREPAGO','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA', 'OPI_VALOR','VISITA_EXTRA') 
	AND dbo.FN_ES_COVID(A.Ind_Posposicion,A.Fecha_Posposicion,A.NUM_CREDITO) = 'S'
	GROUP BY A.COD_RUBRO
	--###############################################################################################
	-- SE CALCULA EL MONTO DE BALANCE Y ORDEN DE COMISION_ADMINISTRACION
		--IF @MONTO = 0 BEGIN SET @ORDEN = 0 SET @SUMA89 = 0 END
		--ELSE IF @MONTO > 0 AND @ETAPA_3_INI IS NOT NULL BEGIN
		--	SELECT @SUMA89 = isnull(SUM(C.Sal_Rubro),0),@fecha_ref = max(FEC_EXIGIBLE_PAGO)
		--	FROM Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C 
		--	WHERE  
		--		C.NUM_CREDITO = @NUM_CREDITO
		--		and C.cod_rubro = 'COMISION_ADMINISTRACION'
		--		and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI
		--		AND C.IND_ESTADO = 'P'
		--		AND C.Ind_Posposicion != 'S'

		--	SET @ORDEN = @MONTO - @SUMA89 
		--	IF @ORDEN < 0 BEGIN SET @ORDEN =0 END
		--END
		--ELSE BEGIN SET @SUMA89 = @MONTO SET @ORDEN = 0 END
	--###############################################################################################


END
GO
