SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- CREACION: 	2024113
-- DESCRIPCIÓN:	se pasa la clasificacion de creditos de produccion a qa para reprocesamiento
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_PASE_CLASIF_PROD_QA]
    @FECHA_ACTUAL DATE
AS
BEGIN
	SET NOCOUNT ON;
	
	DELETE FROM PO.CONTROL_HISTORICO_TRASPASOS --WHERE FECHA_SISTEMA = @FECHA_ACTUAL
    DELETE FROM PO.PR_CREDITO_EXTRA


    INSERT INTO PO.CONTROL_HISTORICO_TRASPASOS(ID, FECHA_SISTEMA, NUM_CREDITO, IND_ETAPA, TIPO_VIVIENDA, ID_FONDEO, CASTIGO, NUM_DESC_TIPO_CREDITO, ID_EXTERNO)
    SELECT       ID, FECHA_SISTEMA, NUM_CREDITO, IND_ETAPA, TIPO_VIVIENDA, ID_FONDEO, CASTIGO, NUM_DESC_TIPO_CREDITO, ID_EXTERNO
    FROM  [SRV-IONSQLAWS\SAF].[KARDIA].PO.CONTROL_HISTORICO_TRASPASOS
    --WHERE FECHA_SISTEMA = @FECHA_ACTUAL


    INSERT INTO PO.PR_CREDITO_EXTRA(ID, ID_PRODUCTO, ID_EXTERNO, MONTO_CREDITO, EFYM, EFYM_IVA, REGISTRADO_POR, CREADO, ACTUALIZADO)
    SELECT ID, ID_PRODUCTO, ID_EXTERNO, MONTO_CREDITO, EFYM, EFYM_IVA, REGISTRADO_POR, CREADO, ACTUALIZADO
    FROM [SRV-IONSQLAWS\SAF].[KARDIA].PO.PR_CREDITO_EXTRA
    --WHERE FECHA_SISTEMA = @FECHA_ACTUAL



    DELETE FROM [PO].[FECHA_CASTIGO]

    INSERT INTO [PO].[FECHA_CASTIGO](NUM_CREDITO, FECHA)
    SELECT        NUM_CREDITO, FECHA
    FROM [SRV-IONSQLAWS\SAF].[KARDIA].PO.FECHA_CASTIGO

    DELETE FROM CIERRE.SAF_SALDOS

    INSERT INTO CIERRE.SAF_SALDOS(ID, FECHA_SISTEMA, NUM_CREDITO, TIPO, RUBRO, SALDO, SALDO_IVA, FECHA_GENERACION)
    SELECT        ID, FECHA_SISTEMA, NUM_CREDITO, TIPO, RUBRO, SALDO, SALDO_IVA, FECHA_GENERACION
    FROM            [SRV-IONSQLAWS\SAF].[KARDIA].CIERRE.SAF_SALDOS


END
GO
