SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Eneas Armas
-- Creacion:    20241210
-- Descripcion:	Paso los datos de una poliza procesados en produccion a qa para realizar pruebas
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_PASE_EXT_PROD_QA_E]
	@FECHA_SISTEMA date, 
	@ID_POLIZA INT
AS
BEGIN
	SET NOCOUNT ON;


    DELETE FROM [PO].[SAF_POLIZA_HISTORICO_DET] WHERE (FECHA_SISTEMA = @FECHA_SISTEMA) AND (ID_POLIZA = @ID_POLIZA)
    DELETE FROM [PO].[SAF_POLIZA_HISTORICO_ENC] WHERE (FECHA_SISTEMA = @FECHA_SISTEMA) AND (ID_POLIZA = @ID_POLIZA)
    --DELETE FROM [PO].[SAF_MOV_TRASPASO]      WHERE (FECHA_MOVIMIENTO = @FECHA_SISTEMA) AND (ID_POLIZA = @ID_POLIZA)
    --DELETE FROM [PO].[SAF_MOV_ABONO]         WHERE (FECHA_MOVIMIENTO = @FECHA_SISTEMA) AND (ID_POLIZA = @ID_POLIZA)

    /*
    INSERT INTO [PO].[SAF_MOV_TRASPASO](
        ID, ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_CONCEPTO, CONCEPTO, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA, 
                         IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, IND_ESTADO, CARTERA_VENCIDA, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ETAPA, FEC_APERTURA, CEDIDO, 
                         IND_POSPOSICION, FECHA, IND_COVID, CONCEPTO_FINAL, TABLA_ORIGEN, ID_POLIZA, ES_DETECTADO, CONCEPTO_ANT, ID_CONCEPTO_ANT, TIPO_VIVIENDA_ANT, IND_ETAPA_ANT, ID_FONDEO_ANT
    )
    SELECT        ID, ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_CONCEPTO, CONCEPTO, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA, 
                             IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, IND_ESTADO, CARTERA_VENCIDA, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ETAPA, FEC_APERTURA, CEDIDO, 
                             IND_POSPOSICION, FECHA, IND_COVID, CONCEPTO_FINAL, TABLA_ORIGEN, ID_POLIZA, ES_DETECTADO, CONCEPTO_ANT, ID_CONCEPTO_ANT, TIPO_VIVIENDA_ANT, IND_ETAPA_ANT, ID_FONDEO_ANT
    FROM            [SRV-IONSQLAWS\SAF].[KARDIA].PO.SAF_MOV_TRASPASO
    WHERE        (FECHA_MOVIMIENTO = @FECHA_SISTEMA) AND (ID_POLIZA = @ID_POLIZA)


    INSERT INTO [PO].[SAF_MOV_ABONO](
        ID, ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_CONCEPTO, CONCEPTO, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA, IND_FORMA_PAGO, 
                         ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, FEC_APERTURA, CEDIDO, 
                         IND_POSPOSICION, FECHA, ID_SECUENCIA, ID_CUENTA, IND_COVID, CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_DEP, ID_REFERENCIA, CANAL, ID_CONCEPTO_ANT, CONCEPTO_ANT, 
                         BANCO_RECEPTOR, REVERSO
    )
    SELECT        ID, ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_CONCEPTO, CONCEPTO, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA, IND_FORMA_PAGO, 
                         ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, FEC_APERTURA, CEDIDO, 
                         IND_POSPOSICION, FECHA, ID_SECUENCIA, ID_CUENTA, IND_COVID, CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_DEP, ID_REFERENCIA, CANAL, ID_CONCEPTO_ANT, CONCEPTO_ANT, 
                         BANCO_RECEPTOR, REVERSO
    FROM            [SRV-IONSQLAWS\SAF].[KARDIA].PO.SAF_MOV_ABONO
    WHERE        (FECHA_MOVIMIENTO = @FECHA_SISTEMA) AND (ID_POLIZA = @ID_POLIZA)
    */

    INSERT INTO [PO].[SAF_POLIZA_HISTORICO_ENC](
                  FECHA_SISTEMA, ID_POLIZA, ESTATUS, FECHA_GENERACION)
    SELECT        FECHA_SISTEMA, ID_POLIZA, ESTATUS, FECHA_GENERACION
    FROM            [SRV-IONSQLAWS\SAF].KARDIA.PO.SAF_POLIZA_HISTORICO_ENC
    WHERE        (FECHA_SISTEMA = @FECHA_SISTEMA) AND (ID_POLIZA = @ID_POLIZA)


    INSERT INTO [PO].[SAF_POLIZA_HISTORICO_DET](
                   FECHA_SISTEMA, ID_POLIZA, CONCEPTO, CUENTA, CARGO, ABONO)
    SELECT         FECHA_SISTEMA, ID_POLIZA, CONCEPTO, CUENTA, CARGO, ABONO
    FROM            [SRV-IONSQLAWS\SAF].KARDIA.PO.SAF_POLIZA_HISTORICO_DET
    WHERE        (FECHA_SISTEMA = @FECHA_SISTEMA) AND (ID_POLIZA = @ID_POLIZA)

END
GO
