SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- ejecuta los SPs de poliza sindicada acorde a las cargas que se han realizado
CREATE PROCEDURE [PO].[SP_SND_POLIZA_DIARIA]
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @ID_DEVENGO_ENC UNIQUEIDENTIFIER
        ,@ID_CAPITAL_ENC UNIQUEIDENTIFIER
        ,@ID_COBRANZA_ENC UNIQUEIDENTIFIER
        ,@ID_MINISTRACIONES_ENC UNIQUEIDENTIFIER
	    ,@FECHA_INICIO DATE
        ,@FECHA_FIN_DIA date
        ,@FECHA_FIN_DIA_MAX date
        ,@EJECUCION_INI datetime

    DECLARE @INI datetime, @FIN datetime

    DECLARE @FECHAS_POL FECHAS_POLIZA_TIPO
    
    CREATE TABLE #RESULTADO(
        PRIORIDAD INT
        ,TIPO VARCHAR(10)
        ,MENSAJE VARCHAR(1000)
    )

    SET @EJECUCION_INI = GETDATE()

    SELECT @ID_DEVENGO_ENC = ID
    FROM PO.PR_DEVENGO_ENC
    WHERE ESTATUS = 'COMPLETO'
    ORDER BY FECHA_GENERACION ASC

    SELECT @ID_CAPITAL_ENC = ID
    FROM PO.PR_CAPITAL_ENC
    WHERE ESTATUS = 'COMPLETO'
    ORDER BY FECHA_GENERACION ASC

    SELECT @ID_COBRANZA_ENC = ID
    FROM PO.PR_COBRANZA_ENC
    WHERE ESTATUS = 'COMPLETO'
    ORDER BY FECHA_GENERACION ASC

    SELECT @ID_MINISTRACIONES_ENC = ID
    FROM PO.PR_MINISTRACIONES_ENC
    WHERE ESTATUS = 'COMPLETO'
    ORDER BY FECHA_GENERACION ASC

    IF @ID_MINISTRACIONES_ENC IS NULL OR @ID_DEVENGO_ENC IS NULL OR @ID_CAPITAL_ENC IS NULL OR @ID_COBRANZA_ENC IS NULL BEGIN
        SELECT * FROM #RESULTADO
        RETURN
    END


    INSERT INTO @FECHAS_POL
    select distinct FECHA_CALCULO as fecha
    FROM PO.PR_DEVENGO_DET
    WHERE ID_DEVENGO_ENC = @ID_DEVENGO_ENC

    SELECT @FECHA_INICIO = MIN(FECHA),@FECHA_FIN_DIA = DATEADD(day, 1, MAX(FECHA)),@FECHA_FIN_DIA_MAX = MAX(FECHA)
    FROM @FECHAS_POL


    UPDATE PO.PR_DEVENGO_ENC
    SET ACTIVO = 0
    WHERE FECHA_INI = @FECHA_INICIO AND FECHA_FIN = @FECHA_FIN_DIA_MAX

    UPDATE PO.PR_CAPITAL_ENC
    SET ACTIVO = 0
    WHERE FECHA_INI = @FECHA_INICIO AND FECHA_FIN = @FECHA_FIN_DIA_MAX

    UPDATE PO.PR_COBRANZA_ENC
    SET ACTIVO = 0
    WHERE FECHA_INI = @FECHA_INICIO AND FECHA_FIN = @FECHA_FIN_DIA_MAX

    UPDATE PO.PR_MINISTRACIONES_ENC
    SET ACTIVO = 0
    WHERE FECHA_INI = @FECHA_INICIO AND FECHA_FIN = @FECHA_FIN_DIA_MAX


    UPDATE PO.PR_DEVENGO_ENC
    SET ESTATUS = 'PROCESADO',FECHA_INI = @FECHA_INICIO,FECHA_FIN = @FECHA_FIN_DIA_MAX,ACTIVO = 1
    WHERE ID = @ID_DEVENGO_ENC

    UPDATE PO.PR_CAPITAL_ENC
    SET ESTATUS = 'PROCESADO',FECHA_INI = @FECHA_INICIO,FECHA_FIN = @FECHA_FIN_DIA_MAX,ACTIVO = 1
    WHERE ID = @ID_CAPITAL_ENC

    UPDATE PO.PR_COBRANZA_ENC
    SET ESTATUS = 'PROCESADO',FECHA_INI = @FECHA_INICIO,FECHA_FIN = @FECHA_FIN_DIA_MAX,ACTIVO = 1
    WHERE ID = @ID_COBRANZA_ENC

    UPDATE PO.PR_MINISTRACIONES_ENC
    SET ESTATUS = 'PROCESADO',FECHA_INI = @FECHA_INICIO,FECHA_FIN = @FECHA_FIN_DIA_MAX,ACTIVO = 1
    WHERE ID = @ID_MINISTRACIONES_ENC


    set @INI = GETDATE()
	EXECUTE [PO].[SP_SND_CAPITAL] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_CAPITAL**********',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	--EXECUTE [PO].[SP_SND_CASTIGOS] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    --set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_CASTIGOS',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_RECLASIFICACION] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_RECLASIFICACION',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN
--print 'DIA PROCESADO: ' + convert(varchar,@FECHA,121)
--'SND_ADMINISTRADA'
	EXECUTE [PO].[SP_SND_ADMINISTRADA] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_ADMINISTRADA',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_COBRANZA] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_COBRANZA',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_COBRANZA_CASTIGOS] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_COBRANZA_CASTIGOS',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN
--'SND_TRASPASO'
	EXECUTE [PO].[SP_SND_TRASPASO] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_TRASPASO',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_CONDONACION] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_CONDONACION',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_DACION_ADJUDICACION] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_DACION_ADJUDICACION',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN
--'SND_DESEMBOLSO'
--		EXECUTE [PO].[SP_SND_DESEMBOLSO] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL

	EXECUTE [PO].[SP_SND_DEV_ACCESORIOS] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_DEV_ACCESORIOS',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_DEV_COMISIONES] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_DEV_COMISIONES',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_DEV_INTERES] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL   -- los devengos de intereses deben ejecutarse despues de cobranza y traspasos
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_DEV_INTERES',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_DEV_MORATORIO] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_DEV_MORATORIO',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN
--'SND_FIRMA'
--		EXECUTE [PO].[SP_SND_FIRMA] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
--'SND_OPERACIONES_PENDIENTES'
--		EXECUTE [PO].[SP_SND_OPERACIONES_PENDIENTES] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL

	EXECUTE [PO].[SP_SND_REVERSO_COBRANZA] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_REVERSO_COBRANZA',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE[PO].[SP_SND_REVERSO_COBRANZA_CASTIGOS]  @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_REVERSO_COBRANZA_CASTIGOS',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_REVERSO_ACCESORIOS] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_REVERSO_ACCESORIOS',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_REVERSO_COMISION] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_REVERSO_COMISION',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_REVERSO_CONDONACION] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_REVERSO_CONDONACION',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_REVERSO_DACION_ADJUDICACION] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_REVERSO_DACION_ADJUDICACION',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN
--'SND_REVERSO_DESEMBOLSO'
--		EXECUTE [PO].[SP_SND_REVERSO_DESEMBOLSO] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL

	EXECUTE [PO].[SP_SND_REVERSO_INTERES] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_REVERSO_INTERES',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_REVERSO_MORATORIO] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_REVERSO_MORATORIO',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN
--'SND_CASTIGOS'
--		EXECUTE [PO].[SP_SND_CASTIGOS] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
--'SND_COBRANZA_CASTIGOS'
--		EXECUTE [PO].[SP_SND_COBRANZA_CASTIGOS] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
--'SND_REVERSO_COBRANZA_CASTIGOS'
--		EXECUTE [PO].[SP_SND_REVERSO_COBRANZA_CASTIGOS] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
--'SND_REESTRCTURA_CAP'
--		EXECUTE [PO].[SP_SND_REESTRCTURA_CAP] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
--'SND_REESTRCTURA_SN_CAP'
--		EXECUTE [PO].[SP_SND_REESTRCTURA_SN_CAP] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
--'SND_VENTA_CARTERA'
--		EXECUTE [PO].[SP_SND_VENTA_CARTERA] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL

	EXECUTE [PO].[SP_SND_SECUENCIAS_MAN] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_SECUENCIAS_MAN',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN

	EXECUTE [PO].[SP_SND_TRASPASO] @ID_DEVENGO_ENC,@ID_CAPITAL_ENC,@ID_COBRANZA_ENC,@ID_MINISTRACIONES_ENC,@FECHA_INICIO,@FECHA_FIN_DIA,@FECHAS_POL
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SND_TRASPASO',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN


    EXECUTE [PO].[SP_SAF_POLIZA_CUENTAS_VAL] @FECHA_INICIO,@FECHA_FIN_DIA
    set @FIN = GETDATE() INSERT INTO PO.PR_EJECUCION_LOG(FECHA_INI,EVENTO,DURACION) VALUES(@INI,'SP_SAF_POLIZA_CUENTAS_VAL',DATEDIFF(millisecond, @INI, @FIN)) set @INI = @FIN



    INSERT INTO #RESULTADO(PRIORIDAD,TIPO,MENSAJE)
    select 1 AS PRIORIDAD,'MENSAJE','Pólizas generadas: ' + cast(count(*) as varchar)
    from PO.SAF_POLIZA_HISTORICO_ENC
    where ID_POLIZA IN ( SELECT ID FROM PO.CAT_TIPO_POLIZA WHERE DESCRIPCION like '% CMR SND' )
        AND FECHA_SISTEMA IN (SELECT fecha FROM @FECHAS_POL)

    INSERT INTO #RESULTADO(PRIORIDAD,TIPO,MENSAJE)
    select 2 AS PRIORIDAD,'ERROR','Error en póliza '+ C.DESCRIPCION + ' ' + FORMAT(FECHA_SISTEMA, 'dd/MM/yyyy') + ' - ' + D.DESCRIPCION
    from [PO].[SAF_POLIZA_ERRORES] D
        INNER JOIN PO.CAT_TIPO_POLIZA C ON D.ID_POLIZA = C.ID
    where id_poliza in (SELECT ID FROM PO.CAT_TIPO_POLIZA WHERE DESCRIPCION like '% CMR SND')
        AND FECHA_GENERACION > @EJECUCION_INI

    SELECT * FROM #RESULTADO
		
END
GO
