SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20250731
-- Descripcion:	Realiza la importacion de un txt separado por | para las ministraciones de poliza sindiada
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_MINISTRACION_IMPORTA]
     @ID_MINISTRACIONES_ENC uniqueidentifier
	,@archivo varchar(max)
AS
BEGIN
	SET NOCOUNT ON;


    declare @ini int,@fin int,@tamano int,@linea int,@renglon varchar(max),
	@ID_EXTERNO varchar(32),
	@FECHA_ACTINVER date,
	@FECHA_HSBC date,
	@ACREDITADO varchar(128),
	@PROYECTO varchar(128),
	@TIPO_CREDITO varchar(128),
	@TIPO_CARTERA varchar(24),
	@ESTATUS varchar(16),
	@FISO varchar(32),
	@IMPORTE decimal(12, 2),
	@ETAPA varchar(1),
	@OBSERVACION varchar(256)

    ,@ind1 int
    ,@ind2 int
    ,@ind3 int
    ,@ind4 int
    ,@ind5 int
    ,@ind6 int
    ,@ind7 int
    ,@ind8 int
    ,@ind9 int
    ,@ind10 int
    ,@ind11 int

    set @linea = 0
    set @tamano = LEN(@archivo)+1
    set @ini = 1 
    set @fin = CHARINDEX(CHAR(10),@archivo)
    
    while @ini < @fin begin

        set @renglon = replace(replace(SUBSTRING(@archivo,@ini,@fin-@ini),CHAR(10),''),CHAR(13),'')
        set @linea = @linea + 1
        if @linea > 1 begin

            set @ind1 = CHARINDEX('|',@renglon,1)
            set @ind2 = CHARINDEX('|',@renglon,@ind1+1)
            set @ind3 = CHARINDEX('|',@renglon,@ind2+1)
            set @ind4 = CHARINDEX('|',@renglon,@ind3+1)
            set @ind5 = CHARINDEX('|',@renglon,@ind4+1)
            set @ind6 = CHARINDEX('|',@renglon,@ind5+1)
            set @ind7 = CHARINDEX('|',@renglon,@ind6+1)
            set @ind8 = CHARINDEX('|',@renglon,@ind7+1)
            set @ind9 = CHARINDEX('|',@renglon,@ind8+1)
            set @ind10 = CHARINDEX('|',@renglon,@ind9+1)
            set @ind11 = CHARINDEX('|',@renglon,@ind10+1)

            if @ind11 > 0 begin

	            set @ID_EXTERNO     = SUBSTRING(@renglon,1      ,@ind1-1)
	            set @FECHA_ACTINVER = CONVERT(date, SUBSTRING(@renglon,@ind1+1,@ind2-@ind1-1), 103)
	            set @FECHA_HSBC     = CONVERT(date, SUBSTRING(@renglon,@ind2+1,@ind3-@ind2-1), 103)
	            set @ACREDITADO     = SUBSTRING(@renglon,@ind3+1,@ind4-@ind3-1)
	            set @PROYECTO       = SUBSTRING(@renglon,@ind4+1,@ind5-@ind4-1)
	            set @TIPO_CREDITO   = SUBSTRING(@renglon,@ind5+1,@ind6-@ind5-1)
	            set @TIPO_CARTERA   = SUBSTRING(@renglon,@ind6+1,@ind7-@ind6-1)
	            set @ESTATUS        = SUBSTRING(@renglon,@ind7+1,@ind8-@ind7-1)
	            set @FISO           = SUBSTRING(@renglon,@ind8+1,@ind9-@ind8-1)
	            set @IMPORTE        = SUBSTRING(@renglon,@ind9+1,@ind10-@ind9-1)
	            set @ETAPA          = SUBSTRING(@renglon,@ind10+1,@ind11-@ind10-1)
	            set @OBSERVACION    = SUBSTRING(@renglon,@ind11+1,len(@renglon)-@ind11)


                INSERT INTO PO.PR_MINISTRACIONES_DET
                       ( ID    , ID_MINISTRACIONES_ENC, ID_EXTERNO, FECHA_ACTINVER, FECHA_HSBC, ACREDITADO, PROYECTO, TIPO_CREDITO, TIPO_CARTERA, ESTATUS, FISO, IMPORTE, ETAPA, OBSERVACION)
                VALUES (newid(),@ID_MINISTRACIONES_ENC,@ID_EXTERNO,@FECHA_ACTINVER,@FECHA_HSBC,@ACREDITADO,@PROYECTO,@TIPO_CREDITO,@TIPO_CARTERA,@ESTATUS,@FISO,@IMPORTE,@ETAPA,@OBSERVACION)

            end
        end 

        if  @fin = @tamano begin
            break
        end 

        set @ini = @fin
        set @fin = CHARINDEX(CHAR(10),@archivo,@fin+1)

        if @fin = 0 begin
            set @fin = @tamano
        end 

    end

    --  Resumen de carga -----------------------------------------------------------------------------------
    DECLARE @CONTEO_ION INT
        ,@PARTE_ION decimal(12,2)
    

    SELECT @CONTEO_ION = count(*), @PARTE_ION = SUM(IMPORTE)
    from PO.PR_MINISTRACIONES_DET
    WHERE ID_MINISTRACIONES_ENC = @ID_MINISTRACIONES_ENC


    UPDATE PO.PR_MINISTRACIONES_ENC
    SET PARTE_ION = @PARTE_ION
        ,PARTE_ADM = 0
        ,ESTATUS = 'COMPLETO'
    WHERE ID = @ID_MINISTRACIONES_ENC


    SELECT @CONTEO_ION as CONTEO
        ,@PARTE_ION AS PARTE_ION


END
GO
