SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_MORA_EMPR_HIST](
	[FECHA_MOVIMIENTO] [date] NOT NULL,
	[NUM_CREDITO] [numeric](8, 0) NOT NULL,
	[NUM_SECUENCIA] [numeric](5, 0) NOT NULL,
	[NUM_DET_SECUENCIA] [numeric](5, 0) NOT NULL,
	[MON_RUBRO] [numeric](24, 6) NOT NULL,
	[SAL_RUBRO] [numeric](24, 6) NOT NULL,
	[MON_IVA] [numeric](24, 6) NULL,
	[SAL_IVA] [numeric](24, 6) NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
 CONSTRAINT [PK_SAF_MORA_EMPR_HIST] PRIMARY KEY CLUSTERED 
(
	[FECHA_MOVIMIENTO] ASC,
	[NUM_CREDITO] ASC,
	[NUM_SECUENCIA] ASC,
	[NUM_DET_SECUENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_MORA_EMPR_HIST] ADD  CONSTRAINT [DF_SAF_MORA_EMPR_HIST_FECHA_GENERACION]  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
