SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SYS_SP_ACTUALIZA_ESTADO_POLIZA] @LISTA_CONCEPTOS VARCHAR(MAX), @FECHA varchar(10)
AS
BEGIN
	--DECLARE @COMANDO VARCHAR(MAX) = CONCAT('UPDATE PO.SAF_HISTORICO_POLIZA SET ESTATUS = ''A'' WHERE CONCEPTO IN (',@LISTA_CONCEPTOS,') AND FECHA =''',@FECHA,'''')
	DECLARE @COMANDO VARCHAR(MAX) = CONCAT('UPDATE PO.SAF_HISTORICO_POLIZA SET ESTATUS = ''A'' WHERE FECHA = CONVERT(DATETIME,''',@FECHA,''', 102)')
	EXEC(@COMANDO)

END 

GO
