SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_POLIZA_ERRORES_HIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
	[FECHA_SISTEMA] [date] NOT NULL,
	[ID_POLIZA] [int] NOT NULL,
	[DESCRIPCION] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_SAF_POLIZA_ERRORES_HIST_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_POLIZA_ERRORES_HIST] ADD  CONSTRAINT [DF_SAF_POLIZA_ERRORES_HIST_FECHA_GENERACION]  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
