SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----------------------------- 0905
CREATE PROCEDURE [PO].[SYS_SP_BALANCE_ACCOUNT_SQL] @FECHA DATE,@ID_EXTERNO VARCHAR(14), @ID_PRODUCTO INT,
	@ID_FONDEO INT,@ID_ETAPA INT,  @ID_POLIZA VARCHAR(40), @ID_GRUPO INT
----	DESACRIPCION:	POLIZA CONTABLE									----
----	CREADO POR:		DANIEL RODRIGUEZ								----
----	FECHA:			08/02/2019										----
AS
BEGIN
	SET NOCOUNT ON

    if @ID_POLIZA = 0 begin

	    select 1 as ID, CONCEPTO, CUENTA,
		    '$' + CONVERT(VARCHAR, CONVERT(VARCHAR, CAST(CARGO  AS MONEY), 1)) CARGO, 
		    '$' + CONVERT(VARCHAR, CONVERT(VARCHAR, CAST(ABONO  AS MONEY), 1)) ABONO,
		    C.DESCRIPCION, C.TIPO_POLIZA
	    from PO.SAF_POLIZA_HISTORICO_DET P
            LEFT JOIN PO.CAT_TIPO_POLIZA C ON P.ID_POLIZA = C.ID
        where FECHA_SISTEMA = @FECHA

    end if @ID_POLIZA = -1 begin -- todo individual

	    select 1 as ID, CONCEPTO, CUENTA,
		    '$' + CONVERT(VARCHAR, CONVERT(VARCHAR, CAST(CARGO  AS MONEY), 1)) CARGO, 
		    '$' + CONVERT(VARCHAR, CONVERT(VARCHAR, CAST(ABONO  AS MONEY), 1)) ABONO,
		    C.DESCRIPCION, C.TIPO_POLIZA
	    from PO.SAF_POLIZA_HISTORICO_DET P
            LEFT JOIN PO.CAT_TIPO_POLIZA C ON P.ID_POLIZA = C.ID
        where FECHA_SISTEMA = @FECHA
            AND C.DESCRIPCION like '% IND'

    end if @ID_POLIZA = -2 begin -- todo comercial

	    select 1 as ID, CONCEPTO, CUENTA,
		    '$' + CONVERT(VARCHAR, CONVERT(VARCHAR, CAST(CARGO  AS MONEY), 1)) CARGO, 
		    '$' + CONVERT(VARCHAR, CONVERT(VARCHAR, CAST(ABONO  AS MONEY), 1)) ABONO,
		    C.DESCRIPCION, C.TIPO_POLIZA
	    from PO.SAF_POLIZA_HISTORICO_DET P
            LEFT JOIN PO.CAT_TIPO_POLIZA C ON P.ID_POLIZA = C.ID
        where FECHA_SISTEMA = @FECHA
            AND C.DESCRIPCION like '% CMR%'

    end else begin

        declare @DESCRIPCION_POLIZA varchar (50), @TIPO_POLIZA varchar (5)

        select @DESCRIPCION_POLIZA = DESCRIPCION, @TIPO_POLIZA = TIPO_POLIZA
        from PO.CAT_TIPO_POLIZA
        where id = @ID_POLIZA


	    select 1 as ID, CONCEPTO, CUENTA,
		    '$' + CONVERT(VARCHAR, CONVERT(VARCHAR, CAST(CARGO  AS MONEY), 1)) CARGO, 
		    '$' + CONVERT(VARCHAR, CONVERT(VARCHAR, CAST(ABONO  AS MONEY), 1)) ABONO,
		    @DESCRIPCION_POLIZA as DESCRIPCION, @TIPO_POLIZA as TIPO_POLIZA
	    from PO.SAF_POLIZA_HISTORICO_DET
        where FECHA_SISTEMA = @FECHA AND ID_POLIZA = @ID_POLIZA
        union all
        select 100 as ID,'TOTAL','',
		    '$' + CONVERT(VARCHAR, CONVERT(VARCHAR, CAST(isnull(SUM(CARGO),0)  AS MONEY), 1)) CARGO, 
		    '$' + CONVERT(VARCHAR, CONVERT(VARCHAR, CAST(isnull(SUM(ABONO),0)  AS MONEY), 1)) ABONO,
            '' as DESCRIPCION, '' as TIPO_POLIZA
        from PO.SAF_POLIZA_HISTORICO_DET
        where FECHA_SISTEMA = @FECHA AND ID_POLIZA = @ID_POLIZA
        order by ID

    end

END
GO
