SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_IND_OPERACIONES_PENDIENTES]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 61

	BEGIN TRY
		BEGIN TRANSACTION
			DECLARE @FECHA_FIN_DIA DATE, -- DIA DEL SISTEMA
					@FECHA_MOV DATE,
					@FECHA_SIGUIENTE DATE
			SET @FECHA_FIN_DIA = DATEADD(DAY, 1, @FECHA_INICIO)
			SET @FECHA_SIGUIENTE = DATEADD(DAY, 1, @FECHA_FIN_DIA)

			
			DELETE FROM PO.SAF_MOV_CARGO WHERE ID_POLIZA = @ID_POLIZA AND @FECHA_INICIO <= FECHA and FECHA < @FECHA_FIN_DIA

			INSERT INTO PO.SAF_MOV_CARGO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
			ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, IND_COVID,TABLA_ORIGEN, 
			ID_POLIZA, TIPO_VIVIENDA, CONCEPTO, FECHA)
			SELECT 
				DD.ID_EXTERNO
				,DD.NUM_CREDITO
				,D.NOM_CLIENTE
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO
				,CH.ID_FONDEO
				,'' RUBRO
				,DM.MONTO
				,0 MON_PAGO_IVA
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,''--A.IND_ESTADO
				,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
				,DM.FECHA_FONDEO
				,CH.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
				,C.FEC_APERTURA
				,'' AS IND_COVID
				,'OPR FALTANTES'
				,@ID_POLIZA
                ,CH.TIPO_VIVIENDA
				,CONCAT('FONDEO ',DM.BANCO_ORIGEN,right(replace(CUENTA_ORIGEN,' ',''),4))
				,DM.CREADO
			FROM PO.DE_MOVIMIENTO DM
				INNER JOIN PO.DE_DESEMBOLSO DD ON DM.ID_DESEMBOLSO = DD.ID 
				INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON DD.COD_EMPRESA = C.COD_EMPRESA AND DD.NUM_CREDITO = C.NUM_CREDITO
				INNER JOIN Quiero_Confianza_shadow.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
				INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
				LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON DD.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = CAST(DM.FECHA_FONDEO AS DATE)
			WHERE   
				C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
				AND DM.MONTO <> 0.00
				AND @FECHA_INICIO <= DM.CREADO and DM.CREADO < @FECHA_FIN_DIA
		
		------------------ UPDATES PARA CALIFICACION
		--- SI ALGUN TIPO VIVIENDA ES NULL se clasifica como consumo
		
		UPDATE PO.SAF_MOV_CARGO 
				SET TIPO_VIVIENDA = 'CONSUMO',
				ID_PRODUCTO = 50,	
				NOMBRE_PRODUCTO = 'CONSUMO'
			WHERE @FECHA_INICIO <= FECHA and FECHA < @FECHA_FIN_DIA AND TIPO_VIVIENDA IS NULL
				AND ID_POLIZA = @ID_POLIZA
		

		-- SE DETERMINA EL TIPO DE PRODUCTO DEACUERDO AL ID EMPLEADO O CONSUMO
		UPDATE H SET 
			H.ID_PRODUCTO = 50,	
			H.NOMBRE_PRODUCTO = 'CONSUMO'
		FROM  PO.SAF_MOV_CARGO H  
		INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO = 1 AND @FECHA_INICIO <= FECHA and FECHA < @FECHA_FIN_DIA
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H SET 
			H.ID_PRODUCTO = 51,	
			H.NOMBRE_PRODUCTO = 'EMPLEADO'
		FROM  PO.SAF_MOV_CARGO H  INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) AND @FECHA_INICIO <= FECHA and FECHA < @FECHA_FIN_DIA
			AND H.ID_POLIZA = @ID_POLIZA
	

		/*UPDATE PO.SAF_MOV_CARGO
				SET CONCEPTO = CONCAT('FONDEO ',
				CONCEPTO,
				CASE
					WHEN CONCEPTO = 'BANCOMER' THEN '4560'
					WHEN CONCEPTO = 'HSBC' THEN '8354'
				END
				)
			WHERE @FECHA_INICIO <= FECHA and FECHA < @FECHA_FIN_DIA AND ID_POLIZA = @ID_POLIZA*/

		--- CALIFICACION FINAL DE CONCEPTO POLIZA
		UPDATE PO.SAF_MOV_CARGO
			SET CONCEPTO_FINAL = CONCAT('DESEMBOLSO ',ID_EXTERNO)
		WHERE @FECHA_INICIO <= FECHA and FECHA < @FECHA_FIN_DIA AND ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE ID CONCEPTO 
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE @FECHA_INICIO <= H.FECHA and H.FECHA < @FECHA_FIN_DIA AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_CARGO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE @FECHA_INICIO <= H.FECHA and H.FECHA < @FECHA_FIN_DIA AND H.ID_POLIZA = @ID_POLIZA

        --manejo de porcentaje Afirme
        UPDATE PO.SAF_MOV_CARGO
        SET   MONTO = MONTO * 0.10
		WHERE @FECHA_INICIO <= FECHA and FECHA < @FECHA_FIN_DIA AND ID_POLIZA = @ID_POLIZA
            AND ID_TIPO_CREDITO = 4 AND CONCEPTO NOT LIKE 'TRS %'

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
		CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		exec CursorCloseDeallocate 'db_cursor_poliza_operaciones'

        DECLARE db_cursor_poliza_operaciones CURSOR FOR

            SELECT DISTINCT FECHA_FONDEO
			from PO.DE_MOVIMIENTO
			WHERE @FECHA_INICIO <= CREADO and CREADO < @FECHA_FIN_DIA 
				and [MONTO] > 0

        OPEN db_cursor_poliza_operaciones  
            FETCH NEXT FROM db_cursor_poliza_operaciones
            INTO @FECHA_INICIO

        WHILE @@FETCH_STATUS = 0  
        BEGIN  

			INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)  
			SELECT CONCEPTO_FINAL, A.CUENTA_CARGO, 
					CAST(MONTO AS decimal (16,2)) AS MONTO_CARGO, 
					CAST(0.00  AS decimal (16,2)) AS MONTO_ABONO
			FROM PO.SAF_MOV_CARGO A 
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
				AND A.ID_POLIZA = @ID_POLIZA
		
			INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
			SELECT CONCEPTO_FINAL, A.CUENTA_ABONO, 
				CAST(0.00  AS decimal (16,2)) AS MONTO_CARGO,
				CAST(MONTO AS decimal (16,2)) AS MONTO_ABONO
			FROM PO.SAF_MOV_CARGO A 
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
				AND A.ID_POLIZA = @ID_POLIZA

			--SELECT * FROM #POLIZAF
			exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA
		
			TRUNCATE TABLE #POLIZAF

            FETCH NEXT FROM db_cursor_poliza_operaciones
            INTO @FECHA_INICIO
        END 

        CLOSE db_cursor_poliza_operaciones  
        DEALLOCATE db_cursor_poliza_operaciones

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END

GO
