SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_COM_REESTRCTURA_SN_CAP]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 56
			,@FECHA_ANT date
    
    set @FECHA_ANT = DATEADD(day, -1, @FECHA_INICIO)
	
	BEGIN TRY
		BEGIN TRANSACTION
	
		DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		-- ====== REESTRUCTURA DESDE MODULO DE SAF ============
	
        -- Credito anterior vs Reestructuras - realizadas desde modulo de reestructuras
        SELECT C.NUM_CREDITO, C.MON_CREDITO, C.COD_EMPRESA, C.NUM_DESC_TIPO_CREDITO, P.Mon_movimiento
			, dbo.FN_CREDITO_PREVIO(C.NUM_CREDITO) AS NUM_CREDITO_ANT
        INTO #REESTRUCTURAS
        FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C
			INNER JOIN Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO P ON C.NUM_CREDITO=P.Num_credito
        WHERE C.IND_ESTADO_CRED = 'E' AND C.FEC_APERTURA = @FECHA_INICIO
			AND P.Tip_transaccion = 3 AND P.Fec_movimiento= @FECHA_INICIO
			AND C.NUM_DESC_TIPO_CREDITO IN (5,   12,13,14,15,28,   2,18,27)

        -- Credito anterior vs Reestructuras - realizadas por cancelacion y alta
        INSERT INTO #REESTRUCTURAS
        SELECT C.NUM_CREDITO, C.MON_CREDITO, C.COD_EMPRESA, C.NUM_DESC_TIPO_CREDITO, P.Mon_movimiento
			, dbo.FN_CREDITO_PREVIO_ID(C.ID_EXTERNO,C.NUM_CREDITO,C.COD_CLIENTE,@FECHA_INICIO) AS NUM_CREDITO_ANT
        FROM Quiero_Confianza_shadow.PR.PR_CREDITOS C
			INNER JOIN Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO P ON C.NUM_CREDITO=P.Num_credito
        WHERE C.IND_ESTADO_CRED != 'E' AND cast(C.FEC_APERTURA AS DATE) = @FECHA_INICIO
			AND P.Tip_transaccion = 3 AND cast(P.Fec_movimiento AS DATE) = @FECHA_INICIO
			AND C.NUM_DESC_TIPO_CREDITO IN (5,   12,13,14,15,28,   2,18,27)
			AND C.ID_EXTERNO like 'R%'

		-- Se obtienen reestructuras sin capitalizacion
		SELECT C.NUM_CREDITO_ANT
		INTO #CREDITOS_REESTRUCTURA
		FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A
		    INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA
		    INNER JOIN #REESTRUCTURAS C ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO_ANT
		WHERE A.Fec_movimiento = @FECHA_INICIO
			AND B.MON_PAGO <> 0
			AND C.Mon_movimiento = B.MON_PAGO
			AND COD_CONCEPTO = 'PRINCIPAL'
			AND A.ID_CUENTA IN ('140103009001','140103009002','140103009003')
		GROUP BY C.NUM_CREDITO_ANT
		

		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,'' AS CUENTA_CARGO
			,'' AS CUENTA_ABONO
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO NOMBRE_PRODUCTO
			,CH.ID_FONDEO
			,B.COD_CONCEPTO AS RUBRO
			,B.MON_PAGO MONTO
			,B.MON_PAGO_IVA
			,CASE WHEN A.IND_FORMA_PAGO = '' THEN 0 ELSE A.IND_FORMA_PAGO END IND_FORMA_PAGO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,C.IND_ESTADO
			,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,A.FEC_MOVIMIENTO
			,A.TIP_TRANSACCION
			,A.SUBTIP_TRANSAC
			,CH.IND_ETAPA
			,C.MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
			,C.FEC_APERTURA
			,A.Id_secuencia
            ,B.ID_REFERENCIA
			,case when exists(select * from Quiero_Confianza_Shadow.PR.PR_DEPOSITOS_X_IDENTIFICAR where id_carga = A.id_carga and id_deposito = A.id_deposito) then 2080 else CAST(A.Id_cuenta AS bigint) end
			,dbo.FN_ES_COVID(Q.Ind_Posposicion,Q.Fecha_Posposicion,Q.Num_Credito)
			,''
			,IIF(PF.PRIMER_APELLIDO IS NULL OR PF.PRIMER_APELLIDO = '', 'NOMBRE', PF.PRIMER_APELLIDO)
			,'REEST SN CAP COM'
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,case when exists(select * from Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO where num_asiento = A.num_asiento and Mon_movimiento = -A.Mon_movimiento) then 'SI' else 'NO' end
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
				INNER JOIN Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
				INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
				INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
				LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
				LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
				LEFT JOIN Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
				    AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
                LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_ANT
				LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
				LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.IND_ESTADO IN ('C', 'D')
				AND C.IND_LINEA = 'N'
				AND A.NUM_CREDITO IN (SELECT * FROM #CREDITOS_REESTRUCTURA)
				AND A.TIP_TRANSACCION !=3  --Evita que se traigan desembolsos que se jalan en SP FIRMA
				AND NOT (TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5)
				AND A.ID_CUENTA IN ('140103009001','140103009002','140103009003')
                and A.mon_movimiento > 0 -- no se consideran cancelaciones
				AND A.FEC_MOVIMIENTO = @FECHA_INICIO
				AND (B.MON_PAGO <> 0 OR B.MON_PAGO_IVA <> 0)
				AND NOT (B.Cod_concepto LIKE '%SEGURO%' OR B.Cod_concepto = 'CARGO_PORCENTAJE')-- DESCARATR TODOS LOS SEGUROS
				

		-- ====== REESTRUCTURA INDICADA POR CAMBIO DE NUC ============

		--DIA ACTUAL
		SELECT * INTO #CRED FROM PO.CONTROL_HISTORICO_TRASPASOS WHERE FECHA_SISTEMA = DATEADD(D,1,@FECHA_INICIO) AND NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
		--DIA ANTERIOR
		SELECT * INTO #CRED_ANT FROM PO.CONTROL_HISTORICO_TRASPASOS WHERE FECHA_SISTEMA = @FECHA_INICIO AND NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
		
		SELECT A.NUM_CREDITO
		INTO #CREDITOS_TRASPASO
		FROM #CRED I
			INNER JOIN #CRED_ANT A ON I.NUM_CREDITO = A.NUM_CREDITO
		WHERE I.ID_EXTERNO <> A.ID_EXTERNO

		-- SALDOS COVID
		SELECT NUM_CREDITO,'S' as COVID,'S' AS BALANCE, RUBRO, SALDO, SALDO_IVA
		INTO #SALDOS_COVID
		FROM [CIERRE].[SAF_SALDOS] A
		WHERE FECHA_SISTEMA=@FECHA_INICIO AND TIPO='C' AND RUBRO NOT IN ('PRINCIPAL_VENCIDO','SEGURO_DANOS','SEGURO_VIDA','CARGO_PORCENTAJE','INTERES_NO_EXIGIBLES')
			AND NUM_CREDITO IN (SELECT NUM_CREDITO FROM #CREDITOS_TRASPASO)

		-- SALDOS ORDEN
		SELECT NUM_CREDITO,'' as COVID,'N' AS BALANCE, RUBRO, SALDO, SALDO_IVA
		INTO #SALDOS_ORDEN
		FROM [CIERRE].[SAF_SALDOS] A
		WHERE FECHA_SISTEMA=@FECHA_INICIO AND TIPO='O' AND RUBRO NOT IN ('PRINCIPAL_VENCIDO','SEGURO_DANOS','SEGURO_VIDA','CARGO_PORCENTAJE','INTERES_NO_EXIGIBLES')
			AND NUM_CREDITO IN (SELECT NUM_CREDITO FROM #CREDITOS_TRASPASO)

		-- SALDOS INTERES NO EXIGIBLES
		SELECT NUM_CREDITO,'' as COVID,'' AS BALANCE, 'INTERESES' AS RUBRO, SALDO, SALDO_IVA
		INTO #SALDOS_INTERES_NO_EXIGIBLE
		FROM [CIERRE].[SAF_SALDOS] A
		WHERE FECHA_SISTEMA=@FECHA_INICIO AND TIPO='N' AND RUBRO IN ('INTERES_NO_EXIGIBLES')
			AND NUM_CREDITO IN (SELECT NUM_CREDITO FROM #CREDITOS_TRASPASO)

		-- SALDOS NORMAL SIN COVID SIN ORDEN
		SELECT N.NUM_CREDITO,'N' as COVID,'S' AS BALANCE, N.RUBRO
			, ISNULL(N.SALDO,0) + ISNULL(I.SALDO,0) - ISNULL(C.SALDO,0) - ISNULL(O.SALDO,0) AS SALDO
			, ISNULL(N.SALDO_IVA,0) + ISNULL(I.SALDO_IVA,0) - ISNULL(C.SALDO_IVA,0) - ISNULL(O.SALDO_IVA,0) AS SALDO_IVA
		INTO #SALDOS
		FROM [CIERRE].[SAF_SALDOS] N LEFT JOIN
			#SALDOS_COVID C ON N.NUM_CREDITO = C.NUM_CREDITO AND N.RUBRO = C.RUBRO LEFT JOIN
			#SALDOS_ORDEN O ON N.NUM_CREDITO = O.NUM_CREDITO AND N.RUBRO = O.RUBRO LEFT JOIN
			#SALDOS_INTERES_NO_EXIGIBLE I ON N.NUM_CREDITO = I.NUM_CREDITO AND N.RUBRO = I.RUBRO
		WHERE FECHA_SISTEMA=@FECHA_INICIO AND TIPO='N' AND N.RUBRO NOT IN ('PRINCIPAL_VENCIDO','SEGURO_DANOS','SEGURO_VIDA','CARGO_PORCENTAJE','INTERES_NO_EXIGIBLES')
			AND N.NUM_CREDITO IN (SELECT NUM_CREDITO FROM #CREDITOS_TRASPASO)
		

		INSERT INTO #SALDOS
		select * from #SALDOS_ORDEN

		INSERT INTO #SALDOS
		select * from #SALDOS_COVID

		DELETE FROM #SALDOS WHERE SALDO = 0 AND SALDO_IVA = 0


		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,'' AS CUENTA_CARGO
			,'' AS CUENTA_ABONO
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO NOMBRE_PRODUCTO
			,CH.ID_FONDEO
			,A.RUBRO AS RUBRO
			,A.SALDO AS MONTO
			,A.SALDO_IVA AS MON_PAGO_IVA
			,0 AS IND_FORMA_PAGO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,C.IND_ESTADO
			,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,@FECHA_INICIO AS FECHA_SISTEMA
			,0 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,CH.IND_ETAPA
			,C.MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
			,C.FEC_APERTURA
			,0 AS Id_secuencia
            ,0 AS ID_REFERENCIA
			,0 AS ID_CUENTA
			,A.COVID AS IND_COVID
			,''
			,IIF(PF.PRIMER_APELLIDO IS NULL OR PF.PRIMER_APELLIDO = '', 'NOMBRE', PF.PRIMER_APELLIDO)
			,'REEST SN CAP COM '+CASE WHEN BALANCE='S' THEN 'B' ELSE 'O' END AS TABLA_ORIGEN
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'NO' AS REVERSO
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM #SALDOS A
				INNER JOIN Quiero_Confianza_shadow.PR.PR_CREDITOS C WITH (NOLOCK) ON '001' = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
				INNER JOIN Quiero_Confianza_shadow.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
				LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
				LEFT JOIN Quiero_Confianza_shadow.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
                LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
				LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
				LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO


		-- ====== ACTUALIZACION DE CUENTA BANCO ============

        UPDATE H
		SET H.BANCO_RECEPTOR = C.DES_CUENTA+'/'+C.NUM_CUENTA
		FROM PO.SAF_MOV_ABONO H
			INNER JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE C ON H.ID_CUENTA = CAST( C.ID_CUENTA AS VARCHAR(50))
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		
		-- ======  CALIFICACION BASE DEL CONCEPTO DEACUERDO A REGLAS GLOBALES ============
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = CONCAT(CASE
					WHEN TIP_TRANSACCION IN (0,4) THEN 'CMR PAGO '
					ELSE ''
				END,
                IIF(IND_COVID = 'S', 'COVID ', ''), --# Si el registro tiene COVID le agrega la palabra
				IIF(TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR'), '', IIF(CONCEPTO='PREPAGO',dbo.FN_RUBRO_POL(RUBRO)+' CANC ',dbo.FN_RUBRO_POL(RUBRO))),  --# Si no es saldo a favor le agrega el rubro
				-- tipo_credito
				CASE WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					ELSE ' '+TIPO_CREDITO+' '
				END,
				-- canal
				CASE WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					ELSE CANAL
				END,
				-- espacio para continuar con cedido
				IIF(TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR'),'',' '),
				/*IIF(ID_PRODUCTO= 50,'', CONCAT(TIPO_VIVIENDA, ' ')),*/
				-- 'NO' OPCIONAL PARA CEDIDO
				CASE WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					ELSE IIF(ID_FONDEO = 2, 'NO ', '')
				END,
				-- RESTRINGIDO
				CASE WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					ELSE 'RESTRINGIDO '
				END,
				-- ETAPA
                CASE WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					ELSE CAST(IND_ETAPA AS VARCHAR(1))
				END) 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA AND RUBRO != '' AND ID_TIPO_CREDITO != 5

		-- GENERACION DE CONCEPTOS MEZZANINE COMERCIALES
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = CONCAT(CASE
					WHEN TIP_TRANSACCION IN (0,4) THEN 'CMR DCM PAGO '
					ELSE ''
				END,
                IIF(TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR'), '', IIF(CONCEPTO='PREPAGO',dbo.FN_RUBRO_POL(RUBRO)+' CANC ',dbo.FN_RUBRO_POL(RUBRO)))  --# Si no es saldo a favor le agrega el rubro
				) 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA AND RUBRO != '' AND ID_TIPO_CREDITO = 5

		UPDATE PO.SAF_MOV_ABONO   
		SET CONCEPTO_ANT = 
			CONCAT(CASE
					WHEN TIP_TRANSACCION IN (0,4) THEN 'CMR PAGO '
					ELSE ''
				END,
                --IIF(IND_COVID = 'S', 'COVID ', ''), --# Si el registro tiene COVID le agrega la palabra
				dbo.FN_RUBRO_POL(RUBRO), ' ',  --# Si no es saldo a favor le agrega el rubro
				TIPO_CREDITO+' ',
				CANAL,
				-- espacio para continuar con cedido
				IIF(TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR'),'',' '),
				/*IIF(ID_PRODUCTO= 50,'', CONCAT(TIPO_VIVIENDA, ' ')),*/
				-- 'NO' OPCIONAL PARA CEDIDO
				CASE WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					ELSE IIF(ID_FONDEO = 2, 'NO ', '')
				END,
				-- RESTRINGIDO
				CASE WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					ELSE 'RESTRINGIDO '
				END,
				-- ETAPA
                CASE WHEN TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN ''
					ELSE CAST(IND_ETAPA AS VARCHAR(1))
				END)
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA AND ID_TIPO_CREDITO != 5

		-- GENERACION DE CONCEPTOS MEZZANINE COMERCIALES
		UPDATE PO.SAF_MOV_ABONO   
		SET CONCEPTO_ANT = 
			CONCAT(CASE
					WHEN TIP_TRANSACCION IN (0,4) THEN 'CMR DCM PAGO '
					ELSE ''
				END,
                --IIF(IND_COVID = 'S', 'COVID ', ''), --# Si el registro tiene COVID le agrega la palabra
				dbo.FN_RUBRO_POL(RUBRO)  --# Si no es saldo a favor le agrega el rubro
				)
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA  AND ID_TIPO_CREDITO = 5


		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = REPLACE(CONCEPTO, 'PAGO ', 'PAGO CCO '),
			CONCEPTO_ANT= REPLACE(CONCEPTO_ANT, 'PAGO ', 'PAGO CCO ')
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
			AND TABLA_ORIGEN IN ('REEST SN CAP COM O')
			AND RUBRO NOT IN ('PRINCIPAL')
			AND ((ID_TIPO_CREDITO != 5) OR
			(ID_TIPO_CREDITO = 5 AND RUBRO NOT LIKE '%SEGURO%' AND RUBRO NOT LIKE '%IVA%')) -- MEZZANINE
		
		------------- ###################################### ------------------------------------------------
		------------- ###################################### ------------------------------------------------
		
		--# Variables a usar para lectura linea a linea
		DECLARE  @ID_EXTERNO		VARCHAR(15),	@NUM_CREDITO		NUMERIC(8, 0), 
				 @ID_FONDEO		    INT, 			@ID_PRODUCTO		NUMERIC(3, 0), 
				 @TIP_TRANSACCION   VARCHAR(5),		@SUBTIP_TRANSAC		VARCHAR(5), 
				 @RUBRO			    VARCHAR(30),	@MONTO				NUMERIC(16, 2), 
				 @MON_PAGO_IVA		NUMERIC(16, 2), @TIPO_CREDITO		VARCHAR(255), 
				 @TIPO_VIVIENDA		VARCHAR(150),	@FECHA_MOVIMIENTO	DATE, 
				 @IND_ESTADO		VARCHAR(2),		@NOM_CLIENTE		VARCHAR(250),
				 @ID_TIPO_CREDITO   INT,			@IND_ETAPA			INT, 
				 @MAX_INDICE		INT,			@INDICE				INT = 0,
				 @IND_FORMA_PAGO	INT,			@NOMBRE_PRODUCTO	VARCHAR(355),
				 @IND_ETAPA_ANTERIOR INT,			@IND_ETAPA_ACTUAL	INT,
				 @FECHA_ACTUAL		DATE,			@FECHA_ANTERIOR		DATE,
				 @ID_FONDEO_ACTUAL	INT,			@ID_FONDEO_ANTERIOR	INT,
				 @FEC_APERTURA		DATE,			@MON_CREDITO		NUMERIC(16, 2),
				 @CEDIDO			VARCHAR(255),   @ID_SECUENCIA	    INT,
				 @ID_CUENTA	        VARCHAR(25),	@ID_UNICO			VARCHAR(150),
				 @CONCEPTO	        VARCHAR(150),	@LEYENDA			VARCHAR(70),
				 @QUERY				VARCHAR(MAX),   @BANDERA			INT,
				 @TOTAL				DECIMAL(16,2) = 0,	@EL_RUBRO			VARCHAR(30) = '',
				 @ORDEN				DECIMAL(16,2),	@MONTO_BALANCE		DECIMAL(16,2),
				 @NUM_CREDITO_ANT	NUMERIC(8, 0) = 0,
				 @CONCEPTO_FINAL	VARCHAR(30),	@APELLIDO			VARCHAR(30)
				 ,@CANAL			VARCHAR(30)
			 
        DECLARE @MONTO_OFFSET numeric(16,6),@ORDEN_TOT numeric(16,6),@DIAS_PERIODO_INTERNO int,@fecha_ref date, @Dias_offset int


		--# variables para uso de la separacion balance/orden
		DECLARE @SUMA89 NUMERIC(16, 2), @SUMA90 NUMERIC(16, 2), @FAVOR NUMERIC(16, 2), @IMPAGO DATE, @ETAPA_3_INI  DATE, @DIA_CORTE int
		
		--# Tabla temporal para almacenar la fila a trabajar
		DECLARE @MOVS TABLE (ID INT, ID_EXTERNO VARCHAR(15), NUM_CREDITO NUMERIC(8, 0), NOM_CLIENTE VARCHAR(250), ID_PRODUCTO NUMERIC(3,0), 
							NOMBRE_PRODUCTO VARCHAR(355), ID_FONDEO INT, TIP_TRANSACCION VARCHAR(5), SUBTIP_TRANSAC VARCHAR(5),
							RUBRO VARCHAR(30), MONTO NUMERIC(16, 2), MON_PAGO_IVA NUMERIC(16,2), ID_TIPO_CREDITO INT, 
							TIPO_CREDITO VARCHAR(255), TIPO_VIVIENDA VARCHAR(150), FECHA_MOVIMIENTO DATETIME, IND_ESTADO VARCHAR(2), 
							CARTERA_VENCIDA VARCHAR(2), IND_ETAPA INT, IND_FORMA_PAGO INT, FEC_APERTURA DATE, CEDIDO VARCHAR(255),
							MON_CREDITO NUMERIC(16, 2), ID_SECUENCIA	INT, ID_REFERENCIA INT, ID_CUENTA	VARCHAR(25), ID_UNICO VARCHAR(150), CONCEPTO VARCHAR(150),
							CONCEPTO_FINAL VARCHAR(30), APELLIDO VARCHAR(30), CANAL VARCHAR(30))

		--# Se insertan todos los registros que se trabajaran con un indice a la tabla temporal
		INSERT INTO @MOVS (ID, ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO,
							NOMBRE_PRODUCTO, ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC,
							RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
							TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, 
							IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, ID_UNICO, CONCEPTO,
							CONCEPTO_FINAL, APELLIDO, CANAL)
		SELECT ROW_NUMBER() OVER (ORDER BY NUM_CREDITO, RUBRO, ID_SECUENCIA, ID_REFERENCIA) ID
			,ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, 
			NOMBRE_PRODUCTO, ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC
			,RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
			TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, 
			IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, ID, CONCEPTO,
			CONCEPTO_FINAL, APELLIDO, CANAL
			FROM PO.SAF_MOV_ABONO
            WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			    AND ID_POLIZA = @ID_POLIZA AND RUBRO != ''
				AND IND_ETAPA = 3
				AND RUBRO NOT IN ('PRINCIPAL','SALDO_FAVOR','COMISION_PREPAGO','IVA COMISION_PREPAGO') 
				AND CONCEPTO NOT LIKE '%COVID%'
				AND TABLA_ORIGEN NOT IN ('REEST SN CAP COM B','REEST SN CAP COM O')
				AND ((ID_TIPO_CREDITO != 5) OR
				(ID_TIPO_CREDITO = 5 AND RUBRO NOT LIKE '%SEGURO%' AND RUBRO NOT LIKE '%IVA%')) -- MEZZANINE

		--# Se obtiene el tamaño total de registros
		SELECT @MAX_INDICE = COUNT(ID)
		FROM @MOVS

		WHILE @INDICE < @MAX_INDICE	BEGIN
			--# BLOC: lee todos los campos del registro actual
			SELECT @ID_EXTERNO = ID_EXTERNO, @NUM_CREDITO = NUM_CREDITO, @NOM_CLIENTE = NOM_CLIENTE, @ID_PRODUCTO = ID_PRODUCTO, 
				@NOMBRE_PRODUCTO = NOMBRE_PRODUCTO, @ID_FONDEO = ID_FONDEO, @TIP_TRANSACCION = TIP_TRANSACCION, @SUBTIP_TRANSAC = SUBTIP_TRANSAC,
				@RUBRO = RUBRO, @MONTO = MONTO, @MON_PAGO_IVA = MON_PAGO_IVA, @ID_TIPO_CREDITO = ID_TIPO_CREDITO, 
				@TIPO_CREDITO = TIPO_CREDITO, @TIPO_VIVIENDA = TIPO_VIVIENDA, @FECHA_MOVIMIENTO = FECHA_MOVIMIENTO, 
				@IND_ESTADO = IND_ESTADO, @IND_ETAPA = IND_ETAPA, @IND_FORMA_PAGO = IND_FORMA_PAGO, @FEC_APERTURA = FEC_APERTURA, @CEDIDO = CEDIDO, @MON_CREDITO = MON_CREDITO,
				@IND_ETAPA_ACTUAL = IND_ETAPA, @FECHA_ACTUAL = FECHA_MOVIMIENTO, @ID_FONDEO_ACTUAL = ID_FONDEO,
				@ID_SECUENCIA = ID_SECUENCIA, @ID_CUENTA = ID_CUENTA, @ID_UNICO = ID_UNICO, @CONCEPTO = CONCEPTO,
				@CONCEPTO_FINAL = CONCEPTO_FINAL, @APELLIDO = APELLIDO, @CANAL = CANAL
			FROM @MOVS WHERE ID = @INDICE + 1
			--# BLOC_END

			--# BLOC: inicializan variables
			SELECT @IND_ETAPA_ANTERIOR = 0, @FECHA_ANTERIOR = NULL, @ID_FONDEO_ANTERIOR = NULL, @LEYENDA = ''
			--# BLOC_END

			--# BLOC: toma valores dia anterior
			SELECT @IND_ETAPA_ANTERIOR = IND_ETAPA, @FECHA_ANTERIOR = FECHA_SISTEMA, @ID_FONDEO_ANTERIOR = ID_FONDEO
			FROM PO.CONTROL_HISTORICO_TRASPASOS WITH (NOLOCK)
			WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_SISTEMA = @FECHA_ANT
			--# BLOC_END

--print '|@NUM_CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')+'|@IND_ETAPA_ACTUAL:|'+isnull(cast(@IND_ETAPA_ACTUAL as varchar),'')+'|@IND_ETAPA_ANTERIOR:|'+isnull(cast(@IND_ETAPA_ANTERIOR as varchar),'')

			-- # TRATAMIENTO PARA SEPARACION DE CUENTAS BALANCE/ORDEN ETAPA 3    @IND_ETAPA_ANTERIOR
			--IF (@IND_ETAPA_ACTUAL = 3 OR @IND_ETAPA_ACTUAL = 1) AND @DE_TIPO = 'new' AND @RUBRO
       --print '|NUM_CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')+'|NUM_CREDITO_ANT:|'+isnull(cast(@NUM_CREDITO_ANT as varchar),'')+'|RUBRO:|'+isnull(cast(@RUBRO as varchar),'')+'|EL_RUBRO:|'+isnull(cast(@EL_RUBRO as varchar),'')
			/*IF (@IND_ETAPA_ACTUAL = 3)
				AND @RUBRO IN('IVA MORATORIOS', 'MORATORIOS', 'INTERESES', 'IVA INTERESES', 'COMISION_ADMINISTRACION', 'SEGURO_DANOS', 'IVA SEGURO_DANOS', 'SEGURO_VIDA', 'IVA SEGURO_VIDA', 'IVA COMISION_ADMINISTRACION', 'CARGO_PORCENTAJE', 'IVA CARGO_PORCENTAJE')
				AND @CONCEPTO NOT LIKE '%COVID%' 
				--AND EXISTS( SELECT TOP 1 MONTO_BALANCE FROM PO.CALC_BALANCE_ORDEN WHERE NUM_CREDITO = @NUM_CREDITO )
			BEGIN*/

      -- print '|NUM_CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')+'|NUM_CREDITO_ANT:|'+isnull(cast(@NUM_CREDITO_ANT as varchar),'')+'|RUBRO:|'+isnull(cast(@RUBRO as varchar),'')+'|EL_RUBRO:|'+isnull(cast(@EL_RUBRO as varchar),'')
			        IF @NUM_CREDITO != @NUM_CREDITO_ANT BEGIN
				        --UPDATE PO.CALC_BALANCE_ORDEN SET MONTO_BALANCE = @SUMA89 - @TOTAL WHERE NUM_Credito = @NUM_CREDITO_ANT AND RUBRO = @EL_RUBRO
				        SELECT @NUM_CREDITO_ANT = @NUM_CREDITO, @TOTAL = 0
                        --print '==============================================================='
                        --print '|CAMBIO Cred:|'+isnull(cast(@NUM_CREDITO as varchar),'')
			        END

					IF @EL_RUBRO != @RUBRO  BEGIN --- OR @NUM_CREDITO != @NUM_CREDITO_ANT
						/*IF @TOTAL != 0 BEGIN
							UPDATE PO.CALC_BALANCE_ORDEN SET MONTO_BALANCE = @SUMA89 - @TOTAL WHERE NUM_Credito = @NUM_CREDITO AND RUBRO = @EL_RUBRO
						END*/


						--# BLOC: inicializa variables, lee impago y balance
						SELECT @BANDERA = 0, @EL_RUBRO = @RUBRO, @TOTAL = 0, @SUMA89 = 0, @ORDEN = 0
                        --print '|CAMBIO rub:|'+isnull(cast(@RUBRO as varchar),'')
						--SELECT @IMPAGO = FECHA_INICIO, @SUMA89 = MONTO_BALANCE FROM PO.CALC_BALANCE_ORDEN WHERE NUM_CREDITO = @NUM_CREDITO AND RUBRO = @RUBRO

                        --------------------------------------------------------------------------------------------------------------------------
                        SET @ETAPA_3_INI = dbo.FECHA_IMPAGO(@NUM_CREDITO)

                        --print '|ETAPA_3_INI:|'+isnull(cast(@ETAPA_3_INI as varchar),'')+'|NUM_CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')

                        if not @ETAPA_3_INI is null begin --se encuentra en etapa 3
                            if @RUBRO IN ('INTERESES') begin

                                SELECT @SUMA89 = isnull(sum(B.MON_PAGO),0),@fecha_ref = max(FEC_COBRO)
                                FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                    Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                    Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                                WHERE A.TIP_TRANSACCION = 4 -- AND A.COD_ESTADO = 'A'
                                    AND C.NUM_CREDITO = @NUM_CREDITO
                                    and C.cod_rubro = @RUBRO
                                    and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                    and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI


                                select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)
                                from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA
                                where num_credito = @NUM_CREDITO
                                    and @fecha_ref <= fecha_calculo and fecha_calculo < @ETAPA_3_INI

                                if @SUMA89 > 0 begin
                                    set @SUMA89 = @SUMA89 + @MONTO_OFFSET
                                end

                                set @SUMA89 = isnull(@SUMA89,0)

                            end else if @RUBRO IN ('IVA INTERESES') begin

                                SELECT @SUMA89 = isnull(sum(B.MON_PAGO_IVA),0),@fecha_ref = max(FEC_COBRO)
                                FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                    Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                    Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                                WHERE A.TIP_TRANSACCION = 4 -- AND A.COD_ESTADO = 'A'
                                    AND C.NUM_CREDITO = @NUM_CREDITO
                                    and C.cod_rubro = replace(@RUBRO,'IVA ','')
                                    and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                    and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI

                                select @MONTO_OFFSET = isnull(sum(MON_DIARIO),0)*0.16
                                from Quiero_Confianza_shadow.PR.PR_CALCULO_INTERESES_DIA
                                where num_credito = @NUM_CREDITO
                                    and @fecha_ref <= fecha_calculo and fecha_calculo < @ETAPA_3_INI

                                if @SUMA89 > 0 begin
                                    set @SUMA89 = @SUMA89 + @MONTO_OFFSET
                                end

                                set @SUMA89 = isnull(@SUMA89,0)

                            end else if @RUBRO Like 'IVA%' begin

                                SELECT @SUMA89 = isnull(sum(B.MON_PAGO_IVA),0)
                                FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                    Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                    Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                                WHERE A.TIP_TRANSACCION = 4-- AND A.COD_ESTADO = 'A'
                                    AND C.NUM_CREDITO = @NUM_CREDITO
                                    and C.cod_rubro = replace(@RUBRO,'IVA ','')
                                    and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                    and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI--C.fec_cobro <= @ETAPA_3_INI_1M

                            end else begin

                                SELECT @SUMA89 = isnull(sum(B.MON_PAGO),0)
                                FROM Quiero_Confianza_shadow.PR.PR_ENCABEZADO_PAGO A INNER JOIN
                                    Quiero_Confianza_shadow.PR.PR_DETALLE_PAGO B ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
                                    Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON C.NUM_SECUENCIA = B.ID_REFERENCIA AND A.NUM_CREDITO = C.NUM_CREDITO AND C.NUM_DET_SECUENCIA = B.NUM_DET_SECUENCIA AND C.COD_RUBRO = B.COD_CONCEPTO
                                WHERE A.TIP_TRANSACCION = 4-- AND A.COD_ESTADO = 'A'
                                    AND C.NUM_CREDITO = @NUM_CREDITO
                                    and C.cod_rubro = @RUBRO
                                    and A.FEC_MOVIMIENTO = @FECHA_INICIO
                                    and C.FEC_EXIGIBLE_PAGO <= @ETAPA_3_INI--C.fec_cobro <= @ETAPA_3_INI_1M

                            end
                        end

                        --print '|NUM_CREDITO:|'+isnull(cast(@NUM_CREDITO as varchar),'')+'|RUBRO:|'+isnull(cast(@RUBRO as varchar),'')+'|@ETAPA_3_INI_1M:|'+isnull(cast(@ETAPA_3_INI_1M as varchar),'')+'|SUMA89:|'+isnull(cast(@SUMA89 as varchar),'')
					END

					--# BLOC: incrementa total
					SET  @TOTAL =  @TOTAL + @MONTO
					--# BLOC_END
		

					--#	SOLO SE VALIDA UNA UNICA OCACION SI EL PAGO DEBE DIVIDIRSE
                    --print '|@TOTAL:|'+isnull(cast(@TOTAL as varchar),'')+'|@MONTO:|'+isnull(cast(@MONTO as varchar),'')+'|@SUMA89:|'+isnull(cast(@MONTO as varchar),'')+'|@ORDEN:|'+isnull(cast(@ORDEN as varchar),'')+'|@BANDERA:|'+isnull(cast(@BANDERA as varchar),'')
					IF @BANDERA = 0 BEGIN
						IF @TOTAL > @SUMA89 AND @SUMA89 > 0 BEGIN
							SELECT @ORDEN = @TOTAL - @SUMA89, @BANDERA = 1
							IF @ORDEN != 0 BEGIN

									INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
											CONCEPTO, CONCEPTO_ANT, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
											TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO, TABLA_ORIGEN, ID_POLIZA,ID_SECUENCIA,ID_CUENTA, BANCO_RECEPTOR, REVERSO,
											CANAL)
									SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
											REPLACE(CONCEPTO, 'PAGO ', 'PAGO CCO '), REPLACE(CONCEPTO_ANT, 'PAGO ', 'PAGO CCO '),
											NOMBRE_PRODUCTO, RUBRO, @ORDEN, 0, ID_TIPO_CREDITO, 
											TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
											FEC_APERTURA, CEDIDO, 'REEST SN CAP COM', ID_POLIZA,ID_SECUENCIA,ID_CUENTA, BANCO_RECEPTOR, REVERSO, CANAL
									FROM PO.SAF_MOV_ABONO 
									WHERE ID_POLIZA = @ID_POLIZA
                                        AND ID = @ID_UNICO
                                        --AND CONCEPTO NOT LIKE '%COVID%' AND NUM_CREDITO = @NUM_CREDITO AND RUBRO = @RUBRO AND FECHA_MOVIMIENTO BETWEEN @FECHA_FIN AND @FECHA_FIN
						
									UPDATE PO.SAF_MOV_ABONO SET MONTO = MONTO - @ORDEN --, CONCEPTO = REPLACE(CONCEPTO, 'PAGO ', 'PAGO CO ') --COAA
									WHERE ID = @ID_UNICO

									IF (@MONTO - @ORDEN) = 0 BEGIN
										DELETE FROM PO.SAF_MOV_ABONO  WHERE ID = @ID_UNICO	
									END
						
							END --# @ORDEN != 0
						
						END --# @TOTAL > @SUMA89 AND @SUMA89 >
					END

					IF @TOTAL >  @SUMA89 BEGIN
						IF @ORDEN <= 0 BEGIN
							UPDATE PO.SAF_MOV_ABONO SET CONCEPTO = REPLACE(CONCEPTO, 'PAGO ', 'PAGO CCO '), --COBB
														CONCEPTO_ANT= REPLACE(CONCEPTO_ANT, 'PAGO ', 'PAGO CCO ')
							WHERE ID = @ID_UNICO
						END
						SET  @ORDEN = 0

					END -- # @MONTO > @SUMA89

			--END -- # ETAPA 3

			SET @INDICE = @INDICE + 1
		END --# WHILE


		INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
										FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA,ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, APELLIDO, TABLA_ORIGEN, ID_POLIZA, REVERSO,
										CONCEPTO, CONCEPTO_ANT, IND_NEGATIVO, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, -1* MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
				FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, BANCO_RECEPTOR, IND_COVID, APELLIDO, 'REEST SN CAP COM', @ID_POLIZA,REVERSO,
				CONCEPTO, CONCEPTO_ANT, 1, CANAL
		FROM PO.SAF_MOV_ABONO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		    AND ID_POLIZA = @ID_POLIZA AND CONCEPTO LIKE '% CCO %'
		------------- ###################################### ------------------------------------------------
		------------- ###################################### ------------------------------------------------
		-- ASIGNAR CONCEPTO ANTERIOR A REGISTROS DE ORDEN 
		/*UPDATE PO.SAF_MOV_ABONO 
		SET CONCEPTO_ANT = CONCEPTO
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA AND CONCEPTO LIKE '%CCO%' */
		
		UPDATE H
		SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
		SET H.ID_CONCEPTO_ANT = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO_ANT 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H
		SET H.CUENTA_CARGO = CC.CUENTA_ABONO 
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA AND H.CONCEPTO NOT LIKE '%CCO%'

		UPDATE H
		SET H.CUENTA_CARGO = CC.CUENTA_CARGO 
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA AND H.CONCEPTO LIKE '%CCO%'

		UPDATE H
		SET H.CUENTA_ABONO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA --AND H.CONCEPTO NOT LIKE '%CCO%'

		/*UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA AND H.CONCEPTO LIKE '%CCO%' AND REVERSO = 'B'*/

		--UPDATE PO.SAF_MOV_ABONO SET REVERSO = NULL WHERE REVERSO = 'B' 
		----------- ########### Valida si hay cuenta SAF
		UPDATE H
		SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = CAST( B.ID_CUENTA AS VARCHAR(50))
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
		SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza_shadow.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza_shadow.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
	    

		--no deben quedar nulos en las cuentas
        UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            and CUENTA_CARGO is null

	    
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO_FINAL = LEFT(
			CONCAT( 'REEST COM ', 
					ID_EXTERNO, ' ', 
					NOM_CLIENTE), 100)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA


		UPDATE PO.SAF_MOV_ABONO
		SET  CUENTA_CARGO = CUENTA_ABONO
			,CUENTA_ABONO = CUENTA_CARGO
			,MONTO = -MONTO
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
			AND MONTO < 0

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY,TIPO varchar(1))
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO, TIPO)
		SELECT CONCEPTO_FINAL, A.CUENTA_CARGO AS CUENTA, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO,'C'
		FROM [PO].[SAF_MOV_ABONO] A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO, TIPO)
		SELECT CONCEPTO_FINAL, A.CUENTA_ABONO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_ABONO,'A'
		FROM [PO].[SAF_MOV_ABONO] A
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
			

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		GROUP BY CONCEPTO, CUENTA, TIPO

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

	
		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
	
END
GO
