SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20240405
-- Description:	valida, agrega y actualiza una cuenta contable
-- =============================================
CREATE PROCEDURE [PO].[SYS_SP_CUENTA_AGR]
	 @concepto varchar(100)
    ,@cargo varchar(100)
    ,@abono varchar(100)
    ,@id_poliza int
AS
BEGIN
	SET NOCOUNT ON;

    declare @id_concepto int

    set @concepto = rtrim(ltrim(@concepto))

    if dbo.FN_CUENTA_NO_VALIDA(@cargo) = 1 begin
        print 'Cuenta ' + @cargo + ' con formato incorrecto'
        return
    end

    if dbo.FN_CUENTA_NO_VALIDA(@abono) = 1 begin
        print 'Cuenta ' + @abono + ' con formato incorrecto'
        return
    end

    if len(@concepto)>100 begin
        print 'Concepto ' + @concepto + ' -  excede el largo permitido'
        return
    end

    if @concepto like 'TRASPASO %' begin
        print 'Concepto ' + @concepto + ' -  debe se configurarse su concepto equivalente de pago en la poliza de cobranza '
        return
    end

    if @concepto like '%  %' begin
        print 'Concepto ' + @concepto + ' - le falta una parte de estructura'
        return
    end

    --if @concepto like '% CONSUMO %' and @concepto like '% EMPLEADO %' begin
    --    print 'Concepto '+@concepto+'  - cuenta no puede existir'
    --    return
    --end

    --if @concepto like '% EMPLEADO %' begin
    --    print 'Concepto - referencia EMPLEADO encontrada internamente'
    --    return
    --end



    select @id_concepto = id from [PO].[SAF_CATALOGO_CONCEPTOS] where concepto = @concepto
    
    if @id_concepto is null begin

        INSERT INTO PO.SAF_CATALOGO_CONCEPTOS
               ( CONCEPTO, COD_RUBRO, DES_RUBRO, IND_ACTIVO, FECHA)
        VALUES (@concepto, 'manual'    , 'manual'    , 1         ,getdate())

        set @id_concepto = @@IDENTITY

    end else begin

        UPDATE       PO.SAF_CATALOGO_CONCEPTOS
        SET   CONCEPTO = @concepto
            --, COD_RUBRO = 'abc'
            --, DES_RUBRO = 'abc'
            , IND_ACTIVO = 1
            , FECHA = getdate()
         where id = @id_concepto

    end
    

    if exists(select top 1 * from [PO].[SAF_CAT_CONTABLE] where ID_CONCEPTO = @id_concepto ) begin

        UPDATE       PO.SAF_CAT_CONTABLE
        SET   ID_CONCEPTO = @id_concepto
            , CUENTA_ABONO = @abono
            , CUENTA_CARGO = @cargo
            , IND_ACTIVO = 1
            , FECHA = getdate()
            , ID_POLIZA = @id_poliza
        where ID_CONCEPTO = @id_concepto

    end else begin

        INSERT INTO PO.SAF_CAT_CONTABLE
               ( ID_CONCEPTO, CUENTA_ABONO, CUENTA_CARGO, IND_ACTIVO, FECHA   ,  ID_POLIZA)
        VALUES (@id_concepto, @abono      , @cargo      , 1         ,getdate(), @id_poliza)

    end



END
GO
