SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_MOV_DEVOLUCIONES](
	[ID] [uniqueidentifier] NOT NULL,
	[NOM_CLIENTE] [varchar](250) NULL,
	[ID_CONCEPTO] [int] NULL,
	[CONCEPTO] [varchar](255) NULL,
	[MONTO] [numeric](20, 6) NULL,
	[FECHA_MOVIMIENTO] [date] NULL,
	[ID_POLIZA] [int] NULL,
	[CUENTA_CARGO] [varchar](100) NULL,
	[CUENTA_ABONO] [varchar](100) NULL,
	[IND_ESTADO] [varchar](1) NULL,
	[BANCO_RECEPTOR] [varchar](50) NULL,
	[TABLA_ORIGEN] [varchar](20) NULL,
	[NUM_REFERENCIA] [varchar](25) NULL,
	[CONCEPTO_FINAL] [varchar](100) NULL,
	[IND_ESTADO_CREDITOS] [varchar](1) NULL,
	[CARTERA_CREDITO] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_MOV_DEVOLUCIONES] ADD  DEFAULT (newid()) FOR [ID]
GO
