SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:    20240822
-- Descripcion:	Operaciones finales para la generacion de una poliza contable
--              agraga registro de ajuste, borra y agrega poliza en tablas permanentes
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_FINALIZA]
	 @FECHA_INICIO DATE
    ,@ID_POLIZA int
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @COMPARACION MONEY
        ,@DESCRIPCION_POLIZA varchar(50)
        ,@CONTEO INT
        ,@CUENTA_CARGO_GENERICA VARCHAR(30)

    select @DESCRIPCION_POLIZA = DESCRIPCION
    from PO.CAT_TIPO_POLIZA
    where id = @ID_POLIZA

    -- validacion, si hay cargo y abono con la cuenta generica se separa el movimiento en dos lineas
    if exists(select ID  from PO.CAT_TIPO_POLIZA where DESCRIPCION like '%CMR%' and ID = @ID_POLIZA) begin

        SET @CUENTA_CARGO_GENERICA = dbo.FN_CUENTA_OBTENER('CARGO','GENERICA_CMR')

    end else begin

        SET @CUENTA_CARGO_GENERICA = dbo.FN_CUENTA_OBTENER('CARGO','GENERICA')

    end

    update #POLIZAF
    set CUENTA = @CUENTA_CARGO_GENERICA
    where (CUENTA IS NULL OR CUENTA = '')

	INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
	SELECT               CONCEPTO, CUENTA, MONTO_CARGO, 0
	FROM #POLIZAF
	WHERE MONTO_CARGO > 0 AND MONTO_ABONO > 0 AND CUENTA = @CUENTA_CARGO_GENERICA

    update #POLIZAF
    set  MONTO_CARGO = 0
    where MONTO_CARGO > 0 AND MONTO_ABONO > 0 AND CUENTA = @CUENTA_CARGO_GENERICA

    -- validacion si hay cargo y abono en cuenta normal
    update #POLIZAF
    set  MONTO_CARGO = case when MONTO_CARGO - MONTO_ABONO > 0 then   MONTO_CARGO - MONTO_ABONO  else 0 end
        ,MONTO_ABONO = case when MONTO_CARGO - MONTO_ABONO < 0 then -(MONTO_CARGO - MONTO_ABONO) else 0 end
    where MONTO_CARGO > 0 and MONTO_ABONO > 0

    -- validacion de montos negativos
    update #POLIZAF
    set  MONTO_CARGO = 0
        ,MONTO_ABONO = -MONTO_CARGO
    where MONTO_CARGO < 0

    update #POLIZAF
    set  MONTO_CARGO = -MONTO_ABONO
        ,MONTO_ABONO = 0
    where MONTO_ABONO < 0

    -- validacion de movimiento en 0
    delete from #POLIZAF where MONTO_CARGO = 0 and MONTO_ABONO = 0

    ---- INSERT REGISTRO DE VARIACION POR CENTAVOS
	SELECT @COMPARACION = SUM(MONTO_CARGO) - SUM(MONTO_ABONO),@CONTEO = COUNT(*) FROM #POLIZAF

	if ABS(@COMPARACION) < .10 begin
	    IF @COMPARACION > 0 BEGIN
		    INSERT INTO #POLIZAF (CONCEPTO                 ,CUENTA                                    , MONTO_CARGO, MONTO_ABONO      )
		    VALUES(CONCAT('VARIACION ',@DESCRIPCION_POLIZA),dbo.FN_CUENTA_OBTENER('ABONO','VARIACION'), 0          , ABS(@COMPARACION))
	    END
	    IF @COMPARACION < 0 BEGIN
		    INSERT INTO #POLIZAF (CONCEPTO                 ,CUENTA                                    , MONTO_CARGO      , MONTO_ABONO)
		    VALUES(CONCAT('VARIACION ',@DESCRIPCION_POLIZA),dbo.FN_CUENTA_OBTENER('CARGO','VARIACION'), ABS(@COMPARACION), 0          )
	    END
    end

    delete from PO.SAF_POLIZA_HISTORICO_DET where FECHA_SISTEMA = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
    delete from PO.SAF_POLIZA_HISTORICO_ENC where FECHA_SISTEMA = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

    if @CONTEO > 0 begin

        INSERT INTO PO.SAF_POLIZA_HISTORICO_ENC
                (FECHA_SISTEMA,  ID_POLIZA, ESTATUS   , FECHA_GENERACION)
        VALUES (@FECHA_INICIO , @ID_POLIZA, 'GENERADA', GETDATE())

        INSERT INTO PO.SAF_POLIZA_HISTORICO_DET
               (FECHA_SISTEMA,  ID_POLIZA, CONCEPTO, CUENTA,       CARGO,       ABONO)
	    SELECT @FECHA_INICIO , @ID_POLIZA, CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO
	    FROM #POLIZAF

    end

END
GO
