SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Daniel Aros
-- Creacion:	20240612
-- Descripcion:	Valida si existe el ID_EXTERNO en la tabla de PR_CREDITO
-- =============================================
CREATE PROCEDURE [PO].[VALIDAR_ID_EXTERNO]
	@ID_EXTERNO VARCHAR(15)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT ID_EXTERNO FROM Quiero_Confianza_shadow.PR.PR_CREDITOS WHERE ID_EXTERNO = @ID_EXTERNO;
END
GO
