SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20260408
-- Descripcion:	Realiza la importacion de un txt separado por | para las alertas de tasas de saf
-- =============================================
CREATE PROCEDURE [SAF].[SP_TASAS_ALERTAS_IMPORTA]
     @REGISTRADO_POR varchar(100)
	,@archivo varchar(max)
AS
BEGIN
	SET NOCOUNT ON;

    CREATE TABLE #ALERTAS(
	    [NUM_CREDITO] [int] NOT NULL,
	    [NUM_CUOTA] [int] NOT NULL,
	    [FECHA] [date] NOT NULL,
	    [TASA] [numeric](9, 6) NOT NULL,
	    [MONTO_FIJO] [numeric](12, 2) NOT NULL,
    )

    CREATE TABLE #RESULTADO(
	    MENSAJE varchar(200)
    )

    declare @ini int,@fin int,@tamano int,@linea int,@renglon varchar(max)
	,@NUM_CREDITO int
	,@NUM_CUOTA int
	,@FECHA date
	,@TASA numeric(9, 6)
	,@MONTO_FIJO numeric(12, 2)
    ,@CONTEO_ALERTAS int

    ,@ind1 int
    ,@ind2 int
    ,@ind3 int
    ,@ind4 int

    set @linea = 0
    set @tamano = LEN(@archivo)+1
    set @ini = 1 
    set @fin = CHARINDEX(CHAR(10),@archivo)
    
    while @ini < @fin begin

        set @renglon = replace(replace(SUBSTRING(@archivo,@ini,@fin-@ini),CHAR(10),''),CHAR(13),'')
        set @linea = @linea + 1
        if @linea > 1 begin

            set @ind1 = CHARINDEX('|',@renglon,1)
            set @ind2 = CHARINDEX('|',@renglon,@ind1+1)
            set @ind3 = CHARINDEX('|',@renglon,@ind2+1)
            set @ind4 = CHARINDEX('|',@renglon,@ind3+1)

            if @ind4 > 0 begin

	            set @NUM_CREDITO = SUBSTRING(@renglon,1      ,@ind1-1)
	            set @NUM_CUOTA   = SUBSTRING(@renglon,@ind1+1,@ind2-@ind1-1)
	            set @FECHA       = CONVERT(date, SUBSTRING(@renglon,@ind2+1,@ind3-@ind2-1), 103)
	            set @TASA        = SUBSTRING(@renglon,@ind3+1,@ind4-@ind3-1)
	            set @MONTO_FIJO  = SUBSTRING(@renglon,@ind4+1,len(@renglon)-@ind4)

                INSERT INTO #ALERTAS (NUM_CREDITO, NUM_CUOTA, FECHA, TASA, MONTO_FIJO)
                VALUES              (@NUM_CREDITO,@NUM_CUOTA,@FECHA,@TASA,@MONTO_FIJO)

            end
        end 

        if  @fin = @tamano begin
            break
        end 

        set @ini = @fin
        set @fin = CHARINDEX(CHAR(10),@archivo,@fin+1)

        if @fin = 0 begin
            set @fin = @tamano
        end 

    end
    --  Validaciones     -----------------------------------------------------------------------------------

    -- validacion de existencia de credito
    select A.NUM_CREDITO
    into #VAL_EXISTE
    from #ALERTAS A
        left join Quiero_Confianza_shadow.PR.PR_CREDITOS C ON  C.NUM_CREDITO = A.NUM_CREDITO
    where C.NUM_CREDITO is null

    delete from #ALERTAS where num_credito in (select num_credito from #VAL_EXISTE)

    INSERT INTO #RESULTADO(MENSAJE) 
    select distinct 'En SAF no existe el crédito ' + cast(NUM_CREDITO as varchar)
    from #VAL_EXISTE

    -- valida credito activo
    select A.NUM_CREDITO
    into #VAL_ACTIVO
    from #ALERTAS A
        inner join Quiero_Confianza_shadow.PR.PR_CREDITOS C ON  C.NUM_CREDITO = A.NUM_CREDITO
    where not C.IND_ESTADO IN ('D')

    delete from #ALERTAS where num_credito in (select num_credito from #VAL_ACTIVO)

    INSERT INTO #RESULTADO(MENSAJE) 
    select distinct 'En SAF no esta activo el crédito ' + cast(NUM_CREDITO as varchar)
    from #VAL_ACTIVO

    -- valida cuota existente
    select A.NUM_CREDITO,A.NUM_CUOTA
    into #VAL_CUOTA_EXISTE
    from #ALERTAS A
        left join Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON  C.NUM_CREDITO = A.NUM_CREDITO and C.NUM_SECUENCIA = A.NUM_CUOTA
    where C.NUM_CREDITO is null

    INSERT INTO #RESULTADO(MENSAJE) 
    select distinct 'En SAF no existe la cuota ' + cast(NUM_CUOTA as varchar) + ' del crédito ' + cast(NUM_CREDITO as varchar)
    from #VAL_CUOTA_EXISTE

    DELETE A
    FROM #ALERTAS A
        INNER JOIN #VAL_CUOTA_EXISTE V ON A.NUM_CREDITO = V.NUM_CREDITO AND A.NUM_CUOTA = V.NUM_CUOTA

    -- valida cuota activa
    select distinct A.NUM_CREDITO,A.NUM_CUOTA
    into #VAL_CUOTA_ACTIVA
    from #ALERTAS A
        inner join Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO C ON  C.NUM_CREDITO = A.NUM_CREDITO and C.NUM_SECUENCIA = A.NUM_CUOTA
    where not C.IND_ESTADO = 'P'

    INSERT INTO #RESULTADO(MENSAJE) 
    select distinct 'En SAF no se encuentra activa la cuota ' + cast(NUM_CUOTA as varchar) + ' del crédito ' + cast(NUM_CREDITO as varchar)
    from #VAL_CUOTA_ACTIVA

    DELETE A
    FROM #ALERTAS A
        INNER JOIN #VAL_CUOTA_ACTIVA V ON A.NUM_CREDITO = V.NUM_CREDITO AND A.NUM_CUOTA = V.NUM_CUOTA
    
    -- valida que no se tenga alguna alerta ya registrada para la cuota
    select distinct A.NUM_CREDITO,A.NUM_CUOTA
    into #VAL_CUOTA_DUPLICADA
    from #ALERTAS A
        inner join SAF.TASAS_ALERTAS C ON  C.NUM_CREDITO = A.NUM_CREDITO and C.NUM_CUOTA = A.NUM_CUOTA

    INSERT INTO #RESULTADO(MENSAJE) 
    select distinct 'Ya se encuentra registro de alerta para la cuota ' + cast(NUM_CUOTA as varchar) + ' del crédito ' + cast(NUM_CREDITO as varchar)
    from #VAL_CUOTA_DUPLICADA

    DELETE A
    FROM #ALERTAS A
        INNER JOIN #VAL_CUOTA_DUPLICADA V ON A.NUM_CREDITO = V.NUM_CREDITO AND A.NUM_CUOTA = V.NUM_CUOTA


    --  Resumen de carga -----------------------------------------------------------------------------------

    if not exists (SELECT * FROM #RESULTADO) BEGIN

        INSERT INTO [SAF].[TASAS_ALERTAS]
			    (ID     ,NUM_CREDITO,NUM_CUOTA,FECHA,TASA,MONTO_FIJO,ESTADO,ACTIVO,REGISTRADO_FECHA, REGISTRADO_POR)
        SELECT   newid(),NUM_CREDITO,NUM_CUOTA,FECHA,TASA,MONTO_FIJO,'P'   ,1     ,getdate()       ,@REGISTRADO_POR
	    FROM #ALERTAS

        SELECT @CONTEO_ALERTAS = count(*)
        FROM #ALERTAS


        INSERT INTO #RESULTADO(MENSAJE) VALUES('Proceso terminado correctamente, se cargaron ' + cast(@CONTEO_ALERTAS as varchar) + ' alertas.')

    END


    SELECT * FROM #RESULTADO

END
GO
