SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20260414
-- Descripcion:	Consulta para el envio de correo para alerta de tasas que esten a 5 dias para realizarse
-- =============================================
CREATE PROCEDURE [SAF].[SP_TASAS_ALERTAS_ENVIO]
AS
BEGIN
	SET NOCOUNT ON;
	declare @FECHA_HOY date, @PER_INI date, @PER_FIN date

	CREATE TABLE #ALERTAS(
		[ID] [uniqueidentifier] NOT NULL,
		[NUM_CREDITO] [int] NOT NULL,
		[NUM_CUOTA] [int] NOT NULL,
		[FECHA] [date] NOT NULL,
		[TASA] [numeric](9, 6) NOT NULL,
		[MONTO_FIJO] [numeric](12, 2) NOT NULL,
		[APORTACION] [varchar](30) NULL
	)

	declare @ID uniqueidentifier,
		@NUM_CREDITO int,
		@NUM_CUOTA int,
		@FECHA date,
		@TASA numeric(9, 6),
		@MONTO_FIJO numeric(12, 2),
		@APORTACION varchar(30)


	set @FECHA_HOY = getdate()

	UPDATE SAF.TASAS_ALERTAS
	SET ESTADO = 'E'
	WHERE ESTADO = 'P' AND ACTIVO = 1
		AND FECHA <= @FECHA_HOY


	exec CursorCloseDeallocate 'db_cursor_tasas_alertas_correo'
    DECLARE db_cursor_tasas_alertas_correo CURSOR FOR

		SELECT ID, A.NUM_CREDITO, NUM_CUOTA, FECHA, TASA, MONTO_FIJO
		FROM SAF.TASAS_ALERTAS A
		WHERE ACTIVO = 1
			AND dateadd(day, -5, FECHA) <= @FECHA_HOY AND @FECHA_HOY < FECHA

    OPEN db_cursor_tasas_alertas_correo  
        FETCH NEXT FROM db_cursor_tasas_alertas_correo
        INTO @ID, @NUM_CREDITO, @NUM_CUOTA, @FECHA, @TASA, @MONTO_FIJO
    WHILE @@FETCH_STATUS = 0 BEGIN

		set @APORTACION = ''
		set @PER_INI = null
		set @PER_FIN = @FECHA

		SELECT @PER_INI = MAX(FECHA)
		FROM SAF.TASAS_ALERTAS
		WHERE ACTIVO = 1
			AND NUM_CREDITO = @NUM_CREDITO
			AND FECHA < @PER_FIN

		if @PER_INI is null begin

			set @PER_INI = dateadd(year, -1, @PER_FIN)

		end


		SELECT @APORTACION = case when S.NUM_SECUENCIA_ULT != H.NUM_SECUENCIA_ULT then 'PLAZO' when S.MON_RUBRO_ULT != H.MON_RUBRO_ULT then 'CUOTA' else '' end
		FROM PO.CONTROL_HISTORICO_TRASPASOS H
			INNER JOIN PO.CONTROL_HISTORICO_TRASPASOS S ON H.NUM_CREDITO = S.NUM_CREDITO AND H.fecha_sistema = dateadd(day, -1, S.fecha_sistema)
		WHERE S.NUM_CREDITO = @NUM_CREDITO
			AND @PER_INI < S.fecha_sistema and S.fecha_sistema <= @PER_FIN
			AND (S.NUM_SECUENCIA_ULT != H.NUM_SECUENCIA_ULT
				OR S.MON_RUBRO_ULT != H.MON_RUBRO_ULT)
	
		if @APORTACION is null OR @APORTACION = '' begin

			select num_secuencia,sum(mon_rubro+mon_iva) as monto
			into #ref
			from Quiero_Confianza_shadow.PR.PR_RUBRO_COBRO_X_CREDITO
			where ind_estado in ('P','A')
				AND cod_rubro in ('INTERESES','PRINCIPAL')
				AND @PER_INI < fec_cobro and fec_cobro <= @PER_FIN
				AND num_credito = @NUM_CREDITO
			group by num_secuencia

			
			if exists (
				select b.monto - a.monto
				from #ref a
					inner join #ref b on a.num_secuencia = b.num_secuencia-1
				where b.monto - a.monto != 0
			) begin

				set @APORTACION = 'CUOTA'

			end

			drop table #ref
	

		end

		INSERT INTO #ALERTAS(ID, NUM_CREDITO, NUM_CUOTA, FECHA, TASA, MONTO_FIJO, APORTACION)
		VALUES (@ID, @NUM_CREDITO, @NUM_CUOTA, @FECHA, @TASA, @MONTO_FIJO, @APORTACION)

        FETCH NEXT FROM db_cursor_tasas_alertas_correo
        INTO @ID, @NUM_CREDITO, @NUM_CUOTA, @FECHA, @TASA, @MONTO_FIJO
    END 

    CLOSE db_cursor_tasas_alertas_correo  
    DEALLOCATE db_cursor_tasas_alertas_correo



	SELECT ID, NUM_CREDITO, NUM_CUOTA, FECHA, TASA, MONTO_FIJO, APORTACION
	FROM #ALERTAS

END
GO
