SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250425
-- Descripcion:	Realiza el calculo de saldos cierre de dia de SAF en la fecha indicada
--              Referencia para tipo de saldo  N:Normal  O:En Orden  C:Covid  V:Vigentes
--              De otros origenes   S: Parte ION sindicado normal  R: Parte ION sindicado orden  V: Parte ION sindicado covid
-- =============================================
CREATE PROCEDURE [CIERRE].[SP_SAF_SALDOS]
AS
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
		BEGIN TRANSACTION

	    DECLARE @FEC_HOY DATE
	    SELECT @FEC_HOY = fec_hoy FROM Quiero_Confianza.cf.cf_calendarios where cod_empresa = '001' AND cod_agencia = '001' AND cod_sistema = 'PR'
    
        DELETE FROM [CIERRE].[SAF_SALDOS] WHERE FECHA_SISTEMA = @FEC_HOY

        select num_credito
        INTO #CREDITOS_ACTIVOS
        FROM Quiero_Confianza.PR.PR_CREDITOS
        WHERE IND_ESTADO IN ('D','C')
            AND (FEC_CANCELACION IS NULL OR  FEC_CANCELACION >= @FEC_HOY)

        --== Calculo de saldos normales ===================================================================

        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',NUM_CREDITO, @FEC_HOY, COD_RUBRO as RUBRO, SUM(SAL_RUBRO) as SALDO,0 
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('PRINCIPAL')
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY NUM_CREDITO, COD_RUBRO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',NUM_CREDITO, @FEC_HOY, 'MORATORIOS', SUM(SAL_RUBRO) as SALDO,0
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('MORATORIOS', 'INTERES_MORATORIO', 'MORA_EMPRESARIAL')
            --AND FEC_COBRO <= @FEC_HOY -------********
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY NUM_CREDITO

        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',NUM_CREDITO, @FEC_HOY, 'PRINCIPAL_VENCIDO' AS RUBRO, SUM(SAL_RUBRO) as SALDO,SUM(SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('PRINCIPAL')
            AND FEC_COBRO <= @FEC_HOY
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY NUM_CREDITO, COD_RUBRO

        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',NUM_CREDITO, @FEC_HOY, COD_RUBRO, SUM(SAL_RUBRO) as SALDO,SUM(SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO NOT IN ('PRINCIPAL', 'MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL','SEGURO_VIDA','CARGO_PORCENTAJE')--IN ('INTERESES','COMISION_ADMINISTRACION','SEGURO_DANOS')
            AND FEC_COBRO <= @FEC_HOY
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY NUM_CREDITO, COD_RUBRO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',NUM_CREDITO, @FEC_HOY, 'SEGURO_VIDA' as RUBRO, SUM(SAL_RUBRO) as SALDO,SUM(SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('SEGURO_VIDA','CARGO_PORCENTAJE')
            AND FEC_COBRO <= @FEC_HOY
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'N',C.NUM_CREDITO, @FEC_HOY, 'INTERES_NO_EXIGIBLES' as RUBRO, SUM(C.MON_INT_ACUMULADO) as SALDO,CASE WHEN R.IND_IVA = 'N' THEN 0 ELSE SUM(C.MON_INT_ACUMULADO) * .16 end as SALDO_IVA
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            Quiero_Confianza.PR.PR_RUBRO_X_CREDITO R ON C.NUM_CREDITO = R.NUM_CREDITO and C.COD_RUBRO = R.COD_RUBRO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('INTERESES')
            AND C.FEC_COBRO > @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
            AND C.num_credito IN (select num_credito FROM Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA)
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO, R.IND_IVA

        --== Calculo de saldos en orden para intereses ===================================================================

        select num_credito,KARDIA.dbo.FECHA_IMPAGO(NUM_CREDITO) as FECHA_IMPAGO
        into #impago
        FROM Quiero_Confianza.PR.PR_CREDITOS A
        WHERE (FEC_CANCELACION IS NULL OR  FEC_CANCELACION <= @FEC_HOY)
            AND A.IND_ETAPA = 3

        SELECT C.NUM_CREDITO, @FEC_HOY as FECHA_SISTEMA, C.COD_RUBRO, SUM(C.SAL_RUBRO) as SALDO,SUM(C.SAL_IVA) as SALDO_IVA, MIN(FEC_EXIGIBLE_PAGO) as  FECHA_REF, I.FECHA_IMPAGO
        INTO #REF_IMPAGO
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago I ON C.NUM_CREDITO = I.NUM_CREDITO AND C.FEC_EXIGIBLE_PAGO <= I.FECHA_IMPAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('INTERESES')
            AND C.FEC_COBRO <= @FEC_HOY
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO,I.FECHA_IMPAGO

        select R.NUM_CREDITO, isnull(sum(MON_DIARIO),0) AS OFFSET,CASE WHEN B.IND_IVA = 'N' THEN 0 ELSE isnull(SUM(MON_DIARIO),0) * .16 end as OFFSET_IVA,count(*) as DIAS
        INTO #OFFSET
        from Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA D inner join
            #REF_IMPAGO R ON D.NUM_CREDITO = R.NUM_CREDITO and R.FECHA_IMPAGO <= fecha_calculo and fecha_calculo < ISNULL(R.FECHA_REF,@FEC_HOY) AND ISNULL(R.FECHA_REF,@FEC_HOY) < DATEADD(MONTH, 1, R.FECHA_IMPAGO) inner join
            Quiero_Confianza.PR.PR_RUBRO_X_CREDITO B ON R.NUM_CREDITO = B.NUM_CREDITO and R.COD_RUBRO = B.COD_RUBRO
        GROUP BY R.NUM_CREDITO,B.IND_IVA

        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        select 'O',I.NUM_CREDITO, @FEC_HOY as FECHA_SISTEMA, 'INTERESES'
            , isnull(I.SALDO,0) + isnull(O.OFFSET,0) AS INTERESES_ORDEN
            , isnull(I.SALDO_IVA,0) + isnull(O.OFFSET_IVA,0) AS INTERESES_IVA_ORDEN
        FROM #REF_IMPAGO I LEFT JOIN
            #OFFSET O ON I.NUM_CREDITO = O.NUM_CREDITO


        --== Calculo de saldos en orden para otros rubros ===================================================================


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, 'MORATORIOS', SUM(C.SAL_RUBRO) as SALDO,0
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago I ON C.NUM_CREDITO = I.NUM_CREDITO AND C.FEC_EXIGIBLE_PAGO > I.FECHA_IMPAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL')
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, C.COD_RUBRO, SUM(C.SAL_RUBRO) as SALDO,SUM(C.SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago I ON C.NUM_CREDITO = I.NUM_CREDITO AND C.FEC_EXIGIBLE_PAGO > I.FECHA_IMPAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO NOT IN ('INTERESES','PRINCIPAL','MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL','SEGURO_VIDA','CARGO_PORCENTAJE')
            AND C.FEC_COBRO <= @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, 'SEGURO_VIDA' as RUBRO, SUM(C.SAL_RUBRO) as SALDO,SUM(C.SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            #impago I ON C.NUM_CREDITO = I.NUM_CREDITO AND C.FEC_EXIGIBLE_PAGO > I.FECHA_IMPAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('SEGURO_VIDA','CARGO_PORCENTAJE')
            AND C.FEC_COBRO <= @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'O',C.NUM_CREDITO, @FEC_HOY, 'INTERES_NO_EXIGIBLES' as RUBRO, SUM(C.MON_INT_ACUMULADO) as SALDO,CASE WHEN R.IND_IVA = 'N' THEN 0 ELSE SUM(C.MON_INT_ACUMULADO) * .16 end as SALDO_IVA
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO C inner join
            Quiero_Confianza.PR.PR_RUBRO_X_CREDITO R ON C.NUM_CREDITO = R.NUM_CREDITO and C.COD_RUBRO = R.COD_RUBRO inner join
            #impago I ON C.NUM_CREDITO = I.NUM_CREDITO AND C.FEC_EXIGIBLE_PAGO > I.FECHA_IMPAGO
        WHERE C.IND_ESTADO = 'P'
            AND C.COD_RUBRO IN ('INTERESES')
            AND C.FEC_COBRO > @FEC_HOY
            AND C.num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
        GROUP BY C.NUM_CREDITO, C.COD_RUBRO, R.IND_IVA


        --== Calculo de saldos COVID ===================================================================

        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'C',NUM_CREDITO, @FEC_HOY, 'MORATORIOS', SUM(SAL_RUBRO) as SALDO,0
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL')
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
            AND dbo.FN_ES_COVID(Ind_Posposicion, Fecha_Posposicion, NUM_CREDITO) = 'S'
        GROUP BY NUM_CREDITO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'C',NUM_CREDITO, @FEC_HOY, COD_RUBRO, SUM(SAL_RUBRO) as SALDO,SUM(SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO NOT IN ('MORATORIOS','INTERES_MORATORIO', 'MORA_EMPRESARIAL','SEGURO_VIDA','CARGO_PORCENTAJE')
            AND FEC_COBRO <= @FEC_HOY
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
            AND dbo.FN_ES_COVID(Ind_Posposicion, Fecha_Posposicion, NUM_CREDITO) = 'S'
        GROUP BY NUM_CREDITO, COD_RUBRO


        INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
        SELECT 'C',NUM_CREDITO, @FEC_HOY, 'SEGURO_VIDA' as RUBRO, SUM(SAL_RUBRO) as SALDO,SUM(SAL_IVA) as SALDO_IVA
        FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO
        WHERE IND_ESTADO = 'P'
            AND COD_RUBRO IN ('SEGURO_VIDA','CARGO_PORCENTAJE')
            AND FEC_COBRO <= @FEC_HOY
            AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
            AND dbo.FN_ES_COVID(Ind_Posposicion, Fecha_Posposicion, NUM_CREDITO) = 'S'
        GROUP BY NUM_CREDITO

		--== Calculo de saldos vigentes ===================================================================
		INSERT INTO [CIERRE].[SAF_SALDOS](TIPO,NUM_CREDITO,FECHA_SISTEMA,RUBRO,SALDO,SALDO_IVA)
		SELECT 'V',NUM_CREDITO, @FEC_HOY, COD_RUBRO AS RUBRO, SUM(MON_RUBRO) AS MONTO, SUM(MON_IVA) as SALDO_IVA
		FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO
		WHERE COD_RUBRO IN ('PRINCIPAL', 'INTERESES')
			AND IND_ESTADO = 'P'
			AND FEC_COBRO >= Dateadd(day,1,@FEC_HOY)
			AND num_credito IN (select num_credito FROM #CREDITOS_ACTIVOS)
		GROUP BY NUM_CREDITO, COD_RUBRO

		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FEC_HOY      , 0        , 'SP_SAF_CIERRE_SALDOS Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
