SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Miguel Gomez
-- Create date: 04/01/2026
-- Description:	Reporte Ventas de cartera
-- =============================================
CREATE   PROCEDURE [CIERRE].[SP_RPT_VENTAS_DE_CARTERA_VIS]
(
    @FechaIni DATE,
    @FechaFin DATE
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FechaFinExclusiva DATE = DATEADD(DAY, 1, @FechaFin);

    SELECT A.CONTRAPARTE,
        A.FECHA_MOVIMIENTO,
        A.ID_EXTERNO,
        A.ACREDITADO,
        A.PROYECTO,
        A.TIPO_CREDITO,
        A.TIPO_CARTERA,
        A.CARTERA,
        A.ETAPA,
        A.PRINCIPAL,
        A.INTERESES_ORIDINARIOS,
        A.COM_ADM_MORATORIOS_ORDINARIOS,
        (A.PRINCIPAL + A.INTERESES_ORIDINARIOS + A.COM_ADM_MORATORIOS_ORDINARIOS) AS TOTAL_CARTERA_BALANCE,
        A.IVA_INTERES_ORDINARIOS,
        A.IVA_COM_ADM_MORATORIOS_ORDINARIOS,
        A.SEGUROS_ORDINARIO,
        A.IVA_SEGUROS_ORDINARIO,
        A.OTRO,
        (A.IVA_INTERES_ORDINARIOS + A.IVA_COM_ADM_MORATORIOS_ORDINARIOS + A.SEGUROS_ORDINARIO + A.IVA_SEGUROS_ORDINARIO + A.OTRO) AS TOTAL_ACCESORIOS_BALANCE,
        (A.PRINCIPAL + A.INTERESES_ORIDINARIOS + A.COM_ADM_MORATORIOS_ORDINARIOS +
        A.IVA_INTERES_ORDINARIOS + A.IVA_COM_ADM_MORATORIOS_ORDINARIOS + A.SEGUROS_ORDINARIO + A.IVA_SEGUROS_ORDINARIO + A.OTRO) AS TOTAL_BALANCE,
        A.INTERESES_ORDEN,
        A.IVA_INTERESES_ORDEN,
        A.COM_ADM_MORATORIOS_ORDEN,
        A.IVA_COM_ADM_MORATORIOS_ORDEN,
        A.SEGUROS_ORDEN,
        A.IVA_SEGURO_ORDEN,
        (A.INTERESES_ORDEN + A.IVA_INTERESES_ORDEN + A.COM_ADM_MORATORIOS_ORDEN + A.IVA_COM_ADM_MORATORIOS_ORDEN + A.SEGUROS_ORDEN + A.IVA_SEGURO_ORDEN) AS TOTAL_ORDEN,
        (A.PRINCIPAL + A.INTERESES_ORIDINARIOS + A.COM_ADM_MORATORIOS_ORDINARIOS +
        A.IVA_INTERES_ORDINARIOS + A.IVA_COM_ADM_MORATORIOS_ORDINARIOS + A.SEGUROS_ORDINARIO + A.IVA_SEGUROS_ORDINARIO + A.OTRO +
        A.INTERESES_ORDEN + A.IVA_INTERESES_ORDEN + A.COM_ADM_MORATORIOS_ORDEN + A.IVA_COM_ADM_MORATORIOS_ORDEN + A.SEGUROS_ORDEN + A.IVA_SEGURO_ORDEN) AS TOTAL
    FROM ( SELECT CASE 
                WHEN T.ID_TIPO_CREDITO = 5 THEN 'MEZZANINE'
                WHEN T.ID_TIPO_CREDITO = 6 THEN 'INBURSA'
                WHEN T.ID_TIPO_CREDITO = 19 THEN 'BANCOPPEL'
                WHEN T.ID_TIPO_CREDITO = 21 THEN 'QB'
                WHEN T.ID_TIPO_CREDITO = 22 THEN 'BALI'
                WHEN T.ID_TIPO_CREDITO = 24 THEN 'SHCH'
	            WHEN T.ID_TIPO_CREDITO = 4 THEN 'AFIRME'
	            WHEN T.ID_TIPO_CREDITO = 20 THEN 'QB'
	            WHEN T.ID_TIPO_CREDITO = 23 THEN 'SHCH'
            END AS CONTRAPARTE,
            T.FECHA_MOVIMIENTO,
	        T.ID_EXTERNO,
	        T.NOM_CLIENTE AS ACREDITADO,
	        CASE WHEN C.DESARROLLO IS NOT NULL THEN C.DESARROLLO ELSE 'N/A' END AS PROYECTO,
            T.TIPO_CREDITO AS TIPO_CREDITO,
            CASE WHEN T.ID_FONDEO = 1 THEN 'RESTRINGIDO' ELSE 'SIN RESTRICCION' END AS TIPO_CARTERA,
	        T.NOMBRE_PRODUCTO AS CARTERA,
            T.IND_ETAPA AS ETAPA,
            SUM(CASE WHEN rubro = 'PRINCIPAL' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
                THEN monto * 9   
                WHEN rubro = 'PRINCIPAL' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
                THEN monto * 1  
                ELSE 0 END) AS PRINCIPAL,
            ----------------------------------------------------TOTAL CARTERA BALANCE-------------------------------------------------------------------------------------
            SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) AS INTERESES_ORIDINARIOS,
            SUM( CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro = 'COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 1      
                ELSE 0 END) AS COM_ADM_MORATORIOS_ORDINARIOS,
            ----------------------------------------------------TOTAL ACCESORIOS BALANCE-----------------------------------------------------------------------
            SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) AS IVA_INTERES_ORDINARIOS,
            SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro = 'IVA COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END ) +
            SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) AS IVA_COM_ADM_MORATORIOS_ORDINARIOS,
            SUM (CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro = 'SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) +
                SUM (CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) AS SEGUROS_ORDINARIO,
            SUM (CASE WHEN rubro = 'IVA SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro = 'IVA SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) +
            SUM (CASE WHEN RUBRO = 'IVA SEGURO_VIDA' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro = 'IVA SEGURO_VIDA' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) AS IVA_SEGUROS_ORDINARIO,
            -------------------------------------------------------ORDEN INTERES -----------------------------------------------------------------------------------
            SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) AS INTERESES_ORDEN,
            SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) AS IVA_INTERESES_ORDEN,
            ----------------------------------------------------ORDEN MORATORIOS COM ADMON--------------------------------------------------------------------------
            SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO')  AND tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) +
            SUM( CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro = 'COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) AS COM_ADM_MORATORIOS_ORDEN,
                SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) +
            SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro = 'IVA COMISION_ADMINISTRACION' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END ) IVA_COM_ADM_MORATORIOS_ORDEN,
            ----------------------------------------------------ORDEN SEGUROS DANOS Y VIDA--------------------------------------------------------------------------
            SUM (CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro = 'SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END)+
            SUM (CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) AS SEGUROS_ORDEN,
            SUM (CASE WHEN rubro = 'IVA SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 9 
                WHEN rubro = 'IVA SEGURO_DANOS' AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto * 1  
                ELSE 0 END) AS IVA_SEGURO_ORDEN,
            SUM( CASE WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
                THEN monto * 9 
                WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') AND tipo_credito <> 'ADMINISTRACION INDIVIDUAL'
                THEN monto * 1  
                ELSE 0 END) AS OTRO
        FROM PO.SAF_MOV_TRASPASO T
            INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON T.NUM_CREDITO = C.NUM_CREDITO
	        LEFT JOIN PO.PR_CAT_PRODUCTO P WITH (NOLOCK) ON P.ID_SAF = T.ID_TIPO_CREDITO
            LEFT JOIN PO.PR_CREDITO_EXTRA CE WITH (NOLOCK) ON CE.ID_EXTERNO = T.ID_EXTERNO
            LEFT JOIN PO.PR_CREDITO_PRODUCTO CP WITH (NOLOCK) ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
        WHERE T.ID_POLIZA IN (46,59)
            AND T.FECHA_MOVIMIENTO >= @FechaIni
            AND T.FECHA_MOVIMIENTO < @FechaFinExclusiva
            AND NOT (T.CONCEPTO LIKE 'TRS %' OR T.CONCEPTO LIKE 'PAGO CCO %')
        GROUP BY T.ID_TIPO_CREDITO,T.FECHA_MOVIMIENTO,T.ID_EXTERNO,T.NOM_CLIENTE,T.TIPO_CREDITO,CP.NOMBRE,C.DESARROLLO,T.NOMBRE_PRODUCTO,T.TIPO_VIVIENDA,T.ID_FONDEO,P.NOMBRE_PRODUCTO,T.IND_ETAPA
        UNION ALL
        SELECT CASE
                WHEN T.ID_TIPO_CREDITO = 5 THEN 'MEZZANINE'
                WHEN T.ID_TIPO_CREDITO = 6 THEN 'INBURSA'
                WHEN T.ID_TIPO_CREDITO = 19 THEN 'BANCOPPEL'
                WHEN T.ID_TIPO_CREDITO = 21 THEN 'QB'
                WHEN T.ID_TIPO_CREDITO = 22 THEN 'BALI'
                WHEN T.ID_TIPO_CREDITO = 24 THEN 'SHCH'
	            WHEN T.ID_TIPO_CREDITO = 4 THEN 'AFIRME'
	            WHEN T.ID_TIPO_CREDITO = 20 THEN 'QB'
	            WHEN T.ID_TIPO_CREDITO = 23 THEN 'SHCH'
            END AS CONTRAPARTE,
            T.FECHA_MOVIMIENTO,
	        T.ID_EXTERNO,
	        T.NOM_CLIENTE AS ACREDITADO,
            CASE WHEN C.DESARROLLO IS NOT NULL THEN C.DESARROLLO ELSE 'N/A' END AS PROYECTO,
            T.TIPO_CREDITO AS TIPO_CREDITO,
            CASE WHEN T.ID_FONDEO = 1 THEN 'RESTRINGIDO' ELSE 'SIN RESTRICCION' END AS TIPO_CARTERA,
	        T.NOMBRE_PRODUCTO AS CARTERA,
            T.IND_ETAPA AS ETAPA,
            SUM(CASE WHEN rubro = 'PRINCIPAL' and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
                THEN monto ELSE 0 END) AS PRINCIPAL,
            ----------------------------------------------------TOTAL CARTERA BALANCE-------------------------------------------------------------------------------------
            SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto ELSE 0 END) AS INTERESES_ORIDINARIOS,
            SUM( CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto ELSE 0 END) AS COM_ADM_MORATORIOS_ORDINARIOS,
            ----------------------------------------------------TOTAL ACCESORIOS BALANCE-----------------------------------------------------------------------
            SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto ELSE 0 END) AS IVA_INTERES_ORDINARIOS,
            SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto ELSE 0 END ) +
            SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto ELSE 0 END) AS IVA_COM_ADM_MORATORIOS_ORDINARIOS,
            SUM (CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto ELSE 0 END) +
                SUM (CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto ELSE 0 END) AS SEGUROS_ORDINARIO,
            SUM (CASE WHEN rubro = 'IVA SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto ELSE 0 END) +
            SUM (CASE WHEN RUBRO = 'IVA SEGURO_VIDA' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO NOT LIKE '% CO %'
                THEN monto ELSE 0 END) AS IVA_SEGUROS_ORDINARIO,
            -------------------------------------------------------ORDEN INTERES -----------------------------------------------------------------------------------
            SUM(CASE WHEN rubro IN ('INTERESES','INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto ELSE 0 END) AS INTERESES_ORDEN,
            SUM(CASE WHEN rubro IN ('IVA INTERESES','IVA INTERES_ORDINARIO_A') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto ELSE 0 END) AS IVA_INTERESES_ORDEN,
            ----------------------------------------------------ORDEN MORATORIOS COM ADMON--------------------------------------------------------------------------
            SUM(CASE WHEN rubro IN ('MORATORIOS','INTERES_MORATORIO')  AND tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto ELSE 0 END) +
            SUM( CASE WHEN rubro = 'COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto ELSE 0 END) AS COM_ADM_MORATORIOS_ORDEN,
            SUM(CASE WHEN rubro IN ('IVA MORATORIOS','IVA INTERES_MORATORIO')  and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto ELSE 0 END) +
            SUM(CASE WHEN rubro = 'IVA COMISION_ADMINISTRACION' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto ELSE 0 END ) IVA_COM_ADM_MORATORIOS_ORDEN,
            ----------------------------------------------------ORDEN SEGUROS DANOS Y VIDA--------------------------------------------------------------------------
            SUM (CASE WHEN rubro = 'SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto ELSE 0 END) +
            SUM (CASE WHEN rubro IN ('SEGURO_VIDA','CARGO_PORCENTAJE') and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto ELSE 0 END) AS SEGUROS_ORDEN,
            SUM (CASE WHEN rubro = 'IVA SEGURO_DANOS' and tipo_credito = 'ADMINISTRACION INDIVIDUAL' AND CONCEPTO LIKE '% CO %'
                THEN monto ELSE 0 END) AS IVA_SEGURO_ORDEN,
            SUM( CASE WHEN rubro IN ('COMISION_ANTICIPADA','COMISION_PREPAGO','VISITA_EXTRA','COM_CIERRE_OBRA','ASE_FINANCIERA','COM_PRORROGA','COM_REESTRUCTURA','OPI VALOR') and tipo_credito = 'ADMINISTRACION INDIVIDUAL'
                THEN monto ELSE 0 END) AS OTRO
        FROM PO.SAF_MOV_TRASPASO T
            INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON T.NUM_CREDITO = C.NUM_CREDITO
	        LEFT JOIN PO.PR_CAT_PRODUCTO P WITH (NOLOCK) ON P.ID_SAF = T.ID_TIPO_CREDITO
            LEFT JOIN PO.PR_CREDITO_EXTRA CE WITH (NOLOCK) ON CE.ID_EXTERNO = T.ID_EXTERNO
            LEFT JOIN PO.PR_CREDITO_PRODUCTO CP WITH (NOLOCK) ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
        WHERE T.ID_POLIZA IN (46,59)
            AND T.FECHA_MOVIMIENTO >= @FechaIni
            AND T.FECHA_MOVIMIENTO < @FechaFinExclusiva
            AND NOT (T.CONCEPTO LIKE 'TRS %' OR T.CONCEPTO LIKE 'PAGO CCO %')
            AND T.TIPO_CREDITO = 'ADMINISTRACION INDIVIDUAL'
        GROUP BY T.ID_TIPO_CREDITO,T.FECHA_MOVIMIENTO,T.ID_EXTERNO,T.NOM_CLIENTE,T.TIPO_CREDITO,CP.NOMBRE,C.DESARROLLO,T.NOMBRE_PRODUCTO,T.TIPO_VIVIENDA,T.ID_FONDEO,P.NOMBRE_PRODUCTO,T.IND_ETAPA) A
        ORDER BY FECHA_MOVIMIENTO;

END
GO
