SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250213
-- Descripcion:	Evalua si la cuota es covid o no a partir de los datos de posposicion y numero credito
-- =============================================
CREATE FUNCTION [dbo].[FN_ES_COVID]
(
	 @Ind_Posposicion VARCHAR(1)
    ,@Fecha_Posposicion DATETIME
    ,@NUM_CREDITO INT
)
RETURNS VARCHAR
AS
BEGIN
	
	DECLARE @ES_COVID varchar(1)

	SET @ES_COVID =
        CASE WHEN (@Ind_Posposicion = 'S' OR @Fecha_Posposicion IS NOT NULL) AND @NUM_CREDITO < 6086 THEN
            'S'
        ELSE
            'N'
        END

	RETURN @ES_COVID

END
GO
