SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio 
-- Creacion:	20250211
-- Descripcion:	Busca la secuencia del movimiento original que fue reversado
-- =============================================
CREATE FUNCTION [dbo].[FN_SECUENCIA_ORIGEN]
(
	@ID_SEC_REV INT
)
RETURNS INT
AS
BEGIN
	DECLARE @ID_SEC_ORIGEN INT

    select @ID_SEC_ORIGEN = id_secuencia
    from Quiero_Confianza.PR.PR_ENCABEZADO_PAGO
    where Mon_movimiento > 0
        and num_asiento = (
            select num_asiento
            from Quiero_Confianza.PR.PR_ENCABEZADO_PAGO
            where id_secuencia = @ID_SEC_REV
        )

	RETURN @ID_SEC_ORIGEN

END
GO
