SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Daniel Aros
-- Creacion:	20240610
-- Descripcion:	Convierte un dato de cadena a numero con dos decimales
-- =============================================
CREATE FUNCTION [dbo].[FN_FORMA_MONEDA]
(
	@CADENA_ORI VARCHAR(20)
)
RETURNS NUMERIC(18,2)
AS
BEGIN	
	RETURN IIF(@CADENA_ORI IS NULL OR @CADENA_ORI = '', 0, CAST(@CADENA_ORI AS numeric(18,2)))

END
GO
