SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:	20250605
-- Descripcion:	Apartir de los campos que pueden tener la informacion entrega el valor que corresponde de firma de creditos comerciales
-- =============================================
CREATE FUNCTION [dbo].[FN_FIRMA_MONTO]
(
	@ID_EXTERNO VARCHAR(12)
    ,@OBSERVACIONES varchar(1000)
    ,@MON_CREDITO NUMERIC(18,2)
)
RETURNS NUMERIC(18,2)
AS
BEGIN
	
	DECLARE @MONTO NUMERIC(18,2)

	SET @MONTO =
        CASE WHEN SUBSTRING(@ID_EXTERNO, 1, 4) IN ('CSCO', 'CSIM', 'CLRE') THEN
            dbo.FN_FORMA_MONEDA(isnull(replace(dbo.info_extra_extraer('MONTO_CREDITO', @OBSERVACIONES),',',''),@MON_CREDITO))
        ELSE
            @MON_CREDITO
        END

	RETURN @MONTO

END
GO
