SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_ORIGEN_FONDOS] (@COD_ORIGEN int,@COD_EMPRESA VARCHAR(25))  
RETURNS VARCHAR(255)  
WITH EXECUTE AS CALLER  
AS  
BEGIN
----	CREADO POR:		DANIEL RODRIGUEZ								----
----	FECHA:			12/06/2018										----
----	SELECT [dbo].[FN_ORIGEN_FONDOS](5,'001') AS 'ORIGEN FONDOS'
	
	DECLARE @VALOR VARCHAR(255);

	SELECT @VALOR = DES_ORIGEN
	FROM [Quiero_Confianza].PR.PR_ORIGEN_FONDOS
	WHERE COD_ORIGEN = @COD_ORIGEN AND COD_EMPRESA = @COD_EMPRESA

	RETURN(@VALOR);

END;


GO
