SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_BALLON_DET](
	[ID] [uniqueidentifier] NOT NULL,
	[NUM_CREDITO] [int] NOT NULL,
	[COD_CONCEPTO] [varchar](35) NOT NULL,
	[MON_PAGO] [numeric](16, 2) NOT NULL,
	[MON_PAGO_IVA] [numeric](16, 2) NOT NULL,
	[ID_SECUENCIA] [int] NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
	[FECHA_MODIFICACION] [datetime] NULL,
 CONSTRAINT [PK_PR_BALLON_DET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[PR_BALLON_DET] ADD  CONSTRAINT [DF_PR_BALLON_DET_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[PR_BALLON_DET] ADD  CONSTRAINT [DF_PR_BALLON_DET_FECHA_GENERACION]  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
