SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_REEST_CAST_APLI](
	[ID] [uniqueidentifier] NOT NULL,
	[NUM_CREDITO] [int] NOT NULL,
	[COD_CONCEPTO] [varchar](35) NOT NULL,
	[MON_PAGO] [numeric](16, 2) NOT NULL,
	[TIPO] [varchar](10) NOT NULL,
	[ID_SECUENCIA] [int] NOT NULL,
	[NUM_ASIENTO] [numeric](8, 0) NOT NULL,
	[ID_POLIZA] [int] NOT NULL,
	[FECHA_PROCESO] [date] NOT NULL,
	[FECHA_GENERACION] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[PR_REEST_CAST_APLI] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[PR_REEST_CAST_APLI] ADD  DEFAULT (getdate()) FOR [FECHA_GENERACION]
GO
