SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_CREDITO_EXTRA](
	[ID] [uniqueidentifier] NOT NULL,
	[ID_PRODUCTO] [uniqueidentifier] NOT NULL,
	[ID_EXTERNO] [varchar](15) NOT NULL,
	[MONTO_CREDITO] [numeric](18, 2) NULL,
	[EFYM] [numeric](18, 2) NULL,
	[EFYM_IVA] [numeric](18, 2) NULL,
	[REGISTRADO_POR] [varchar](100) NOT NULL,
	[CREADO] [datetime] NOT NULL,
	[ACTUALIZADO] [datetime] NULL,
	[FEC_APERTURA] [datetime] NULL,
 CONSTRAINT [PK_PR_CREDITO_EXTRA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_PR_CREDITO_EXTRA_ID_EXTERNO] UNIQUE NONCLUSTERED 
(
	[ID_EXTERNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[PR_CREDITO_EXTRA]  WITH CHECK ADD  CONSTRAINT [FK_PR_CREDITO_EXTRA_PR_CREDITO_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [PO].[PR_CREDITO_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [PO].[PR_CREDITO_EXTRA] CHECK CONSTRAINT [FK_PR_CREDITO_EXTRA_PR_CREDITO_PRODUCTO]
GO
