SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[PR_COBRANZA_DET](
	[ID] [uniqueidentifier] NOT NULL,
	[ID_COBRANZA_ENC] [uniqueidentifier] NOT NULL,
	[CARTERA] [varchar](16) NULL,
	[SECUENCIA] [varchar](16) NULL,
	[ID_EXTERNO] [varchar](64) NULL,
	[CONCEPTO] [varchar](24) NULL,
	[BANCO] [varchar](48) NULL,
	[DESC_TIPO_CREDITO] [varchar](64) NULL,
	[TIPO_CREDITO] [varchar](128) NULL,
	[TIPO_CARTERA] [varchar](24) NULL,
	[CEDIDO] [varchar](32) NULL,
	[ESTATUS] [varchar](16) NULL,
	[FEC_APLICACION] [date] NULL,
	[PRINCIPAL] [decimal](12, 2) NULL,
	[INTERESES] [decimal](12, 2) NULL,
	[INTERESES_IVA] [decimal](12, 2) NULL,
	[SEGURO_DANOS] [decimal](12, 2) NULL,
	[SEGURO_DANOS_IVA] [decimal](12, 2) NULL,
	[SEGURO_VIDA] [decimal](12, 2) NULL,
	[MORATORIOS] [decimal](12, 2) NULL,
	[COMISION_ADMINISTRACION] [decimal](12, 2) NULL,
	[COMISION_ADMINISTRACION_IVA] [decimal](12, 2) NULL,
	[CARGO_EXTRA] [decimal](12, 2) NULL,
	[CARGO_EXTRA_IVA] [decimal](12, 2) NULL,
	[SALDO_FAVOR] [decimal](12, 2) NULL,
	[TOTAL_PAGO] [decimal](12, 2) NULL,
	[TOTAL_PAGO_BANCO] [decimal](12, 2) NULL,
	[TOTAL_APLICADO] [decimal](12, 2) NULL,
	[SALDO_FAVOR_REAL] [decimal](12, 2) NULL,
	[CONTABILIDAD] [varchar](4) NULL,
	[COVID] [varchar](4) NULL,
	[OBSERVACION] [varchar](256) NULL,
	[CAPITAL_COMPLETO] [decimal](12, 2) NULL,
	[PORCENTAJE_30] [decimal](12, 2) NULL,
	[PORCENTAJE_70] [decimal](12, 2) NULL,
	[COMPARATIVO] [decimal](12, 2) NULL,
	[ETAPA] [varchar](1) NULL,
	[VALIDACION] [varchar](128) NULL,
	[ID_EXTERNO_REF] [varchar](32) NULL,
	[TIPO_CREDITO_REF] [varchar](16) NULL,
	[TIPO_CARTERA_REF] [varchar](16) NULL,
	[CEDIDO_REF] [varchar](16) NULL,
	[ESTATUS_REF] [varchar](16) NULL,
	[ETAPA_REF] [varchar](1) NULL,
	[CEDIDO_CAMBIO] [varchar](32) NULL,
	[CEDIDO_FECHA] [date] NULL,
	[CANAL] [varchar](16) NULL,
	[SALDO_FAVOR_REAL_REF] [decimal](12, 2) NULL,
	[A_DEVOLVER] [decimal](12, 2) NULL,
	[SHF] [decimal](12, 2) NULL,
	[ID_SECUENCIA] [int] NULL,
 CONSTRAINT [PK_PR_COBRANZA_DET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[PR_COBRANZA_DET] ADD  CONSTRAINT [DF_PR_COBRANZA_DET_ID]  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[PR_COBRANZA_DET]  WITH CHECK ADD  CONSTRAINT [FK_PR_COBRANZA_DET_PR_COBRANZA_ENC] FOREIGN KEY([ID_COBRANZA_ENC])
REFERENCES [PO].[PR_COBRANZA_ENC] ([ID])
GO
ALTER TABLE [PO].[PR_COBRANZA_DET] CHECK CONSTRAINT [FK_PR_COBRANZA_DET_PR_COBRANZA_ENC]
GO
