SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[REGLA_CONTABLE_INDIVIDUAL](
	[ID] [uniqueidentifier] NOT NULL,
	[ID_PRODUCTO] [int] NULL,
	[ID_GARANTIA] [int] NULL,
	[ID_FONDEO] [int] NULL,
	[ID_RUBRO] [int] NULL,
	[ID_TRANSACCION] [int] NULL,
	[MOV_TRANS] [varchar](10) NOT NULL,
	[MOV_SUBTIP_TRANS] [varchar](10) NOT NULL,
	[FORMA_PAGO] [varchar](10) NOT NULL,
	[CONCEPTO_POLIZA] [varchar](200) NULL,
	[CUENTA_C_ET1] [varchar](30) NULL,
	[CUENTA_A_ET1] [varchar](30) NULL,
	[CUENTA_C_ET2] [varchar](30) NULL,
	[CUENTA_A_ET2] [varchar](30) NULL,
	[CUENTA_C_ET3] [varchar](30) NULL,
	[CUENTA_A_ET3] [varchar](30) NULL,
	[REGISTRO] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[REGLA_CONTABLE_INDIVIDUAL] ADD  DEFAULT (newid()) FOR [ID]
GO
ALTER TABLE [PO].[REGLA_CONTABLE_INDIVIDUAL] ADD  DEFAULT (getdate()) FOR [REGISTRO]
GO
ALTER TABLE [PO].[REGLA_CONTABLE_INDIVIDUAL]  WITH CHECK ADD FOREIGN KEY([ID_FONDEO])
REFERENCES [PO].[CAT_FONDEOS] ([ID])
GO
ALTER TABLE [PO].[REGLA_CONTABLE_INDIVIDUAL]  WITH CHECK ADD FOREIGN KEY([ID_GARANTIA])
REFERENCES [PO].[CAT_GARANTIAS] ([ID])
GO
ALTER TABLE [PO].[REGLA_CONTABLE_INDIVIDUAL]  WITH CHECK ADD FOREIGN KEY([ID_PRODUCTO])
REFERENCES [PO].[CAT_PRODUCTOS] ([ID])
GO
ALTER TABLE [PO].[REGLA_CONTABLE_INDIVIDUAL]  WITH CHECK ADD FOREIGN KEY([ID_RUBRO])
REFERENCES [PO].[CAT_RUBROS] ([ID])
GO
ALTER TABLE [PO].[REGLA_CONTABLE_INDIVIDUAL]  WITH CHECK ADD FOREIGN KEY([ID_TRANSACCION])
REFERENCES [PO].[CAT_TRANSACCIONES] ([ID])
GO
