SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas Osorio
-- Creacion:	20250725
-- Descripcion:	Cambia el estatus en la tabla de COBRANZA
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_COBRANZA_EST_ACT]
	 @ID_COBRANZA_ENC uniqueidentifier
     ,@ESTATUS varchar(10)
AS
BEGIN
	SET NOCOUNT ON;

    UPDATE PO.PR_COBRANZA_ENC
    SET ESTATUS = @ESTATUS
    WHERE ID = @ID_COBRANZA_ENC


END
GO
