SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_UMA_CAT](
	[ID] [int] NOT NULL,
	[UMA] [decimal](12, 2) NOT NULL,
	[FECHA_INI] [date] NOT NULL,
	[FECHA_FIN] [date] NOT NULL,
 CONSTRAINT [PK_SAF_UMA_CAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
