SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:    20240810
-- Descripcion:	agrega un valor de uma a partir de la fecha indicada
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_UMA_AGR]
	 @UMA decimal(12,2)
    ,@FECHA_INI date
AS
BEGIN
	SET NOCOUNT ON;

    declare @fecha_max date = CONVERT(date, '99991231', 112)
    ,@id_sig int

    select @id_sig = MAX(id) + 1
    from PO.SAF_UMA_CAT

    update PO.SAF_UMA_CAT
    set fecha_fin = @FECHA_INI
    where fecha_fin = @fecha_max

    INSERT INTO PO.SAF_UMA_CAT ( ID    ,  UMA, FECHA_INI, FECHA_FIN)
    VALUES                     (@id_sig, @UMA,@FECHA_INI,@fecha_max)

END
GO
