SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_IND_DEV_INTERES]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 4
        ,@FECHA_FIN_DIA date
        ,@FECHA_ANT date

    set @FECHA_FIN_DIA = DATEADD(day, 1, @FECHA_INICIO)
    set @FECHA_ANT = DATEADD(day, -1, @FECHA_INICIO)

	BEGIN TRY
		BEGIN TRANSACTION
			-- SE LIMPIAN DATOS PARA EL DÍA QUE SE DESEA EJECUTAR EN CASO DE QUE EXISTAN
			DELETE FROM PO.SAF_MOV_INTERES WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

			-- EXTRACCION DE MOVIMIENTOS
			INSERT INTO PO.SAF_MOV_INTERES(
			  ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_IVA_INTERES
			  , POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA)
			SELECT  
				C.ID_EXTERNO
				,A.NUM_CREDITO
				,D.COD_CLIENTE
				,D.NOM_CLIENTE
				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
                ,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) AS NOMBRE_PRODUCTO
				,CH.ID_FONDEO
				,'INTERESES' RUBRO
				,A.MON_DIARIO MONTO
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,X.IND_IVA IND_IVA_INTERES
				,P.POR_IVA_INTERES
				,A.FECHA_CALCULO FECHA_MOVIMIENTO
				,A.IND_ESTADO
				,CH.IND_ETAPA
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
				,C.FEC_APERTURA
				,'DEV_INTERES'
				,@ID_POLIZA
                ,CH.TIPO_VIVIENDA
			FROM Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
					INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
					INNER JOIN Quiero_Confianza.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
					LEFT JOIN (SELECT NUM_CREDITO, IND_IVA FROM Quiero_Confianza.PR.PR_RUBRO_X_CREDITO WITH (NOLOCK) WHERE COD_RUBRO = 'INTERESES') X  ON A.NUM_CREDITO = X.Num_Credito
                    LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			WHERE @FECHA_INICIO <= A.FECHA_CALCULO and A.FECHA_CALCULO < @FECHA_FIN_DIA
                AND (C.FEC_CANCELACION is null or @FECHA_INICIO <= C.FEC_CANCELACION)
                AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
				AND A.MON_DIARIO > 0.00
				

        -- Ajuste de clasificacion de devengado si el mismo dia se tiene cobranza y traspaso, con el devengado parte de ultima cuota que se esta cobrando, ese devengado lleva la calificacion previa ya que no habra traspaso de intereses
        SELECT DISTINCT A.NUM_CREDITO -- creditos que el devengado debe ser con clasificaciones de un dia antes
        INTO #DEV_PREV
	    FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK) INNER JOIN
		     Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
		     Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
			        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
	    WHERE  A.NUM_CREDITO in (
                SELECT DISTINCT NUM_CREDITO -- Creditos que tienen traspaso
                FROM PO.SAF_MOV_TRASPASO
                WHERE ID_POLIZA = 8 AND FECHA_MOVIMIENTO = @FECHA_INICIO
                    and NUM_CREDITO in (
                        SELECT DISTINCT NUM_CREDITO -- Creditos que tienen cobranza
                        FROM PO.SAF_MOV_ABONO
                        WHERE ID_POLIZA = 7 AND FECHA_MOVIMIENTO = @FECHA_INICIO
                    )
            )
		    AND A.FEC_MOVIMIENTO = @FECHA_INICIO
            AND Q.FEC_EXIGIBLE_PAGO = @FECHA_INICIO
            AND B.COD_CONCEPTO = 'INTERESES'

        UPDATE I
        SET  I.TIPO_VIVIENDA = H.TIPO_VIVIENDA
            ,I.ID_FONDEO = H.ID_FONDEO
            ,I.IND_ETAPA = H.IND_ETAPA
        from PO.SAF_MOV_INTERES I inner join
             PO.CONTROL_HISTORICO_TRASPASOS H ON I.NUM_CREDITO = H.NUM_CREDITO
        WHERE I.ID_POLIZA = @ID_POLIZA
	        AND I.FECHA_MOVIMIENTO = @FECHA_INICIO
            AND I.NUM_CREDITO IN (SELECT NUM_CREDITO FROM #DEV_PREV)
            AND H.FECHA_SISTEMA = @FECHA_ANT


		
		--- SI ALGUN TIPO VIVIENDA ES NULL se clasifica como consumo
		UPDATE PO.SAF_MOV_INTERES 
			SET TIPO_VIVIENDA = 'CONSUMO',
			ID_PRODUCTO = 50,	
			NOMBRE_PRODUCTO = 'CONSUMO'
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND TIPO_VIVIENDA IS NULL
			AND ID_POLIZA = @ID_POLIZA

		-- SE DETERMINA EL TIPO DE PRODUCTO DEACUERDO AL ID EMPLEADO O CONSUMO
		UPDATE H SET 
			H.ID_PRODUCTO = 50,	
			H.NOMBRE_PRODUCTO = 'CONSUMO'
		FROM  PO.SAF_MOV_INTERES H  
		INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO = 1 AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
		
		UPDATE H SET 
			H.ID_PRODUCTO = 51,	
			H.NOMBRE_PRODUCTO = 'EMPLEADO'
		FROM  PO.SAF_MOV_INTERES H  INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
		
		INSERT INTO PO.SAF_MOV_INTERES (ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
										RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
										TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
										FEC_APERTURA, IND_COVID, TABLA_ORIGEN, ID_POLIZA)
		SELECT ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
				CONCAT('IVA ', RUBRO), MONTO * 0.16, 0, ID_TIPO_CREDITO, 
				TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
				FEC_APERTURA, IND_COVID, 'DEV_INTERES',@ID_POLIZA
		FROM PO.SAF_MOV_INTERES
		WHERE IND_IVA_INTERES = 'S' AND FECHA_MOVIMIENTO = @FECHA_INICIO
		    AND ID_POLIZA = @ID_POLIZA

		-- ACTUALIZACION DE CONCEPTO
		UPDATE PO.SAF_MOV_INTERES
		SET CONCEPTO = CONCAT(CASE
				WHEN ID_TIPO_CREDITO = 20 THEN 'QBILLETE '
				WHEN ID_TIPO_CREDITO = 23 THEN 'SHCH '
				WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
				WHEN ID_TIPO_CREDITO = 26 THEN 'CASTIGO '
				WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
			END, 
			IIF(IND_COVID = 'S', 'COVID ', ''),
			RUBRO, 
			IIF(ID_PRODUCTO= 50, '', CONCAT(' ',TIPO_VIVIENDA)), 
			IIF(ID_FONDEO = 2, ' NO', ''),' RESTRINGIDO ', IND_ETAPA) 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		-- UPDATE DE ID_CONCPETO
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_INTERES H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		
		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO,
			H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_INTERES H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

        --manejo de porcentaje Afirme
        UPDATE PO.SAF_MOV_INTERES
        SET   MONTO = MONTO * 0.10
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND ID_TIPO_CREDITO = 4 AND CONCEPTO NOT LIKE 'TRS %'

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
	    SELECT CONCEPTO, A.CUENTA_CARGO,
		    CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
		    CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
	    FROM PO.SAF_MOV_INTERES A 
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_CARGO, CONCEPTO
		
		INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO, A.CUENTA_ABONO, 
		    CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
		    CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_INTERES A 
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, CONCEPTO

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		COMMIT

	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
