SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_IND_TRASPASO]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 8

	BEGIN TRY
		BEGIN TRANSACTION
			
		DELETE FROM PO.SAF_MOV_TRASPASO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA 
		
        SELECT NUM_CREDITO,IND_ETAPA_RIESGO_MANUAL
        into #ETAPA_RIESGO_MANUAL
        FROM Quiero_Confianza.PR.PR_RECLASIFICACION_ETAPA_RIESGO
        where DATEADD(D,-1,@FECHA_INICIO) <= fec_reclasificacion and fec_reclasificacion < DATEADD(D,1,@FECHA_INICIO) and IND_ETAPA_RIESGO_MANUAL = 'S'

		-- >>>>>>> Extraccion de movimiento cambio de etapa restringido y vivienda <<<<<<<

		--DIA ACTUAL
		SELECT * INTO #CRED FROM PO.CONTROL_HISTORICO_TRASPASOS WHERE FECHA_SISTEMA = @FECHA_INICIO
		--DIA ANTERIOR
		SELECT * INTO #CRED_ANT FROM PO.CONTROL_HISTORICO_TRASPASOS WHERE FECHA_SISTEMA = DATEADD(D,-1,@FECHA_INICIO)
 
		
		-- DECLARACION DE VARIABLES
		DECLARE  @ID_EXTERNO			VARCHAR(15),	@NUM_CREDITO		INT
				 ,@NOM_CLIENTE		    VARCHAR(250)
				 ,@ID_PRODUCTO		    INT
				 ,@ID_TIPO_CREDITO		INT
				 ,@IND_ETAPA_ACTUAL	    INT,            @IND_ETAPA_ANTERIOR	INT = 0
				 ,@ID_FONDEO_ACTUAL		INT,			@ID_FONDEO_ANTERIOR	INT
                 ,@TIPO_VIVIENDA		VARCHAR(50),    @TIPO_V_ANT			VARCHAR(150)
				 ,@ES_TRASPASO		    VARCHAR(1) = 'S'
				 ,@LEYENDA				VARCHAR(70),	@EL_ID_FONDEO		VARCHAR(16)
				 ,@EL_ID_PRODUCTO		VARCHAR(11)
				 ,@TIPO_TRASPASO		INT = 0
				 ,@CRED_ANT		    	INT
                 ,@IND_ETAPA_RIESGO_MANUAL VARCHAR(1)

        exec CursorCloseDeallocate 'db_cursor_poliza_traspaso'
        DECLARE db_cursor_poliza_traspaso CURSOR FOR

		    SELECT C.ID_EXTERNO, A.NUM_CREDITO, CL.NOM_CLIENTE, C.NUM_DESC_TIPO_CREDITO,
			    ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
                , I.IND_ETAPA, A.IND_ETAPA
                , I.TIPO_VIVIENDA, A.TIPO_VIVIENDA
                , I.ID_FONDEO, A.ID_FONDEO
                , 'N'
		    FROM #CRED I
		    INNER JOIN #CRED_ANT A ON I.NUM_CREDITO = A.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza.PR.PR_CREDITOS C ON I.NUM_CREDITO = C.NUM_CREDITO
		    LEFT JOIN Quiero_Confianza.CL.CL_CLIENTES CL ON C.COD_CLIENTE = CL.COD_CLIENTE
		    LEFT JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
		    WHERE (I.IND_ETAPA <> A.IND_ETAPA OR I.TIPO_VIVIENDA <> A.TIPO_VIVIENDA OR I.ID_FONDEO <> A.ID_FONDEO)
                AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
				AND C.IND_LINEA = 'N'
				AND (C.IND_ESTADO IN ('A','T','D') OR ( C.IND_ESTADO = 'C' AND FEC_CANCELACION >= @FECHA_INICIO))

        OPEN db_cursor_poliza_traspaso
            FETCH NEXT FROM db_cursor_poliza_traspaso
            INTO  @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_TIPO_CREDITO, @ID_PRODUCTO
                , @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR, @TIPO_VIVIENDA, @TIPO_V_ANT, @ID_FONDEO_ACTUAL ,@ID_FONDEO_ANTERIOR
                , @IND_ETAPA_RIESGO_MANUAL

        WHILE @@FETCH_STATUS = 0
        BEGIN

			--- SE INICIALIZAN VARIABLES
			SELECT @LEYENDA = '', @EL_ID_FONDEO = IIF(@ID_FONDEO_ACTUAL = 2, 'NO RESTRINGIDO ', 'RESTRINGIDO '), @TIPO_TRASPASO = 0
			SET @EL_ID_PRODUCTO = CASE
				WHEN @ID_TIPO_CREDITO IN (1) THEN 'CONSUMO '
				WHEN @ID_TIPO_CREDITO IN (9, 10, 11) THEN 'EMPLEADO '	ELSE ''
			END
			
				---- CONCEPTO SI HAY CAMBIO SR a R | R a SR (CEDIDOS)
				IF	@ID_FONDEO_ANTERIOR <> @ID_FONDEO_ACTUAL
				BEGIN
					SET @LEYENDA = IIF(@ID_FONDEO_ANTERIOR = 2 AND @ID_FONDEO_ACTUAL = 1, 'SR A R ', 'R A SR ')
					
					
					SET @TIPO_TRASPASO = @TIPO_TRASPASO | IIF(@ID_FONDEO_ANTERIOR = 2 AND @ID_FONDEO_ACTUAL = 1, 1, 2)
					EXEC PO.SYS_SP_INSERT_TRASPASO @FECHA_INICIO, @NUM_CREDITO, @ID_EXTERNO, @LEYENDA, @ID_PRODUCTO,
					@ID_FONDEO_ACTUAL, @IND_ETAPA_ANTERIOR, @TIPO_V_ANT, @ID_TIPO_CREDITO, @NOM_CLIENTE,@IND_ETAPA_RIESGO_MANUAL, @IND_ETAPA_ANTERIOR
				END --END CAMBIO CEDIDO
				--SE ACTUALIZAN CAMPOS 'ANT'
				UPDATE PO.SAF_MOV_TRASPASO
					SET TIPO_VIVIENDA_ANT = @TIPO_V_ANT, IND_ETAPA_ANT = @IND_ETAPA_ANTERIOR, ID_FONDEO_ANT = @ID_FONDEO_ANTERIOR
					WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
						AND NUM_CREDITO = @NUM_CREDITO AND (CONCEPTO_FINAL LIKE 'SR A R%' OR CONCEPTO_FINAL LIKE 'R A SR%')

				---- CONCEPTO SI HAY CAMBIO DE VIVIENDA
				SET @LEYENDA = CASE
					WHEN @TIPO_V_ANT = 'INTERES SOCIAL' AND @TIPO_VIVIENDA = 'MEDIA RESIDENCIAL' THEN 'IS A MR '
					WHEN @TIPO_V_ANT = 'MEDIA RESIDENCIAL' AND @TIPO_VIVIENDA = 'INTERES SOCIAL' THEN 'MR A IS ' ELSE ''
					END
				
				IF @LEYENDA != '' BEGIN 
					
					--SELECT @NUM_CREDITO, @LEYENDA 
					
					SET @TIPO_TRASPASO = @TIPO_TRASPASO | 4
					EXEC PO.SYS_SP_INSERT_TRASPASO @FECHA_INICIO, @NUM_CREDITO, @ID_EXTERNO, @LEYENDA, @ID_PRODUCTO,
					@ID_FONDEO_ACTUAL, @IND_ETAPA_ANTERIOR, @TIPO_VIVIENDA, @ID_TIPO_CREDITO, @NOM_CLIENTE,@IND_ETAPA_RIESGO_MANUAL, @IND_ETAPA_ANTERIOR
				END --END CAMBIO DE VIVIENDA
				--SE ACTUALIZAN CAMPOS 'ANT'
				UPDATE PO.SAF_MOV_TRASPASO
					SET TIPO_VIVIENDA_ANT = @TIPO_V_ANT, IND_ETAPA_ANT = @IND_ETAPA_ANTERIOR, ID_FONDEO_ANT = @ID_FONDEO_ACTUAL
					WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
						AND NUM_CREDITO = @NUM_CREDITO AND (CONCEPTO_FINAL LIKE 'IS A MR%' OR CONCEPTO_FINAL LIKE 'MR A IS%')
				---- CONCEPTO SI HAY CAMBIO DE ETAPA

				IF @IND_ETAPA_ANTERIOR <> @IND_ETAPA_ACTUAL
		
				BEGIN
					SET @LEYENDA = CASE
						WHEN @IND_ETAPA_ANTERIOR = 1 AND @IND_ETAPA_ACTUAL = 2 THEN 'ET1 A ET2 '
						WHEN @IND_ETAPA_ANTERIOR = 1 AND @IND_ETAPA_ACTUAL = 3 THEN 'ET1 A ET3 '
						WHEN @IND_ETAPA_ANTERIOR = 2 AND @IND_ETAPA_ACTUAL = 3 THEN 'ET2 A ET3 '
						WHEN @IND_ETAPA_ANTERIOR = 3 AND @IND_ETAPA_ACTUAL = 1 THEN 'ET3 A ET1 '
						WHEN @IND_ETAPA_ANTERIOR = 2 AND @IND_ETAPA_ACTUAL = 1 THEN 'ET2 A ET1 '
						WHEN @IND_ETAPA_ANTERIOR = 3 AND @IND_ETAPA_ACTUAL = 2 THEN 'ET3 A ET2 ' ELSE ''
						END

						
						-- # PROCESO PARA CALCLAR LOS TRASPASOS
						IF @LEYENDA != '' BEGIN
						SET @TIPO_TRASPASO = @TIPO_TRASPASO | 8
						EXEC PO.SYS_SP_INSERT_TRASPASO @FECHA_INICIO, @NUM_CREDITO, @ID_EXTERNO, @LEYENDA, @ID_PRODUCTO,
						@ID_FONDEO_ACTUAL, @IND_ETAPA_ACTUAL, @TIPO_VIVIENDA, @ID_TIPO_CREDITO, @NOM_CLIENTE,@IND_ETAPA_RIESGO_MANUAL, @IND_ETAPA_ANTERIOR
						END
				END --END CAMBIO DE ETAPA
				--SE ACTUALIZAN CAMPOS 'ANT'
				UPDATE PO.SAF_MOV_TRASPASO
					SET TIPO_VIVIENDA_ANT = @TIPO_VIVIENDA, IND_ETAPA_ANT = @IND_ETAPA_ANTERIOR, ID_FONDEO_ANT = @ID_FONDEO_ACTUAL
					WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
						AND NUM_CREDITO = @NUM_CREDITO AND CONCEPTO_FINAL LIKE 'ET%A ET%'
			

            FETCH NEXT FROM db_cursor_poliza_traspaso
            INTO  @ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_TIPO_CREDITO, @ID_PRODUCTO
                , @IND_ETAPA_ACTUAL, @IND_ETAPA_ANTERIOR, @TIPO_VIVIENDA, @TIPO_V_ANT, @ID_FONDEO_ACTUAL ,@ID_FONDEO_ANTERIOR
                , @IND_ETAPA_RIESGO_MANUAL
        END 

        CLOSE db_cursor_poliza_traspaso  
        DEALLOCATE db_cursor_poliza_traspaso

		
		-- ELIMINACION DE REGISTROS NO NECESARIOS
		DELETE FROM PO.SAF_MOV_TRASPASO WHERE MONTO = 0 AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
		DELETE FROM PO.SAF_MOV_TRASPASO WHERE CONCEPTO IS NULL AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		-- >>>>>>> Extraccion de movimiento de empreado a consumo exempleado <<<<<<<

		INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL, RUBRO, MONTO
			, ID_TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ETAPA, TABLA_ORIGEN, ID_POLIZA, CONCEPTO, COD_CLIENTE, IND_ESTADO
			, TIPO_VIVIENDA_ANT, IND_ETAPA_ANT, ID_FONDEO_ANT)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(D.PRIMER_APELLIDO, D.SEGUNDO_APELLIDO, D.PRIMER_NOMBRE, D.SEGUNDO_NOMBRE, NULL, NULL)
			,CH.ID_FONDEO
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CONCAT('EMP A EX ', C.ID_EXTERNO, ' ', dbo.FN_FORMA_NOMBRE(D.PRIMER_APELLIDO, D.SEGUNDO_APELLIDO, D.PRIMER_NOMBRE, D.SEGUNDO_NOMBRE, NULL, NULL)) AS CONCEPTO_FINAL
			,B.COD_CONCEPTO AS RUBRO
			,B.MON_PAGO MONTO
			,C.NUM_DESC_TIPO_CREDITO
			,CH.TIPO_VIVIENDA
			,A.FEC_MOVIMIENTO
			,CH.IND_ETAPA
			,'TRASPASO EX'
			,@ID_POLIZA
			,'' AS CONCEPTO
			,'' AS COD_CLIENTE
			,C.IND_ESTADO
			,CH.TIPO_VIVIENDA
			,CH.IND_ETAPA
			,CH.ID_FONDEO
		FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
			INNER JOIN Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
			AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
			LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
		WHERE C.IND_ESTADO IN ('C')
			AND C.IND_LINEA = 'N'
            AND C.NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17)
			AND A.FEC_MOVIMIENTO = @FECHA_INICIO
            and A.mon_movimiento > 0 -- no se consideran cancelaciones
			AND B.MON_PAGO <> 0.00
			AND A.TIP_TRANSACCION !=3  --Evita que se traigan desembolsos que se jalan en SP FIRMA
            AND A.Id_cuenta IN ('2076')

		
		-- DUPLICAR MOVIMIENTO DE ORDEN 
		INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL,
			    CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
			    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO,COD_CLIENTE, TABLA_ORIGEN, ID_POLIZA,
				ES_DETECTADO, TIPO_VIVIENDA_ANT, IND_ETAPA_ANT, ID_FONDEO_ANT)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL,
			    CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, 0, ID_TIPO_CREDITO, 
			    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
			    FEC_APERTURA, CEDIDO,COD_CLIENTE, 'TRASPASO', @ID_POLIZA, 2, TIPO_VIVIENDA_ANT, IND_ETAPA_ANT, ID_FONDEO_ANT
		FROM PO.SAF_MOV_TRASPASO
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO
            AND CONCEPTO = 'ORDEN' AND ES_DETECTADO = 1
        
        update PO.SAF_MOV_TRASPASO
        set IND_COVID = ''
        where FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA
            and IND_COVID is null

		--- SI ALGUN TIPO VIVIENDA ES NULL se clasifica como consumo
		UPDATE SAF_MOV_TRASPASO
		SET ID_PRODUCTO = 50,	
			NOMBRE_PRODUCTO = 'CONSUMO'
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
				AND (TIPO_VIVIENDA IS NULL OR TIPO_VIVIENDA = 'CONSUMO')
				

		-- SE DETERMINA EL TIPO DE PRODUCTO DEACUERDO AL ID EMPLEADO O CONSUMO
		UPDATE H
		SET H.ID_PRODUCTO = 50,	
			H.NOMBRE_PRODUCTO = 'CONSUMO'
		FROM  SAF_MOV_TRASPASO H  
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO = 1 AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
		SET H.ID_PRODUCTO = 51,	
			H.NOMBRE_PRODUCTO = 'EMPLEADO'
		FROM  SAF_MOV_TRASPASO H
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS GG ON GG.NUM_CREDITO = H.NUM_CREDITO
		WHERE GG.NUM_DESC_TIPO_CREDITO IN (9, 10, 11) AND FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

		--- UPDATE CONCEPTO ACTUAL
 		UPDATE PO.SAF_MOV_TRASPASO
				SET CONCEPTO = CONCAT('PAGO ',
				CASE
					WHEN ID_PRODUCTO= 50 OR TABLA_ORIGEN = 'TRASPASO EX' THEN 'CONSUMO '
					WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
				END,
                --IIF(RUBRO = 'COMISION_ADMINISTRACION' and IND_ETAPA != 3,'DEVENGO ',''),
				IIF(IND_COVID = 'S', 'COVID ', ''),
				RUBRO, ' ',
				IIF(ID_PRODUCTO= 50 OR TABLA_ORIGEN = 'TRASPASO EX', '', CONCAT(TIPO_VIVIENDA, ' ')),
				IIF(ID_FONDEO = 2, 'NO ', ''), 'RESTRINGIDO ',
                IND_ETAPA)
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA
		
		-- UPDATE CONCEPTO ANTERIOR
		UPDATE PO.SAF_MOV_TRASPASO
			SET CONCEPTO_ANT = CONCAT('PAGO ',
				CASE
					WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
					WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
				END,
                --IIF(RUBRO = 'COMISION_ADMINISTRACION' and IND_ETAPA_ANT != 3,'DEVENGO ',''),
				IIF(IND_COVID = 'S', 'COVID ', ''),
				RUBRO, ' ',
				IIF(ID_PRODUCTO= 50, '', CONCAT(TIPO_VIVIENDA_ANT, ' ')),
				IIF(ID_FONDEO_ANT = 2, 'NO ', ''), 'RESTRINGIDO ',
                IND_ETAPA_ANT)
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA

		UPDATE PO.SAF_MOV_TRASPASO -- concepto para devengo de etapa 3 cuentas 5002
			SET CONCEPTO_ANT = CONCAT('PAGO CO ',
				CASE
					WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
					WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO ' ELSE ''	
				END, 
				IIF(IND_COVID = 'S', 'COVID ', ''),
				RUBRO, ' ',
				IIF(ID_PRODUCTO= 50, '', CONCAT(TIPO_VIVIENDA_ANT, ' ')),
				IIF(ID_FONDEO_ANT = 2, 'NO ', ''), 'RESTRINGIDO ',
                IND_ETAPA_ANT)
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO  AND ID_POLIZA = @ID_POLIZA
                AND IND_ETAPA_ANT = 3 AND IND_ETAPA IN (1,2) AND RUBRO <> 'PRINCIPAL' and IND_COVID <> 'S'
				AND ES_DETECTADO IS NULL

		-- SE ACTUAILIZAN CONCEPTOS CCO PARA REGISTROS DE ORDEN
		UPDATE PO.SAF_MOV_TRASPASO
		SET CONCEPTO = REPLACE(CONCEPTO,'PAGO','PAGO CCO'),
		CONCEPTO_ANT = REPLACE(CONCEPTO_ANT,'PAGO','PAGO CCO')
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ES_DETECTADO IS NOT NULL

        -- UPDATE ID_CONCEPTO
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
			WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		-- UPDATE ID_CONCEPTO_ANT
		UPDATE H SET H.ID_CONCEPTO_ANT = C.ID
			FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO_ANT 
			WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		
		--- ASIGNACION DE CUENTAS: CARGO
		UPDATE H SET 
			H.CUENTA_CARGO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
		AND ES_DETECTADO IS NULL

		
		--- ASIGNACION DE CUENTAS: ABONO
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
		AND ES_DETECTADO IS NULL

		-- ASIGNACIÓN DE CUENTAS MOVIMIENTOS CCO 
		-- MOVIMIENTO CARGO
		UPDATE H SET 
			H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
		AND ES_DETECTADO = 1 
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
		AND ES_DETECTADO = 1 
		-- MOVIMIENTO ABONO 
		UPDATE H SET 
			H.CUENTA_CARGO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
		AND ES_DETECTADO = 2
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
		AND ES_DETECTADO = 2 


		--ACTUALIZACION DE CAMPOS: CEDIDO, FEC_APERTURA, TIPO_CREDITO, NOMBRE_PRODUCTO
		UPDATE H SET CEDIDO = [dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA),
				FEC_APERTURA = C.FEC_APERTURA
				,TIPO_CREDITO = (SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,NOMBRE_PRODUCTO = case when NOMBRE_PRODUCTO  is null then (SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) else NOMBRE_PRODUCTO end
			FROM PO.SAF_MOV_TRASPASO H
			LEFT JOIN Quiero_Confianza.PR.PR_CREDITOS C ON H.NUM_CREDITO = C.NUM_CREDITO
		  LEFT JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA
            AND C.IND_ESTADO IN ('C', 'D') AND C.IND_LINEA = 'N'		

        -- complemento de movimientos para etapa 3 cuentas de orden
		INSERT INTO PO.SAF_MOV_TRASPASO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL,
			    CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
			    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO,COD_CLIENTE, TABLA_ORIGEN, ID_POLIZA)
		SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO, CONCEPTO_FINAL,
			    CONCAT(CASE
					WHEN IND_FORMA_PAGO = 5 AND ID_PRODUCTO=50 THEN 'PAGO CCO SALDO_FAVOR CONSUMO ' --Pago que se aplica utilizando saldo a favor "este es descarga saldo a favor y es de consumo"
					WHEN IND_FORMA_PAGO = 5 THEN 'PAGO CCO SALDO_FAVOR ' --Pago que se aplica utilizando saldo a favor "este es descarga saldo a favor"

					WHEN ID_PRODUCTO= 50 THEN 'PAGO CCO CONSUMO '
					WHEN ID_PRODUCTO= 51 THEN 'PAGO CCO EMPLEADO '

					WHEN ID_TIPO_CREDITO = 26 THEN 'CASTIGO '
					ELSE 'PAGO CCO '
				END,
				--IIF( (ID_CUENTA = '2076' OR ID_CUENTA = '1020010502130300') AND ID_PRODUCTO= 50, 'EXEM ', ''),
				IIF(IND_COVID = 'S', 'COVID ', ''), --# Si el registro tiene COVID le agrega la palabra
				RUBRO + ' ',  --# Si no es saldo a favor le agrega el rubro
				IIF(ID_PRODUCTO= 50,'', CONCAT(TIPO_VIVIENDA, ' ')),
				IIF(ID_FONDEO = 2, 'NO ', ''),'RESTRINGIDO ', IND_ETAPA_ANT) ,
			    NOMBRE_PRODUCTO, RUBRO, MONTO, 0, ID_TIPO_CREDITO, 
			    TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
			    FEC_APERTURA, CEDIDO,COD_CLIENTE, 'TRASPASO', @ID_POLIZA
		FROM PO.SAF_MOV_TRASPASO
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO
            AND IND_ETAPA_ANT = 3 AND IND_ETAPA IN (1,2) and rubro <> 'PRINCIPAL' and IND_COVID <> 'S'
			AND ES_DETECTADO IS NULL

		--- ASIGNACION DE CUENTAS movimientos para etapa 3 cuentas de orden
		UPDATE H SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA and H.CONCEPTO LIKE '% CCO %'
		AND ES_DETECTADO IS NULL

		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_TRASPASO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
		AND H.ID_POLIZA = @ID_POLIZA and H.CONCEPTO LIKE '% CCO %'
		AND ES_DETECTADO IS NULL

		-- SE ACTUALIZAN LOS CONCEPTOS DE PAGO PRINCIPAL
		UPDATE PO.SAF_MOV_TRASPASO
		SET CONCEPTO = REPLACE(CONCEPTO,'PAGO','TRASPASO'),
		CONCEPTO_ANT = REPLACE(CONCEPTO_ANT,'PAGO','TRASPASO')
		WHERE ID_POLIZA = @ID_POLIZA AND FECHA_MOVIMIENTO = @FECHA_INICIO

        --no deben quedar nulos en las cuentas
        UPDATE PO.SAF_MOV_TRASPASO
        SET   CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_TRASPASO
        SET   CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA and CUENTA_CARGO is null

        --manejo de porcentaje Afirme
        UPDATE PO.SAF_MOV_TRASPASO
        SET   MONTO = MONTO * 0.10
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
            AND ID_TIPO_CREDITO = 4 AND CONCEPTO NOT LIKE 'TRS %'

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY,TIPO varchar(1))
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO, TIPO)
		SELECT CONCEPTO_FINAL, A.CUENTA_CARGO AS CUENTA, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO,'C'
		FROM [PO].[SAF_MOV_TRASPASO] A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO, TIPO)
		SELECT CONCEPTO_FINAL, A.CUENTA_ABONO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_ABONO,'A'
		FROM [PO].[SAF_MOV_TRASPASO] A
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
			

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		GROUP BY CONCEPTO, CUENTA, TIPO

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		COMMIT

	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
