SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion: 	20240913
-- Descripcion:	Listado de polizas que no han sido enviadas de saf a dynamics para ser enviadas una por una
-- =============================================
-- [PO].[SP_SAF_POLIZA_ENVIO_1P_LIS]
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_ENVIO_1P_LIS]
	 
AS
BEGIN
    SET NOCOUNT ON;

    select distinct FORMAT(E.FECHA_SISTEMA, 'yyyy-MM-dd') as FECHA_SISTEMA,E.ID_POLIZA
	from PO.SAF_POLIZA_HISTORICO_ENC E
        INNER JOIN PO.CAT_TIPO_POLIZA C ON E.ID_POLIZA = C.ID
    where E.FECHA_SISTEMA >= DATEADD(day, -7, GETDATE())
        and not ESTATUS = 'ENVIADA'
        and (C.DESCRIPCION like '% IND' OR C.DESCRIPCION like '% CMR' OR C.DESCRIPCION like '% SND')

END
GO
