SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_COM_CANCELACION]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 63
        ,@FECHA_FIN_DIA date

    set @FECHA_FIN_DIA = DATEADD(day, 1, @FECHA_INICIO)

	BEGIN TRY
		BEGIN TRANSACTION
			
		DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

        create table #DESEMBOLSOS(
             NUM_CREDITO int
            ,MONTO decimal(18,2)
        )

        SELECT C.NUM_CREDITO
        INTO #CANCELADOS_1
        FROM Quiero_Confianza.PR.PR_CREDITOS C
	    WHERE (@FECHA_INICIO <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FECHA_FIN_DIA)
            AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
            AND IND_LINEA = 'N'
            and (C.num_contrato IS NULL or C.num_contrato = C.NUM_CREDITO) -- se quitan creditos que pertenecen a una linea

        SELECT C.num_contrato AS NUM_CREDITO
        INTO #CANCELADOS_G
        FROM Quiero_Confianza.PR.PR_CREDITOS C
	    WHERE C.num_contrato in (
                SELECT C.num_contrato AS NUM_CREDITO
                FROM Quiero_Confianza.PR.PR_CREDITOS C
	            WHERE (@FECHA_INICIO <= C.FEC_CANCELACION AND C.FEC_CANCELACION < @FECHA_FIN_DIA)
                    AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
                    AND IND_LINEA = 'N'
                    AND NOT (C.num_contrato IS NULL or C.num_contrato = C.NUM_CREDITO) -- creditos que pertenecen a una linea
            )
        GROUP BY C.num_contrato
        HAVING count(*)-sum(case when ind_estado = 'C' then 1 else 0 end) = 0


        INSERT INTO #DESEMBOLSOS(NUM_CREDITO,MONTO)
        SELECT C.NUM_CREDITO, SUM(A.MON_MOVIMIENTO) AS MONTO
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE A.TIP_TRANSACCION = 3 --desembolsos
            AND A.Id_cuenta NOT IN ('2061','2056','2068') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO
            and C.NUM_CREDITO IN (select NUM_CREDITO FROM #CANCELADOS_1)
        GROUP BY C.NUM_CREDITO


        INSERT INTO #DESEMBOLSOS(NUM_CREDITO,MONTO)
        SELECT C.NUM_CONTRATO, SUM(A.MON_MOVIMIENTO) AS MONTO
        FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
		    INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
	    WHERE A.TIP_TRANSACCION = 3 --desembolsos
            AND A.Id_cuenta NOT IN ('2061','2056','2068') -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO
            and C.NUM_CONTRATO IN (select NUM_CREDITO FROM #CANCELADOS_G)
        GROUP BY C.NUM_CONTRATO


		INSERT INTO PO.SAF_MOV_ABONO(
		    ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
		    ,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
		    ,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_CUENTA, IND_COVID
		    ,TIPO_VIVIENDA, CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, CANAL, ID_POLIZA)
		SELECT  
			 C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,'' AS RUBRO
            ,dbo.FN_FIRMA_MONTO(C.ID_EXTERNO,C.OBSERVACIONES,C.MON_CREDITO) - isnull(DESEMBOLSO.MONTO,0) AS MONTO
			,0 AS MON_PAGO_IVA
			,0 AS IND_FORMA_PAGO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,C.IND_ESTADO
			,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,@FECHA_INICIO AS FEC_MOVIMIENTO
			,0 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,CH.IND_ETAPA
			,CASE WHEN SUBSTRING(C.ID_EXTERNO, 1, 4) IN ('CSCO', 'CSIM', 'CLRE') THEN dbo.FN_FORMA_MONEDA(isnull(dbo.info_extra_extraer('MONTO_CREDITO', C.OBSERVACIONES),C.MON_CREDITO)) ELSE C.MON_CREDITO END AS MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
			,C.FEC_APERTURA
			,0 AS Id_secuencia
			,0 AS Id_cuenta
			,'N' AS IND_COVID
			,''
			,''
			,''
			,'CANCELACION'
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
			,@ID_POLIZA
		FROM #DESEMBOLSOS DESEMBOLSO WITH (NOLOCK)
                INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C ON DESEMBOLSO.NUM_CREDITO = C.NUM_CREDITO
				INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
				LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
				LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
				LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = replace(C.ID_EXTERNO,char(13),'')
				LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
				LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
        WHERE dbo.FN_FIRMA_MONTO(C.ID_EXTERNO,C.OBSERVACIONES,C.MON_CREDITO) - isnull(DESEMBOLSO.MONTO,0) > 0
		
		--- CALIFICACION BASE DEL CONCEPTO DEACUERDO A REGLAS GLOBALES
		UPDATE H
		SET CONCEPTO = 
			CONCAT('CMR FIRMA CANC PRINCIPAL ',
			H.TIPO_CREDITO,
			' ', H.CANAL,
			' NO RESTRINGIDO ', 
			'1')
		FROM PO.SAF_MOV_ABONO H
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA 

		--- CALIFICACION FINAL DE CONCEPTO POLIZA
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO_FINAL = LEFT(CONCAT('CANC ', ID_EXTERNO, ' ', NOM_CLIENTE),30)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA


		--## ASIGNACION DE CUENTAS RESPECTO A LOS CATALOGOS
		UPDATE H
        SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H
        SET H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
		SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA
	
		UPDATE H
		SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_ABONO H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

	
		--no deben quedar nulos en las cuentas
        UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_ABONO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA and CUENTA_ABONO is null

		UPDATE PO.SAF_MOV_ABONO
        SET   CUENTA_CARGO = ''
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA and CUENTA_CARGO is null

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		SELECT CONCEPTO_FINAL, CUENTA_CARGO, CUENTA_ABONO, MONTO, ID_EXTERNO, ID_TIPO_CREDITO, CONCEPTO
		INTO #Extraccion_DC
		FROM PO.SAF_MOV_ABONO A
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND A.ID_POLIZA = @ID_POLIZA

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO_FINAL, CUENTA_CARGO CUENTA,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
			CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM #Extraccion_DC
		GROUP BY CUENTA_CARGO, CONCEPTO_FINAL, ID_EXTERNO

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO_FINAL, CUENTA_ABONO CUENTA,
			CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
			CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		FROM #Extraccion_DC
		GROUP BY CUENTA_ABONO, CONCEPTO_FINAL, ID_EXTERNO


        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA


		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
