SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_HIS_SALDOS_ADM](
	[FECHA] [date] NOT NULL,
	[RUBRO] [varchar](30) NULL,
	[MONTO] [numeric](18, 2) NULL,
	[CARTERA] [int] NULL
) ON [PRIMARY]
GO
