SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_IND_PAG_X_IDENTIFICAR]
(
	@FECHA_INICIO DATE
)
AS
-----------------------0905
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 18

	BEGIN TRY
		BEGIN TRANSACTION

		DECLARE @ULTIMO_ID_CARGA BIGINT
        ,@PREVIO_ID_CARGA BIGINT
        ,@FECHA_SISTEMA_ANT date

		DELETE FROM PO.SAF_MOV_X_IDENTIFICAR WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

        SELECT @FECHA_SISTEMA_ANT = DATEADD(DD,-1,fec_hoy) FROM Quiero_Confianza.cf.cf_calendarios where cod_empresa = '001' AND cod_agencia = '001' AND cod_sistema = 'PR'

        if @FECHA_SISTEMA_ANT = @FECHA_INICIO begin

		    select @ULTIMO_ID_CARGA = MAX(ID_CARGA)
            from Quiero_Confianza.PR.PR_DEPOSITOS_X_IDENTIFICAR

            delete from PO.SAF_CONTROL_PAGOS_NO_IDENTIFICADOS where FECHA = @FECHA_INICIO
        
		    insert into PO.SAF_CONTROL_PAGOS_NO_IDENTIFICADOS(        ID_CARGA,  FECHA)
		    values                                           (@ULTIMO_ID_CARGA, @FECHA_INICIO)

        end else begin

		    SELECT TOP 1 @ULTIMO_ID_CARGA = ID_CARGA
            FROM PO.SAF_CONTROL_PAGOS_NO_IDENTIFICADOS
            where FECHA = @FECHA_INICIO

        end

		select top 1 @PREVIO_ID_CARGA = ID_CARGA
        from PO.SAF_CONTROL_PAGOS_NO_IDENTIFICADOS
        where FECHA = DATEADD(DD,-1,@FECHA_INICIO)

        --- # SE GUARDA LO QUE QUEDO PENDIENTE EN EL DIA
		INSERT INTO PO.SAF_SIN_IDENTIFICAR(ID, ID_CARGA, ID_DEPOSITO, ESTADO, FECHA)
		SELECT NEWID() ID, ID_CARGA, ID_DEPOSITO, 'P', @FECHA_INICIO
        FROM Quiero_Confianza.PR.PR_DEPOSITOS_X_IDENTIFICAR
        WHERE IND_ESTADO = 'P'
        --    AND FECHA = @FECHA_INICIO
            AND ID_CUENTA NOT IN (2061,2056,2068) -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO
			AND ID_CARGA+'-'+ID_DEPOSITO NOT IN (SELECT ID_CARGA+'-'+ID_DEPOSITO FROM PO.SAF_SIN_IDENTIFICAR)

		--- # SE ACTUALIZA ESTADO DE REGISTROS IDENTIFICADOS O REVERZADOS DE OTROS DIAS
		UPDATE PO.SAF_SIN_IDENTIFICAR 
		SET ESTADO = 'A',
			FECHA_IDENTIFICADO = @FECHA_INICIO
		WHERE FECHA_IDENTIFICADO is null
            and ID IN(				
			    SELECT B.ID	FROM PO.SAF_SIN_IDENTIFICAR B
				    INNER JOIN Quiero_Confianza.PR.PR_DEPOSITOS_X_IDENTIFICAR A ON B.ID_CARGA = A.ID_CARGA AND B.ID_DEPOSITO = A.ID_DEPOSITO
			    WHERE A.IND_ESTADO != 'P'
		    )

        -- ==================================================================================================================================================

		--Movimientos sin aplicar
		INSERT INTO PO.SAF_MOV_X_IDENTIFICAR(ID, CONCEPTO, CONCEPTO_FINAL, MONTO, FECHA_MOVIMIENTO, ID_POLIZA, CUENTA_CARGO, CUENTA_ABONO, ID_CONCEPTO, 
		    IND_ESTADO, ID_CARGA, ID_DEPOSITO, NUM_CREDITO, ID_CUENTA, COD_CONCEPTO, MON_PAGO, IND_CAMBIO, TIP_TRANSACCION, MON_PAGO_IVA, BANCO_RECEPTOR)
		SELECT
		    NEWID(),
		    'DEPOSITO POR APLICAR',
            CONCAT('DEP NO IDEN ',C.ID_CARGA,' ', format(C.ID_DEPOSITO,'000')),
		    C.MON_MOVIMIENTO,
		    @FECHA_INICIO,
		    @ID_POLIZA,
		    '',
		    '',
		    '',
		    C.IND_ESTADO,
		    C.ID_CARGA,
            C.ID_DEPOSITO,
		    C.NUM_CREDITO,
		    C.ID_CUENTA,
		    'DEPOSITO POR IDENTIFICAR',
		    C.mon_movimiento,
		    C.IND_ESTADO CAMBIO,
		    null,--A.TIP_TRANSACCION,
		    0,
		    ''
		FROM Quiero_Confianza.PR.PR_DEPOSITOS_X_IDENTIFICAR C
		WHERE C.MON_MOVIMIENTO <> 0.00
            AND C.ID_CUENTA NOT IN (2061,2056,2068) -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO
            and (ID_CARGA_REF = 0 or ID_CARGA_REF is null or not ID_CARGA_REF in (select ID_CARGA from Quiero_Confianza.PR.PR_DEPOSITOS_X_IDENTIFICAR where mon_movimiento = C.mon_movimiento)) -- este quita los movimientos regenerados por el propio sistema
		    AND (FECHA = @FECHA_INICIO OR (@PREVIO_ID_CARGA < C.ID_CARGA AND C.ID_CARGA <= @ULTIMO_ID_CARGA and FECHA < @FECHA_INICIO and @PREVIO_ID_CARGA != @ULTIMO_ID_CARGA))
            and inconsistencia <> 'Generación depósitos por Identificar - Reversión'
            --and num_deposito not in (select num_deposito from Quiero_Confianza.PR.PR_ENCABEZADO_PAGO where mon_movimiento < 0)

		--Movimientos aplicados como reversas
        INSERT INTO PO.SAF_MOV_X_IDENTIFICAR(ID, CONCEPTO, CONCEPTO_FINAL, MONTO, FECHA_MOVIMIENTO, ID_POLIZA, CUENTA_CARGO, CUENTA_ABONO, ID_CONCEPTO, 
			IND_ESTADO, ID_CARGA, ID_DEPOSITO, NUM_CREDITO, ID_CUENTA, COD_CONCEPTO, MON_PAGO, IND_CAMBIO, TIP_TRANSACCION, MON_PAGO_IVA,BANCO_RECEPTOR)
		SELECT
			NEWID(),
			'REVERSO NO IDENTIFICADO',
            CONCAT('REV NO IDEN ',C.ID_CARGA,' ', format(C.ID_DEPOSITO,'000')),
			C.MON_MOVIMIENTO,
			@FECHA_INICIO,--C.FECHA,
			@ID_POLIZA,
			'',	'',	'',
			C.IND_ESTADO,
			C.ID_CARGA,
            C.ID_DEPOSITO,
			C.NUM_CREDITO,
			C.ID_CUENTA,
			'REVERSO NO IDENTIFICADO',
			C.mon_movimiento,
			C.IND_ESTADO CAMBIO,
			null,
			0,
			''
		FROM PO.SAF_SIN_IDENTIFICAR BB
			INNER JOIN Quiero_Confianza.PR.PR_DEPOSITOS_X_IDENTIFICAR C ON C.ID_CARGA = BB.ID_CARGA AND C.ID_DEPOSITO = BB.ID_DEPOSITO
		WHERE BB.ESTADO = 'A'
            AND BB.FECHA_IDENTIFICADO = @FECHA_INICIO
            AND C.IND_ESTADO != 'P' 
            AND C.ID_CUENTA NOT IN (2061,2056,2068) -- se quitan los de STDR FISO DAMNIF_6641, INBURSA ADMON COBRANZA, SINIESTRO
            and C.CUENTA_CONTABLE_LIQ = '2020050803010000'
			

		---## Extraccion del banco del movimiento en la tabla de por identificar
		UPDATE  H
		SET H.BANCO_RECEPTOR = D.DES_CUENTA
		FROM
			PO.SAF_MOV_X_IDENTIFICAR H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE D ON H.ID_CUENTA = D.ID_CUENTA -----PARA EL BANCO RECEPTOR
		WHERE D.IND_ESTADO != 'P'
		    AND FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA


		-- ASIGNACION DE CUENTAS
		UPDATE H
        SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_X_IDENTIFICAR H
            JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		UPDATE H
        SET H.CUENTA_ABONO = CC.CUENTA_ABONO
            , H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_X_IDENTIFICAR H
            JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

        UPDATE H
		SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_X_IDENTIFICAR H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

        UPDATE H
		SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_X_IDENTIFICAR H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON H.ID_CUENTA = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( H.ID_CUENTA AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)


		INSERT INTO #POLIZA (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, A.CUENTA_CARGO, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_X_IDENTIFICAR] A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		INSERT INTO #POLIZA (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, A.CUENTA_ABONO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_X_IDENTIFICAR] A
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA


    	INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
        where CONCEPTO like 'DEP NO IDEN %'
		GROUP BY CONCEPTO, CUENTA

    	INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO
		FROM #POLIZA
        where CONCEPTO like 'REV NO IDEN %'


        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA


		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
