SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- ESTE SP EJECUTA TODOS LOS SPs juntos configurados al 30 abril 2025, en la fecha de SAF -1

CREATE PROCEDURE [PO].[SP_SAF_POLIZA_DIARIA]
AS
BEGIN

		DECLARE @FECHA DATE, @FECH_SAF DATE
		SELECT @FECHA = DATEADD(day, -1, fec_hoy), @FECH_SAF = fec_hoy FROM Quiero_Confianza.cf.cf_calendarios where cod_empresa = '001' AND cod_agencia = '001' AND cod_sistema = 'PR'

        EXECUTE [PO].[VERIFICAR_CREDITOS_FALTANTES]

        EXECUTE [PO].[SYS_SP_CONTROL_HISTORICO_TRASPASOS]

		EXECUTE [PO].[SP_SAF_POLIZA_REEST_CAST] @FECHA

print 'DIA PROCESADO: ' + convert(varchar,@FECHA,121)
print convert(varchar,getdate(),121)+'-IND_ADMINISTRADA'
		EXECUTE [PO].[SP_IND_ADMINISTRADA] @FECHA
print convert(varchar,getdate(),121)+'-IND_COBRANZA'
		EXECUTE [PO].[SP_IND_COBRANZA] @FECHA
print convert(varchar,getdate(),121)+'-IND_TRASPASO'
		EXECUTE [PO].[SP_IND_TRASPASO] @FECHA
print convert(varchar,getdate(),121)+'-IND_CONDONACION'
		EXECUTE [PO].[SP_IND_CONDONACION] @FECHA
print convert(varchar,getdate(),121)+'-IND_DACION_ADJUDICACION'
		EXECUTE [PO].[SP_IND_DACION_ADJUDICACION] @FECHA
print convert(varchar,getdate(),121)+'-IND_DESEMBOLSO'
		EXECUTE [PO].[SP_IND_DESEMBOLSO] @FECHA
print convert(varchar,getdate(),121)+'-IND_DEV_COMISIONES'
		EXECUTE [PO].[SP_IND_DEV_COMISIONES] @FECHA
print convert(varchar,getdate(),121)+'-IND_DEV_INTERES'
		EXECUTE [PO].[SP_IND_DEV_INTERES] @FECHA   -- los devengos de intereses deben ejecutarse despues de cobranza y traspasos
print convert(varchar,getdate(),121)+'-IND_DEV_MORATORIO'
		EXECUTE [PO].[SP_IND_DEV_MORATORIO] @FECHA
print convert(varchar,getdate(),121)+'-IND_DEV_SEGUROS'
		EXECUTE [PO].[SP_IND_DEV_SEGUROS] @FECHA
print convert(varchar,getdate(),121)+'-IND_DEVOLUCIONES'
		EXECUTE [PO].[SP_IND_DEVOLUCIONES] @FECHA
print convert(varchar,getdate(),121)+'-IND_FIRMA'
		EXECUTE [PO].[SP_IND_FIRMA] @FECHA
print convert(varchar,getdate(),121)+'-IND_OPERACIONES_PENDIENTES'
		EXECUTE [PO].[SP_IND_OPERACIONES_PENDIENTES] @FECHA
print convert(varchar,getdate(),121)+'-IND_PAG_X_IDENTIFICAR'
		EXECUTE [PO].[SP_IND_PAG_X_IDENTIFICAR] @FECHA
print convert(varchar,getdate(),121)+'-IND_REVERSO_COBRANZA'
		EXECUTE [PO].[SP_IND_REVERSO_COBRANZA] @FECHA
print convert(varchar,getdate(),121)+'-IND_REVERSO_COMISION'
		EXECUTE [PO].[SP_IND_REVERSO_COMISION] @FECHA
print convert(varchar,getdate(),121)+'-IND_REVERSO_CONDONACION'
		EXECUTE [PO].[SP_IND_REVERSO_CONDONACION] @FECHA
print convert(varchar,getdate(),121)+'-IND_REVERSO_DACION_ADJUDICACION'
		EXECUTE [PO].[SP_IND_REVERSO_DACION_ADJUDICACION] @FECHA
print convert(varchar,getdate(),121)+'-IND_REVERSO_DESEMBOLSO'
		EXECUTE [PO].[SP_IND_REVERSO_DESEMBOLSO] @FECHA
print convert(varchar,getdate(),121)+'-IND_REVERSO_DEVOLUCIONES'
		EXECUTE [PO].[SP_IND_REVERSO_DEVOLUCIONES] @FECHA
print convert(varchar,getdate(),121)+'-IND_REVERSO_INTERES'
		EXECUTE [PO].[SP_IND_REVERSO_INTERES] @FECHA
print convert(varchar,getdate(),121)+'-IND_REVERSO_MORATORIO'
		EXECUTE [PO].[SP_IND_REVERSO_MORATORIO] @FECHA
print convert(varchar,getdate(),121)+'-IND_TRASPASO_SALDO_FAVOR'
		EXECUTE [PO].[SP_IND_TRASPASO_SALDO_FAVOR] @FECHA
print convert(varchar,getdate(),121)+'-IND_CASTIGOS'
		EXECUTE [PO].[SP_IND_CASTIGOS] @FECHA
print convert(varchar,getdate(),121)+'-IND_COBRANZA_CASTIGOS'
		EXECUTE [PO].[SP_IND_COBRANZA_CASTIGOS] @FECHA
print convert(varchar,getdate(),121)+'-IND_REVERSO_COBRANZA_CASTIGOS'
		EXECUTE [PO].[SP_IND_REVERSO_COBRANZA_CASTIGOS] @FECHA
print convert(varchar,getdate(),121)+'-IND_REESTRCTURA_CAP'
		EXECUTE [PO].[SP_IND_REESTRCTURA_CAP] @FECHA
print convert(varchar,getdate(),121)+'-IND_REESTRCTURA_SN_CAP'
		EXECUTE [PO].[SP_IND_REESTRCTURA_SN_CAP] @FECHA
print convert(varchar,getdate(),121)+'-IND_VENTA_CARTERA'
		EXECUTE [PO].[SP_IND_VENTA_CARTERA] @FECHA


print convert(varchar,getdate(),121)+'-COM_ADMINISTRADA'
		EXECUTE [PO].[SP_COM_ADMINISTRADA] @FECHA
print convert(varchar,getdate(),121)+'-COM_CASTIGOS'
		EXECUTE [PO].[SP_COM_CASTIGOS] @FECHA
print convert(varchar,getdate(),121)+'-COM_COBRANZA'
		EXECUTE [PO].[SP_COM_COBRANZA] @FECHA
print convert(varchar,getdate(),121)+'-COM_TRASPASO'
		EXECUTE [PO].[SP_COM_TRASPASO] @FECHA
print convert(varchar,getdate(),121)+'-COBRANZA_CASTIGOS'
		EXECUTE [PO].[SP_COM_COBRANZA_CASTIGOS] @FECHA
print convert(varchar,getdate(),121)+'-COM_CONDONACION'
		EXECUTE [PO].[SP_COM_CONDONACION] @FECHA
print convert(varchar,getdate(),121)+'-COM_DAC_ADJ'
		EXECUTE [PO].[SP_COM_DACION_ADJUDICACION] @FECHA
print convert(varchar,getdate(),121)+'-COM_DESEMBOLSO'
		EXECUTE [PO].[SP_COM_DESEMBOLSO] @FECHA
print convert(varchar,getdate(),121)+'-COM_DEV_ACCESORIOS'
		EXECUTE [PO].[SP_COM_DEV_ACCESORIOS] @FECHA
print convert(varchar,getdate(),121)+'-COM_DEV_COMISIONES'
		EXECUTE [PO].[SP_COM_DEV_COMISIONES] @FECHA
print convert(varchar,getdate(),121)+'-COM_DEV_INTERES'
		EXECUTE [PO].[SP_COM_DEV_INTERES] @FECHA   -- los devengos de intereses deben ejecutarse despues de cobranza y traspasos
print convert(varchar,getdate(),121)+'-COM_DEV_MORATORIO'
		EXECUTE [PO].[SP_COM_DEV_MORATORIO] @FECHA
print convert(varchar,getdate(),121)+'-COM_FIRMA'
		EXECUTE [PO].[SP_COM_FIRMA] @FECHA
print convert(varchar,getdate(),121)+'-COM_OPERACIONES_PENDIENTES'
		EXECUTE [PO].[SP_COM_OPERACIONES_PENDIENTES] @FECHA
print convert(varchar,getdate(),121)+'-COM_REESTRCTURA_CAP'
		EXECUTE [PO].[SP_COM_REESTRCTURA_CAP] @FECHA
print convert(varchar,getdate(),121)+'-COM_REESTRCTURA_SN_CAP'
		EXECUTE [PO].[SP_COM_REESTRCTURA_SN_CAP] @FECHA
print convert(varchar,getdate(),121)+'-COM_REV_COBRANZA'
		EXECUTE [PO].[SP_COM_REVERSO_COBRANZA] @FECHA
print convert(varchar,getdate(),121)+'-COM_REVERSO_COBRANZA_CASTIGOS'
		EXECUTE [PO].[SP_COM_REVERSO_COBRANZA_CASTIGOS] @FECHA
print convert(varchar,getdate(),121)+'-COM_REVERSO_COMISION'
		EXECUTE [PO].[SP_COM_REVERSO_COMISION] @FECHA
print convert(varchar,getdate(),121)+'-COM_REVERSO_CONDONACION'
		EXECUTE [PO].[SP_COM_REVERSO_CONDONACION] @FECHA
print convert(varchar,getdate(),121)+'-COM_REV_DAC_ADJ'
		EXECUTE [PO].[SP_COM_REVERSO_DACION_ADJUDICACION] @FECHA
print convert(varchar,getdate(),121)+'-COM_REVERSO_DESEMBOLSO'
		EXECUTE [PO].[SP_COM_REVERSO_DESEMBOLSO] @FECHA
print convert(varchar,getdate(),121)+'-COM_REVERSO_INTERES'
		EXECUTE [PO].[SP_COM_REVERSO_INTERES] @FECHA
print convert(varchar,getdate(),121)+'-COM_REVERSO_MORATORIO'
		EXECUTE [PO].[SP_COM_REVERSO_MORATORIO] @FECHA
print convert(varchar,getdate(),121)+'-COM_VENTA_CARTERA'
		EXECUTE [PO].[SP_COM_VENTA_CARTERA] @FECHA
print convert(varchar,getdate(),121)+'-COM_CANCELACION'
        EXECUTE [PO].[SP_COM_CANCELACION] @FECHA



print convert(varchar,getdate(),121)+'-COM_CASTIGOS_DAC_ADJ'
		EXECUTE [PO].[SP_COM_CASTIGOS_DAC_ADJ] @FECHA
print convert(varchar,getdate(),121)+'-COM_CASTIGOS_REVERSO_DAC_ADJ'
		EXECUTE [PO].[SP_COM_CASTIGOS_REVERSO_DAC_ADJ] @FECHA
print convert(varchar,getdate(),121)+'-IND_CASTIGOS_DAC_ADJ'
		EXECUTE [PO].[SP_IND_CASTIGOS_DAC_ADJ] @FECHA
print convert(varchar,getdate(),121)+'-IND_CASTIGOS_REVERSO_DAC_ADJ'
		EXECUTE [PO].[SP_IND_CASTIGOS_REVERSO_DAC_ADJ] @FECHA



print convert(varchar,getdate(),121)+'-SP_SAF_POLIZA_CUENTAS_VAL'
        EXECUTE [PO].[SP_SAF_POLIZA_CUENTAS_VAL] @FECHA, NULL
print convert(varchar,getdate(),121)

        EXECUTE  [CIERRE].[SP_CMR_GEN_MES] @FECHA
		
END
GO
