SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion: 	20240913
-- Descripcion:	Consulta para el envio de las polizas de saf a dynamics
-- =============================================
-- exec [PO].[SP_SAF_POLIZA_ENVIO_CON] '20240402'
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_ENVIO_CON]
	@FECHA DATE
AS
BEGIN
    SET NOCOUNT ON;

    declare @FECHA_CONTA date

    exec [PO].[SP_SAF_POLIZA_CUENTAS_VAL] @FECHA, NULL

    set @FECHA_CONTA = case when day(@FECHA)= 31 AND month(@FECHA)= 12 then
            DATEADD(day, -1, @FECHA)
        else
            @FECHA
        end

	select LOTE + FORMAT(@FECHA, 'ddMM') as IDLOTE
        , ROW_NUMBER() OVER (ORDER BY TIPO_POLIZA, DESCRIPCION, CUENTA) as  IDLINEA
        , FORMAT(@FECHA_CONTA, 'yyyy-MM-dd') as FECHA
        , CONCEPTO, CUENTA, CARGO, ABONO, C.DESCRIPCION, C.TIPO_POLIZA
	from PO.SAF_POLIZA_HISTORICO_DET D
        INNER JOIN PO.SAF_POLIZA_HISTORICO_ENC E ON E.FECHA_SISTEMA = D.FECHA_SISTEMA and E.ID_POLIZA = D.ID_POLIZA
        INNER JOIN PO.CAT_TIPO_POLIZA C ON D.ID_POLIZA = C.ID
    where D.FECHA_SISTEMA = @FECHA
        and not ESTATUS in ('ERROR','ENVIADA')
        and (C.DESCRIPCION like '% IND' OR C.DESCRIPCION like '% CMR')
    order by DESCRIPCION


END
GO
