SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:    20241203
-- Descripcion:	Con la extraccion de datos ya relizado, se genera la poliza administrada individual
-- =============================================
CREATE PROCEDURE [PO].[SP_IND_ADMINISTRADA_POL]
	@FECHA_INICIO DATE
AS
BEGIN
	SET NOCOUNT ON;

    declare @ID_POLIZA int = 36

	----------------- INSERT A TABLA DE PÓLIZA --------------------
	CREATE TABLE #POLIZA(ID INT  IDENTITY(1,1),NOMBRE VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	
	-- INSERTS A #POLIZA
	INSERT INTO #POLIZA (NOMBRE, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT 
				CONCEPTO_FINAL, A.CUENTA_CARGO CUENTA,
				CAST( SUM( MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
			FROM PO.SAF_MOV_CARGO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA IN (@ID_POLIZA) 
		GROUP BY A.CUENTA_CARGO, A.CONCEPTO_FINAL, A.CONCEPTO

	INSERT INTO #POLIZA (NOMBRE, CUENTA, MONTO_ABONO, MONTO_CARGO)
		SELECT 
				CONCEPTO_FINAL, A.CUENTA_ABONO CUENTA,
				CAST( SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO
			FROM PO.SAF_MOV_CARGO A 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA IN (@ID_POLIZA)
		GROUP BY A.CUENTA_ABONO, A.CONCEPTO_FINAL, A.CONCEPTO

	
	SELECT  NOMBRE AS CONCEPTO , CUENTA, 
	IIF(sum(MONTO_CARGO)-sum(MONTO_ABONO)>0,sum(MONTO_CARGO)-sum(MONTO_ABONO),0) AS MONTO_CARGO, 
	IIF(sum(MONTO_CARGO)-sum(MONTO_ABONO)>0,0,ABS(sum(MONTO_CARGO)-sum(MONTO_ABONO))) AS MONTO_ABONO
	INTO #POLIZAF
	FROM #POLIZA
	GROUP BY NOMBRE, CUENTA

	exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

END
GO
