SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-----------------------------------------0905
CREATE PROCEDURE [PO].[SP_IND_TRASPASO_SALDO_FAVOR]
(
	@FECHA_INICIO DATE
)
AS

BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 32, @ID_POLIZA_COM INT = 43 --nuevo id para separacion comercial

	BEGIN TRY
		BEGIN TRANSACTION
		 
		DELETE FROM PO.SAF_MOV_DEVOLUCIONES WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
		DELETE FROM PO.SAF_MOV_DEVOLUCIONES WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA_COM -- se agrega delete para comercial


		SELECT COD_CLIENTE, IND_ESTADO 
		INTO #CANCELADOS_HOY
		FROM [Quiero_Confianza].PR.PR_CREDITOS 
		WHERE NUM_DESC_TIPO_CREDITO IN (1, 3, 4, 9, 10, 11, 16, 17, 2,12,13,14,15,28) --complemento con los num_desc de comercial
			AND IND_ESTADO = 'C' AND FEC_CANCELACION = @FECHA_INICIO


		SELECT COD_CLIENTE
		INTO #CANCELADOS
		FROM [Quiero_Confianza].PR.PR_CREDITOS 
		WHERE COD_CLIENTE IN (SELECT COD_CLIENTE FROM #CANCELADOS_HOY)
			AND IND_LINEA = 'N'
		GROUP BY COD_CLIENTE
		HAVING count(*) = sum(case when (IND_ESTADO = 'C' and FEC_CANCELACION <= @FECHA_INICIO)
			OR DBO.FN_ES_LINEA_CANCELADA(num_contrato) = 1
			then 1 else 0 end)


		INSERT INTO PO.SAF_MOV_DEVOLUCIONES(BANCO_RECEPTOR, NOM_CLIENTE, CONCEPTO,CONCEPTO_FINAL, MONTO, FECHA_MOVIMIENTO, ID_POLIZA
			, IND_ESTADO, TABLA_ORIGEN, NUM_REFERENCIA, IND_ESTADO_CREDITOS, CARTERA_CREDITO)
		SELECT '',--D.DES_CUENTA,		
			C.NOM_CLIENTE,
			'',--'DEVOLUCION TRASPASO CREDITO CERRADO',
			CONCAT('CA A CC',' ', C.NOM_CLIENTE),
			A.MONTO,
			@FECHA_INICIO, 
			@ID_POLIZA,
			'',--A.COD_ESTADO,
			'TRASP DEVOLUCION',
			'',--A.NUM_REFERENCIA,
			'C',
			dbo.FN_CARTERA_CREDITO(C.COD_CLIENTE)  -- se agrega campo CARTERA_CREDITO
		FROM [Quiero_Confianza].CL.[CL_V_Informacion_SaldoFavorCliente] A
		    LEFT JOIN [Quiero_Confianza].CL.CL_CLIENTES C ON A.COD_CLIENTE = C.COD_CLIENTE 
		    JOIN #CANCELADOS CAN ON A.COD_CLIENTE = CAN.COD_CLIENTE
		WHERE A.MONTO <> 0
				

		UPDATE PO.SAF_MOV_DEVOLUCIONES
		SET CONCEPTO = 
			CONCAT('DEVOLUCION TRASPASO CREDITO ',
				CARTERA_CREDITO, ' ',
				'CERRADO'
			)
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA


		--- ASIGNACION DE ID CONCEPTO 
		UPDATE H
		SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_DEVOLUCIONES H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ASIGNACION DE CUENTAS
		UPDATE H
		SET H.CUENTA_ABONO = CC.CUENTA_ABONO, H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_DEVOLUCIONES H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--- ACTUALIZA LAS CUENTAS CUENTA SAF
		---- Se actualiza la cuenta contable de todos los registros que sean Cuenta SAF
		UPDATE H
		SET H.CUENTA_CARGO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_DEVOLUCIONES H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON IIF(LEN(H.NUM_REFERENCIA)>4,SUBSTRING(H.NUM_REFERENCIA,4,7),0) = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( IIF(LEN(H.NUM_REFERENCIA)>4,SUBSTRING(H.NUM_REFERENCIA,4,7),0) AS VARCHAR(50)) = D.CUENTA_CONTABLE
		WHERE H.CUENTA_CARGO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA		

		UPDATE H
		SET H.CUENTA_ABONO = IIF(C.CUENTA_MASCARA IS NULL, D.CUENTA_MASCARA, C.CUENTA_MASCARA)
		FROM PO.SAF_MOV_DEVOLUCIONES H
			LEFT JOIN Quiero_Confianza.BA.BA_CTA_CORRIENTE B ON IIF(LEN(H.NUM_REFERENCIA)>4,SUBSTRING(H.NUM_REFERENCIA,4,7),0) = B.ID_CUENTA
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA C ON B.CTA_CONTABLE = C.CUENTA_CONTABLE
			LEFT JOIN Quiero_Confianza.CG.CG_CATALOGO_X_EMPRESA D ON CAST( IIF(LEN(H.NUM_REFERENCIA)>4,SUBSTRING(H.NUM_REFERENCIA,4,7),0) AS VARCHAR(50))= D.CUENTA_CONTABLE
		WHERE H.CUENTA_ABONO = 'Cuenta SAF'
			AND H.FECHA_MOVIMIENTO = @FECHA_INICIO AND H.ID_POLIZA = @ID_POLIZA

		--SEPARACION DE COMERCIAL
		UPDATE PO.SAF_MOV_DEVOLUCIONES 
		SET ID_POLIZA= @ID_POLIZA_COM,
			TABLA_ORIGEN = 'TRASP DEVOLUCION CRM'
		WHERE FECHA_MOVIMIENTO= @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA AND CARTERA_CREDITO= 'COMERCIAL'

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA IND<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZA (CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, 
				A.CUENTA_CARGO AS CUENTA, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_DEVOLUCIONES] A 
		WHERE  FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA

			--DEVOLUCIONES ABONO
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, 
				A.CUENTA_ABONO AS CUENTA, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_DEVOLUCIONES] A
		WHERE  FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
			

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		GROUP BY CONCEPTO, CUENTA

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

		--    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA COM<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    truncate table #POLIZA
        truncate table #POLIZAF

		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, 
				A.CUENTA_CARGO AS CUENTA, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_DEVOLUCIONES] A 
		WHERE  FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA_COM

			--DEVOLUCIONES ABONO
		INSERT INTO #POLIZA(CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO)
		SELECT CONCEPTO_FINAL, 
				A.CUENTA_ABONO AS CUENTA, 
				CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO, 
				CAST(MONTO AS decimal (16,2)) AS MONTO_ABONO
		FROM [PO].[SAF_MOV_DEVOLUCIONES] A
		WHERE  FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA_COM
			

		INSERT INTO #POLIZAF(CONCEPTO, CUENTA,     MONTO_CARGO,      MONTO_ABONO)
		SELECT               CONCEPTO, CUENTA, SUM(MONTO_CARGO), SUM(MONTO_ABONO)
		FROM #POLIZA
		GROUP BY CONCEPTO, CUENTA

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA_COM


		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END




GO
