SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:    20241209
-- Descripcion:	Entrega el listado para el cierre de saf y ejecucion de poliza
-- =============================================
-- exec [PO].[SP_SAF_CIERRE_LIS]
CREATE PROCEDURE [PO].[SP_SAF_CIERRE_LIS]
AS
BEGIN
	SET NOCOUNT ON;

    select top 40 fecha_sistema, SUM(case when estatus!='ENVIADA' then 1 else 0 end) as PorEnviar
    into #ResumenPoliza
    from PO.SAF_POLIZA_HISTORICO_ENC
    where ID_POLIZA in (select ID from PO.CAT_TIPO_POLIZA where DESCRIPCION like '% IND' OR DESCRIPCION like '% CMR' OR DESCRIPCION like '% SND')
    group by fecha_sistema
    order by fecha_sistema desc

    select C.ID,C.PROCESO_CIERRE as ProcesoCierre,C.FECHA_CIERRE as FechaCierre,C.ESTATUS,R.PorEnviar
    from informes.[AP].[CONTROL_CIERRE_SAF] C inner join 
        #ResumenPoliza R on C.Fecha_cierre = R.fecha_sistema
    order by C.Fecha_cierre desc
    
END
GO
