SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_SND_RECLASIFICACION]
(
     @ID_DEVENGO_ENC UNIQUEIDENTIFIER
    ,@ID_CAPITAL_ENC UNIQUEIDENTIFIER
    ,@ID_COBRANZA_ENC UNIQUEIDENTIFIER
    ,@ID_MINISTRACIONES_ENC UNIQUEIDENTIFIER
	,@FECHA_INICIO DATE
    ,@FECHA_FIN_DIA date
    ,@FECHAS_POL FECHAS_POLIZA_TIPO READONLY
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 83 -- RECLASIFICACION COMERCIAL SINDICADA

	BEGIN TRY
		BEGIN TRANSACTION

		DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL) AND ID_POLIZA = @ID_POLIZA


		INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_REFERENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, APELLIDO, TABLA_ORIGEN, ID_POLIZA, TIPO_VIVIENDA, REVERSO, CANAL)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,'' AS CUENTA_CARGO
			,'' AS CUENTA_ABONO
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
			,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,'' AS RUBRO
			,A.IMPORTE AS MONTO
			,0 AS MON_PAGO_IVA
			,0 AS IND_FORMA_PAGO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,C.IND_ESTADO
			,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
			,A.FECHA_ACTINVER AS FEC_MOVIMIENTO
			,0 AS TIP_TRANSACCION
			,0 AS SUBTIP_TRANSAC
			,CH.IND_ETAPA
			,C.MON_CREDITO
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
			,C.FEC_APERTURA
			,0 AS Id_secuencia
            ,0 AS ID_REFERENCIA
			,0 AS ID_CUENTA
			,'' AS IND_COVID
			,''
			,IIF(PF.PRIMER_APELLIDO IS NULL OR PF.PRIMER_APELLIDO = '', 'NOMBRE', PF.PRIMER_APELLIDO)
			,'REC COM SND'
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
			,'' AS REVERSO
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
		FROM Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK)
			INNER JOIN [PO].[PR_MINISTRACIONES_DET] A WITH (NOLOCK) ON A.ID_EXTERNO = C.ID_EXTERNO
			INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
            LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON C.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = A.FECHA_ACTINVER
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE C.IND_ESTADO IN ('C', 'D')
			AND C.IND_LINEA = 'N'
            AND CH.NUM_DESC_TIPO_CREDITO IN (7)
            AND A.ID_MINISTRACIONES_ENC = @ID_MINISTRACIONES_ENC
            AND A.IMPORTE > 0
			AND A.FECHA_ACTINVER IN (SELECT fecha FROM @FECHAS_POL)
		

		-- ACTUALIZACION DE CONCEPTO
		UPDATE PO.SAF_MOV_ABONO
		SET CONCEPTO = CONCAT(
			    'CMR PAGO ',
			    IIF(IND_COVID = 'S', 'COVID ', ''),
			    'PRINCIPAL ',
			    TIPO_CREDITO,
			    ' ', CANAL,
			    IIF(ID_FONDEO = 2, ' NO', ''),' RESTRINGIDO ',
			    IND_ETAPA)
            ,CONCEPTO_ANT = CONCAT('CMR REC CxC ', CEDIDO)
            ,CONCEPTO_FINAL = 'REC MINIST CARTERA SND'
		WHERE FECHA_MOVIMIENTO IN (SELECT fecha FROM @FECHAS_POL)
			AND ID_POLIZA = @ID_POLIZA


		--- ASIGNACION DE CUENTAS
		UPDATE H
        SET H.ID_CONCEPTO = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO 
		WHERE H.FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
        SET H.ID_CONCEPTO_ANT = C.ID
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO_ANT 
		WHERE H.FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
        SET H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO_ANT = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND H.ID_POLIZA = @ID_POLIZA

		UPDATE H
        SET H.CUENTA_ABONO = CC.CUENTA_ABONO
		FROM PO.SAF_MOV_ABONO H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO IN (select fecha from @FECHAS_POL)
		    AND H.ID_POLIZA = @ID_POLIZA

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		exec CursorCloseDeallocate 'db_cursor_COM_SND_REC'
        DECLARE db_cursor_COM_SND_REC CURSOR FOR

            SELECT fecha
			from @FECHAS_POL

        OPEN db_cursor_COM_SND_REC  
            FETCH NEXT FROM db_cursor_COM_SND_REC
            INTO @FECHA_INICIO
        WHILE @@FETCH_STATUS = 0 BEGIN  

		    INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
	        SELECT 
		        CONCEPTO_FINAL, A.CUENTA_CARGO CUENTA,
		        CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
		        CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
	        FROM PO.SAF_MOV_ABONO A 
            WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			    AND A.ID_POLIZA = @ID_POLIZA
		    GROUP BY A.CUENTA_CARGO, CONCEPTO_FINAL
		
		    INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		    SELECT CONCEPTO_FINAL,	 
		        A.CUENTA_ABONO CUENTA, 
		        CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
		        CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		    FROM PO.SAF_MOV_ABONO A 
            WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			    AND A.ID_POLIZA = @ID_POLIZA
		    GROUP BY A.CUENTA_ABONO, CONCEPTO_FINAL

            exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA

			TRUNCATE TABLE #POLIZAF

            FETCH NEXT FROM db_cursor_COM_SND_REC
            INTO @FECHA_INICIO
        END 

        CLOSE db_cursor_COM_SND_REC  
        DEALLOCATE db_cursor_COM_SND_REC


		COMMIT

	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       , '00010101'   ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
