SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_MOV_X_IDENTIFICAR](
	[ID] [uniqueidentifier] NOT NULL,
	[CONCEPTO] [varchar](255) NULL,
	[MONTO] [numeric](20, 6) NOT NULL,
	[FECHA_MOVIMIENTO] [date] NOT NULL,
	[ID_POLIZA] [int] NULL,
	[CUENTA_CARGO] [varchar](100) NULL,
	[CUENTA_ABONO] [varchar](100) NULL,
	[ID_CONCEPTO] [int] NULL,
	[IND_ESTADO] [varchar](1) NOT NULL,
	[ID_CARGA] [int] NOT NULL,
	[NUM_CREDITO] [int] NULL,
	[ID_CUENTA] [int] NOT NULL,
	[COD_CONCEPTO] [varchar](50) NULL,
	[MON_PAGO] [numeric](20, 6) NULL,
	[TIP_TRANSACCION] [int] NULL,
	[IND_CAMBIO] [varchar](1) NULL,
	[MON_PAGO_IVA] [numeric](20, 6) NULL,
	[BANCO_RECEPTOR] [varchar](70) NULL,
	[ID_DEPOSITO] [int] NULL,
	[TABLA_ORIGEN] [varchar](20) NULL,
	[CONCEPTO_FINAL] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
