SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion: 	20240913
-- Descripcion:	Reporte de estados finales del envio de polizas a dynamics
-- =============================================
-- exec [PO].[SP_SAF_POLIZA_ENVIO_ESTADO_REP] '20251217','Resumen'
CREATE PROCEDURE [PO].[SP_SAF_POLIZA_ENVIO_ESTADO_REP]
	@FECHA DATE
    ,@TIPO varchar(20) = null
AS
BEGIN
    SET NOCOUNT ON;

    if @TIPO = 'Resumen' begin
    
        SELECT   distinct    T.DESCRIPCION AS POLIZA
        FROM            PO.SAF_POLIZA_HISTORICO_ENC AS P LEFT OUTER JOIN
                                 PO.SAF_POLIZA_ERRORES AS E ON E.FECHA_SISTEMA = P.FECHA_SISTEMA AND E.ID_POLIZA = P.ID_POLIZA LEFT OUTER JOIN
                                 PO.CAT_TIPO_POLIZA AS T ON P.ID_POLIZA = T.ID
        WHERE        (P.FECHA_SISTEMA = @FECHA)
                and not ESTATUS in ('ENVIADA')
                and (T.DESCRIPCION like '% IND' OR T.DESCRIPCION like '% CMR' OR T.DESCRIPCION like '% SND')
        ORDER BY T.DESCRIPCION

    end else begin

        SELECT        P.FECHA_SISTEMA, T.DESCRIPCION AS POLIZA, P.ESTATUS, E.DESCRIPCION AS ERROR_DET
        FROM            PO.SAF_POLIZA_HISTORICO_ENC AS P LEFT OUTER JOIN
                                 PO.SAF_POLIZA_ERRORES AS E ON E.FECHA_SISTEMA = P.FECHA_SISTEMA AND E.ID_POLIZA = P.ID_POLIZA LEFT OUTER JOIN
                                 PO.CAT_TIPO_POLIZA AS T ON P.ID_POLIZA = T.ID
        WHERE        (P.FECHA_SISTEMA = @FECHA)
                and (T.DESCRIPCION like '% IND' OR T.DESCRIPCION like '% CMR' OR T.DESCRIPCION like '% SND')
                and P.FECHA_ENVIO_INI > dateadd(minute,-1,getdate())
        union
        SELECT        P.FECHA_SISTEMA, T.DESCRIPCION AS POLIZA, P.ESTATUS, E.DESCRIPCION AS ERROR_DET
        FROM            PO.SAF_POLIZA_HISTORICO_ENC AS P LEFT OUTER JOIN
                                 PO.SAF_POLIZA_ERRORES_HIST AS E ON E.FECHA_SISTEMA = P.FECHA_SISTEMA AND E.ID_POLIZA = P.ID_POLIZA LEFT OUTER JOIN
                                 PO.CAT_TIPO_POLIZA AS T ON P.ID_POLIZA = T.ID
        WHERE        (P.FECHA_SISTEMA = @FECHA)
                and (T.DESCRIPCION like '% IND' OR T.DESCRIPCION like '% CMR' OR T.DESCRIPCION like '% SND')
                and E.FECHA_GENERACION > dateadd(minute,-10,getdate())
        ORDER BY T.DESCRIPCION
    end

END
GO
