SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas Osorio
-- Creacion:	20250725
-- Descripcion:	Vista de encabezados de archivos de ministraciones
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_MINISTRACION_ENC_LST]
AS
BEGIN
	SET NOCOUNT ON;


    SELECT TOP 24 M.ID
        , FORMAT(M.FECHA_SISTEMA, 'dd/MM/yyyy') as FECHA_SISTEMA
        , FORMAT(M.PARTE_ION, 'C', 'en-US') AS MINITRACION_PARTE_ION
        , FORMAT(C.PARTE_ION, 'C', 'en-US') AS CAPITAL_PARTE_ION
    FROM PO.PR_MINISTRACIONES_ENC M
        LEFT JOIN PO.PR_CAPITAL_ENC C ON M.ID = C.ID
    WHERE M.ESTATUS IN ('COMPLETO','PROCESADO')
    ORDER BY M.FECHA_SISTEMA DESC

END
GO
