SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [PO].[SP_IND_BALLON_APLI]
	 @FECHA_INICIO DATE
    ,@ID_POLIZA int
AS
BEGIN
	SET NOCOUNT ON;
	
    DECLARE @TIPO_POLIZA VARCHAR(1), @NUM_CREDITO INT, @PAGO NUMERIC(16,2), @SAL_RUBRO NUMERIC(16,2)= 0, @ID_SECUENCIA INT, 
	@SAL_IVA NUMERIC(16,2)= 0, @COD_CONCEPTO VARCHAR(50), @PAGO_N NUMERIC(16,2), @NUM_CREDITO_ANT INT=0, @CONT_PAGOS INT = 0, 
	@ID_REGISTRO UNIQUEIDENTIFIER, @ID_SECUENCIA_ANT INT = 0, @AFECTO_RUBRO INT = 0, @SAL_RUBRO_INI NUMERIC(16,2), 
	@SAL_IVA_INI NUMERIC(16,2), @APLICA_RUBRO NUMERIC(16,2), @APLICA_IVA NUMERIC(16,2), @NUM_ASIENTO NUMERIC(8,0)

	IF @ID_POLIZA IN (24, 25, 38, 39) BEGIN
		
		exec CursorCloseDeallocate 'db_cursor_ballon'

			DECLARE db_cursor_ballon CURSOR FOR

				SELECT NUM_CREDITO, ID_SECUENCIA
				FROM #MOVS_BALLON
				GROUP BY NUM_CREDITO, ID_SECUENCIA
				ORDER BY NUM_CREDITO, ID_SECUENCIA ASC

			OPEN db_cursor_ballon  
				FETCH NEXT FROM db_cursor_ballon
				INTO @NUM_CREDITO, @ID_SECUENCIA

			WHILE @@FETCH_STATUS = 0  
			BEGIN
				
				SELECT TOP 1  @NUM_ASIENTO = NUM_ASIENTO FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A
				JOIN #MOVS_BALLON B ON A.NUM_CREDITO = @NUM_CREDITO AND A.ID_SECUENCIA = @ID_SECUENCIA
	
				SELECT A.NUM_CREDITO, A.COD_CONCEPTO, A.MON_PAGO + C.MON_PAGO AS MON_PAGO, A.MON_PAGO_IVA + C.MON_PAGO_IVA AS MON_PAGO_IVA
				INTO #REVERSO
				FROM [PO].[PR_BALLON_DET] A
					JOIN #MOVS_BALLON B ON A.NUM_CREDITO = B.NUM_CREDITO AND A.COD_CONCEPTO= B.COD_CONCEPTO 
					JOIN [PO].[PR_BALLON_APLI] C ON A.NUM_CREDITO = C.NUM_CREDITO AND A.COD_CONCEPTO= C.COD_CONCEPTO
				WHERE A.ID_SECUENCIA IS NULL AND A.FECHA_MODIFICACION IS NULL AND C.NUM_ASIENTO = @NUM_ASIENTO

				UPDATE [PO].[PR_BALLON_DET] SET ID_SECUENCIA = @ID_SECUENCIA, FECHA_MODIFICACION = GETDATE() 
				WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA IS NULL AND FECHA_MODIFICACION IS NULL

				INSERT INTO [PO].[PR_BALLON_DET](NUM_CREDITO, COD_CONCEPTO, MON_PAGO, MON_PAGO_IVA, FECHA_MODIFICACION, ID_SECUENCIA)
				SELECT NUM_CREDITO, COD_CONCEPTO, MON_PAGO, MON_PAGO_IVA, NULL, NULL 
				FROM #REVERSO

				INSERT INTO [PO].[PR_BALLON_APLI] (NUM_CREDITO, ID_SECUENCIA, COD_CONCEPTO, MON_PAGO, MON_PAGO_IVA, ID_POLIZA, FECHA_PROCESO, NUM_ASIENTO)
				SELECT NUM_CREDITO, @ID_SECUENCIA, COD_CONCEPTO, -MON_PAGO, -MON_PAGO_IVA, @ID_POLIZA, @FECHA_INICIO, NUM_ASIENTO
				FROM [PO].[PR_BALLON_APLI] WHERE NUM_CREDITO= @NUM_CREDITO AND NUM_ASIENTO = @NUM_ASIENTO

				FETCH NEXT FROM db_cursor_ballon
				INTO @NUM_CREDITO, @ID_SECUENCIA
			END 

			CLOSE db_cursor_ballon  
			DEALLOCATE db_cursor_ballon
		
	END
	ELSE BEGIN

		exec CursorCloseDeallocate 'db_cursor_ballon'

		DECLARE db_cursor_ballon CURSOR FOR

			SELECT NUM_CREDITO, COD_CONCEPTO,ID_SECUENCIA, PAGO
			FROM #MOVS_BALLON
			ORDER BY NUM_CREDITO, ID_SECUENCIA, ORDEN ASC

		OPEN db_cursor_ballon  
			FETCH NEXT FROM db_cursor_ballon
			INTO @NUM_CREDITO, @COD_CONCEPTO, @ID_SECUENCIA, @PAGO_N

		WHILE @@FETCH_STATUS = 0  
		BEGIN
			IF @ID_SECUENCIA_ANT != @ID_SECUENCIA BEGIN
				SET @PAGO = @PAGO_N
				SET @ID_SECUENCIA_ANT = @ID_SECUENCIA
			END

			-- SE TOMAN LOS VALORES DE LA TABLA FISICA PARA EVITAR INCONSISTENCIAS DE SALDOS
			SELECT @ID_REGISTRO = ID, @SAL_RUBRO = ISNULL(MON_PAGO,0), @SAL_IVA = ISNULL(MON_PAGO_IVA,0)
			FROM [PO].[PR_BALLON_DET]
			WHERE NUM_CREDITO = @NUM_CREDITO
				AND COD_CONCEPTO = @COD_CONCEPTO
				AND ID_SECUENCIA IS NULL
				AND FECHA_MODIFICACION IS NULL
			ORDER BY FECHA_GENERACION DESC

			-- SI YA NO HAY REGISTRO PENDIENTE DEL RUBRO, SALTA AL SIGUIENTE
			IF @ID_REGISTRO IS NULL BEGIN
				FETCH NEXT FROM db_cursor_ballon
				INTO @NUM_CREDITO, @COD_CONCEPTO, @ID_SECUENCIA, @PAGO_N
				CONTINUE
			END

			-- BANDERA PARA MANEJO DE REGISTROS DE IVA
			SET @AFECTO_RUBRO = 0
	
			SET @SAL_RUBRO_INI = @SAL_RUBRO
			SET @SAL_IVA_INI   = @SAL_IVA

			--SELECT @NUM_CREDITO NUM_CREDITO, @COD_CONCEPTO COD_CONCEPTO, @SAL_RUBRO SAL_RUBRO, @SAL_IVA SAL_IVA, 
			--@ID_SECUENCIA ID_SECUENCIA, @PAGO PAGO
			
			-- APLICACION DE PAGO A SALDO DE RUBRO
			IF @PAGO > 0 AND @SAL_RUBRO > 0 BEGIN
				SET @AFECTO_RUBRO = 1

				IF @PAGO >= @SAL_RUBRO BEGIN
					SET @PAGO = @PAGO - @SAL_RUBRO
					SET @SAL_RUBRO = 0
				END
				ELSE BEGIN
					SET  @SAL_RUBRO = @SAL_RUBRO - @PAGO
					SET @PAGO = 0
				END
				UPDATE [PO].[PR_BALLON_DET] SET ID_SECUENCIA = @ID_SECUENCIA, FECHA_MODIFICACION = GETDATE() 
				WHERE ID = @ID_REGISTRO
		
				INSERT INTO [PO].[PR_BALLON_DET](NUM_CREDITO, COD_CONCEPTO, MON_PAGO, MON_PAGO_IVA, FECHA_MODIFICACION, ID_SECUENCIA)
				SELECT @NUM_CREDITO, @COD_CONCEPTO, @SAL_RUBRO, @SAL_IVA, NULL, NULL

				SELECT @ID_REGISTRO = ID FROM [PO].[PR_BALLON_DET]
				WHERE NUM_CREDITO = @NUM_CREDITO AND COD_CONCEPTO = @COD_CONCEPTO AND FECHA_MODIFICACION IS NULL AND ID_SECUENCIA IS NULL
				ORDER BY FECHA_GENERACION DESC
			END
			
			-- APLICACION DE PAGO A SALDO DE IVA
			IF @PAGO > 0 AND @SAL_IVA > 0 BEGIN
			IF @PAGO >= @SAL_IVA BEGIN
				SET @PAGO = @PAGO - @SAL_IVA
				SET @SAL_IVA = 0
			END
			ELSE BEGIN
				SET  @SAL_IVA = @SAL_IVA - @PAGO
				SET @PAGO = 0
			END

			IF @AFECTO_RUBRO = 1 BEGIN
				UPDATE [PO].[PR_BALLON_DET]
				  SET MON_PAGO_IVA = @SAL_IVA
				WHERE ID = @ID_REGISTRO
			END
			ELSE BEGIN
				-- SI NO EXISTE REGISTRO DEL PAGO PARA EL RUBRO SE GENERA NUEVO REGISTRO CON EL IVA ACTUALIZADO
				UPDATE [PO].[PR_BALLON_DET]
				  SET ID_SECUENCIA = @ID_SECUENCIA,
					  FECHA_MODIFICACION = GETDATE()
				WHERE ID = @ID_REGISTRO

				INSERT INTO [PO].[PR_BALLON_DET](NUM_CREDITO, COD_CONCEPTO, MON_PAGO, MON_PAGO_IVA, FECHA_MODIFICACION, ID_SECUENCIA)
				SELECT @NUM_CREDITO, @COD_CONCEPTO, @SAL_RUBRO, @SAL_IVA, NULL, NULL

				SELECT @ID_REGISTRO = ID FROM [PO].[PR_BALLON_DET]
				WHERE NUM_CREDITO = @NUM_CREDITO AND COD_CONCEPTO = @COD_CONCEPTO AND FECHA_MODIFICACION IS NULL AND ID_SECUENCIA IS NULL
				ORDER BY FECHA_GENERACION DESC
			END
		END
		
		-- SE CALCULA EL MONTO APLICADO POR RUBRO
		SET @APLICA_RUBRO = ISNULL(@SAL_RUBRO_INI,0) - ISNULL(@SAL_RUBRO,0)
		SET @APLICA_IVA  = ISNULL(@SAL_IVA_INI,0)   - ISNULL(@SAL_IVA,0)
		
		  IF (@APLICA_RUBRO > 0 OR @APLICA_IVA > 0) BEGIN
			IF EXISTS (
			  SELECT 1 FROM [PO].[PR_BALLON_APLI]
			  WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA = @ID_SECUENCIA AND COD_CONCEPTO = @COD_CONCEPTO 
			  AND FECHA_PROCESO= @FECHA_INICIO
			)
			BEGIN
			  UPDATE [PO].[PR_BALLON_APLI]
				SET MON_PAGO = MON_PAGO + @APLICA_RUBRO,
					MON_PAGO_IVA  = MON_PAGO_IVA  + @APLICA_IVA,
					FECHA_GENERACION = GETDATE()
			  WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA = @ID_SECUENCIA AND COD_CONCEPTO = @COD_CONCEPTO
			  AND FECHA_PROCESO= @FECHA_INICIO
			END
			ELSE BEGIN
			  INSERT INTO [PO].[PR_BALLON_APLI] (NUM_CREDITO, ID_SECUENCIA, COD_CONCEPTO, MON_PAGO, MON_PAGO_IVA, ID_POLIZA, FECHA_PROCESO, NUM_ASIENTO)
			  SELECT TOP 1 @NUM_CREDITO, @ID_SECUENCIA, @COD_CONCEPTO, @APLICA_RUBRO, @APLICA_IVA, @ID_POLIZA, @FECHA_INICIO, NUM_ASIENTO 
			  FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO WHERE NUM_CREDITO = @NUM_CREDITO AND ID_SECUENCIA= @ID_SECUENCIA
			  --VALUES ()
			END
		  END
	
			FETCH NEXT FROM db_cursor_ballon
			INTO @NUM_CREDITO, @COD_CONCEPTO, @ID_SECUENCIA, @PAGO_N
		END 

		CLOSE db_cursor_ballon  
		DEALLOCATE db_cursor_ballon
	END -- END ELSE INICIAL
END
GO
