SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PO].[SP_COM_DEV_INTERES]
(
	@FECHA_INICIO DATE
)
AS
BEGIN
    SET NOCOUNT ON

    declare @ID_POLIZA int = 31 -- DEVENGAMIENTO DE INTERESES COMERCIAL
        ,@FECHA_FIN_DIA date
        ,@FECHA_ANT date

    set @FECHA_FIN_DIA = DATEADD(day, 1, @FECHA_INICIO)
    set @FECHA_ANT = DATEADD(day, -1, @FECHA_INICIO)

	BEGIN TRY
		BEGIN TRANSACTION
			
		DELETE FROM PO.SAF_MOV_INTERES WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA

		INSERT INTO PO.SAF_MOV_INTERES(ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, 
		    ID_TIPO_CREDITO, TIPO_CREDITO, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, TABLA_ORIGEN, 
		    CANAL, ID_POLIZA, TIPO_VIVIENDA)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,D.COD_CLIENTE
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
            ,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,'INTERESES' RUBRO
			,A.MON_DIARIO MONTO
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,X.IND_IVA IND_IVA_INTERES
			,P.POR_IVA_INTERES
			,A.FECHA_CALCULO FECHA_MOVIMIENTO
			,A.IND_ESTADO
			,CH.IND_ETAPA
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
			,'DEV INTERES COM'
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
		FROM Quiero_Confianza.PR.PR_CALCULO_INTERESES_DIA A WITH (NOLOCK)
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN (SELECT NUM_CREDITO, IND_IVA FROM Quiero_Confianza.PR.PR_RUBRO_X_CREDITO WITH (NOLOCK) WHERE COD_RUBRO = 'INTERESES') X  ON A.NUM_CREDITO = X.Num_Credito
            LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE @FECHA_INICIO <= A.FECHA_CALCULO and A.FECHA_CALCULO < @FECHA_FIN_DIA
            AND (C.FEC_CANCELACION is null or @FECHA_INICIO <= C.FEC_CANCELACION)
			AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
			AND A.MON_DIARIO > 0.00
			
		INSERT INTO PO.SAF_MOV_INTERES(ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
		    ID_TIPO_CREDITO, TIPO_CREDITO, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, TABLA_ORIGEN, 
		    CANAL, ID_POLIZA, TIPO_VIVIENDA)
		SELECT C.ID_EXTERNO
			,A.NUM_CREDITO
			,D.COD_CLIENTE
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL) AS NOM_CLIENTE
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
            ,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,A.COD_RUBRO AS RUBRO
			,A.MON_RUBRO AS MONTO
			,A.MON_IVA AS MON_PAGO_IVA
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO AS TIPO_CREDITO
			,P.IND_IVA_INTERES
			,P.POR_IVA_INTERES
			,A.FEC_COBRO AS FECHA_MOVIMIENTO
			,A.IND_ESTADO
			,CH.IND_ETAPA
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
			,'DEV INTERES COM'
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
            ,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
		FROM Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO A WITH(NOLOCK)
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
		WHERE   A.IND_ESTADO <> 'N'
			AND A.COD_RUBRO IN ('INTERES_ORDINARIO_A')
			AND A.MON_RUBRO <> 0.00
			AND A.FEC_COBRO = @FECHA_INICIO
            AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)


		INSERT INTO PO.SAF_MOV_INTERES(ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO, MON_PAGO_IVA,
		    ID_TIPO_CREDITO, TIPO_CREDITO, IND_IVA_INTERES, POR_IVA_INTERES, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, CEDIDO, FEC_APERTURA, TABLA_ORIGEN, 
		    CANAL, ID_POLIZA, TIPO_VIVIENDA)
		SELECT C.ID_EXTERNO
			,C.NUM_CREDITO
			,D.COD_CLIENTE
			,dbo.FN_FORMA_NOMBRE(PF.PRIMER_APELLIDO, PF.SEGUNDO_APELLIDO, PF.PRIMER_NOMBRE, PF.SEGUNDO_NOMBRE, PJ.RAZON_SOCIAL, PJ.NOM_COMERCIAL)
			,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
            ,CP.NOMBRE_CORTO
			,CH.ID_FONDEO
			,'INTERESES' AS RUBRO
			,A.MON_RUBRO AS MONTO
            ,A.MON_IVA AS MONTO_IVA
			,C.NUM_DESC_TIPO_CREDITO
			,CP.NOMBRE_CORTO
			,X.IND_IVA IND_IVA_INTERES
			,P.POR_IVA_INTERES
			,@FECHA_INICIO AS FEC_COBRO
			,'P' AS IND_ESTADO
			,CH.IND_ETAPA
			,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO
			,C.FEC_APERTURA
			,'DEV INTERES COM EXT'
			,dbo.FN_TIPO_CANAL(C.TIP_TASA)
			,@ID_POLIZA
            ,'' AS TIPO_VIVIENDA
		FROM PO.SAF_RUBRO_HIST A WITH (NOLOCK)
			INNER JOIN Quiero_Confianza.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
			INNER JOIN Quiero_Confianza.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
			INNER JOIN Quiero_Confianza.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA
			LEFT JOIN (SELECT NUM_CREDITO, IND_IVA FROM Quiero_Confianza.PR.PR_RUBRO_X_CREDITO WITH (NOLOCK) WHERE COD_RUBRO = 'INTERESES') X  ON A.NUM_CREDITO = X.Num_Credito
            LEFT JOIN PO.CONTROL_HISTORICO_TRASPASOS CH ON A.NUM_CREDITO = CH.NUM_CREDITO AND CH.FECHA_SISTEMA = @FECHA_INICIO
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_JURIDICAS PJ WITH (NOLOCK) ON C.COD_EMPRESA = PJ.COD_EMPRESA AND C.COD_CLIENTE = PJ.COD_CLIENTE
			LEFT JOIN Quiero_Confianza.CL.CL_PERSONAS_FISICAS PF WITH (NOLOCK) ON C.COD_EMPRESA = PF.COD_EMPRESA AND C.COD_CLIENTE = PF.COD_CLIENTE
			LEFT JOIN PO.PR_CREDITO_EXTRA CE ON CE.ID_EXTERNO = C.ID_EXTERNO
			LEFT JOIN PO.PR_CREDITO_PRODUCTO CP ON CP.ID_PRODUCTO = CE.ID_PRODUCTO
		WHERE A.COD_RUBRO IN ('INTERESES', 'INTERES_ORDINARIO_A')
			AND A.MON_RUBRO > 0.00
            AND C.NUM_DESC_TIPO_CREDITO IN (12,13,14,15,28,   2,18,27)
            AND @FECHA_INICIO <= A.FECHA_GENERACION AND A.FECHA_GENERACION < @FECHA_FIN_DIA


        -- Ajuste de clasificacion de devengado si el mismo dia se tiene cobranza y traspaso, con el devengado parte de ultima cuota que se esta cobrando, ese devengado lleva la calificacion previa ya que no habra traspaso de intereses
        SELECT DISTINCT A.NUM_CREDITO -- creditos que el devengado debe ser con clasificaciones de un dia antes
        INTO #DEV_PREV
	    FROM Quiero_Confianza.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK) INNER JOIN
		     Quiero_Confianza.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA INNER JOIN
		     Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
			        AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'
	    WHERE  A.NUM_CREDITO in (
                SELECT DISTINCT NUM_CREDITO -- Creditos que tienen traspaso
                FROM PO.SAF_MOV_TRASPASO
                WHERE ID_POLIZA = 48 AND FECHA_MOVIMIENTO = @FECHA_INICIO
                    and NUM_CREDITO in (
                        SELECT DISTINCT NUM_CREDITO -- Creditos que tienen cobranza
                        FROM PO.SAF_MOV_ABONO
                        WHERE ID_POLIZA = 40 AND FECHA_MOVIMIENTO = @FECHA_INICIO
                    )
            )
		    AND A.FEC_MOVIMIENTO = @FECHA_INICIO
            AND Q.FEC_EXIGIBLE_PAGO = @FECHA_INICIO
            AND B.COD_CONCEPTO = 'INTERESES'

        UPDATE I
        SET  I.TIPO_VIVIENDA = H.TIPO_VIVIENDA
            ,I.ID_FONDEO = H.ID_FONDEO
            ,I.IND_ETAPA = H.IND_ETAPA
        from PO.SAF_MOV_INTERES I inner join
             PO.CONTROL_HISTORICO_TRASPASOS H ON I.NUM_CREDITO = H.NUM_CREDITO
        WHERE I.ID_POLIZA = @ID_POLIZA
	        AND I.FECHA_MOVIMIENTO = @FECHA_INICIO
            AND I.NUM_CREDITO IN (SELECT NUM_CREDITO FROM #DEV_PREV)
            AND H.FECHA_SISTEMA = @FECHA_ANT
	
		
		INSERT INTO PO.SAF_MOV_INTERES (ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
			RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
			FEC_APERTURA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
			CONCAT('IVA ', RUBRO), MONTO * 0.16, 0, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
			FEC_APERTURA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, CANAL
		FROM PO.SAF_MOV_INTERES
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
		    AND TABLA_ORIGEN != 'DEV INTERES COM EXT' AND IND_IVA_INTERES = 'S'
		
		INSERT INTO PO.SAF_MOV_INTERES (ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
			RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
			FEC_APERTURA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, CANAL)
		SELECT ID_EXTERNO, NUM_CREDITO, COD_CLIENTE, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
			CONCAT('IVA ', RUBRO), MON_PAGO_IVA, 0, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, CEDIDO,
			FEC_APERTURA, IND_COVID, TABLA_ORIGEN, ID_POLIZA, CANAL
		FROM PO.SAF_MOV_INTERES
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO AND ID_POLIZA = @ID_POLIZA
		    AND TABLA_ORIGEN = 'DEV INTERES COM EXT' AND MON_PAGO_IVA > 0

		-- ACTUALIZACION DE CONCEPTO
		UPDATE PO.SAF_MOV_INTERES
		SET CONCEPTO = CONCAT(
			'CMR DEVENGO ',
			IIF(IND_COVID = 'S', 'COVID ', ''),
			dbo.FN_RUBRO_POL(RUBRO),' ', 
			TIPO_CREDITO,
			' ', CANAL,
			IIF(ID_FONDEO = 2, ' NO', ''),' RESTRINGIDO ', 
			IND_ETAPA) 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA

		-- UPDATE DE ID_CONCPETO
		UPDATE H SET H.ID_CONCEPTO = C.ID
			FROM PO.SAF_MOV_INTERES H JOIN PO.SAF_CATALOGO_CONCEPTOS C ON C.CONCEPTO = H.CONCEPTO
        WHERE H.FECHA_MOVIMIENTO = @FECHA_INICIO
			AND ID_POLIZA = @ID_POLIZA
		
		--- ASIGNACION DE CUENTAS
		UPDATE H SET 
			H.CUENTA_ABONO = CC.CUENTA_ABONO,
			H.CUENTA_CARGO = CC.CUENTA_CARGO
		FROM PO.SAF_MOV_INTERES H JOIN PO.SAF_CAT_CONTABLE CC ON H.ID_CONCEPTO = CC.ID_CONCEPTO 
		WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND H.ID_POLIZA = @ID_POLIZA

	    --    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> GENERACION DE POLIZA <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

	    CREATE TABLE #POLIZAF(CONCEPTO VARCHAR(255),CUENTA VARCHAR(355),MONTO_CARGO MONEY, MONTO_ABONO MONEY)
		
		INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
	    SELECT 
		    CONCEPTO, A.CUENTA_CARGO CUENTA,
		    CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_CARGO, 
		    CAST(0.00 AS decimal (16,2)) AS MONTO_ABONO
	    FROM PO.SAF_MOV_INTERES A 
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_CARGO, CONCEPTO
		
		INSERT INTO #POLIZAF (CONCEPTO, CUENTA, MONTO_CARGO, MONTO_ABONO) 
		SELECT CONCEPTO,	 
		    A.CUENTA_ABONO CUENTA, 
		    CAST(0.00 AS decimal (16,2)) AS MONTO_CARGO,
		    CAST(SUM(MONTO) AS decimal (16,2)) AS MONTO_ABONO
		FROM PO.SAF_MOV_INTERES A 
        WHERE FECHA_MOVIMIENTO = @FECHA_INICIO
			AND A.ID_POLIZA = @ID_POLIZA
		GROUP BY A.CUENTA_ABONO, CONCEPTO

        exec [PO].[SP_SAF_POLIZA_FINALIZA] @FECHA_INICIO, @ID_POLIZA
		COMMIT

	END TRY
	BEGIN CATCH
		ROLLBACK

        INSERT INTO PO.SAF_POLIZA_ERRORES
               (FECHA_GENERACION, FECHA_SISTEMA, ID_POLIZA, DESCRIPCION)
        VALUES (getdate()       ,@FECHA_INICIO ,@ID_POLIZA, 'Linea:'+cast(ERROR_LINE() as varchar)+'. '+ERROR_MESSAGE())

	END CATCH
END
GO
