SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas Osorio
-- Creacion:	20250725
-- Descripcion:	Cambia el estatus en la tabla de DEVENGO
-- =============================================
CREATE PROCEDURE [PO].[SP_PR_DEVENGO_EST_ACT]
	 @ID_DEVENGO_ENC uniqueidentifier
     ,@ESTATUS varchar(10)
AS
BEGIN
	SET NOCOUNT ON;

    UPDATE PO.PR_DEVENGO_ENC
    SET ESTATUS = @ESTATUS
    WHERE ID = @ID_DEVENGO_ENC


END
GO
