SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PO].[SAF_POLIZA_HISTORICO_DET](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_SISTEMA] [date] NOT NULL,
	[ID_POLIZA] [int] NOT NULL,
	[CONCEPTO] [varchar](100) NULL,
	[CUENTA] [varchar](30) NULL,
	[CARGO] [decimal](16, 2) NULL,
	[ABONO] [decimal](16, 2) NULL,
 CONSTRAINT [PK_SAF_POLIZA_HISTORICO_DET] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PO].[SAF_POLIZA_HISTORICO_DET]  WITH CHECK ADD  CONSTRAINT [FK_SAF_POLIZA_HISTORICO_ENC_SAF_POLIZA_HISTORICO_DET] FOREIGN KEY([FECHA_SISTEMA], [ID_POLIZA])
REFERENCES [PO].[SAF_POLIZA_HISTORICO_ENC] ([FECHA_SISTEMA], [ID_POLIZA])
GO
ALTER TABLE [PO].[SAF_POLIZA_HISTORICO_DET] CHECK CONSTRAINT [FK_SAF_POLIZA_HISTORICO_ENC_SAF_POLIZA_HISTORICO_DET]
GO
