SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Adan Armas Osorio
-- Creacion:	20240625
-- Descripcion:	Busca las cuentas contables que le corresponden a un concepto
-- =============================================
CREATE PROCEDURE [PO].[SYS_SP_CUENTA_BUSCAR]
	 @concepto varchar(100)
AS
BEGIN
	SET NOCOUNT ON;
	declare @id_concepto int

    set @concepto = replace(@concepto,'TRASPASO','PAGO')


    SELECT A.ID, A.CONCEPTO,B.CUENTA_CARGO,B.CUENTA_ABONO, B.ID_POLIZA,P.DESCRIPCION
    FROM PO.SAF_CATALOGO_CONCEPTOS A LEFT JOIN
	    PO.SAF_CAT_CONTABLE B ON A.ID = B.ID_CONCEPTO LEFT JOIN
		PO.CAT_TIPO_POLIZA P ON B.ID_POLIZA = P.ID
    WHERE  A.CONCEPTO like '%'+@concepto+'%'

END
GO
