SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion:    20241129
-- Descripcion:	agrega fecha de impago al credito indicado
-- =============================================
CREATE PROCEDURE [PO].[SP_SAF_IMPAGO_AGR]
	 @NUM_CREDITO numeric(8,0)
    ,@FECHA_IMPAGO date
AS
BEGIN
	SET NOCOUNT ON;

	set @FECHA_IMPAGO = dateadd(d,2,@FECHA_IMPAGO)

    delete from Quiero_Confianza.PR.PR_RECLASIFICACION_ETAPA_RIESGO
    where num_credito = @NUM_CREDITO
    and Fec_Reclasificacion >= @FECHA_IMPAGO


    INSERT INTO Quiero_Confianza.PR.PR_RECLASIFICACION_ETAPA_RIESGO
          (Cod_Empresa, Cod_Agencia, Num_Credito, Fec_Reclasificacion, Cod_Usuario, Num_Secuencia, Fec_Cobro_Real, Tip_Credito, Tip_Cartera, Tip_Criterio, Cuotas_Atrasadas, Dias_Atraso, Ind_Etapa_Ant, Ind_Etapa_Act,IND_ETAPA_RIESGO_MANUAL)
    select cod_empresa, cod_agencia, num_credito, @FECHA_IMPAGO      , 'EXTERNO.8', 0            , @FECHA_IMPAGO , tip_credito, tip_cartera, 'M'         , 3               , 90          , 2            , 3           ,'N'
    from Quiero_Confianza.PR.PR_CREDITOS
    where num_credito = @NUM_CREDITO

END
GO
