SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------0905
CREATE PROC [PO].[SYS_SP_MOV_ABONO]
(
	@FECHA_INICIO DATE,
	@FECHA_FIN DATE,
	@DE_TIPO VARCHAR(8)
)
AS
BEGIN
	BEGIN TRY
		BEGIN TRANSACTION

		IF @DE_TIPO = 'new' BEGIN
			---# Si existe un proceso previo para la fecha borralo de la tabla
			IF EXISTS(SELECT TOP 1 1 FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN)BEGIN
				DELETE FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
			END

			--# BLOCK: EXTRACTOR DE MOVIMIENTOS PAGO
			INSERT INTO PO.SAF_MOV_ABONO(
			ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, CUENTA_CARGO, CUENTA_ABONO, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, RUBRO, MONTO
			,MON_PAGO_IVA, IND_FORMA_PAGO, ID_TIPO_CREDITO, TIPO_CREDITO, IND_ESTADO, CARTERA_VENCIDA, FECHA_MOVIMIENTO
			,TIP_TRANSACCION, SUBTIP_TRANSAC, IND_ETAPA, MON_CREDITO, CEDIDO, FEC_APERTURA, ID_SECUENCIA, ID_CUENTA, IND_COVID, 
			CONCEPTO_FINAL, APELLIDO)
			SELECT  
				C.ID_EXTERNO
				,C.NUM_CREDITO
				--,D.NOM_CLIENTE
				,CONCAT(
					IIF(D.PRIMER_APELLIDO IS NULL OR D.PRIMER_APELLIDO = '', '', D.PRIMER_APELLIDO + ' ') ,
					IIF(D.SEGUNDO_APELLIDO IS NULL OR D.SEGUNDO_APELLIDO = '', '', D.SEGUNDO_APELLIDO+ ' ') ,
					IIF(D.PRIMER_NOMBRE IS NULL OR D.PRIMER_NOMBRE = '', '', D.PRIMER_NOMBRE+ ' ') ,
					IIF(D.SEGUNDO_NOMBRE IS NULL OR D.SEGUNDO_NOMBRE = '', '', D.SEGUNDO_NOMBRE)
				)
				,CASE WHEN LEN(A.ID_CUENTA) = 4 THEN 
						(SELECT CUENTA_MASCARA FROM Quiero_Confianza_CreditoPuente_QA.CG.CG_CATALOGO_X_EMPRESA S INNER JOIN Quiero_Confianza_CreditoPuente_QA.BA.BA_CTA_CORRIENTE D ON S.CUENTA_CONTABLE = D.CTA_CONTABLE WHERE D.ID_CUENTA = CAST(A.ID_CUENTA AS NUMERIC) AND CAST(A.TIP_TRANSACCION AS INT) IN(113, 4)) 
					ELSE 
						(SELECT CUENTA_MASCARA FROM Quiero_Confianza_CreditoPuente_QA.CG.CG_CATALOGO_X_EMPRESA WHERE CUENTA_CONTABLE = CAST(A.ID_CUENTA AS VARCHAR(25)) AND CAST(A.TIP_TRANSACCION AS INT) IN(113, 4))
				END AS CUENTA_CARGO
				,CASE WHEN LEN(A.ID_CUENTA) = 4 THEN 
						(SELECT CUENTA_MASCARA FROM Quiero_Confianza_CreditoPuente_QA.CG.CG_CATALOGO_X_EMPRESA S INNER JOIN Quiero_Confianza_CreditoPuente_QA.BA.BA_CTA_CORRIENTE D ON S.CUENTA_CONTABLE = D.CTA_CONTABLE WHERE D.ID_CUENTA = CAST(A.ID_CUENTA AS NUMERIC) AND CAST(A.TIP_TRANSACCION AS INT) = 3 ) 
					ELSE 
						(SELECT CUENTA_MASCARA FROM Quiero_Confianza_CreditoPuente_QA.CG.CG_CATALOGO_X_EMPRESA WHERE CUENTA_CONTABLE = CAST(A.ID_CUENTA AS VARCHAR(25)) AND CAST(A.TIP_TRANSACCION AS INT) = 3)
				END AS CUENTA_ABONO

				,ISNULL((SELECT TOP 1 NUM_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO), P.TIP_CREDITO) ID_PRODUCTO
				,(SELECT TOP 1 NOMBRE_PRODUCTO FROM PO.PR_CAT_PRODUCTO WHERE ID_SAF = P.TIP_CREDITO) NOMBRE_PRODUCTO

				,CASE WHEN C.COD_ORIGEN IN ('008','031') THEN 2 /*NO RESTRINGIDO*/ELSE 1 END AS ID_FONDEO
				,B.COD_CONCEPTO AS RUBRO
				,B.MON_PAGO MONTO
				,B.MON_PAGO_IVA
				,CASE WHEN A.IND_FORMA_PAGO = '' THEN 0 ELSE  A.IND_FORMA_PAGO END IND_FORMA_PAGO
				,C.NUM_DESC_TIPO_CREDITO
				,(SELECT TOP 1 DESC_TIPO_CREDITO FROM [PO].[SAF_CAT_DESC_TIPO] WHERE NUM_DESC_TIPO_CREDITO = C.NUM_DESC_TIPO_CREDITO)
				,C.IND_ESTADO
				,CASE WHEN C.Ind_estado_Cont = 'VI' THEN 'NO' WHEN C.Ind_estado_Cont = 'VE' THEN 'SI' END CARTERA_VENCIDA
				,A.FEC_MOVIMIENTO
				,A.TIP_TRANSACCION
				,A.SUBTIP_TRANSAC
				,C.IND_ETAPA
				,C.MON_CREDITO
				,[dbo].[FN_ORIGEN_FONDOS](C.COD_ORIGEN,C.COD_EMPRESA) AS CEDIDO 
				,C.FEC_APERTURA
				,A.Id_secuencia
				,CAST(A.Id_cuenta AS bigint)
				,Q.Ind_Posposicion
				,''
				,IIF(D.PRIMER_APELLIDO IS NULL OR D.PRIMER_APELLIDO = '', 'NOMBRE', D.PRIMER_APELLIDO)
			FROM Quiero_Confianza_CreditoPuente_QA.PR.PR_ENCABEZADO_PAGO A WITH (NOLOCK)
					INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_DETALLE_PAGO B WITH (NOLOCK) ON A.ID_SECUENCIA = B.ID_SECUENCIA
					INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_CREDITOS C WITH (NOLOCK) ON A.COD_EMPRESA = C.COD_EMPRESA AND A.NUM_CREDITO = C.NUM_CREDITO
					--INNER JOIN Quiero_Confianza_CreditoPuente_QA.CL.CL_CLIENTES D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza_CreditoPuente_QA.CL.CL_PERSONAS_FISICAS D WITH (NOLOCK) ON C.COD_EMPRESA = D.COD_EMPRESA AND C.COD_CLIENTE = D.COD_CLIENTE
					INNER JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_TIPO_CREDITO P WITH (NOLOCK) ON C.TIP_CREDITO = P.TIP_CREDITO AND C.COD_EMPRESA = P.COD_EMPRESA

					LEFT JOIN Quiero_Confianza_CreditoPuente_QA.PR.PR_RUBRO_COBRO_X_CREDITO Q WITH (NOLOCK) ON Q.Num_Secuencia = B.Id_referencia
					AND Q.Num_Credito = A.Num_credito AND Q.Num_Det_Secuencia = B.Num_det_secuencia AND Q.Cod_Rubro = B.Cod_concepto AND Q.Ind_Estado != 'N'

			WHERE C.IND_ESTADO IN ('C', 'D') 
					AND C.IND_LINEA = 'N'
					AND A.FEC_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
					AND B.MON_PAGO <> 0.00
			--# END_BLOCK: EXTRACTOR
		END --- Si @DE_TIPO = 'new'

		---# Calcula TIPO DE PRODUCTO, TIPO VIVIENDA deacuerdo al avaluo		
		EXECUTE PO.SYS_SP_AVALUO_AND_UPDATE @FECHA_INICIO, @FECHA_FIN, 'ABONO', 'I'

		---# Crea un nuevo registro si existe IVA en el universo extraido
		IF @DE_TIPO = 'new' BEGIN EXECUTE PO.SYS_SP_AVALUO_AND_UPDATE @FECHA_INICIO, @FECHA_FIN, 'ABONO', 'A' END

		--- CALIFICACION BASE DEL CONCEPTO DEACUERDO A REGLAS GLOBALES
		UPDATE PO.SAF_MOV_ABONO
				SET CONCEPTO = CONCAT(CASE
					WHEN ID_PRODUCTO= 50 AND TIP_TRANSACCION = 3 THEN 'CONSUMO DESEMBOLSO ' --Agregado
					WHEN ID_PRODUCTO= 51 AND TIP_TRANSACCION = 3 THEN 'EMPLEADO DESEMBOLSO ' --Agregado
					WHEN TIP_TRANSACCION = 3 THEN 'DESEMBOLSO '
					WHEN ID_TIPO_CREDITO = 20 THEN 'PAGO QBILLETE '
					WHEN ID_TIPO_CREDITO = 23 THEN 'PAGO SHCH '
					
					WHEN TIP_TRANSACCION = 4 AND SUBTIP_TRANSAC = 5 THEN 'CONDONACION '
					WHEN TIP_TRANSACCION = 4 AND IND_FORMA_PAGO = 5 THEN 'PAGO SALDO_FAVOR ' --Pago que se aplica utilizando saldo a favor "este es descarga saldo a favor"
					WHEN (TIP_TRANSACCION = 113) OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR') THEN 'SALDO_FAVOR '  --Al recibirse un pago y una parte se va a saldo a favor

					WHEN ID_PRODUCTO= 50 THEN 'PAGO CONSUMO '
					WHEN ID_PRODUCTO= 51 THEN 'PAGO EMPLEADO '

					WHEN TIP_TRANSACCION = 4 THEN 'PAGO '
					WHEN ID_TIPO_CREDITO = 26 THEN 'CASTIGO '
					ELSE ''
				END,
				IIF( (ID_CUENTA = '2076' OR ID_CUENTA = '1020010502130300') AND ID_PRODUCTO= 50, 'EXEM ', ''),
				IIF(IND_COVID = 'S', 'COVID ', ''), --# Si el registro tiene COVID le agrega la palabra
				CASE
					WHEN ID_CUENTA = 2073 THEN 'DACION '
					WHEN ID_CUENTA = 2074 THEN 'ADJUDICACION '
					WHEN ID_CUENTA = 2068 THEN 'SINIESTRO ' ELSE ''
				END,
				IIF(TIP_TRANSACCION = 113 OR (TIP_TRANSACCION = 4 AND RUBRO = 'SALDO_FAVOR'), '', RUBRO + ' '),  --# Si no es saldo a favor le agrega el rubro
				IIF(ID_PRODUCTO= 50,'', CONCAT(TIPO_VIVIENDA, ' ')),
				IIF(ID_FONDEO = 2, 'NO ', ''),'RESTRINGIDO ', IND_ETAPA) 
			WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN


			--- CALIFICACION FINAL DE CONCEPTO POLIZA
			---- ## VALIDAR SI HACE FALTA AGREGAR UN FILTRO PARA EJECUATAR SOLO EN FIRMAS
			UPDATE PO.SAF_MOV_ABONO
				SET CONCEPTO_FINAL = LEFT( CONCAT('DESEM ', IIF(CONCEPTO LIKE '%IVA%', 'IVA ', ''), ID_EXTERNO, ' ', APELLIDO), 30 )
			WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN

			--# CREE NUEVO REGISTRO PARA DEVENGO DE COMISION ANTICIPADA
			IF @DE_TIPO = 'new' BEGIN
				INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO, 
						TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO,
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
						FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID, CONCEPTO, 
						CONCEPTO_FINAL, APELLIDO)
				SELECT ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO, ID_FONDEO,
						TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, 0, ID_TIPO_CREDITO, 
						TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO,
						FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, IND_COVID,
						CONCAT(CASE
							WHEN ID_PRODUCTO= 50 THEN 'CONSUMO '
							WHEN ID_PRODUCTO= 51 THEN 'EMPLEADO 'ELSE ''
						END,
						'DEVENGO ',
					RUBRO,
					IIF(ID_PRODUCTO= 50, '', CONCAT(' ', TIPO_VIVIENDA)),
					IIF(ID_FONDEO = 2, ' NO', ''),' RESTRINGIDO ', IND_ETAPA), --INICIA CONCEPTO FINAL
					LEFT(
						CONCAT('DEV ',
						IIF(RUBRO = 'COMISION_ANTICIPADA', 'COM ', 'IVA COM '),
						ID_EXTERNO, ' ', APELLIDO
						), 30
					), APELLIDO
				FROM PO.SAF_MOV_ABONO
				WHERE TIP_TRANSACCION = 3 AND RUBRO IN ('COMISION_ANTICIPADA', 'IVA COMISION_ANTICIPADA')
				AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
			END
			

		--# Variables a usar para lectura linea a linea
		DECLARE  @ID_EXTERNO		VARCHAR(15),	@NUM_CREDITO		NUMERIC(8, 0), 
				 @ID_FONDEO		    INT, 			@ID_PRODUCTO		NUMERIC(3, 0), 
				 @TIP_TRANSACCION   VARCHAR(5),		@SUBTIP_TRANSAC		VARCHAR(5), 
				 @RUBRO			    VARCHAR(30),	@MONTO				NUMERIC(16, 2), 
				 @MON_PAGO_IVA		NUMERIC(16, 2), @TIPO_CREDITO		VARCHAR(255), 
				 @TIPO_VIVIENDA		VARCHAR(150),	@FECHA_MOVIMIENTO	DATE, 
				 @IND_ESTADO		VARCHAR(2),		@NOM_CLIENTE		VARCHAR(250),
				 @ID_TIPO_CREDITO   INT,			@IND_ETAPA			INT, 
				 @MAX_INDICE		INT,			@INDICE				INT = 0,
				 @IND_FORMA_PAGO	INT,			@NOMBRE_PRODUCTO	VARCHAR(355),
				 @IND_ETAPA_ANTERIOR INT,			@IND_ETAPA_ACTUAL	INT,
				 @FECHA_ACTUAL		DATE,			@FECHA_ANTERIOR		DATE,
				 @ID_FONDEO_ACTUAL	INT,			@ID_FONDEO_ANTERIOR	INT,
				 @FEC_APERTURA		DATE,			@MON_CREDITO		NUMERIC(16, 2),
				 @CEDIDO			VARCHAR(255),   @ID_SECUENCIA	    INT,
				 @ID_CUENTA	        VARCHAR(25),	@ID_UNICO			VARCHAR(150),
				 @CONCEPTO	        VARCHAR(150),	@LEYENDA			VARCHAR(70),
				 @QUERY				VARCHAR(MAX),   @BANDERA			INT,
				 @TOTAL				DECIMAL(16,2) = 0,	@EL_RUBRO			VARCHAR(30) = '',
				 @ORDEN				DECIMAL(16,2),	@MONTO_BALANCE		DECIMAL(16,2),
				 @NUM_CREDITO_ANT	NUMERIC(8, 0) = 0,
				 @CONCEPTO_FINAL	VARCHAR(30),	@APELLIDO			VARCHAR(30)
			 

		--# variables para uso de la separacion balance/orden
		DECLARE @SUMA89 NUMERIC(16, 2), @SUMA90 NUMERIC(16, 2), @FAVOR NUMERIC(16, 2), @IMPAGO DATE
		
		--# Tabla temporal para almacenar la fila a trabajar
		DECLARE @MOVS TABLE (ID INT, ID_EXTERNO VARCHAR(15), NUM_CREDITO NUMERIC(8, 0), NOM_CLIENTE VARCHAR(250), ID_PRODUCTO NUMERIC(3,0), 
							NOMBRE_PRODUCTO VARCHAR(355), ID_FONDEO INT, TIP_TRANSACCION VARCHAR(5), SUBTIP_TRANSAC VARCHAR(5),
							RUBRO VARCHAR(30), MONTO NUMERIC(16, 2), MON_PAGO_IVA NUMERIC(16,2), ID_TIPO_CREDITO INT, 
							TIPO_CREDITO VARCHAR(255), TIPO_VIVIENDA VARCHAR(150), FECHA_MOVIMIENTO DATETIME, IND_ESTADO VARCHAR(2), 
							CARTERA_VENCIDA VARCHAR(2), IND_ETAPA INT, IND_FORMA_PAGO INT, FEC_APERTURA DATE, CEDIDO VARCHAR(255),
							MON_CREDITO NUMERIC(16, 2), ID_SECUENCIA	INT, ID_CUENTA	VARCHAR(25), ID_UNICO VARCHAR(150), CONCEPTO VARCHAR(150),
							CONCEPTO_FINAL VARCHAR(30), APELLIDO VARCHAR(30))

		--# Se insertan todos los registros que se trabajaran con un indice a la tabla temporal
		INSERT INTO @MOVS (ID, ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO,
							NOMBRE_PRODUCTO, ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC,
							RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
							TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, 
							IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, ID_UNICO, CONCEPTO,
							CONCEPTO_FINAL, APELLIDO)
		SELECT 
			ROW_NUMBER() OVER (ORDER BY NUM_CREDITO, RUBRO) ID
			,ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, 
			NOMBRE_PRODUCTO, ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC
			,RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
			TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, 
			IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA, ID, CONCEPTO,
			CONCEPTO_FINAL, APELLIDO
			FROM PO.SAF_MOV_ABONO WHERE FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN
		
		--# Se obtiene el tamaño total de registros
		SELECT @MAX_INDICE = COUNT(ID) FROM @MOVS
		WHILE @INDICE < @MAX_INDICE	BEGIN
			--# BLOC: lee todos los campos del registro actual
			SELECT 
				@ID_EXTERNO = ID_EXTERNO, @NUM_CREDITO = NUM_CREDITO, @NOM_CLIENTE = NOM_CLIENTE, @ID_PRODUCTO = ID_PRODUCTO, 
				@NOMBRE_PRODUCTO = NOMBRE_PRODUCTO, @ID_FONDEO = ID_FONDEO, @TIP_TRANSACCION = TIP_TRANSACCION, @SUBTIP_TRANSAC = SUBTIP_TRANSAC,
				@RUBRO = RUBRO, @MONTO = MONTO, @MON_PAGO_IVA = MON_PAGO_IVA, @ID_TIPO_CREDITO = ID_TIPO_CREDITO, 
				@TIPO_CREDITO = TIPO_CREDITO, @TIPO_VIVIENDA = TIPO_VIVIENDA, @FECHA_MOVIMIENTO = FECHA_MOVIMIENTO, 
				@IND_ESTADO = IND_ESTADO, @IND_ETAPA = IND_ETAPA, @IND_FORMA_PAGO = IND_FORMA_PAGO, @FEC_APERTURA = FEC_APERTURA, @CEDIDO = CEDIDO, @MON_CREDITO = MON_CREDITO,
				@IND_ETAPA_ACTUAL = IND_ETAPA, @FECHA_ACTUAL = FECHA_MOVIMIENTO, @ID_FONDEO_ACTUAL = ID_FONDEO,
				@ID_SECUENCIA = @ID_SECUENCIA, @ID_CUENTA = ID_CUENTA, @ID_UNICO = ID_UNICO, @CONCEPTO = CONCEPTO,
				@CONCEPTO_FINAL = CONCEPTO_FINAL, @APELLIDO = APELLIDO
			FROM @MOVS WHERE ID = @INDICE + 1
			--# BLOC_END

			--# BLOC: inicializan variables
			SELECT @IND_ETAPA_ANTERIOR = 0, @FECHA_ANTERIOR = NULL, @ID_FONDEO_ANTERIOR = NULL, @LEYENDA = ''
			--# BLOC_END

			--# BLOC: toma valores dia anterior
			SELECT @IND_ETAPA_ANTERIOR = IND_ETAPA, @FECHA_ANTERIOR = FECHA_MOVIMIENTO, @ID_FONDEO_ANTERIOR = ID_FONDEO
			FROM PO.SAF_MOV_ABONO WITH (NOLOCK)
			WHERE NUM_CREDITO = @NUM_CREDITO AND FECHA_MOVIMIENTO = DATEADD(day, -1, @FECHA_MOVIMIENTO)
			--# BLOC_END

			--# WAR: SE DEBE REGISTRAR LAS CUENTAS PARA CANCELAR EL MONTO DEL CREDITO DE LA FIRMA
			IF @TIP_TRANSACCION = 3 AND @RUBRO = 'PRINCIPAL' AND SUBSTRING(@ID_EXTERNO, 1, 1) != 'R'
			BEGIN
				IF @DE_TIPO = 'new' BEGIN
					INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_PRODUCTO, NOMBRE_PRODUCTO,
							ID_CONCEPTO, CONCEPTO,
							ID_FONDEO, TIP_TRANSACCION, SUBTIP_TRANSAC, RUBRO, MONTO, 
							MON_PAGO_IVA, ID_TIPO_CREDITO, TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO,
							IND_ESTADO, IND_ETAPA, IND_FORMA_PAGO, FEC_APERTURA, CEDIDO, MON_CREDITO, ID_SECUENCIA, ID_CUENTA,
							CONCEPTO_FINAL, APELLIDO)
					VALUES (
						@ID_EXTERNO, @NUM_CREDITO, @NOM_CLIENTE, @ID_PRODUCTO, @NOMBRE_PRODUCTO,
							NULL,
							CASE 
								WHEN @ID_PRODUCTO = 50 THEN CONCAT('CONSUMO DESEMBOLSO ',
									IIF(@ID_CUENTA = '2076' OR @ID_CUENTA = '1020010502130300', 'EXEM ', '')
									--CASE 
									--	WHEN @ID_CUENTA = '2076' OR @ID_CUENTA = '1020010502130300' THEN 'EXEM '
									--	ELSE ''
									--END
									,'CANC FIRMA PRINCIPAL',CASE WHEN @ID_FONDEO = 2 THEN ' NO RESTRINGIDO ' ELSE ' RESTRINGIDO ' END, @IND_ETAPA)
								WHEN @ID_PRODUCTO = 51 THEN CONCAT('EMPLEADO DESEMBOLSO CANC FIRMA PRINCIPAL ',@TIPO_VIVIENDA,CASE WHEN @ID_FONDEO = 2 THEN ' NO RESTRINGIDO ' ELSE ' RESTRINGIDO ' END, @IND_ETAPA)						
							ELSE
								CONCAT('DESEMBOLSO CANC FIRMA PRINCIPAL ', @TIPO_VIVIENDA, CASE WHEN @ID_FONDEO = 2 THEN ' NO RESTRINGIDO ' ELSE ' RESTRINGIDO ' END, @IND_ETAPA) 
							END,
							@ID_FONDEO, @TIP_TRANSACCION, @SUBTIP_TRANSAC, 'PRINCIPAL', @MON_CREDITO,
							0, @ID_TIPO_CREDITO, @TIPO_CREDITO, @TIPO_VIVIENDA, @FECHA_MOVIMIENTO,
							@IND_ESTADO, @IND_ETAPA, @IND_FORMA_PAGO, @FEC_APERTURA, @CEDIDO, @MON_CREDITO, @ID_SECUENCIA, @ID_CUENTA,
							LEFT( CONCAT('DESEM FIRMA ', @ID_EXTERNO,' ', @APELLIDO), 30 ), @APELLIDO
					)
				END
			END --# @TIP_TRANSACCION = 3 AND @RUBRO = 'PRINCIPAL' AND SUBSTRING(@ID_EXTERNO, 1, 1) != 'R'

			-- # TRATAMIENTO PARA ANULACIONES
			IF @MONTO < 0 BEGIN
				SET @MONTO = @MONTO * -1
				UPDATE PO.SAF_MOV_ABONO SET
					MONTO = @MONTO,
					CONCEPTO = CONCAT(CONCAT('REVERSO SECUENCIA R ', '' 
						--(SELECT TOP 1 ID_SECUENCIA FROM PO.SAF_MOV_ABONO WHERE NUM_CREDITO = @NUM_CREDITO AND MONTO = @MONTO ORDER BY FECHA_MOVIMIENTO DESC)
					), @CONCEPTO
						  ) WHERE ID = @ID_UNICO
			END


			-- # TRATAMIENTO PARA SEPARACION DE CUENTAS BALANCE/ORDEN ETAPA 3    @IND_ETAPA_ANTERIOR
			--IF (@IND_ETAPA_ACTUAL = 3 OR @IND_ETAPA_ACTUAL = 1) AND @DE_TIPO = 'new' AND @RUBRO
			IF (@IND_ETAPA_ACTUAL = 3 OR (@IND_ETAPA_ACTUAL = 1 AND @IND_ETAPA_ANTERIOR = 3)) AND @DE_TIPO = 'new' AND @RUBRO
				IN('IVA MORATORIOS', 'MORATORIOS', 'INTERESES', 'IVA INTERESES', 'COMISION_ADMINISTRACION', 'SEGURO_DANOS', 'IVA SEGURO_DANOS', 'SEGURO_VIDA', 'IVA SEGURO_VIDA', 'IVA COMISION_ADMINISTRACION') 
				AND @CONCEPTO NOT LIKE '%COVID%' 
				AND EXISTS( SELECT TOP 1 MONTO_BALANCE FROM PO.CALC_BALANCE_ORDEN WHERE NUM_CREDITO = @NUM_CREDITO )
			BEGIN

					IF @NUM_CREDITO != @NUM_CREDITO_ANT BEGIN
						UPDATE PO.CALC_BALANCE_ORDEN SET MONTO_BALANCE = @SUMA89 - @TOTAL WHERE NUM_Credito = @NUM_CREDITO_ANT AND RUBRO = @EL_RUBRO
						SELECT @NUM_CREDITO_ANT = @NUM_CREDITO, @TOTAL = 0
					END

					IF @EL_RUBRO != @RUBRO  BEGIN --- OR @NUM_CREDITO != @NUM_CREDITO_ANT
						IF @TOTAL != 0 BEGIN
							UPDATE PO.CALC_BALANCE_ORDEN SET MONTO_BALANCE = @SUMA89 - @TOTAL WHERE NUM_Credito = @NUM_CREDITO AND RUBRO = @EL_RUBRO
						END
						--# BLOC: inicializa variables, lee impago y balance
						SELECT @BANDERA = 0, @EL_RUBRO = @RUBRO, @TOTAL = 0, @SUMA89 = 0, @ORDEN = 0
						SELECT @IMPAGO = FECHA_INICIO, @SUMA89 = MONTO_BALANCE FROM PO.CALC_BALANCE_ORDEN WHERE NUM_CREDITO = @NUM_CREDITO AND RUBRO = @RUBRO
						--# BLOC_END
					END

					--# BLOC: incrementa total
					SET  @TOTAL =  @TOTAL + @MONTO
					--# BLOC_END
		

					--#	SOLO SE VALIDA UNA UNICA OCACION SI EL PAGO DEBE DIVIDIRSE
					IF @BANDERA = 0 BEGIN
						IF @TOTAL > @SUMA89 AND @SUMA89 > 0 BEGIN
							SELECT @ORDEN = @TOTAL - @SUMA89, @BANDERA = 1
							IF @ORDEN != 0 BEGIN
									SET @QUERY = CONCAT('INSERT INTO PO.SAF_MOV_ABONO (ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
											CONCEPTO, NOMBRE_PRODUCTO, RUBRO, MONTO, MON_PAGO_IVA, ID_TIPO_CREDITO, 
											TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA, FEC_APERTURA, CEDIDO)

									SELECT TOP 1 ID_EXTERNO, NUM_CREDITO, NOM_CLIENTE, ID_FONDEO, ID_PRODUCTO,
											REPLACE(CONCEPTO, ''PAGO'', ''PAGO CO''),
											NOMBRE_PRODUCTO, RUBRO, ',@ORDEN,', 0, ID_TIPO_CREDITO, 
											TIPO_CREDITO, TIPO_VIVIENDA, FECHA_MOVIMIENTO, IND_ESTADO, IND_ETAPA,
											FEC_APERTURA, CEDIDO
									FROM PO.SAF_MOV_ABONO WHERE CONCEPTO NOT LIKE ''%COVID%'' AND NUM_CREDITO = ',@NUM_CREDITO,' AND RUBRO = ''',@RUBRO,''' AND FECHA_MOVIMIENTO BETWEEN ''',@FECHA_FIN,''' AND ''', @FECHA_FIN,'''')
									EXEC(@QUERY)
						
									UPDATE PO.SAF_MOV_ABONO SET MONTO = MONTO - @ORDEN --, CONCEPTO = REPLACE(CONCEPTO, 'PAGO', 'PAGO CO') --COAA
									WHERE ID = @ID_UNICO

									IF (@MONTO - @ORDEN) = 0 BEGIN
										DELETE FROM PO.SAF_MOV_ABONO  WHERE ID = @ID_UNICO	
									END
						
							END --# @ORDEN != 0
						
						END --# @TOTAL > @SUMA89 AND @SUMA89 >
					END

					IF @TOTAL >  @SUMA89 BEGIN
						IF @ORDEN <= 0 BEGIN
							UPDATE PO.SAF_MOV_ABONO SET CONCEPTO = REPLACE(CONCEPTO, 'PAGO', 'PAGO CO') --COBB
							WHERE ID = @ID_UNICO
						END
						SET  @ORDEN = 0

					END -- # @MONTO > @SUMA89

			END -- # ETAPA 3

			SET @INDICE = @INDICE + 1
		END --# WHILE

		IF @TOTAL != 0 BEGIN
			UPDATE PO.CALC_BALANCE_ORDEN SET MONTO_BALANCE = @SUMA89 - @TOTAL WHERE NUM_Credito = @NUM_CREDITO AND RUBRO = @EL_RUBRO
		END

		--# BORRADO DE REGISRO INECESARIO EN LAS REESTRUCTURAS
		DELETE FROM PO.SAF_MOV_ABONO WHERE TIP_TRANSACCION = 3 AND RUBRO = 'PRINCIPAL' AND SUBSTRING(ID_EXTERNO, 1, 1) = 'R' AND FECHA_MOVIMIENTO BETWEEN @FECHA_INICIO AND @FECHA_FIN

		EXECUTE PO.SYS_SP_AVALUO_AND_UPDATE @FECHA_INICIO, @FECHA_FIN, 'ABONO', 'F'
		COMMIT
	END TRY
	BEGIN CATCH
		ROLLBACK

		DECLARE @ERROR_MESSAGE VARCHAR(4000), @ERROR_SEVERITY INT, @ERROR_STATE INT		
		SELECT @ERROR_MESSAGE = ERROR_MESSAGE(), @ERROR_SEVERITY = ERROR_SEVERITY(), @ERROR_STATE = ERROR_STATE()

		RAISERROR (@ERROR_MESSAGE, @ERROR_SEVERITY, @ERROR_STATE)
	END CATCH
END

GO
