SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Daniel Aros Ramirez
-- Creacion:	20240619
-- Descripcion:	Verifica creditos que no existan en la tabla PR_CREDITO_EXTRA e inserta esos registros
-- =============================================
CREATE PROCEDURE [PO].[VERIFICAR_CREDITOS_FALTANTES]
AS
BEGIN
	SET NOCOUNT ON;
	

	SELECT C.ID_EXTERNO, MAX(TIP_CREDITO) AS TIP_CREDITO, MIN(FEC_APERTURA) AS FEC_APERTURA
	INTO #Creditos_Unicos_Nuevos
	FROM Quiero_Confianza.PR.PR_CREDITOS C
	WHERE C.IND_ESTADO IN ('T','A','D')
        AND C.IND_LINEA = 'N'
        AND C.NUM_DESC_TIPO_CREDITO IN (
             12,13,14,15,28 -- minoristas
            ,2,18,27      -- puente
            ,7              -- sindicada
            ,25             -- castigo
            ,5,6,19,21,22,24) -- administrada
        and C.ID_EXTERNO NOT IN (SELECT ID_EXTERNO FROM PO.PR_CREDITO_EXTRA)
	GROUP BY C.ID_EXTERNO

	INSERT INTO PO.PR_CREDITO_EXTRA (ID, ID_PRODUCTO, ID_EXTERNO, REGISTRADO_POR, CREADO, FEC_APERTURA)
	SELECT DISTINCT  NEWID(), R.ID_PRODUCTO, C.ID_EXTERNO, '', GETDATE(), C.FEC_APERTURA
	FROM #Creditos_Unicos_Nuevos C
		INNER JOIN PO.PR_CREDITO_PRODUCTO_REL R ON R.TIP_CREDITO = C.TIP_CREDITO


END
GO
