SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20260408
-- Descripcion:	Realiza la validacion de los datos de una nueva alerta
-- =============================================
CREATE PROCEDURE [SAF].[SP_TASAS_ALERTAS_VALIDA]
	    @NUM_CREDITO int,
	    @NUM_CUOTA int,
	    @ID uniqueidentifier,
        @FECHA date
AS
BEGIN
	SET NOCOUNT ON;


    if not exists ( select num_credito from Quiero_Confianza.PR.PR_CREDITOS where NUM_CREDITO = @NUM_CREDITO) begin

        select 'En SAF no existe el crédito' as MENSAJE
        return

    end

    if not exists ( select num_credito from Quiero_Confianza.PR.PR_CREDITOS where NUM_CREDITO = @NUM_CREDITO and IND_ESTADO IN ('D')) begin

        select 'En SAF no esta activo el crédito' as MENSAJE
        return

    end

    if not exists ( select num_credito from Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO where NUM_CREDITO = @NUM_CREDITO and NUM_SECUENCIA = @NUM_CUOTA) begin

        select 'En SAF no existe la cuota' as MENSAJE
        return

    end

    if not exists ( select num_credito from Quiero_Confianza.PR.PR_RUBRO_COBRO_X_CREDITO where NUM_CREDITO = @NUM_CREDITO and NUM_SECUENCIA = @NUM_CUOTA and IND_ESTADO = 'P') begin

        select 'En SAF no se encuentra activa la cuota' as MENSAJE
        return

    end

    if @ID is null begin
        if exists ( select num_credito from SAF.TASAS_ALERTAS where NUM_CREDITO = @NUM_CREDITO and NUM_CUOTA = @NUM_CUOTA) begin

            select 'Ya se encuentra registro de alerta para la cuota' as MENSAJE
            return

        end
    end else begin
        if exists ( select num_credito from SAF.TASAS_ALERTAS where NUM_CREDITO = @NUM_CREDITO and NUM_CUOTA = @NUM_CUOTA and ID != @ID) begin

            select 'Ya se encuentra registro de alerta para la cuota' as MENSAJE
            return

        end
    end

    select 'Correcto' as MENSAJE

END
GO
