SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20260416
-- Descripcion:	Actualiza el campo de destinatarios para el correo de alerta
-- =============================================
CREATE PROCEDURE [SAF].[SP_TASAS_ALERTAS_DEST]
	 @DESTINATARIOS varchar(4000)
	,@MODIFICADO_POR varchar(100)
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE [SAF].[TASAS_ALERTAS_DESTINATARIOS]
	SET DESTINATARIOS = @DESTINATARIOS
		,MODIFICADO_POR = @MODIFICADO_POR
		,MODIFICADO_FECHA = GETDATE()

END
GO
