SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAF].[TASAS_ALERTAS_DESTINATARIOS](
	[ID] [uniqueidentifier] NOT NULL,
	[DESTINATARIOS] [varchar](4000) NOT NULL,
	[MODIFICADO_FECHA] [datetime] NULL,
	[MODIFICADO_POR] [varchar](100) NULL,
 CONSTRAINT [PK_TASAS_ALERTAS_DESTINATARIOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SAF].[TASAS_ALERTAS_DESTINATARIOS] ADD  CONSTRAINT [DF_TASAS_ALERTAS_DESTINATARIOS_ID]  DEFAULT (newid()) FOR [ID]
GO
