SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20260416
-- Descripcion:	Dato del campo de destinatarios para el correo de alerta
-- =============================================
CREATE PROCEDURE [SAF].[SP_TASAS_ALERTAS_DEST_SEL]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT DESTINATARIOS
	FROM [SAF].[TASAS_ALERTAS_DESTINATARIOS]

END
GO
