SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Autor:		Eneas Armas
-- Creacion: 	20260423
-- Descripcion:	Actualiza el campo activo a desactivado de una alerta
-- =============================================
CREATE PROCEDURE [SAF].[SP_TASAS_ALERTAS_DESACTIVA]
	@ID uniqueidentifier
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE SAF.TASAS_ALERTAS
	SET ACTIVO = 0
	WHERE ID = @ID

END
GO
